[2018-09-17 07:58] johscheuer opened #954 "Test failure should return correct "fail" value"
I followed the steps described here: https://www.openpolicyagent.org/docs/how-do-i-test-policies.html#test-results and I wondered about the `"fail": false` actually I would expect that when a test case fails the value ist set to: `"fail": true`?

[code]

[2018-09-17 15:48] tsandall commented on #897
Yep, add the declaration to ast/builtins.go like the rest and the put the implementation inside topdown. If you'd like to upstream this that would be awesome. If you can implement it on top of the Go standard library (instead of pulling in a thirdparty library) that would be ideal.

[2018-09-17 15:58] tsandall commented on #954
Yes, this is confusing. The current implementation sets the `fail` field as follows:

- If the test rule is undefined, the field is set to `false`
- If the test rule generates a value that is not `true`, the field is set to the value

We should just set the test fail field to `true` if the test failed in all cases. I'll submit a PR today.

[2018-09-17 18:07] #954 closed

[2018-09-18 07:36] aeneasr commented on #897
stdlib over everything, I don't think supernet is supported by stdlib though, but I'll make sure to verify first!

[2018-09-18 11:30] aeneasr commented on #897
What and where should I add tests for that?

[2018-09-18 15:44] tsandall commented on #897
Take a look at topdown/aggregates_test.go for an example. You can copy that structure more or less.

[code]

This will execute the test case in a subtest. The test will invoke the the rule `p` and then assert the result is equal to the expected value.

For these, it should be enough to test the different branches. No overlap, x superset of y, y superset of x, etc.

[2018-09-18 18:14] #948 closed

[2018-09-19 08:37] aeneasr commented on #948
Nice!

[2018-09-19 08:41] aeneasr opened #960 "`ast.Copy` panics if input is a comment"
I'm not sure if this is caused by the code structure of [`opa-fuzz`](https://github.com/aeneasr/opa-fuzz/blob/master/main.go) but there seem to be several panics caused by (probably invalid) input, for example:

[code]

There is a wide variation of different inputs, but all contain a `#` somewhere and are prefixed by nothing, a space, a tab, or some other spac-y character.

[2018-09-19 09:47] aeneasr opened #961 "Show line of failure in `opa test`"
I typically define more than one definition in a test suite:

[code]

While I see the test suite that fails, I'm not able to find the exact line without manually removing lines of the tests to see if it still passes (extremely annoying & time-intensive). The `opa test` result is something like this, for example:

[code]

It would probably safe me around 10 minutes of dumb trial & error searching p

[2018-09-19 10:40] aeneasr opened #962 "REPL has issues with `\t`"
If I copy (cmd+c) the following snippet (with `\t`)

[code]

and paste it (right-click -> paste), then OPA shows:

[code]

If I copy the same snippet but replace `\t` with e.g. 4 spaces

[code]

OPA works fine:

[code]

This is happens for me on the OSX terminal as well as Windows cmd.exe

[2018-09-19 10:48] aeneasr opened #963 "`trace` does not work with `opa test`"
Given the following rego:

[code]

I would expect `opa test .` to show the trace messages which is not the case (neither in silent nor verbose):

[code]

This makes it almost impossible to debug failing tests.

[2018-09-19 10:56] aeneasr commented on #961
It's possible to see the location by using `--format=json`, so the info is there, it's just not being displayed!

[2018-09-19 11:54] aeneasr commented on #517
Yes, in fact not being able to mock data documents makes testing policies impossible (as far as I was able to track this). I'd be open to help tackle this, but it probably needs a lot of knowledge of OPA's internals.

[2018-09-19 12:05] aeneasr commented on #963
Dupe of #856

[2018-09-19 12:05] #963 closed

[2018-09-19 13:47] aeneasr opened #964 "Add regex template built-in"
I would like to propose to add another regex built-in. Here, the regular expression is delimited by two characters (eg `<` and `>` or `(` and `)`). This allows one to match strings against patterns like:

[code]

A reference implementation can be found [here](https://github.com/ory/ladon/blob/master/compiler/regex.go#L100). That is a simplification of `gorilla/mux`'s [route templates](https://gith

[2018-09-19 13:52] aeneasr opened #965 "Add glob built-in"
I would like to propose the addition of glob functionality. With that I mean the possibility of matching simple strings against patters like `foo.*`, `foo:*`, `foo:*:bar`. The current functionality `reg.globs_match` does not implement that. Happy to tackle a PR!

This type of pattern matching is usually desirable when matching URNs, particularly URLs, for example matching a particular subdomain `*

[2018-09-19 14:45] tsandall commented on #960
If the input to ParseModule does not include a package, ParseModule cannot create a well-formed module. If the input is effectively empty (e.g., only whitespace, only comments, etc.) then the return from ParseModule will be `nil, nil`. Callers can check for this and handle it accordingly (e.g., either return an error or ignore the empty file.)

[2018-09-19 14:45] #960 closed

[2018-09-19 14:50] tsandall commented on #961
Hrmmm. The location info the in the JSON output will include the line number of the test _rule_ that failed not the _expression_ in the rule that failed.

We could get the line number of the expression with tracing though. This could be done in conjunction with #856.

[2018-09-19 14:56] tsandall commented on #962
The REPL has basic tab completion support. I think the problem is the completion handler running when the user pastes text into the REPL. We should check if the line reader library (peterh/liner) has a way to deal with this. Other REPLs must have dealt with this in the past.

[2018-09-19 15:01] tsandall commented on #517
@ashutosh-narkar is working on this right now. I think there will be an initial version ready this month.

[2018-09-19 16:10] tsandall commented on #965
This has come up before -- it seems like we should add it.

If you use a thirdparty library like gobwas/glob to support this, please make sure to add a comprehensive set of docs to OPA that explain the glob syntax.

[2018-09-19 16:11] tsandall commented on #964
This seems reasonable. As far as implementation goes, it seems simple enough to copy the implementation out of ladon and into OPA (rather than vendoring it.) What do you think?

[2018-09-19 16:12] aeneasr commented on #964
Yeah, totally! I'll set up a PR today.

[2018-09-19 16:12] aeneasr commented on #964
Should this go in the `regex` "module"? So maybe `regex.match_template(template, pattern, output)`?

[2018-09-19 16:13] aeneasr commented on #965
Ok, I think `glob` looks the most promising from my research. I'll probably c&p some examples from there to the docs. Should we prefix this with `glob.`?

[2018-09-19 16:14] tsandall commented on #964
That sounds good to me.

[2018-09-19 16:16] tsandall commented on #965
That sounds good to me. We can rename the language reference section for Regex to "Regex & Glob" or something. And then include a detailed description w/ examples of the glob syntax.

[2018-09-19 16:18] tsandall commented on #965
For revendoring see: https://github.com/open-policy-agent/opa/blob/master/docs/devel/DEVELOPMENT.md#dependencies

If the `pigeon` dependency updated, make sure to regenerate the parser and commit the result.

[2018-09-20 17:05] #964 closed

[2018-09-25 22:23] salekinsirajus opened #972 "Trailing Slashes in REST API endpoints Results in 405"
### Problem
When used the OPA REST API to upload data or policies, a slash at the endpoint causes the API to reject the request and results in a 405 (Method Not Allowed) response.

I am not sure if it is the case for _every_ endpoint, but that might very well be the case.

### How to Reproduce

Contents of `data.json`:
[code]
(Optional) The above file can be validated with `./opa run data.json` to

[2018-10-01 10:13] srenatus commented on #972
@salekinsirajus Would you say that this needs a documentation improvement -- e.g. "Don't do this: ..." or "Do it this way... " -- or do the docs currently claim that `/data/` would work; or would you expect a REST API to not care for the trailing slash and propose changing the behaviour to match that expectation?

[2018-10-01 14:12] srenatus opened #976 "opa test: rewrite or warn about duplicate rules"
Given `foo.rego`,
[code]
and `foo_test.rego`,
[code]
the output of `opa test` will be
[code]
...and that somewhat makes sense, as for OPA, this is really _two_ tests, where `test_baz` has two different rule bodies, and one of them happens to be true, so we're fine.

However, I'd argue that any such test file _must have been a mistake_, and we should either **warn the user**, or **rewrite duplicate

[2018-10-01 17:47] tsandall commented on #972
405 is the wrong status code in this case.

We should review the current APIs and document the current behaviour (just in this issue would be a good start.) Then we can decide how to handle trailing slashes in a way that's consistent across all of the APIs.

[2018-10-01 17:52] tsandall commented on #976
If we want to treat this as invalid, I think the runner should just error and exit when it encounters duplicate rules. OTOH, this seems a bit harsh, so perhaps rewriting is better. It seems like a matter of taste. I'd lean towards rewriting. WDYT?

[2018-10-02 06:38] srenatus commented on #976
_+1_ rewriting. I'd be interested in contributing, too. 😃

[2018-10-02 15:45] tsandall commented on #976
Cool. I think the rewriting can be implemented [in the runner before the compile happens.](https://github.com/open-policy-agent/opa/blob/master/tester/runner.go#L135)

[2018-10-02 19:42] tsandall opened #979 "tracing: add support for using multiple tracers"
The current topdown.Query interface only allows callers to supply one tracer at a time. This is fine for simple cases but it has some limitations. For example, if a user wants to enable tracing and profiling, they can't.

We could extend topdown.Query (and rego.Rego) to support multiple tracers by maintaining a set of tracers in the implementation instead of a single one. For example:

[code]

The

[2018-10-03 08:34] srenatus commented on #856
🎉 I think is is done with #978 and #975, isn't it? 😃

[2018-10-03 14:22] tsandall commented on #856
Fixed by #975 thanks to @srenatus!

[2018-10-03 14:22] #856 closed

[2018-10-04 02:26] tsandall opened #981 "cmd/eval: add support for non-zero exit on undefined result"
Users integrating OPA into pipelines or other automation systems use the `opa eval` subcommand to execute policies. In these situations, it may be useful if the `opa eval` subcommand exited with a non-zero code to indicate an undefined result or runtime error. E.g., the subcommand could exit with:

- 0 to indicate success
- 1 to indicate undefined
- 2 to indicate errors

Example interaction:

[cod

[2018-10-05 02:19] julianrz opened #984 "Handle session data"
When multiple users are accessing OPA REST API, they can contribute conflicting data and rules. Can everything be optionally bound to session? Or provide some way to store data/rules in buckets, with lifecycle

[2018-10-05 04:34] #976 closed

[2018-10-06 21:29] repenno commented on #277
Hi,

returning the version information for a GET request to /data/system/version is straightforward even if there is nothing really inmem under data.system.  All we need is a new route.

But if we want to actually have the version under data.system, we need to insert this information when the system starts. Basically we need to create a new document during initialization. Maybe something inside op

[2018-10-07 15:09] tsandall commented on #984
@julianrz, sorry for the delayed response.

We don't have a session construct in OPA currently, however, I think you can achieve what you want using OPA's built-in authentication & authorization support. See the Security docs for details: https://www.openpolicyagent.org/docs/security.html

In a nutshell, you could configure an authorization policy that restricts identities to specific namespaces.

[2018-10-07 15:24] tsandall opened #987 "Add support for configuration discovery"
OPA currently supports a configuration file that defines the remote endpoints to download bundles from and upload status and decision logs to. In the future, OPA may gain new management functionality and the configuration would likely need to be extended. At the same time, it can be a pain to manage configuration files in a distributed environment.

To simplify deployment of OPA and enable better

[2018-10-07 20:33] repenno commented on #749
I will take a stab at this one

[2018-10-08 18:37] repenno commented on #972
This is a well-known issue with HTTP REST frameworks. Normally a redirect is sent if there is no trailing slashes to the URL with slashes (and vice-versa).  If enabled it should just work

https://godoc.org/github.com/gorilla/mux#Router.StrictSlash

BTW, some clients (such as curl?) *do not* follow redirects, POSTMAN does.

[2018-10-08 19:06] repenno commented on #547
This is useful but JSON does not allow comments or metadata. Other services like GRPC allow you to pass anything you define. I believe this goes back to the other open issue related to implementing a GRPC server

[2018-10-08 19:58] repenno commented on #987
We should probably leverage https://tools.ietf.org/html/rfc5785 for this feature. OPA tries the well-known URI for the domain it is located which would provide the configuration or the URI of where to get the configuration

[2018-10-08 19:59] repenno commented on #987
There are quite a number of services and application that use such approach

https://en.wikipedia.org/wiki/List_of_/.well-known/_services_offered_by_webservers

[2018-10-08 21:36] tsandall commented on #987
For now we will only support a simple HTTP-based discovery protocol outlined above. We can add support for additional service protocols in the future as needed.

[2018-10-08 21:42] repenno commented on #987
Are you saying you will implement RFC5785 or not? I am a bit confused. RFC5785 is very simple, a proposed standard, it is HTTP based, and quite close to what you proposed.

[2018-10-09 09:05] srenatus commented on #947
💭 I wonder if in some use cases, restricting the level of nesting could make sense. If so, we should be able to create simple rules enumerating the separate levels of nesting -- see this simplified example:

- `data.json`:
[code]
- `pol.rego`:
[code]
- `opa run auth.groups:data.json pol.rego`:
[code]

I'm not arguing that there's no use for recursion, just offering the simple way out for some use

[2018-10-09 15:38] tsandall commented on #987
OPA is going to make a `GET` request to a remote HTTP server at a path defined in the configuration (e.g., in the example above, it would be `https://example.com/control-plane-api/v1/foo/bar`. I've edited the example slightly, i.e., it was a boolean flag before, but the concept is the same).  The remote HTTP server should respond with a bundle file. OPA will extract the bundle in-memory and evalua

[2018-10-09 16:56] repenno commented on #987
If I do not configure a URL, would a OPA server go to  /.well-known/<hostname>/config so that everything works out of the box without any configuration?

[2018-10-09 21:31] jrozentur opened #993 "Inconsistent subscripting"
You have to assign an array to a variable to subscript it. Why?
[1,2,3][_]
|
1 error occurred: 1:8: rego_parse_error: no match found
	[1,2,3][_]
	       ^

Rule 't' defined in package repl. Type 'show' to see rules.

+------+
| t[_] |
+------+
| 1    |
| 2    |
| 3    |
+------+

[2018-10-09 21:37] tsandall commented on #993
That's just the way the grammar is currently defined. Only references and variables can be dereferenced. In theory we could allow any term to be dereferenced, it's just questionable how useful that would be. Does this answer your question?

[2018-10-09 21:39] jrozentur opened #994 "Comprehension of non-query result confusing"
[code]
In most languages, this would have returned [1,2,3]

Why is this different from comprehension of query results (where it works intuitively), e.g.
[code]

[2018-10-09 21:43] jrozentur commented on #993
Thanks for the answer. Well, it is common to write a multi-part expression, where intermediate result is immediately reused, without naming it, although certainly naming does not hurt, and may result in a more readable code... Please FAQ it

[2018-10-09 21:46] tsandall commented on #984
I am going to close this issue for now. If you have more questions along this topic feel free to comment and we can re-open.

[2018-10-09 21:46] #984 closed

[2018-10-09 21:51] tsandall commented on #994
`x = [1,2,3]` can be understood as "find an x that makes the statement `x = [1,2,3]` true. Comprehensions like [x | ...] can be understood as "construct an array where x is in the array IF ... is true".

OTOH, `[x | x = t[_]]` is effectively iterating over the elements in t and assigning them to x.

Hope this helps.

[2018-10-09 23:55] jrozentur opened #995 "Trouble with binary expression in doc generation"
I am trying to return a document to the rest call. The document contains results of a match array, and a binary conclusion
[code]
This is correct, but let's add a conditional:
[code]
Why is the resulting doc empty? c is a bound variable, and I should be able to use it in an expression, the problem is when the expression is binary

[2018-10-10 00:00] jrozentur commented on #994
Yes, my understanding is that when x is a collection, x[_] effectively makes an iterator of it, and comprehensions take an iterator

[2018-10-10 00:00] #994 closed

[2018-10-10 10:37] tangxusc opened #997 "how to use istio mixer OPA adapter with OPA Pull from LDAP/AD during evaluation"
I want to check user authorization with istio's mixer OPA adapter, but my user information is stored in an external system. I want to use Pull from LDAP / AD during evaluation to get data from LDAP / AD. What should I do? I see no explanation of this method in the document

[2018-10-10 11:05] srenatus commented on #517
Would this allow for referencing variables, too?

I could imagine a `policy_test.rego` like

[code]

(Note: no idea if multiple `with`s work like in the example, but that's not my point 😉)

[2018-10-10 14:04] repenno commented on #997
There is another feature related to LDAP integration.

#938
https://github.com/open-policy-agent/opa/issues/938

[2018-10-10 15:56] tsandall commented on #997
@tangxusc OPA does not (currently) have a built-in function to query a LDAP/AD during evaluation. We generally recommend that you put an authenticating proxy in front of LDAP/AD, see https://www.openpolicyagent.org/docs/best-practice-identity.html.

OPA does have an experimental built-in function `http.send` that you could use to execute an HTTP request inside the policy. Hope this helps.

[2018-10-10 15:56] #997 closed

[2018-10-10 16:44] tsandall commented on #987
I think for now we should require a path. I haven't seen this .well-known scheme used in practice. If there's some strong benefit that I'm missing here, please let me know.

[2018-10-10 16:47] tsandall commented on #993
We have a description of refs in the language guide. Feel free to post an example that you think would be useful to include in the docs.

[2018-10-10 16:47] #993 closed

[2018-10-10 16:47] #995 closed

[2018-10-10 16:49] repenno commented on #987
The wikipedia article has lots of references of big companies using this scheme together with their standard references.

[2018-10-10 17:02] tsandall commented on #517
@srenatus yep we actually added support for referring to references in 85ebd9ea12a8ae784d5f77bc984255cb49294472:

[code]

Also you can apply multiple with modifiers like you described.

[2018-10-10 17:37] ashutosh-narkar commented on #517
@srenatus Here is an example with multiple `with`s
[code]
[code]

[2018-10-11 14:40] repenno commented on #972
I guess I can fix this one

[2018-10-11 17:59] tsandall commented on #972
Stripping the trailing slash on the V1 APIs should be fine.

[2018-10-11 18:27] repenno commented on #972
okay, I will set Router.StrictSlash and see how it plays out

[2018-10-11 19:56] kichristensen commented on #749
Isn't this closed by 3e0fe4ba7bcd8b7b6dd4e89c9de565e4d4e191d1?

[2018-10-11 19:58] kichristensen commented on #277
Isn't this closed by #986?

[2018-10-11 21:01] tsandall opened #1002 "Create GoDoc example for using rego.Tracer"
We don't have an example that shows how to enable tracing--but this comes up often enough that it would be good to have something to link to. We should at least have a GoDoc example that shows how to run query evaluation with tracing enabled.

Something like: https://github.com/open-policy-agent/opa/blob/master/rego/example_test.go#L20 but with:

[code]

[2018-10-11 21:58] #531 closed

[2018-10-11 22:06] tsandall commented on #277
Fixed by #986

[2018-10-11 22:06] #277 closed

[2018-10-11 22:07] #749 closed

[2018-10-12 14:44] repenno commented on #841
GRPC supports arbitrary data through "strings" as opaque fields.  But, I wonder what is the requirement behind implementing GRPC since this would be a very large endeavor. Not only defining protobufs, GRPC infra, but we would need to write all tests, hook up to current infrastructure, etc.

Generated code and documented schema is good but this would be a rounding error as far the amount of work is

[2018-10-12 16:46] repenno commented on #547
See

#841

[2018-10-12 22:57] #747 closed

[2018-10-12 23:23] #343 closed

[2018-10-13 16:53] repenno commented on #290
I thought this would be useful and worked on a fix, but it turns out the changes needed are deeper than originally thought (although very doable).

The code today is very much hardwired to JSON everywhere. For example, although my changes allow input documents in YAML, the response comes back in JSON, which I am sure is not what a potential client would expect.

In order to send responses back in

[2018-10-13 18:41] repenno commented on #763
Let me take a stab at this one

[2018-10-15 08:05] srenatus commented on #589
@tsandall Is this still on the table? 😃 (Just curious, really, no immediate needs)

[2018-10-15 16:38] repenno opened #1010 "Create Minio Integration Guide"

[2018-10-15 19:51] tsandall opened #1012 "panic in copy propagation inside comprehensions"
Version:
[code]

Reproduction:
[code]

[2018-10-15 20:13] tsandall commented on #841
I'm hesitant to suggest that we work on this right now. The benefit of adding a gRPC API at this time is limited in my opinion. It would need to provide a measurable performance improvement to warrant the work. IMO the major benefit to this work would be a slightly cleaner server implementation (which could be embedded/reused in other projects.)

[2018-10-15 20:35] #1002 closed

[2018-10-15 22:41] #972 closed

[2018-10-15 22:44] #290 closed

[2018-10-15 22:46] tsandall commented on #763
Changes have been merged. We can target removal for the release after this one.

[2018-10-15 23:29] repenno commented on #750
Should we add a new command such as "show debug"?

[2018-10-15 23:54] tsandall commented on #750
Sure, that sounds reasonable. What I would probably do is create a settings struct that can be serialized into JSON and printed to the console. Feel free to follow that approach or not (it seems like it'll be easy to keep the settings in-sync w/ the `show debug` command that way.)

[2018-10-16 21:20] #420 closed

[2018-10-17 00:12] tsandall commented on #903
Closing this for the time being. Feel free to reopen.

[2018-10-17 00:12] #903 closed

[2018-10-17 00:14] tsandall commented on #360
The admission control tutorial shows this. We can revisit this in the future if needed.

[2018-10-17 00:14] #360 closed

[2018-10-17 16:51] tsandall commented on #547
At the 2018/10/16 OPA meeting, @repenno shared a use case from Cisco that involves compiling abstract policy definitions into Rego and other policy systems (like traditional firewalls). In that use case, the abstract policy definition contains metadata that includes information on the policy like tenancy, arbitrary key-value pairs, author, timestamps on so on. Some of this information is used as c

[2018-10-17 16:51] tsandall commented on #384
Closing this for now as we don't have plans to work on this for the time being.

[2018-10-17 16:51] #384 closed

[2018-10-17 16:52] tsandall commented on #388
Closing this for now as we don't have plans to work on this for the time being.

[2018-10-17 16:52] #388 closed

[2018-10-17 16:56] tsandall commented on #429
@timothyhinrichs do you have any other thoughts on this? I'm tempted to close for now as we this hasn't come up for quite a while and I'm not sure there is a good solution. Thoughts?

[2018-10-17 16:58] tsandall commented on #519
This issue hasn't come up in some time. I'm going to close for now. We can reopen based on demand.

[2018-10-17 16:58] #519 closed

[2018-10-17 16:59] tsandall commented on #546
This the introduction of bundles and the preference for the pull model, this is less of an issue. Closing this for now. We can revisit in the future.

[2018-10-17 16:59] #546 closed

[2018-10-17 17:01] tsandall commented on #729
Closing this for now. We can revisit based on demand.

[2018-10-17 17:01] #729 closed

[2018-10-17 17:05] tsandall commented on #823
This is no longer the case with #847

[2018-10-17 17:05] #823 closed

[2018-10-17 17:10] tsandall commented on #841
I am going to close this for the time being as it doesn't seem like a blocker for OPA adoption at this point. It's also worth noting that we have added support for plugins--so if someone wanted to write a gRPC server for OPA they could configure OPA to load the server dynamically on startup. We still need docs for that feature but the changes were in #883.

[2018-10-17 17:10] #841 closed

[2018-10-17 17:53] #517 closed

[2018-10-18 17:50] #981 closed

[2018-10-20 21:08] repenno commented on #987
We can register the OPA well-known name. We can write a small RFC and explain how to use it.

[2018-10-21 18:35] nrshrivatsan commented on #845
Jenkinsfile based pipelines to perform quality gate assertions for policies could be a game changer!

[2018-10-21 18:49] nrshrivatsan commented on #845
The deeper/inner notion really is **Permission driven & CONTINUOUSLY GOVERNED PDLC** for _Cloud native applications_

[2018-10-22 15:55] EliuX opened #1019 "Running opa using a bundle doesn't work likewise doing it with the equivalent folder"
## Problem
When I run `opa` in server mode using a system folder that looks like:
[code]
All tests run OK and the opa server understand the data namespace  (queried with a GET `http://localhost:8181/v1/data`) as

[code]

Have in count that the data.json looks like:
[code]
So this is the way I expected in my code for this to work. So far so good.

The problem comes when I compress the parent folder

[2018-10-22 16:28] EliuX commented on #845
An integration with Travis CI would be great. I imagine some easy code to add to your .travis.yml like
[code]

[2018-10-22 16:34] tsandall opened #1020 "Improve support for determining bundle activation"
Clients integrating with OPA may want to know whether OPA has activated a bundle. If the bundle has not activated, OPA will likely respond to policy queries with an undefined response.

A few options exist.

1. Clients can treat the undefined response as indicating lack of bundle activation.
1. Clients can poll `/data/system/bundle/manifest` to determine when the first bundle has activated.
1. OPA

[2018-10-22 19:07] tsandall opened #1021 "Support for temporarily transaction data before query"
# Overview

When policies are expressed over `data` instead of `input` callers may need to temporarily transact JSON data before running a query at an enforcement point. The [tsandall/dacp repo](https://github.com/tsandall/dacp) has examples of "data-based" admission control policies that require this kind of integration.

Today OPA does not expose transactions via the REST API. As a result, it's

[2018-10-22 23:14] tsandall opened #1024 "wasm: Improved support for WASM"
This is a catch-all issue for improved support for WASM. We will create separate issues as needed.

Features:

- [ ] negation (e.g., `not input.resources["foo"]`)
- [ ] pattern matching on composites (e.g., `input.path = ["posts", x]`)
- [ ] builtin-function parity
  - [ ] arithmetic
  - [ ] aggregates
  - [ ] string manipulation
  - [ ] regexp
  - [ ] types
  - [ ] encoding
  - [ ] tokens
  - [ ]

[2018-10-23 04:10] tsandall commented on #961
Here's a rough sketch of how we could implement this.

# Implementation notes

1. Add `--show-failure-line` / `-l` flag to `opa test` subcommand
1. Extend tester.Runner with setter for enabling failure line reporting (e.g., runner.EnableFailureLine(true)`
1. Extend the tester.Result struct to include a `FailedAt *ast.Expr` (omitempty) field that indicates the AST node where the test failed at
1. I

[2018-10-23 05:41] yashhere opened #1027 "Refer other Rego files from a Rego file and selective evaluation of rules based on input parameters"
Hi there, I am relatively new to OPA. I am trying to solve a problem, but I do not know if it is even possible to do such things in OPA. Let me first describe my problem:

One of my services (service A) pushes the policy data (a JSON object) and the Rego policy rules to the OPA and other service (service B) queries OPA for decisions based on these Rego policies. Now, service A can push multiple JS

[2018-10-23 15:04] tsandall commented on #1027
@yashhere thanks for posting this great writeup.

Regarding the first question, the answer is _yes_ but it'll depend on how the data is structured. Here's a rough example that may (or may not) match your use case.

Suppose service B queries for `/data/example/foo`.

You can write a Rego module that defines the value of `/data/example/foo`:

[code]

Suppose service A inserts Rego modules with packa

[2018-10-23 15:13] EliuX commented on #1019
Sure, from the directory it works perfect, but I really need this to work on a bundle. Thanks @tsandall.

[2018-10-23 15:41] EliuX commented on #1019
When I running from a the bundle everything is contained in the parent folder (`root`). In the other hand if I run it from the folder then the `data.json` is contained outside of parent. Something like:
{
[code]

Which is not the way it shows to you, which is weird: In your case running opa on the folder takes `dm` outside `root` but contains `organizations` and `employees`.
I am using this versio

[2018-10-23 15:58] tsandall commented on #1019
@EliuX can you include the output of something like `tree` or recursive `ls` so that I can see how the files are laid out on disk? If you can include the output of `tar tzvf` on the bundle as well that would be helpful.

[2018-10-23 18:59] EliuX commented on #1019
It would be something like:

[2018-10-23 20:23] EliuX opened #1029 "Add threshold to coverage"
## Feature
Make coverage fail if the percentage of code covered by the tests is  below an specified value, on which case it might return:
1. Exit code = `1`
1. Exit code = % of non covered lines

E.g.
[code]
It would fail (exit value > 0) if the policies (rego files) are covered less than the 80% of lines. If for instance it had a 75% of coverage it might fail with an exit code `1` or an exit code

[2018-10-23 23:17] tsandall commented on #1021
Closing this for now. The recommended approach will be to use the `with` keyword. We have introduced a POST v1/query endpoint so handle cases where inputs exceed URL size limits.

[2018-10-23 23:17] #1021 closed

[2018-10-24 08:14] yashhere commented on #1027
Thanks for answering this, @tsandall. I'll try the solutions and tell you my findings. For now, this thread can be closed. I'll open it again, if I require any other help.

[2018-10-24 09:08] srenatus opened #1032 "opa fmt vs git -- trailing newline issue"
When committing `opa fmt`'ed files to git, it'll complain about the trailing newline:

<img width="200" alt="screen shot 2018-10-24 at 11 07 07" src="https://user-images.githubusercontent.com/870638/47419657-f61fdd00-d77c-11e8-97ce-51285054c91f.png">

It's by no means a big deal, just a minor annoyance. Anyhow, I think it would be preferable if it wasn't so. 😃 What do you think?

[2018-10-24 14:18] tsandall commented on #1032
I agree this is annoying. What's the desired behaviour we want? `opa fmt` should only add a newline at the end of the file if one is not present?

[2018-10-24 14:53] srenatus commented on #1032
Yeah, I suppose that would be it! 👍

[2018-10-24 14:59] #1019 closed

[2018-10-24 17:30] ekarlso opened #1033 "Add query metrics to decision logs"
It would be a nice addition to get the query logs that you can get via the http query in the decision logs instead or in addition.

[2018-10-25 01:40] tsandall opened #1035 "Helm chart to deploy OPA"
Some users have asked whether we have a Helm chart for OPA. As far as I know, today the answer is no. It would be useful to create a Helm chart that (minimally) could be used for the admission control use case on top of Kubernetes. I haven't worked with Helm before, so I don't know if there are gotchas.

- Should the helm chart require a cert (which is required in the admission control use case)?

[2018-10-25 04:46] tsandall commented on #1033
OPA automatically records parse, compile, and evaluation latency for all decisions and the decision log events internal to the server currently have the metrics object on them--however, we don't copy the metrics onto the event struct that's eventually serialized and uploaded.

We need to update the plugins/logs/plugin.go#EventV1 struct to include a `Metrics` field of type `map[string]interface{}`

[2018-10-25 04:49] #1012 closed

[2018-10-25 04:51] #1032 closed

[2018-10-25 04:53] #684 closed

[2018-10-25 06:02] nrshrivatsan commented on #1035
For the Policy Store, given OPA has support for S3, I propose using [minio.io](https://hub.kubeapps.com/charts/stable/minio) for a Cloud-Native helm.sh for OPA!

[2018-10-25 06:50] srenatus commented on #1032
@kichristensen thank you! 🎈

[2018-10-25 11:18] srenatus commented on #1035
It might be a bit of a digression, but I'd be happy to contribute a Habitat plan for OPA. From that, we could, among other things, [export a helm chart](https://www.habitat.sh/blog/2018/02/Habitat-Helm/). (_"Habi-what?"_ 👉 https://habitat.sh)

[2018-10-25 15:39] tsandall commented on #1035
@srenatus having a Habitat plan for OPA would be cool. I'm not familiar with Habitat so I don't know what the Helm output would look like. I'd like the Helm chart to be as clear/idiomatic as possible--I think we should start with writing one from scratch, but we can always revisit that in the future.

[2018-10-25 18:20] reptillicus commented on #1010
I just want to say that I am really jazzed about this and you guys rock for all the effort into this!

[2018-10-25 18:33] tsandall opened #1039 "Document debugging tips for Kubernetes admission control use case"
Today we don't document how to debug the Kubernetes admission control use case. If the policy is not being enforced as expected, users are often stuck and have to ask on Slack. A few things we can document to help out.

1. Check the policy status on the configmap. The status should be "ok". If it's not set, or it's set to an error, something is wrong during policy loading. Look at the kube-mgmt lo

[2018-10-25 22:14] aeneasr commented on #965
Ok so coming back to this, I think we'd add these functions:

* `glob.match(pattern, delimiter, match, output)`: Where `output` is `true` if `match` (`api.github.com`) matches `pattern` (`*.github.com`) with set `delimiter` (`.`) and `false` otherwise.
* `globa.quote_meta(pattern, output)` returns an escaped version of pattern, so something along the lines of `glob.quote_meta("*.github.com", outpu

[2018-10-26 06:58] srenatus opened #1040 "Add authentication based on mutual TLS"
Currently, there's [two options](https://github.com/open-policy-agent/opa/blob/09f226ef2dfadf67e79e9417114c0e1c0bc5db0e/server/server.go#L49-L53) for authenticating clients (of OPA used as standalone service):

- don't care
- use JWT token

I propose adding a third one: **using mutual TLS for authenticating clients**.

When this is configured, and a client connects,

1. the service won't accept th

[2018-10-27 01:53] repenno commented on #750
{
	"Trace": false,
	"Metrics": false,
	"Instrument": false
}

[2018-10-28 17:48] tsandall commented on #750
Cool. We typically add struct field tags and make the fields follow `snake_case`. E.g., the output should be:

[code]

[2018-10-28 18:50] repenno commented on #750
sure, will do.

[2018-10-28 19:28] repenno commented on #750
[code]

[2018-10-29 03:51] repenno commented on #426
Tested and this behavior is still there.

[2018-10-29 06:53] repenno opened #1044 "Profiler example documentation does not work"
If someone follows the current documentation (s)he would not be able to run through the example successfully

[2018-10-29 07:00] repenno commented on #961
I will take a stab at this one

[2018-10-29 07:01] repenno commented on #838
I will take a stab at this one

[2018-10-29 16:28] tsandall commented on #426
This issue has not been fixed, so I'd expect it to still be around. I have not debugged it myself so I'm not sure what the best fix is. The problem likely resides in the parser code (which is fairly self-contained.) @repenno if you could take a stab at it, that would be much appreciated.

[2018-10-29 16:37] #965 closed

[2018-10-29 17:06] #1044 closed

[2018-10-29 17:07] #750 closed

[2018-10-30 06:43] srenatus commented on #1035
🎉 [`core/opa`](https://bldr.habitat.sh/#/pkgs/core/opa/latest)

I certainly agree with being as idiomatic as possible with the helm chart. So, this just adds another deployment option, and it happens to fill a need I had 😄

[2018-10-30 07:00] yashhere commented on #1027
Hi, many thanks for your help. The solution that you suggested is assuming that all the attributes in input must match with all attributes in rules, and you match `result` key manually. That gives me another doubt. What will happen when we have not provided some attribute in the `input.json`? For example, let's assume that the input document is as following:
[code]

So according to your solution,

[2018-10-30 14:34] tsandall commented on #1035
@srenatus cool! do you mind if I put a link to the habitat plan in the contrib repo README?

[2018-10-30 15:02] tsandall commented on #1027
@yashhere if you want to extend the rule matching with other cases that _should_ match (e.g., case-1 OR case-2 OR case-3 OR ...) yon can rewrite the beginning as...

[code]

where `rule_matches` can be implemented as:

[code]

(Or any other number of special cases.)

I'm not sure that I understand the model you described above. I think it would be a bit easier if you clearly defined the semantics

[2018-10-31 01:28] tsandall commented on #938
Here's a rough sketch for the query function:

`ldap.query(connection_params, query_params, output)`

Where:

- `connection_params` is an object containing the required connection params, e.g., url, username, password, or whatever is most idiomatic from the perspective of LDAP clients.
- `query_params` is an object containing the required query params, e.g., base DN, scope, filters, etc.
- `output

[2018-10-31 09:12] srenatus commented on #1035
@tsandall not at all! thank you 😃

[2018-10-31 17:10] tsandall commented on #1035
Ref: https://github.com/helm/charts/pull/8915

[2018-10-31 17:39] tsandall commented on #838
Yes, they're mutually exclusive currently. We need to add support for multiple tracers.

[2018-10-31 17:41] tsandall commented on #840
Duplicated #979

[2018-10-31 17:41] #840 closed

[2018-10-31 19:32] repenno commented on #838
This is turning out to be much more complicated than I originally thought...

In eval.Body I have to do something like this:

[code]

because later we call

[code]

and when it is time to present actual tracing (not profile) we call

[code]

which expects []*topdown.Event and not BufferTracer.

I am letting you know so you can comment before I go to far. Otherwise I am chipping at it little by lit

[2018-10-31 22:43] tsandall commented on #838
Here's roughly how I'd approach this.

- Update REPL with cmdProfile function that toggles a flag on the REPL struct to indicate that profiling should/should not be performed. Clear the tracing flag to deal with mutually exclusive behaviour for now.

- evalBody should be extended to instantiate the profiler and output the results if the flag is on. Something like this might work...

[code]

Hope t

[2018-10-31 22:49] repenno commented on #838
yep, that is what I did, I am trying to hook the results back to the REPL

[2018-10-31 22:49] tsandall commented on #838
If you set the profiler result on the output struct, the presentation package will handle it for you.

[2018-10-31 23:02] repenno commented on #838
Yes, I did like this:

[code]

The issue is that I had to choose defaults for the report function.

[2018-10-31 23:32] ashutosh-narkar commented on #838
In the `opa eval` command when we don't pass a sort order on the command line, the `cmd` package calls `profiler.ReportTopNResults` with a default sort order which is   `"total_time_ns", "num_eval", "num_redo", "file", "line"` ie `var defaultSortOrder = []string{"total_time_ns", "num_eval", "num_redo", "file", "line"}` . If you don't provide the sort order to `profiler.ReportTopNResults`, the resu

[2018-10-31 23:46] repenno commented on #838
okay, will use that. Good suggestion

[2018-11-01 17:32] tsandall opened #1052 "Deprecate diagnostics feature"
OPA has a feature called diagnostics that allow you to configure it (via command line) such that it will record decisions it's making in-memory and serve them at /system/diagnostics.

This feature was added long ago and I suspect that it's essentially unused. Given that it overlaps heavily with the decision logging feature, I'd like to remove it.

[2018-11-01 22:03] repenno commented on #838
[code]

[2018-11-01 22:42] gtaylor commented on #1035
I haven't forgotten about this, btw. Will try to get a first pass done on the Chart PR tonight or tomorrow.

[2018-11-02 02:39] repenno commented on #838
I have hit a snag that I do not know how to solve it since it might be inside the bowels of rego. I am using the same exact example from https://www.openpolicyagent.org/docs/how-do-i-test-policies.html#profiling

The issue is that I never get the second part, i.e., the metric-value table

[code]

My result is as follows:

[code]

Here is the patch

https://gist.github.com/repenno/3e68c166f72c44ab6

[2018-11-02 07:51] repenno commented on #838
Scratch that, I figured it out. eval --profile is turning on metrics under the covers.

[2018-11-02 19:55] rahanar commented on #1052
hey @tsandall,

I understand the reasoning behind deprecating the diagnostics feature however, the decision logging requires (based on documentation) a remote server in order to make use of it. I am new to the project and I am trying to write some basic rules for kubernetes admission controller in order to get familiar with the project and I would like to avoid dealing with setting up a remote ser

[2018-11-02 20:51] tsandall commented on #1052
@rahanar a stdout (or logrus) based decision logger could be useful.

We currently have HTTP server logs in OPA that emit the HTTP method, path, and body at debug level. I think a lot of folks have been using those to debug policy decisions, but the experience is not great (e.g., the messages are emitted on a single line, JSON values have to be encoded which makes the output quite noisy, there are

[2018-11-02 21:00] rahanar commented on #1052
I can relate with the experience you have described so far - debug logs while are useful, but are are very noisy. It is not easy to create policies (at least at the beginning) for kubernetes admission controller and it is a fair bit harder to debug them.

I think stdout/logrus based decision logger should be available at least for debugging purposes - it would make onboarding to the project a lot

[2018-11-02 22:47] tsandall commented on #1035
@gtaylor sounds good. Just FYI, I've updated the chart PR so that by default it'll pull down a policy from openpolicyagent.org that you can kick the tires with.

[2018-11-04 05:50] EliuX commented on #1019
Sorry for the late response @tsandall. Well the content of the bundle is pretty much the content of the folder, except for the test rego files. For that folder I run `opa run root` and it works the way I expected: the data is in the global scope of `data`, not under `root`. This is pretty much the sample scenario I explained at the beginning of the issue, except that I changed the name `parent` fo

[2018-11-05 14:02] tsandall commented on #1029
Closed by #1042

[2018-11-05 14:02] #1029 closed

[2018-11-05 23:09] tsandall commented on #547
We're not planning to work on this in the short/medium term so I'm going to close this.

[2018-11-05 23:09] #547 closed

[2018-11-06 01:56] tsandall opened #1055 "Delta Bundles"
The bundle protocol is designed around polling and snapshots. As a result, bundles are not well-suited for cases that require fast propagation of policy and data changes and/or small changes to large snapshots.

To address these issues we could extend OPA and the bundle protocol to support:

1. Long-lived HTTP connections that serve bundles and bundle deltas.
2. Delta-based bundles that contain pa

[2018-11-06 16:33] #838 closed

[2018-11-06 23:26] dblackhall-tyro opened #1056 "opa cli does not run in Docker alpine container"
I am trying to run `opa` from within an alpine docker container but am experiencing problems. I have included a very basic alpine container and script that reproduces the issue:

Dockerfile
[code]

opa-test.sh
[code]

[2018-11-06 23:49] migueleliasweb commented on #1056
_Quick context: I'm working with Daniel on this._

Just expanding a little bit the description for this issue.

If we just run `opa` inside the container, we receive a message regarding a missing `$SHELL`.
[code]

Even if we install `bash`with `apk --update add bash`:
[code]

Our best guess is that this might be related to specific bash references/functions used by the executable. Since alpine doe

[2018-11-07 00:06] tsandall commented on #1056
I think the issue stems from the fact that OPA is built with CGO enabled so that we can dynamically load plugin libraries (e.g., to implement custom built-in functions.)

If you need to run an alpine image, you could re-build OPA with `CGO_ENABLED=0 make build`. This'll produce a binary that doesn't link to libc and should run inside an alpine container.

As a side note, we already publish lightwe

[2018-11-07 02:14] dblackhall-tyro commented on #1056
Thank you for the prompt response! As suggested, I solved this by building the opa project in an intermediate `golang:1.11-alpine` container which produced a working OPA cli.
Thanks again for your help, I am really excited about this project.

[2018-11-07 02:14] #1056 closed

[2018-11-07 16:36] repenno commented on #961
I have this working but writing a unit test for this feature is a bit tricky

In tester/runner_test.go	(date 1541440882000)

I created a new test where I have to set both tracing and EnableFailureLine() to true. The reason being I need tracing to figure out the line that fails and at the same time if only tracing is enabled, I should not present the line.

Moreover, Run() is called from both the C

[2018-11-07 22:55] tsandall opened #1057 "Improve handling of base document dereference with composite value"
If you try to refer to a base document with a composite key value, the storage function will return an error that halts evaluation. For example, if data is empty then `data.foo.bar` will return undefined, but `data.foo[["bar"]]` will return an error.

OPA should not return an error in this case, the result should just be undefined.

We can fix this issue by updating the evaluator to check the ref

[2018-11-08 01:41] hunli opened #1058 "Slow response duration when using curl to push a large amount of rego files to the opa server"
I'm currently using the docker-compose file found at `https://www.openpolicyagent.org/docs/http-api-authorization.html`.

When trying to put a thousand rego files onto the OPA server with a curl command, the response duration increases to 30 seconds by the seven hundredth file. Is there some configuration I have to do to keep the response duration low?

The use case would be if I wanted to give a

[2018-11-08 05:42] hunli commented on #1058
Each file has ten rules. All the rules are currently duplicates of one another. The below is pretty much what each rule looks like.

[code]

[2018-11-08 05:44] tsandall commented on #1058
Can you provide more details about the kinds of policies you intend to be loaded into OPA?

[2018-11-08 05:52] tsandall opened #1059 "Add instrumentation to compiler stages"
We should instrument the compiler to support metric collection on the various compiler stages. Currently we only track the overall compile time when loading modules. In some cases, when compile time is the bottleneck, it would be useful to know how much time is spent in each stage.

Rough sketch of how we might implement this:

1. Extend compiler with `WithMetrics(m metrics.Metrics)` function that

[2018-11-08 07:20] hunli commented on #1058
The policies will consist of rules that defines what resources a user has access to. The resources may vary across the rules in a policy, and will definitely vary across different policies for different users. Since the user will be able to customize the rules, the policy will be refreshed every so often and resent to the OPA server.

[2018-11-08 18:06] tsandall commented on #1058
If you really need to load thousands of raw policy files into OPA, the compile-time will be high for now. One thing to keep in mind is that the compile operation happens offline with respect to policy evaluation--so your services that are asking for OPA decisions shouldn't be impacted by the high compile-time.

[2018-11-08 18:17] tsandall commented on #1055
Another benefit to the patch approach is that it would allow us to have data loaded into OPA from different sources (e.g., kube-mgmt). It would take a bit more work to allow patching of policies but that's also possible.

[2018-11-08 18:34] tsandall commented on #961
@repenno I think that the runner can just instantiate it's own buffer tracer when line failures are enabled. Per my comment above, line failures (`-l`) and tracing (`-v)` will be mutually exclusive UNTIL we add support for multiple tracers.

[2018-11-08 18:44] marco-styra opened #1060 "opo fmt incorrectly formats commented code"
First issue: commented line is not ignored, rendering the code unparsable
[code]

Second issue: one of the brackets of the reformatted `]]`, is moved to a commented line, rendering the code unparsable
[code]

[2018-11-08 23:05] pwmorreale opened #1061 "Document decision id in response output"
When decision logs are enabled, the decision id associated with the request is generated and included in the results json output.  This needs to be documented as such.

[2018-11-08 23:57] pwmorreale opened #1062 "Commandline bundles omit 'revision' in decision logs."
If you add a policy bundle, with a .manifest defined, on the command line, the decision logs will not contain the contents of the .manifest 'revision' field.

[2018-11-09 16:12] tsandall commented on #1062
When bundles are loaded from the command line the `/system/bundle/manifest` document is not being written into the in-memory store. For bundle downloads, this behaviour is implemented inside the bundle plugin. One way to resolve this would be add an optional flag on the bundle reader that would cause it to insert the bundle metadata into the `bundle.Bundle#Data` field. When bundles are instantiate

[2018-11-09 23:07] #1061 closed

[2018-11-14 11:53] yashhere opened #1066 "How to access input document sent to one endpoint in some other endpoints"
Hi there,
I will be referring to issue #1027 in this question. Creating a new issue to keep things clean and separate.

I have two Rego modules(for services X and Y) at `example.endpoints.<endpoint_id>`  and their corresponding JSON data at `example/endpoint_context/<endpoint_id>` where `endpoint_id` is a random string. (see [this](https://github.com/open-policy-agent/opa/issues/1027#issuecomment-

[2018-11-14 22:49] gnealhou opened #1067 "Need https.send built-in supporting TLS secured connections"
# Expected Behavior

Open to suggestions, but some goals to keep in mind:
- Goal is to get data from (typically large) remote services that require TLS security.
- For security reasons, we probably don't want to store certificates and certificate keys as policy objects
- For performance reasons, we probably don't want to read certificate/keys from file every time we call https.send built-in

### S

[2018-11-15 05:11] yashhere commented on #1066
Also, I pushed policy module(which contains references to `input` document) and the corresponding JSON data to OPA. So the policy is evaluated and the result is `NULL`, as OPA could not find the `input` document. Now when I query the endpoint using a POST request with `input` document in the request body, will OPA reevaluate the policy and serve me the results? My findings say opposite. The same s

[2018-11-16 03:08] tim-styra commented on #1066
Query OPA with the `data` URL and provide input as a parameter.  For example...

Create a file **test.rego** policy that allows alice/GET.
[code]

Run OPA in server mode, loading the test policy.
[code]

In a different terminal, ask for the `foo/allow` result with input alice/GET.
[code]

If you don't supply input, OPA returns the empty result because allow is not defined.
[code]

[2018-11-16 10:03] srenatus opened #1069 "partial eval: Add support for with keyword"
Combining `unknown` and `with` yields odd results: it always returns queries, which are a little odd themselves:

## Expected Behavior

(This is a made-up interaction)
[code]
I'm not 100% certain about the second case there, but the first one, I think, should definitely return `"y"`.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. start opa run
2. feed it that input

[2018-11-16 11:21] wmuizelaar opened #1070 "Feature request: add opa to homebrew"
Hi,

For easy installation and updates on MacOS I would like to have opa added to the https://brew.sh/ homebrew package management.

Is this something that is considered/desired? If so, I'm willing to create a PR for the homebrew-folks to add OPA.

Regards,
Wietse

[2018-11-16 18:56] tsandall commented on #1067
I think we can satisfy the requirements without introducing new built-in functions.

We can extend the `http.send` built-in to provide TLS certificates as input. Something like...

[code]

The `http.send` implementation can lazily update the certificate pool as necessary. Similarly, we could support a `cert_file` parameter in the input to `http.send` that lazily loads certs from disk.

WDYT?

[2018-11-16 19:18] #1027 closed

[2018-11-16 19:22] amesas commented on #535
Any news on this? Still planned?

[2018-11-16 19:23] tsandall commented on #535
@amesas we've done a bunch of work in this area. See this blog post https://blog.openpolicyagent.org/write-policy-in-opa-enforce-policy-in-sql-d9d24db93bf4

There are links to example code in the contrib repository that show it in action.

[2018-11-16 19:57] tsandall commented on #1070
@wmuizelaar that would be great! I don't personally have experience with contributing to homebrew. If you can make that happen, please go for it.

[2018-11-16 21:11] repenno commented on #1070
+1 That would be very userful

[2018-11-17 05:10] tim-styra opened #1074 "Partial Evaluation bug on partial sets"
# Expected Behavior
Consider the following policy.
[code]
The expected behavior is for partial-eval to return the following query when `data.unknown` is unknown and `input = {"id": 173}`:
[code]

# Actual Behavior
In actuality, partial-eval fails.

[code]

The failure happens on the line `x.id = input.id`, i.e. after the helper p has been evaluated.  So if we remove that line, we see the query it

[2018-11-17 09:13] srenatus commented on #1069
@tsandall I've just stumbled upon this playing with partial eval on the CLI. Found an easy workaround for my purposes, adding
[code]
and providing an example input via `opa run input:examples/input.json`. So, this is not a serious roadblock.

[2018-11-19 22:53] #1060 closed

[2018-11-20 00:56] #1074 closed

[2018-11-20 12:35] wmuizelaar commented on #1070
Created https://github.com/Homebrew/homebrew-core/pull/34312 for that

[2018-11-20 17:21] jrnt30 commented on #416
Was this closed for a specific reason? As a *very* new entrant to the OPA ecosystem this was my first "this would be handy" thought too.

I think the OP is not asking for "Sentinel Compliance" but rather an easy way of augmenting a deployment to include support (probably very similar to the docker and istio plugins) to front/interact with the other Hashicorp products.

I may be wrong there and I a

[2018-11-20 17:36] tsandall commented on #416
@jrnt30, I agree that more integration with HashiCorp projects would be nice. We currently have a [tutorial](https://www.openpolicyagent.org/docs/terraform.html) that shows how you can use OPA to enforce policies over Terraform updates. If you're using Terraform, check that out.

I closed this issue because it wasn't clear what features were required in OPA. If there are specific features you thin

[2018-11-20 22:49] jrnt30 commented on #416
That is extremely clear, understandable and helpful, thank you. As I play with this a bit more I will create issues around explicit feature request if they seem fit.

As an aside, really enjoyed listening to the [Software Engineering Daily](https://softwareengineeringdaily.com/2018/11/12/open-policy-agent-with-torin-sandall/) episode where you explained the intent of the project so well. Thanks!

[2018-11-21 02:11] tsandall commented on #1070
Excellent! What's the process like for updating the formula when new release of OPA are available?

[2018-11-21 08:12] wmuizelaar commented on #1070
It should be as simple as https://github.com/Homebrew/homebrew-core/blob/master/CONTRIBUTING.md#submit-a-version-upgrade-for-the-foo-formula - so I think there's a good possibility to get this automated. But it's my first homebrew contribution as well, so maybe just learn how the process works during the next OPA release, and then afterwards see how things can get automated?

[2018-11-21 22:19] repenno commented on #1067
Extending http.send would be more straightforward. And with the new runtime command we could get keys from environment variables.

[2018-11-22 20:47] tsandall commented on #1070
@wmuizelaar that sounds like the right approach. We'll be cutting the 0.11 release in the next two weeks so we experiment with the homebrew process at that point.

[2018-11-23 18:24] tsandall opened #1081 "Query API should return HTTP 400 if query does not parse"
# Expected Behavior

Query API should return HTTP 400 when the input query does not parse.

# Actual Behavior

Query API returns HTTP 500 in this case.

# Steps to Reproduce the Problem

  1. Start OPA in server mode
  2. Execute a malformed query, e.g., `curl localhost:8181/v1/query?q=^ -i`

# Additional Info

- Compile errors are handled correctly.
- This applies to both GET and POST methods.

[2018-11-23 18:28] tsandall opened #1082 "Update REST API specification with POST endpoint on Query API"
The REST API documentation doesn't include a section on the new POST endpoint for the query API. We should extend the existing "Execute an Ad-hoc Query" section with the POST endpoint and recommend that people use this if they have large JSON values included in the query.

/cc @rite2nikhil

[2018-11-23 19:10] tsandall opened #1083 "Panic in evaluator when with modifier applied to data document"
# Actual Behavior

If the with modifier is applied to the data document (and not the input document) and a rule that refers to the input document is encountered during evaluation, the evaluator panics during resolve operations on the rule that refers to input. This is occurring because the evaluator's input term is being set incorrectly when the with modifier is handled.

# Steps to Reproduce the

[2018-11-23 20:45] #1083 closed

[2018-11-24 16:55] rite2nikhil commented on #1082
Can you point me to docs where I can update. Are there are swagger specs too ? Thanks.

[2018-11-24 18:14] tsandall commented on #1082
Thanks @rite2nikhil! You can find the REST API documentation in docs/book/rest-api.md. There are is no Swagger spec to update.

[2018-11-26 16:14] tsandall opened #1085 "Build IDE integration for IntelliJ"
It would be nice to have an IntelliJ plugin that adds OPA syntax highlighting, syntax checking, testing, tracing, and evaluation features like we have for [VS Code](https://github.com/tsandall/vscode-opa).

I haven't looked into the development effort required for creating IntelliJ plugins. Over time it would be great to have feature parity with the VS Code plugin.

[2018-11-26 16:22] tsandall opened #1086 "Add /health endpoint to OPA HTTP server"
# Overview

The current OPA HTTP server does not expose a dedicated health check endpoint. As a result, when deploying OPA on top of Kubernetes, users often end up configuring the health check to simply `GET /`. It would be better if the health check was more representative. Also, it would reduce the likely hood that people add a check like `GET /v1/data` which is very expensive.

We should add a

[2018-11-26 16:31] tsandall opened #1087 "Improve support for file loading in large workspaces"
It should be possible to easily run tools like `opa run` or `opa eval` or `opa test` in workspaces that contain many files, e.g., mono repos. Currently tools like `opa run` load _all_ JSON and .rego files out of the provided directories, recursively. In large workspaces like mono repos this can be quite expensive.

One option would be introduce support for an `.opaignore` file that users could con

[2018-11-26 19:04] #1062 closed

[2018-11-26 23:41] pwmorreale opened #1089 "Add OPA version to decision logs."
Enhancement request:

Add the OPA semver version string to the datum in a decision log.

From a record-keeping standpoint,  its very useful to tie both the configuration (revision id) and the particular version of OPA used together.

Currently the data  in OPA decision logs does not include the OPA semver version.

[2018-11-27 14:50] tsandall commented on #1089
This seems like a useful feature. The version information is compiled into the OPA binary (see the `version` package). We can extend OPA to include this field in the decision log events.

[2018-11-27 23:43] tsandall opened #1090 "Improve Rego syntax highlighting in the docs"
# Expected Behavior

When I look at the docs, I should see nice colors (maybe this is optional, but it should at least be possible.) It should be possible to write a syntax highlighter for whatever plugin we're using to render Rego in the documentation.

Ideally the Rego snippets would be run through the `format` package. One option would be to add an HTML mode to the format package that emits the

[2018-11-28 12:31] wmuizelaar commented on #1070
@tsandall I got requested to add a (very simple) functionality test to the application. What would be a good oneliner for that?

[2018-11-28 16:00] tsandall commented on #1070
How about something like...

[code]

This will output:

[code]

Alternatively, we could do something with JSON...

[code]

[2018-11-29 02:01] tsandall opened #1091 "Improve tutorial documentation with a platform like Katacoda"
Today we have a set of tutorials for trying out OPA with different projects like Docker, Kubernetes, etc. The tutorials often require you to have a running version of these projects somewhere (locally, test deployment, etc.) It would be interesting to see if we could leverage an external service like Katacoda to give newcomers an easy way to get started experimenting with OPA.

https://www.katacod

[2018-11-29 10:36] ankicracker opened #1092 "Deploying a smaller version of OPA"
Hi, I am using OPA for a very simple use case. Now I want to deploy my solution using OPA. But OPA docker image is ~35MB in size. Is it possible to reduce the size of this image by removing unnecessary components? I want to keep the option of getting future OPA updates as well. So manually compiling probably is out of question. Also I read about OPA go-library. Is it possible to use OPA in server

[2018-11-29 14:42] srenatus commented on #1092
(ℹ️ Just another user, not talking for the project in any way)

I'm wondering that 35M strikes you as _much_ these days 😄

What would you propose to shrink it? Since #825, the docker images are built using the distroless/base image already.

I believe #1018 was meant to make that possible.

[2018-11-29 15:18] ankicracker commented on #1092
@srenatus I understand that 35MB is not much of a problem nowadays, but I have a lot of data, which OPA will have to process. I was just wondering if it will make any difference if I remove any unused components from the base binary.

[2018-11-29 15:20] srenatus commented on #1092
Hmm I'd be surprised. There's very little cruft in OPA -- did you have something specific in mind?

[2018-11-29 15:47] srenatus commented on #1090
Using [SublimeSyntaxConvertor](https://github.com/aziz/SublimeSyntaxConvertor) on your [`tmLanguage` file](https://github.com/tsandall/vscode-opa/blob/master/syntaxes/Rego.tmLanguage) (after adding file extension `rego` to `Rego`), makes for something that's accepted by [`syncat`](https://github.com/trishume/syntect/blob/master/examples/syncat.rs) or [`bat`](https://github.com/sharkdp/bat) (both b

[2018-11-29 16:30] tsandall commented on #1092
@ankicracker like @srenatus said, OPA is fairly lightweight. There are very few dependencies. It's unlikely that removing any of the OPA components will have an impact on OPA's ability to handle the data sets you want to throw at it. If you're interested in embedding OPA as a library, take a look at https://github.com/open-policy-agent/example-api-authz-go. Closing this for now as I don't think th

[2018-11-29 16:30] #1092 closed

[2018-11-29 16:33] tsandall commented on #1066
Closing this issue for now.

[2018-11-29 16:33] #1066 closed

[2018-11-29 18:38] wmuizelaar commented on #1070
It's available!

[2018-11-29 19:42] tsandall commented on #1070
Those fields are currently set inside the Makefile. If you're downloading the source tarball that might not work. What about having the homebrew installer download the macOS binary from the releases page? Every release contains a pre-built binary for Darwin. WDYT?

[2018-11-29 19:51] wmuizelaar commented on #1070
Well, homebrew likes to build themselves, to be able to differentiate between different macos-versions. If that's really relevant for a go-binary...  :)
But I found a solutions - don't download the source, but do a git clone of the version-tag, so I can fill those values as well.

[2018-11-29 20:11] wmuizelaar commented on #1070
https://github.com/Homebrew/homebrew-core/pull/34603 created for that.

[2018-11-29 20:41] tsandall commented on #1070
Awesome! I'll close this ticket now that we have it working.

[2018-11-29 20:41] #1070 closed

[2018-11-30 18:21] michalkosmowski commented on #1086
Hey 👋  I've just deployed OPA on top of Kubernetes so just to add to the list:

6. Update default readiness & readiness probes in the helm chart https://github.com/helm/charts/pull/8915

[2018-11-30 23:57] tsandall opened #1093 "Hosting azure/kubernetes-policy-controller under the OPA organization"
The recent [Azure/kubernetes-policy-controller](https://github.com/azure/kubernetes-policy-controller) project was started to improve the state of policy control in Kubernetes. The project uses OPA as the underlying policy language and engine that evaluates Kubernetes objects to detect violations, enforce invariants, and generate audit reports. After the project was announced the community express

[2018-12-01 00:06] rite2nikhil commented on #1093
@tsandall yes I would do that

adding @marccampbel who was also interested in this project

[2018-12-02 13:22] yashhere opened #1094 "Can I use multiple data files of same format and one Rego policy file to evaluate all these files?"
Hi, I have multiple data.json files pushed to different endpoints which have following format:
[code]
(The data in each of the files is different, but the schema is same)

And let's say, I have a policy module (pushed to  which looks like this:
[code]

I am not adding `input.json` here to keep things simple.

This particular example gives me output when I run it in VSCode plugin. Now I am trying t

[2018-12-02 16:40] tsandall commented on #1090
Nice find! The syntect project looks promising. It says it supports the main thing we'd need:

[code]

[2018-12-03 11:16] srenatus commented on #1090
This was entirely my fault -- I had assumed it would accept the same arguments that `syncat` accepts. However, it doesn't. With some small alterations, https://github.com/trishume/syntect/compare/master...srenatus:sr/synhtml/allow-for-extra-syntax, it's possible to use it with your tmLanguage (converted with the tool described above)... see this [gist](https://gist.github.com/srenatus/0b8a6f07fbd3

[2018-12-04 06:05] yashhere commented on #1094
**Solution** - The policy module should look like this:
[code]

I have not tested this particular example. But my use-case is almost similar and its working as expected.

[2018-12-04 06:05] #1094 closed

[2018-12-04 10:49] ankicracker opened #1097 "How to use OPA go service"
Hi, I tried the library as suggested by you in #1092. Now I have few doubts:
1. How is the Rest API exposed so they the user can `curl` and get the results?
2. How will I feed the `data.json` files and the policy modules to the OPA? Is it through the configuration file? I could not understand.
3. The [API](https://github.com/open-policy-agent/example-api-authz-go/blob/master/internal/api) folder h

[2018-12-04 15:36] tsandall commented on #1067
Cool! I'm going to mark this issue as "help wanted" since I think the work to implement it is fairly localized. We can certainly work on this in the next month or two if no one picks it up.

[2018-12-04 15:39] tsandall commented on #1097
@ankicracker take a look at the opa package in that example repository. It shows how you can configure the OPA to pull down bundles (gzipped tarballs containing policy & data), report status, etc.

If you're going to embed OPA as a library, I wouldn't recommend embedding the OPA HTTP server.

[2018-12-04 17:18] yashhere commented on #1097
Hi @ankicracker, I am also looking in the same problem for some time now. It seems that there is a server component which can be imported in your service. But as I am currently learning Golang, I was not able to understand the code completely.

@tsandall I was trying to use push data to OPA using a GRPC service and the users would be able to query OPA using its exposed API. So it makes sense not t

[2018-12-04 17:36] yashhere commented on #1097
Yeah, I was looking into this particular plugin. It seems promising for my use case, but then I was not able to understand, how the users will query OPA for decision making? As far as I understand, this plugin is not exposing any API for end users to query.

[2018-12-06 11:17] elbns opened #1098 "Allow users to run only specific binaries with root permissions/privileges"
Hello OPA,

Is there a way to allow users (through OPA) to run only specific binaries with root permissions/privileges ?
For exemple in the same way as pam_authz manage sudoers and ssh ?

Regards,

[2018-12-06 17:06] SandyWalsh opened #1099 ""put" same document to same location results in 204 vs expected 304"
# Expected Behavior
Second "put" should return a 304 as per docs

# Actual Behavior
Second "put" returns a 204

# Steps to Reproduce the Problem

  1. create a json data document
  2. start OPA service fresh
  3. put to OPA service endpoint at some location "foo"

    resp = requests.put("%s/v1/data/foo" % (url, ), data=payload, headers={"Content-Type": "application/json"})

  4. confirm you get 2

[2018-12-06 18:32] yashhere opened #1100 "How to use OPA inmem store?"
Hello there, I am trying to use OPA `inmem` store to store my `data.json` . I have multiple `data.json`. There are two functions -
1. One function will add the data to the the `inmem` store. There will be multiple calls to this function to add multiple `data.json`.
2. Other function will read the data from the `inmem` store and evaluate the results based on a policy module. This function will have

[2018-12-06 19:00] ashutosh-narkar commented on #1099
As per the docs a `PUT` call will:

So if you do multiple `PUT` calls for the same path with the same/different data w/o the `If-None-Match: *` header, the server will create/overwrite the document at that path and hence return a `204` always.

OTOH, if you set the `If-None-Match: *` header and make a `PUT` call for a path with some data, the server returns a `204` the first time. Now every subseq

[2018-12-07 17:45] tsandall commented on #1097
If you try out that plugin you'll see that it exposes the standard OPA APIs in addition to an extra gRPC interface that implements the Envoy ext_authz API.

Closing this issue for now as I don't think there is anything else to add.

[2018-12-07 17:45] #1097 closed

[2018-12-07 17:53] tsandall commented on #1100
No we don't have plans to extend the storage API. You should be able to implement all of the behaviour you mentioned using the current Write function.

You need to call `Commit` to make the writes visible to other transactions. Currently your Add function is calling Abort so the changes are undone.

[2018-12-07 17:53] #1100 closed

[2018-12-07 17:58] tsandall commented on #1098
@elbns that's a good question. I'm not a PAM expert but maybe @arcurtis has some insight here. The existing tutorial shows how you can restrict `sudo` access but it's somewhat coarse-grained: https://www.openpolicyagent.org/docs/ssh-and-sudo-authorization.html. I don't think the current pam_authz plugin provides the executing command as input.

[2018-12-07 18:04] tsandall commented on #1099
@SandyWalsh per @ashutosh-narkar's you need to add If-none-match to indicate to the server that the request is conditional. Closing this as I don't think there's anything to do. Feel free to correct me!

[2018-12-07 18:04] #1099 closed

[2018-12-07 19:37] arcurtis commented on #1098
Hi @elbns, as @tsandall noted, you could use the PAM module to broadly restrict access to sudo to specific users. However, as far as I am aware, it is not possible to get the command invoked after sudo in a PAM module (though would love to know if this is, in fact, possible), so finer-grain control with the PAM module isn't possible without that.

[2018-12-08 17:08] tsandall opened #1104 "repl: nested expressions not assigned with ="
# Expected Behavior

Nested expressions that look like assignment should be treated as such in the REPL.

# Actual Behavior

Nested expressions are evaluated as queries. For example, the following expression does not define a new rule 'x'.

[code]

As a top-level statement in a Rego file, 'x' would be defined as a rule.

# Additional Info

This is likely an issue to do with the evalStatement funct

[2018-12-17 15:49] #1098 closed

[2018-12-18 11:18] alban opened #1109 "Loading directories without dotted files & symlinks (for Kubernetes ConfigMaps)"
# Expected Behavior

When running `opa` with a directory on the command line, there should be a way to tell opa to skip hidden files (dot files) and symlinks.

# Actual Behavior

When starting `opa` in a Kubernetes pod and using a ConfigMap mount as directory, Kubernetes creates symlinks and dotted files in the mount point. `opa` then loads the same file several times because of the symlinks.

# S

[2018-12-18 17:34] thiagoalves commented on #880
@ken5scal Not sure if I arrived too late, but I figured out in my linux environment, with Docker + TLS, I had to replace `input.Headers["Authz-User"]`with `input.User`. Then it worked as expected

[2018-12-18 18:25] tsandall opened #1110 "with keyword causes rule indexer lookups to fail in some cases"
# Expected Behavior

The rule indexer should correctly incorporate input & data values overridden by the with keyword.

# Actual Behavior

The rule indexer is not returning rules that ought to match given certain evaluation contexts.

# Steps to Reproduce the Problem

Given the following rego and json, q and r should generate the same value, however, the indexer incorrectly determines that r does

[2018-12-18 21:08] #1110 closed

[2018-12-18 21:10] tsandall commented on #1082
Fixed by #1105

[2018-12-18 21:10] #1082 closed

[2018-12-19 05:19] lachie83 commented on #1093
@tsandall  - Regarding number 3 - do you have a CNCF CLA bot on the OPA Github org already? cc @caniszczyk

[2018-12-19 05:20] lachie83 commented on #1093
@tsandall  - regarding number 1 - can we simply complete an org transfer for the repo from Azure to the OPA Github org?

[2018-12-19 15:59] tsandall commented on #1093
@lachie83 I'm not familiar with org transfers, but happy to help out if needed. We don't have a CLA bot installed in the OPA org (my understanding is that CNCF makes it unnecessary but I'm not a lawyer...)

[2018-12-19 16:06] caniszczyk commented on #1093
email Linux Foundation Helpdesk <helpdesk@rt.linuxfoundation.org> and cc me to get the CLA bot installed in the OPA org (make sure 'thelinuxfoundation' is an owner of the org).

The LF IT team is a bit barebones at the moment due to the holidays so it may take some time.

[2018-12-19 16:13] tsandall commented on #1093
Email sent. @lachie83 I don't have your email so I just copied Nikhil and Chris.

[2018-12-19 16:16] tsandall opened #1112 "wasm: negation"
The query planner and wasm compiler do not support OPA's `not` keyword today. We need to extend both to support it.

[2018-12-19 16:18] tsandall opened #1113 "wasm: composites"
The planner and wasm compiler do not support pattern matching operations on composites today. For example, expressions like `input.path = ["posts", id]` are not supported yet.

[2018-12-19 16:20] tsandall opened #1114 "wasm: built-in function parity"
List of built-in function categories:

- [x] comparison
- [x] numbers
- [x] aggregates
- [x] arrays
- [x] sets
- [x] types
- [x] bits
- [x] strings
  - [ ] sprintf
- [ ] conversions
- [ ] graphs
- [ ] net.cidr
- [ ] glob (partial)

# Requires investigation

- [ ] regexp

# Could be external

- [ ] units
- [ ] encoding
- [ ] tokens
- [ ] date/time
- [ ] crypto

# Must be external

- [ ] runtime
- [

[2018-12-19 16:26] tsandall opened #1115 "wasm: JS/node SDK"
To evaluate Wasm-compiled policies today, users have to integrate directly with the WebAssembly APIs. This is unnecessarily low-level and can be hidden by a high-level API. I'm not a Node expert so I don't want to design the API but at a high-level I would expect that:

1. Given a Wasm binary (available via byte array, stream, etc.) users can instantiate the engine once, and then call a function t

[2018-12-19 16:27] tsandall opened #1116 "wasm: with keyword"
The `with` keyword is not supported by the planner or wasm compiler today. We need to extend both to support it.

[2018-12-19 16:28] tsandall opened #1117 "wasm: global context/base documents"
The planner and wasm compiler do not support references global context/base documents. We need to add support for global context/base documents to support use cases where context is dynamic and not known at compile time.

[2018-12-19 16:29] tsandall opened #1118 "wasm: non-boolean results"
The planner & wasm compiler only support boolean results today. It should be possible to evaluate arbitrary policy queries that yield non-boolean results or sets of variable bindings.

[2018-12-19 16:30] tsandall opened #1119 "wasm: rules/virtual documents"
The planner & wasm compiler do not support rules/virtual documents today. Since we partially evaluate the policies prior to compilation, this is not a huge roadblock however it does not prevent certain constructs from being used, e.g., the `else` keyword.

[2018-12-19 16:31] tsandall opened #1120 "wasm: comprehensions"
The planner & wasm compiler do not support array/set/object comprehensions today.

[2018-12-19 16:31] tsandall commented on #1024
Filed #1112 through #1120 to capture the work listed above.

[2018-12-19 16:31] #1024 closed

[2018-12-19 16:35] tsandall opened #1121 "wasm: improve memory management strategy"
The current malloc implementation in the WASM-C library grows the heap by the required page count each time it's called (which is expensive and inefficient.) Rough benchmarks show that the latency is dominated by the heap operations. For the initial implementation, it may be possible to allocate the heap once.

[2018-12-19 16:39] tsandall commented on #1035
This has been merged into the upstream helm repo. https://github.com/helm/charts/pull/8915

[2018-12-19 16:39] #1035 closed

[2018-12-19 16:41] tsandall commented on #987
This is implemented in v0.10.2.

[2018-12-19 16:41] #987 closed

[2018-12-19 17:32] lachie83 commented on #1093
Thanks @tsandall. I contacted @caniszczyk and he mentioned that we can go DCO for OPA and that there is no requirement to have CLA.

[2018-12-19 18:30] lachie83 commented on #1093
I've confirmed that we do indeed need CLA on this repository. Let me work with the CNCF to understand the process of adding the CNCF CLA bot to this repo.

[2018-12-19 18:31] tsandall commented on #1093
@lachie83 OK -- to be clear, do you mean _this_ repo (i.e., open-policy-agent/opa) or the _new_ repo that this issue is about (e.g., open-policy-agent/kubernetes-policy-controller)?

[2018-12-19 18:57] tsandall opened #1122 "Update count built-in function in language reference to mention strings"
The `count` built-in function can be used to get the length of a string. The [Language Reference](https://www.openpolicyagent.org/docs/language-reference.html) does not mention strings in the description though.

We need to update the docs:

[code]

The file is here: docs/book/language-reference.md

[2018-12-19 19:13] caniszczyk commented on #1093
new repo

On Wed, Dec 19, 2018 at 1:31 PM Torin Sandall <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-12-19 22:47] #1112 closed

[2018-12-20 13:12] srenatus opened #1125 "object literal defined using := panics with "corrupt object""
## Expected Behavior

Running this package through `opa run demo.rego`,
[code]
I get this:
[code]

Now, I'd expect the same output from the package
[code]

### Actual Behavior

[code]

[2018-12-20 18:20] #1122 closed

[2018-12-21 09:21] srenatus opened #1129 "error details are misaligned when using tabs"
## Actual Behavior

With `demo.rego` as
[code]
where the line with `as` **starts with a tab character**, and I run `opa run demo.rego`, I find:

[code]

## Expected Behavior

The pointer `^` should respect the tabs _or_ remove them -- right now, it's position is calculated without accounting for the width of the characters that make up [the offset here](https://github.com/open-policy-agent/opa/blo

[2018-12-23 15:58] #1125 closed

[2019-01-01 20:52] kfox1111 opened #1130 "kubernetes subject access review"
I have various users with different permissions granted via rbac. For example, cluster admins can do things regular users can't. I would like to write custom permissions that I bind to users. Currently only username and groups are available in the review. I don't have access to changing/updating the usernames/groups, In talking with the Kubernetes sig-auth team, they recommend doing a subject acce

[2019-01-01 22:38] tsandall commented on #1130
Assuming you have OPA running, you can configure the API server to use OPA as an authorizer. See https://kubernetes.io/docs/reference/access-authn-authz/webhook/ for details on configuring the webhook authorizer. With this configuration, the API server will query OPA for authz decisions. The `input` document will be bound to the SubjectAccessReview request and the response from OPA will contain a

[2019-01-02 00:12] kfox1111 commented on #1130
I'm thinking the other way around for the SAR. I would like to configure k8s to use OPA for admission control, but have it be able to issue SAR's back to k8s so that k8s can review them. The equivalent of rego doing a 'kubectl auth can-i xxx yyy' for the incoming request. This would allow policy to decide what to do based on what roles/permissions in k8s the user has.

[2019-01-02 02:11] tsandall commented on #1130
Can you provide more information/detail about the use case? For example, how does the SAR query you want to execute from inside the policy relate to the resource in the admission control query? Is it for the same resource, a related resource, etc. If you can share concrete examples, that would be useful.

While you may be able to execute SAR queries via the `http.send` built-in function, I haven't

[2019-01-02 02:37] kfox1111 commented on #1130
Say I wanted to create a trusted_networking permission.
Maybe something like:
apiGroups:[trusted_networking.k8s.io] resources:[*], resourceNames:[*]

I can use it in k8s role's such as cluster-admin or finer grained roles. And bind it to users/groups/service accounts via rbac for example.

Then I can load an OPA admission controller with a rego policy that would implement rules such as:
if user do

[2019-01-02 03:06] tsandall commented on #1130
Thanks for the details!

FWIW, from my perspective, it would be simpler to encode the user/group/service->permission binding in the policy itself (or as context, such as via CRDs). For example:

[code]

Note the permission binding could also come from a source of context like a CRD.

[2019-01-02 03:14] kfox1111 commented on #1130
it would be if everything was implemented in OPA, yeah. but I already have a bunch of roles/rolebindings/podsecuritypolicies/etc already defined and working. I don't really want to reimplement all of that, along with all the logic podsecuritypolicies in k8s already implements.

[2019-01-02 17:27] idvoretskyi commented on #1093
/cc

[2019-01-03 14:32] pwmorreale opened #1131 "Encryption support"
A useful enhancement to OPA would be builtin functions enabling support for JOSE.

The use case is simply providing a means for a non-secure application to provide secret input to OPA.  As a configuration data format, JSON dovetails quite nicely with OPA and rego, enabling support for encrypted tokens provides a system with some guarantees regarding non-repudiation, confidentiality, and integrity.

[2019-01-03 15:28] liorlevtov opened #1132 "panic during partial evaluation of an expression"
# Expected Behavior

not panic
# Actual Behavior

panic
# Steps to Reproduce the Problem

.  ./opa_darwin_amd64 eval -f pretty -d bundles/local_bundle.tar.gz --explain=full --metrics  -i /Users/liorlevtov/1.json -u input 'data.lum_id_local.evaluator.access[_]' -p

# Additional Info

[local_bundle.tar.gz](https://github.com/open-policy-agent/opa/files/2724278/local_bundle.tar.gz)
[1.json.zip](https

[2019-01-03 15:54] tsandall commented on #1131
@pwmorreale thanks for opening this. Just for my understanding, the non-secure application will supply the encrypted token to OPA in the input and the policy should be able to verify, decrypt, and decode the token. What's currently missing from OPA is:

- Ability to decrypt
- Guarantee that sensitive data is not being leaked (via logs, error responses, etc.)

[2019-01-03 16:13] tsandall commented on #1129
Thanks for filing this. I noticed it a while ago but failed to open a ticket :sweat_smile:

In this case, the error is reported by the parser. The ^ is generated here: https://github.com/open-policy-agent/opa/blob/master/ast/parser_ext.go#L752 (not in check.go).

I was suspicious of the location you linked to but upon reflection, I don't think there's a problem. The padding is constructed based on

[2019-01-03 17:24] tsandall commented on #1130
Cool. I'm going to close this issue for now as I think the original question has been answered. Feel free to raise other issues or ping me on Slack if you have other questions.

[2019-01-03 17:24] #1130 closed

[2019-01-03 17:42] lachie83 commented on #1093
@tsandall - Ihor has provided me with the details to add the CNCF CLA bot to the new repository. How would you like to proceed?

[2019-01-03 17:51] tsandall commented on #1093
@lachie83 I'm not familiar with the org transfer process. Is there something you need from me to make it happen? I can add you as an owner in the OPA if necessary.

[2019-01-03 18:00] #961 closed

[2019-01-03 18:11] lachie83 commented on #1093
If we want to do an org transfer the repository name would remain the same. Is that okay? I would need repo admin access to setup the CLA before we accept any contributions. Pros for this approach is that all issues and PRs would remain intact.

[2019-01-03 18:15] tsandall commented on #1093
Ooph. Naming is hard. I hadn't thought about changing the name. I assume we could do that later?

I think it would be good to keep the issues/PRs intact.

I've sent you an invite to the OPA organization. Let me know if you need elevated privileges.

[2019-01-03 18:34] lachie83 commented on #1093
Received. I'm just making sure everything is in order then I will initiate the transfer. We will probably need a team of admins created in GH for that specific repo once transferred.

[2019-01-03 18:36] tsandall commented on #1093
Great. I'll set up the admin team once the repo has been transferred.

[2019-01-03 23:59] teq0 commented on #943
I have a slightly expanded version which handles both validating and mutating - https://github.com/teq0/opa-k8s-admission/blob/master/rego/core.rego

Mine is obviously still a work in progress, but it seems like this is going to be a very popular use case for OPA, would be good to have a complete reference implementation. I get the feeling there are quite a few people reinventing the wheel right n

[2019-01-04 00:09] tsandall commented on #1132
I've reviewed the policy and found a bug in the semantic checks in the compiler. One of the semantic checks asserts that all function references are applied (because the evaluation engine doesn't support these). E.g., if you have a function `f(x) { x == 1 }` then `f(1)` and `f(2)` are OK but just `f` is not.

In the attached policy the `condition_map`  contains references functions in the module (

[2019-01-04 01:27] #1132 closed, assigned to nobody

[2019-01-04 07:40] srenatus commented on #1129
Yup, indeed, I was pointing at the wrong thing; I've too noticed that when I was attempting to fix this 😄

I think the real issue is [somewhere in here](https://github.com/open-policy-agent/opa/blob/59cd91e03457af755ded639c5d5c3c00e847e741/ast/parser_ext.go#L704-L749), as there's nothing accounting for the fact that a char could be "wider" than 1 char when printed...

Maybe this could be fixed blu

[2019-01-04 17:52] autodidaddict commented on #491
I noticed this problem today. While I understand and like the idea that OPA's store can change over time, so we can't always enforce import consistency... I'd like to be able to set strict enforcement if I know ahead of time that the supporting data for the policy _should_ be available (that way I can get a failure that indicates missing data rather than policy evaluation failure).

One approach m

[2019-01-04 23:15] kfox1111 commented on #1130
Ok. I think I have the function working. Its generically useful, so I submitted it to the library repository. I'm pretty new to rego, so could you please review and let me know if there are any unexpected bugs or improvements I could make?

PR:
https://github.com/open-policy-agent/library/pull/22

[2019-01-04 23:44] tsandall opened #1135 "Improve discovery docs example"
The example in the discovery feature documentation should show a realistic configuration. The current example shows how to enable decision logging but nothing else. This isn't very practical. Let's replace it with an example that shows how an OPA can be dynamically configured to download one of two bundles based on an environment variable that the OPA is started with.

[2019-01-07 12:06] davidmccormick commented on #943
Here's another little tool for creating simple mutating webhooks from yaml based rules https://github.com/HotelsDotCom/kube-graffiti.  It can add/delete annotations and labels, block submission, or allow modification via a JSON Patch.

[2019-01-07 15:39] pwmorreale commented on #1131
Precisely.  The jwt enters into OPA via an input stream.  The non-secure application is merely the transport for passing the secure datum to OPA.

Logging presents its own set of issues...  ;-)   Given that the jwt in question is secure, logging it is not a security issue.  That said, jwt's can be several K's of bytes long and both hammer performance as well as fill up persistent resources.  (most

[2019-01-07 16:03] tsandall commented on #943
@teq0 thanks for sharing. I'm thinking we ought to just create a mutating admission webhook tutorial with a simple example like the one above. I'll take a closer look at your policies and see if there's something we can reuse.

[2019-01-07 21:15] repenno commented on #1089
I will take a stab

[2019-01-08 01:41] tsandall commented on #1093
@lachie83 just a quick heads up, I've given you "owner" permission in the OPA org. You should be able to do the transfer any time now. Let me know if there's anything preventing you.

[2019-01-08 01:42] tsandall commented on #1087
/cc @teq0 if you have further thoughts on how to implement this, feel free to post on Slack or here.

[2019-01-08 04:10] lachie83 commented on #1093
Thanks @tsandall. I'm going to action the transfer tomorrow.

[2019-01-08 14:06] srenatus commented on #962
Looks like the terminal feature to support here is called "bracketed paste", see this blog post: https://cirw.in/blog/bracketed-paste. To actually work, it depends on a cooperative terminal emulator, but nowadays most seem to support it (anecdata: [iterm2](https://gitlab.com/gnachman/iterm2/wikis/Paste-Bracketing)).

[2019-01-08 14:12] srenatus commented on #1104
Isn't this a duplicate of #726? It does have more information, though; we could consider merging them. 🤔

[2019-01-08 16:00] #1129 closed

[2019-01-08 16:44] tsandall commented on #962
@srenatus thanks for researching this. From reading the first link you posted, it seems like we'd need to modify the peterh/liner package to properly handle the start/stop escape sequences (it doesn't seem to do this currently.)

[2019-01-08 17:53] tsandall commented on #1104
@srenatus indeed. I'm going to close the other one in favour of this one.

[2019-01-08 17:54] tsandall commented on #726
This issue is duplicated by #1104.

[2019-01-08 17:54] #726 closed

[2019-01-08 18:17] lachie83 commented on #1093
@tsandall I've transferred the repo. Currently working on the CLA bot. I've also create a new maintainers team but haven't yet granted admin privs for maintainers on that repo. I'll leave that to you if you choose to do so.

[2019-01-08 18:48] lachie83 commented on #1093
Hey @tsandall. The repo has been transferred here - https://github.com/open-policy-agent/kubernetes-policy-controller. The following two items are still outstanding:

1. Fix CLA bot - It's triggering but we aren't getting a respond in the check on the PR. We cannot merge  **ANY** contributions until this happens. See https://github.com/open-policy-agent/kubernetes-policy-controller/pull/36
1. We n

[2019-01-08 18:52] caniszczyk commented on #1093
1) we will investigate
2) DCO should still be enabled

On Tue, Jan 8, 2019 at 12:48 PM Lachlan Evenson <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-01-08 19:05] tsandall commented on #1093
hey all, thanks for driving this to completion.

@caniszczyk just to clarify, you're saying DCO should be enabled on all repos including the new one?

[2019-01-08 19:06] caniszczyk commented on #1093
correct

On Tue, Jan 8, 2019 at 1:05 PM Torin Sandall <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2019-01-08 23:02] lachie83 commented on #1093
@caniszczyk has fixed the CLA bot so we are done here.

Confirming that we will leave both DCO and CLA bots enabled on this repo.

[2019-01-08 23:08] lachie83 commented on #1093
@tsandall Please close if you feel we have me the requirements of this issue.

[2019-01-09 00:50] tsandall opened #1141 "Undefined function reported as safety error in some cases"
# Expected Behavior

If an undefined function is called, the error should clearly identify the problem.

# Actual Behavior

In some cases, the safety check fails first which results in an unsafe error which is confusing.

# Steps to Reproduce the Problem

[code]

# Additional Info

Tested on v0.10.2

[2019-01-09 01:21] #426 closed

[2019-01-09 16:20] tsandall opened #1143 "Add diff built-in function"
In some cases it's necessary to compare two versions of an object to determine if there's a policy violation (e.g., old and new.) Policy authors may want to say something like _"user X can change fields a.b.c and x.y.z but nothing else."_

While it's possible to do this in pure Rego today, a built-in function that generates a JSON Patch-esque diff between two values would be useful and avoid dupli

[2019-01-09 16:36] tsandall opened #1144 "server should log error cause when returning HTTP 500 response"
# Expected Behavior

OPA should log internal errors that it encounters while processing API requests.

# Actual Behavior

Currently the errors are only visible in the logs if debug mode is enabled.

# Steps to Reproduce the Problem

  1. Load OPA with a policy that triggers an error, e.g., divide by zero (`p { 1 / 0 }`)
  2. Start OPA in server mode (`opa run -s x.rego`)
  3. Query OPA `curl local

[2019-01-09 17:54] repenno commented on #1033
It should be straightforward after #1089 is merged. I will work on it next

[2019-01-10 03:09] #1089 closed

[2019-01-10 09:58] nhi-vanye opened #1148 "RFE return details on policy evaluation failure"
It would be nice to have (human readable( details on which statement caused a policy failure returned in the API

We're using rego as a scheduling policy engine - it would be nice to be able to convey to the rest of the system if the policy failed because it was time of day, day of week or even invalid license.

I would be okay if it was up to the policy writer to label failures to minimize impact

[2019-01-11 03:58] Leeladitya commented on #1039
How can we check policy status on the configMap

[2019-01-11 04:40] tsandall commented on #1039
@Leeladitya kube-mgmt annotates the configmaps to report status. https://github.com/open-policy-agent/kube-mgmt#policies

Run `kubectl get configmap -o yaml <namespace> <name>` on the configmap to get the value.

[2019-01-11 11:46] teq0 commented on #1087
Not sure about the whitelist part, but in the loader there's already the concept of filters, but at the moment filters appear to implemented one at a time, even though there's an `exclude()` function that takes an array of filters and applies them in order. I can't find any usage of the `exclude()` function though.

It seems like the simplest approach would be to substitute `exclude()` into all th

[2019-01-11 16:35] tsandall commented on #1148
@nhi-vanye thanks for filing this issue! This kind of feature has come up [before](https://github.com/open-policy-agent/opa/issues/729). We've kicked around different ways that it could be implemented.

We're busy with the current roadmap through February but I could easily see prioritizing this in the next couple months.

We'll need to evaluate different options for the feature and implementation

[2019-01-11 17:37] tsandall commented on #1087
`exclude` is cruft, you can remove it. When I originally added filters I was planning to pass a set of them to the loader (hence exclude) but simplified to one because callers can just implement that logic themselves (and decide whether they want the filters to AND or OR.) I'd rather leave that behavior up to the caller.

The code in the loader basically runs `allRec` for each path received by the

[2019-01-11 22:07] kfox1111 opened #1153 "readyness check"
There needs to be a way to probe to see if all policies specified to opa (not via http) are loaded. This will let kubernetes do seamless rolling upgrades of opa.

[2019-01-12 02:13] teq0 commented on #1087
Got it. So after https://github.com/open-policy-agent/opa/blob/master/loader/loader.go#L236 call another filter that checks against the .opaignore rules.

And I get the WithTempFS() now.

[2019-01-12 17:06] tsandall commented on #1087
Yes, I suppose that caller filters should override the .opaignore rules, so the caller filters should run first.

One thing to keep in mind/test is that --ignore should not cause the loader to ignore .opaignore files themselves. One of the main reasons we added --ignore in the first place was to let users ignore dotfiles (there is some odd behaviour when you volume mount configmaps in kubernetes t

[2019-01-12 17:12] tsandall commented on #1153
Whether OPA is ready will depend on how the polices are loaded. There are three ways:

1. Policy/data on disk. Loaded via command line args
2. Pushed into OPA via HTTP.
3. Pulled into OPA via Bundle feature (preferred).

The current health check is sufficient for (1).

I don't think there's a good solution for (2) because OPA will not know when all of the policies are loaded. In this case, assumin

[2019-01-12 19:32] kfox1111 commented on #1153
2. can/maybe should be a readyness check on the sidecar thats pushing.

1. might be good enough for what I need for now. I could build the policy directly into the container then kick off the rolling upgrade.

3. would be nice for those keeping policy in a bundle server.

I've got too many things cooking right now to contribute to implementing number 3 at the moment. Sorry. Ill ping you if time do

[2019-01-13 04:50] tim-styra opened #1154 "Safety check incorrect for := and with"
# Expected Behavior
Both of the following rules should be safe.  They only differ in that one assigns `x :=` and the other assigns `x =`

[code]

[code]

# Actual Behavior
First rule is safe.  Second rule is unsafe:

`error: compile error: 1 error occurred: t.rego:2: rego_unsafe_var_error: var q is unsafe`

# Steps to Reproduce the Problem

`opa run` with either one of the above modules.

# Additi

[2019-01-13 06:53] teq0 commented on #943
I'm about to do a PR to the library for this, after discussions with @timothyhinrichs.

[2019-01-14 01:19] tim-styra opened #1155 "Local variable assignment resolves incorrectly"
# Expected Behavior
A locally-defined dictionary should be able to hide a globally-imported dictionary, e.g. `baz` in the following package should be `true`.

[code]
# Actual Behavior
`baz` above is undefined because `bar.qux` is undefined.  Presumably this happens because when the compiler resolves the symbol `bar` it does so with `data.bar` instead of the local variable `bar`.   So the compiler

[2019-01-14 11:15] alexch-darillium opened #1156 "documentation example fails"
# Expected Behavior
Example from https://www.openpolicyagent.org/docs/get-started.html
     "5. Define a rule to identify servers in violation of our security policy."
should work:

  s = servers[_]
  s.protocols[_] = "http"
  public_servers[s]
}

# Actual Behavior
Error message appears:

|   s = servers[_]
|   s.protocols[_] = "http"
|   public_servers[s]
| }
|
1 error occurred: 1:1: rego_unsafe_

[2019-01-14 14:29] msaadkhan31 opened #1157 "getting false as return value, if any policy fails"
# Expected Behavior
Proper message for the policy

# Actual Behavior
getting true/false

# Steps to Reproduce the Problem

  1.
  2.
  3.

# Additional Info
We are implementing OPA in our infrastructure. But have wrote multiple policy for evaluating the infra, but if any rule of the policy got failed, it returns 'false'. Is there any way to get the proper messages? Like to get the proper message o

[2019-01-14 14:47] srenatus commented on #1156
❓ Have you created the `data.json` file in the preceding step _2. Create a data file and a policy module._?

[2019-01-14 19:18] tsandall commented on #1156
@alexch-darillium check that you ran through all of the steps in order. As @srenatus mentioned, the error indicates that the step to create the policy file was missed.

[2019-01-14 19:18] #1156 closed

[2019-01-14 20:57] #1040 closed

[2019-01-14 23:58] #1154 closed

[2019-01-14 23:58] #1155 closed

[2019-01-15 06:14] msaadkhan31 commented on #1157
What's your slack name? i can't find you

[2019-01-15 18:37] tsandall opened #1163 "Improve TLS identifier to include entire certificate chain"
# Expected Behavior

Some users will want to have the entire certificate chain provided to the authz policy. One option would be to expose the entire certificate chain as the identity, however, this might be overly complex for most use cases. An alternative would be to let the identifier include multiple keys in addition to `input.identity`. In the x509 parsing built-ins we just JSON serialize the

[2019-01-15 19:35] timothyhinrichs commented on #1157
Slack name is
tim

Tim

On Mon, Jan 14, 2019 at 10:14 PM msaadkhan31 <notifications@github.com>
wrote:

[2019-01-15 19:36] #1157 closed

[2019-01-15 19:47] tsandall opened #1164 "Add evaluation errors to decision log events"
If policy evaluation fails, the reported decision log event should include the error that occurred. Currently, the decision log event is missing a field to include the error. The events that the decision logger receives from the server _do_ include the error so this should be a relatively easy change.

[2019-01-15 19:50] tsandall commented on #1135
We should also include a reference that describes what fields discovery cannot modify (e.g., labels, services, etc.)

[2019-01-16 15:48] #1081 closed

[2019-01-16 16:01] repenno commented on #1067
I will take a stab at this one given I worked on http.send before

[2019-01-16 17:38] tsandall opened #1171 "Fix misc. gitbook issues"
There are a few separate issues with GitBook that are a bit annoying.

- The regex functions documentation doesn't fit horizontally on the screen. See https://www.openpolicyagent.org/docs/language-reference.html#strings. Perhaps we need to restructure this table.

- A lot of times the “>” button at the bottom of a page only scrolled up to the top of the page. I'm tempted to just hide/remove these

[2019-01-16 17:45] tsandall opened #1172 "Improve security docs to include a 'hardened' configuration for an example scenario"
In August we had a thirdparty pen-testing firm conduct a security audit of OPA. The result of the audit can be found [here](https://github.com/open-policy-agent/opa/blob/master/SECURITY_AUDIT.pdf). For the purpose of the audit we created an environment for the pen-testers that ran a hardened OPA configuraton. Details on the environment can be found [here](https://docs.google.com/presentation/d/1_X

[2019-01-16 18:53] #1135 closed

[2019-01-16 19:48] anadon opened #1173 "Incorrect behavior in test case with complex "with ... as ..." statements."
# Expected Behavior
When running `opa test` on the attached file, run the included test without error or provide a valid error message.

# Actual Behavior
When the test is executed, it errors out claiming the test references itself.

# Steps to Reproduce the Problem

  1. `opa test . -v`

# Additional Info

[code]

May be related to #799

[arroyo_policy_upload.zip](https://github.com/open-policy-a

[2019-01-16 20:45] #1033 closed

[2019-01-16 21:40] anadon commented on #1173
My boss figured out a bit more.

Works:
[code]

Doesn't work:
[code]

And works:
[code]

[2019-01-16 22:28] klarose opened #1174 "Add jwt encoding built-in functions"
# Expected Behavior
It'd be nice if we could encode and sign JWTs from json, as an inverse of the existing decoding functions. This has a few possible uses:
1. Simplify unit testing rego which uses the decoding functions
2. Allow policy to issue tokens
3. ???

An example function could be:

`io.jwt.encode_hs256(json_document, secret, output_string)`

We'd probably want similar functions for the ot

[2019-01-17 00:35] tsandall commented on #1173
TLDR; this is working as expected. I'm going to close this for now.

The rule is considered recursive because it's referring to itself implicitly in `with data ...`. All policies are implicitly rooted under `data`. E.g., to ask for the value of `allow` or `test_one` you would write `data.arroyo_policy.allow` or `data.arroyo_policy.test_one`. Since `data` (or `data.arroyo_policy`) would cover `test

[2019-01-17 00:35] #1173 closed

[2019-01-18 03:23] hasinthaindrajee opened #1175 "Updating policy in configmaps doesn't reflect in decisions in kubernetes environment."
# Expected Behavior

I would like to see that policies which are updated in configmaps getting reflected in decisions.

# Actual Behavior

Policy change in the config map is not getting reflected until the opa pod is recreated.

# Steps to Reproduce the Problem

  1. Deploy OPA in a kuberenetes environment following https://www.openpolicyagent.org/docs/deployments.html
  2. Call the rest endpoint

[2019-01-18 13:38] tsandall commented on #1175
@hasinthaindrajee OPA loads the policy from disk on startup but doesn't watch it for changes unless you explicitly tell it to with `-w/--watch`. Note, I'm not sure that filesystem watches are reliable in Kubernetes environments.

An alternative to volume mounting the policies is to use [kube-mgmt](https://github.com/open-policy-agent/kube-mgmt). This what we do in the admission control on openpoli

[2019-01-18 13:38] #1175 closed

[2019-01-18 16:00] tsandall commented on #1087
@teq0 It's fine to vendor as long as:

1. Minimal/no additional dependencies. In this case, I'm guessing there are no extra required deps.
2. ALv2 compatible license

[2019-01-18 18:56] anadon opened #1176 "Feature request: improved support for external data source incorporation"
I need to create a security project to work with actively in development code over several interdependent projects running in kubernetes mainly using python 3.  What each of these are guaranteed to get is a JWT.  One of them is responsible for JWT creation which gets passed around.  There is PostgreSQL DB and a CockroachDB which store our business and customer data.

What I'm designing has as its

[2019-01-18 19:07] anadon commented on #1176
As an aside, I think there may be something to the local context of the project and the global context in the DB.  Getting data from calling code or a project is local and generally more fragile.  DB tables are fairly steady and reliable and a better idea to rely on.  Mixing the two with local context put into a global context can be fragile, and putting global context into local context comes wit

[2019-01-20 10:35] srenatus commented on #1176
I had brought up a similar thing some time ago, [here in slack](https://openpolicyagent.slack.com/archives/C1H19LW4F/p1540889649038900):

The trade-off highlighted in the thread was that typically, you'd differentiate _querying the data source_ vs _pulling in data from it_ by the amount of data: It might not all fit into memory, so you might have to query.

I thought this might have some relation

[2019-01-20 21:30] tsandall opened #1177 "corrupt object panic during partial evaluation when ref used as object key"
Encountered this on v0.10.2. I think this might be related to #1125.

[code]

[2019-01-21 14:48] anadon commented on #1176
I'd consider each access of a variable or external retrieval a 'query' or 'access' if we want to go with a mathematical usage.  I don't see a significant difference between the two.  But I know I need external data sources.

I'd like to think any action has the following: Actor, Action, Object, Actor Local Context, Object Local Context, and Global Context.  Any full featured security system will w

[2019-01-21 15:31] #1113 closed

[2019-01-21 20:31] tsandall commented on #1176
@anadon thanks for filing this. OPA currently has very primitive support for accessing external context via `http.send` but beyond that, there is not much. You could implement your own built-in functions that fetch data from external sources or provide your own implementation of the OPA storage layer, but that's a decent amount of work.

One thing I've been wondering about lately is whether we sho

[2019-01-21 20:35] anadon commented on #1176
Possibly.  I'm not sure which approach would end up being most efficient.  I could get either to work.

[2019-01-22 19:51] repenno commented on #1067
A few design questions:

When a new CA root (self-signed or not) is given should we:

1 - patch the host's CA collection? This most likely requires root and is OS specific.
2 - patch only an in memory copy such as SystemCertPool()?
3 - Create a new cert pool such as x509.NewCertPool()?

@srenatus Seems to be using (3) but I have seen both (2) used in many client examples.

[2019-01-23 02:58] gnealhou commented on #1067
I'd recommend (2) as well. It will allow OPA to use both the system certs
(inherited, for example, from the Kubernetes infrastructure) and any
"special" CA's the customer manually loads.

On Tue, Jan 22, 2019 at 1:51 PM repenno <notifications@github.com> wrote:

[2019-01-23 19:52] tsandall commented on #1067
I think 2 sounds good as long as the "patching" does not impact other calls. I'd imagine we could implement this by maintaining a cert pool for each unique `http.send` call. When constructing the cert pool, the implementation copies the system cert pool. WDYT?

[2019-01-23 20:33] repenno commented on #1067
I certainly see value in both. For simplicity reason maybe I want to load new certs (or periodically) and be done and not to bother with getting every https call correct. Maybe I want to reload for specific calls (testing or walled garden comes to mind).

Loading once during start-up and patching is certainly easy. And certainly we can give the option to reload fresh for certain calls. During HTTP

[2019-01-23 21:22] tsandall commented on #1164
This was fixed in f3a8bb158636759ec4570d29cc0179fcba39293a.

[2019-01-23 21:22] #1164 closed

[2019-01-23 21:30] tsandall commented on #1067
My thinking was to have a cache of cert pools on the built-in context. The cache would be keyed by the method, URL, certificate properties of the `http.send` call. When the built-in is evaluated, the cache would be populated if needed.

You bring up a good point that sometimes the system pool might not be wanted. We could make this behaviour optional. I'm not sure what the right default behaviour

[2019-01-23 22:17] repenno commented on #1067
Yes, but some details we still need to iron out.

The "certificate properties" part of the cache is not clear to me, what do you mean by that? Usually https objects are cached like any other based header directives.

[2019-01-23 23:41] repenno commented on #1067
I agree with that, but which cert properties should we deem unique? Certificates have lots of info and the file name or cert name is not enough to disambiguate.

[2019-01-24 00:00] tsandall commented on #1067
I don't think we have to reach into the certificate itself. Only the properties that are provided as input to the built-in.

[2019-01-24 00:14] repenno commented on #1067
I am ok but we need to document that things like below will results in false caches:

- http.send("my-cert-ca.cert"....)

I change the contents of my-cert in the meantime (run script again or what have you) and the cached response for the second built in (below) would not be valid.

http.send("my-cert-ca.cert"...)

And certain things would result in no cache hits: same cert across two different fi

[2019-01-24 19:24] tsandall commented on #1067
The cache is only used within the context of a single policy query, so we'll get the behaviour we want.

The main thing in my mind is whether we should support reading certs by filename explicitly. If we do this, then people will end up hardcoding paths into their polices which will lead to pain down the road. E.g., in order to evaluate the policy you'll have to have your filesystem laid out corre

[2019-01-24 20:39] repenno commented on #1067
We will give the option to read certs from files and env variables. Certs are usually created as files to start with, so it is something people must be used to. I notice there are other built in functions that can take an inline cert.  One example is crypto.x509.parse_certificates(string, array[object])

[2019-01-25 03:16] tutman96 commented on #1176
What I am currently working on right now is using graphql to query my external sources of data. I am writing a small service that sits next to OPA that makes these queries and uses graphql subscriptions to get notifications when the data changes. GraphQL works really good for our use case because it allows us to only populate the data we care about in the policies. It would be awesome if the graph

[2019-01-25 19:58] anadon opened #1180 "Documentation update for Security section"
With regard to https://www.openpolicyagent.org/docs/security.html#tls-and-https

On step 2, opa gives the following error:
[code]

[2019-01-25 20:39] anadon opened #1181 "Add documentation in the REST API section for error 405"
In https://www.openpolicyagent.org/docs/rest-api.html there is no mention of error 405, but in server/server.go it seems to exist to tell the caller the path requested is unavailable.  This is generally useful debugging information.

[2019-01-25 21:15] ashutosh-narkar commented on #1180
@anadon How have you created the certificate ? Did you follow step `1` or something else ?

[2019-01-25 22:50] ashutosh-narkar commented on #1180
I tried step `1` and `2` from the doc and that seems to work. Can you provide the steps to reproduce the problem.

[2019-01-25 22:57] anadon commented on #1180
[code]

This is hand typing over from my work computer since I'm at home.

[2019-01-25 23:31] ashutosh-narkar commented on #1180
I tried your steps and did not get an error:

[code]

[code]

[2019-01-25 23:37] anadon commented on #1180
I'll try again tomorrow.

[2019-01-28 15:03] anadon commented on #1180
It works now.  I don't know what happened, but now it seems happy.  This ticket is INVALID.

[2019-01-28 15:03] #1180 closed

[2019-01-29 08:47] jonatanblue commented on #1148
Yes, very much yes. This is critical if you want users to be able to act on the error messages.

There may be arguments for hiding the failure root cause for security reasons, but in most implementations if the user has to supply 10 or so options and doesn’t know which one is incorrect, it is a must to point them in the right direction.

[2019-01-29 19:28] tsandall opened #1185 "Fix cmd integration tests to cleanup plugin directory"
# Expected Behavior

Unexpected exits in any of the OPA tests should not result in generated files being left around in the working copy (or elsewhere).

# Actual Behavior

Currently, if the cmd tests are exited unexpectedly, e.g., due to the developer ctrl+c-ing out in the middle, the plugin tests leave a bunch of files on disk.

# Steps to Reproduce the Problem

  1. Run `go test -v ./cmd`
  2.

[2019-01-30 00:21] nischalsheth opened #1187 "Correct issues in rego grammar documentation"
The following should be corrected:

1. **instructions** is unused
2. **term** should also include **set-compr** and **object-compr**

[2019-01-30 04:42] repenno commented on #1131
Looked at this and have a q: where would the necessary private/symmetric keys to decrypt the contents (for each JWT) come from?

[2019-01-30 15:54] #1187 closed

[2019-01-30 16:41] repenno commented on #1181
ok, there are a couple of things reported here: lack of 405 errors, missing return codes.

I decided to go through the entire REST API manual while comparing with the code and found more discrepancies.  These are the changes I've done:

1 - Restructured the sections to read

..rest api spec
..example

as opposed to:

..part of rest api spec
..example
..part of rest api spec.

As I went through the

[2019-01-30 20:09] repenno commented on #1131
Please allow me to expand. The cert to verify comes as part of the built in functions.  I believe the algorithms you suggested are based pub/pvt keys (https://tools.ietf.org/html/rfc7516, https://tools.ietf.org/html/rfc7520), but in general there is the issue of symmetric keys. Should they appear in the configuration? Come from Env variables? What would be your suggestion?

[2019-01-30 20:13] anadon commented on #1181
Great! I just finished an initial version of a python REST wrapper. I'll
check about sending it your way once I update it in order to hammer out any
other potential discrepancies.

On Wed, Jan 30, 2019, 11:41 repenno <notifications@github.com wrote:

[2019-01-30 20:37] anadon commented on #1181
With the introduction of the compile API for partial evaluation, should "Get Policy (with Input)" be deprecated?

[2019-01-30 20:37] repenno commented on #1181
You can look at what we did sometime back here:

https://github.com/open-policy-agent/client-python

[2019-01-30 20:40] anadon commented on #1181
I took a very different, but reconcilable approach.  I'm aware of it, but over here we've been worried about that code's long term support.

[2019-01-31 16:04] #1181 closed

[2019-01-31 16:22] tsandall opened #1190 "Improve dependency analysis to join refs used as rule args"
# Expected Behavior

When a ref to input/data appears as a rule argument, dependency analysis should be able to join the ref with usage inside the rule. For example:

[code]

If `f(input.a)` is contained in the query, dependency analysis should be capable of determining that only f.a.b is required and not just f.a.

# Actual Behavior

Currently dependency analysis stops at all calls (built-in or o

[2019-01-31 17:40] tsandall commented on #979
This was fixed in f79b3014fc35d8cd38324d209ee2bfce87ddadac

[2019-01-31 17:40] #979 closed

[2019-01-31 18:22] anadon commented on #1181
Need to reopen this for a bit.
in https://www.openpolicyagent.org/docs/rest-api.html#partially-evaluate-a-query The first example conflicts with the first example in the section with respect to the top level key.  In testing, I am seeing a top level key of "result", but according to the possible responses table.

[2019-01-31 18:31] anadon commented on #1181
Yes, but what is really throwing me off is this:

![screenshot_2019-01-31 rest api gitbook](https://user-images.githubusercontent.com/3113477/52076342-7c0daa00-255c-11e9-8a98-f08bffe56a96.png)

[2019-02-01 16:39] repenno commented on #516
Looked at this one, we can improve the message. For example. for the policy below:

`package foo

	g[app] = zone {
    	app = ["foo"]
    	zone = 456
	}
	`

The message would be:

"object value ({[\"foo\"]: 456}) has non-string key of type ([]interface {}), value ([foo])"

The "[]interface {}" comes from the fact that during parsing ["foo"] is considered an object of type []interface{} meaning bas

[2019-02-02 02:05] tim-styra opened #1194 "Integration web portal"
OPA has been integrated with 20+ cloud-native systems to provide rich, context-aware policy support, e.g. Kubernetes, Istio, Envoy, Linkerd, Terraform, Ceph, Minio.  Today there is no authoritative guide for users to understand what those integrations are, how they work, or how to get started.

There should be an interactive web portal that helps users understand the integrations available with OP

[2019-02-02 04:34] tim-styra opened #1195 "IP Tables integration"
One common use of policy is to set up IP packet filter rules in the Linux kernel.  The policy dictates what to do with different kinds of packets.  There have been several requests in the past to use OPA policies to control IPTables, but no one has come forth with an integration.

An integration requires: designing the layout of IPTable rules using OPA's policy language, implementing the algorithm

[2019-02-03 19:15] repenno commented on #1185
Analysis: The problem is that there is no signal handler to clean up directories and files created by WithTempFS or MakeTempFS. There are defer() calls here and there but that does not catch SIGKILL, SIGINT, etc

I have a fix for the tests in plugins_test.go but the issue can be easily reproduced in any tests that use WithTempFS(). There are quite a few of those. Ideally a signal handler would nee

[2019-02-04 17:06] tsandall commented on #1085
This feature has been proposed as part of GSoC 2019. https://github.com/cncf/soc#open-policy-agent-opa

[2019-02-04 17:06] tsandall commented on #1195
This feature has been proposed as part of GSoC 2019. https://github.com/cncf/soc#open-policy-agent-opa

[2019-02-04 17:06] tsandall commented on #1194
This feature has been proposed as part of GSoC 2019. https://github.com/cncf/soc#open-policy-agent-opa

[2019-02-04 17:26] tsandall opened #1197 "panic in virtual document cache"
# Actual Behavior

The virtual document cache is implemented on top of Go maps. If the ref contains an array operand, the insertion panics:

[code]

Query:

[code]

Panic:

[code]

If the ref operand is a set/object, the insertion doesn't panic, but the result will be incorrect.

# Additional info

- It would be acceptable to ignore the virtual cache if the ref operand contains composite values. T

[2019-02-04 17:37] repenno commented on #516
We will not merging the changes due to:

https://github.com/open-policy-agent/opa/pull/1193#pullrequestreview-199691086

[2019-02-04 17:39] repenno commented on #1144
We will not be merging the changes due to:

https://github.com/open-policy-agent/opa/pull/1167#discussion_r248354705

[2019-02-04 18:54] repenno commented on #1195
This is an important feature that would have wide applicability.

[2019-02-05 09:06] pandyamarut commented on #1194
@tim-styra @tsandall @timothyhinrichs
Hey! I'm Marut third year engineering grad.
I would Like to Make proposal For this feature.
I'm proficient in Python.
I have also worked with some of the javaScript frameworks.
I'm familiar with HTML and CSS.
website- marutpandya.xyz

[2019-02-05 09:44] Harshagarwal19 commented on #1194
Hey, I am Harsh. I have experience in HTML, CSS, Javascript, Django and Python. I would like to make proposal for this feature.
@tsandall  @timothyhinrichs

[2019-02-05 16:34] tsandall commented on #938
In the last community meeting @repenno indicated he was interested in looking into this and working on it. I'm going to assign to him for now.

[2019-02-06 18:45] tsandall opened #1201 "Add support for scoping bundles to one or more data roots"
# Overview

OPA currently erases all existing policy and data when activates a new bundle. This works fine if all the policy and data can aggregated in a single place, but in some cases (e.g., kube-mgmt) that's not possible.

To allow policy and data to come from multiple places, we can extend the bundles to include an optional notion of scope. The scope of a bundle will be defined as a set of roo

[2019-02-07 16:41] #1185 closed

[2019-02-07 16:41] #1067 closed

[2019-02-08 16:25] anadon opened #1202 "Enhancement: Pretty print invokation flag for logging"
I'd like a `--pretty-print` flag to be added to the cli invocation.  I'm getting walls of text, and while I can read through them, it is rather unpleasant.

For example,
[code]

Keeping in mind that some terminals (mine for instance) line wrap this.

[2019-02-08 23:57] tsandall opened #1204 "Improve rule index to maintain information for tracing"
# Expected Behavior

When tracing is enabled, OPA should be able to return enough information for users to debug their policies and understand why certain expressions are succeeding or failing. Whether optimizations like caching or indexing are activated should not matter.

# Actual Behavior

Currently, the rule index does not maintain or return debugging information when tracing is enabled. As a

[2019-02-09 00:39] tsandall commented on #1202
That's totally reasonable.

I'm tempted to make a few related changes in this area:

- Make the default format `json`
- Add a `json-pretty` format
- Deprecate the `text` format (because...why keep it?)
- Make the `json` and `json-pretty` formats decode the response body before logging if the content type is JSON (to get rid of the string escaping which is *super* annoying)

[2019-02-09 01:18] repenno commented on #1202
That would be most welcomed.

[2019-02-10 08:09] Infi-Knight commented on #1194
Hi, my name is Ravi Soni. I would love to contribute in the development of this portal under gsoc this year. I have experience in React, D3, nodejs and python. Is there any design spec for the portal which we will use as a reference or we have to create it from scratch? Any starter tasks which we are required to complete?

[2019-02-11 14:42] yyunikov opened #1205 "Support of OAuth 2.0 client credentials authentication for service API's"
# Expected Behavior
[OAuth 2.0 client credentials](https://oauth.net/2/grant-types/client-credentials/) grant can be used for OPA authentication to service API's (e.g. bundles and status).

# Description

Having support for OAuth 2.0 client credentials flow for OPA it can automatically get access/refresh tokens from authorization server and use them to authenticate to service API's. This avoids ha

[2019-02-11 17:49] tim-styra commented on #1194
@Infi-Knight @pandyamarut @Harshagarwal19 Glad you're interested!  There are no mockups right now showing what the screens will look like.  You'll get to design that as part of the project.

Couple of thoughts that will help when you're putting together your application.

1. We're hosting the openpolicyagent page on Github, so you'll be designing/implementing a static HTML/CSS/JavaScript page (of

[2019-02-11 20:54] sdementen opened #1207 "inconsistent data tree"
I create some data via a policy (https://www.openpolicyagent.org/docs/rest-api.html#create-or-update-a-policy), I overwrite the data via the API (https://www.openpolicyagent.org/docs/rest-api.html#create-or-overwrite-a-document) and then I look at the data tree.
The data tree shows different inconsistent data depending on the path used to access the data, both looks to me incorrect. The first one

[2019-02-11 23:06] istalker2 opened #1208 "Incomplete data bindings in traces for local variables"
Trace for the
[code]
looks like
[code]

But for the
[code]
it becomes

[code]

i.e. instead of `i` we see `__local3__`. Although it might reflect how local variables are handled by OPA it doesn't give information to track `__local3__` back to `i`

[2019-02-12 13:20] pandyamarut commented on #1194
@tim-styra Thanks. I'll keep in mind before writing application.

[2019-02-12 15:05] pwmorreale commented on #1131
The keys could come from either.   In the configuration scenario, one has the option to add authz security to the configuration to control access to the data document.

[2019-02-12 18:36] tsandall commented on #1208
We deal with rewritten vars when query results are returned by the [rego package](https://github.com/open-policy-agent/opa/blob/master/rego/rego.go#L702). It seems like we need to apply the same kind of logic to the trace events to give callers a result that makes sense to them.

[2019-02-13 03:20] tsandall commented on #1207
@sdementen apologies for the delayed response. Thanks for reporting this and providing all of the info to reproduce.

The current behaviour has base docs overriding the virtual docs unless the query refers into the virtual document, in which case the virtual document defines the value completely.

Typically base docs don't overlap with virtual docs. However, if users *do* load data like this, the

[2019-02-13 17:22] repenno commented on #1201
As per @tsandall

1) should just be https://github.com/open-policy-agent/opa/blob/master/bundle/bundle.go#L46
GitHub
open-policy-agent/opa
An open source, general-purpose policy engine. Contribute to open-policy-agent/opa development by creating an account on GitHub.

tsandall   [41 minutes ago]
Extending that struct to include a field for roots

tsandall   [39 minutes ago]
2) should just be exten

[2019-02-13 17:28] Infi-Knight commented on #1194
@tim-styra thank you for the pointers.

[2019-02-13 17:31] Harshagarwal19 commented on #1194
@tim-styra Thanks. I will make sure to include these points.

[2019-02-14 07:53] sbueringer opened #1210 "Problems with Go 1.10/1.11 debugging OPA with delve"
# Expected Behavior

I expect to be able to debug OPA with delve when compiling it with debug symbols.

# Actual Behavior

I got the following error:
[code]

# Steps to Reproduce the Problem

I used the following commands:
[code]

# Additional Info

It works with Golang 1.9. It seems to be related to the following go issue https://github.com/golang/go/issues/23733. The behaviour seems to be trigge

[2019-02-14 08:13] sdementen commented on #1207
@tsandall that is indeed what I was suspecting (having some overlay of different trees. Is it also linked to the namespace topic for bundles ?
There is maybe two issues in my issue:
1. overlaying trees
2. PUT operation that does not "overwrite" the tree by the one in the PUT but that "update" the tree.

For the first issue, I have not yet understood well the interactions between
- "data/docs comin

[2019-02-14 13:50] toloco opened #1211 "Add support for JWKS"
# Expected Behavior
To be able to decode JWT with oi.jwt.decode_verify via JWKS certificate

# Actual Behavior
Currently io.jwt.decode_verify only supports secret and certificate method

# Additional Info
Ideally, we would use a bundle to download latest certificate from a "### .well-known/openid-configuration" to download jwks certificate list, and the using that data be able to decode and verify

[2019-02-14 17:17] tsandall commented on #1210
I don't use `dlv` so I don't have expertise here. If the issue has to do with the Go stdlib plugin package, you could try building OPA with CGO disabled. The plugin package is only used if CGO is enabled.

[2019-02-14 17:32] tsandall commented on #1207
The v1/data API combines base and virtual documents into a single global document: `data`. When you load JSON data into OPA (e.g., via PUT v1/data/some/path), it's namespaced under `data`. When you load Rego rules into OPA, the decisions they generate are also namespaced under `data` (e.g., a file containing `package x.y` and rule `p = 1` would be  accessible at `data.x.y.p` or v1/data/x/y/p in th

[2019-02-14 17:56] sbueringer commented on #1210
Unfortunately that didn't help:

[code]

[2019-02-14 19:25] tsandall commented on #1201
Currently working on this. Should have something available this week.

[2019-02-14 19:33] sdementen commented on #1207
I am puzzled by the base vs virtual difference: you seem to say that base=data and virtual=rego rules.
In my example, I have just data (no rego rules are involved) so it is not a matter of base vs virtual. Could you clarify why you mention virtual docs while I am only using base docs (=data)?

[2019-02-14 20:21] tsandall commented on #1207
Base documents just represent external data that gets loaded into OPA. The data can be loaded via the command-line, HTTP API, etc.

Virtual documents just represent data that gets generated by rules loaded into OPA. The rules can be loaded via the command-line, HTTP API, etc.

The original problem that this issue raises is that you can write a rule that defines a virtual document at path a/b/c and

[2019-02-15 16:00] #1207 closed

[2019-02-15 17:22] anadon opened #1213 "Nitpick: Add trailing new line when pretty printing"
Just when using the terminal and curl, it would be nice to have a trailing new line so the command prompt starts on a new line and not on the same line after a response.  This should be fairly trivial.

[2019-02-16 00:15] tsandall opened #1215 "Update Kubernetes admission docs with namespace selector to exclude OPA itself"
The current Kubernetes Admission control tutorial has the webhook configuration set to forward CREATE and UPDATE requests of all kinds in all namespaces to OPA. This creates a loop where OPA could make admission decisions for itself. We should update the webhook configuration in the tutorial to exclude the namespace that OPA is deployed into from admission checks.

[2019-02-18 18:03] Sai-Adarsh commented on #1194
* @tim-styra Hey, I'm [Sai Adarsh S](http://sai-adarsh.github.io). I'm interested in working in [Integrating web portal](https://github.com/cncf/soc#interactive-website-detailing-opa-integrations) project as a part of GSoC 2019. I'm skilled in HTML, CSS, JS, Django, Python, Node.js and containers.

* Glad that i saw your indicators in this issue. Having said that I shall working on this project an

[2019-02-18 19:49] teq0 commented on #1087
Just an update, I have it working, the actual code isn't that much, I'm a bit stuck on getting tests to work though and I've been a bit time poor. But it's coming...

[2019-02-18 20:21] anadon opened #1217 "Enhancement: Add 'quiet' flag to REST API "Get a Policy" call"
Ref: https://www.openpolicyagent.org/docs/rest-api.html#get-a-policy

There are times, particularly when OPA is in a pool separate from a reliant server or process when it may become desynchronized and OPA either is new or restarted.  Without needing to have heavier weight synchronization tools, it would be convenient to have a 'quiet' flag which causes the body of a REST API call to become empty.

[2019-02-19 16:06] repenno opened #1218 "Document different between = and := in rules"
# Expected Behavior

A documentation section clearly explaining the difference

# Actual Behavior

No proper documentation

# Steps to Reproduce the Problem

  1.
  2.
  3.

# Additional Info

[2019-02-19 16:51] tsandall commented on #1213
We could likely make the change [here](https://github.com/open-policy-agent/opa/blob/master/server/writer/writer.go#L88) (for 2xx responses) and [here](https://github.com/open-policy-agent/opa/blob/master/server/writer/writer.go#L66) (for 4xx and 5xx responses).

[2019-02-19 16:53] tsandall commented on #1087
Great! If you get it to a point where you'd like to be done and want to hand it off, feel free to send me the patch and I can finish it off (with you as the git author.)

[2019-02-19 16:54] tsandall commented on #1217
An alternative to a `quiet` query parameter would be to support the `HEAD` HTTP method.

[2019-02-19 17:28] tim-styra commented on #952
There was a request to put content similar to the following from slack into the description of `:=`.

`x := 7` declares that `x` is a variable local to the rule.

Moreover, the compiler will stop you from writing two such assignments in the same rule, e.g. `x := 7; x := 8` creates a compile-time error.

Neither of those are true with `x = 7`.  `x = 7` will assign `x` to 7 if `x` is unbound, and it

[2019-02-19 18:26] anadon opened #1220 "Enhancement: Scope rules as part of rule name"
Instead of having something like
[code]

Allow scoping in the rule name like a usual reference
[code]

Now, I may be misunderstanding some aspect of this.  But something in this is useful.

[2019-02-19 18:29] anadon opened #1221 "Enhancement: Improving Compile REST API unknown inference"
In a given rule, mark all members in the `data` root scope as unknown until explicitly specified in order to have better unknown detection.  It is perfectly legitimate to over specify unknowns, so it should be acceptable if everything is considered unknown until it is not.

[2019-02-19 18:51] #1201 closed

[2019-02-19 21:34] tsandall commented on #1220
I'd like to leave this issue open for a while and see what if people have thoughts. @anadon could you include more detail on _why_ you think we should add this? Generally, I'd rather avoid adding syntax to the language unless it's addressing a common issue (e.g., like we did with `:=` and `==` to deal with confusion around `=`)

[2019-02-19 21:45] tsandall commented on #1221
Improved support for specifying unknowns has been on the back burner for a little while. One idea we had is to let the policy author declare the portions of data that are unknown. For example:

[code]

This simplifies the integration a bit since the caller doesn't have to know what unknowns the policy depends on.

[2019-02-19 21:55] tsandall commented on #1148
One option is to generate the error messages inside the policy:

[code]

The service integrating with OPA would query for the `example/decision`.

[2019-02-20 04:47] jonatanblue commented on #1148
This is brilliant. Thanks!

[2019-02-21 14:46] anadon commented on #1221
Is unknown different than undefined?  If those concepts could be merged within rego, this might solve itself.

[2019-02-21 14:49] anadon commented on #1220
In the grammar, there is a mix of Names and References.  If Names were kept purely in the lexing, and references used instead in the grammar it should be more elegant in implementation, microscopically more consistent for users, and be a little more general.

Functionally, this would let me define the exact same runtime structures as if they were assembled from a number of different files.  I like

[2019-02-21 14:51] anadon commented on #1217
Could you link to some documentation for this?  I am unfamiliar with this kind of method.

[2019-02-21 16:45] tsandall commented on #1221
They are related but different concepts that cannot be merged. Undefined means that a document or variable has no value. Marking a document or variable as unknown tells the evaluator to save expressions that depend the unknown and return them to the caller.

[2019-02-21 16:54] tsandall commented on #1220
In OPA, rules are just statements that assign values to variables. For example, the statement `x = 3` can be interpreted as a rule that assigns the value 3 to the variable x in all cases. You can make this assignment conditional by including a body, e.g., `x = 3 { input.a = 1 }`. Now this rule assigns the value 3 to the variable x if input.a is equal to 1. You can understand rules intuitively as "

[2019-02-21 16:55] tsandall commented on #1217
https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4

[2019-02-21 16:58] anadon commented on #1220
That is what I am suggesting.

[2019-02-21 17:03] anadon commented on #1221
Would it be a best practice to have each reference explicitly set to a default of unknown or undefined?  If so, what might that look like?  Would it be broader use of `default` and warnings on references which have not been given a default?

[2019-02-21 17:05] #1218 closed

[2019-02-21 17:13] repenno commented on #1217
Small nit, RFC2616 has been deprecated. You should use https://tools.ietf.org/html/rfc7231#page-25. There are a few more considerations on the interactions of HEAD and caches of previous GETs.

[2019-02-21 18:23] tsandall commented on #1217
@repenno thanks for the nit. Are any of those considerations relevant here?

[2019-02-21 19:28] repenno commented on #1217
Not to OPA server. But If one is building a REST client for OPA it would be good to keep in mind that:

" The response to a HEAD request is cacheable; a cache MAY use it to
   satisfy subsequent HEAD requests unless otherwise indicated by the
   Cache-Control header field (Section 5.2 of [RFC7234]).  A HEAD
   response might also have an effect on previously cached responses to
   GET; see Section

[2019-02-21 19:31] repenno opened #1225 "Update DEVELOPMENT.md with GOPATH considerations"
# Expected Behavior

Documentation should point out (have a link) to GOPATH requirements.

# Actual Behavior

Not such information exists

# Steps to Reproduce the Problem

  1.
  2.
  3.

# Additional Info

[2019-02-21 19:50] #1225 closed

[2019-02-22 16:16] anadon opened #1227 "Extended Roadmap: Establish SQL isomorphism property and AST translators"
Building off the ANTLR4 work, if we could prove that Rego is truly isomorphic with SQL then that opens up more general and agnostic tools.

[2019-02-22 18:39] mudlark commented on #938
Hi all,

Is some of the OPA documentation aspirational? I node the reference to data.ldap on https://github.com/open-policy-agent/opa/blob/master/README.md  and on the best practice page it really makes it sound like this is at lease experimentally available already: https://www.openpolicyagent.org/docs/best-practice-identity.html (#4)

Is there any current solution to this, or am I left having to

[2019-02-23 00:07] timothyhinrichs commented on #938
Hi Jody,

Apologies if the docs came off as "aspirational".  We could make it clearer
that there's NOT an LDAP integration available out of the box today.  The
JWT and Push sections I think are pretty good, but the Bundle section
requires you to know the semantics of OPA's bundle API.  Opened a PR that
should help: https://github.com/open-policy-agent/opa/pull/1230

No there's no bridge to AD/LDAP

[2019-02-23 01:25] mudlark commented on #938
To Tim,

That makes sense.  I do.appreciate the fact that this is solved when using jwt /oidc etc.  I've been wanting to learn go for a while,  so this looks like my itch to scratch ;)   I wanted to make sure this was not already in hand before assuming.

I'm a huge fan of OPA - you have a very nice tool here - thanks for providing it!

Jody

[2019-02-23 08:36] sbueringer opened #1231 "Expose Go default metrics"
# Expected Behavior

The Go default metrics should be exposed via the Prometheus metrics endpoint.

# Actual Behavior

Currently no go_ metrics are exposed

# Steps to Reproduce the Problem

  1. Start OPA
  2. Curl metrics endpoint

# Additional Info

This would require only a 1 line change here: https://github.com/open-policy-agent/opa/blob/master/server/server.go#L369. The following line whould

[2019-02-23 08:41] sbueringer opened #1232 "Add pprof endpoints"
# Expected Behavior

It would be nice to have the pprof endpoints available (either enabled via a flag or permanently) to make it easier to debug OPA behaviour.

# Actual Behavior

No pprof endpoints are provided.

# Additional Info

I think it should be possible to enable pprof endpoints when necessary via an additional flag. If the flag is set, the pprof handler (https://golang.org/pkg/runtime/p

[2019-02-23 15:33] tsandall commented on #1231
@sbueringer a PR for this would be great!

[2019-02-23 15:37] tsandall commented on #1232
@sbueringer a PR would be great. On by default sounds fine to me but if you want plumb a flag through you would modify:

cmd/run.go - add the actual cobra flag
server/server.go - add a function like WithPprofEnabled(bool)
runtime/runtime.go - add field to runtime.Params and call WithPprofEnabled when server is instantiated

[2019-02-23 15:46] sbueringer commented on #1232
@tsandall I'm just not sure if there are any security considerations if the endpoint is always enabled, that's why I thought a flag might be a good idea.

[2019-02-23 15:48] tsandall commented on #1232
I think the flag is fairly standard. If you can take that on, that would be great.

[2019-02-23 15:57] sbueringer commented on #1232
Yes, of course, no problem.

[2019-02-23 17:21] tsandall commented on #1231
Fixed by #1233

[2019-02-23 17:21] #1231 closed

[2019-02-23 17:24] tsandall opened #1235 "panic in substring when offset is outside bounds"
The `substring` built-in function is not checking the start offset properly. A negative offset or an offset greater than the length of the string result in a panic.

[2019-02-23 17:25] tsandall commented on #1232
Fixed by #1234

[2019-02-23 17:25] #1232 closed

[2019-02-23 17:43] #1235 closed

[2019-02-23 19:37] tsandall commented on #1213
Fixed by #1226

[2019-02-23 19:37] #1213 closed

[2019-02-23 21:33] tsandall commented on #1227
Because of built-in functions there will always be limitations.

We've kicked around a `pragma` statement in Rego so that policy authors could indicate the fragment of Rego that their policy must fit inside of. This could have other uses like requiring that policies are linear-time.

The pragmas would be backed up with static analysis that would warn authors when they exit the supported fragment.

[2019-02-24 06:11] anadon commented on #1227
So long as there is some kind of equivalency which can be established, those don't matter.  This has the interesting implications that the runtime could be backed by an SQL DB engine, which could lighten the development load and run more quickly.  But this can either be a week long project or a years long project and it is hard to tell until you've already started.

[2019-02-25 16:31] tsandall opened #1237 "Update release script to exclude node_modules dir"
The `build/gen-release-patch.sh` script is executed by the `release-patch` target to generate a patch set that prepares the release. When the script was originally written, the node dependencies for the website were not vendored--however, since we updated the frontpage a few months ago, these dependencies *are* vendored under docs/book/node_modules. As a result, the search-replace inside the relea

[2019-02-27 05:41] pandyamarut commented on #1194
@tim-styra Do we have Any communication channel for GSoc'19 related talks?

[2019-02-27 15:30] timothyhinrichs commented on #1194
Nothing specific to GSOC.  But there are videos/slides on the github
readme: https://github.com/open-policy-agent/opa

Is that what you mean?  Or are you asking if there's a place to publish
talks resulting from the work done around GSOC once they happen?  I think
the answer is the same: https://github.com/open-policy-agent/opa

Tim

On Tue, Feb 26, 2019 at 9:41 PM Marut Pandya <notifications@gith

[2019-02-27 18:19] pandyamarut commented on #1194
@timothyhinrichs  Can we start new channel on slack for Gsoc'19.
Just for Better communication with mentors.

[2019-03-01 04:37] hasinthaindrajee opened #1241 "Evaluate non existing entry in input."
My input post data will have the below format
{
"input" : { "sub" : "username", "email", "email@test.com"}
}

I need to write a rego policy to evaluate whether sub is present or not in the incoming request.
ie the below should evaluate to to true since no sub is present

{
"input" : { "email", "email@test.com"}
}

I tried multiple things such as comparing with null, undefined or using is_null inbu

[2019-03-01 14:38] tim-styra commented on #1241
To test if 'sub' exists, you write 'input.sub'.  To test if 'sub' does NOT exist you write 'not input.sub'.

For example, suppose you want to deny the request if 'sub' is missing.

deny {
    not input.sub
}

Hope that helps.  Closing the issue.  Feel free to ask on slack or reopen the issue if you have more questions.

[2019-03-01 14:39] #1241 closed

[2019-03-02 07:20] teq0 opened #1243 "Enhancement: Add array.slice function"
https://github.com/open-policy-agent/opa/issues/851 mentions both slice and concat operations on arrays. array.concat was added and https://github.com/open-policy-agent/opa/issues/851 was closed, but I believe there is still a valid need for slice.

[2019-03-03 20:17] lxnch opened #1244 "Enhancement: Add a jsonpatch apply function that works with objects under input and data documents"
Add a function that can apply a [JSON Patch document ](https://tools.ietf.org/html/rfc6902#section-3) i.e. array of [Operation Objects](https://tools.ietf.org/html/rfc6902#section-4) on a given OPA document (either nested under the input document, or under the data document), that returns a new object with the patches applied, which can be used in combination with the `with`  keyword.

[2019-03-04 05:46] teq0 commented on #1210
The only way I got unblocked was to go to go 1.12.beta2. The issue says 1.10.4 should work but it didn't work for me.

[2019-03-04 05:56] sbueringer commented on #1210
Oh thx, that's good news. I wasn't aware it's fixed with newer versions. I'll try it and then update the issue.

[2019-03-04 16:41] jaspervdj opened #1245 "Using modulo with floating points causes panic"
# Expected Behavior

I would expect that using floating points with the modulo operator is caught somewhere and an error is raised.  This is similar to what happens if you e.g. divide by zero:

[code]

# Actual Behavior

The process panics:

[code]

# Steps to Reproduce the Problem

  1. Start `opa run`
  2. Enter e.g. `1.1 % 1`

# Additional Info

- OPA version 0.10.5
- Linux 4.20.13 on x86_64

[2019-03-04 17:18] tsandall commented on #1245
@jaspervdj thanks for the excellent bug report.

I think we can update the built-in function to check the operand types and do integer modulo floating-point modulo accordingly.

That check ought to happen here: https://github.com/open-policy-agent/opa/blob/master/topdown/arithmetic.go#L126

[2019-03-04 18:03] sbueringer commented on #1210
I updated to go 1.12 and also used the new dlv version. Now it works for me, too. (even without CGO_ENBALED=0).

Thanks for the info @teq0.

[2019-03-04 18:03] #1210 closed

[2019-03-06 16:37] tsandall commented on #1086
Re-opening this as we have not added docs yet.

[2019-03-06 19:49] r0fls opened #1248 "Enhancement: improve "no match found" error output"
# Expected Behavior
There to be an actionable message indicating the problem with loading the policy

# Actual Behavior
[code]
As you can see all it says is:

[code]

Digging into the source code led me here: https://github.com/open-policy-agent/opa/blob/75439700870945c76beacb8c35709581ecb32779/ast/parser_ext.go#L544-L557

Which was equally uninformative.

[2019-03-06 21:13] r0fls commented on #1248
Hmm looking in the `kube-mgmt` container seems like it may be helpful:
[code]

[2019-03-06 21:20] ashutosh-narkar commented on #1248
@r0fls How are you testing the Rego policy ?

[2019-03-06 21:30] r0fls commented on #1248
I have the default unit tests from the example available, but I tested it manually by creating two ingresses with duplicate hostnames and it did not deny them. I also see a `400` in the opa logs when it seems it's trying to load the policy, so I don't think it ever got loaded successfully.

[2019-03-06 22:26] ashutosh-narkar commented on #1248
How did you create the config map ? I wonder if it has something to do with the naming. Do you see `PUT` requests in OPA coming from `kube-mgmt` ? You can turn on OPA's debug logging using the flag `--log-level`.

[2019-03-06 22:35] r0fls commented on #1248
I created the configmap with the following command: `kubectl create -n opa configmap ingress-whitelist --from-file=manifests/policies/policy-ingress-conflicts.yaml`

I do see the `PUT` requests with the policy in the opa logs, but it seems to contain the same `no match found` message:

[code]

[2019-03-06 22:56] ashutosh-narkar commented on #1248
Can you try what the [Kubernetes AC tutorial](https://www.openpolicyagent.org/docs/kubernetes-admission-control.html) does ?

Basically create a file `ingress-conflicts.rego` with the content

[code]

Then create the config map `kubectl create configmap ingress-conflicts --from-file=ingress-conflicts.rego`

[2019-03-06 23:27] r0fls commented on #1248
Oh wow, sorry I'm an idiot. By doing: `kubectl create -n opa configmap ingress-whitelist --from-file=manifests/policies/policy-ingress-conflicts.yaml` I was creating the configmap with the data being the configmap, rather than the rego definition. So, I guess this doesn't warrant a valid error since it's utterly incorrect. Sorry to be a bother. For the record it works fine when I do `kubectl apply

[2019-03-06 23:27] #1248 closed

[2019-03-08 18:43] #1245 closed

[2019-03-11 11:25] almostprogrammer commented on #1241
@tsandall what if  my input may or may not keys that should be evaluated the same?

Let's say this input where `bar` may be optional

[code]
And inside my rule either `input.foo` or `input.bar` should result in true

[code]

The above rule will always result in `false` if input won't have `foo` or `bar`, even though  another key could have the value `foo`.

I don't know how to resolve this apart f

[2019-03-11 17:35] tsandall commented on #1241
@almostprogrammer if you want "allow" to be true if either input.foo or input.bar equals "foo" you could write:

[code]

If **any** of the key values are equal to foo, then allow is true.

Alternatively, if you want to define the logic separately for re-use, you could use a helper function:

[code]

Note, this would be equivalent to defining allow twice:

[code]

[2019-03-12 16:55] tsandall opened #1251 "Improve parser performance for large-ish JSON values"
The parser should be able to efficiently parse JSON values. Currently a representative JSON input can take ~10-20ms to parse. Given that the entire evaluation budget is often on the order of milliseconds, this is too expensive. In many cases this can be avoided by parsing JSON inputs using the Golang `json` package, however, it can be problematic to predict when to use `json` and when to use `ast`

[2019-03-12 17:46] tsandall opened #1252 "Limits and pagination"
When queries are evaluated today, all results are returned to the caller. The caller does not have control over the number of results they receive.

In the Gatekeeper MVP, the sampled audit implementation will only be able to report a limited number of violations. While Gatekeeper can query for all violations and then discard extras, supporting limits within OPA would be advantegeous.

One option

[2019-03-12 18:46] tsandall opened #1253 "Anonymous OPA version reporting"
OPA does not currently include any kind of "phone home" feature which makes it difficult to gauge version adoption.

We propose adding version reporting feature whereby OPA would notify a central service that it had started (and what version it was running.) The version information is currently compiled into the binary so this would be as simple as sending a HTTP POST request to a public server.

[2019-03-12 19:15] glb opened #1254 "PATCH doesn't interpret JSON-Pointer escaping in the path attribute"
I have a document where I'd like to have `/` characters in the keys of an object, and I'd like to use `PATCH` requests to update the document contents. However, it seems that OPA isn't interpreting the escape string `~1` the way I'd expect it to, and if I use the `/` character without escaping OPA (correctly) interprets the string as a path with multiple levels.

# Expected Behavior

Because the d

[2019-03-12 19:17] glb commented on #1254
Digging into the code, I see that [ParsePathEscaped](https://github.com/open-policy-agent/opa/blob/fd86f74231f89ecb796cf6cd89d54400b6eb7bcf/storage/path.go#L35) expects the `path` attribute to be URL-escaped.

This works but is surprising ... I wasn't familiar with JSON-Pointer escaping using `~1` and can't say I'm a huge fan, but the documentation doesn't create the expectation that `%2F` would w

[2019-03-12 20:12] tsandall commented on #1254
@glb nice find! Thank you for the excellent bug report. Yes indeed, OPA should be unescaping ~1 and ~0 properly.

Two thoughts.

1. JSON Pointer only escapes '/' and '~' characters like you describe, but that means that URL unescaping should _not_ be performed. I'm a bit hesitant to change that behaviour right now.

2. Changing the `prepareV1PatchSlice` function to properly unescape ~1 and ~0 to '

[2019-03-12 20:44] glb commented on #1254
@tsandall agreed on 1 -- I would be similarly hesitant as others may be using the existing behaviour.

I was planning on updating `ParsePathEscaped` since it's the function that's currently doing the unescaping for `prepareV1PathSlice`. Make sense?

https://github.com/open-policy-agent/opa/blob/96289e8589e1fcda38e35d79628d3d1b66dbd61b/server/server.go#L1844

[2019-03-12 20:53] tsandall commented on #1254
@glb I'd rather deal with this in the HTTP server where we explicitly accept JSON Patch objects. The storage code doesn't make such guarantees. With that in mind, I'd only escape for the portion of the path in the JSON Patch, i.e., not the portion from the HTTP URL Path.

[2019-03-12 21:50] rogeduardo commented on #943
Hi,
I try the example, but the annotations foo don't appear on the nginx pod.
[code]
How can I debug this error?

[2019-03-12 22:21] tsandall commented on #943
@rogeduardo we have some debugging tips in this issue: https://github.com/open-policy-agent/opa/issues/1039.

[2019-03-13 14:38] rogeduardo commented on #943
@tsandall, I try yours tips but I dont see nothing wrong. Do you have more sugestions?

Result from the debug
$ kubectl get configmap -o yaml example
apiVersion: v1
data:
  example-mutation.rego: |
    package system

    main = {
        "apiVersion": "admission.k8s.io/v1beta1",
        "kind": "AdmissionReview",
        "response": {
            "allowed": true,

            # kube-apiserver onl

[2019-03-13 15:46] #1254 closed

[2019-03-13 16:14] agurney opened #1258 "http.send fails to yield a response body if it is not JSON"
# Expected Behavior

The [language reference](https://www.openpolicyagent.org/docs/language-reference.html#built-in-functions) describes `http.send` as simply returning the response body as a component of `output`. It sounds from the documentation that this `body` member ought to be a string, which could then be further processed with `json.unmarshal` if it's JSON, or otherwise if it's not.

# Act

[2019-03-13 17:03] tim-styra opened #1260 "SSH tutorial not working"
In the SSH tutorial, you're prompted for a password when you ssh for the first time, but no password or private key is provided in the tutorial.

Additionally, the step where you create the policy sshd_authz.rego works but yields some odd behavior from a Mac OS X terminal.

[code]

[2019-03-13 18:18] tsandall opened #1261 "with keyword doesn't yield correct result when applied to rules"
# Expected Behavior

The with keyword should be able to mock virtual documents.

# Actual Behavior

Queries that iterate over virtual documents are seeing the underlying values generated by rules instead of the mocked value.

Example:

[code]

Tested on

[2019-03-13 19:27] tsandall commented on #1258
@agurney thanks for filing this. The `raw_body` option feels like the right choice at this point.

I think we should do a few things...

1. Update the docs to reflect that `body` contains the (deserialized) JSON value from the response message body.

2. Extend the built-in function to return a `raw_body` field in the output if the response Content-Type does not specify `application/json` (note thi

[2019-03-13 19:27] tsandall commented on #1258
@ash-styra can you take a look at this?

[2019-03-13 19:29] ashutosh-narkar commented on #1258
Yes I will look into this.

[2019-03-13 19:57] tsandall commented on #943
@rogeduardo hrmmm. Could you turn on debug logging on OPA and paste the POST response body here? As a side note, I went back and updated the original example to include a default response which is needed if the admission controller is configured to fail closed,

[2019-03-13 21:09] tsandall commented on #1260
@ashutosh-narkar can you take a look at this?

[2019-03-13 21:13] ashutosh-narkar commented on #1260
Yes will try this out.

[2019-03-13 22:09] maxsmythe commented on #1252
What is the performance hit for queries that return result sets large enough for pagination?

It may be worth caching the result or providing some kind of cursor-like mechanism for progressive calculation.

[2019-03-13 23:48] ashutosh-narkar commented on #1260
We pushed the latest images for the PAM demo server and fixed the formatting for comments.

The tutorial works now.

[2019-03-13 23:52] #1260 closed

[2019-03-14 16:26] almostprogrammer opened #1263 "Question: checking if array does not include an element"
It seems that the only way we could find it out is to "filter" given array to get an array of filtered values and then compare its size to the original array's size.

I can describe this flow using rego syntax:

[code]

Is this the only way it's possible to find out an element is not included in array?
It is possible to have a separate function that would do this, but isn't there a built in functi

[2019-03-14 16:44] tsandall commented on #1263
You can write a helper function or rule:

[code]

Then refer to that in your policy:

[code]

If you're constructing the array inside your policy (i.e., it's not supplied as an input) then you consider using a set instead: `s := {"blue", "green"}; not s["red"]`.

[2019-03-14 16:49] almostprogrammer commented on #1263
Will future releases include some built-ins for such frequently used operations to remove the need of writing custom helpers?

[2019-03-14 16:54] tsandall commented on #1263
We've been kicking around the idea of a "for all" quantifier that would let you express "Does not exist" as well as other common patterns.

[2019-03-14 16:54] almostprogrammer commented on #1263
Cool, thanks!

[2019-03-14 17:48] rogeduardo commented on #943
@tsandall, thank you very much for your help. I dont know how to turn on debug logging on OPA.

[2019-03-14 22:06] ashutosh-narkar commented on #943
@rogeduardo To turn on OPA's debug logging start OPA with `--log-level=debug`.

[2019-03-15 15:25] agurney commented on #1258
Thanks for jumping on this so speedily! Taking a look at the PR now.

[2019-03-15 17:15] pwmorreale commented on #1253
You do realize that as security software, a (likely) good number of installations will turn this feature off thus possibly skewing the returned metrics?

IOW, it may be difficult to draw valid conclusions/trends from such incomplete data.

[2019-03-15 17:31] tsandall commented on #1253
We expect that in many deployments, the feature will either be disabled or outbound traffic will be firewalled. That said, I think any single metric we use to gauge adoption will be flawed. The best we can do is collect as many signals possible and then look at trends over time. As long as we're transparent about the metric collection, I think people will be understanding.

One thing I'll reiterat

[2019-03-15 18:25] glb opened #1267 "Dockerfile doesn't specify a non-root `USER`"
I'd like to be able to deploy OPA in k8s with a restrictive security policy without having to specify `runAsUser: {something}` in the pod's [security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/), because that leaks information about what userID is appropriate from inside the container out to the pod specification.

# Expected Behavior

If there is no reason

[2019-03-15 19:41] tsandall commented on #1267
@glb can you elaborate a bit on this:

Wouldn't putting `USER 1` inside the Dockerfile be leaky as well?

[2019-03-15 20:07] geekayush commented on #1194
Hi @timothyhinrichs  @tsandall
This idea interests me.
I am a frontend developer skilled in HTML, CSS, JS, jQuery, Bootstrap, Materializecss, Bulma and ReactJS. For the backend, I'll be taking NodeJS. I have a good knowledge of UI/UX as well.
As @pandyamarut stated above, Do we have any channel for communication?

[2019-03-15 20:34] rogeduardo commented on #943
@tsandall and @ashutosh-narkar, I found my mistake. I'm using the last version of opa, not the 0.6.1-dev, as tutorial say. Now, I'm getting other error. Opa container log print this message:
{"log":"2019/03/15 20:35:27 http: TLS handshake error from 127.0.0.1:47738: tls: first record does not look like a TLS handshake\n","stream":"stderr","time":"2019-03-15T20:35:27.167975825Z"}
{"log":"2019/03/15

[2019-03-15 20:38] tsandall commented on #943
@rogeduardo I recommend you run the most recent stable version of OPA (v0.10.5). The version you're referencing is over a year old. Please use a recent version.

The logs you've shared indicate misconfiguration or some kind of bug. I recommend running OPA v0.10.5 and kube-mgmt v0.8.

If you share the logs with those versions we can provide more support. :+1:

[2019-03-15 21:12] rogeduardo commented on #943
This log is since I created the opa service:
[code]

[2019-03-15 21:29] glb commented on #1267
@tsandall perhaps I'll phrase it a different way. When you put `USER 1` in the Dockerfile, the person writing the Kubernetes deployment (in this case) doesn't have to know what userid is safe to use in the container. It's not a problem that I can _discover_ that the container runs as `USER 1`, but it is a bit frustrating if I need to _figure out_ that the container _can_ run as `USER 1` (which cer

[2019-03-15 21:56] tsandall commented on #1267
We used to use scratch, however, since we added support for loading Go plugins we had to enable CGO. That requires libc so scratch and alpine are out. Distroless seemed like the best option since it's very lightweight and appears to be well-maintained.

I'm a bit worried about changing the USER in the Dockerfile because while the internals of OPA don't rely on root capabilities, if users are confi

[2019-03-16 00:28] glb commented on #1267
re: plugins: I'll have to take your word for it, that's something I haven't looked at yet.
re: "automating the injection of OPA into pods that need it", I don't know what that means, sorry. Could you elaborate?

For your concern: If a person needs to expose the container on `:443`, it's easy to bind a higher port internally and then map that port to `:443` on the host:

[code]

This is what I'd co

[2019-03-16 00:56] tsandall commented on #1267
Adding a rootless stream of the container image sounds like a good solution. I'd expect this to be something like...

[code]

I think it should be relatively easy to add this:

1. Create a new Dockerfile_rootless.in file
2. Update the Makefile to build/tag/push the rootless images where the other (regular and debug) images are handled

If you'd like to submit a PR for this, I'd be happy to merge t

[2019-03-16 18:18] timothyhinrichs commented on #1194
Hi Ayush.  Glad you're interested!  On OPA slack, there's a channel #gsoc19.

On Fri, Mar 15, 2019 at 1:07 PM Ayush Srivastava <notifications@github.com>
wrote:

[2019-03-17 17:00] tsandall commented on #1267
I forgot to reply to this comment:

The original problem you mentioned seems to be around making the OPA deployment configuration as simple as possible. One thing some users do is automatically inject the OPA container into pods that require it. There are different ways you can do this, e.g., inside a CD pipeline or as a mutating admission controller. This lets you control how the OPAs are deploye

[2019-03-17 21:19] glb commented on #1267
re: injection: aha, thanks for the clarification. Interesting.

PR is on its way, doing a test build now.

[2019-03-18 15:29] tsandall commented on #943
@rogeduardo The logs show that OPA returned an error while trying to load **example-mutation.rego** because there are multiple `default response` rules defined (you can only have one `default` per ruleset.) If you look at the configmap that's used to load the **example-mutation.rego** file you should see the error reported in the status.

What I suggest you do is undeploy the admission controller

[2019-03-18 17:21] #1267 closed

[2019-03-18 20:23] rogeduardo commented on #943
@tsandall, thank you! Now it worked! I saw where I made the mistake. The admission-controller.yaml from Validating Admission Controller create various object, among them the opa-default-system-main:
[code]
The conflict result from this object. When I dont create it, only yours example (example.rego), it works like a charm! Thank you for your patience. I will let here the admission-controller.yaml

[2019-03-18 21:31] tsandall opened #1272 "biunify errors ignored during eval tree enumeration"
# Expected Behavior

Errors that would occur during other phases of evaluation should occur during tree enumeration.

# Actual Behavior

When the eval tree phase evaluates rules as part of enumeration, errors are ignored.

# Steps to Reproduce the Problem

[code]

Query:

[code]

[2019-03-18 21:56] #1272 closed

[2019-03-19 21:47] #1258 closed

[2019-03-20 20:04] tsandall commented on #1263
Closing this issue for now. Thanks for opening it.

[2019-03-20 20:04] #1263 closed

[2019-03-20 20:10] tsandall opened #1274 "Introduce automation to help GC GitHub issues"
As the project gets older, we're going to continue to accumulate open issues. While many of the issues in the current backlog are valuable, it would be nice to have period reminders to clean up stale and out-of-date issues.

One option would be to run [prow](https://github.com/kubernetes/test-infra/tree/master/prow) on the OPA repo to manage issue lifecycle.

I'd like to avoid relying in prow for

[2019-03-20 20:18] tsandall opened #1275 "Improve performance benchmark visibility"
We currently have automation that periodically runs the benchmark suite against the tip of master and the last stable release. The results are posted to [http://opa-benchmark-results.s3-website-us-east-1.amazonaws.com/](http://opa-benchmark-results.s3-website-us-east-1.amazonaws.com/). This helps us identify performance regressions during development.

The script that generates the benchstat resul

[2019-03-20 20:24] tsandall opened #1276 "Improve test coverage reporting"
We currently have decent test coverage within core components of OPA however we don't have any automation to report coverage during the PR process (although test coverage is one of the main review criteria.)

It would be nice to have the test coverage results reported on PRs.

[2019-03-20 21:15] tsandall commented on #1276
Coverage as of 880d73f

[code]

[2019-03-21 15:48] tsandall commented on #1237
This will be resolved by #1277

[2019-03-21 15:48] #1237 closed

[2019-03-21 17:25] tsandall opened #1280 "Rewrite == to = in queries passed to the compile API"
# Expected Behavior

The compile API should not return drastically different results given `==` or `=` expressions. We need to avoid generating support modules in as many places as possible.

# Actual Behavior

Currently the compile API may return different results depending on whether the caller supplies `=` or `==` expressions when referring to rules with default values. The reason is that `==`

[2019-03-21 17:27] tsandall commented on #1171
We're getting rid of GitBook so we can close this. See #1277

[2019-03-21 17:27] #1171 closed

[2019-03-21 17:30] tsandall commented on #952
Fixed by #1259

[2019-03-21 17:30] #952 closed

[2019-03-21 17:32] tsandall commented on #633
The outstanding best practice items have been fixed in #1268

[2019-03-21 17:32] #633 closed

[2019-03-21 17:33] tsandall commented on #632
This example has been lost to the Slack archive which we don't have access to. IIRC, the example included some examples of search which are covered by #1268

[2019-03-21 17:33] #632 closed

[2019-03-21 17:35] tsandall commented on #268
Fixed by 8d9422774f44690ea4164a89cafbbbe9a1705617

[2019-03-21 17:36] #268 closed

[2019-03-22 14:36] jcdietrich opened #1281 "Can not return a composite value if possible to match multiple rules."
# Expected Behavior
I'm not exactly sure what the best result would be. Perhaps when the values for a given key aren't the same, return an array of values assigned to the key?
[code]
# Actual Behavior
It produces the error `eval_conflict_error: complete rules must not produce multiple outputs`

# Steps to Reproduce the Problem
[code]
[code]
yields
[code]
and
[code]
yields
[code]
but
[code]
yields

[2019-03-23 02:54] Infi-Knight commented on #1243
I know this was supposed to be a "low-hanging-fruit" but I am stuck and would really appreciate some help:
Going through the code I think that I need to follow these steps:
1.  Register `ArraySlice` in `ast/builtins.go`
2. Implement and register `builtinArraySlice` in `topdown/array.go`
3. Write requisite tests and make sure it works

For the first step I wrote following code:
[code]

For the seco

[2019-03-24 05:05] kenfdev opened #1282 "IAM sample doesn't allow policies as expected"
# Expected Behavior

Looking at the [Comparison to Other Systems](https://github.com/open-policy-agent/opa/blob/master/docs/book/comparison-to-other-systems.md#amazon-web-services-iam), the IAM policies' wild card doesn't seem to be working.

[code]

According to the rules above, the input below should be allowed.

[code]

# Actual Behavior

The `Output` turns out to be empty (not allowed).

# Ste

[2019-03-25 19:02] tsandall commented on #1281
@jcdietrich I'm curious how your policy would look if you used incremental definitions instead of complete definitions. E.g:

[code]

The question becomes how to resolve conflicts (e.g., if the set contains {permit: true, ...} and {permit: false, ...} what happens? In OPA, the philosophy is that this ought to be resolved in the policy. One option would be to separate allows from denies.

[code]

T

[2019-03-25 21:06] tsandall commented on #1282
@kenfdev that's correct. I think there was misunderstanding about how the `regex.globs_match` built-in function was supposed to work (the author was assuming it was going to act like a wildcard/shell glob).

If you could submit a patch to the docs to make the actions and resources specify regexp patterns like you did in the "Additional Info" section of your issue, that would be great. Thanks! :+1:

[2019-03-25 23:21] alindeman commented on #1211
I started scoping this out a bit, and since I'm relatively new to OPA development, I'd like some validation on my thoughts:

First, I think we need some way to get valid keys into `data`. My understanding is the options are similar to options 2-4 from [Best Practices: Identity and User Attributes](https://www.openpolicyagent.org/docs/best-practice-identity.html). Basically, the JWKS keys could be

[2019-03-25 23:26] repenno commented on #1211
I have been working on this for some time so we should talk if you are interested

[2019-03-25 23:29] alindeman commented on #1211
@repenno Sure, how can I help?

[2019-03-25 23:55] kenfdev commented on #1282
Thank you for the clarification @tsandall ! Will make a small PR for this.

[2019-03-26 00:57] tsandall commented on #1243
@Infi-Knight You'll need to use `RegisterFunctionalBuiltin3` instead of `RegisterFunctionalBuiltin2` here. The former takes accepts 3 parameters while the latter only accepts 2.

[2019-03-26 01:10] tsandall commented on #1211
Extending `io.jwt.decode_verify` to support alternative formats like JWKS sounds reasonable to me. This is a (relatively) conservative addition that composes nicely with options 2-4 from that document. In the future we could explore more sophisticated built-ins that fetch the JWK sets on the fly. The same goes for processing JOSE headers. Thoughts?

[2019-03-26 01:15] #1282 closed

[2019-03-26 01:15] tsandall commented on #1282
Thanks @kenfdev!

[2019-03-26 01:16] tsandall commented on #1282
Thanks @kenfdev!

[2019-03-26 03:04] repenno commented on #1211
@alindeman I will commit what I have to a branch and we can discuss.

I spent a considerable amount of time evaluating GoLang JWT libraries that can read, sign and encrypt JWK/JWS. I looked at Square's JOSE,  JWT-Go (https://github.com/dgrijalva/jwt-go) and JWX-Go (https://github.com/lestrrat-go/jwx).  I chose the latter to add to OPA's vendor directory. It is small, clean, very much customizable

[2019-03-26 14:30] pandyamarut commented on #1215
@tsandall Can you be more precise ?
Thanks.

[2019-03-26 18:54] alindeman commented on #1237
This is still in `To do` on the board. It can probably be moved to Done.

[2019-03-26 19:31] patrick-east opened #1289 "Enhancement: Add addition network CIDR builtins"
# Enhancement Description
We currently support some initial CIDR builtins from #897 but it would be useful to add some additional helpers for checking if two ranges overlap and if one is fully contained inside another for use in whitelist and blacklist checks.

# Proposal

Add in two new methods:
[code]
We can then deprecate the `net.cidr_overlap` built-in and replace it with the `net.cidr_contain

[2019-03-26 20:08] tsandall commented on #1211
Since OPA is embedded as a library in many use cases, we need to avoid thirdparty dependencies. Transitive dependencies introduce potential for version conflicts which we don't want to deal with.

In this case, the cost of adding a thirdparty dependency is not worth it.

[2019-03-27 01:14] lstoll commented on #1211
@tsandall is the suggestion then to greenfield implement/fork an implementation of the various JWT* in to this codebase? That seems problematic in it’s own way too. The codebase already has several dependencies, I what is the deciding criteria for any particular dependency?

Has any thought been put in to ways to potentially handle optional/opt-in functionality?

[2019-03-27 03:59] repenno commented on #1211
@lstoll That's pretty much what I told @tsandall offline. We have three feature requests for JWT: #1174 #1131 and this one. This amounts to pretty writing an entire JWT suite from scratch (it has lots of problems on its own), levering a library or forking and adapting a library.

The library that I proposed is small, clean and easy to integrate. The main person is also very active and responds qui

[2019-03-27 09:24] urvil38 opened #1291 "Add support for graceful shutdown of OPA server"
OPA should wait for active connection to gracefully handled and then shutdown.

[code]

[2019-03-27 14:28] tsandall commented on #1237
Thanks @alindeman.

[2019-03-27 20:45] Arkessler opened #1293 "Input Documentation Unclear"
# Expected Behavior

Documentation at: https://github.com/open-policy-agent/opa/blob/master/docs/content/docs/how-does-opa-work.md should have a more accurate example of a valid input document

Example input document:
[code]
# Actual Behavior

Example input document:
[code]
As is, the example seems to suggest the "input" key is optional. This is especially misleading when passing input through a j

[2019-03-27 23:06] F21 opened #1294 "Document how statements in a rule body are evaluated"
I am new to rego and do not have any experience with datalog.

I spoke to @ashutosh-narkar on slack and was somewhat surprised to learn that on line 62 of https://play.openpolicyagent.org/p/OllKtocCdQ , `group_id` is a string and line 63 will be invoked multiple times for each `group_id`.

My initial assumption was that line 62 is executed once and `group_id` will be a set containing multiple stri

[2019-03-27 23:08] F21 opened #1295 "Make it possible to link and highlight a line in the playground"
It would be nice if lines in the playground are link-able and highlight-able, similar to gist on github. This would make it possible to share a link to a specific line to the input, output or policy in a playground document.

[2019-03-27 23:56] timothyhinrichs commented on #1295
That would be great.  Thanks for the suggestion!

[2019-03-28 12:54] klarose opened #1296 "io.jwt.decode_and_verify does not support non-integer time claims"
# Expected Behavior
[rfc7519](https://tools.ietf.org/html/rfc7519#page-10) states that a NumericDate can be a non-integer value (at least, that's my read of it).  The `exp`, `nbf` and`iat` fields are NumericDates. I expect `decode_verify` to support verifying fractional seconds since the epoch for those claims.

If the jwt library doing the validation only supports integer values, I suppose we can

[2019-03-28 17:01] #1289 closed

[2019-03-28 22:44] tsandall commented on #1293
@Arkessler thanks for filing this. I propose we add a paragraph in that section after the example policy that show show you can invoke the policy. For example:

To supply the `input` document, query OPA using the POST method.

[code]

[code]

[2019-03-28 22:48] tsandall commented on #1294
@F21 the _How Do I Write Policies?_ page goes into detail on different concepts and constructs in the language. We've also updated the docs with a more detailed FAQ and Rego cheat sheet that'll be live soon. You can see a preview here: https://openpolicyagent.netlify.com/docs/.

I'm going to close this issue because I don't think there's any more work to do.

[2019-03-28 22:48] #1294 closed

[2019-03-28 23:18] tsandall commented on #1296
@klarose Thanks for filing this. The RFC does indeed state that NumericDate is a JSON numeric which may be integer or floating point. I'd expect the JWT decoding built-ins to cope with this. Labeling this as a bug and help-wanted.

I think the fix could be:

* Remove usage of strconv.ParseInt entirely
* Create new ast.Number from constraints.time (or lookup on operand)
* Use ast.Compare(nbf.Value,

[2019-03-31 01:27] istalker2 opened #1303 "net.cidr_contains evaluates incorrectly"
Expression:
[code]

Expected result:
[code]
Actual result:
[code]

[2019-04-01 01:15] tsandall opened #1305 "Add CompiledQuery parameter to Rego package"
The Rego package exposes parameters to pass queries as strings as well as parsed queries. The latter are more performant than raw strings because the package doesn't have to invoke the parser on every evaluation call. We could improve performance further by supporting compiled queries as parameters.

If compiled queries are passed to the Rego package, the rest of the code will need to make sure no

[2019-04-01 15:00] #1303 closed

[2019-04-01 16:11] Arkessler commented on #1293
Will do! Just going to take a bit of time before I can get to it

[2019-04-02 07:54] quangtkfossil opened #1306 "Cannot find bundle after download"
I tried to read many times your document to understand how to configure. But when I tried to put the path of the bundle to Rego then got an error.

[code]

My config file:
[code]

And then when I change the value of `default_decision` to use a dot: "http.example.profile".
Then I got an error:

[code]

[2019-04-02 09:38] ghost opened #1307 "Document typical "for all" patterns"
I cannot find in the docs how to validate every element of the array

So, now I'm using this trick as a temporary solution
[code]

[2019-04-02 20:29] ashutosh-narkar commented on #1306
You can run `opa run bundle.tar.gz` to debug your bundle and check if it is correctly structured.

Can you paste the output of `tar tzf bundle.tar.gz`  and your policy ?

Also `default_decision` should be `/http/example/profile` not `http.example.profile`.

[2019-04-02 20:52] ashutosh-narkar commented on #1307
@almostprogrammer See this example https://play.openpolicyagent.org/p/J0i0L5snjQ

[2019-04-03 03:23] quangtkfossil commented on #1306
@ashutosh-narkar : I run the opa command and it can read bundle but can't access the variable.

[code]

This is an output of untar bundle.
[code]

and my policy:
[code]

[2019-04-03 14:53] tsandall commented on #1307
@almostprogrammer your solution is correct though you can omit the first expression (`input.elements`) because if `input.elements` were undefined or empty then `exceptions` will be `[]`. Note, if you want to ensure that every element satisfies some requirements AND the elements array is non-empty, you could adjust the first expression to be `input.request != []`.

The only other thing I'd change i

[2019-04-03 15:27] #1243 closed

[2019-04-04 09:44] quangtkfossil commented on #1306
Can anyone help me, pls?

[2019-04-04 14:54] tsandall commented on #1306
@quangtkfossil you're seeing the "var permission is unsafe" in the REPL because you're inside the wrong package. If you run `package rbac.authz` inside the REPL and then run `permissions` it'll work. Alternatively you can run `data.rbac.authz.permissions` from the default package in the REPL and see the same value.

As far as your original comment goes, I'm a bit lost:

1. Please post more logs. I

[2019-04-05 03:39] quangtkfossil commented on #1306
Hi @tsandall : Thank for your response. Now I understand about the unsafe error.
And about the error `no match found`, I have printed in OPA parser and saw the log panic from: `opa/ast/parser.go`.
[code]

With config I used:
[code]
How do we fix it?

[2019-04-05 17:03] Arkessler opened #1316 "Support importing user defined functions"
Not sure how feasible this is, but it would great to be able to import user defined functions. One use would be abstracting commonly used functions shared between multiple policies. If this is impossible to implement (or already possible to do?) I'd appreciate better understanding why/how.

# Expected Behavior

common_functions.rego:
[code]
policy_A.rego:
[code]

[2019-04-05 17:56] tsandall commented on #1306
@quangtkfossil the config you posted does not parse:

[code]

You can fix it by nesting the service properly:

[code]

[2019-04-05 18:04] patrick-east commented on #924
After some discussion with @tsandall the proposal is that we will add in some new CLI options to allow overriding config variables with a `--set KEY=VALUE` syntax (similar to Helms CLI for those that are familiar with it).

To support loading environment variables it will support passing in `${...}` notation values which will be evaluated inside of OPA (before passing config to plugins).

This pro

[2019-04-05 18:11] tsandall commented on #1316
@Arkessler you can do this today. All rules (which covers, functions, they're just rules that take arguments) can be packaged and imported. For example:

[code]

[code]

[2019-04-05 18:25] Arkessler commented on #1316
Thanks for the example! I hadn't thought to try importing it using the full data.* path. Much appreciated :)

[2019-04-05 18:25] #1316 closed

[2019-04-06 19:43] tsandall commented on #1306
I'm going to close this issue because there doesn't appear to be an issue with OPA here. @quangtkfossil you should make sure you're running OPA correctly like I showed in my last comment.

[2019-04-06 19:43] #1306 closed

[2019-04-08 14:59] pandyamarut commented on #1280
@tsandall Can you point me to the source.
Thanks.

[2019-04-08 15:05] tsandall commented on #1291
We've had users request better support for graceful shutdown of the OPA server deployed in the Kubernetes admission control use case. What I think we would be good is to extend OPA with a command line flag that lets users set the graceful shutdown period, e.g., `opa run --server --graceful-shutdown-period=30s`. When a SIGTERM is received, OPA should wait for the shutdown period before exiting. @pa

[2019-04-08 15:06] tsandall commented on #780
Now that we have support for custom decision loggers, it's possible for users to implement this kind of behaviour on their own by building from source. I'm going to close this issue since we haven't heard of any other use cases since.

[2019-04-08 16:10] tsandall opened #1321 "partial eval: elide single term expressions in results"
[code]

Partially evaluating`allow = true` from the above with:

[code]

Results in:

[code]

We should avoid emitting the second expression if possible.

[2019-04-08 17:32] patrick-east commented on #1291
Can do. One clarification, we want to let active connections finish *and* stop accepting new ones? Or allow new ones in the grace period too?

[2019-04-08 17:37] tsandall commented on #1291
I think it's OK to accept new connections during the shutdown period for now. In k8s, the endpoint will get removed, so the OPA should stop receiving new requests. We can revisit in the future as needed.

[2019-04-08 22:52] tsandall commented on #1280
@patrick-east is looking into this.

[2019-04-09 07:31] pandyamarut commented on #1280
@tsandall No issues. Will look for another issue now.
Just for reference in future, It'll be great if we tag already assigned Issues with tags like 'assigned' or any similar.
Thanks.

[2019-04-10 14:54] #1291 closed

[2019-04-10 17:39] #924 closed

[2019-04-11 12:31] alkar commented on #1039
Perhaps slightly out of topic, but I think it would immensely help development or rego policies if we could run the repl against live data. Is this something that's been considered already?

[2019-04-11 16:37] tsandall commented on #1039
Connecting to a remote data source would be cool. It's something we've thought about in the past but never got around to. It's certainly possible but it would take a bit of work.

One challenge with connecting to live data sources is that they're...live. Meaning the data will be changing under your feet while you test the policy. This can cause more pain than it's worth.

Nonetheless, I think this

[2019-04-12 09:27] ashutosh-narkar opened #1333 "Test Experimental Automated Kanban With Reviews board"
This is an issue for testing the `Automated Kanban With Reviews` board.

[2019-04-12 09:32] ashutosh-narkar commented on #1333
Testing `close issue` feature of the `Automated Kanban With Reviews` board.

[2019-04-12 09:32] ashutosh-narkar commented on #1333
Testing `re-open issue` feature of the Automated Kanban With Reviews board.

[2019-04-12 09:33] #1333 closed

[2019-04-12 17:13] #1280 closed

[2019-04-12 18:30] tsandall commented on #1227
We don't have plans to prove this for the time being. In the future, we may move SQL translation into OPA proper as a first-class feature.

[2019-04-12 18:30] #1227 closed

[2019-04-12 18:32] tsandall commented on #1221
Closing this for now as the current caller-supplied unknowns approach seems to be working. We can revisit how unknowns are specified in the future.

[2019-04-12 18:32] #1221 closed

[2019-04-12 18:33] tsandall commented on #1220
We don't have plans to add this feature for the time being. We can always revisit it in the future.

[2019-04-12 18:33] #1220 closed

[2019-04-12 18:37] tsandall commented on #1217
We don't have plans to improve this in the near future. Closing for now.

[2019-04-12 18:37] #1217 closed

[2019-04-12 18:45] tsandall commented on #1148
Closing for now. I think we have a reasonable solution that doesn't entail changes to the language.

[2019-04-12 18:45] #1148 closed

[2019-04-12 18:57] tsandall commented on #1091
We're not planning to do this in the near future. Since the tutorials are already self-driving, Katacoda only really helps with environment setup which is of minimal value for the current tutorials (which are light on environment complexity).

[2019-04-12 18:57] #1091 closed

[2019-04-12 18:58] tsandall commented on #1058
Closing this due to inactivity.

[2019-04-12 18:58] #1058 closed

[2019-04-12 19:01] tsandall opened #1334 "Create a stdout or logrus based decision logger"
The default decision logger backend buffers records and periodically uploads them. In many cases it would be simpler to just send the decision logs to stdout or stderr. This would also be useful for debug purposes.

Over time the decision logger could replace the Apache style server logging for decisions.

[2019-04-12 19:03] tsandall commented on #1020
This is related to #1153

[2019-04-12 19:06] tsandall commented on #906
This has been disabled for several months because of issues in FOSSA. Closing for now. We can revisit the FOSSA integration in the future.

[2019-04-12 19:06] #906 closed

[2019-04-12 19:09] tsandall commented on #779
We know of at least one OPA user that is implementing scrubbing/redaction on the decision log server side. I would be interested to learn whether scrubbing/redaction _really_ needs to happen in OPA proper.

[2019-04-12 19:13] tsandall commented on #709
We optimized negation in v0.10 so closing this for now.

[2019-04-12 19:13] #709 closed

[2019-04-12 19:14] tsandall commented on #660
We don't have plans to work on this in the near future. The trace notes are not heavily utilized at this time.

[2019-04-12 19:14] #660 closed

[2019-04-12 19:14] tsandall commented on #659
See #660

[2019-04-12 19:14] #659 closed

[2019-04-12 19:17] tsandall commented on #520
Closing this due to inactivity. We could revisit in the future based on demand.

[2019-04-12 19:17] #520 closed

[2019-04-12 19:18] #485 closed

[2019-04-12 19:19] tsandall commented on #429
At minimum we need to clearly document the behaviour.

[2019-04-12 19:22] tsandall commented on #333
Closing this due to inactivity. Common use case would be expressing "for all" logic.

[2019-04-12 19:22] #333 closed

[2019-04-12 19:23] tsandall commented on #234
Closing this due to inactivity.

[2019-04-12 19:23] #234 closed

[2019-04-13 01:41] #908 closed

[2019-04-13 01:43] tsandall commented on #908
This was fixed in v0.10.2

[2019-04-14 07:01] spellr opened #1336 "API to tell OPA to download a new bundle"
Right now, when changing a bundle, we need to wait for all OPAs to download the new bundle periodically, and update their policies. This can raise security issues, and also make neighboring OPAs to have conflicting states/decisions.

A possible work-around can be shortening the download frequency, but that can create constant load on the bundle server.

It would be great to have an API endpoint in

[2019-04-15 11:46] srenatus commented on #1336
I suppose there's alternatives serving the same goal? I.e., some kind of _subscription mechanism_ for bundle downloading? (like using long polling, websockets, sse, ... whatever's appropriate)

[2019-04-15 20:49] tsandall commented on #1336
Like @srenatus mentions, this is somewhat related to #1055.

One option would be to extend the OPA API to include a bundle resource.

[code]

I could imagine it being useful to have an API that returns the bundle status (activated, errors, timestamps, etc.)

[code]

@timothyhinrichs WDYT?

[2019-04-16 13:59] nhw76 opened #1340 "Support AWS signatures for bundle HTTP operations"
# Use case

It would be useful to us (and I suspect to others) to source a bundle from an AWS S3 bucket directly without an interposing web service. Managing access to the bundles using native AWS IAM is desirable, which implies a need for the bundle request to include a signed authentication header.

# Proposal

OPA could leverage the AWS Go SDK to sign requests; with this option being selected a

[2019-04-16 18:13] tsandall commented on #1340
@nhw76 I agree that this could be generally useful for people deploying on AWS. I'm wondering if we can avoid the dependency on the AWS Go SDK.

Would you be configuring OPA with an access key/secret or relying on the SDK to fetch and refresh credentials from the EC2 metadata service?

[2019-04-16 21:03] nhw76 commented on #1340
@tsandall I had been assuming a dependency on the session management in the AWS SDK to bootstrap the credential chain to include the EC2 metadata service / config file / environment variable options that are idiomatic for the SDK and handle refreshing.

However, I do see that since I started doodling this the contributor's guide has been updated to indicate a bias against vendoring. For my particu

[2019-04-17 04:22] #1293 closed

[2019-04-17 14:28] #874 closed

[2019-04-17 19:21] patrick-east opened #1346 "Older gitbook doc urls are broken with netlify doc site"
# Expected Behavior

Existing links to OPA documentation has URL's like:

https://www.openpolicyagent.org/docs/get-started.html

That should be supported as we transition to the new doc engine.

# Actual Behavior

With the netlify site as of now they are 404's, the new url is at:

https://www.openpolicyagent.org/docs/latest/get-started

or

https://www.openpolicyagent.org/docs/v0.10.7/get-started/

[2019-04-17 19:29] patrick-east opened #1348 "steps for serving hugo docs locally doesn't work as expected"
# Expected Behavior
Following the readme directions at https://github.com/open-policy-agent/opa/tree/master/docs#run-the-site-locally-using-docker we are supposed to be able to get a local version of the docs running.

# Actual Behavior
First up is a typo in the docs makefile target:

[code]

Looking at the Makefile source it appears `docker-serve` is the right one..

There is then an error like: