[2022-06-19 09:23] Joffref opened #4793 "Internationalizing documentation"
## What part of OPA would you like to see improved?
I think OPA should include some other languages in its documentation.

I'm planning to do, if you agree, the translation of the documentation in French. At least the Introduction.

[2022-06-19 11:32] srenatus commented on #4748
The tests often pass. The assertions seem contradicting but they are not: first the bundle is activated, and on the second try, its activation is unnecessary and skipped.

[2022-06-19 12:41] Joffref commented on #4748
Maybe a missing time.Sleep ?

[2022-06-19 12:57] anderseknert commented on #4793
That's an interesting idea @Joffref 🙂

And it's probably not a big thing to do from a technical POV, as I assume Hugo supports this well. I think the big challenge would be how to keep this maintained over time. If we update the docs — and we do all the time! — unless we have someone — and ideally at least two people, since we'd want to have someone reviewing as well — fluent in that second langua

[2022-06-19 13:07] anderseknert commented on #4787
@srenatus yes, seems so:

[code]

[2022-06-19 14:11] srenatus commented on #4793
At the very least, we could add a section linking the non-english resources known today. They don't quite fit well in the ecosystem category.

[2022-06-19 17:23] ashutosh-narkar commented on #4782
If we are using shared storage and you rename the final bundle file to the same name, is the assumption that all OPA instances use the same bundle? We may have unique temp file name but after the temp file is persisted it's renamed to `bundle.tar.gz`.  If the OPAs are configured to load unique bundles, this would not work, correct or am I misunderstanding this ?

[2022-06-20 05:13] odidev commented on #4591
Hi Team,

I have successfully tested the opa binary for arm64 platform using [opa-wasm-builder](https://hub.docker.com/repository/docker/odidev/opa-wasm-builder/tags?page=1&ordering=last_updated) docker image. I have created opa-wasm-builder docker image using this [README.md](https://github.com/open-policy-agent/opa/blob/main/wasm/README.md) file for arm64 platform. Using this image, I have succe

[2022-06-20 05:31] #4789 closed

[2022-06-20 05:48] srenatus commented on #4591
Sure! I think it's been the wasm e2e tests: https://github.com/open-policy-agent/opa/blob/c54ddd31d7f4e8d84d8f9aa8f7e907245c1f8c3f/Makefile#L144

[2022-06-20 05:50] srenatus commented on #4591
For completeness' sake, most our tests are Golang unit tests: the binary smoke tests only assert that the binary does something; as opposed to failing to find some lib or such a thing. We'd need to pass `make test` on a platform, too.

[2022-06-20 06:08] #4754 closed

[2022-06-20 06:44] srenatus commented on #4787
It looks like we're hitting this condition where:

1. `doc` contains your data, `{"a": {"metadata": "interesting"}, "b": {"metadata": "other" } }` [here](https://github.com/open-policy-agent/opa/blob/v0.41.0/topdown/eval.go#L2048) and
2. `e.node`, the retrieved rule tree node, also has an `a` key [here](https://github.com/open-policy-agent/opa/blob/v0.41.0/topdown/eval.go#L2090)

we then call biun

[2022-06-20 08:37] odidev commented on #4591
Hi @srenatus

I have run the test that you have suggested and both of the tests successfully passed on the arm64 platform using ``` sudo make wasm-sdk-e2e-test``` and ```sudo make test``` command. I have also attached the logs.

[code]

[code]

[2022-06-20 08:55] srenatus commented on #4591
Thanks a lot @odidev. This is certainly reassuring, but we can't expect you to manually run these things before each release 😅

Is there any way to run the tests on arm64 without maintaining manual GHA runners? Is there anything we could "plug in" and forget...? 🤔

[2022-06-20 09:25] srenatus commented on #4787
Fun fact, wasm does the right thing:

[code]

[2022-06-20 10:46] alin-florin-ciu-db opened #4795 "Decision Logs/Status API payload transformation"
## What part of OPA would you like to see improved?
Decision Logs and Status API - specifically, the payload formats.
Going forward, being able to alter the JSON format of these two events might be useful when integrating with certain external systems.
Some services require a certain payload format in order to store/process data and as of today OPA doesn't have a way of customizing decision logs a

[2022-06-20 12:03] srenatus commented on #4795
I like the `package jsontransform` idea there. Using Rego wherever we can is appreciated 😎 That said, I wonder if the configurability is really needed. If there's only our current format, GCP, and AWS (I'm sure there's something AWS-y here, too), we could hardcode those.

That said, I believe the previous approach there was creating custom plugins. Is that a viable approach for you?

[2022-06-20 12:41] alin-florin-ciu-db commented on #4795
Having a set of hardcoded formats could be the easiest way of plugging in this functionality, I agree.
However, the solution based on REGO offers greater flexibility, and I'm mainly thinking about these 2 points:
- it would allow integration with any format out there, not just the PubSub/SQS/etc formats that maybe would be changed in the future, as well.
- it allows for plugging in extra data in s

[2022-06-21 07:47] anderseknert commented on #4791
Thanks @abhisek! I think I like the "good enough" solution better than the "ideal" one, as I think it offers less surprises to keep things explicitly defined.  Any particular reason not to do it that way?

Is this something you'd like to work on? 😃

[2022-06-21 07:51] srenatus commented on #4791
I agree with less surprises. The only caveat I see in the "good enough" solution is that you could think that the location in the config determines the order in which they're tried -- but we can't do that since it's object keys and objects aren't ordered. So the ordering will have to be hardcoded, but the appearance of keys there (`profile_credentials`, `environment_credentials` etc) will determin

[2022-06-21 08:39] anderseknert opened #4797 "Confusing coercion of floats when used as map keys"
While unlikely to be a problem in real-world policies, this coercion of float-value keys in maps is pretty confusing:
[code]

[2022-06-21 11:50] srenatus commented on #4711
Looks like it's OK to close? We can always re-open 🧹

[2022-06-21 11:50] #4711 closed, assigned to nobody

[2022-06-21 12:01] srenatus commented on #4766
Hello there! I've just opened a second PR, #4801, to address the second bug we've cornered here.

I've pushed both commits to an extra branch for experimenting, and I might be missing something -- it's been a while -- but `go run main.go` now passes without trouble for me. [Please try this branch.](https://github.com/srenatus/opa/tree/sr/issue-4766)

[2022-06-21 13:59] anderseknert commented on #4329
Closing this issue for now. @v3n let me know if your problem could not be solved by the solution suggested above, and I'll reopen.

[2022-06-22 03:57] alekov87 commented on #3749
Hey everyone, what's the status of this issue? Is anyone working on it? @mehrankamal @ashutosh-narkar
Thank you

[2022-06-22 08:09] anderseknert commented on #3749
I don't believe anyone is working on this @alekov87 ... let me know if you want to take a shot at it :)

[2022-06-22 08:23] alekov87 commented on #3749
@anderseknert I could, but I'm curious how long it would take for PR to be merged and this feature to be released in a latest version of OPA?

[2022-06-22 08:38] anderseknert commented on #3749
We try to keep a monthly release cadence, with a new release published by the end of each month… so if you’re fast this could make it into OPA v0.42.0… no stress 😄

[2022-06-22 08:55] alekov87 commented on #3749
Nice! Do you know when is the cut out date for v0.42.0? 😃

[2022-06-22 09:09] srenatus commented on #4646
Good news. We've located another `user.Current()` call in the transitive deps of badger, which was introduced in 0.39.0. I'm hoping that #4805 will make a difference for you, too. If you wouldn't mind trying the binaries from that PR, I'd appreciate that.

[2022-06-22 09:25] anderseknert commented on #3749
We don't have fixed dates for releases, but I'd guess by the end of next week. Feel free to join the #development channel on the OPA slack if you have questions, or want to provide updates, along the way :)

[2022-06-22 09:44] srenatus commented on #4782
I'd like to let @ashutosh-narkar take this one. I think your rename approach in the PR is a decent way to go.

I'm still somewhat hesitant about sharing the persistence directory... it's used by the OCI bundle downloader, too, and I don't know if those code paths are happy with having multiple instances share a directory. (I don't know if they use renames when writing to that dir, or if they lock

[2022-06-22 11:25] #4748 closed

[2022-06-22 12:39] srenatus commented on #4787
💭 @jeniawhite @eyalkraft @uri-weisman Perhaps you would like to give it a shot? 😃

[2022-06-22 12:49] wermerb commented on #4646
Hey, @srenatus thanks for the update. I would be happy to test it. Unfortunately im not so familiar with Github actions could you point me where can i find the corresponding binaries?

[2022-06-22 12:56] srenatus commented on #4646
https://github.com/open-policy-agent/opa/actions/runs/2541221364 Please try the binaries from here, from the Artifacts section on that page 😃

[2022-06-22 13:24] srenatus commented on #4646
Yay. This makes me happy

[2022-06-22 13:25] srenatus commented on #4646
I'll close this. The next release will come with the fix. Thanks for bearing with me!

[2022-06-22 13:25] #4646 closed

[2022-06-22 13:46] wermerb commented on #4646
Thank you sir :)

[2022-06-22 14:36] eyalkraft commented on #4787
We'll try and have a look on it soon 👍

[2022-06-22 17:33] jguenther-va commented on #4766
@srenatus on the [`sr/issue-4766`](https://github.com/srenatus/opa/tree/sr/issue-4766) branch (commit 3c400b81) I'm now seeing a different error:

[code]

not sure what the difference is here that you're not seeing that error, just double checked and the only change after the original PR description was the 2 policy files mentioned in [this comment](https://github.com/open-policy-agent/opa/issues/

[2022-06-22 17:52] srenatus commented on #4766
[code]
This is consistent with not having [ ] around the "foo" argument, see the last parts of https://github.com/open-policy-agent/opa/issues/4766#issuecomment-1156239146

[2022-06-22 18:28] jguenther-va commented on #4766
@srenatus whoops my bad, just checked and the fix from `sr/issue-4766` does indeed fix our actual usage of `every` where we originally saw this problem

many thanks _!_

[2022-06-22 18:30] ashutosh-narkar commented on #4112
Initial work for the `e2e` mode has been completed as part of [this](https://github.com/open-policy-agent/opa/pull/4788). Support for authn/authz  and config file is not addressed in these changes.

[2022-06-24 06:31] srenatus commented on #4648
https://github.com/oras-project/oras-go/issues/49 done, alpha release out.

[2022-06-24 07:29] #4765 closed

[2022-06-25 04:12] abhisek commented on #4791
Thanks @anderseknert @srenatus for your feedback.

Should we go ahead with _Good Enough_ solution? We can maintain an internal ordering for the credentials provider in line with default AWS SDK behavior.

I can take this up. Feel free to assign it to me.

[2022-06-25 11:11] anderseknert commented on #4791
Go for it! 👍 Feel free to use the #development channel on the OPA slack should you have any questions in the process. Or here , of course :)

[2022-06-27 07:20] anderseknert opened #4813 "Remove unused data from the YAML test suite files"
Due to a migration in the past (I think), most of the YAML test files contain data which aren't used in the tests. This is confusing to new contributors, annoying for everybody... and with external projects starting to use the test suite for e.g. compliance testing of IR implementations, this cruft is no longer just an internal concern. In order to improve this, we should purge the YAML files from

[2022-06-27 10:43] anderseknert opened #4814 "opa deps fails to identify dependencies in some cases"
From `test/cases/testdata/elsekeyword/test-elsekeyword-1059.yaml`:

[code]

Moving the module into a `test.rego` file and running `opa deps` on the query provided in the test case:
[code]

This isn't right, since there are dependencies to base documents from the `else` clause of the `refs` rule, which `opa deps` seemingly fails to account for.

[2022-06-27 14:46] philipaconrad commented on #4797
@anderseknert Is this something you think we can resolve with better docs?

The [JSON spec's section on Objects](https://datatracker.ietf.org/doc/html/rfc7159#section-4) has a grammar definition that requires all keys in a JSON object to be strings, so I assume that's why the OPA implementation coerces floats to string values here-- we're trying to match the JSON spec.

[2022-06-27 19:32] srenatus commented on #4797
Rego has always been allowing keys to objects that aren't strings, and when the Rego rubber hits the JSON road, we need to do something about that. So we've been converting everything to strings, for better or for worse. There are known clashes, already, when using `"1"` as an object key while also having `1` as key -- we'll need to pick something. But for floats, this just seems particularly conf

[2022-06-27 19:46] anderseknert commented on #4797
Indeed, it isn't the number -> string coercion that's troubling here, but how `1.0 == 1`... maybe, maybe not :)
The example in the first description (which Stephan provided on Slack) was really my "favorite" one, where the _order of idential entries_ in the map determines the number of items in the output 😄

[2022-06-27 19:47] anderseknert commented on #4797
Javascript does this correctly, I think:
[code]

[2022-06-28 04:37] rajeev159 opened #4818 "gopkg.in/yaml.v2 deprecated or not supported"
## Short description
I am trying to use this package in my go project.
While installing this package, I am getting following error...
go: finding module for package gopkg.in/yaml.v2
example/hello imports
	github.com/open-policy-agent/opa/rego imports
	github.com/open-policy-agent/opa/ast imports
	gopkg.in/yaml.v2: module gopkg.in/yaml.v2@latest found (v2.4.0), but does not contain package gopkg.in

[2022-06-28 06:12] srenatus commented on #4818
Please clarify: Using `go mod tidy` doesn't work or is it something you don't want to do?

[2022-06-28 06:19] rajeev159 commented on #4818
It throws error if i use go mod tidy.
go clean -modcache this command fixed the issue.

Thanks

[2022-06-28 06:19] #4818 closed

[2022-06-28 07:50] chicco785 opened #4820 "Decision Log API improvements"
We have implemented an API to receive Decision Logs client calls,
and we found out that:
- only 200 is accepted as value (while logically 201 should be also fine)
- in case of value returned different from 200, the client infinitely attempts to send the logs, this risks to make the API (and probably also OPA) going in overload. The possibility to configure an exponential backoff with a limited num

[2022-06-28 08:06] jkbschmid opened #4822 "`bundle_failed_load_counter` broken for bundles without `revision`"
## Short description

At the moment, the `bundle_failed_load_counter` metric is broken for bundles without a `revision` field in their `.manifest` files.

To determine whether a bundle load failed and the `bundle_failed_load_counter` should be incremented, OPA currently uses `bundle.Code` and `bundle.ActiveRevision`:
https://github.com/open-policy-agent/opa/blob/e9d835359132a2bd16172ee224de14b62d4

[2022-06-28 08:18] #4813 closed

[2022-06-28 08:25] srenatus commented on #4822
Sounds reasonable! It would be nice if you could contribute a fix. :+1:

[2022-06-28 08:50] #4791 closed

[2022-06-28 11:22] #4822 closed

[2022-06-28 12:05] anderseknert commented on #4820
Accepting a 201 response... yeah, maybe :)

As for backoff, that should be there [already](https://github.com/open-policy-agent/opa/blob/main/plugins/logs/plugin.go#L680). Did you find that not working? "Limited number of retries" sounds good to me — the question is what to do with the logs in OPA when that happens? There's already the option to discard logs, but it would be good to have another o

[2022-06-29 06:41] srenatus commented on #4766
✔️ all merged

[2022-06-29 06:41] #4766 closed

[2022-06-29 08:03] srenatus opened #4826 "PE: nested every expressions yield unsafe query"
With `x.rego` as
[code]

we find:
[code]
☝️ That query isn't safe: `__local0__` isn't defined anywhere.

[2022-06-29 12:21] #4664 closed

[2022-06-29 14:33] HarshPathakhp opened #4829 "OPA force cache not working with system.authz policy"
Short Description -
We have a http.send() call which is making a GET request to a remote server, and then force cache its response for 60 seconds. This call is being made in system.authz policy as part of the allow rule. We noticed that OPA is not really caching the response in system.authz, but it is able to cache from a non-system regular policy.

Specifications -
1. OPA version: 0.41.0
2. Able

[2022-06-29 17:01] philipaconrad commented on #4625
I finally have bandwidth to pick this issue back up again! :smiley:

I'm going to tackle the benchmarking first, since that's necessary for us to quantify performance diffs. The closest existing test data generator in `util/test/benchmark.go` is the `GenerateLargeJSONBenchmarkData` function, but the object it creates is an entire order of magnitude smaller than the case mentioned in the original i

[2022-06-29 18:26] philipaconrad commented on #4625
Interestingly, we *do* have an existing object insertion test under `ast/term_bench_test.go`, named `BenchmarkObjectConstruction`.

It only goes up to a size of 50k keys though, so I might add a 100k keys option, since the default benchtest results look like this on my T480 ThinkPad:

[code]

[2022-06-29 19:12] philipaconrad commented on #4625
So, it looks like the one interface function that was relying on the existing slice-based key structure for `ast.Object` is `Elem(i int) (*Term, *Term)`, which, when removed, reveals that `topdown/eval` used `Elem` in `biunifyObjectsRec`, to allow iteratively performing recursive unification in a predictable order with low memory consumption.

This may be slightly trickier to replace than anticipa

[2022-07-04 09:48] #4826 closed

[2022-07-04 11:57] srenatus commented on #4829
https://github.com/open-policy-agent/opa/pull/4838 should fix this.

[2022-07-04 12:06] #4829 closed

[2022-07-05 05:51] srenatus commented on #4704
The thing to do here is to encode the rule index, as built by the compiler, into a structure in the wasm module, and to add the runtime code that'll do the index lookup. It's certainly possible but nothing we've planned in the near term, I'm afraid.

[2022-07-05 14:49] Parsifal-M commented on #3353
Hey Team,

Would it be okay if I pick this up? It will be my first contribution so if there is anything I should be aware of would be great! I am in the slack already :)

Thanks!

[2022-07-05 15:00] srenatus commented on #3353
Thank you - go for it! The situation around style sheets is quite opaque, I'm afraid, let us know if you get stuck.

[2022-07-05 21:37] philipaconrad commented on #4760
The full set of `*.is_valid` builtins appears to be (as of `v0.42.0`):

Encoding:
 - `base64.is_valid`
 - `json.is_valid`
 - `yaml.is_valid`

 GraphQL:
  - `graphql.is_valid`

Regex:
 - `regex.is_valid`

Semver:
 - `semver.is_valid`

[2022-07-06 03:57] anderseknert commented on #1274
Closing for now. Let’s create a new one if we want specific improvements later.

[2022-07-06 03:57] #1274 closed

[2022-07-06 12:01] srenatus opened #4846 "server: bundle-owned policy could be renamed"
When a bundle owns a certain root, and contains policies, policies under that root could be replaced via the REST API because of a missing bundle scope check:

With a bundle manifest like
[code]
and this policy in the bundle,
[code]

we find:

[code]

where `y.rego` is
[code]

⚡ While the DELETE is properly protected, and PUT requests keeping the package path intact are, too; PUTs with a different

[2022-07-06 12:51] johanneskra opened #4848 "Bug in partial evaluation: self-comparison missing"
## Short description
There seems to be a bug in the partial evaluation when doing self-comparisons. Self-comparisons are missing in the result.

## Steps To Reproduce
1) Create a file named `data.json` with the following content:
[code]

2) The normal evaluation works as expected:
[code]

As you can see, even though `input.a` is compared with itself, it is not guaranteed to always return true.
The

[2022-07-06 13:11] srenatus commented on #4848
Thanks for the report!

[2022-07-06 14:01] robert-elles opened #4849 "rego_parse_error thrown for example tests from documentation"
Hi,

I am following the documentation for [Policy Testing](https://www.openpolicyagent.org/docs/latest/policy-testing/)
and as in the documentation I created the two files with their contents: example.rego and example_test.rego.
To run the tests you are supposed to run `opa test . -v` in the folder where the rego files are. So I do this via docker:
`docker run -v $PWD:/tests openpolicyagent/opa:0.

[2022-07-06 14:50] srenatus commented on #4849
Thanks for the report! Well likely push a 0.42.1 soon, if this gets fixed quickly, it'll be part of it. Would you be up to giving it a go?

[2022-07-06 15:20] #4846 closed

[2022-07-06 17:14] #4760 closed

[2022-07-06 18:07] deshmukhrajvardhan opened #4851 "Error when function that does comparison is assigned as value in key/value pair object"
## Short description

Was trying to use objects (key/value pairs) to simulate switch statements.
It worked for most of the part but
fails when a function that does comparison is assigned as a value in key/value pair object

check line 89/90 which cover the below snippet in the below links.
[code]

Link to rego playground:
1. Case where it fails
https://play.openpolicyagent.org/p/JQgXaQVyRQ

2. alt

[2022-07-06 18:33] srenatus commented on #4851
I'm not completely sure I understand what you're asking for; but just to rule out one interpretation right away: Rego does _not_ have first-class functions. Functions cannot be passed as arguments to other functions, or put into collections, or assigned to variables, etc. -- Is that what you meant by

❓

[2022-07-06 18:51] deshmukhrajvardhan commented on #4851
I'm sorry, i haven't been able to ask the question precisely.
The attached links help demonstrate the problem i see.

It's true that function pointers/callbacks can't be passed around.
But the way i am using them is,
`if key "a" is present in an object/dictionary then execute function "fn"`
This works fine for me as you can see in the 2nd link.

The problem i see in the 1st link is that when a fun

[2022-07-06 19:06] srenatus commented on #4849
☝️ Taken care of it. We had been missing some future.keyword imports (and the error messages could use more hints...)

[2022-07-06 19:15] #4849 closed, assigned to nobody

[2022-07-07 08:45] wermerb opened #4855 "Bundle activation failed: store truncate failed for bundle 'store.****': storage_not_found_error: /store/****: document does not exist"
Hi,

I'm using the discovery feature to load bundles into the agent. After the **v0.42.0** I started to see the following error message in the agent log: `Bundle activation failed: store truncate failed for bundle 'store.****': storage_not_found_error: /store/****: document does not exist`. I would like to highlight I have not enabled the storage feature in this case.

Given the following configur

[2022-07-07 09:26] srenatus commented on #4855
0.42.1 will be released soon with a fix.

[2022-07-07 10:01] jeniawhite commented on #4787
Sorry for the late response @srenatus.

I've attempted to build with wasm and encountered some problems.

This is the project: https://github.com/elastic/csp-security-policies.

We have this code [main.rego](https://github.com/elastic/csp-security-policies/blob/main/bundle/compliance/main.rego#L22-L27), that cycles across `benchmarks`.

If you add a print there for the `benchmarks` like this:
[cod

[2022-07-07 12:52] wermerb commented on #4855
Hi @srenatus,

Thank you.

[2022-07-07 13:58] tmos22 opened #4856 "units.parse has inconsistent rounding errors for values of 0.5"
## Short description
`units.parse` has rounding errors when calculating `0.5` during conversion with the _milli-_ suffix (lowercase `m`) and _Kilo-_ (`k`/`K`). All other prefixes seem to calculate properly.

### System Details:
* **OPA version**: >= v0.41.0 (checked against both 0.41.0 and 0.42.0)
* **OS**: RHEL 7.9, UEK 5.4.17
* **Go Version**: go1.16.4 linux/amd64
* Built locally with the follow

[2022-07-07 16:10] philipaconrad commented on #4856
@tmos22 Thanks for reporting this! I was able to reproduce the issue locally from your test cases, and I have a pretty good idea of how to fix the issue. Internally, it's caused by floating-point rounding issues, even though OPA uses `big.Float` internally for the units parsing builtin.

The solution is probably going to involve normalizing the path that incoming units quantities go through, so th

[2022-07-07 17:25] anderseknert opened #4858 "object.subset: allow super to be array, and sub to be set"
Currently, both arguments to `object.subset` must be of the same type. This makes sense, but there's one exception I think should be allowed. If the superset is an array, the subset should be allowed to be a set, meaning "if all items in sub are in super, with no consideration of ordering". This is a IMHO a nice construct:
[code]
You can of course achieve this today by first converting `input.user

[2022-07-07 17:29] charlesdaniels commented on #4858
Breadcrumbs:

* You should only need to modify https://github.com/open-policy-agent/opa/blob/main/topdown/subset.go
* Add a new helper method like `arraySet()`, based on the existing `bothObjects()`, `bothArrays()`, and `bothSets()` code
* Add a new helper method like `arraySetSubset(super *ast.Array, sub *ast.Set)`
* Finally, add a new case to `builtinObjectSubset()`

We are getting enough cases

[2022-07-07 17:48] rdrgmnzs opened #4859 "Bundle does not "bundle" data if file extension is .yml"
## Short description
When using `opa bundle` to bundle a rego and data, if the data file has a `.yml` extension the data is not packaged into the bundle, the generated bundle containing a data.json file with content `{}`. However if I rename the file to have a `.yaml` extension instead and run the same bundle command, the generated bundle has a data.json file with the correct data.

OPA version:
[

[2022-07-07 17:50] srenatus commented on #4859
Reasonable request. Would be up to giving this a try? Figuring out where the extension is taken into account and what needs to be changed for that?

[2022-07-07 18:21] #4856 closed

[2022-07-07 18:59] stevend-15 commented on #2104
@tsandall

Regarding the 'violation' partial rules you mentioned above, could you explain the usage of the string within the [ ] boxies? I've looked through the docs for examples and have used the playground but still cannot seem to fully grasp the significance of their usage.

Why use those strings if you cannot change their value like the case of a variable? Why not just use a default statement

[2022-07-07 20:15] anderseknert commented on #2104
@stevend-15 partial set building rules can be thought of as "if this rule evaluates, add the value provided to the set"
if you want to change their value dynamically, use a variable:

[code]

[2022-07-07 22:26] FredrikAppelros commented on #4782
I think the associated PR for this issue is becoming a bit stale. Is there anything I can do to speed up the process?

[2022-07-08 04:14] eshepelyuk commented on #3341
bot, go away.
we stil has a lot of interest in this issue.

[2022-07-08 17:39] philipaconrad commented on #4797
Perhaps a more important question to dig into: do we want to expose 2x numeric types at Rego-level (floats/ints), or do we want to expose only Javascript-style Number types that work kind of like floats most of the time?

Under the hood, we could still be switching representation dynamically, based on what's most efficient.

[2022-07-08 19:00] srenatus commented on #4797
I think at least on the surface, we're trying to uphold the illusion that there's only one number type in Rego.

[2022-07-08 19:21] anderseknert commented on #4797
Yep, like it or not, I think we'll have to accept that `1 == 1.0` 😄 Let's just make it _consistently_ so. When creating the issue I thought this was isolated to map keys, but as @srenatus have demonstrated, this is obviously not the case. I'll update the title to reflect this.

[2022-07-10 07:02] Parsifal-M commented on #3353
Hey @srenatus, I think I've found a good solution for this, I will make a PR later, are there any specific rules or best practices when making the PR? I may have missed them and this will be my first (and hopefully not last!)

Also, I forgot to ask, could you assign this to me?

Thanks!

[2022-07-10 07:56] srenatus commented on #3353
Just open a PR. The checks, and the preview build on netlify, will give us a good indication of how it works. FWIW, our website stuff is a hodgepodge, so there aren't any guidelines or such a thing. Anything that works is OK 😅

[2022-07-10 15:25] levenleven commented on #4859
Which one would take precedence if there're both `data.yaml` and `data.yml`?

[2022-07-10 18:22] rdrgmnzs commented on #4859
@levenleven I'd imagine .yaml would take precedence to not break backward compatibility and potentially affect someone that is unaware of the change.

[2022-07-10 18:26] srenatus commented on #4859
@rdrgmnzs @levenleven :+1: that sounds reasonable. I'd be surprised if anyone had both data.yaml and data.yml _right now_, but still, let's play it safe.

[2022-07-10 18:53] anderseknert commented on #4859
Hmm, while it's a rather academic issue really, I would not expect there to be a precedence for one over the other - you can have a `data.json` and a `data.yaml` in the same directory already, and both will be merged. If there are conflicting attributes those will fail the build anyway, so I'd just merge a `data.yml` file as any of the other two.

[2022-07-10 19:14] srenatus commented on #4859
Oh! I had assumed that it would be an error or some precedence rule. But if they're merged, let's merge yaml and yml, too.

[2022-07-11 07:31] #4858 closed

[2022-07-11 08:22] srenatus opened #4868 "disk store: bundle activation fails if data.json exceeds what we can write in a single txn"
With a large data.json file, we'll never be able to truncate the disk store on bundle activation: the value we attempt to write is larger than what a single txn can hold; and the commit-and-retry logic will fail: the commit is empty (no problem) but the retry with just yield the same error.

What we could do here is to enhance the bundle iterator to split values according to their value size: if i

[2022-07-11 09:48] srenatus opened #4869 "disk storage: symlink logic fails if using relative directories"
With an OPA config like

[code]

the server would create a symlink of
[code]
after successful bundle activation.

**On restart**, it would try to resolve `_tmp_simple/active`, and fail to find `_tmp_simple/_tmp_simple/active`:

[code]

A **workaround** is to configure disk storage with _absolute paths_ instead; the symlink will then be properly created.

Once the symlink is wrong, however, it need

[2022-07-11 10:11] #3353 closed

[2022-07-11 10:36] Joffref opened #4871 "Patch an already activated bundle"
## What is the underlying problem you're trying to solve?
As an OPA plugin developer, I would be able to load OpPatches on the go. That mean, I want to push Patches into my current activated bundle.
There is an internal function available that act like this : https://github.com/open-policy-agent/opa/blob/b18b0a26bb22e1b661360d03eff62f2d17c43544/bundle/store.go#L918

## Describe the ideal solution

[2022-07-11 12:39] srenatus commented on #4782
I think it boils down to this: there's a _not supported_ deployment scenario, having multiple OPA instances share a persistence dir. If that's done, the fix you've proposed is what's necessary to ensure smooth sailing when using bundles.

I'm OK merging your PR, since it clearly unblocks you at a not-too-high cost. What I'm hesitant about is signing off on the deployment scenario. I'm wondering if

[2022-07-11 13:35] Joffref commented on #4871
Hey @srenatus !

My use case is : I'm hydrating my OPA store thanks to an external data-source. In this data-source there is versioned snapshots and deltas bundles. Given I will load the latest bundle when OPA start by activated it in my store, I will be unable to push changes from a new delta bundle using SDK.

It don't know if there is a way to handle this behavior, but if it is the case it's at

[2022-07-11 16:26] #4869 closed

[2022-07-11 18:45] stevend-15 commented on #2104
@anderseknert OK, thank you. So, those string values can just be thought of as a more rigid addition to the set in some use cases. Understood

[2022-07-11 19:29] yortch commented on #4744
This was an acceptable solution for this request: https://github.com/open-policy-agent/opa/issues/4731, any chance this can be re-opened?

[2022-07-11 20:01] ashutosh-narkar commented on #4782
I think the PR on its own is good to go.  OPA tries to load and activate persisted bundles on a best-effort basis and so OPA would ideally always look to get the bundles from the server. The deployment scenario is something that the OPA operator decides how they want to run OPA, so this change in itself (ie. using a unique name for the temp file) seems it can be separated from the discussion about

[2022-07-11 22:47] anderseknert commented on #4744
It’s not closed :)

[2022-07-12 07:11] srenatus commented on #4871
@ashutosh-narkar can you have a look, please? ☝️

[2022-07-12 07:55] Joffref commented on #3786
I think this a good pick, I would enjoy to participate, is it possible to create a draft PR ?

[2022-07-12 08:02] Joffref commented on #4859
Is this behavior handle by this function ?

https://github.com/open-policy-agent/opa/blob/bb50eba17155d30d21944d3e09599bdfa15d7288/loader/loader.go#L579-L597

[2022-07-12 08:38] #3831 closed

[2022-07-12 08:55] srenatus commented on #3786
I've got ideas about how to deal with this, centered around well-annotated example rego files.

So if you'd like to pick a builtin to document, please create a rego file like `docs/examples/io.jwt.decode_verify.rego`,

[code]

with a few of these in place, we can then worry about hooking them into the website docs automatically, which is a bit of a different story.

[2022-07-12 09:04] Parsifal-M commented on #3749
Hey Team, is anyone working on this? If @alekov87 is not working on it, I wouldn't mind taking a look at it if you could assign to me?

Thanks!

[2022-07-12 12:18] danoliver1 opened #4883 "Export Decision Logs to S3"
## What is the underlying problem you're trying to solve?

I would like to export the decision log history directly into an S3 bucket. This would allow decision logs to be queried using AWS Glue.

## Describe the ideal solution

This is my example config which I hoped would work but it seems S3 can only be used to pull bundles currently.

[code]

The ideal solution would be as above. E.g. set `dec

[2022-07-12 13:06] srenatus commented on #4782
👏 thank you for your contribution @FredrikAppelros

[2022-07-12 18:05] ashutosh-narkar commented on #4871
@Joffref have you considered using the [Activate](https://github.com/open-policy-agent/opa/blob/main/bundle/store.go#L308) method. That would be a better way to go about this instead of making `applyPatches` public.

[2022-07-12 18:18] Joffref commented on #4871
Yes for sure, but there is a problem when you activate only patches, indeed there is a roots path overlapping. I think the best way to do this is to load the bundle in store and activate it with patches but it's a massive overhead to do a simple action as patching the store.

[2022-07-12 19:19] anderseknert commented on #4883
Thanks for filing this @danoliver1!

I'm curious about what the implementation would look like. Decision log uploads normally happen quite frequently, and with many running OPA instances for a given service, you'd see a **lot** of these log files being uploaded. Would each upload need a unique name, or is there some functionality to append to files in S3?

Since we'd potentially have many OPA's wr

[2022-07-12 19:38] philipaconrad commented on #2569
@tsandall Do you think we can close this issue, since keys have been sorted on Objects for a while now?

[2022-07-12 22:05] jasonsouza opened #4884 "Disable HTTP keep-alives for the OPA rest client"
## What is the underlying problem you're trying to solve?
Frequently pulling bundles, in certain cases, keeps a large number of connections open in OPA instances.

## Describe the ideal solution
Identify under what scenario(s) are preventing such connections from closing.

## Describe a "Good Enough" solution
Disabling HTTP keep-alives for the OPA rest-client can reduce the number of idle connecti

[2022-07-12 22:05] jasonsouza commented on #4884
cc @ashutosh-narkar @tsandall

[2022-07-13 00:58] ashutosh-narkar commented on #4871
From what I understood earlier, I thought you have a snapshot bundle activated in the store and now you want to activate a delta bundle. Is that the case? If yes, then invoking the Activate method would be the right path as it would ensure the constraints around bundles are honored. If you simply want to patch the store you can use the methods provided by the `storage` package.

[2022-07-13 06:25] Joffref commented on #4871
The problem is : when you have a snapshot bundle activated in your store and you want to patch it using Activate, Activate throw an error about roots and bundle path overlapping.

[2022-07-13 10:04] danoliver1 commented on #4883
The quantity of files wouldn't be an issue as they can be crawled very easily. I think it could work nicely with write once files (i.e. no appending).

Maybe a folder structure like below could be implemented? S3 partitions by the key prefix (folder names) so this kind of structure would be better for performance and would make it easier to search by date.

[code]

[2022-07-13 15:36] #4859 closed

[2022-07-13 16:51] ashutosh-narkar commented on #4871
The purpose of the Activate call is to activate a bundle (delta or snapshot) while adhering to some rules OPA defines for them specifically around manifests. See [this](https://www.openpolicyagent.org/docs/latest/management-bundles/#delta-bundle-file-format) for more info. If you want to avoid these checks and simply patch data from a delta bundle to a snapshot in store, you could use the methods

[2022-07-13 22:35] philipaconrad commented on #4771
@srenatus, @anderseknert I think I've just run into another case where #4797 has come back to bite us.

The `%x`/`%X` directives have different meaning for floats versus integers, and this is a problem because we freely switch between the two representations for `Number` types behind the scenes, but there are cases where we imply one representation or the other; such as the [bitwise builtins](http

[2022-07-14 06:34] maheshmedam opened #4892 "Support for Running OPA Test Server via Bundle"
## What is the underlying problem you're trying to solve?
I believe we should be able to start a test server via `bundle.tar.gz`.
Right now, I see that there is a way for creating a `MockBundle` out of policies given as `map[string]string`.
Ref: https://github.com/open-policy-agent/opa/blob/b5173dbcf2df774ba0e9f6702043368e11c6d1db/sdk/opa_test.go#L103

## Describe an "Ideal" solution
Having the `.

[2022-07-14 14:56] anderseknert commented on #4771
Just some thoughts from the hammock here, but let’s not forget that options that might be very useful for bitwise operations, aren’t necessarily very useful for policy authoring in general. The number of policies in the wild using the bitwise functions ought to be somewhere close to a handful, and the number of policies _also_ pretty-printing these closer to zero.

The fixes previously made to han

[2022-07-14 17:00] philipaconrad commented on #4771
There's also an option 4, which is ... imitate what JS does when it's confronted with bitwise operations: convert to a 32-bit signed integer, and go (Ex: [Bitwise OR docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_OR)).

This is, admittedly, kind of silly behavior, but it's what JS does. :man_shrugging:

[2022-07-14 17:47] philipaconrad commented on #4771
I think for now, if there are no objections, the best path forward is to strike `%x`/`%X` from the supported verbs list.

If someone complains about wanting this kind of formatting support, we can revisit this decision later, and try to do something reasonable.

Thank you for your inputs, @anderseknert and @srenatus!

[2022-07-14 18:29] srenatus commented on #4771
[code]
⬇️
[code]
I'm an ignorant, I have no idea what `y` means.  😅

I think striking is fine, but it would be preferable if there was some advise to hand out to anyone needing it. Do we have other means to get the hexadecimal of an integer? 🤔

[2022-07-14 21:29] chewong opened #4893 "Migrating chewong/gatekeeper-external-data-provider to open-policy-agent"
Hi All. I am a maintainer of https://github.com/open-policy-agent/gatekeeper and several Gatekeeper-related projects under the open-policy-agent GitHub organization. I am also one of the main contributors to Gatekeeper's [external data](https://open-policy-agent.github.io/gatekeeper/website/docs/externaldata) feature. It is a highly-requested feature that allows users to write rego policies in Gat

[2022-07-14 21:30] chewong commented on #4893
Tagging Gatekeeper's maintainers @maxsmythe @ritazh @sozercan

[2022-07-14 21:35] ritazh commented on #4893
+1

[2022-07-14 23:41] chewong commented on #4893
Done!

[2022-07-14 23:51] ekcs opened #4894 "Early termination does not happen in corner case"
## Short description
In OPA v0.42.1 (via Rego playground), early termination does not seem to take effect in a weird corner case. Or perhaps not a bug because early termination was never designed to work in this case.

Rules:
[code]

Input:
[code]

## Steps To Reproduce
1. Use the above rules with the above input. (Or go to [https://play.openpolicyagent.org/p/R8pdXCQqpQ](https://play.openpolicyage

[2022-07-15 00:44] maxsmythe commented on #4893
+1

[2022-07-15 06:01] vas-rus opened #4895 "Delta bundle and multiple bundle documentation gap"
Hi Team,
I am solving a problem that along with data.json of policy there are additional fields from user configuration that I want to be available for rego file processing. I found that Delta bundles can be used for same. Can someone guide me how to create config and use delta bundle for same. The document currently doesn't have this option for those, who are just starting with opa.
A simple conf

[2022-07-15 06:09] srenatus commented on #4895
https://github.com/orgs/open-policy-agent/discussions/240 using discussions was a good idea, let's keep it there

[2022-07-15 06:09] #4895 closed

[2022-07-15 06:10] srenatus commented on #4894
Thanks for the report. It's curious, I'll have a closer look today.

[2022-07-15 07:50] srenatus commented on #4894
So, I've been digging in. It's been fun to dive into that part of the code base once again 😅

What's going on is this: we've got some heuristic at play to determine when a rule (including non-built-in functions) is safe to early-exit from. It goes like this:

So for
[code]
we only have one rule, so the only value to care about is `x`. Is it ground? It is not. So EE is disabled for `identity_func`.

[2022-07-15 14:19] Parsifal-M commented on #3749
Hey, am still working on this, haven't had a lot of time over the last few days but will put some time in on the weekend :)

[2022-07-15 19:05] ashutosh-narkar opened #4898 "Unnecessary read operations in the in-memory truncate implementation"
## Short description

While writing data in the in-memory store via `truncate`, OPA reads data at the current path before adding new data to the store. This is done so that OPA does not does write to a store path that does not exist. If the bundle contains multiple data files at non-root locations, these read operations will increase latency for bundle activation. Based on the bundle size, cpu and

[2022-07-15 23:53] tsandall opened #4899 "Extend e2e benchmarking mode to include decision logging"
The `opa bench` command was recently improved to include an e2e mode that runs the OPA HTTP server and executes queries over localhost. This is nice for obtaining benchmark results that include the overhead of serdes on query inputs on the client and server side, however, currently the e2e bench mode doesn't support providing an OPA configuration that enables features like decision logging. Given

[2022-07-18 09:37] srenatus commented on #642
#4894 revealed that "naked refs" (for the lack of a better term) also aren't considered for indexing.

E.g.
[code]
whereas something like this is,

[code]
through the ordinary rewriting to an equal expression, and that being indexed.

[2022-07-18 09:38] srenatus commented on #4894
I don't think there's much to do here 🤔 I've made a note re: naked refs ☝️ there.

@ekcs please re-open if you think otherwise. 🙃

[2022-07-18 09:38] #4894 closed

[2022-07-18 11:14] srenatus opened #4900 "disk storage + delta + snapshot bundles"
There's an issue with transaction handling when snapshot bundles are written to the store: intermittent write to the transaction for delta bundles and old bundle erasure would be lost because the first write transaction is never committed.

 * Introduced: 0.42.0, 0.42.1 and 0.42.2 are also affected.

[2022-07-18 11:44] srenatus opened #4901 "build(deps): OTel 1.11.0"
There are a bunch of related modules that should be updated to stay on top of this. Since the number of PRs are annoying and I'd rather take care of the bump in a single bump PR, I've closed the dependabot PRs:

[[opa]](https://github.com/open-policy-agent/opa) The branch "dependabot/go_modules/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracegrpc-1.8.0" was deleted by dependabot[bot]
[1

[2022-07-18 13:56] anderseknert commented on #4234
From the [OPA Slack today](https://openpolicyagent.slack.com/archives/CBR63TK2A/p1658113096612469):

[2022-07-18 16:05] Impakt opened #4902 "Kubernetes Tutorial doesn't work"
## Short description
Hello,
I tried to follow the kubernetes tutorial [here](https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/). If i run `kubectl logs -l app=opa -c opa -f` _before_ I run `kubectl apply -f webhook-configuration.yaml` the logs appear fine. If I then run `kubectl apply -f webhook-configuration.yaml` in a separate terminal session, the logs start showing errors like t

[2022-07-18 23:44] philipaconrad commented on #1514
## Built-in Functions with non-deterministic outputs

 - [`rand.intn`](https://www.openpolicyagent.org/docs/latest/policy-reference/#builtin-numbers-randintn) (relies on RNG)
 - [`io.jwt.encode_sign`, `io.jwt.encode_sign_raw`](https://www.openpolicyagent.org/docs/latest/policy-reference/#tokensign) (relies on RNG internally)
 - [`io.jwt.decode_verify`](https://www.openpolicyagent.org/docs/latest/p

[2022-07-19 07:29] srenatus commented on #1514
FWIW the RNG source should come from the BuiltinContext. We've had to bend `io.jwt.encode_sign` and `_raw` to use it, though: https://github.com/open-policy-agent/opa/commit/e732b0b4823490a171f347560f1f4e13c509bd44. **But** controlling that alone doesn't give us completely reproducible signatures, since there's an uncontrollable-random step that will either discard or use the first byte. (See [thi

[2022-07-19 08:35] anderseknert commented on #1514
Interesting. I guess it makes sense for consistency, but do users really want reproducible token signing? Would that not entail having their private keys logged with each decision? 🤔

[2022-07-19 08:43] anderseknert commented on #4883
SGTM, @danoliver1  👍

[2022-07-19 09:02] srenatus commented on #1514
Hah, good point. I guess it would make sense to not worry about the `io.jwt.encode_sign[_raw]` builtins too much.

But thinking about this again, we also can't ever control `http.send` and `net.lookup_ip_addr`'s inputs (those being outside servers) -- so, reading the top issue again, the proper way to go here might be to record the outcomes, and provide ways to stub those out for decision log repl

[2022-07-19 11:21] anderseknert commented on #4902
The kubernetes API server logs tell us why the certificate is considered invalid:

[code]

This can be fixed by adding e.g. `-sha256` to the openssl commands where hashing is used. This however uncovers the next problem with the current configuration:

[code]

We'll need to update the config to use the SAN extension name rather than the common name.

[2022-07-19 12:02] anderseknert commented on #1514
Agreed, persisting the output of those rather than the input seems like a better approach 👍

[2022-07-19 23:53] #4902 closed

[2022-07-20 09:20] srenatus opened #4910 "ast/compiler: retain unprocessed parsed modules"
It would sometimes be handy -- when using OPA via Go -- to be able to retrieve the modules that the compiler has worked on _in pristine state_. So far, the code flow goes like this:

1. `c.Modules` is a `map[string]*Module` of parsed `ast.Module` structs, as per the `ast` package's `ParseModule(string, string) (*Module, error)`
2. `c.Compile()` is run
3. `c.Modules` now contains the modules that h

[2022-07-20 12:42] srenatus opened #4912 "shadowed built-in function names aren't caught under all circumstances"
### ✅ PASS

[code]
[code]

### :x: FAIL

[code]

[code]

NB Infix `a == b`  will be rewritten into `equal(a, b)`.

The problem is that there're different code paths for parsing policies, and the check for name clashes with builtins is only done in one of them.

[2022-07-20 13:06] srenatus commented on #4912
One could argue that with changing this, policies that used to work suddenly break. But really, going from
`equal(2, 3) { true }` to `equal(2, 3)` and having your stuff break is just as bad, I think.

[2022-07-20 13:09] srenatus opened #4913 "shadowing built-in functions with rules breaks in hard to understand ways"
[code]
[code]

It's even harder to understand when shadowing the names of builtins commonly used infix-style, like `equal` and `eq`.

(Similar but not exactly the same as #4912.)

[2022-07-20 13:17] srenatus commented on #3832
#4912 seems to match this, too.

[2022-07-20 14:44] srenatus commented on #4912
See #4914; closing this. #3218 could cover this.

[2022-07-20 14:44] #4912 closed

[2022-07-20 14:44] srenatus commented on #4913
See #4914; closing this. #3218 could cover this.

[2022-07-20 14:53] friedrichsenm opened #4915 "Syntax highlighting error in policy-reference.md"
## Short description

There is an extra double quote in the `Grammar` section of `policy-reference.md` which throws of the syntax highlighting on the website.

[2022-07-20 14:55] friedrichsenm commented on #4915
I'm working on a small PR to fix it and will post it when ready.

[2022-07-20 15:55] tsandall commented on #4910
In addition, the ParsedModules map should include modules pulled in via the [module loader](https://github.com/open-policy-agent/opa/blob/54c09bf93ad9a9222d94cbfa687540eb52c75da9/ast/compile.go#L1429-L1448) callback.

[2022-07-20 16:26] ritazh commented on #4893
bump @timothyhinrichs @tsandall

[2022-07-20 16:29] tsandall commented on #4893
+1

[2022-07-20 16:33] tsandall commented on #4893
I've created the team, who should be added aside from @ritazh and @chewong ?

[2022-07-20 17:52] philipaconrad opened #4917 "Add option for TLS renegotiation to `http.send` config"
## What is the underlying problem you're trying to solve?
TLS renegotiation is disabled by default in OPA, and this can cause `http.send` to fail sometimes when interacting with servers using older TLS versions (like TLS 1.2). It'd be nice if we had an option on `http.send` that would allow selectively enabling that feature.

Example error:
[code]
## Describe the ideal solution
Add an option like

[2022-07-20 20:01] philipaconrad commented on #4917
This *might* be on the edge of "good first issue" territory. It's a well-scoped change to a single builtin. I think the only tricky part would be adding a testcase for it.

[2022-07-21 02:57] WellyHong opened #4918 "result of opa-istio decision logs will be null after a period time"
## Short description
I deployed [opa-istio](https://www.openpolicyagent.org/docs/latest/envoy-tutorial-istio/) as a sidecar to k8s which is composed of istio envoy service mesh,
and I combine opa-istio with OPAL to update policy & policy data in realtime.
opa-istio serve well initially, but  after a while(half-day maybe) it shutdown because k8s liveness/readiness probe fail afterwards.
probe setti

[2022-07-21 07:33] srenatus commented on #4918
👀 thanks for the report.

So one thing: when a `http.send` query is used with caching, one of two things happens:

1. it's not in the cache, so the request is sent, and the response is the response of _that request_
2. it _is_ in the cache, so the request is not sent, and the response is taken _from the cache_

For (1.), you'll see
[code]

For (2.), you should see
[code]

So I think something is g

[2022-07-21 09:30] vinhph0906 opened #4923 "glob.match without delimiters"
## Short description
I used glob.match to valid path. However, without delimiters it will set default  `to ["."]`. Therefore, I fail the test case below:

## Steps To Reproduce

My rego looks like:
`result := glob.match("test*",[],"test.txt")`

## Expected behavior
I expected output is `"result": true` but it is `"result": false`.

[2022-07-21 09:45] srenatus commented on #4923
I'm not sure I follow. From my understanding of globs, `test.txt` isn't matched by `test*` with delimiter `.` -- `test.*` would be a glob that matches `test.txt` with delimiter `.` 🤔

[2022-07-21 10:06] vinhph0906 commented on #4923
if globs with delimiter `.` is as you understand. But if globs without delimiter [here](https://go.dev/play/p/6otp4NDZYNo), its matched.

[2022-07-21 10:52] srenatus commented on #4923
💡 Got it. So you'd expect `glob.match("test*", [], "test.txt")` to be _true_, but since if `delimiters` is empty, OPA will use `"."`, there's no way to have it use _no delimiters_.

Hmm I wonder how we could pull that off without breaking backwards-compatibility. I think it would have to be a new built-in, like `glob.match_no_delim(pattern, text)`? What do you think?

[2022-07-21 11:03] dpiddock opened #4924 "Rule evaluation mismatch between `opa test` and kubernetes environment"
## Short description

We've noticed a rule evaluation mismatch between `opa test` and running in a Kubernetes environment. Where by the `opa test` cases will pass but the rule will not deny correctly when run in kubernetes. This appears to be related to a specific combination of a single element set "assigned" using the unification operator.

* OPA: 0.42.2
* kube-mgmt: 7.0.6
* Kubernetes: 1.21 (te

[2022-07-21 11:26] srenatus commented on #4924
This is very puzzling. 🤔 Have you tried posting the same payload via curl?

[2022-07-21 11:44] vinhph0906 commented on #4923
Can I contribute to this function?

[2022-07-21 11:48] anderseknert commented on #4923
Would a simple `regex.match` not do the trick then? 🤔

[2022-07-21 11:58] vinhph0906 commented on #4923
In the past, I have used regex for my rego. But I realized golang is not good with regex. You can see results in this [benchmark](https://github.com/mariomka/regex-benchmark). Then I use glob for this and my application latency goes down.

[2022-07-21 12:26] hugorut commented on #4610
Hi there, should we reopen this issue since the fix has been reverted? https://github.com/open-policy-agent/opa/pull/4794

Or is there another issue I should watch to track a fix for this behaviour?

[2022-07-21 12:44] srenatus commented on #4610
Yeah that other issue is what to watch now. We could reopen this one, anyways, you're right.

[2022-07-21 12:44] dpiddock commented on #4924
Yes, I tried with the sample payload:
[code]

If I change the `operations = {` line to `operations := {` and try again I get the desired fail output:
[code]
I have also tried with a full deployment input payload copied from the opa logs.

[2022-07-21 12:44] srenatus commented on #4923
Yeah sure, contributions are always welcome. I'm still not sure what the best name is here... 🤔 But we can discuss that later, too.

[2022-07-21 12:46] srenatus commented on #4924
I there more to your rego policy? Any other mention of `operations`, a rule named like that perhaps? That's usually the only interference that using `:=` protects you from. This would mean that the `opa test` call might not be loading all the relevant rego files...? 🤔

[2022-07-21 12:47] srenatus commented on #4924
Btw if you don't _want_ anything other than a locally-defined variable, use `:=`. Only use `=` if it's your desire to explicitly fiddle with unification of your terms directly.

[2022-07-21 12:57] dpiddock commented on #4924
You are correct. A different ConfigMap rule started off with:
[code]
Each rego file is tested in individually. This is a design flaw on our side as OPA rules files obviously don't run in isolation.

I should have stripped back my test environment more.

Thank you 😄

[2022-07-21 12:57] #4924 closed

[2022-07-21 13:03] msvechla commented on #4041
Is there any news on this? Having an LSP for rego would really improve the daily workflow of developers working with rego.

[2022-07-21 13:20] anderseknert commented on #4923
Fair enough @vinhph0906! Perhaps we could use `null` as the delimiter argument to say “use no delimiter” over adding another builtin function?

[2022-07-21 16:57] philipaconrad commented on #1514
I'm considering a simple K/V cache for implementing aspects of this. Do we want a max size restriction on the cache? I'd assume that if someone enables recording non-deterministic builtin results that memory consumption isn't exactly a great concern, since you wouldn't turn it on unless you *wanted* to get a potentially large pile of results. :thinking:

[2022-07-21 16:59] philipaconrad commented on #1514
Also, because this feature will potentially result in massive additional memory consumption (and equally massive decision logs in some cases!), I am planning to gate this feature of decision logging behind a config file option, like `decision.record_non_deterministic_builtin_results = true/false`, for example.

[2022-07-21 17:08] srenatus commented on #1514
Would it be that much, though? One time ns integer if time us used, one string for each encode_sign call... I suppose it would go into the decision logs entry, so we don't need to hold onto it anywhere else. 🤔

IIRC decision logs are flushed when their buffer is full, and that would then occur more often...?

[2022-07-21 17:09] srenatus commented on #1514
Hmm http.send is different, though. Those response payloads can be very large.

[2022-07-21 18:18] philipaconrad commented on #1514
Right, I'm thinking of the cases where a user hits *several* unique webpages.

This would *definitely* increase how often those buffers flush, to such a degree that I think it's worth feature-gating behind a config option, with the default being to leave it turned off. :cold_sweat:

[2022-07-21 18:23] philipaconrad commented on #1514
My current plan (I'm copying this over from the design doc) is to only cache the **first** result from a non-deterministic builtin> That at least bounds how much memory we're burning to cache stuff. The main builtins that might be affected by this behavior are probably `http.send`, `net.lookup_ip_addr`, and possibly `opa.runtime()`, since those all could potentially have non-idempotent results.

I

[2022-07-21 19:46] #4898 closed

[2022-07-21 19:49] tsandall commented on #4893
Alright! All the steps have been taken care of. Thanks all!

[2022-07-21 19:49] #4893 closed

[2022-07-21 19:52] srenatus commented on #1514
I don't think we'd notice 🙃  We shouldn't do two requests for
[code]
so intra-query caching should make us not send two requests here (even if it was different rules etc; same input to `http.send` implies only one result, only one request sent. -- [here's the code, I think](https://github.com/open-policy-agent/opa/blob/6d9433fd40c2f7905907b34efd1253230f264520/topdown/http.go#L134-L143)

Same for `

[2022-07-22 03:24] vinhph0906 commented on #4923
In the `glob.match` function, `delimiters` is `array string` type. So I can't use `null` as `delimiters` argument.

[2022-07-22 05:23] srenatus commented on #4923
Not right now, but I think Anders meant that as a proposal for how to enhance that built-in instead of creating a new one. It's a good idea, I think.

[2022-07-22 05:57] srenatus commented on #3924
Just a quick note, isn't this,

 like a rego function,
[code]

But we'd lack the extra syntactical features, having to use `n(1 == 2)` is not as nice as `! (1 == 2)`.

[2022-07-22 06:00] srenatus commented on #3924
There's also a bit of discussion around that in https://github.com/open-policy-agent/opa/issues/2345.

[2022-07-22 07:25] WellyHong commented on #4918
in the policy rego, I indeed use `http.send` to fetch jwks for request token validation, will dig into this point further.
thank for you advice.

[2022-07-22 07:55] vinhph0906 commented on #4923
`delimiters` is `StringSlice` type, but in code, it is used as `RuneSlice`.  I think we can modify [the hander error](https://github.com/open-policy-agent/opa/blob/main/topdown/glob.go#L23) if it is `ArrayString` we say “use no delimiter”. What do you think?

[2022-07-22 15:04] srenatus commented on #4704
🧹 cleaning this up. We don't currently plan to bring the rule index to wasm, but if someone wants to contribute that, please open another issue for discussion of the specific feature.

[2022-07-22 15:04] #4704 closed

[2022-07-22 15:05] srenatus commented on #4892
In the past, I've started a simple http server in my tests, and had the SDK's config use that. Worked out fine. Do you think that would be an option for you?

[2022-07-22 15:06] srenatus commented on #4820
2xx responses was done recently. Cleaning this up.

[2022-07-22 15:06] #4820 closed

[2022-07-22 15:10] srenatus commented on #4848
One could argue that the use of `input.a == input.a` in a policy is rather uncommon. Semantically, it's the same as saying `_ = input.a`, which would (I hope) not get eaten during PE. I'd using that instead an option for you, as a workaround?

That said, PE should not drop meaningful queries, that's for sure, so the bug is valid. It just strikes me as avoidable. 🤔

[2022-07-22 15:10] srenatus commented on #4692
I'll clean this up

[2022-07-22 15:10] #4692 closed

[2022-07-22 15:25] srenatus commented on #4923
Yeah we can inspect the argument. There are examples of similar functions that work on multiple types, like `count`, I suppose.

[2022-07-22 15:33] srenatus commented on #4848
FWIW I suspect it's copy propagation, but there's no way to quickly try this just using `opa eval`

[2022-07-22 19:31] philipaconrad commented on #1514
Well, that's perfect then! Since we already have caching in place for these things, it's mostly going to be an exercise in plumbing work to get those cached values up to where they need to go for decision logging.

[2022-07-24 14:35] kjartanm opened #4932 "Support wasi for wasm builds"
Support for wasm in OPA is great, and the js loader works well! Thanks! :D

But as support for more 'native' wasm execution on serveless using wasi is getting more support, it would be great if the build process also could support wasi ready builds.

Something like: `opa build -t wasi -e example/allow example.rego` ?

A usecase is the support for wasi on Cloudflare Workers: https://blog.cloudflare

[2022-07-24 14:48] srenatus commented on #4932
It's on my radar at least. I've been looking into ways to wrap, or basically link, the OPA wasm module into different shells, i.e. wasm modules that call the exported methods, like `opa_eval`, but expose an ABI that fits into other places. I think that way, we don't have to hardcore "wasi-for-cloudflare", "wasi-for-fastly", "wasi-for-xyz" into the OPA build command, but keep things composable.

Do

[2022-07-24 18:09] oren-zohar commented on #3924
`not` is very unique in its definition/behavior.

I find the entire argument here fundamentally puzzling. There is no doubt that the `not` keyword represents things differently from other languages. In spite of this, I strongly disagree with the conclusion that allowing its use elsewhere in the code will cause more confusion.
In fact, there are two unexpected things here. One, the keyword's functi

[2022-07-25 01:18] DonghanYang commented on #3749
Hi @Parsifal-M could I get some status updates on this? We are interested in this as well.

[2022-07-25 06:08] Parsifal-M commented on #3749
Hey @DonghanYang, unfortunately I've not had much time in-between heatwaves and work to look into much more than the code as this is still new to me, I will continue to chip at it when I have time. If you would like to take a shot at implementing this I am happy with that :+1:

[2022-07-25 14:51] #4923 closed

[2022-07-25 18:02] anderseknert opened #4937 "docs: Annotations doc should provide reference to Rego functions for accessing metadata"
While there's even a section named "[Accessing Annotations](https://www.openpolicyagent.org/docs/latest/annotations/#accessing-annotations)", it does not mention, or link to, the Rego reference docs for instructions on how to do this from inside of a policy.

Suggestion: add new sub-heading under "Acessing Annotations" called "Rego", providing a very simple example, and link to the policy referenc

[2022-07-25 18:35] #4910 closed

[2022-07-25 22:26] ekcs commented on #1877
Noting another "crazy" consequence of this behavior:

Assume `input.x` is undefined. Then `a` succeeds but `b` fails in the rules below because the second one gets re-written as a separate condition computing `input.x >= 1`.

[code]

[2022-07-26 01:37] WellyHong commented on #4918
I adjust `http.send` usage conditions, the issue hasn't been happened  last 3 days, seems it was the root cause, will keep observation for a week.

[2022-07-26 05:22] srenatus commented on #4918
OK. I'll close this issue, we can reopen it if the problem appears again.

[2022-07-26 05:22] #4918 closed

[2022-07-26 05:37] stobias123 opened #4939 "Multiline History"
The repl seems critical to me for developing policy. Statements like the below are allowed in the repl as multiline statements.

[code]

When I go back through history, I only get 1 line at a time. Other repls like `ipython` allow me to click "up" once and get the entire statement.

Things really slow down when I have to click back up through each part of a statement as shown above. I'd love for i

[2022-07-26 06:05] srenatus commented on #4939
I think we've reached the end of our repl library. There's another issue with multi-line copy paste, https://github.com/open-policy-agent/opa/issues/962, and  #1503 for inputrc.

[2022-07-26 08:25] srenatus commented on #4848
📜 Just some notes, thinking aloud

Looks like the bug is two-fold: copyprop fails to recognize the necessity to keep something for `input.a == input.a`, but also partially evaluating a policy,
[code]
eliminates it -- because when that calls copyprop, it doesn't pass `input` as livevar. 🔍

💡 When `input.a == input.a` is fed as _query_ into PartialRun, it'll be rewritten to
[code]
and for that, the

[2022-07-26 12:42] srenatus commented on #4516
I've given this a go with some code on this branch and the number of `allow` rules went from 700ish to 113. Would you like to try it? 👉 https://github.com/srenatus/opa/tree/sr/copyprop/deduplicate-expressions

[2022-07-27 05:52] ashutosh-narkar opened #4940 "Old bundles not properly cleaned up during activation"
When OPA downloads a bundle which owns everything (ie. no manifest roots defined) and a bundle is already activated, OPA should delete all the existing data in the store and then write the new data to the store. If the existing bundle also has no manifest roots defined, the cleanup is not happening as expected. For example, if OPA has the following bundle loaded:

[code]

Now if OPA downloads a ne

[2022-07-27 16:48] jjthom87 opened #4942 "OPA Status Log when Using Persisted Bundle (if bundling service is down)"
If persistence is set to true in your OPA config, and the agent is using the persisted bundle when the bundling service is down, can the agent produce a log stating that it is using the persisted bundle. Currently, there is no log stating that it is using the persisted bundle.

[2022-07-27 16:57] ashutosh-narkar commented on #4942
Looking at the code there should be an entry with the bundle revision https://github.com/open-policy-agent/opa/blob/main/plugins/bundle/plugin.go#L389. Is that not the case?

[2022-07-27 17:13] jjthom87 commented on #4942
There is no agent log stating that the Persisted Bundle is being used. The same log is used in either situation of the Bundling Service being up or the Persisted bundle being used.

[2022-07-27 18:06] ericjkao opened #4943 "is_number does not correctly return false (also the other is_ type checking builtins)"
## Short description

[code]
## Steps To Reproduce

## Expected behavior
Should return false according to docs and according to design.
https://www.openpolicyagent.org/docs/latest/policy-reference/#builtin-types-is_number

## Additional context

[code]

Seems to affect the other type checking builtins too. Because they are all affected, there may be a thought to simply adopt the current behavior a

[2022-07-27 18:56] srenatus commented on #4943
Some of this could be worked around with helper methods...
[code]

[2022-07-27 23:11] ashutosh-narkar commented on #4942
Maybe I'm not understanding this correctly. Are you talking about [status](https://www.openpolicyagent.org/docs/latest/management-status/) updates or logging by the OPA agent? The earlier comment was related to the former. If it's the latter, then OPA emits a [debug log](https://github.com/open-policy-agent/opa/blob/main/plugins/bundle/plugin.go#L393) indicating that bundle was activated from disk

[2022-07-28 02:41] vinhph0906 opened #4945 "VNG Cloud has adopted OPA"
### Organization Name

VNG Cloud

### Organization Website

https://www.vngcloud.vn/en/home

### Organization Logo (optional)

https://www.vngcloud.vn/documents/20126/906379/logo-vng-cloud-color.png

### How is your organization using OPA?

[Identity and Access Management (IAM)](https://iam.vngcloud.vn/) provides administrators with fine-grained access control to VNG Cloud resources and help centr

[2022-07-28 02:57] t83714 commented on #4516
@srenatus Thanks a lot for looking into it. I can confirm that I also got signification improvement on our latest policy files --- down from 284 to 112 rules (**i.e. 60% improvement** 🎉 ).

Here is how I did my test:
- police files: Used my latest version policy files [here](https://github.com/magda-io/magda/tree/node14/magda-opa/policies)
- input.json: use [this sample input file](https://gist.gi

[2022-07-28 13:13] jjthom87 commented on #4942
Apologies, you are correct. the policy agent does log that the bundle was loaded from disk. I was referring to the status log.

[2022-07-28 21:42] ashutosh-narkar commented on #4942
The status update contains the bundle revision and also timestamps which can help to understand what bundle OPA is using. Is there something you were expecting in the status update?

[2022-07-29 05:26] #4389 closed

[2022-07-29 06:08] #4940 closed

[2022-07-29 09:01] srenatus commented on #4945
I'd be happy to add your entry to adopters.md; but I've found that there is no information behind your IAM link, https://iam.vngcloud.vn/ -- it requires me to sign in first. Is there any other link we could use?

[2022-07-29 16:43] ashutosh-narkar commented on #3749
Looks like. We can move the common code in an `internal` package to avoid duplication if needed.

We'll have to add new request parameter(s) to the `http.send` builtin that can be used to accept the necessary credentials.

[2022-07-29 19:37] anderseknert commented on #3749
The `http.send` function can already be configured to accept any arbitrary headers, so I guess that would be where you'd put the credentials? As for the _generated_ signature header, we could either add another config option to the `http.send` function to have this generated automatically with the outgoing request, _or_ we could add another built-in function that took the `http.send` config map in

[2022-07-29 19:54] jjthom87 commented on #4942
Just something stating that it is using a persisted bundle while the bundling service is down.

[2022-07-29 20:04] anderseknert commented on #4943
We just recently made this exact change for the various `x.is_valid` [functions](https://github.com/open-policy-agent/opa/issues/4760), so having the same behavior here would be consistent with that. Unless there's a strong reason to treat `is_number` differently than those, I think we should make the same change here.

[2022-07-29 20:08] anderseknert commented on #4943
Looking at the [policy reference](https://www.openpolicyagent.org/docs/latest/policy-reference/#types) for `is_number` I'm reminded that there's a whole bunch of other `is_x` functions too. If we do change something here it should probably not be isolated to `is_number` then.

[2022-07-29 20:22] anderseknert commented on #3924
Yeah, the _current_ confusion around `not` was pretty much the reason this was filed in the first place 😄 @ekcs definitely has a point though regarding how much could be changed without breaking existing policy. Could be that a new keyword/function is the only viable way forward for a _great_ solution here. However, since the `not` keyword isn't going anywhere.. it would still be interesting to se

[2022-07-29 20:35] jicowan commented on #3749
@Parsifal-M On EKS you could use IAM Roles for Service Accounts (IRSA). A webhook running in the EKS cluster will add the following environment variables:
[code]
to the pod. The latest versions of the AWS SDKs know to look at these variables for credentials.
See https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/ for further details.

[2022-07-29 20:36] jicowan commented on #3749
This may help too, https://blog.jimmyray.io/kubernetes-workload-identity-with-aws-sdk-for-go-v2-927d2f258057

[2022-07-29 22:40] anderseknert opened #4951 "Inconsistent runtime type check of "initial" argument in `graph.reachable` and `graph.reachable_paths`"
The `graph.reachable` and `graph.reachable_paths` built-in functions seem to behave differently from other built-in functions at runtime, as providing an unsupported type as the second argument (the "initial" value) does not cause an undefined result, and does not render a runtime error with `--strict-builtin-errors` provided. The declared type of the `initial` argument is either a set or an array

[2022-08-01 09:13] rmetcalf9 opened #4953 "Custom cache_key for http.send inter-query cache"
I am working on using http.send to access data during policy evaluation.
I would like the opa agents to cache the response for 60 seconds to reduce load on the upstream servers.

## Short description
In my setup the opa agent is running in aws fargate. The opa agent is being called from a java application.
I am able to monitor the http_access logs of the upstream server and I can see calls coming

[2022-08-01 14:03] rmetcalf9 commented on #4953
I have updated to OPA v0.43.0 and the issue is still there

[2022-08-01 14:21] anderseknert commented on #4953
Hi Robert!

The cache key will be built from any part of the request, so if there's anything different between invocations (like a header value, query param, whatever), the cache won't be consulted. Could something like that be at play?

I don't think it should make a difference, but just to confirm, could you try the same `http.send` call on a non-modified OPA?

(unrelated, I think, but you won't

[2022-08-01 14:32] rmetcalf9 commented on #4953
The params sent to http.send are
[code]
and between the requests that are not being cached the value for each of these is the same.

I have tried both with and without the cache: true setting and get the same behaviour.
I have tried to a different endpoint completely and am getting the same issue.

[2022-08-01 14:42] anderseknert commented on #4953
When I test caching I normally spin up a local Python web server to see what it logs, as each request to that emits a line for the request. Doing this here right now, and I'm not able to reproduce.

[code]

[code]
[code]
[code]
No matter the number of requests, the Python web server shows only one received:
[code]

If you try the above, do you see the same result? If so, we'll need to figure out w

[2022-08-01 14:52] rmetcalf9 commented on #4953
Hi,
We have determined that our Authorization header is actually different for each request.
Do you know if it is possible to exclude this from the cache key?

[2022-08-01 15:02] anderseknert commented on #4953
OK. No that's not currently possible, as the whole request map is used as the cache key: https://github.com/open-policy-agent/opa/blob/main/topdown/http.go#L1221

I suppose a `cache_key` option could be introduced that would allow one to override this. It's just never been requested in the past.

[2022-08-01 16:32] senaas1995 opened #4954 "Incorrect AWS Sigv4 signature when specifying version of S3 object as URL Parameter"
## Short description

We are using opa's discovery feature to dynamically download s3 bundles. Our policy file looks as shown below. This policy successfully downloads and activates "/main_bundle/authz.tar.gz".

[code]

The issue happens when we try to download a certain version of this main_bundle. i.e the below policy gives us 403 error on S3.
[code]

From the S3 perspective, the error is being

[2022-08-01 16:57] anderseknert commented on #4953
I changed the title to reflect the feature request. If someone has the same need later and would want to work on this, let's reopen it then. Good to hear you have way forward 👍

[2022-08-01 16:57] #4953 closed

[2022-08-01 17:34] LuckySpb commented on #4954
This issue is not related to discovery bundle configuration, it can be easily reproduced with simple bundle configuration with s3_sigining and specifying explicit version.

The issue is that sigv4 validations expects only resource path to be used in signature creation excluding query parameters

So for full url like
`https://my-opa-bundle.s3.amazonaws.com/bundles/authz.tar.gz?versionId=XYZ`
only
`

[2022-08-01 19:18] anderseknert commented on #4954
The query string can't be dropped from the signing process if present in the request — in fact, that [we do so today](https://github.com/open-policy-agent/opa/blob/main/plugins/rest/aws.go#L588) is the cause of the issue you are reporting 🙂 See the [canonical request](https://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html) section of the AWS docs for what we should do he

[2022-08-01 19:37] anderseknert commented on #4954
Done 👍 Only caveat is that one will need an actual AWS account and a bucket set up in order to properly test this, but not a huge hurdle.

[2022-08-01 22:59] LuckySpb commented on #4954
I had setup S3 buckets to fully reproduce the issue
https://github.com/LuckySpb/opa-s3-sigv4

One bucket is fully public, so config with version id works fine.
Another bucket requires authentication (available for any authenticated user), so config without version works fine, config with version fails

[code]

[2022-08-02 13:59] Parsifal-M commented on #3199
Hey, assign this to me if you like, I have some extra bandwidth.

[2022-08-02 15:32] philipaconrad commented on #4951
@anderseknert This behavior seems to be caused by the implementation of the `reachable` and `reachable_paths` functions in `topdown/reachable` only checking if supported types are available, and then skipping action on things that don't match up type-wise, instead of giving a useful runtime type error.

[2022-08-02 15:39] philipaconrad commented on #4951
Do we want to have errors for wrong types on both arguments? I'll have a PR up shortly with that behavior, and if we want to switch it back to returning an empty set sometimes for backwards compatibility, it'll be a simple commit or two to revert back.

[2022-08-02 22:45] #4951 closed

[2022-08-03 07:28] martinjoha opened #4958 "Issue with naming convention of modules when activating bundles"
## Short description

Ref. https://openpolicyagent.slack.com/archives/CBR63TK2A/p1658915694205819

When OPA is activating a delta bundle there is an issue with naming/id of modules when `compileModules` is run here: https://github.com/open-policy-agent/opa/blob/cbfdcba53aee3764d50f994b1bfbe7cbb84005c6/bundle/store.go#L770

There is a difference between the keys in `compiler.Moduels` and `extraModu

[2022-08-03 08:53] anderseknert commented on #3199
@Parsifal-M assigned to you 👍

[2022-08-03 10:47] bartandacc opened #4960 "http.send: force_cache doesn't seem to work when Date header missing from response"
## Short description
I have a case when need to obtain user information from Keycloak (token) during policy evaluation.
I have created policy with http.send method as per OPA  [documentation](https://www.openpolicyagent.org/docs/latest/oauth-oidc/#token-retrieval) . The only difference is I am using “password” OAuth flow, not “client_credentials”.
Example code below:

[code]

`force_cache` paramet

[2022-08-03 11:26] rafaela-soares opened #4964 "Huge memory consumption"
## Short description

Hello,

We (KICS team) found a huge memory consumption when KICS* calls OPA:

<img width="883" alt="image" src="https://user-images.githubusercontent.com/74001161/182594613-6c762c6c-0ca6-4626-8b66-1cefabba8bb6.png">

(*) [KICS](https://github.com/Checkmarx/kics) is an open source static analysis tool for IaC solutions provided by Checkmarx that uses Rego as query language.

(

[2022-08-03 13:57] anderseknert commented on #4964
Hi Rafaela! 👋

The OPA maintainers can't really troubleshoot issues in other projects. If you think you've identified a memory leak, or just excessive use of memory in OPA, please try to:

1. Isolate the issue so that the undesired behavior can be demonstrated in OPA alone.
2. Provide examples of code (or a script, etc) and input data that consitently reproduces the issue.
3. Be specific in what y

[2022-08-03 16:31] rafaela-soares commented on #4964
Hello, @anderseknert ! 👋
Thank you so much for the quick response.

We understand. I isolated the issue in [opa_test.zip](https://github.com/open-policy-agent/opa/files/9253376/opa_test.zip), with examples.

From what I was able to understand, the excessive use of memory in OPA occurs in functions PrepareForEval and Eval. You can see more details in the following pprof:

<img width="890" alt="imag

[2022-08-03 20:49] anderseknert commented on #4964
Running the main file of the archive you created, I don't even see the process in `top`, `htop`, or the system monitor app on my Mac. Is the numbers from the flame graph simply not just an accumulation of all memory used through the run, not deducting what was returned? Either way, both the flame graph and the other views show the absolute majority of memory spent in JSON serialization/deserializa

[2022-08-03 23:14] maxsmythe commented on #4708
@srenatus it looks like the solution we're going with here is #4709 . You mentioned adopting the change on the next release cycle. Do you know what the timeline for that is?

[2022-08-04 07:15] srenatus commented on #4708
It didn't make it for 0.43.0, but I haven't forgotten about it. Let's aim for 0.44.0.

[2022-08-04 07:55] srenatus commented on #4960
Force cache overrides the cache headers, not the general logic: do you send the same headers with every request? Is there perhaps some authorization header that isn't the same for every request?

[2022-08-04 08:00] anderseknert commented on #4960
@srenatus longer discussion previous to this ticket getting filed: https://openpolicyagent.slack.com/archives/CBR63TK2A/p1659336607542569

definitely not ruling out the different header theory, but not ruling out other options either

[2022-08-04 08:56] Nebu1eto opened #4965 "Support opa-envoy linux/arm64 Docker Image"
## What is the underlying problem you're trying to solve?

I'm using opa-envoy, but it doesn't support linux/arm64 architecture. So I can't use this on Graviton 2 (AWS).

## Describe the ideal solution

If there are no problem to build opa-envoy image for arm64, can you please support this? If not, It is issue and it have to be resolved.

[2022-08-04 09:29] sinhaaks commented on #4954
Can I work on this issue?

[2022-08-04 09:44] anderseknert commented on #4954
@sinhaaks of course 👍 assigning to you

[2022-08-04 10:39] johanfylling opened #4967 "Make error messages less ambiguous when rules are declared on same line"
Rego allows rules to be declared on the same line:

[code]

The  policy

[code]

generates the error

```1 error occurred: policy.rego:3: rego_unsafe_var_error: var x is unsafe```

Post the introduction of the `if` keyword, we have the opportunity to suggest importing the keyword.

However, there remains the issue of future _unknown_ keywords. E.g. say we, in some future version of OPA, introduce

[2022-08-04 10:58] rafaela-soares commented on #4964
Hello again, @anderseknert!

Thank you so much! Your suggestion helped a lot! 🚀

Is it normal the memory consumption in `Compile`?

[2022-08-04 11:03] anderseknert commented on #4964
I'm happy to hear that, @rafaela-soares 🙂

Yes, I don't see anything out of the ordinary wrt memory consumption. Again, I don't think the pprof numbers can be read as "total memory consumed at any given point in time", but you'd need to consult the pprof docs for all of the options provided their, and how their respective results should be interpreted.

[2022-08-04 11:42] anderseknert commented on #4960
Looks like I'm able to reproduce this. The Go http server apparently adds the `Date` header automatically, so this will need to be overridden in order for this to "work":

**server**
[code]
**client**
[code]
Without `w.Header()["Date"] = nil` the `http.send` calls to the server are cached, and "request received" printed only once. Adding `w.Header()["Date"] = nil` and by doing so removing the `Dat

[2022-08-04 15:45] rafaela-soares commented on #4964
Sorry for bothering again, @anderseknert.

I did not notice that the results "disappeared" when I added `ast.InterfaceToValue(x)` ([opa_test_not_working.zip](https://github.com/open-policy-agent/opa/files/9261080/opa_test_not_working.zip)). Can you help me, please? I can not figure it out why.

It works fine without `ast.InterfaceToValue(x), however the memory consumption remained the same in [opa

[2022-08-04 17:22] anderseknert commented on #4964
@rafaela-soares you're not using `rego.EvalParsedInput(astPayload)`...

[2022-08-05 02:29] vinhph0906 commented on #4945
We have [docs](https://docs.vngcloud.vn/display/ONVINA/IAM+-+Identity+and+Access+Management). However, it writes in Vietnamese. We will update the English version soon.

[2022-08-05 20:54] caldwecr opened #4972 "opa build signing-key value with empty string silently succeeds and produces unsigned bundle"
## Short description

This is the environment I am running in, where the issue was noted
[code]

When using `--signing-key` option with the opa build -b command to create a bundle, a user can inadvertently create an unsigned bundle and the opa binary surprisingly exits with status code 0. I've only observed this behavior when the value passed to the option is the empty string. When using opa binar

[2022-08-05 21:01] caldwecr commented on #4972
If you can confirm that the observed behavior is unintended, I can attempt to submit a PR to fix the issue.

[2022-08-06 01:16] maxsmythe commented on #4708
Thanks!

[2022-08-06 07:47] sinhaaks commented on #4954
Thank yu

[2022-08-06 07:57] sinhaaks commented on #4954
Thank you

[2022-08-06 11:47] Parsifal-M commented on #3749
Hey, I have something put together for this, I'm still tidying it up a bit and trying to figure out a way to test it as I don't have any access to anything AWS (which I should have considered in hindsight...)

[2022-08-06 20:59] anderseknert commented on #4972
Please do, @caldwecr 👍

[2022-08-06 21:41] sinhaaks commented on #4954
I have created a PR, can you please review, I'm not able to add reviewers - https://github.com/open-policy-agent/opa/pull/4977

[2022-08-08 08:50] rafaela-soares commented on #4964
My bad! Thank you so much, @anderseknert

[2022-08-08 15:13] charlesdaniels opened #4979 "union() is slower than pure Rego, can be up to O(n^3)"
`union()` is very slow in Rego because of how it is implemented currently.

Consider the implementation of the `union` builtin:

[code]

And also `ast.set.Union()`:

[code]

If we have $n$ many sets to union, of size $k$ each, then that's going to result in $n$ many calls to `ast.set.Union()`, except that each call to `ast.set.Union()` is going to end up creating a whole new set and copying all of

[2022-08-08 15:40] anderseknert commented on #4964
NP 😊 we good to close this now?

[2022-08-08 16:43] philipaconrad commented on #4979
@charlesdaniels Thank you for reporting this, and for the detailed analysis/example code. :smile:

I think for now the easiest way to boost performance for this builtin would be to inline a chunk of the set unioning logic into the builtin's definition. That could get rid of a whole level of wasted allocations, since we'd not be throwing away temporary sets along the way.

[2022-08-08 17:12] rafaela-soares commented on #4964
Yes, thank you! 🚀

[2022-08-08 17:12] #4964 closed

[2022-08-08 19:21] humbertoc-silva opened #4982 "Error on Related Resources Annotation example"
I am reading the [Annotations](https://www.openpolicyagent.org/docs/latest/annotations/) documentation and I've found an example with an error: https://www.openpolicyagent.org/docs/latest/annotations/#examples

The **Object Related-resource Format** is fine, but **String Related-resource Format** is wrong, the correct would be to use `related_resources` instead of `organizations`.

[2022-08-08 21:06] jicowan commented on #3749
@Parsifal-M AWS has a pretty generous free tier, but if you have issues getting access to an AWS account, please let me know.

[2022-08-08 21:47] charlesdaniels opened #4985 "object.union_n() is superlinear on the number of objects to merge"
This is conceptually the same problem from #4979.

Suppose we are unioning together $n$ many objects of $k$ keys each. `topdown.builtinObjectUnionN()` will make $n$ many calls to `topdown.mergeWithOverwrite()`, implying $\Omega(1)$ calls to `ast.object.MergeWith()`. Though `MergeWith` appears linear at first glance, the calls are not independent from one another. The first call is merging two obje

[2022-08-09 01:40] bryan-styra commented on #4477
PR to include bundle size in status: https://github.com/open-policy-agent/opa/pull/4984

[2022-08-09 11:45] #4954 closed

[2022-08-09 17:10] #4982 closed

[2022-08-09 17:39] hutchins opened #4993 "Documentation request - Docker config-file"
## Documentation Update Request
Please update documentation to include how to use/pass a config-file yaml with docker hub opa image https://hub.docker.com/r/openpolicyagent/opa

## Ideal solution
Ideally it would be as easy as -v /local/path/to/config.yaml:/container/opapath/to/config.yaml

[2022-08-09 18:51] anderseknert commented on #4993
Hi @hutchins! Are you referring to the OPA Docker plugin for authorization? Or just want to mount a config file into the regular OPA container?

[2022-08-09 23:42] ashutosh-narkar commented on #1873
@platten would you be able to provide an example of how you plan to use the proposed builtin? I would imagine the builtin takes the public key, signed file and signature file.

[2022-08-10 09:07] thoughtful-solutions commented on #938
Working with [NIST Zero Trust](https://www.nccoe.nist.gov/projects/implementing-zero-trust-architecture) and [UK NCSC Zero Trust](https://www.ncsc.gov.uk/collection/zero-trust-architecture) principles for secure environments the importance of knowing your devices and users is crucial to the securing those systems. Devices tend to end up being published via DNS and Users tend to be shared within an

[2022-08-10 09:08] cube2222 opened #4994 "Add optimized functions for matching an array of strings with an array of prefixes/suffixes."
## What is the underlying problem you're trying to solve?
Hey!
At [Spacelift](https://spacelift.io) we integrate with OPA extensively. One of the use cases is [reacting to Push events](https://docs.spacelift.io/concepts/policy/git-push-policy) and deciding whether it's interesting for the current Stack or not.

A pattern we've been seeing our users writing very commonly, is the following:
[code]
w

[2022-08-10 09:43] thoughtful-solutions opened #4995 "LDAP and DNS Native Support within OPA"
## LDAP and DNS native support within OPA
The ability to use regular expressions to extract data from LDAP and DNS sources for the purpose of policy compliance aligned particularly with Zero Trust Environments.

### Zero Trust Environments
[NIST Zero Trust](https://www.nccoe.nist.gov/projects/implementing-zero-trust-architecture) and [UK NCSC Zero Trust](https://www.ncsc.gov.uk/collection/zero-tru

[2022-08-10 15:57] ashutosh-narkar commented on #4994
@cube2222 does you implementation add couple of builtins that perform the above operations? Feel free to open a draft PR with your changes.

[2022-08-10 16:52] cube2222 commented on #4994
Sure! Here's a draft implementation @ashutosh-narkar: https://github.com/open-policy-agent/opa/pull/4997

[2022-08-10 18:19] #4958 closed

[2022-08-10 19:08] anderseknert commented on #4995
Hi there! 😃 And thanks for raising this. This looks like two disparate feature requests to me (LDAP / DNS), or what do you think? Since there's already an [open issue](https://github.com/open-policy-agent/opa/issues/938) for an LDAP built-in function (and you've commented on that), could you please reduce this issue to describe the capabilities you'd like to see added in OPA around DNS? If there a

[2022-08-10 19:53] sirpi opened #4998 "Loading partially overlapping data from multiple bundles results incorrect state"
## Short description
When OPA 0.43.0 loads two bundles (via config or discovery) whose paths are partially overlapping (e.g. store/a and store/b)
then final state contains only store/a or store/b, not both
Reproduceable on Windows or Kubernetes, with the latest version: 0.43.0 (while 0.42.2 works fine)

## Steps To Reproduce
1. Create two very simple bundles, only containing manifest and data:

a.

[2022-08-10 20:24] ashutosh-narkar commented on #4998
Thanks for reporting the issue @sirpi. We're able to repro it and will have a fix soon.

[2022-08-11 06:52] #4945 closed

[2022-08-11 12:45] anderseknert opened #5002 "New "if" keyword does not work for else conditions"
I would expect `if` to work the same following an `else` condition as it works for any other conditional assignment:
[code]
Alternatively, without explicit assignment of true:
[code]
Actual outcome:
[code]

[2022-08-11 14:21] matusf opened #5003 "Add opa to `$PATH` in docker image"
## What is the underlying problem you're trying to solve?
When running opa in the CI one needs to find out where is located. For example my current gitlab ci looks like this. I needed run the image and find that it is located at root. If it was is `$PATH`, one would not have to do this.

[code]

## Describe the ideal solution
Opa binary could be added to `$PATH`.

[2022-08-11 15:15] philipaconrad commented on #5003
Could this issue have been solved with better documentation, instead of a Dockerfile change?

[2022-08-11 15:26] anderseknert commented on #5003
This seems like a Gitlab issue if anything. The image already points out the command/entry point, so why does this need to be repeated in the script? I would expect there to be an “args”  parameter to the image one where the sub command plus extra arguments were provided, but not that the location of the OPA binary 🤔

[2022-08-11 15:28] anderseknert commented on #5003
That said - if that isn’t the case, and changing this helps to run OPA in that environment, I’m all in favor. I wonder though if there could be any tooling depending on the location, and changing that would break things outside of the project.

[2022-08-11 19:40] #4979 closed

[2022-08-11 23:15] matusf commented on #5003
@philipaconrad, maybe it would help but I would not say it would solve the issue. When you are running the image in the CI, you expect the command that is the image about to be in the `$PATH`. Then it fails, and you try to seach for the solution. The docs would just make the search for the solution smaller.

@anderseknert, I don't know. Maybe, I guess it's just matter of preference. The Gitlab CI

[2022-08-12 05:40] srenatus commented on #5003
It's possible that someone building a container image of using `COPY --from ... /opa` to get the binary from the image into a new one. So if a symlink works here, too, I think that would be preferable.

[2022-08-12 13:19] humbertoc-silva opened #5006 "Add the req_id attribute on the decision logs"
## What is the underlying problem you're trying to solve?

I'm working on OPA logs (request/response logs, decision logs, status logs, etc.). I've noticed that the request/response logs have a correlation through the `req_id` attribute. I've seen that debug logging with the `print` built-in function uses this attribute too. This is useful as I can correlate all logs related to a specific request/r

[2022-08-12 15:37] phantlantis opened #5007 "Add a --fail-defined flag to opa exec"
## What is the underlying problem you're trying to solve?

I see that there is an option in `opa eval` that tells opa to return a nonzero exit code if anything comes back defined in the `result[]` block of a policy evaluation - referred to as `--fail-defined`. When attempting to run `opa exec` with this flag, however, I receive an error that the flag is not recognized. Because of this, when I run

[2022-08-12 17:08] #4638 closed

[2022-08-12 18:24] kotyara85 opened #5008 "Forward incoming HTTP Request ID to remote services when using http.send"
It looks like OPA doesn't honor x-request-id header at this moment
It would be great if it did, because that would give an ability to run E2E traces in case if http.send is involved
Thanks

[2022-08-12 18:25] ashutosh-narkar commented on #4884
This change would involve updating the [http transport](https://github.com/open-policy-agent/opa/blob/main/plugins/rest/rest_auth.go#L76) by setting `DisableKeepAlives: true`.

[2022-08-12 18:27] srenatus commented on #5008
Can you please elaborate on your expectations? Should the request ID header become part of the response, or part of the open telemetry spans, or be used in decision logs...? What is you're checking in your E2E traces?

[2022-08-12 18:28] kotyara85 commented on #5008
Yeah,
for example:
serviceA -> OPA -> serviceB

serviceA adds x-request-id header
this header would be exposed as reqId in opa info log and passed down to serviceB as x-request-id header

This way you can see one call across all the systems

Thanks

[2022-08-12 18:39] srenatus commented on #5008
Ah. So concretely, you're expecting the header to be sent along with `http.send` calls to remote services.

[2022-08-12 18:55] kotyara85 commented on #5008
Yeah

[2022-08-12 19:42] ashutosh-narkar commented on #4871
Closing this as OPA's `storage` package provides the necessary functions to patch data.

[2022-08-12 19:42] #4871 closed

[2022-08-12 20:34] anderseknert commented on #5006
Hi @humbertoc-silva ! And thanks for opening this. Maybe I'm missing something obvious here :) What does this add compared to the decision ID generated for a decision and added to the decision log entry? The request ID would still be generated by the OPA server, right?

It might also be worth to point out that the `req_id` attribute is currently coupled to the "request logging" facility, which is

[2022-08-12 21:08] humbertoc-silva commented on #5006
Hi @anderseknert,

The decision log ID has its own value, generally, a client application will get it when receiving a response from OPA and the responsible team will use it to filter the logs. But it can not help when we need to correlate the other logs generated by the server (request/response/print), e.g. I don't know which print precisely occurs in a certain decision. today it is not possible

[2022-08-12 21:35] anderseknert commented on #5006
Thanks @humbertoc-silva! I guess the next question then would be — when decision logging is enabled, is there any real value in keeping the "request log" enabled too? AFAICS, there's not much added in terms of data not already present in the decision log itself. Firing off a request with OPA running as `opa run --server --set decision_logs.console=true`:

**request log**
[code]

**decision log**
[

[2022-08-13 12:52] srenatus commented on #4884
Alternatively, we'd actually reuse the connection, I suppose.

[2022-08-13 14:11] humbertoc-silva commented on #5006
Some information is present on the decision log, some not, but when we have debugging log turned on via the `print` built-in function it definitely won't be present, and in some cases, it could be valuable to have some data printed to help on troubleshooting or to understand more about the decision in complex policies and all the logs connected to facilitate searching and filtering.

Maybe I am do

[2022-08-14 19:10] anderseknert commented on #5006
Seems like a simple addition to make, so if it helps you with debugging, I don't see why not :)

[2022-08-15 00:41] tetsuya28 opened #5012 "semver docs typo"
## Short description

In `semver.compare()`, found docs typo and I think the following is correct.
~`1 if b > a;`~ → `1 if a > b;`
Ref: https://www.openpolicyagent.org/docs/latest/policy-reference/#semver

result
(number)
-1 if a < b; 1 if b > a; 0 if a == b

[2022-08-15 10:52] srenatus commented on #5012
Thanks, good catch. It's defined here: https://github.com/open-policy-agent/opa/blob/39fa5cf79caec81433dba1770346b57c932a6414/ast/builtins.go#L2751 -- would you be up to filing a PR with the fix? 😃

[2022-08-15 11:33] srenatus commented on #5002
Hmm I wouldn't. 😅 I suppose it depends on whether you see the `else` as "attached" to the `if` or not. 🤔

[2022-08-15 11:49] anderseknert commented on #5002
Interesting 😄 To me it's just another form of (ordered) conditional assignment, ie. "... else foo is true if { ... }"
If not read that way, how is it supposed to be read? 🙂

[2022-08-15 12:04] srenatus commented on #5002
Hmm yeah it reads weird without the `if`.

[2022-08-15 13:50] humbertoc-silva commented on #5006
Do you think that the `req_id` attribute always must be included on the decision log or when the log level is higher or equal info?

[2022-08-15 14:12] philipaconrad opened #5014 "unary `-` sign breaks when used for `input` document"
## Short description
Quoting from the PR discussion on #4955, @shaded-enmity dug up this test case that fails mysteriously:

This looks like a possible parser bug, where a ref (`input.number`) is being treated differently somehow than a raw numeric constant.

## Steps To Reproduce

`opa eval --format=pretty 'output := -input.number'`

## Expected behavior
Ideally, the error should be different or

[2022-08-15 18:44] #4900 closed

[2022-08-15 22:17] Parsifal-M commented on #4884
Hey @srenatus, @ashutosh-narkar

I seem to be hitting a wall when trying to see the before and after changes on this, it seems when I make a bundle and server it and then make a few requests to get the bundles, the connections go to:

[code]

This doesn't seem to change whether i try and get 5 bundles or 20, **only the TIME_WAIT increases** (I am making an assumption that the connection just autom

[2022-08-15 23:43] ashutosh-narkar commented on #4884
If would expect to see more open connections `netstat -ant | grep 8000 | grep -i established | wc -l` before vs after the change where OPA keeps fetching bundles from the server.

[2022-08-16 14:13] Parsifal-M commented on #4884
I will run a few more tests tonight and see, then report back :+1:

[2022-08-17 22:44] humbertoc-silva commented on #5006
Hi @anderseknert,

I took some time to understand the decision log plugin and how `req_id` is generated, it is my first contact with the OPA source code. The request ID is an attribute of [LogginHandler](https://github.com/open-policy-agent/opa/blob/main/runtime/logging.go#L41) and the [requestContext.ReqID](https://github.com/open-policy-agent/opa/blob/main/runtime/logging.go#L79) attribute is se

[2022-08-18 02:58] kotyara85 commented on #5008
@srenatus it would be also beneficial to add reqId to logs

[2022-08-18 06:38] #4708 closed

[2022-08-18 06:39] srenatus commented on #4708
@maxsmythe If no unexpected regressions come up, this is expected to come out with 0.44.0.

[2022-08-18 08:31] anderseknert commented on #4993
Alright! Your ideal solution is pretty much it :)

[code]

[2022-08-18 08:33] anderseknert commented on #5006
Seems about right @humbertoc-silva 👍 I guess we'd want to create the `req_id` outside of the "request logger", or else it will only be seen in the decision logs if that's enabled. OTOH, perhaps that's the only time it adds value, since it's not seen anywhere else?

[2022-08-18 11:11] anderseknert commented on #5008
@kotyara85 did you check out the [open telemetry integration](https://www.openpolicyagent.org/docs/latest/monitoring/#opentelemetry)?

[2022-08-18 15:09] cimin0 opened #5018 "typo in documentation metadata example"
## Short description
Was looking at docs regarding annotations and noticed a simple typo `higer` in the metadata example:
[code]

## Steps To Reproduce
1. Go to https://www.openpolicyagent.org/docs/latest/policy-reference/#example
2. Look at the second code block
3. See the typo in the first `# METADATA` section

## Expected behavior

## Additional context

[2022-08-18 15:37] #5018 closed

[2022-08-18 17:02] humbertoc-silva commented on #5006
Let me see if I got it. To always have the `req_id` on decision logs the ID needs always to be propagated instead to propagate it when the log level is lower or equal to info, so some change is necessary to make this independent of the log level. [Here](https://github.com/open-policy-agent/opa/blob/main/runtime/logging.go#L88) is where a new request is set with extra information based on the info

[2022-08-18 17:29] rashmigs1993 opened #5020 "Status API last_successful_activation timestamp is updated even when there is no change to policy/data"
## Short description

We are using the status API of OPA to know if the bundle is downloaded & activated successfully. Even when the bundle is not changed, the following metrics are updated to the latest timestamp.
"last_successful_activation": "2022-08-08T17:19:54.928510907Z",
      "last_successful_download": "2022-08-08T17:19:54.122427015Z",
      "last_successful_request": "2022-08-08T17:19:54

[2022-08-18 18:00] srenatus commented on #5020
Can you elaborate that, please? Without Etags, a remote bundle is activated again and again. There's no internal logic to figure out if it's unchanged or not, other than that Etag mechanism.

Do your logs show that bundle activation happened or that it didn't happen?

[2022-08-18 19:34] #4994 closed

[2022-08-18 21:16] ashutosh-narkar commented on #5020
I would expect `last_successful_request` to be set on every download that does not have any download error. `last_successful_activation` and `last_successful_download` should only be set if the remote server returns a status `200` with a non-empty body.

As Stephan mentioned if you have caching via etag set correctly, you should see a OPA debug log `Bundle load skipped, server replied with not mod

[2022-08-18 23:59] maxsmythe commented on #4708
Thanks!

[2022-08-19 05:51] rashmigs1993 commented on #5020
@srenatus @ashutosh-narkar "caching via etag set correctly" Can you elaborate more on this? How do we set this? Is there documentation you can share?

[2022-08-19 08:51] anderseknert commented on #5006
Agreed, if it just starts showing up in decision logs for everyone, there's probably going to be a lot of questions asked about its purpose 😅 So maybe we can start by only having it logged when the "request logger" is enabled. We can always change that later if we want.

[2022-08-19 12:47] phi1010 commented on #2137
On a short note: This also occurs when an URL has a double slash at some other position, e.g. http://opa.example.com//v1/data/

[2022-08-19 15:15] humbertoc-silva commented on #5006
Hi @anderseknert,

I will need help to get the request ID value on the decision log plugin. I will need to do a type assertion to extract the value from the context but the type `requestContext` is not exported from `runtime` package.

Are there other places that use this information that could be used as an example?
Do you have any suggestions on how I can do this?

Thank you!

[2022-08-19 18:46] humbertoc-silva commented on #5006
In the meantime, I tried something here. Please, check [my branch](https://github.com/open-policy-agent/opa/compare/main...humbertoc-silva:opa:decision-log-correlation) out and take a look.

I move the request context temporarily to the logging package to do test.

[2022-08-19 20:38] eliaharm opened #5025 "How to compile opa-envoy-plugin for arm64"
Hello,
I am trying to compile opa-envoy-plugin using Docker for arm64.
I am getting the below error (i have limited experience in Go)
[code]
This is my dockerfile
[code]

and using the command:
[code]

Thanks,

[2022-08-19 21:11] ashutosh-narkar commented on #5020
@rashmigs1993 the bundle server can set the `Etag` header in bundle responses to identify the revision of the bundle. OPA will include this value in the `If-None-Match` while requesting the next bundle. More info [here](https://www.openpolicyagent.org/docs/latest/management-bundles/#caching).

[2022-08-22 06:52] rashmigs1993 commented on #5020
@ashutosh-narkar We will try this out. Please keep the issue open until we confirm.

cc: @tim-styra  @ravichauhan03

[2022-08-22 07:18] Parsifal-M commented on #4884
Hey @jasonsouza,

Was wondering as you said in the initial post that "in some cases" do you know in which case you saw this happening? Maybe I can try to replicate it this way instead :+1:

Let me know?

Thanks!

[2022-08-22 07:38] vas-rus opened #5027 "Package name inside rego"
Currently I need to call another class with base class package name. Couldn't find if I get same inside rego with some inbuilt functions.

A -- somefucntion()

B-- calls somefucntion(current package name)

somefucntion() -- returns result based on who is calling ,

as couldn't find if we achieve this behaviour here so adding a feature request

[2022-08-22 07:47] #5027 closed

[2022-08-22 09:59] johanfylling opened #5028 "Cannot build plan/wasm when function references data document and entrypoint is the package"
When the following policy:

[code]
is built targeting `wasm` or `plan`, with the **package** assigned as entrypoint:

[code]

we get the following error:

[code]

[2022-08-22 11:02] srenatus commented on #5028
Build target "plan" wasn't a thing back then, but this has been reported before: #4411.

[2022-08-22 11:02] #5028 closed

[2022-08-22 11:10] anderseknert commented on #4411
Thanks for the pointer @srenatus :) This came up in the context of [Jarl](https://github.com/johanfylling/jarl/), where there are 70-ish tests currently not included, as we use the package as entrypoint in those tests, and any tests including references to functions break the compilation.

[2022-08-22 11:16] srenatus commented on #5025
You're trying to build a directory that doesn't have the command. Try
[code]
instead.

Alternatively, try using `RUN GOARCH=arm64 make build-linux` in the checkout directory, to use the standard build logic that's used when building for the other architectures.

[2022-08-22 11:18] srenatus commented on #5025
BTW officially supporting linux/arm64 images has been brought up before, perhaps you could chat. I'm happy to assist if you'd like to push this forward.

[2022-08-22 12:12] lvisterin opened #5029 "Bundle plugin: Trigger does not propagate errors"
## Short description

Context:

* OPA version: v0.43.0
* Using OPA SDK inside application

I ran into some unexpected behavior when integrating with the OPA SDK.

We use the `Trigger()` method of the bundle plugin to manually trigger a policy update. When the triggered update fails, we want to handle this in our application.

However, looking at the source code for `Trigger`:

[code]

I was about

[2022-08-22 14:57] srenatus commented on #5029
@ashutosh-narkar What do you think? IMO, if we can make it backwards-compatible, it's a good idea to return the errors...

For context, I think the code was written at a time when the SDK wasn't a thing yet... So, when running OPA with bundles configured, it's a dumb thing that does its job, reporting its status through the status and decision logs. Hence the errors would have bubbled up in the ex

[2022-08-22 19:33] tsandall opened #5035 "Add an option to relax semantic equivalence requirement on compile package"
Currently the opa/compile package and the `opa build` command (which is implemented on top of the compile package) guarantees that emitted bundles are semantically equivalent to the input .rego files provided by the caller. This means that any query that could be run against the provided .rego files can also be run against the emitted bundle. This is nice in cases where the bundle is to be fed bac

[2022-08-22 22:39] ashutosh-narkar commented on #4884
This would be the expected behavior after the fix as the connection is now closed, correct?

[2022-08-22 22:56] ashutosh-narkar commented on #3307
[This](https://github.com/open-policy-agent/opa/pull/5022) PR adds the optimize flag on the `opa eval` command.

[2022-08-23 08:31] #5035 closed

[2022-08-23 08:51] lvisterin commented on #5029
@ashutosh-narkar Thanks for the hint about the `Loaders` method, I've changed my code to use that and it works well.

If we look at the golang standard library extensions, [`(*errgroup.Group).Wait()`](https://pkg.go.dev/golang.org/x/sync/errgroup#Group.Wait) returns the _first_ non-nil error. (Errgroup does what the multi-bundle downloader but in parallel)

Some people solve this by returning all

[2022-08-23 09:13] lvisterin commented on #5029
One interesting thing about using the `Loaders` method: Trigger() appears to safely copy the downloaders map by locking `p.mtx`:

[code]

However `Loaders` returns the map directly:

[code]

This makes it possible for SDK users to have a race on the downloaders map when for example using both `Reconfigure` and the value they got from `Loaders`. I don't do this so I don't immediately run into a rac

[2022-08-23 12:13] Parsifal-M commented on #4884
Hey @ashutosh-narkar,

Indeed but I also noticed the same behavior **_before_** the fix. So I am not sure if its actually needed, that was the issue I was facing.

I am not sure what results you get now if you test this? Let me know!

Thanks!

[2022-08-23 15:18] alam-chime opened #5041 "opa build ignores `.manifest` file"
## Short description
running `opa build ./` results in a bundle that ignores manifest file.

[code]

## Steps To Reproduce

directory structure
[code]

`.manifest` file
[code]

`data.json`
[code]

from the root running `opa build ./` results in `bundle.tar.gz` and debugging the bundle shows
[code]
the roots in the bundle is set to `[""]`

## Expected behavior

the roots with above setup should be

[2022-08-23 15:24] SushmaSuraj opened #5042 "Unable to access OPA performance metrics at prometheus endpoint"
Hi,
When we enable prometheus at OPA to scrape metrics at 8182 port, we see only GoLang metrics along with http_request_duration_seconds. We are also looking for performance metrics like `timer_rego_query_eval_ns`, `timer_server_handler_ns` , `counter_server_query_cache_hit` which could be used for for monitoring/alerting on  opa performance.
According to the [documention](https://www.openpolicyag

[2022-08-23 15:46] ashutosh-narkar commented on #5029
Good point. We probably need to lock and make a copy of the map like the Trigger() call.

[2022-08-23 15:54] ashutosh-narkar commented on #5041
Use the `-b, --bundle` flag to load paths with the `build` command. The manifest should be correctly set.

[2022-08-23 16:07] alam-chime commented on #5041
ahh, you're right. `opa build -b ./ ` is including the manifest.
Thanks @ashutosh-narkar. closing this.

[2022-08-23 16:07] #5041 closed

[2022-08-23 16:34] lvisterin commented on #5029
Unfortunately even when I add a lock to `Loaders` my example below seems to trigger the race detector. So I guess SDK users should mostly avoid doing parallel read/write on the bundle plugin which is not too bad.

<details>
<summary>expand example</summary>

[code]

[code]

</details>

Anyways, sorry for getting off-topic here, the main issue was the Trigger method not returning any errors :) If y

[2022-08-23 18:06] ashutosh-narkar commented on #5029
If we return say the first error from the Trigger method, it won't be a backward-compatible change if you look at a multi-bundle scenario. The expectation is the errors should be handled in the callback function which the bundle plugin sets.  The `Loaders` seems to be an alternative to have more control on the downloader's trigger.

[2022-08-23 18:24] #5003 closed

[2022-08-23 18:25] srenatus commented on #3134
Please also see #5003.

[2022-08-23 18:25] srenatus commented on #1789
Please also see #5003.

[2022-08-24 07:35] lvisterin commented on #5042
The metrics that are exposed on that endpoint are documented here: https://www.openpolicyagent.org/docs/latest/monitoring/

The page you linked (https://www.openpolicyagent.org/docs/latest/rest-api/#performance-metrics) provides performance measurements for a single query evaluation, not the entire OPA instance, so these cannot be reported with the global metrics.

`http_request_duration_seconds`

[2022-08-24 11:19] #5042 closed

[2022-08-24 21:49] pauly4it opened #5048 "docs: Configuration page EKS IAM Role broken link"
## Short description
On the Configuration documentation page in the [Using EKS IAM Roles for Service Account (Web Identity) Credentials](https://www.openpolicyagent.org/docs/latest/configuration/#using-eks-iam-roles-for-service-account-web-identity-credentials) section, the link to the AWS docs on AWS EKS IAM Roles for Service Accounts is broken.

## Expected behavior
Based on the context of the d

[2022-08-25 00:04] #5048 closed

[2022-08-25 23:27] ashwinrana-db opened #5054 "Decision Logs are not showing up with --log-format=json"
## Opa Decision Logs are not showing up when log level is json (default), but show up with --log-format=text and --log-format=json-pretty

Opa version: I tried this for both v0.43.0 and v0.30.1.

Running `opa run` with params `--log-format=json` does not result in Decision Logs in docker logs, while `--log-format=json-pretty` and `--log-format=text` does.

## Steps To Reproduce

Perform `opa run`

[2022-08-26 06:42] Parsifal-M commented on #3749
Sorry, have been busy recently and this took a backseat.

Will give it some more time this weekend otherwise I will drop it for now and see if anyone else is brave enough for it... :smiley:

[2022-08-26 08:21] anderseknert commented on #5054
Hi @ashwinrana-db!

I'm unable to reproduce this here.

[code]

[code]

**OPA logs**
[code]

Could you try removing the other arguments, just to see if that makes a difference?

[2022-08-26 12:05] srenatus opened #5056 "conflict errors nondeterministic"
When 1.rego is
[code]
and 0.rego is

[code]
then `opa eval -d 0.rego -d 1.rego data.p.r`
randomly complains about the conflict in 0.rego or 1.rego.

[2022-08-26 19:04] eliaharm commented on #5025
Hello,
Thanks for the help
got it working using the below dockerfile

[code]

I launched `docker build` so that it will compile the code using the command:
[code]

I ended up having an image tagged `opa-envoy:v0.43.0-arm64-static` that only contains the arm64 executable that I pushed to my hosted registry and was able to execute.

Thanks,

[2022-08-26 19:07] eliaharm commented on #5025
I have seen a couple of issues mentioning ARM64 support and that you need some infrastructure, you might like to check out the oracle cloud (OCI) they have an interesting free tire ;)

[2022-08-26 19:09] srenatus commented on #5025
The problem with CI and testing on Arm64 isn't really getting access to hardware, it's more what comes on top of it: maintain a (set of) custom github actions runners. If there was simple way to get CI results from real arm64 hardware without too much extra effort, I'm all ears 😃

[2022-08-26 19:16] eliaharm commented on #5025
I am not an expert in CI, I experimented a little with GitLab CI/CD, you can install the gitlab runner on a arm64 machine and have it execute the build there. don't know much about github...

[2022-08-28 07:09] kjartanm commented on #4932
Yes, hopefully wasi will reduce the need for vendor specific implementations. Currently it seems using STDIN and STDOUT is the way to go. So a poissible test case could be somethning like this:

If we use the Opa REST-API query example as a starting point (https://www.openpolicyagent.org/docs/latest/rest-api/#example-request-10), and compiles it to wasi-enabled wasm, it could be tested in the foll

[2022-08-29 07:01] anderseknert commented on #4995
Since there is an open LDAP issue already, I'll close this for now. Feel free to open a separate issue for what you'd like to see around DNS though!

[2022-08-29 07:01] #4995 closed

[2022-08-29 07:02] anderseknert commented on #4993
Did you get it to work, @hutchins ?

[2022-08-29 07:03] anderseknert commented on #4972
Any progress on this, @caldwecr? 😃

[2022-08-29 07:14] srenatus commented on #4995
Changing the closed status, I think the other one is more appropriate for duplicates.

[2022-08-29 07:31] #5012 closed

[2022-08-29 07:36] srenatus commented on #4932
It does, but do we know of any other system that works like this? How are headers represented? (WAGI?)

That's true, insofar as data is not involved. So we'd be able to make use of "stateless OPA" only.

[2022-08-29 08:59] Parsifal-M commented on #3199
Hey @anderseknert, I am looking at this today, which is the existing tutorial? I assume https://www.openpolicyagent.org/docs/edge/envoy-tutorial-standalone-envoy/? Is this what we want to update to have the Gloo edge docs? or do we make a separate page i.e. Tutorial: Gloo Edge?

Let me know! :smile:

[2022-08-29 12:23] #2413 closed

[2022-08-29 19:52] philipaconrad commented on #4943
From the [Policy Reference](https://www.openpolicyagent.org/docs/latest/policy-reference/) page this is the precise list of `is_type` functions that we need to worry about:

- [`is_array`](https://www.openpolicyagent.org/docs/latest/policy-reference/#builtin-types-is_array)
- [`is_boolean`](https://www.openpolicyagent.org/docs/latest/policy-reference/#builtin-types-is_boolean)
- [`is_null`](https:

[2022-08-29 22:00] vikstrous2 opened #5065 "upgrade gqlparser to 2.5.0"
## What is the underlying problem you're trying to solve?
We are using gqlgen and the latest version of gqlgen requires gqlparser 2.5.0. Unfortunately, we also import this repo and this repo expects gqlparser v2.4.6. We can't upgrade our version of gqlgen until github.com/open-policy-agent/opa also upgrades gqlparser.

## Describe the ideal solution
Remove the dependency on gqlparser? No dependenc

[2022-08-29 22:16] philipaconrad commented on #5065
Hello @vikstrous2, thanks for filing an issue. I am aware of gqlgen, as it is one of the major downstream users of the gqlparser library.

Removing gqlparser out of our vendored dependencies list entirely would be great, except that it provides critical data structures and logic for OPA's [GraphQL builtin functions](https://www.openpolicyagent.org/docs/latest/policy-reference/#graphql). :slightly_

[2022-08-29 23:41] ear7h opened #5066 "Support fs.FS in FileLoader"
## What is the underlying problem you're trying to solve?

I have an application that uses the OPA library to evaluate policies, i.e. using raw `Rego`s and not the `sdk` package. The problem with this is that the the `.rego` files must be deployed along with the app binary, and I have to provide the location of these files to the binary. This problem is exacerbated in testing and release environme

[2022-08-30 05:17] #4943 closed

[2022-08-30 06:50] anderseknert commented on #3199
@ashutosh-narkar is probably better equipped to answer that :)

[2022-08-30 07:00] Parsifal-M commented on #3199
Oh of course sorry 😅

[2022-08-30 08:54] srenatus commented on #5066
:+1: good idea. We've got something similar for the bundle loader already: https://github.com/open-policy-agent/opa/blob/main/bundle/filefs.go

[2022-08-30 15:13] vikstrous2 commented on #5065
Ok! Thanks for the quick response. This works for us.

[2022-08-30 15:26] ashutosh-narkar commented on #3199
@Parsifal-M we have an example tutorial with Gloo Edge [here](https://github.com/open-policy-agent/opa-envoy-plugin/tree/main/examples/gloo-edge). Currently in the [Envoy](https://www.openpolicyagent.org/docs/edge/envoy-introduction/) section of the OPA docs, we have a standalone Envoy and Istio tutorial. We can create one more for Gloo Edge. Hope this helps.

[2022-08-30 18:37] ear7h commented on #5066
Cool, I can submit a PR for this later this week

[2022-08-30 18:47] #5065 closed

[2022-08-30 21:24] ashwinrana-db commented on #5054
tried it again with the same params and now I see the expected values:
[code]

Not sure what the issue was originally (maybe I didn't wait long enough for the logs to show up), but it works now!

[2022-08-30 21:24] #5054 closed

[2022-08-30 22:58] stobias123 commented on #4939
dont go stale! this is a huge quality of life imiprovement!

[2022-08-30 23:53] ashutosh-narkar commented on #4112
[This](https://github.com/open-policy-agent/opa/issues/4899) issue captures the additional updates that can be added to `opa bench` with `e2e` mode enabled.

[2022-08-30 23:53] #4112 closed

[2022-08-31 06:50] mjungsbluth opened #5070 "Allow discovery override of operational decision log plugin configurations"
## What is the underlying problem you're trying to solve?

The decision_log plugin provides several operational configs under the `decision_logs.reporting.*` config path. However, as soon as you use discovery, these settings [cannot be locally configured](https://github.com/open-policy-agent/opa/blob/ea5599d653977dcf1f6decf8a6d6b63c9fa8bd1a/plugins/discovery/discovery.go#L91). Without setting for

[2022-08-31 07:38] srenatus commented on #5070
So we'd basically make the default config configurable?

The rationale is clear, let's try to fix that.

[2022-08-31 11:14] anderseknert opened #5072 "The `deprecated` attribute missing from many deprecated builtins"
Currently, only the `any` and `all` functions have the `deprecated: true` attribute set. There are however [many more builtins](https://github.com/open-policy-agent/opa/blob/main/ast/builtins.go#L2821) that have been deprecated, and `re_match` in particular seems to be quite prevalent in policies found in the wild. Properly marking them as deprecated will allow the strict mode checker to fail comp

[2022-08-31 11:19] srenatus commented on #5072
When these are properly marked, we can remove this kludge: https://github.com/open-policy-agent/opa/blob/1841703e77cfaef14c65684e11a05ec4c72c6bbb/internal/cmd/genbuiltinmetadata/main.go#L159-L161

[2022-08-31 11:21] srenatus commented on #5072
Thinking about it, a useful follow-up would be to introduce a new category, "deprecated", and render some docs for those deprecated built-in functions, too. After all, if a user finds a use of `re_match` somewhere, they have no chance to figure out what it is given our current docs.

[2022-08-31 11:49] anderseknert commented on #5072
@srenatus won't that kludge still be needed for `assign`, `eq` and `print`? 🙂

[2022-08-31 11:49] srenatus commented on #5072
Yeah. But that's less than before 😄

[2022-08-31 16:48] mjungsbluth commented on #5070
Yes if default config means what comes in via discovery.

As this can have security implications if you can override a central policy published via discovery, I would be rather restrictive on what can be  overridden and start small with the config path mentioned above...

[2022-08-31 17:51] srenatus commented on #5070
What I meant is that some local config would always augment (override?) the config that comes in via discovery. I think we're talking about the same thing 🤞

[2022-08-31 22:10] charlesdaniels opened #5073 "panic when `object.union_n()` called on an array with non-object elements"
[code]

OPA version:

[code]

This issue also affects HEAD. I already have a patch for this locally and will open a PR presently.

I would like to give a special thanks to @istalker2 for assisting me with nailing this one down.

[2022-08-31 23:21] #5073 closed

[2022-09-01 09:55] #5072 closed

[2022-09-01 15:35] ashutosh-narkar commented on #2944
Fixed in https://github.com/open-policy-agent/opa/pull/5044

[2022-09-01 15:35] #2944 closed

[2022-09-01 18:31] srenatus commented on #1514
Is this fixed already? I thought the merged PR was the first step....

[2022-09-01 18:46] philipaconrad commented on #1514
Ah, nuts. I accidentally left in the `Fixes #1514` in the PR, because when it was first written, the plan had been to go all the way to decision logging integration. Yeah, let's reopen this one.

[2022-09-01 18:47] philipaconrad commented on #1514
We'll put this zombie issue back to rest when decision logging integrates the non-deterministic builtin cache work from #4926. :zombie:

[2022-09-01 18:57] philipaconrad commented on #4939
Sorry @stobias123, the stale bot is pretty aggressive about making sure old issues get tagged as such. :sweat_smile:

You are correct that this would be a substantial quality-of-life improvement. I'm not sure of the precise difficulty level, but it'll likely involve ripping out and changing a bit in the REPL library.

[2022-09-01 18:59] anderseknert opened #5080 "Add "deprecated functions" section to builtin reference docs"
While we advice against using these functions, it still may happen that users are trying to understand an older policy found in the wild, and not having any (pun not intended!) place to read about all (I swear, not intended!) the deprecated builtins leaves them out in the dark. We should add a "deprecated functions" section to the builtin reference, and for each builtin provide:

* The name of the

[2022-09-01 19:11] anderseknert commented on #5025
Hey there :) Is there anything actionable left here, or are we OK to close this?

[2022-09-01 19:13] anderseknert commented on #4993
Let me know if we should re-open this. Closing for now.

[2022-09-01 19:13] #4993 closed

[2022-09-01 19:13] #5025 closed

[2022-09-01 19:26] guptaarvindk opened #5081 "add a config to envoy plugin to allow bypass of content type for the request and send body"
## What is the underlying problem you're trying to solve?

Current envoy plugin looks at content type and parse the body before sending it to OPA. If body is malformed, the OPA plugin fails.  Often user may not be able to control if body could be malformed or not,  and this results in failure in plugin itself.

Steps to replicate the issue:
- Run the envoy base image (`sudo docker run --network=ho

[2022-09-01 19:52] ashutosh-narkar commented on #5081
We should add a config parameter to the plugin like `parse_request_body` which defaults to `true`. This would result in the `parsed_body` field in the OPA input to not be set.

[2022-09-02 12:50] humbertoc-silva commented on #5006
Hi @anderseknert,

Did you have a chance to take a look at my branch? As I mentioned earlier, I moved the request context to do a test but I think it is not the best place to move this code. I would like your opinion and orientation about this.

Thank you very much!

[2022-09-05 13:21] anderseknert opened #5090 "Update the security docs to recommend binding to 127.0.0.1 / localhost"
The docs on [security](https://www.openpolicyagent.org/docs/latest/security/) already make use of `--addr 127.0.0.1` or localhost in some of the examples provided, but does not mention why this is a good practice that should generally be followed for any non-public OPA deployment.

Unless explicitly configured, OPA will bind to the 0.0.0.0 interface, which allows the OPA server to be exposed to se

[2022-09-05 13:38] anderseknert opened #5091 "Improve error message when calling function which has been dropped using capabilities feature"
When dropping certain built-in functions via the capabilities feature, the error message provided will treat them as never having been defined in the first place, i.e. "undefined function http.send". While technically correct, this is confusing to anyone not made aware of the limitations imposed by the admin of the system, and is likely to cause a troubleshooting session which could be avoided by

[2022-09-06 12:06] #5066 closed

[2022-09-06 16:50] #4272 closed

[2022-09-07 12:52] #3957 closed

[2022-09-07 13:10] anderseknert opened #5105 "Allow multiple imports on a single line"
It would be nice enhancement if there was support for importing multiple rules, or future keywords on a single line. As it currently stands, explicitly importing all the future keywords — which we [recommend](https://github.com/StyraInc/rego-style-guide#use-explicit-imports-for-future-keywords) over the "catch all" import — plus any rules or functions required from other packages, is a bit verbose

[2022-09-07 13:14] srenatus commented on #5105
The obvious alternative... but I don't know python so this might or might not be similar enough.
[code]

[2022-09-07 13:16] anderseknert commented on #5105
Yeah, that'd be nice... although it would require the use of a new `from` keyword... and it's not clear how that could be imported

[code]
😆

[2022-09-08 00:19] tristanls commented on #4411
@srenatus I am having difficulty understanding what `--prune-unused` does.
In the example you gave:
[code]
What is pruned when `--prune-unused` is used?

When I tried to use latest `opa` release I got `--prune-unused` option not recognized
[code]

[2022-09-08 05:13] srenatus commented on #4411
Please try again with 0.44.0.

[2022-09-08 06:56] #5020 closed

[2022-09-08 09:43] anderseknert commented on #5006
Hey @humbertoc-silva! And sorry for the delay. Busy week with 2 releases.. 😅
Code looks like a good start to me, but @srenatus might be better equipped to say if there are problems with the approach.

[2022-09-08 09:55] srenatus commented on #5006
👀 It looks OK-ish, but I wonder if we couldn't make the RequestID part of the decision struct (`*server.Info`).... putting values on the context always feels a tiny bit underhanded to me 😅 Or have you already considered that approach, and encountered blockers?

[2022-09-08 11:02] pigletfly opened #5112 "Add docs i18n support"
Is there a plan for docs i18n support?

[2022-09-08 11:07] anderseknert commented on #5112
Hi there! It's been asked about a few times, and it's definitely interesting! The biggest hurdle is definitely how to maintain documentation in different languages over time, without having people dedicated to that. The docs are constantly improved, and it's very hard to catch up. I suppose one option could be to have a smaller subset of the docs, explaining the fundamentals of OPA and Rego, trans

[2022-09-08 16:01] sadams-evi commented on #1316
Is there an update on the undefined function error mentioned above? I am also running into similar issue

[2022-09-08 16:03] sadams-evi commented on #2811
yes I also need help on this .. any suggestions

[2022-09-08 16:16] philipaconrad commented on #5112
Right. The docs might receive easily one to three dozen updates or more between releases. In the future, a partial solution could be to provide translated documentation for past releases, but not for the Edge version of OPA, since that one is always in flux?

A second major problem with i8n support is how to review PRs for non-English documentation: you'd need at least two people involved on every

[2022-09-08 22:27] anderseknert commented on #2811
@sadams-evi I'd be happy to provide suggestions if you can provide an example of what you are trying to do.

[2022-09-09 01:40] pigletfly commented on #5112
I think we can learn from https://github.com/kubernetes/website,split docs into different language group, there are owners and reviewers which must be native speaker.If there are any updates from origin docs (English version), we can get the diff, then create a issue let others know they can translate the diff to keep up with the latest version.And also the translation is versioned.

[2022-09-09 09:43] srenatus opened #5115 "cli hints are doubled"
[code]

Must be something about how we use cobra. I guess there's an easy fix there...? 🤔

[2022-09-09 11:55] humbertoc-silva commented on #5006
Hi guys,

I understand @anderseknert. @srenatus on the weekend I will try to implement using this approach, making the RequestID part of the decision log struct. Can I use the contributor's channel to ask questions about the implementation?

Thank you!

[2022-09-09 11:57] srenatus commented on #5006
Of course, that's what it's for 😃

[2022-09-09 20:13] anderseknert commented on #5112
Yeah, I think what @philipaconrad alluded to was the challenges of finding/keeping those owners and reviewers, judging the quality of their translations, and knowing that they'll be around for at least the foreseeable future.

If we had a group of, say 2-5 people, that for any particular languge would be willing to help out with this — occasionally, but over a longer period of time — we should giv

[2022-09-11 18:29] srenatus opened #5121 "TinyGo compatibility"
This is for tracking issues, and for gauging interest in **supporting TinyGo** for building (parts of) OPA.

The reason is that TinyGo seems to be the preferred way (over the stdlib wasm support) to build Wasm modules from Golang code.

I've previously played with making the parser TinyGo-compatible, but it required a few rather blunt measures, [see this branch](https://github.com/open-policy-agen

[2022-09-11 20:08] philipaconrad commented on #5105
There's also Haskell's [import syntax](https://wiki.haskell.org/Import).
They allow qualified, unqualified, and renamed imports, as well as the ability to import all names *except* a selection from the other module, which is interesting.

[2022-09-11 21:46] anderseknert commented on #5105
Yeah.. another request that's come up a few times is to forbid imports that don't "resolve" to something, like... I guess something close to how PHP differentiates between "import" and "require". Or to be able to _exclude_ something from the stdlib or a keyword, in order to use that for your own custom functions or rules. Both could be useful, but let's keep the scope to multiple imports for this

[2022-09-12 04:38] maheshmedam commented on #4892
Hi @srenatus ,
Yeah, I am also doing the same. But we have to do one step extra for starting the HTTP server. This can be solved by taking the `.tar.gz` as input.

[2022-09-12 11:01] olegroom opened #5125 "add new function to GraphQl built-ins"
Can you make another graphql.isvalid funciton that takes only one param (String graphqlSchema) and check if it's valid. Check just syntax of schema

[2022-09-12 11:34] srenatus commented on #5125
Hmm could you approximate this by using [`graphql.is_valid`](https://www.openpolicyagent.org/docs/edge/policy-reference/#builtin-graphql-graphqlis_valid) with some trivial query? 🤔

[2022-09-12 12:02] olegroom commented on #5125
As far as I know even the trivial query means specifying names/fields from Schema. If so, it is impossible for us. Our product checks the validity of GraphQL Schemas commands send to us. We have no idea what will be there

[2022-09-12 12:37] srenatus commented on #5125
I see. Hmm given that we cannot overload functions, what would you call this? `graphql.schema_valid`? Is this something you could see yourself contributing? 😃

[2022-09-12 12:41] olegroom commented on #5125
Yeap, sounds great) Thx

[2022-09-12 12:56] srenatus commented on #5125
Oh contributors of every experience levels are welcome here. If you'd like a challenge, we're here to help. Just holler and we'll get you some pointers on which steps are needed to get this implemented. The basic building blocks should all be there already.

[2022-09-12 16:17] philipaconrad commented on #5125
@olegroom You can get identical functionality by just checking to see if `graphql.parse_schema` succeeds.
Example policy with helper function:

[code]

Try tinkering with the schema on the Rego Playground, and see if something like the above suits your usecase: https://play.openpolicyagent.org/p/5WG0qQfu4H

You can try messing up the schema, and it should cause the `allow` rule to fail.

[2022-09-12 17:56] #5115 closed

[2022-09-12 18:08] ericjkao opened #5126 "any_prefix_match differs from doc"
## Short description
In OPA 0.44.0, the new `strings.any_prefix_match` behaves differently from [docs](https://www.openpolicyagent.org/docs/latest/policy-reference/#strings).
Docs say:

But in fact, `strings.any_prefix_match({"x-0, z-0"}, "z-")` evaluates to false contrary to the doc.

## Steps To Reproduce

https://play.openpolicyagent.org/p/G5VMwfeI6s
See lines 11 and 14.

## Expected behavior

[2022-09-12 18:11] srenatus commented on #5126
[code]
☝️ This is a set containing of one string: `"x-0, z-0"`. Did you mean to use
[code]
a set of two strings, by any chance? 🤔

[2022-09-12 18:12] srenatus commented on #5126
BTW we really need more examples in the docs, #4623

[2022-09-12 20:13] ericjkao commented on #5126
Oh lol that's a hilarious mistake on my part!

[2022-09-12 20:13] #5126 closed

[2022-09-13 07:41] srenatus commented on #5125
👍 thanks, good call!

[2022-09-13 08:21] olegroom commented on #5125
https://github.com/vektah/gqlparser/issues/238#issuecomment-1245044227
Not sure about this answer, cause I found use of new "v2" version of parser in [internal/gqlparser/rewrite-deps.sh](https://github.com/open-policy-agent/opa/blob/45a3d8ee70241b76087aac40c21a47bc654847a5/internal/gqlparser/rewrite-deps.sh)
Shell I make contribution now obeying this https://www.openpolicyagent.org/docs/latest/con

[2022-09-13 08:28] srenatus commented on #5125
We're using v2.4.8, I think, based on https://github.com/open-policy-agent/opa/pull/5067.

Yeah feel free to open a PR, we'll get the DCO sorted out, it's just a matter of adding a Signed-off-by line to the commit message. Thanks!

[2022-09-13 08:41] giautm commented on #5125
Hello, 👋

I don't think upgrading the package should resolve your problem because there are no related changes to the issue.
https://github.com/vektah/gqlparser/compare/v2.4.8...v2.5.1

You need to make a call to `ValidateSchemaDocument` to validate the schema. :)

[2022-09-13 10:27] ShevtsovBohdan opened #5129 "Decision_logs console logging"
## Short description
When the decision_logs: console config option set to false, looks like OPA tries to send requests with decision_logs to an external service

## Examples:
* OPA configuration:

[code]

 * Discovery config 1:
 `{
    "discovery": {
        "bundles": {
            "tenant": {
                "service": "as",
                "resource": "",
                "polling": {

[2022-09-13 11:08] jkulvich commented on #5125
I have made draft changes: https://github.com/open-policy-agent/opa/pull/5130.
They include gqlparser update to 2.5.1 and 2 new built-in rego functions.

[2022-09-13 11:09] boranx commented on #4884
one possible way might be tweaking the os' TCP configs to enable the reuse of _TIME_WAIT_ sockets by adding the following to `/etc/sysctl.conf`
[code]
If I'm not mistaken in linux, the duration is not adjustable and is defined as one minute: https://github.com/torvalds/linux/blob/master/include/net/tcp.h#L123-L124

[2022-09-13 11:24] srenatus commented on #5125
Huh. I would have expected that it would be cool to just ad the ValidateSchemaDocument call to the existing `parse_schema` builtin. WDYT @philipaconrad?

[2022-09-13 11:24] srenatus commented on #5125
Also if it can be helped, let's try to do one thing at a time. I don't think we need to bump the version for being able to use ValidateSchemaDocument, do we? 🤔 Just because bumping involves fixing some annoying lint errors over and over again 😅

[2022-09-13 15:56] philipaconrad commented on #5125
There's been a surprising amount of activity on this thread this morning! :sweat_smile:

-----

@srenatus It's arguably the more correct behavior, but it'll definitely surprise some downstream users, I suspect. Inputs that were fine for parsing (but not validation!) in OPA v0.44.0 will suddenly start returning validation errors if we make that change.

We'll need to call it out in the Release note

[2022-09-13 18:41] ashutosh-narkar commented on #5129
When you specify the `decision_logs` plugin in the configuration and console logging is disabled, OPA will use the first service in the service config to upload the logs. This is described in the docs [here](https://www.openpolicyagent.org/docs/latest/configuration/#decision-logs). If you don't want decision logging omit the plugin from the config.

[2022-09-14 07:43] #4985 closed

[2022-09-14 07:55] peterchenadded opened #5134 "OPA exec with bundle does not work on windows"
## Short description

Getting error on OPA exec when running command on windows that works on linux/mac.

OPA version: 0.40.0

## Steps To Reproduce

1. Run below command

[code]

The error we get on windows

[code]

Issues seems to be that it doesn't like the second : and treating it as port. the double escaping also doesn't help.

## Expected behavior

It should report on the results and not err

[2022-09-14 11:26] srenatus commented on #4901
😅

[2022-09-14 20:16] philipaconrad commented on #5014
This issue may be stale, but it's still an issue! :sweat_smile:

Hopefully, I or someone else will have time to triage this issue in the parser soon.

[2022-09-15 06:54] olegroom commented on #5125
Then, we are currently working on adding only one is_valid_schema(string) method, which return true/false. Let us know if there is a possible somehow get the error message, cause inner Go function throw an informative error message, which I would like to have in Rego.

[2022-09-15 09:06] srenatus commented on #5134
Hey there, thanks for the report. That version is pretty old, could you please try the same with 0.44.0, by any chance?

[2022-09-15 09:07] srenatus commented on #5014
@philipaconrad I've put it into the backlog; that way, it won't get picked up (and picked on) by the stale bot.

[2022-09-15 12:02] ShevtsovBohdan commented on #5129
But discovery config, that is returned from the service is immutable, the omitting of the plugin does not change anything

[2022-09-15 16:24] ashutosh-narkar commented on #5129
@ShevtsovBohdan some of this behavior is for backwards compatibility. So if your turn off the console logger OPA will choose the first service to send the logs. Is there a reason to turn the console logger on and off ?

[2022-09-15 22:40] peterchenadded commented on #5134
Sure, pretty sure the issue exists in the latest version when I looked at the code. Will do an actual check and get back.

[2022-09-16 17:01] ShevtsovBohdan commented on #5129
It was a request from the DevOps engineers.

[2022-09-16 17:46] charlesdaniels opened #5144 "proposal: object.union_merge"
## What is the underlying problem you're trying to solve?

The problem to be solved is merging objects that may have collection fields which should be merged, rather than having one overwritten. For example:

[code]

There could be a reasonable argument made that the ordering in which arrays would be concatenated should be the reverse of what I have shown above. It doesn't really matter so long as

[2022-09-16 20:22] benweint opened #5146 "Make it easier to inject PEM-formatted keys into keys[_].private_key"
## What is the underlying problem you're trying to solve?

There's no easy way to inject a PEM-formatted private key into the `keys[_].private_key` config file directive described [here](https://www.openpolicyagent.org/docs/latest/configuration/#keys) from an environment variable or file.

PEM-formatted keys look like this:

[code]

If you do the naive thing and say this in your config file:

[cod

[2022-09-16 21:06] anderseknert commented on #5146
Both suggestions seem sensible to me. I think the best practices for injecting secrets have moved further and further away from the use of env vars since we last thought about this, and we should probably revisit this not just for the `private_key` attribute, but also in-policy secrets like tokens passed to e.g. `http.send`, and so on. The problem with env vars — especially in a Kubernetes context

[2022-09-17 00:29] liu-du opened #5148 "var is unsafe when variable is nested"
## Short description

When variable is nested, opa incorrectly thinks it is unsafe. opa version is v0.44

Examples:
`opa test` pass with the following `auth.rego`:
[code]

output:
[code]

`opa test` fail if I nested `base_test_case` inside a function:
[code]

Error output:
[code]

## Steps To Reproduce

run `opa test auth.rego` with above example files

## Expected behavior
nesting `base_test_case

[2022-09-17 01:56] ericjkao commented on #3924
Apologies @oren-zohar that I lost track of this discussion (need to change my notification settings). Let me try to amend and improve my previous comment in light of your response.

The non-standard behavior of `not` turning `true` into `undefined` instead of `false` does not currently cause major confusion precisely because `not` is allowed only in places where the distinction between `undefined`

[2022-09-17 06:03] srenatus commented on #5148
Thanks for the report. Indeed this should just work as you expected it to work.

[2022-09-17 07:21] liu-du commented on #5148
It seems this only happens when `with` keyword is used.

[2022-09-17 08:21] srenatus commented on #3631
OK so here's a thought: let's use WASI!

A custom builtin would look like this:
1. it's a WASI command (not reactor)
2. it accepts its arguments via ARGV, as JSON
3. its output is JSON, taken from its stdout

We would not need any special SDKs, WASI is pretty standard by now.

But each wasm custom builtin module would need a JSON parser if it wants to have more difficult argument types than string

[2022-09-17 17:13] juntao commented on #3631
Hmm, you mean to run the Wasm program in a separate process outside of OPA (as opposed to embedding into OPA). You still need to read / write the STDIN / STDOUT from OPA.

Is it easier than building integration with the GO SDK? If so, then yes. :)

[2022-09-17 18:21] srenatus commented on #3631
As far as the plugins and builtins topic is concerned, I was only thinking about custom builtins here.

OPA would evaluate these using wasmtime or wazero. It would call them with the args accordingly, and read and parse their stdout, to understand the output. I've been using stdin/stdout causally here -- not on the CLI, but "as if", whatever WASI does there, to emulate it.

In the end, we'd be abl

[2022-09-17 19:29] anderseknert commented on #3631
This is really interesting 😃 A couple of questions:

1. Would it be possible to provide a "Wasi SDK" or library that included, JSON parsing, and maybe some other helpers?  Thinking more of this now I guess it would be hard to jack into something like that from a programming language that later would be compiled to Wasm. Maybe it wouldn't matter much, as any language or framework ships with a JSON

[2022-09-18 09:11] srenatus commented on #3631
A few notes, I'll get back to this with more later:

I think many use cases wouldn't need a full-blown JSON parser. Only builtins that operate on objects and arrays would probably need it...? JSON strings are pretty much just strings, I suppose 😅

Also almost any language comes with a json library these days, I think. Of course, we should get a handful of examples together beforehand, create a WAS

[2022-09-18 09:20] srenatus commented on #3631
Yeah we could encode them as `{"a", "b"}`, and put the burden on the person who's writing a wasm custom builtin. Or we could turn them into arrays `["a", "b"]` when passed to the wasm custom builtin and allow the builtin author to just use any off-the-shelf JSON lib for their language.

In the interest of simplicity, I'd go with the later.

[2022-09-18 09:24] srenatus commented on #3631
Not really, it's more that I hadn't thought about this before. But if can come up with a generic enough mapping to WASI then that would be an option, too.

[2022-09-18 14:21] aarcamp commented on #5002
Same expectation. I was very happy when the "if" keyword was added to the grammar (it especially helps improve readability for those new to Rego), but the lack of "else if" leaves a gap here.

[2022-09-19 10:52] srenatus commented on #5002
🤔 The tricky thing here is forward compatibility: old OPA versions compiling new Rego policies. So far, we've been able to say that if an opa version knows the `if` future keyword, feeding it policies using that import is OK. If we introduce the `else if` construct without any new guard, we lose that: policies that use else+if would fail on some OPA versions with future kw capability for `if` and

[2022-09-19 11:33] anderseknert commented on #5002
That's a good point. I guess something like `import future.keywords.elseif` could be a way forward, but it would certainly be more ergonomic to skip that requirement. I guess we could also consider having more advanced conditions be part of an import, perhaps when looking into https://github.com/open-policy-agent/opa/issues/5105

[2022-09-19 11:44] anderseknert commented on #3631
Custom functions would be a great start, so I'm fine with keeping the initial scope down to that. As for passing sets  as arrays, I guess that's fine. The Rego compiler/runtime would still complain if a set was expected but not provided, and I guess we could do something similar to ensure type coersion on the return value, if a custom builtin is documented as returning a set.

[2022-09-19 13:40] #5148 closed

[2022-09-19 14:05] srenatus commented on #3631
That's a good point, btw, custom builtins provided via wasm modules need some kind of type annotation.

[2022-09-19 19:21] jwineinger opened #5153 "Inconsistent data available from bundle"
## Short description
We are creating OPA configs that load several bundles by means of a discovery bundle and policy. One bundle has most of the policy in it, as that is fairly static. Other bundles are what we call "data bundles" because they are recreated and updated (on s3) frequently. We use periodic refreshes of these to keep OPA updated.

We are seeing inconsistent loading of the data from t

[2022-09-19 19:29] anderseknert commented on #5090
In addition to better documentation, it's been suggested that we print something informative on server start unless any `--addr` has been provided — i.e. when the default value has been picked. While this might be somewhat annoying, it's easily fixed by doing the right thing. Naturally, we'll want to make sure all our docs are updated to follow our own advice.

[2022-09-19 20:06] jwineinger commented on #5153
FWIW, it seems that 0.44.0 seems to work much better in this regard. I'm unable to reproduce with that version

[2022-09-19 21:27] anderseknert opened #5155 "Decision logging: confusing "upload chunk size too small" error message"
When the size of a decision log chunk exceeds the size limit set by the `upload_size_limit_bytes` configuration attribute, an error message saying "[upload chunk size too small](https://github.com/open-policy-agent/opa/blob/main/plugins/logs/encoder.go#L68)" is printed to the logs. This is confusing to users, as arguably, the upload chunk size is too _big_, and the _configured_ value is too small.

[2022-09-19 21:38] philipaconrad commented on #5155
I like the updated error message! That gives the user more context, and makes the problem a bit clearer.

[2022-09-19 22:20] #5155 closed

[2022-09-20 05:29] srenatus commented on #5153
I'm glad to hear that. I suppose closing this is OK then. Feel free to re-open if need be.

[2022-09-20 05:29] #5153 closed

[2022-09-21 09:47] datfinesoul opened #5162 "Proposal: regex.replace(search, pattern, value)"
## What is the underlying problem you're trying to solve?

See the un-commented parts of the example
https://play.openpolicyagent.org/p/aApnhKICLK

We were asking around about ways to do some more complex string manipulation, in this case taking the "friendly" github usernames, and converting them into their ID type format.  The best thing we could find after asking on the OPA slack was the soluti

[2022-09-21 10:55] anderseknert commented on #5162
Thanks for suggesting that, @datfinesoul 👍 Would you like to take a shot at an implementation? :)

[2022-09-21 13:34] datfinesoul commented on #5162
@anderseknert My golang skills are practically non-existent at the moment so that might be somewhat of a problem, but if no one has time to tackle this in the coming months, I'll give it a shot as I improve.

[2022-09-21 13:39] anderseknert commented on #5162
Cool! I've labeled it as a good first issue, so it's not unthinkable that someone else wants to give it a shot. But if that happens, we'll have other issues for you if you're up for it :)

[2022-09-21 15:50] charlieflowers opened #5165 "io.jwt.decode_verify panics when given non-numeric `exp` or `nbf`"
## Short description

When calling the builtin `io.jwt.decode_verify`, if you pass a token with the value `null` for `exp`, this causes an OPA panic.

Speculation: It _appears_ that the panic happens because the builtin code is trying to assert that the expiration date in `exp` is not in the past. Since the value of `exp` is null, a crash occurs.

Here's the code where I _think_ the problem likely

[2022-09-21 15:57] liamg opened #5166 "bug: Panic when using a JSON schema with recursive elements"
## Short description

I'm using the Go API to apply some policies to a variety of different inputs. I'm using a JSON schema for each input type to validate rules and have come across a panic when using a schema with recursive elements. Minimal example below.

* OPA version: v0.44.0

The example below is simplified for readability but we need this feature to parse tree structures etc.

## Steps To

[2022-09-21 16:25] byronic commented on #5007
Yeah, this is pretty important. See from the output here that both decisions exit with a 0 code, making this useless for a pipeline or automated run:

[code]

Given that it's a feature I need, I'm going to get started on it.

[2022-09-21 19:56] humbertoc-silva commented on #5006
Hi guys,

I created a new branch and implemented the feature following the @srenatus tip (making the RequestID part of the decision struct).

Could you, @anderseknert and @srenatus, check my new [branch](https://github.com/open-policy-agent/opa/compare/main...humbertoc-silva:opa:decision-log-correlation-server-info) out, please?

Thank you.

[2022-09-21 20:14] anderseknert commented on #5165
Thanks for reporting that, Charlie 👍 We'll have it fixed ASAP.

[2022-09-22 05:17] srenatus commented on #5006
You could also open a PR right away. It's easier to comment on that etc

[2022-09-22 08:54] anderseknert commented on #5007
Great! I'll assign you to the issue then 👍

[2022-09-22 09:37] boranx commented on #5166
fwiw, yeah feel free to fix it :) I was debugging the issue and saw it goes into a loop as the child objects are continuously x->y->x->y then at some point the stack overflows

https://github.com/open-policy-agent/opa/blob/main/ast/compile.go#L1132-L1136

or the following might help for debugging

[code]

[2022-09-22 10:05] liamg commented on #5166
@boranx Thanks, I raised a PR :)

[2022-09-22 20:24] anderseknert commented on #4411
@tristanls if you find the time, I'd be curious to know if this helped solve your issue 🙂

[2022-09-23 00:01] davidmarne-wf opened #5170 "Early Exit Finding First Item in Array That Meets Some Condition"
## What is the underlying problem you're trying to solve?
There is no way to "exit early" when trying to find the first item in an array that meets some condition. As far as i can tell, to find the first item in an array that meets some condition, one must use a list comprehension to create a new array of all the items that meet the condition, then take the first.

## Describe the ideal solution
r

[2022-09-23 02:28] philipaconrad opened #5171 "Non-deterministic builtin functions can break policies run through partial evaluation"
## Short description
When building a bundle with:
 - An optimization level > 0 and
 - `opa.runtime()` (or other builtin functions) used in the policy

The resulting optimized policy can wind up missing critical rules entirely. This occurs because the optimizer attempts *partial evaluation at bundle build time*, which can have nonsensical results for some non-deterministic Rego builtins that query

[2022-09-23 05:09] #5171 closed

[2022-09-23 07:17] srenatus commented on #4304
https://github.com/open-policy-agent/opa/issues/3957

[2022-09-23 07:17] #4304 closed

[2022-09-23 09:10] #5166 closed

[2022-09-23 09:25] srenatus commented on #5170
Thanks for taking the time to write this up!

There might be further ways to approach this. So for one, EE of `first_positive_item` in
[code]
would _not_ be an option since it requires _constant_ values, and `item` is a variable.

Now if we define a multi-value rule (partial set), that would be
[code]

but if we use that, like
[code]
`allow` _can_ exit early (it's got only one constant value, `tru

[2022-09-23 09:26] srenatus commented on #5170
👉 https://github.com/open-policy-agent/opa/issues/4035 this is the issue I've mean there.

[2022-09-23 09:43] srenatus commented on #5170
Now here's another thing that bugs me -- the last paragraph. You shouldn't have to know those things about `in`. Perhaps we could look into some compiler rewriting to turn `in` into the other form during compilation. The tricky bit is the return value, if `set[a]` fails because `a` is not a member of the set, it'll be undefined; `internal.member2(set, a)` will be false.

But it's not really urgent

[2022-09-23 15:39] cccsss01 opened #5174 "add glibc 2.29 dependency for v0.44.0"
I attempted to install the latest version of OPA, ie. v0.44.0, and received GLIBC_2.29 required.  Which I believes means in order to use this you need to be on a RHEL 9 for RHEL based distro.

[2022-09-23 15:46] #5174 closed

[2022-09-23 15:59] srenatus commented on #5174
RHEL isn't a requirement, it's just that that's the lowest version of glibc that you can use OPA with. Unless you're using the static build, i.e. `linux_amd64_static`. But you've closed this, so I guess you've found that already...

[2022-09-23 16:22] cccsss01 commented on #5174
I misspoke, it's not that RHEL 9 is required, but from the reading i'm doing, It's stating, you don't want to upgrade the glibc on a rhel 8 based distro and want to go to rhel 9.

[2022-09-23 18:03] srenatus commented on #5174
I'm not sure I understand this -- is it a question...? I'd have to double check, but IIRC some old but not-EOL'ed yet RHEL version had a glibc that was too old. Has this been an issue for you? 😃

[2022-09-23 19:14] cccsss01 commented on #5174
rhel 8 based distro has glibc_2.28, which is to old.  It has not been resolved for me.  But I don't know if this is a opa problem, or a me problem.

[2022-09-23 19:28] srenatus commented on #5174
Try the static binaries please.

[2022-09-23 20:14] humbertoc-silva opened #5176 "OPA SDK features (strict-builtin-errors, instrumentation, and explain (traces))"
### Discussed in https://github.com/orgs/open-policy-agent/discussions/269

<div type='discussions-op-text'>

<sup>Originally posted by **humbertoc-silva** September 10, 2022</sup>
Hi everyone,

I am testing the OPA SDK, and I would like to know if is it possible to use the following parameters as we use with the OPA server when we run a query.

- provenance
- explain
- metrics
- instrument
- stri

[2022-09-23 21:09] boranx commented on #5162
wouldn't the following work for this case? afaik, there's already one builtin replace method but probably it doesn't support general regex syntax

[code]

[2022-09-24 20:50] anderseknert commented on #5162
@boranx yeah, for simple cases you can probably achieve what you need with a combination of the current builtin functions, iteration and some other constructs. Having the option to do replace on patterns rather than values seems like a good addition nonetheless :)

[2022-09-24 23:40] charlieflowers commented on #5165
PR: https://github.com/open-policy-agent/opa/pull/5178

[2022-09-25 03:32] charlieflowers commented on #3341
This feature could help with concerns we have regarding the potential for erroneous auth-z decisions in the presence of unexpected input. We are considering developing some features around input validation for ourselves, so if there is alignment in direction here we might be able to contribute.

[2022-09-25 11:50] boranx commented on #5162
Hey folks, I wanted to give it a shot and created a small PR to implement the proposal

[2022-09-25 16:33] Parsifal-M commented on #4937
Hey @anderseknert :wave: !

Hoping this URL works for you when you check it, I've not used Netlify much in the past so not sure how long it stays up.

Is this something (more or less) you're looking for? https://6330814e08aa9d269457dfc4--parsifal-opa.netlify.app/docs/edge/annotations/#accessing-annotations

You mentioned a very simple example and the one in the `Rego` reference docs seemed actuall

[2022-09-25 18:31] kumar98ksp commented on #5081
@srenatus ,I want to work on this issue , could you assign me.

[2022-09-25 19:23] kumar98ksp commented on #5081
thank you for assigned

[2022-09-25 19:24] anderseknert commented on #4937
This is great! Thanks @Parsifal-M 😃 I'd probably skip the use of a custom function and just have the values used directly in the rule — abstractions might distract rather than help here. But that's a nit really. Please submit a PR :)

[2022-09-25 19:25] anderseknert commented on #5162
Awesome, @boranx 👏 😃

[2022-09-25 19:31] #5165 closed

[2022-09-26 07:15] Parsifal-M commented on #4937
Hey @anderseknert :wave:

Updated version as discussed: https://63314f1b746bfd374108e097--parsifal-opa.netlify.app/docs/edge/annotations/#accessing-annotations

What do you think? :smiley:

[2022-09-26 07:57] #4937 closed

[2022-09-26 08:36] srenatus opened #5181 "strict mode: capture import clashes"
[code]

Here, the rhs `r0` (`r0 == 10`) is rewritten to `data.foo.p ==  10`. The rule body of `r0` is thus true, and the _rule_ `r0` evaluates to 11.

Without the import, `r0` would of course be flagged as recursive.

💭 Strict mode should capture that the import shadows a rule, perhaps?

[2022-09-26 08:38] srenatus opened #5182 "CLI: opa eval -S/--strict"
The compiler's strict mode is only exposed via `opa check --strict <file.rego>`. It would be nice if `opa eval` also had a flag like this.

[2022-09-26 08:40] liamg opened #5183 "bug: JSON Schemas with recursive and reused elements are not applied correctly"
## Short description

*NOTE: PR incoming!*

Using JSON schemas with recursive elements is still buggy when reusing the same element in multiple locations. This is because the cache key used is unique only to the object in the schema, not the property. This seems to be a side effect of the gojsonschema package. I have a fix for this incoming which is to cache things based on the full reference URL

[2022-09-26 08:57] anderseknert commented on #3459
Another benefit of this could be that e.g. strict mode, or future linters, could report on unused variables and rules even at the top level, if they aren't referenced by any of the entrypoint rules.

[2022-09-26 09:18] #5183 closed

[2022-09-26 09:47] #4742 closed

[2022-09-26 09:54] srenatus opened #5185 "IR: port optimizations done in the wasm compiler to IR post-processing"
There are a few optimizations in the wasm compiler. For example, if it encounters a `ir.NotEqualStmt` with two constants, it will
- emit nothing if they are equal
- emit a break if they are not

Effectively avoiding the need to do the same thing at runtime.
[code]

👉 https://sourcegraph.com/github.com/open-policy-agent/opa@ab385e9c172f68c42bc3924dcbcad29c4d937407/-/blob/internal/compiler/wasm/wasm

[2022-09-26 16:30] tsandall commented on #5182
We should only apply the strict mode checks to the Rego modules that get compiled, i.e., do not enable strict mode on the user-supplied query.

[2022-09-26 20:56] byronic commented on #5007
Thanks much! I am in-progress on this, currently troubleshooting the build. Hopefully I'll have something to show by the end of the week

[2022-09-26 21:49] anderseknert commented on #5007
No stress! If you need any help getting things set up, the #contributors channel in the OPA Slack is a great place to ask questions 😃

[2022-09-27 10:25] liamg opened #5187 "Race condition when setting net capability for gojsonschema"
## Short description

There is a race condition in `SetAllowNet()/isAllowed()` (internal/gojsonschema/jsonLoader.go:27) which writes/reads to a map without a mutex lock.

Fix incoming.

[2022-09-27 10:53] #5187 closed

[2022-09-27 11:38] Parsifal-M commented on #5182
Hey guys :wave:

Just curious as I've been playing around with this a bit but getting a little stuck, how would you go about approach this? Maybe at a high level? :sweat_smile:

[2022-09-27 11:58] Parsifal-M commented on #5182
Definitely helps thanks! Now I see I was getting stuck here:

Glad I asked the question, I will keep hacking away then!

Thanks again :+1:

[2022-09-27 12:00] srenatus commented on #5182
To be quite honest, I didn't foresee that extra hoop to jump through. 😅

[2022-09-27 17:27] #5162 closed

[2022-09-27 20:51] peteroneilljr opened #5190 "Keyword "if" returns true when there's an empty rule body"
## Short description
When using the `if` keyword in a rule head, the output will return `true` if the rule body is empty. Removing the `if` keyword returns the expected result that an empty rule body is not allowed.

## Steps To Reproduce

This returns "test_true" = true
[code]

This retuns the expected "rego_parse_error: found empty body"
[code]

## Expected behavior
A rule head with the `if` key

[2022-09-28 05:26] byronic commented on #5007
My first pass at this is done, but I expect some changes to come up on review. Sample output of the current PR #5191 :

[code]

[2022-09-28 18:50] tsandall opened #5195 "Explain the `http_request_duration` metric in the docs"
Currently we mention the `http_request_duration` histogram in the Prometheus endpoint but we don't explain that the buckets go from 1us to 1s:

[code]

We should improve the docs to explain the histogram bucketing.

[2022-09-29 17:51] Parsifal-M commented on #3199
Sorry I am still working on this 🙏😂

[2022-09-29 20:37] philipaconrad opened #5199 "`json.filter` can panic when given an empty JSON path"
## Short description
As the title suggests, the `json.filter` builtin will panic when given an empty JSON path, such as `""` in the paths array.

Example:

Live version on Rego Playground: https://play.openpolicyagent.org/p/eatDWBmCZa

Input:
[code]

Rego policy:
[code]

This likely affects several OPA versions back, since the `json.filter` builtin has been around for a while, but I tested the exa

[2022-09-30 02:55] #5199 closed

[2022-09-30 19:00] philipaconrad opened #5201 "annotations: Allow applying schemas to rule/function outputs"
## What is the underlying problem you're trying to solve?
Currently, the [schemas/annotations](https://www.openpolicyagent.org/docs/latest/schemas/) feature in Rego can be applied to document values at `package`, `document`, `rule`, and `subpackages` scopes.

However, the `rule` scope currently only applies to *input* values to a rule-- there is no way to handle enforcing schemas over the *outputs

[2022-09-30 22:01] davidmankin commented on #1281
I realize this is an old issue, but it's almost exactly what I'm trying to accomplish in my policy project.  Have there been advances in the language to where something like @tsandall 's solution would work?

[2022-09-30 22:04] davidmankin commented on #1281
I guess I should have tried it first.  @tsandall 's solution works in today's playground! https://play.openpolicyagent.org/p/MCIVQW4Gkl

(I'll have to see if it works in my older version of OPA we're pinned to right now...)

[2022-09-30 23:42] ericjkao opened #5202 "default function rule unexpectedly produces output field"
## Short description
Weird little corner case
`default f(x) := 1` creates an output of `"f": 1`. Parser corner case issue?

## Steps To Reproduce
Evaluate this playground: https://play.openpolicyagent.org/p/r2dzB5veNj
See the output of
[code]

## Expected behavior
Output is `{}`

## Additional context
OPA 0.44

[2022-10-01 10:42] srenatus commented on #5202
Related https://github.com/open-policy-agent/opa/issues/2445

But arguably there should just be no output in this case...? 🤔

[2022-10-02 10:03] Parsifal-M commented on #5182
Hey @srenatus :wave:

I think I can work on this one now if you'd like to assign it to me.

I've made some good progress and just need to figure out the testing part and what needs to be modified there.

Is that ok?

Thanks!

[2022-10-02 10:55] Parsifal-M commented on #5182
Just small question on this, running `opa eval -S policy.rego` doesn't seem to work that well... however running for example `opa eval -S -d policy.rego data.app.rbac.allow` will return something like:

[code]

Could be I'm implementing it incorrectly :thinking: just wondering what you guys think should be the functionality here, should it be just running `opa eval -S policy.rego` should give the

[2022-10-02 18:31] anderseknert commented on #5182
`opa eval` should require a query, so the current behavior is IMHO the right one. Adding a strict flag should simply allow the strictness check baked into the eval command, but not have it's semantics changed.

[2022-10-02 19:22] anderseknert commented on #5201
Defining schema for a `data.*` attribute on the package level, or possible even sub-package level, works pretty well for this purpose today already:

[code]
The above will fail with:
[code]

So far, so good 🙂 I think the problem with the approach above, and one that we'll need to consider for defining schemas for _outputs_, is that of schema distribution. If the onus of importing schemas is still

[2022-10-04 15:52] yurivict opened #5206 "freebsd build for v0.44.0"
Downstream [report](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=266813).

[2022-10-04 16:03] srenatus commented on #5206
Thanks. That installation method isn't supported, I'm afraid. Let's fix the build instead.

[2022-10-04 16:04] srenatus commented on #5206
To be clear, I certainly want that port to work! Is there an option not to use "go install"?

[2022-10-04 16:12] srenatus commented on #5206
The dependencies are all bundled in the git repo. The preferred build method would be to run `make build` in the sources.

[2022-10-04 16:22] yurivict commented on #5206
```make build``` fails:
[code]

[2022-10-04 16:27] Parsifal-M commented on #5182
Hey! :wave:

Just wondering @srenatus, how you would like to see this tested? As its kind of new behavior what should I consider when making tests?

Any tips you can give on this? :smile:

Thanks!

[2022-10-04 17:55] srenatus commented on #5206
Ah, right. There's no wasmtime lib for freebsd in wasmtime-go (because there's none in wasmtime's release artifacts). Bummer! Can you try this instead, please?

[code]

We should fix the `Makefile` here to include more targets, so that `make build` just works on *BSD: https://sourcegraph.com/github.com/open-policy-agent/opa@f3c0630ea50b921630ae5a8ebddf17ae89b28ff1/-/blob/Makefile?L21-23

[2022-10-04 17:59] srenatus commented on #5182
There are no e2e tests for executables and their outputs. So it would be nice if there was a test cases added [in `cmd/eval_test.go`](https://sourcegraph.com/github.com/open-policy-agent/opa/-/blob/cmd/eval_test.go), and it would test the `eval` method, [like this test](https://sourcegraph.com/github.com/open-policy-agent/opa/-/blob/cmd/eval_test.go?L305-329)

[2022-10-04 19:10] yurivict commented on #5206
make attempts to use git:

Downloads during package build aren't allowed in virtually all packaging systems (except Arch).

Is there a way not to download anything?

[2022-10-04 19:46] srenatus commented on #5206
It just fails looking up the ref. I'll look into fixing that tomorrow.

[2022-10-05 01:40] dwheaton-paloit commented on #5134
This issue still exists with 0.44.0

[2022-10-05 07:26] srenatus commented on #5206
OK I'm fairly sure the `git` failure is [from this line](https://github.com/open-policy-agent/opa/blob/v0.44.0/Makefile#L444):

[code]
so while it's annoying and noisy, it should not affect the build at all.

[2022-10-05 21:06] TheLunaticScripter opened #5209 "Add ability for https.send builtin to run renegotion"
## What is the underlying problem you're trying to solve?
User is getting an error with http.send
"error": { 2"code": "eval_http_send_network_error", 3"message": "Get \"https://mydomain.com/path\": local error: tls: no renegotiation" 4}, 5"status_code": 0

## Describe the ideal solution
http.send would successfully be able to handle renegotiation

[2022-10-05 21:07] ashutosh-narkar commented on #5209
@TheLunaticScripter related https://github.com/open-policy-agent/opa/issues/4917

[2022-10-05 21:09] #5209 closed

[2022-10-05 21:14] ericjkao commented on #5202
I think no output makes sense. In all other cases, the expectation is that a function definition itself (without function call) produces no output at all.

[2022-10-05 22:07] roughbits01 opened #5210 "Parser should fail with misspelled if keyword?"
## Short description
I'm actually not sure if this syntax is valid but I mistyped `if` (`ifv`) and the policy parsing didn't fail.
[code]

## Steps To Reproduce
https://play.openpolicyagent.org/p/ygexaGdhII

## Expected behavior
Parser should fail?

## Additional context

[2022-10-06 05:17] srenatus commented on #5210
[code]
This is what it looks like to the parser: defining a function and a rule.

We could look into requiring a being after a shorthand rule out function definition, maybe?

[2022-10-06 06:33] t83714 opened #5211 "Allow "undefined" to be passed to function as value"
## What is the underlying problem you're trying to solve?

Want to create a function to test if a field is either "undefined", null or empty string.

e.g. the `isEmpty` function below:

[code]

If we create a rego file `test.rego` with the content above, and run:
[code]

- When supply input file `input.json` as:

[code]

We will get the correct `true` result:
[code]

- However, when supply input f

[2022-10-06 08:08] srenatus commented on #5211
I'm afraid this is just not possible given the semantics of Rego. When an expression is undefined, it cannot be used as a function argument.

Basically, in your `isEmpty(input.xxx)` what fails isn't `isEmpty`, but the evaluation stops because its argument is undefined.

You can work around this -- if you feel you have to -- with something like this:
[code]

<details><summary>Condensed version</sum

[2022-10-06 08:26] srenatus opened #5212 "download bundles via OCI without credentials"
## Short description

Pulling bundles from OCI registries should work if there are no credentials involved. But it's been reported to raise an error:
[code]

ℹ️ v0.44.0

[2022-10-06 08:27] srenatus commented on #5212
If you're looking into this, please LMK, I've got a branch with oras/v2 lying around. We shouldn't fix the current code, it's got to be changed significantly anyways.

[2022-10-06 09:40] t83714 commented on #5211
@srenatus Thanks a lot for your prompt reply.

The alternative solution you mentioned would be helpful in some cases.

But the `input` JSON data, for most cases, would come with a complex structure.

e.g. we might need to test if `input.a.b.c.d.e` is empty. But the `input` JSON data could be undefined at any point along the JSON path. i.e. `input.a` or `input.a.b` or `input.a.b.c` could be undefin

[2022-10-06 09:48] srenatus commented on #5211
Are you aware of `object.get`? I think you could do something like `object.get(input, ["a", "b", "c"], "__undefined__") == "__undefined__")` to check if the nested key is undefined 🤔

There are other approaches than introducing lazy semantics, some of them have been discussed here: https://github.com/open-policy-agent/opa/issues/2345b

I guess in JS, you'd use [optional chaining](https://developer

[2022-10-06 10:41] t83714 commented on #5211
Thanks, @srenatus 👍

1> My use case will translate OPA's partial evaluation result to other DSLs later (e.g. SQL )

Because of that, I tend to avoid using built-in functions on any possible `unknown` fields.

`not input.a.b.c` is much easier to translate (and more generic & likely supported by any systems) than `object.get(input, ["a", "b", "c"], "__undefined__")`

2> I think one of the best thing

[2022-10-06 11:04] srenatus commented on #5211
I suppose the current semantics work well for asserting that something is valid: `goodValues(input.a.b.c)` instead of checking something's absence...

[2022-10-06 12:11] srlk opened #5216 "Compile API performance degradation with dynamic policy composition"
Hello

We are using dynamic policy composition to evaluate policies. We have over 1000 policies and a part of them are evaluated to  find final decision (allow/deny)

We have noticed a significant slowdown on Compile API as the number of policies are increasing, even though majority of the policies are not evaluated with the help of dynamic policy composition.

## Short description

OPA version: 0

[2022-10-06 14:39] byronic commented on #5007
The related PR has been updated to exit non-zero on any _defined_ result (or error), and zero on undefined results w/ no errors.

So the above comment would show nonzero exit codes for both `false` and `true`, but as noted in the PR comment you can condense a truthy value into an undefined result if needed at the policy level -- cf. https://github.com/open-policy-agent/opa/pull/5191#issuecomment-1

[2022-10-06 20:27] #1514 closed

[2022-10-07 07:08] srenatus commented on #5216
Thanks for the detailed report. I'm not sure there is much we can do here, though. There's complexity that we can't make disappear when using dynamic composition, so your expectation perhaps just can't be met.

That said, an increase like that, given the increase of policies, doesn't seem that bad. The step from 10 policies to 10k is huge.

[2022-10-07 07:19] srenatus opened #5217 "releng/docker: minor-release tags"
It would be nice of users were able to use a tag like `openpolicyagent/opa:0.44` and have it resolve to whatever patch release in the 0.44.x series we have out there.

This is similar to how others work, like, golang:1.19 will get you 1.19.2 today.

I think it would require the release process to
1. tag a major release `x.y.0` with `x.y`
2. re-tag `x.y.1` with `x.y` when it's released, and same fo

[2022-10-07 07:35] srenatus opened #5218 "io.jwt.verify_es*, io.jwt.decode_verify: panic from cypto/elliptic in v0.44.0 (ecdsa)"
When we've upgrade Go to 1.19.1 in v0.44.0, the stdlib code underlying `io.jwt.verify_es*` (256, 384, 512) and `jo.jwt.decode_verify` for the same algorithms changed. As a consequence, _invalid token signatures_ could make OPA panic.

Before 0.44.0, they were just invalid. With 0.44.0, they would panic.

See this example (concrete outputs are irrelevant, and I can't share the inputs):

[code]

ℹ️

[2022-10-07 07:35] srenatus commented on #5218
The fix will be shipped with v0.45.0.

[2022-10-07 07:35] #5218 closed

[2022-10-08 15:35] Parsifal-M commented on #5182
Hey! @srenatus  :wave:

I will push what I have tomorrow for this, I have the basic groundwork done (but need to do some tidying up) for the testing but might need some guidance on doing the testing properly, hope that is okay, think it may be easier if you can see what I have done... :sweat_smile:

Thanks!

[2022-10-09 22:53] fab29p opened #5226 "Partial Evaluation : wrong local names"
## Short description
Wrong local names in partial evaluation

## Steps To Reproduce
Using partial evaluation with this Rego Rules in a file rules.rego

package data.play

u[{"a":a}] {
    some {"a":a} in data.tables.x
}

b[{"a":a}] {
  some {"a":a} in data.tables.x
  films := [1 | u[{"a":a}]]
}

test[{"a":a}] {
     b[{"a":a}]
}

Command line :

./opa eval --data rules.rego  -f source  -u data.tab

[2022-10-10 02:26] vinhph0906 commented on #4290
hey, @srenatus. Do you have any updates on this issue?

[2022-10-10 05:09] srenatus commented on #4290
No, I'm afraid not. But it would make for a good contribution and I could help you with that.

[2022-10-10 07:38] srenatus commented on #5226
I've been trying to investigate this, but I'm stuck fairly early on:

With this policy (I've added a future keyword import for `in`),
[code]

I only ever seem to get empty results, using any OPA 0.4x.y version.
[code]

Which OPA version are you using? Is there more to your policy that is missing here...?

[2022-10-10 08:52] fab29p commented on #5226
Hi.

Try with « package play » :-)

[2022-10-10 08:55] fab29plou commented on #5226
And sorry for the wrong copy/pasting in my original post regarding the package name.

[2022-10-10 08:55] srenatus commented on #5226
🤦 OK it's been early. On a Monday.

[2022-10-10 09:02] srenatus commented on #5226
ℹ️ This bug goes waaaay back. The oldest version I've tried is 0.29.4 and it is there, too.

[2022-10-10 09:24] anderseknert commented on #5210
This is similar to the oddness I encountered some week ago, where forgetting to import future keywords would still allow the "if" construct — it would just do something else than what was expected. I wonder if there is any point in us allowing more than one rule to be defined on a single line? It seems like an awful style preference, and one that's much more likely to be the result of a mistake.

[2022-10-10 09:27] srenatus commented on #5210
How about making this a strict mode check? It'll be the gracious way out of this. After all, awkward or not, it's valid syntax right now and we'd break it if we changed it.

OTOH, it have a really hard time imaging anyone depending on this possibility. 🤔

[2022-10-10 11:06] #5134 closed

[2022-10-10 11:51] fab29plou commented on #5226
Example can be made simpler

[code]

[2022-10-10 11:55] srenatus commented on #5226
Do you even need the `some .. in ...`? I also think it's sufficient that `a` is unknown 👇

[code]

[code]

[2022-10-10 13:30] anderseknert commented on #4290
@vinhph0906 done 👍

[2022-10-11 07:32] srenatus opened #5229 "repl: "dump" failing on case-sensitive file systems?"
That's the evidence: https://github.com/open-policy-agent/opa/pull/5227#issuecomment-1273975492

There is no reason it should depend on case-insensitivity to work correctly. Let's make it work on case-sensitive FSes.

[2022-10-11 08:15] LionOnTheChase opened #5230 "include trace.id and span.id in decision logs"
## What is the underlying problem you're trying to solve?
Hi Team,
I have a requirement for customizing what goes into the decision logs.

In our microservices application, we are using NewRelic which correlates logs with opentelemetry trace data.  To facilitate this, we need to include trace-id and span-id in the logs of our services. We are using OPA-Envoy as an authorization service for multipl

[2022-10-11 08:48] srenatus commented on #5230
If you're using object results with the envoy plugin, you can inject anything into the decision log's result field.

For example, see https://www.openpolicyagent.org/docs/latest/envoy-primer/#output-document for the output document. You can add any field there, it won't be picked up by envoy, but it'll go into the decision logs, like
[code]

This certainly isn't perfect, but it could be a decent w

[2022-10-11 17:17] charlieflowers commented on #5201
This would be helpful for us, so I'm eagerly watching this.

We're finding that, in an auth-z context, with developers who are newish to Rego, the risk of coding errors compounded by the potential for being surprised at what happens when `undefined` is encountered is a significant concern. Obviously an incorrect auth-z decision is a serious problem.

Doubling down on JSON schema is one way to intr

[2022-10-11 18:57] srenatus commented on #5206
Did this resolve the issue for you? 👀

[2022-10-11 19:43] anderseknert commented on #5201
I'd say the type system of Rego is pretty strong already, even to the point that people have [complained about it](https://github.com/open-policy-agent/opa/issues/2132) 😅 The problem JSON schema solves is really how to type _data_, whether provided as `input` or as `data` from external sources. Perhaps it would be possible to do this in-policy, but since the data is defined outside of policy, it k

[2022-10-11 20:11] anderseknert commented on #5217
Interesting! I'm curious to learn how this works with image scanners, various "pull policies" as found in Kube, etc. Is there any example of a "runtime" project doing this we could learn from?

[2022-10-11 20:36] anderseknert commented on #5216
The problem here isn't dynamic policy composition though, but the combination of that and the Compile API, no?
I loaded the test data provided by @srlk and queries over the data API are still ~1 ms or so, which makes sense given how the query is essentially just a hash lookup. What makes the Compile API different in that regard? 🤔

[2022-10-11 20:55] anderseknert commented on #5211
Rego has it's roots in logic programming, and while it isn't what one might be used to from other languages, has many benefits when working with structured but dynamic data, IMHO. Compare something like:

[code]
or
[code]

to what you'd need to write in e.g. Go, Python, or Javascript to accomplish the same thing... precisely because you'll need defensive checks for undefined or null at each step a

[2022-10-11 22:36] philipaconrad commented on #3459
The two commands that are going to be most affected by this are the `build` and `eval` commands, since they're the only ones that support providing entrypoints explicitly. `inspect` *might* need some extension to print out which rules have entrypoint annotations.

[2022-10-11 22:59] nevumx opened #5232 "Request for an `object.key_exists(object, key)` built-in function"
## What is the underlying problem you're trying to solve?
Currently, if one wants to check if a key exists, (even if its value is `false`) the current best option is to write a hacky-looking utility function like this:
[code]
Or with the slightly more readable but also more verbose disjunction:
[code]

## Describe the ideal solution
The ideal solution would be an `object.key_exists(object, key)` b

[2022-10-12 03:10] vinhph0906 opened #5233 "Init-proxy has restart and crash loopback."
## Short description
I have used opa-envoy-plugin for authz in my product. But it has an issue with the init-proxy container. For more detail: when init-proxy as a init container has finished, then this container because of some reason like Garbage Collection or `docker system prune`, was deleted. More detail at https://github.com/kubernetes/kubernetes/issues/67261. Then k8s will create a new one

[2022-10-12 03:41] LionOnTheChase commented on #5230
Thanks @srenatus  for the prompt reply and also the tips. Also glad to know the opa envoy plugin enhancement in flight.

It turns out that this is not sufficient for our monitoring tool to do the correlation between logs and traces.

Is this something you would consider adding as a feature to OPA ?

[2022-10-12 05:23] srenatus commented on #5217
It's a feature of convenience. The current behaviour would stay the same, who wants to pin a version can still do that by using 0.46.0 instead of 0.46

[2022-10-12 05:45] srenatus commented on #5232
Hmm this never struck me as hacky. Compared with the work that would have to be put into a built-in for the same thing, it's quite nice and small.

You could also write, I think,
[code]
with future.keywords.if.
Likewise, the other helpers should be straightforward to implement in rego. I'm not sure I'm convinced that this warrants extra helpers.

[2022-10-12 07:29] srenatus commented on #5233
It looks like you've got some debugging done here already _and_ you've got the means to reproduce it. Would you be interested in contributing a fix? 😃

[2022-10-12 07:41] srenatus commented on #5232
ℹ️ https://github.com/anderseknert/opal/blob/0615b9bd2f88efcf569ad2ed657c16e92547edf9/lib/objects.rego#L3-L7

[code]

[2022-10-12 08:50] vinhph0906 commented on #5233
Hmmm. I just trace to root cause of this issue, but I till fix it yet. Maybe you can assign it to me. I will contribute as soon as possible.

[2022-10-12 10:55] obataku opened #5234 "`rego_type_error: match error` involving underdetermined function args"
## Short description
the following function yields a somewhat cryptic type error (see https://play.openpolicyagent.org/p/oc1DJezSCv)
[code]
[code]
if one adds a sufficient constraint on `k` e.g. `is_string(k)` to both ‘branches’ (rule bodies) of the function, the error disappears: https://play.openpolicyagent.org/p/Yp1fnJc3dU

## Steps To Reproduce
see the above playground links: [error](https://p

[2022-10-12 11:38] srenatus commented on #5234
OK I've spent some time with the debugger and here's what happens:

When including `is_string(k)`, the inferred type the RHS in line 5 and 8 is _known_: `set[array<string, any>]`. When not including that, it's treated as unknown (since it's `set[array<???, any>]`).

That distinction is what makes us trickle through [this function](https://sourcegraph.com/github.com/open-policy-agent/opa@97f36e89ef

[2022-10-12 12:26] anderseknert commented on #5216
Given that the inputs used for policy composition are known, which they are in this case, and replacing those with constants render expected performance characteristics... yes, this looks like a bug to me.

[2022-10-12 12:59] anderseknert commented on #5232
There's a whole bunch of simple built-in functions on my wish list too 🙂 I believe the need for that would be alleviated with https://github.com/open-policy-agent/opa/issues/3371 in place, as we'd then be able to provide whole classes of nice-to-have functions via some semi-official "stdlib". I do believe it's on the road map.

[2022-10-12 17:13] SVilgelm commented on #5217
but the 0.46.0 will not contain any bug fixes from 0.46.1

[2022-10-12 17:52] srenatus commented on #5217
Exactly. That is just like it is now.

[2022-10-12 17:54] SVilgelm commented on #5217
yeah, that's why we need something like 0.46 that will be re-tagged with every patch release

[2022-10-12 18:29] anderseknert commented on #5217
@srenatus what I meant was, it does not sound convenient to me if I manage 500 OPAs in a cluster, all tagged "v0.100", and I have no idea whether they're _really_ running v0.100.**0** which sports a stop-the-world vulnerability, or the patched v0.100.**1**. It would all depend on when the container started and what version was v0.100 at that point in time. Maybe it's a non-issue, it's not often I

[2022-10-12 18:36] srenatus commented on #5217
@SVilgelm do you know of other examples? ☝️

[2022-10-12 18:41] anderseknert commented on #5201
I'm not sure I understand how this would be any different using gradual typing system expressed in-policy. Why would you not be able to use that to say "`input` is an object"?

There has been some discussions in the past to allow the use of annotations to loosen or tighten the type checks for whatever code is annotated, so one thing we could do it is allow "in-line" JSON schema definitions, which

[2022-10-12 18:51] SVilgelm commented on #5217
I have a very simple scenario: running some tests for last 3 versions. So in my case I want to always run for the latest patch versions, without changing the test manifests. As a workaround I can create a special scrip, that will ask GitHub or docker for the list of releases, and just pick and use the latest patches for given minors. :) But I would prefer the 0.46 way :)

[2022-10-12 18:56] anderseknert commented on #5217
Thanks! That sort of confirms my suspicion of this being more of a "compile time" nicety and not something to use at "runtime". Nothing wrong with that of course! Might be good to point out in the docs or something though.

[2022-10-12 19:01] #3945 closed

[2022-10-13 00:17] t83714 commented on #5211
@anderseknert Thanks for your comments.
I have to say the language structure like this:
[code]
is my favourite part of Rego ❤️

If we ever work out any solution to deal with `undefined` issue, I think it should be a solution that doesn't hurt the language feature above.

Instead of "defensive checks for undefined or null at each step along the way", I was wondering whether we can "box" `undefined`

[2022-10-13 10:34] anderseknert commented on #5211
Hey again! I'm not sure I follow.. if the expressions still would fail evaluation on undefined, then undefined would not be a scalar value like others, would it? I do not believe a change like this would be possible, at least not without quite dramatic changes to how Rego works... and I'm not sure I see the upside of such a change, I'm afraid :)

[2022-10-13 13:41] t83714 commented on #5211
Hi @anderseknert, Thanks for your reply.

To clarify, I mean an expression will fail only when the final evaluation result of the expression is `undefined` (like if an expression will fail when it's evaluated to a boolean value `false`) rather than failing once produce an `undefined` in the process of evaluating the value of the expression.

Another way to look at it is that I actually suggest mak

[2022-10-13 13:44] #4666 closed

[2022-10-13 13:58] anderseknert commented on #5211
Going back to the previous example:
[code]
What would `p` evaluate to in this loop?
An `undefined` literal for all instances of data without `authz`? And an `undefined` literal for all instances of data.authz without `users`? And an `undefined` literal for all instances of data.authz.users without `endpoints`? And an `undefined` literal for all instances of data.authz.users.endpoints without `perm