[2021-04-02 01:30] dxh9845 opened #3342 "wasm: Improve WASM support for OPA packages"
## Expected Behavior
I have been using OPA for my day to day job, and it's been pretty great. We've structured our OPA policies into packages., where each package we use correlates to what we call a "resource" some actor is acting upon. It's served us pretty well for our API backend authorization, and now we want to see how we can translate these collection of OPA packages to show or hide elements

[2021-04-02 10:03] dudicoco commented on #2149
Can this please be added as an additional flag?
Some fmt/diff tools do exit with error, it is an important functionality as part of a CI process, without resorting to bash scripts to make it work.

Thanks

[2021-04-02 13:02] clarshad commented on #1968
@tsandall I am interested in working on this issue.
Wanted to verify the expected behaviour - We currently have `cert` , `private_key` and `private_key_passphrase` fields for TLS authentication. We need to add two more optional fields `ca_cert` - for root CA and `ca_cert_with_system_ca` - boolean to check if system certificate to be appended with root CA
Please confirm if I could start working on

[2021-04-03 12:22] srenatus commented on #3342
I was a little quick assigning "enhancement" there. I'll give this some thought next week! 🤞

[2021-04-05 10:45] Dentrax opened #3343 "go get: unknown revision v0.27.1"
## Expected Behavior

It should get `v0.27.1`

## Actual Behavior

[code]

## Steps to Reproduce the Problem

[code]

Same error:
[code]

I cannot use it in the project which requires `github.com/open-policy-agent/opa v0.27.1`.

Any thoughts? 🤔

[2021-04-05 17:00] ashutosh-narkar commented on #3343
`go get github.com/open-policy-agent/opa@v0.27.1` seems to work for me. Have you checked if it's something specific to your environment ?

[2021-04-05 17:28] srenatus commented on #3343
https://pkg.go.dev/github.com/open-policy-agent/opa@v0.27.1 👈 this also resolves just fine, so I think the go ecosystem side here is fine. Are you using any specific Go module proxy of some sort...?

[2021-04-06 07:15] srenatus commented on #3342
👀 So, given your example,

    opa build -t wasm -e resource_one/allow resource_two/allow resource_one.rego resource_two.rego ...

I wonder if you couldn't work around the necessity to declare all those entrypoints by adding one more rule,

[code]

then you should be able to pass `-e entrypoint/allow`, and add the resource information to your input when evaluating the policy.

[2021-04-06 07:43] Dentrax commented on #3343
@ashutosh-narkar

`$ go clean --modcache` solved my problem somehow. 🤷‍♂️

[2021-04-06 07:43] #3343 closed

[2021-04-06 09:49] andyyumiao opened #3347 "Bundle download failed: scope mismatch"
**I got the error below when i start the opa main program:**
`{"level":"error","msg":"Bundle download failed: failed to parse PEM block containing the key","name":"authz","plugin":"bundle","time":"2021-04-06T17:45:35+08:00"}`

**And my opa.yaml is as below:**
![企业咚咚20210406175306](https://user-images.githubusercontent.com/11346379/113693244-fd46c580-9700-11eb-9557-90933220981c.jpg)

[2021-04-06 10:21] andrehaland commented on #3347
Try adding `\n` to the key value instead of breaking the lines

[2021-04-06 10:47] andrehaland opened #3348 "Built-ins: time diff function"
There are some use cases for calculating the difference between two `Time` values (e.g. calculate time since last login, or calculate the age based on birthdate). Is this something that would be accepted as an addition to the `time` built-ins?

`output := time.diff(a, b)`

Example implementation can be seen from this SO post:
https://stackoverflow.com/a/36531443

[2021-04-06 11:04] langes2BE3 opened #3349 "Allow OPA to be executed as an Azure function using Azure Functions Custom Handler"
When using OPA as a central source of fine-grained authorization in solutions build on Azure Functions using C#, Java or any other non Go way, OPA must be run on its own VM(s), making management cumbersome. With [Azure Functions Custom Handlers](https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers) OPA could be integrated using the Azure Functions Ecosystem taking care

[2021-04-06 11:26] andyyumiao commented on #3347
I fix this by changed opa.yaml:
![企业咚咚20210406192607](https://user-images.githubusercontent.com/11346379/113703848-f5d9e900-970d-11eb-88b5-9834577c5656.jpg)
but got another error:
![企业咚咚20210406192645](https://user-images.githubusercontent.com/11346379/113703915-0b4f1300-970e-11eb-90b9-cc41c25742e1.jpg)

[2021-04-06 15:54] ashutosh-narkar commented on #3347
What's the scope provided in the JWT that's included in the bundle's `.signatures.json` file ?

[2021-04-06 16:17] ashutosh-narkar commented on #3348
One way of doing this currently is something like https://play.openpolicyagent.org/p/ZDLf9k1fuC. The time-builtins use Go's [time](https://golang.org/pkg/time/)  package. Feel free to add a new one !

[2021-04-06 18:09] srenatus opened #3351 "wasm: difference to topdown unifying objects with var keys/values"
[code]

[2021-04-06 18:15] srenatus opened #3352 "wasm: difference in regex.find_all_string_submatch_n"
[code]

[2021-04-06 18:20] srenatus commented on #3349
Hmm I might be missing something there, but from the examples (https://docs.microsoft.com/en-us/azure/azure-functions/functions-custom-handlers#examples), it sounds like the path invoked on the service implementing the custom handler was configurable:

So, where does the need to add a base path come from here? 🤔

[2021-04-06 20:56] langes2BE3 commented on #3349
Hi Stephan,
first of,  thanks for picking this up so quickly!

I understand (and tried) that in order to define a function (even if using a custom handler) you have to define a function of a certain name (in the example given it's **orders**. This does get prepended to the request as shown in the examples. Since current OPA REST endpoints assume (rightfully) to be called starting from base '/' thi

[2021-04-06 21:28] OBrienCommaJosh opened #3353 "Website: Search Bar Missing in Reduced-Width Window"
## Expected Behavior
As a user, I expect the search bar to persist when the browser window width is reduced.

## Actual Behavior
The search bar disappears when the window width is reduced and zoom is set above a certain threshold.

<img width="1440" alt="Full Screen (Search Bar Present)" src="https://user-images.githubusercontent.com/6808118/113780396-05dcd300-96e4-11eb-8db1-0aca93b3744b.png">

<i

[2021-04-07 01:45] andyyumiao commented on #3347
@ashutosh-narkar I used `bundle.GenerateSignedToken` to generate the sign token, but it seems that it does not provide such a method to generate scope, or is there other way to set scope?

[2021-04-07 05:52] clarshad commented on #1968
Will go ahead and start working on this for now, however please do let me know if this is no longer needed

[2021-04-07 07:29] srenatus commented on #3349
Sorry if I'm being silly, but could `/v1/data` not be the function name? Or even the concrete query, `/v1/data/my-policy/allow`?

Let's revisit that at some point, I'm happy to help with the githubbing! Unlocking the serverless scenario would be great.

Going off on a tangent, I've been wondering if a custom function could be better served by using OPA's Wasm output... What do you think?

[2021-04-07 07:56] andyyumiao opened #3355 "'persist' and 'persistence_directory' seems take no effect"
My opa.yaml is as below, but didn't generate bundle.tar.gz in `/Users/yumiao3/Documents/workspace/Logs`
![企业咚咚20210407155341](https://user-images.githubusercontent.com/11346379/113830969-b36de600-97b9-11eb-94ae-818105882c9d.jpg)

[2021-04-07 08:35] jkbschmid commented on #2777
Hi all,
I'd also like to customise server behaviour, more specifically, I'd like to add routes to the existing handler in the server.
Having a plugin to modify the server's handler would be great!
For my use case, something like
`s.Handler = plugin.updateRouter(mainRouter) ` instead of
https://github.com/open-policy-agent/opa/blob/489c58143354310e71d303a97362b11a02e1b416/server/server.go#L644

Thi

[2021-04-07 08:54] anderseknert commented on #3355
OPA version?

[2021-04-07 10:11] srenatus commented on #3351
A similar issue exists with var values:

[code]

[2021-04-07 10:20] andrehaland commented on #3348
I should have been more specific. I was thinking of a difference on the format `[years, months, days, hours, minutes, seconds]`. The provided example only gives a duration, and when converting a duration to the wanted format we have to take make some considerations, such as the number of days in a specific month into account etc., as described in the SO post:

I am not sure if the required logic i

[2021-04-07 12:17] srenatus commented on #3351
☝️ That last statement was **incorrect**, an artifact of my local WIP state. 😓

[2021-04-07 15:19] pciazynski commented on #2095
That would be a perfect match for writing `deny` rules for Kubernetes. Cause if for (whatever reason) some path is not existing, then the rule do nothing and simply allow things, which can be very insecure... We encountered that problem just recently.

[2021-04-07 17:40] mattmahn commented on #3341
Doing schema verification on `input` would also be an alternative for some #2095 use cases. For example, instead of using the error-on-undefined "dot" operator in `input` documents, one could declare the property as required in JSON schema.

[2021-04-07 18:05] ashutosh-narkar commented on #3347
You can use the `opa sign` command to generate a bundle signature.

[2021-04-07 20:28] anderseknert commented on #3341
Totally @mattmahn .. I would expect most use cases for the dot operator to vanish in schema backed policies. It would still be useful for optional and unknown values though of course.

[2021-04-08 00:28] ashutosh-narkar commented on #3348
This seems reasonable to me.

[2021-04-08 05:44] #3347 closed

[2021-04-08 05:45] andyyumiao commented on #3355
the latest version from master trunk

[2021-04-08 07:22] #3295 closed

[2021-04-08 07:25] #3355 closed

[2021-04-08 07:25] andyyumiao commented on #3355
has resolved,thanks

[2021-04-08 08:25] andyyumiao opened #3357 "About decision logs invalid"
**My decision log api didn't receive any request after i called the opa decision api, it seems something wrong happened.**
---------------------------
**The decision log api addr is:**
`http://localhost:8080/opakeeper/v1/logs/report`
---------------------------
**And my opa config file is as below:**
![企业咚咚20210408161408](https://user-images.githubusercontent.com/11346379/113991897-7ff88d80-9885-1

[2021-04-08 09:41] anderseknert commented on #3357
What does the OPA logs say? If something went wrong uploading the decisions the error should be printed there. Do note though that with your configuration it will take a _minimum_ 5 minutes for this to happen and 10 minutes at most.

[2021-04-08 09:49] andyyumiao commented on #3357
Thank you, it is due to the upload delay！

[2021-04-08 09:49] #3357 closed

[2021-04-08 21:04] #3290 closed

[2021-04-09 13:47] anderseknert opened #3361 "bundles: Etag caching broken using many popular HTTP servers"
## Expected Behavior

The caching mechanism employed by OPA's bundle downloader to work with popular HTTP server implementations, such as Nginx, Azure, etc. This, embarrassingly enough, includes the bundle server of the Rego playground 😬

## Actual Behavior

The downloader re-downloads cached entries even when the remote endpoint responds with `304 Not Modified` to a request including a `If-None-M

[2021-04-09 20:32] anderseknert opened #3363 "Intermittent hangs when trying to ctrl+c kill OPA"
## Expected Behavior

Ctrl+c / Ctrld+d on a running server should stop the process.

## Actual Behavior

Ctrl+c / Ctrld+d initiates shutdown, but does not always kill the process.

[code]

## Steps to Reproduce the Problem

There does not seem to be a way to do this consistently, but I've only ever managed to do this when configuring remote bundles so that seems like a required component.

## Addi

[2021-04-10 11:48] #3361 closed

[2021-04-10 21:52] langes2BE3 commented on #3349
Hi Stephan,
sorry for replying late.

It is quite true what you are saying. Unfortunately, the Azure Function Host will repack the request to include it into a quite different JSON structure than originally send by wrapping the "Url", "Method", "Headers", "Content-Type", "Params" and "Body" into separate elements in the request finally received by OPA cf. [HTTP Example](https://docs.microsoft.com/

[2021-04-11 01:10] ashutosh-narkar commented on #3182
The decision log improvements have been completed:

1) https://github.com/open-policy-agent/opa/pull/3314

2) https://github.com/open-policy-agent/opa/pull/3337

3) https://github.com/open-policy-agent/opa/pull/3364

4) OPA implements an exponential backoff based delay in case of non-200 response from the server

[2021-04-11 01:10] #3182 closed

[2021-04-12 07:17] srenatus commented on #3349
Hey!

Still trying to wrap my head around this, please bear with me.

I take it you're referring to this, as being what would be sent to the `/order` endpoint on the custom http function:

[code]

I'm not sure I see the problem there 😄 What in your process makes it difficult to write rego policies for this? There's builtins for unmarshaling JSON into a rego object.

----

On the wasm tangent, if y

[2021-04-12 07:52] srenatus commented on #2260
I think this is no longer the case. With updated command parameters (and #3367), we have now,

for the input example:

[code]

and for the data example:
[code]

[2021-04-12 07:52] #2260 closed

[2021-04-12 07:56] srenatus commented on #3128
This has been resolved recently; I think with #3271  👇
[code]

[2021-04-12 07:56] #3128 closed

[2021-04-12 09:35] brumer opened #3368 "encountered panic in metrics reporting"
While going through OPA logs I encountered a panic, unfortunately, I do not know how to reproduce the issue.

* Version v0.25.1
* Running in server mod as a Kubernetes pod with discovery configuration and status reporting

`	panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x7abe3d]

goroutine 163 [running]:
encodi

[2021-04-12 12:56] srenatus commented on #3293
So, having a closer look, we'll find that on traversing the rule index we've built for the module, there's a point where a node has all of these:

- scalars: `/baz` -> node' (that's the equality subtree)
- array: `""` -> node'' (that's the glob.match subtree)
- a mapper: `s -> split("/", s)`

and the traversal logic will, if any mapper is present, apply them and continue traversing.

In our case h

[2021-04-12 14:10] srenatus commented on #3293
https://github.com/open-policy-agent/opa/blob/master/ast/index.go#L589 removing this line should do it. ☺

[2021-04-12 16:33] tsandall opened #3369 "unexpected "var requires evaluation" error from topdown"
Given the following policy:

[code]

This query generates an error:

[code]

[2021-04-12 19:09] jaspervdj-luminal opened #3371 "Proposal: dependency management in Rego"
I'd like to kick off some discussion around adding explicit dependencies to
Rego.

The primary use case I have in mind is sharing code.  At @Fugue we have a bunch
of places in our product where either internal or external users can edit and
add Rego code.  The interface is usually just a text editor, so we're limited
to single files.  This works really well but it becomes harder when you want
to s

[2021-04-12 19:49] anderseknert opened #3372 "oauth2: handle quirks with Azure JWT credentials"
While the regular client secret option for client credentials authentication works well with Azure, they also provide the option to use a signed JWT for auth as supported by OPA since before. This implementation however adds quite a few extra requirements not currently supported. A working configuration would look something like the below.

[code]

The first problem here is that Azure expects a `x

[2021-04-12 20:26] anderseknert commented on #3372
Managed to figure out the expected audience value after some more poking around, and it should be set to the same value as the `token_url`. The only thing remaining then is to set the `x5t` header if the user provides a thumbprint in configuration (which they currently can't). The user would take the value found here:

<img width="951" alt="Screenshot 2021-04-12 at 22 18 33" src="https://user-imag

[2021-04-12 21:16] gshively11 commented on #3047
After digging into the code a bit, it looks like the concept of "Services"  is tightly coupled with [rest.Client](https://github.com/open-policy-agent/opa/blob/master/plugins/rest/rest.go#L108).  I think ideally, it would be great if Services could specify different underlying implementations, e.g. I want to ship decision logs directly to AWS Kinesis, so I create a custom Kinesis client, register

[2021-04-12 23:27] gshively11 commented on #3047
Something like this maybe? https://github.com/open-policy-agent/opa/compare/master...godaddy:logs-custom-transport?expand=1

[2021-04-13 00:55] ashutosh-narkar commented on #3368
Can you provide the boot config and service config ? Also it would be helpful if you could share any other relevant info to reproduce this or the actions that led to this.

[2021-04-13 05:22] anderseknert commented on #3372
Turned out to be easy enough to fix with the audience issue no longer a problem.

[2021-04-13 06:17] anderseknert commented on #2964
Revisiting this for another project, and OAuth2 Client Credentials _does_ work for authenticating requests against Azure Storage. Example config would look something like this:

[code]

First release with [this fix](https://github.com/open-policy-agent/opa/pull/3374) will also allow the OAuth2 Client Credentials JWT Authentication option. See [Authorize access to blobs and queues using Azure Activ

[2021-04-13 07:47] #1968 closed

[2021-04-13 10:04] h2ho commented on #2973
Took me a few minutes to figure it out.
[code]

[2021-04-13 12:12] #3372 closed

[2021-04-13 12:30] #3348 closed

[2021-04-13 13:24] srenatus commented on #3369
I'm looking into this. 🔍

[2021-04-13 15:40] tsandall opened #3376 "Unexpected undefined result when iterating over partial set"
There's a bug in iteration over partial sets. The example below demonstrates the problem:

[code]

In this example, `q1` and `q2` evaluate to the same value however iterating over `q2` fails unexpectedly.

I think this might be related to #3369. This doesn't seem to be a new issue. The issue doesn't exist w/ wasm:

[code]

[2021-04-13 16:01] tsandall commented on #3047
I'm not sure about supporting arbitrary transports for the service clients. I could imagine lots of subtlety that would end up leaking through the abstraction.

We already support custom decision log implementations that can replace the in-built HTTP logger. There's an example implementation of that here: https://www.openpolicyagent.org/docs/latest/extensions/#custom-plugins-for-opa-runtime. The p

[2021-04-13 16:30] gshively11 commented on #3047
Wow, I totally overlooked the `decision_logs.plugin` feature.  It's a bummer we can't hook into the existing code for buffering/encoding, but copying it isn't a huge deal I guess.  I'll get started on a PR to add support for the status logger.  Thanks pointing me in the right direction!

[2021-04-13 18:57] ashutosh-narkar opened #3377 "Support renaming non-simple package names via opa refactor move"
The `opa refactor move` command cannot rename packages like `data.foo["a:b"]` to `data.baz["1:2"]`. The parsing logic for the `-p` flag expects the source-destination mapping to be split by a single`:` and hence the previous example will generate an error.

To support non-simple package names we could use escape characters or treat the source-destination mapping as positional arguments.

[2021-04-13 20:12] tsandall opened #3378 "Improve HTTP server to surface 403 responses/authorization failures"
OPA's HTTP server supports authorization however if the policy denies the API request, the denial doesn't get accounted for via any of the management APIs today:

- The Decision Log API does not contain internal authorization decisions
- The metrics added to the Status API do not count 403 responses from deny decisions

~I don't think we want the OPA server to emit decision logs for every internal

[2021-04-13 21:26] jmassardo opened #3380 "Authentication option doesn't take effect if there's no authorization policy"
When running opa as a server, if you specify the `--authentication` option without the `--authorization=basic` option, the authentication never takes effect.

While this is spelled out in the [docs](https://www.openpolicyagent.org/docs/latest/security/#authentication-and-authorization), it would be beneficial to also have opa emit a warning message at runtime to make it clear that no authenticatio

[2021-04-14 18:34] tsandall commented on #1593
@ashutosh-narkar can we close this since it appears to be working?

[2021-04-14 18:38] ashutosh-narkar commented on #1593
I did not close this as we haven't yet worked on a way to disable the upload limit.

[2021-04-14 20:46] tsandall commented on #1593
I see, I was referring to your comments on the linked issue which I took to mean this issue could be closed.

What are we missing then? Do we need to change the plugin implementation or just add another test?

[2021-04-14 20:56] ashutosh-narkar commented on #1593
Part of the issue which refers to the upload size not being reconfigurable is addressed by [this](https://github.com/open-policy-agent/opa/pull/3364) PR.

Currently we use a default 32KB for the upload limit. The ⬆️ seemed to indicate that we should not have a default ? If that's the case, we would need to update the plugin to support that.

[2021-04-14 21:07] nickhiggs opened #3386 "Wasm exhibiting unexptected output when data and policy package clash"
## Expected Behavior

The OPA wasm behaviour performs the same as the standard rego behaviour.

## Actual Behavior

Wasm fails to return the expected output when there is data & policy package that clashes. See the below example:

## Steps to Reproduce the Problem

Setup the following files:
[code]

and run:
[code]
is expected to return `true` but returns `fail` where as without running with `-t w

[2021-04-15 06:05] srenatus commented on #3386
This looks like it might get fixed by #3344. I'll verify it later today if you don't beat me to it.

[2021-04-15 11:01] srenatus commented on #3386
✔️ I've verified it, #3344 will indeed do the trick here, too.

[2021-04-15 11:03] #3369 closed

[2021-04-15 11:03] #3376 closed

[2021-04-15 11:13] clarshad commented on #3332
@anderseknert I could work on this bug, involves minor code change (couple of lines)

[2021-04-15 11:15] anderseknert commented on #3332
That would be great @clarshad 😃

[2021-04-15 11:36] #3293 closed

[2021-04-15 15:19] #3305 closed

[2021-04-15 15:19] #3386 closed

[2021-04-15 15:45] #2772 closed

[2021-04-15 15:45] #2949 closed

[2021-04-15 15:45] #3351 closed

[2021-04-15 15:45] #3352 closed

[2021-04-15 16:11] tsandall commented on #2149
Given that we don't ship a shell inside the standard OPA Docker image, it would be nice if `opa fmt` could optionally exit w/ a non-zero status code to avoid the bash tricks.

[2021-04-15 17:17] srenatus commented on #3252
Anyone running into this should consider using an array instead. `concat` will accept both, and array iteration order is not implementation-dependent. (https://www.openpolicyagent.org/docs/latest/policy-reference/#strings)

[2021-04-15 17:17] #3252 closed

[2021-04-15 18:33] srenatus commented on #3218
`concat` on sets (not arrays), see #3252

[2021-04-15 19:39] #3332 closed

[2021-04-15 23:46] fams commented on #3154
We experiencing the same issues with istio 1.8.2. We're using eks. Maybe opa istio tutorial was just tested in minikube

[2021-04-16 07:36] srenatus opened #3389 "wasm: default function value of false is returned (topdown differs)"
With `t.rego` as

[code]

notice:

[code]

It's not relevant if there is a proper function rule body defined for `q`.

[2021-04-16 08:55] srenatus commented on #3389
Duplicate: Rego should behave like wasm, #2445.

[2021-04-16 08:55] #3389 closed

[2021-04-16 08:56] srenatus commented on #2445
Wasm does that already (see #3389).

[2021-04-16 09:35] srenatus commented on #3225
Also has a JSON format angle:

[code]

(t.rego is
[code]
)

[2021-04-16 12:34] kale-amruta commented on #3380
@srenatus @tsandall I would like to work on this issue. I have tried and tested this on my local

[2021-04-16 13:38] tsandall commented on #3380
@kale-amruta sure. What I would do is add a log message in the `runtime` package. Something like:

[code]

This can go here: https://github.com/open-policy-agent/opa/blob/main/runtime/runtime.go#L307

[2021-04-16 13:53] #3023 closed

[2021-04-18 10:30] kindermoumoute commented on #841
I kinda feel there is still a need for a native support of gRPC as its adoption is growing among many organizations. Plus it's a CNCF incubating project.

What about a flag `--protoschema` similar to what is done with the jsonschema validation?

In the future we could also imagine some smoother integration by using proto schema from a [protobuf schema registry](https://docs.buf.build/roadmap/#the-

[2021-04-19 00:36] scarbeau opened #3393 "Add builtin function support for Go strings.Repeat"
Would love to see support for the `strings.Repeat(s string, count int) string` go function within OPA's built-in functions.

I am using the output of the `walk` function to create "fingerprints" of highly nested objects and need to output a list of strings for all paths. I have a work arounds, but this would be much cleaner if the Repeat function were added to builtins.

## Expected Behavior
[code

[2021-04-19 07:59] anderseknert commented on #3393
Did this in another policy some time back and ended up with this:
[code]
But yeah, makes sense to have as a built-in I guess.

[2021-04-19 22:48] AshRing opened #3395 "& in chained query param being encoded in url path in http.send method"
## Expected Behavior
& in a url path should stay & and not be encoded

## Actual Behavior
[code]
the above request encodes the & in the url string to
`"/api/requests?clientId=clientId\u0026requestId=requestId"`
\u0026

I need this to be & so I can chain query parameters on the request.

## Steps to Reproduce the Problem
Use a & (ampersand) in a url path and send through http.send() method. Notice

[2021-04-20 04:15] budiprihhastomo opened #3396 "Can I call variables defined in separate files?"
I want to try creating a variable and calling it in a separate file. Is this supported by rego?
## Expected Behavior
authz.rego
`package docker.authz`
`allow {
	user_id := input.Headers["Authz-User"]
	user_id == root[_]
}`

users.rego
`package docker.authz`
`root = ["primary_token_user", "secondary_token_user"]`

Can i call the root variable into auth.rego ? I need help to solve this problem. Than

[2021-04-20 06:25] johanneslarsson commented on #3363
Isn't it a graceful shutdown you see? For example if it uploading decision logs, let it finish that task before it stops? In your case with that low bundle polling its probably busy polling bundles.

https://github.com/open-policy-agent/opa/blob/main/runtime/runtime.go#L407

[2021-04-20 06:35] anderseknert commented on #3396
Yes, just start OPA with both files provided.

[code]

[2021-04-20 06:40] anderseknert commented on #3363
While it's not unlikely that the bug is in the graceful shutdown routine, it's not _just_ graceful shutdown as intended going on here. That should always terminate after the provided timeout value, but either doesn't or something else is involved.

[2021-04-20 07:05] budiprihhastomo commented on #3396
@anderseknert, Thanks for your answer, but how to start OPA with both files provided when setup docker authz with authz.rego and users.rego ?

[2021-04-20 07:54] anderseknert commented on #3396
How would you normally start OPA? If you are trying to start OPA the server you'd probably do `opa run --server authz.rego users.rego`, or simply `opa run --server .` to start with all files in the current directory.

[2021-04-20 08:11] budiprihhastomo commented on #3396
I installed opa-docker-authz to handle authentication in my docker environement. So, where sholud I run the command `opa run --server .`? Or enough to run the command on my local machine ? I just try following the documentation in here : [opa-docker-authz](https://www.openpolicyagent.org/docs/latest/docker-authorization/)

[2021-04-20 08:29] anderseknert commented on #3396
Ah, I see! I missed the part about running the opa-docker-authz plugin.. I haven't tested but could you put the two (or more) files in the `/etc/docker/policies/` directory and then start the plugin with `opa-args="-policy-file /opa/policies/"`?

[2021-04-20 08:51] budiprihhastomo commented on #3396
I already try to add the files in `/etc/docker/policies/` directory and restart the plugin with `opa-args="-policy-file /opa/policies/"`, but the policy isn't working ?

[2021-04-20 09:22] anderseknert commented on #3395
Which web server are you using where this is an issue? As far as I can tell this seems to be about presentation only - i.e. whether to display the ampersand as-is or to display it in it's unicode literal form. Not sure why some output formats prefer one over the other. Just listening on a port like `$ nc -l 8000` and then querying that seems to preserve the `&`:

[code]

On the other hand, it look

[2021-04-20 09:32] anderseknert commented on #3396
Ah, okay! Looks like it isn't doable with the way that plugin currently works then :/ Feel free to open an issue over at https://github.com/open-policy-agent/opa-docker-authz/issues about it.

[2021-04-20 11:20] budiprihhastomo commented on #3396
Okay, thanks for your help. In future, I hope there is a feature that can solve this issue.

[2021-04-20 11:20] #3396 closed

[2021-04-20 13:47] srenatus commented on #3298
[code]

....the 9 is lost. 😢

[2021-04-20 14:56] dsnr-pavankumar opened #3397 "Rego if else condition"
I am trying to write if else condition based on the input. I am getting input "optimizeScheme" as true or false, based on the that I am trying to evaluate condition.

## Expected Behavior
Based on the input "optimizeScheme" as true or false, condition should be executed

## Actual Behavior
I tried couple of things, in the end the rego policy is not working based on the condition.

## Steps to Repr

[2021-04-20 15:08] dsnr-pavankumar commented on #3397
Appreciate your help

[2021-04-20 16:31] AshRing commented on #3395
I'm so sorry! I was confused that it was being encoded in the OPA decision logs and thought that was why the request wasn't being allowed. It turns out it was a missing object key. Thanks for the response & sorry to waste your time - closing this issue.

[2021-04-20 16:31] #3395 closed

[2021-04-20 16:53] anderseknert commented on #3395
No worries at all. Good to know for future reference, and not strange at all to point to as a likely problem. Great though that it wasn’t!

[2021-04-20 17:28] anderseknert commented on #3397
I'd probbably split scheme_match in two parts for each condition. Something like:

[code]

See the [Rego Playground](https://play.openpolicyagent.org/p/emqOunrtHX) if you wanna try it out.

[2021-04-21 05:08] dsnr-pavankumar commented on #3397
Thanks a lot **Anderseknert**, this helped me.
One more question, and in schemeID's and schemNames each contains 100 items and scheme contains 5 to 10 items, based on the optimizeScheme comparison, only one condition comparison should execute. but in the above, both condition comparison will execute or only one will execute?

Note:- I am asking this question as I am doing the performance tuning of

[2021-04-21 05:18] anderseknert commented on #3397
Yes, only one of the "loops" will execute, based on the value of `input.optimizeScheme`.

[2021-04-21 06:01] #3380 closed

[2021-04-21 07:50] dsnr-pavankumar commented on #3397
Thanks a lot Anderseknert.

Above example, I have converted according to my requirement Please find the rego policy below. currently with the input below provided policy is taking good of time to do the validation. I made a call to OPA with the below input using jmeter and per second I am making 1000 calls, this caused CPU spike from 6 to 8 cores. Is there any we can optimize the policy further to

[2021-04-21 13:21] anderseknert commented on #3397
Oh, yeah there seems to be a lot of `glob.match` in iterations going on in there :) If you can restructure the data to allow for map lookups instead that would be an obvious improvement, but with the glob matching that's probably difficult.

Pehaps @tsandall can point out any possible performance wins.

[2021-04-22 16:07] Ivan-Z commented on #3393
Can I grab this?

[2021-04-22 16:14] anderseknert commented on #3393
@Ivan-Z sure! Just let me know if you need any help along the way.

[2021-04-22 18:22] kyle-burnette opened #3405 "Policy decision caching question"
This is a question and not a bug or issue.

I thought I saw this someplace documented earlier but can't seem to find it anymore. Did not have any luck when searching thru issues here either that discussed this.
I am not referring to policy optimizations where it can (partially) evaluate parts of a policy and inline the virtual documents (where ever it can).

Does OPA cache "policy decisions" that

[2021-04-22 19:25] anderseknert commented on #3129
Closing this for now. If a more compelling reason for breaking standards is presented later, we can always re-open.

[2021-04-22 19:25] #3129 closed

[2021-04-22 22:18] tsandall opened #3406 "Write comprehensive docs section on annotations"
With the schema support expanding on OPA/Rego to include annotations on rules, it would be useful to include a docs page on annotations. Perhaps it could exist on the existing Policy Language page. The docs should include the current sections on overriding as well as descriptions of the various fields with examples. We should pull in the example docs from @aavarghese's external repo as well.

[2021-04-22 22:18] tsandall commented on #3406
related #3398

[2021-04-23 17:48] dxh9845 commented on #3342
Just getting around to this - will let you know how this goes!

[2021-04-24 18:27] srenatus commented on #3259
Maybe along those lines, we could improve the structure backing memoization. It's an `opa_object_t` right now, and uses `opa_number_t` keys. That's OK, but we really know the potential keys at compile time: It's the function indices of the planned data functions. We could use an array of the same length instead, for example, and we wouldn't have to worry about growing the object as more function r

[2021-04-26 13:27] Rob4001 opened #3407 "Support Partial Evaluation in WASM"
## Expected Behavior

When using a WASM compiled OPA policy which is designed to operate with partial evaluation (e.g. Vet example here: https://blog.openpolicyagent.org/write-policy-in-opa-enforce-policy-in-sql-d9d24db93bf4) I would like to be able to partually evaluate the policy and get back a similar syntax as if I had called the OPA server Partial evaluation endpoint

## Actual Behavior

WASM

[2021-04-26 13:31] tsandall commented on #3407
@Rob4001 thanks for filing this. We can't promise that this will land anytime soon but perhaps we could start looking into it later this year.

[2021-04-26 15:45] tsandall commented on #3291
Closing this issue as it's raised/fixed in #3270. The release will be out in the next day or so.

[2021-04-26 15:45] #3291 closed

[2021-04-27 14:25] tsandall commented on #3405
@kyle-burnette OPA does not cache any virtual documents across queries today. Each time your client queries (e.g., `POST v1/data/example/allow`), OPA will recompute the virtual documents required to produce the decision. During query evaluation, virtual documents are memoized in many cases (so the same rules are not re-evaluated twice) but those caches are blown away at the end of evaluation.

Whe

[2021-04-27 14:34] tsandall opened #3413 "Relax := restrictions at file-scope"
Currently the := operator can only be used at the file-scope to declare complete rules. We have restrictions in place so that the := operator only allows one rule per name per package. This restriction is primarily in place to match the semantics of the := at the query/rule-body scope (i.e., to declare local variables). When we initially added support for := at the file-scope, we figured it would

[2021-04-27 15:37] srenatus commented on #3225
Huh? I have used the wrong issue ID in that PR 😅

[2021-04-27 16:01] srenatus opened #3415 "sprintf inherits all its behaviour from golang"
[code]
☝️ Two things are going on here:
1. the mismatched type `%s` and `1` is displayed as `%!s(int=1)`
2. the missing parameter is `%!s(MISSING)`

Both are inherited from the golang implementation. Looking at the docs, it's not actually specified much, so I guess that's intentional 🤔

Also, there's some implementation details shining through when using `%T`:
[code]

Related: https://github.com/o

[2021-04-27 21:25] kyle-burnette commented on #3405
Thanks for the response/clarification.

This actually would be a separate question but if you don't mind I have this related q around the various options of getting external data to OPA.

Pardon my naivety as I have not experimented enough but I wanted to know whether it is possible to have a combo model of getting external data to OPA:

- Have some of the data either pulled or pushed into OPA PLU

[2021-04-28 12:23] heyakyra commented on #416
Isn't there overlap with Vault in terms of access control policies?
* https://www.vaultproject.io/use-cases/identity-based-access
* https://www.vaultproject.io/docs/concepts/policies

Curious how these differ with Ory Keto as well (I posted a discussion here
https://forum.golangbridge.org/t/auth-services-comparison-ory-keto-vs-speedle-vs-hashicorp-vault/23052 )

[2021-04-28 12:29] srenatus commented on #3298
Merged. `'to_number("1234567890") == 1234567890'` now is true in Wasm, too. The first two display or accuracy differences haven't been addressed, and perhaps won't be. 🤔

[2021-04-28 13:19] tsandall opened #3417 "Memoize function outputs"
Today, topdown only memoizes complete rules with zero arguments. We should see if we can add memoization for functions without too much effort. The cache structures we have _should_ support arbitrary keys (e.g., arrays, objects, etc.) so it should not be a massive change.

[2021-04-28 15:31] srenatus commented on #3417
The same is true for wasm, I suppose.

[2021-04-29 12:25] srenatus commented on #3259
⚠️ #3417 will change how _this_ is best dealt with.

[2021-04-29 18:34] tsandall opened #3420 "Shallow inlining outputs unsafe rule given ref to empty collection generated by partial rule including with keyword"
Partial evaluation outputs an unsafe rule in this case:

[code]

Output:

[code]

[2021-04-29 20:44] junDD opened #3422 "Questions about wasm files generation"
Hi, we are using `opa build` to generate wasm files. It is partial evaluation (no data input)

When opa **0.16.1**, we generate wasm file for one rego policy file recursively. The command is
`opa build -d /path/to/rego/file -o $target_file "data.$query_part = result"`
Example,
`opa build -d /rule/function1_directory/capability1.rego -o /wasm/function1_directory/capability1.wasm "data.function1_dir

[2021-04-29 21:28] kyle-burnette opened #3423 "Cannot get policy to work when using external data"
I have two issues.
**Issue 1:**
I have this simple policy with some data and sample input in [rego playground](https://play.openpolicyagent.org/p/kiwUP2dESM). It evaluates to false with that input and I am not sure I understand why. I expected it to evaluate the allow to true.
One of the rules refers to external data (issue title) but right now even the other two rules not relying on external data

[2021-04-29 21:33] ashutosh-narkar commented on #3423
Regarding issue 1: You don't need to key your input on the key "**input**" in the playground. For example, see [this](https://play.openpolicyagent.org/p/PToZlXOk3v).

[2021-04-29 21:33] anderseknert commented on #3423
The playground does not require or expect `input` to be a defined attribute _in_ the input. Either remove that or change your policy to refer to `input.input`.

[2021-04-29 21:57] kyle-burnette commented on #3423
ok thanks for the quick response/help.
That took care of Issue #1.

It seems like I do need the `input` when evaluating the policy/rules using OPA's rest api. Because with the same first two inputs (as below) the policy's allow does evaluate to true.
`
{ "input": { "method": "GET" } }
`

`
{ "input": { "subject": { "groups": ["admin", "dev"] } } }
`
But in my OPA server instance with same policy (

[2021-04-29 22:05] kyle-burnette commented on #3423
I realized I needed to upload the data to /v1/data and not under /v1/data/roles.

I guess then Issue #2 is resolved.

[2021-04-30 09:22] srenatus commented on #3422
Heya. Thanks for writing this up -- I think I've found a spot where I must have been confusing you:

**`opa build` now only ever builds bundles**. Regardless of the flags. So, when you run `opa build -t wasm` it'll build **a bundle** that contains `/policy.wasm`. That bundle is a tarball, so you cannot run it as-is, hence the magic number error.

Passing `-b` to `opa build` makes it **interpret th

[2021-04-30 09:51] #3423 closed

[2021-04-30 10:06] srenatus commented on #3264
Fixed the error message for people still managing to build without wasm in #3416 ☝️

[2021-04-30 12:18] #3107 closed

[2021-04-30 15:57] kyle-burnette opened #3427 "OPA policy performance question"
Not an issue but a question. Pl bear with my ignorance.

I wanted to get some basics clear on some of the metrics reported by opa eval and open bench commands.

**opa eval output:**

1. Are the numbers in the first table <Metric, Value> one time costs? Particularly the timer_rego_query_eval_ns and timer_rego_query_parse_ns metrics?
2. May be redundant q but in the next table <Time, Num Eval, Num R

[2021-04-30 16:56] tsandall commented on #3427
Everything in the table below is one-time except `timer_rego_query_eval_ns` which is the time it took the policy engine evaluate the policy query. In theory, everything else can be cached. The OPA HTTP server will cache everything it can. This is evident if you just start OPA and run two queries back to back:

Start OPA:

[code]

Run two queries back to back.

[code]

[code]

To answer your other

[2021-04-30 16:57] tsandall commented on #3427
@anderseknert I think this issue is good fodder for some docs improvements. I could imagine updating the [Monitoring](https://www.openpolicyagent.org/docs/latest/monitoring/) page with a list of those metrics and their meanings so we can point to them in future...

[2021-04-30 21:22] kyle-burnette commented on #3405
I have a question on OPA's inter-query caching ability. Does this cache any external data as well or rather what all things are included in the cache?

thx
KB

[2021-05-01 00:00] ashutosh-narkar commented on #3405
You could scope OPA's bundles to a subset of OPA’s policy and data and in that way the bundle would be responsible for only those. See [this](https://www.openpolicyagent.org/docs/latest/management-bundles/#multiple-sources-of-policy-and-data) section for more details.

If the `cache` parameter in the request to `http.send` is not set, it will not use the **inter-query** cache. The response is stil

[2021-05-03 02:56] kotyara85 opened #3428 "Skip policies with the same name"
Hello,
Is there a way to skip some of the policies if match occurred?
Let’s say I have these policies

[code]

is there a way to set a variable to skip second item if first matched?
Thank you

[2021-05-03 08:13] anderseknert commented on #3428
Yes, you could use `else` to achieve that:

[code]

[2021-05-03 12:45] tsandall commented on #3428
@kotyara85 why are you trying have the second item skipped? In that example, the result will be the same since both are simply assigning true to item. Perhaps you're thinking about performance? If the [rule indexer](https://www.openpolicyagent.org/docs/latest/policy-performance/#use-indexed-statements) is able to understand the rules though, the second item would never be executed if it could not

[2021-05-03 13:58] kotyara85 commented on #3428
@tsandall because glob is expensive

[2021-05-03 15:37] kyle-burnette commented on #3427
Pardon the delayed response.

Thanks - that was helpful. No I had not run with any input values. My miss - had not looked at the sample policy closely  on the opa eval / profile doc page to realize it had inputs specified in it; so did not know to specify inputs when profiling.  Will run again with some inputs to check.

This question can be closed.

thanks
KB

[2021-05-03 15:37] #3427 closed

[2021-05-04 11:15] srenatus commented on #3185
Played around a bit using wasm-opt from the latest binaryen,
[code]

With the currently-default args used by the wasm compiler in OPA, these benchmarks change a bit but not dramatically:
[code]

However, the time it takes to gather these numbers doubles, 345.371s -> 796.088s. Optimization costs!

Trying to play with the parameters some more.

[2021-05-04 11:32] srenatus commented on #3185
This is `-O3` vs no opts:

[code]

...didn't get much further because wasm-opt is killed when running `WASMVirtualDocs/total=1000/...` 😬

[2021-05-04 11:46] srenatus commented on #3185
`wasm-opt` can use _a lot of CPU_. 👟

[2021-05-04 11:48] srenatus commented on #3185
`--zero-filled-memory -O2` vs non-opt:
[code]

[2021-05-04 14:56] anderseknert commented on #3428
@kotyara85 anything still unanswered, or should we close the issue?

[2021-05-04 15:01] anderseknert commented on #3415
Is the problem just that leaky implementation details are ugly, or is this about WASM compatibility concerns? 😊

[2021-05-04 15:05] anderseknert commented on #3349
@langes2BE3 did you manage to solve this or is it still an issue?

[2021-05-04 15:10] srenatus commented on #3415
A bit of both, I suppose. 😃 and also a docs issues of sorts, we are pretty silent about the current behaviour...

[2021-05-04 21:42] anderseknert commented on #2964
Given how the Microsoft [docs on the topic](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad) states..

..and we now support the recommended Azure AD authorization, there aren't many incentives to add support for inferior methods. If someone can 1) motivate why those are needed and 2) is willing to do the work for adding these, we can revisit this issue. Until that happens I'

[2021-05-04 21:42] #2964 closed

[2021-05-05 11:02] saharme commented on #3353
Hi,
It is not a bug, it is a feature :)

This is because the media query should be lower than what is it now (set standard value).
Now:
(min-width: 1088px)

Should be ~:
(min-width: 600px)

[2021-05-05 13:12] srenatus commented on #3259
TIL you can alter the table's elements. This could be another stepping stone, if we wanted to turn the memoization structure into a more "native" entity... 🤔

[2021-05-05 13:15] viovanov opened #3431 "Support for arbitrary values in a bundle manifest"
As the author of a bundle, I'd like to store metadata in the manifest file, that travels with the bundle, and is available for querying from the runtime's [`Storage`](https://github.com/open-policy-agent/opa/blob/27c8d75d3528dc8a04e716d5455f97ee7fb537bc/storage/interface.go#L18).

The proposal is to have a key named `metadata` in the top level [`Manifest`](https://github.com/open-policy-agent/opa/

[2021-05-05 14:05] srenatus commented on #3235
https://github.com/WebAssembly/binaryen/issues/2767 👈 This would allow for a pretty clean separation: we'd use the proxy-wasm-cpp-sdk (or even the rust one) to compile a shim that uses opa's wasm's exported functions, and use a tool like that to link wasm modules together.

[2021-05-05 14:35] #3225 closed

[2021-05-05 14:49] #3262 closed

[2021-05-05 14:52] srenatus commented on #3431
💭 There's a github action for building bundles? ✨

[2021-05-05 14:55] anderseknert commented on #3431
Though not terribly well documented, you can currently add custom metadata claims to the .signatures.json file by providing the `--claims-file` argument, like:

[code]
I don't thing this data is available for querying though. Providing a `--claims-file` without a `--signing-key` is currently a no-op, but I suppose that we could put that data in the manifest file in that case.. or would you ever wa

[2021-05-05 15:06] #3264 closed

[2021-05-05 16:08] viovanov commented on #3431
@anderseknert I'm not thinking about these metadata as claims. They should be available in the bundle even if it's not signed.
I started a PR to gather more feedback if this makes sense. Thanks!

[2021-05-05 16:28] viovanov commented on #3431
@anderseknert one more thing - I misspoke about "query" - I only meant to say that it's stored in `Storage`. I updated the description.

[2021-05-06 08:06] anderseknert commented on #3431
Yeah, the suggestion was to have them added to the manifest metadata if not using signed bundles. Your PR does not include any way of actually putting the claims in the manifest file other than manually adding them there. Whether reusing `--claims-file` for this would be a good idea though, I'm not sure 😄 I was mainly just thinking out loud. It would be nice with _some_ way of including them when

[2021-05-06 12:06] AvniWala-Sophos opened #3438 "Failed to save new bundle to disk: mkdir /app/.opa: permission denied"
- OPA Version: v0.28.0-envoy

- OPA is running as a pod in Kubernetes (K3S version: v1.19.7+k3s1)

- The pods are installed using helm and we have security context configured. Relevant snippet of helm chart yaml file is as follows:

[code]

## Expected Behavior
**Kindly suggest if there is a way to run rootless opa (with envoy plugin)**

## Actual Behavior
Getting following error messages in opa l

[2021-05-06 12:15] anderseknert commented on #3438
Hi @AvniWala-Sophos !

What does your OPA configuration look like? OPA should not persist bundles by default, but can do so if configured with `persist: true` on the [bundles configuration object](https://www.openpolicyagent.org/docs/latest/configuration/#bundles). This obviously requires write access to the bundle persistence directory, which you can [configure](https://www.openpolicyagent.org/do

[2021-05-06 12:38] AvniWala-Sophos commented on #3438
Thanks @anderseknert . I do have persist: true. Below is my configuration.

Earlier I was using v0.20.4 and things were working without any explicit persistence_directory configurations.  But I will mount a volume and provide that as persistence_directory. Hopefully that will work?. Thanks again!

[code]

[2021-05-06 12:48] anderseknert commented on #3438
You still don't need to configure `persistence_directory` explicitly - the default will be the same as in previous releases. You just have the option to do so. I don't believe anything changed here between OPA versions. Are you sure you are running the exact same configuration - including configured `securityContext` in both cases? Seems like UID 5000 does not have write access to the `/app/.opa`

[2021-05-06 15:50] AvniWala-Sophos commented on #3438
Yes I am sure. All I do is change back the version to 0.20.4-istio and the error goes away.  I could not find 0.20.4 docs, but [0.20.5 bundles docs](https://www.openpolicyagent.org/docs/v0.20.5/configuration/#bundles) does not seem to have "persist" configuration. So may be that config from my configmap was being ignored so far and now after changing to 0.28.0 it is taking effect.

Thanks for your

[2021-05-06 15:51] #3438 closed

[2021-05-06 19:06] viovanov commented on #3431
Makes sense @anderseknert, I agree it would be useful to be able to include these from the command line.
For being able to query, I just realized today that the info _is_ available in `data.system` as a side effect of being in the manifest. That works out great for us.

Thanks for the comments, I hope I covered everything in my latest push.

Our main use-case for this is to describe the format of

[2021-05-07 06:51] olamiko commented on #3393
@Ivan-Z, are you working on this issue?

[2021-05-07 07:10] yeDor opened #3442 "opa test with multiple dirs provided as absolute path does not work as expected"
this works as expected:
`opa test src/main/rego src/test/rego -f pretty -v`

but giving the full path to the same folder structure produces failed tests
`opa test  D:\workspace\project\src\main\rego D:\workspace\project\src\test\rego -f pretty -v`

## Expected Behavior
no difference if absolute or relative path provided

## Actual Behavior
absolute path does not works as expected

Version: 0.28.0

[2021-05-07 07:47] anderseknert commented on #3442
There seems to be more than just relative vs. absolute directories at play here as you change `/` to `\` in your absolute path. I take it this is a CMD shell? I don't have a Windows machine to test now but I can use `opa test /abs1 /abs2 /abs3` here on my Mac without problems.

[2021-05-07 12:07] anderseknert opened #3443 "docs: Reference latest version in canonical tags for all versions"
## Expected Behavior

The latest version of the docs is the canonical version and should be referenced as such on any older version of the docs.

## Actual Behavior

The canonical tag always points to the page displayed.

## Additional Info

[This](https://github.com/open-policy-agent/opa/blob/main/docs/website/layouts/partials/meta.html#L42) should change from

`<link rel="canonical" content="{{

[2021-05-07 18:54] junDD commented on #3422
Thanks for the detailed explanation.
Yeah, we created one wasm file per one rego file for legacy reasons.
Is it true that only one wasm file is needed for all rego policies? Does it also mean that the code needs to update to load policy from the right entrypoint?

[2021-05-07 18:57] srenatus commented on #3422
✔️ Both things are possible, but you could compile all your policies into a single wasm module, and serve them from one and the same VM instance.

✔️ Yes. Thanks to https://github.com/open-policy-agent/npm-opa-wasm/commit/df208fefdabd802f030011566736e9453ad7059b, there's an optional second argument to `policy.evaluate()`, which is the entrypoint, selected by name or ID.

[2021-05-07 23:38] anderseknert commented on #3393
@olamiko if you’d like to work on some other good first issue I’d be happy to point you in the right direction!

[2021-05-08 06:16] olamiko commented on #3393
@anderseknert, yes, please point me in the right direction. I would like to work on some other good first issue.

[2021-05-09 10:39] raesene opened #3448 "Docs: Consider adding validation of checksums or signatures to OPA install documentation"
Currently the OPA [installation documentation](https://www.openpolicyagent.org/docs/latest/#running-opa) involves downloading and execution a binary program

At the moment, there's not mention in the documentation of how to validate a digital signature or checksum of the downloaded file prior to running it. If an attacker were able to compromise the system hosting the binary this could leave users

[2021-05-10 08:31] anderseknert commented on #3393
@olamiko sure! How about this one https://github.com/open-policy-agent/opa/issues/2271 ? If you'd like to discuss the details we can either do so in the ticket, or perhaps better on the [OPA Slack](https://slack.openpolicyagent.org/)'s #development channel.

[2021-05-10 08:42] timmyyuan opened #3450 "Tests failed: TestBuildVerificationConfigError and TestNewKeyConfig"
TestBuildVerificationConfigError and TestNewKeyConfig failed when I running unit tests

## Expected Behavior

These tests passed

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Checkout v0.28.0 and run
[code]

## Additional Info

[code]

[2021-05-10 08:50] olamiko commented on #2271
@anderseknert, thank you for suggesting this issue. Please can you assign this to me?

[2021-05-10 08:54] anderseknert commented on #2271
Sure thing @olamiko 👍 You probably did already, but if not then make sure to start with reading what's already been said in this ticket :) Let me know if you need any help with this, either here on on the OPA Slack.

[2021-05-10 09:39] srenatus commented on #3450
How did you run these? Those two test use filesystem permissions to trigger error conditions. If run as root, that'll fail.

However, on `main`, those two tests should automatically be skipped if run as root -- would you mind trying again on the latest commit?

[2021-05-10 11:02] anderseknert commented on #3428
Closing as answered and can reopen if needed.

[2021-05-10 11:02] #3428 closed

[2021-05-10 11:34] timmyyuan commented on #3450
Yes, I run these test by root. I'll try the tests on `main` branch later.

[2021-05-10 15:34] #3275 closed

[2021-05-11 09:57] andrehaland opened #3453 "OPA build with optimization not deterministic"
## Expected Behavior
Building an optimized bundle with `opa build . -O=1` should produce deterministic rego files

## Actual Behavior
The computed optimized rego files can differ from different runs. Extracting the files from the bundle and looking at the rules inside the optimized directory shows that the order of the rules are not deterministic

## Steps to Reproduce the Problem
The issue was fo

[2021-05-11 13:12] konstantin-tkachuk opened #3454 "OPA Metrics: rejected requests"
## Expected Behavior
I expect to be able to see in the metrics the number of rejected requests.

## Actual Behavior
https://www.openpolicyagent.org/docs/latest/monitoring/ describes a set of metrics and I can confirm that they work for me. However, these metrics do not contain the above information.

## Context
I am currently running OPA with Envoy as a sidecar of a microservice and am wondering h

[2021-05-11 14:42] #2149 closed

[2021-05-11 16:20] #3405 closed

[2021-05-11 18:24] srenatus commented on #3454
I wonder if envoy provides something already there...?

[2021-05-12 06:40] srenatus commented on #3454
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/ext_authz_filter#statistics looks relevant

[2021-05-12 07:46] fwilhe commented on #782
This issue just helped me figure out what was wrong. Thanks. Seems still an issue with 0.28.0.

[2021-05-12 08:08] #2533 closed

[2021-05-12 08:19] srenatus commented on #3454
Sorry for the brevity. Some context here, to OPA, allowed/denied are not special concepts, it's just the response to a query. You could deploy a policy telling you the date of the week, for all that OPA cares. As such, it would be a little odd to introduce a metric for a specific type of response.

That said, for the opa-envoy-plugin, the scenario is much more focused, capturing denied/allowed wou

[2021-05-12 09:51] srenatus commented on #3450
Have you gotten around to it?  😃

[2021-05-12 11:04] andrehaland commented on #3453
Thanks for the reply @tsandall

I will look into writing some tests. In fact, I see that some of the existing tests breaks with my change:
[code]

[2021-05-12 12:51] konstantin-tkachuk commented on #3454
Thank you for the explanation, now I understand why this is not already part of the existing metrics.

I will be checking out the Envoy documentation and attempt to configure it all in my cluster soon (probably next week). At first look it does seem like exactly what I am looking for.

[2021-05-12 13:14] timmyyuan commented on #3450
I've tried many times but couldn't reproduce it any more. Maybe it just occasionally appear on a machine with a relatively heavy load.

[2021-05-12 13:17] timmyyuan commented on #3450
Yes, I didn't‘t encounter the same failure on the `main` branch

[2021-05-12 13:18] srenatus commented on #3450
Ok to close this, then? 😃

[2021-05-12 13:19] timmyyuan commented on #3450
Yes, of course

[2021-05-12 13:20] srenatus commented on #3422
Have your questions been addressed so far?  I suppose we could close this and go with another issue if you encounter problems down this road...

[2021-05-12 13:45] srenatus opened #3459 "rule annotations for wasm entrypoints"
It would be nice if I could annotate a rule in a way such that `opa build -t wasm a.rego b.rego c.rego` would pick up the desired entrypoints and use them for building a wasm bundle.

Right now, any entrypoint must be provided by `-e a/b/c` (for `data.a.b.c`), and that's a little cumbersome when dealing with multiple of them.

👉 #3422 could benefit from that, with many rego files and many entrypoi

[2021-05-12 13:47] jkbschmid commented on #2777
As discussed in the community meeting on 11.05.2020, there is the possibility to extend the REST API by instantiating a custom `runtime` object.
In order for this to work, two small changes are still required:
* Adding a `router` field to the runtime params
* Making `runtime.Serve` use the `WithServer` function (`WithServer` already exists)

I have created a small draft PR https://github.com/open-

[2021-05-12 13:48] tsandall commented on #3459
Marking entrypoints in the policy would also be useful for optimization like partial eval that require a path today.

[2021-05-12 16:46] srenatus commented on #3459
Misclicked sorry

[2021-05-12 21:19] willbeason opened #3461 "OPA uses insecure deprecated legacy PEM encryption"
We use RFC1423 PEM encryption, which has been [deprecated due to having known vulnerabilities](https://golang.org/pkg/crypto/x509/#DecryptPEMBlock).

From the x509 Go documentation:

[code]

The documentation does not suggest what to do instead. I am not well-versed in crypto so I do not know the alternative we should be using.

[2021-05-12 21:21] willbeason commented on #3461
Alternatively - does the code in `plugins/rest/rest_auth.go` simply intend to *support* the use of such PEM encryption, but otherwise pose no security vulnerability? As in, "enough users want to use this insecure format, so we support it"?

[2021-05-13 11:41] anderseknert commented on #3461
This weakness is not in OPA. More like a warning not to rely on password encryption standards from 1993. OPA does not enforce or even recommend the use of password encryption in PEM encoded keys, but should the user have one and they’d like to use it with OPA we will let them do so. Seems fair, or what do you think?

[2021-05-13 13:43] willbeason commented on #3461
Yep, that's what I figured.

[2021-05-13 13:43] #3461 closed

[2021-05-13 16:42] jjshanks commented on #336
Couldn't repo this, may have been fixed somewhere else and can be closed out.

[2021-05-13 18:25] #3209 closed

[2021-05-13 19:15] tsandall opened #3463 "Shallow inlining not respected when evaluating functions"
The shallow inlining parameter should prevent functions from being inlined if they depend on unknowns, however, currently it's not being respected for function calls (only references to rules):

[code]

[code]

[2021-05-14 01:35] mneil commented on #2777
I looked and that pr didn't completely satisfy the initial ask (can I replace an existing route) but I think it accomplishes the ask within reason and I'm really grateful that you are working to support extending the rest API.

With that change anyone could add additional routes to extend the behavior of opa easily.

Thank you again for taking the time to look at this and for the effort on the pro

[2021-05-14 16:59] #3453 closed

[2021-05-15 13:45] itaysk commented on #3459
This would also be useful for documentation/integration purposes, as suggested in https://github.com/open-policy-agent/opa/issues/2180#issuecomment-778739067 and explained in https://hackmd.io/k6k7TVkFQ2m-ElQ2OT7nBQ#Entrypoints
TL;DR: I'm currently integrating some existing policies which was written by different people/projects, and it's useful to just know what am I supposed to evaluate there, i

[2021-05-17 12:25] srenatus commented on #3417
Yeah, since paths may not overlap, I think we should be OK with putting the results of `data.p.f(1, "foo")` and `data.p.f(2, "bar")` into the virtualCache as
[code]

[2021-05-18 05:59] kale-amruta commented on #3226
@srenatus @anderseknert is this something that I can take up ?

[2021-05-18 06:44] anderseknert commented on #3226
@kale-amruta I don't see why not 😃 As @srenatus said I don't know if a max version is really needed, but a new `--tls-min-version` option seems useful to me.

[2021-05-18 11:23] clarshad commented on #3324
I would like to work on this

[2021-05-18 11:34] anderseknert commented on #3324
That'd be awesome @clarshad 👍

Also, sorry I did not reply to your issue earlier @dsoguet .. it's perfectly reported and deserved more than a bug label :)

[2021-05-18 12:12] srenatus commented on #3342
Any news? 😃

[2021-05-18 12:24] dsoguet commented on #3324
Thank you @clarshad

No problem @anderseknert. In fact we talked about it on the slack first, then I have created this issue and you set it with bug label.

[2021-05-18 12:45] anderseknert commented on #3324
Oh, good to know I'm not such a horrible person after all 😅 Thanks @dsoguet 👍

[2021-05-18 14:49] baptiste-bonnaudet opened #3471 "Schema Validation: add support for external data"
Hi OPA folks,

Currently only data and inputs configured as files and passed to OPA CLI are supported.

It would be a great rule enhancement if we could use json schema validation for:
- live inputs
- data referenced using the `with` keyword
- external data

We could leverage the existing metadata annotations for this purpose as well, enabling rules to error whenever incoming objects do not match

[2021-05-18 17:01] dsoguet opened #3472 "Bug between bundle signature feature and bundle persist feature"
## Expected Behavior

In following configuration:
- Signed bundle hosted on a webserver
- OPA with persist mode activated

I should be able to start OPA, stop it, and start it again

## Actual Behavior

It is possible to start then stop OPA, but not possible to start it again

The reason of the problem :
- with signature feature, if I create a bundle with "data/example1/data.json" and "/data/examp

[2021-05-19 10:17] anderseknert commented on #3471
Hi @baptiste-bonnaudet , and thanks for reporting this 👍 There's another issue covering the "live inputs" feature request [here](https://github.com/open-policy-agent/opa/issues/3341). Keeping this issue for `with` support seems reasonable though as I don't think that's covered elsewhere. What does support for external data mean here?

[2021-05-19 12:56] tsandall commented on #3442
I tried to quickly reproduce this but failed:

[code]

[2021-05-19 14:22] konstantin-tkachuk commented on #3454
As a follow-up to this, I managed to use the envoy metrics to get a total number of denied requests. It does not quite fulfill everything that I want, but it is definitely a step in the right direction. I am currently asking follow-up questions on the Envoy side here: https://github.com/envoyproxy/envoy/issues/16573

I am closing this issue, because there is nothing on the OPA side that needs doin

[2021-05-19 14:22] #3454 closed

[2021-05-19 16:04] baptiste-bonnaudet commented on #3471
Hi @anderseknert, thanks for following up on this issue. Yes the `input` request overlaps with https://github.com/open-policy-agent/opa/issues/3341.

My main use case is the support of validating data passed using the `with` keyword. It would be really useful to type check rule parameters when triggered with data coming from outside of the bundle and not stored in json/yaml docs (e.g. allowlists r

[2021-05-19 19:22] willbeason opened #3476 "internal/jsonschema should support the latest JSON schema drafts"
The [JSON Schema specification](https://json-schema.org/specification.html) is ever-evolving. The library we've copied into `internal/gojsonschema` only supports through Draft 7, which was published in 2017. There have since been two JSON Schema versions which we do not support. **As written, we process schemas following more recent specifications as Draft 7 and silently return incomplete schemas.

[2021-05-19 19:47] tsandall commented on #3476
We're not tied to a specific version at this point. I'd be curious to know, in practice, how widely used newer features are. E.g., would updating the library give us better support when working with JSON Schemas generated from the Kubernetes OpenAPI spec? One of the main reasons for using JSON Schema here is that we want to be able to ingest pre-existing schemas and use them to inform type checkin

[2021-05-19 20:02] willbeason commented on #3476
Looking through the [swagger.json](https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json), it looks like Kubernetes uses Draft 7 by standard, so this is moot unless they ever decide to upgrade.

[2021-05-20 08:35] anderseknert commented on #3471
Thanks for the clarification. I renamed the issue to reflect this. As for other external data loaded into OPA, I'm not really sure what that means here. Attributes under the `data` document can be attached a schema, or that's at least what my reading of [the docs](https://www.openpolicyagent.org/docs/latest/schemas/) would have me believe.

[2021-05-20 12:28] tsandall commented on #3476
I'm going to just mark this as an enhancement and we can keep the issue around for the future. If we start to see compatibility issues we can revisit it!

[2021-05-20 12:31] tsandall commented on #3471
@anderseknert this boils down to the type-checking vs. data-validation discussion. We're currently using JSON schema to validate/type-check Rego. This would entail using the types to validate _data_. I think the same solution that provides `input` and external data validation could be applied to validate the value specified in a `with` statement. Hope that helps.

[2021-05-20 12:57] srenatus commented on #3476
💭 The kubernetes API is primarily defined through protobuf, isn't it? I guess having another "schema provider", like protobuf-encoded-to-json according to the spec, could be useful, too.

[2021-05-20 13:06] jkbschmid opened #3478 "Question: Partially evaluating partially unknown objects"
Hi everyone,

I noticed interesting behaviour during partial evaluation with a variable that is assigned a partially unknown object.
I have the following rules that implement the same check:
[code]

## Expected Behavior
When doing partial evaluation with input `{"user":{"role":"admin"}}` and Unknowns `input.user.name`, I would expect, that OPA is able to resolve this indirect assignment and that `

[2021-05-20 14:02] willbeason commented on #3476
Sounds good! What if in the meantime we try to recognize if a user has mistakenly used a newer draft and just send an error that says we don't yet support later ones? Many of the changes can be recognized by the presence of new schema keys.

[2021-05-20 14:20] tsandall commented on #3478
We could try to make the implementation more intelligent when it comes to marking unknowns (e.g., only mark `user.name` as unknown instead of all of `user`).

I'm not sure exactly what changes would be required for this. [L776-L800 in topdown/eval.go](https://github.com/open-policy-agent/opa/blob/main/topdown/eval.go#L776-L800) are where the save decision for `var = ref` expressions is made. Curre

[2021-05-21 08:44] dsoguet opened #3480 "Clarify -b option of opa build command"
## Expected Behavior

The behavior when -b option is used or not should be clarified.

Actually `opa build -h` explains the following

[code]
and

[code]

When -b option is not set, what is assumed by opa build ?
In practice is -b is really an option ? In which case it should not be activated ?

## Actual Behavior

Running `opa build -b <some_dir> --revision <some_revision>` or `opa build <some_di

[2021-05-21 10:41] anderseknert commented on #3480
Thanks for reporting this @dsoguet 👍 The different treatment of .manifest has bitten me too in the past, having a provided .manifest file silently overwritten since I did not provide the `--bundle` flag. This is unlikely to be detected until possibly much later, which is IMO the worst kind of surprise. If current behavior is kept I think we'd at least need to emit a warning when provided files are

[2021-05-21 13:38] dsoguet commented on #3480
@anderseknert, from my point of view

If backward compatibility must be managed then raise a warning because the .manifest is going to be overwritten is a good solution. This warning should invite the user to use the -b option.

If backward compatibility is not a problem, then -b option should be totally deleted and become the normal behavior of the script

In fact I don't see in which case not us

[2021-05-21 18:29] #3363 closed

[2021-05-21 20:08] shoaibbanikartester opened #3482 "Very high scale of policies (millions)"
Hi Team,

We have a scenario where in a multi-tenant system, end users (customers) can define their own Rego policies that we need to Save and evaluate against particular input (Almost like [Rego playground](https://play.openpolicyagent.org/), on scheduled basis.

Now as you can imagine, number of policies can grow here in millions. Now, we see 3 challenges over here:

1. We are thinking on deploy

[2021-05-21 20:58] cbuto commented on #2786
@patrick-east @anderseknert I was looking into implementing this and noticed that OPA doesn't currently use the AWS SDK anywhere in `plugins/rest/aws.go`. Is there a preference to implement a feature like this without using the AWS SDK? Thanks!

[2021-05-22 07:02] #2271 closed

[2021-05-22 07:48] anderseknert commented on #3140
This is done, though we still need to document the SDK and update some of our side project repos to use it. Closing and creating separate issue for docs.

[2021-05-22 07:48] #3140 closed

[2021-05-22 07:51] anderseknert commented on #3393
@Ivan-Z any progress on this? Let me know if you need any help.

[2021-05-23 08:59] amitkanfer commented on #3482
One option i can think of, in case you really have millions of distinct policies, is to write a builtin function like `evaluate(<tenantid>, <path>, <params...>` or similar that knows how to load a policy from an external data source (git for example), evaluate and then return a result.
This also provides you with the ability to "wrap" the result you get per tenant with your own high level logic, s

[2021-05-24 09:31] anderseknert commented on #3482
What does it mean that the policies are evaluated on a scheduled basis? If that is the case you could use something like `opa eval` to load policies as they're evaluated.

There's some work planned for disk based store as an alternative to purely in-memory. You can track the issue [here](https://github.com/open-policy-agent/opa/issues/3231).

[2021-05-24 09:35] anderseknert commented on #2786
@olamiko would you want to work on this?

[2021-05-24 09:58] olamiko commented on #2786
@anderseknert, yes, I will like to work on this issue. Please assign me

[2021-05-24 11:09] shoaibbanikartester commented on #3482
Thanks @anderseknert for your input. By scheduled I meant, users define the policy once and we evaluate it multiple times as per cron-like schedule.

Regarding `opa eval`, There is no equivalent [Rest API](https://www.openpolicyagent.org/docs/latest/rest-api/) for same, where I can provide both "input" and "policy" and get the result. Is there one? Also, even if there is one, assuming that with `o

[2021-05-24 12:32] shoaibbanikartester commented on #3231
Hi @tsandall ,

We have a similar high scale use case [here](https://github.com/open-policy-agent/opa/issues/3482), where in memory store for policies would not scale for us. What are rough timelines/plan for disk-based policy store?

Also, since in case of disk based store, policies would be retrieved, parsed, compiled "on the fly" in OPA, this would impact performance significantly right?

[2021-05-24 12:59] anderseknert commented on #3482
`opa eval` allows you to provide both policy and input. Relevant options can be seen with `opa eval --help`:
[code]
And yeah, it's going to be slower than keeping everything in memory, but doing that was ruled out before, so.. 🙂

I'm curious about the performance requirements though, given how this workload is scheduled. Why would that need to be so fast? I would have assumed that a scheduled work

[2021-05-24 20:23] shoaibbanikartester commented on #3482
Thanks @anderseknert .

Regarding opa eval, There is no equivalent Rest API for same, where I can provide both "input" and "policy" and get the result. Is there one? I may have to extend OPA to implement such API?

My concern with performance is, in our case, "same" policy would run for multiple inputs, multiple times a day. so despite being "same" policy, it would get parsed and compiled, multipl

[2021-05-25 02:32] roygbip commented on #2787
[code]
got:
[code]

UpdateRequestV1 struct can not unmarshal from json string,

[2021-05-25 07:32] evanchaoli opened #3486 "Question: Any suggestion on soft policy enforcement?"
We are introducing policy enforcement via OPA to our systems. Once we enabled certain policies, some workflow may fail suddenly. Besides publishing advertisements, we are thinking on soft enforcement. Meaning that, OPA still evaluate policies over inputs, but instead fail, it just gives warnings, and allow workflow to go on.

Any suggestion or existing practices?

[2021-05-25 08:08] evanchaoli commented on #3486
@anderseknert Thanks a lot for your quick response. I'm new to OPA. AFAIK, OPA returns `{result: true/false}`. Could you please point some doc for configuring OPA or a policy to return a result like you mentioned?

[2021-05-25 08:28] anderseknert commented on #3486
Presumably you have a rule called `allow` or similar which you query. So if your policy looks something like this:

[code]

You would then query the allow rule by calling `http://localhost:8181/v1/data/policy/allow` and you'd see `{result: true/false}` like you said, which is the value returned by the allow rule. Now if you rather query the `policy` document you would see not just the result of th

[2021-05-25 11:34] anderseknert commented on #3482
`opa eval` is not exposed at a REST endpoint. Given how `eval` loads policies and data from local disk I'm not sure it would make sense to do so either. If you want to expose that over a REST endpoint you're probably better off using OPA as a library, but just as with your performance concerns I think you'd need to do some real world tests to see what works and what doesn't given your somewhat uno

[2021-05-25 13:31] jkbschmid commented on #3478
Thanks for the detailed answer, @tsandall, definitely learned something.
Seems like changing OPA's behaviour in this case brings quite some complexity. Perhaps avoiding code snippets as in the example is also a good solution.

[2021-05-25 13:31] #3478 closed

[2021-05-25 14:05] andrewbanchich opened #3487 "Adjust logging for "Log upload skipped""
Every second, OPA outputs the following to stdout for me:

[code]

This makes things pretty noisy and makes it hard to see important logs from other services. Could this be set to `DEBUG` level instead?

Also, the `Log upload skipped` message, from what I understand, simply means there were no logs to send. I originally took this to mean that there were logs but it decided to not upload them for s

[2021-05-25 20:31] anderseknert commented on #3487
I'm guessing the reason this does not annoy more people is that the default of five **minutes** is enough to have most production OPAs at least have some decisions to upload at each occasion 😃 I'm curious to know more about any configuration that requires this to be done every second! That said, the event itself seems uninteresting enough to warrant DEBUG level demotion.

[2021-05-25 21:16] #3417 closed

[2021-05-25 21:23] simongottschlag opened #3489 "Add function to read files from fs.FS to create bundle"
Hi!

First of all, thank you for everything you do and all the great work with OPA. I'm using OPA in so many projects in many different forms and it is such a powerful tool.

I've been working on a way to dynamically create bundles using Go and it's been a pleasure working with your lib as well, it's one of the better ones I've had the pleasure of working with.

I am combining bundles from both em

[2021-05-26 06:57] evanchaoli commented on #3486
@anderseknert Thank you a ton! Your answer is exactly what I was looking for.

BTW, a follow up question is, is it possible to make OPA to include a reason in returned result when result is false?

[2021-05-26 14:42] tsandall commented on #3489
@simongottschlag thanks for the kind words!

I agree w/ @srenatus that we want to maintain compatibility w/ older versions of Go (e.g., we don't want to break users that haven't updated yet.) Stubbing out the fs.FS dependency makes sense. Hopefully we can keep the amount of stubbed out code to a minimum.

[2021-05-26 14:45] tsandall commented on #3487
Agreed w/ @anderseknert that uploading every second is a bit odd however it's also a reasonable change make. The line in question is [here](https://github.com/open-policy-agent/opa/blob/main/plugins/logs/plugin.go#L569). I don't think anyone is going to care if that message goes to debug.

[2021-05-26 16:47] #3487 closed

[2021-05-26 20:00] #3472 closed

[2021-05-27 10:53] anderseknert commented on #3181
Closing due to inactivity, and will reopen on request.

[2021-05-27 10:53] #3181 closed

[2021-05-27 10:57] srenatus commented on #3342
I'll close this. Feel free to re-open if there's more need for discussion or question 😄

[2021-05-27 10:57] #3342 closed

[2021-05-27 11:01] anderseknert commented on #2978
This has been fixed, right @gshively11 @ashutosh-narkar ?

[2021-05-27 12:31] simongottschlag commented on #3489
Hi @tsandall and @srenatus!

I've created an initial PR: #3493 . I'm no expert when it comes to this, but I wanted to try and offload the majority of the work from you - if possible.

Feel free to give feedback on whatever you see, as I learn by doing and your expertise will of course be appriciated and warmly welcomed!

[2021-05-27 12:47] srenatus commented on #3489
Thanks! I'll review this tomorrow at the latest.

[2021-05-27 19:36] tsandall commented on #3431
This is done!

[2021-05-27 19:36] #3431 closed

[2021-05-28 08:23] johanneslarsson opened #3499 "linux binary (0.29.0+) depends on glibc, won't run on alpine as-is"
## Expected Behavior

[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem

[code]

## Additional Info
Works fine in latest Ubuntu for example
[code]

[2021-05-28 08:25] srenatus commented on #3499
When enabling Wasm for all the platform binaries, we've gotten ourselves a libc runtime dependency, it seems:

[code]
(this is using alpine:latest)

[2021-05-28 08:26] srenatus commented on #3499
If this blocks you, you should be able to build a binary without all that using `make build-linux`, or `make ci-go-build-linux` if you're not on linux but have docker available.

[2021-05-28 08:42] srenatus commented on #3499
👉 https://github.com/bytecodealliance/wasmtime-go/issues/21

So, here's a cross road:

North: Wait for wasmtime to build a musl version, and use that for extra musl binaries (stretch: do the same thing ourselves)
East: Disable wasm for the linux binaries
West: Publish extra linux binaries without wasm

----

@johanneslarsson this is probably a problem for a few folks, but since you've come across

[2021-05-28 08:44] johanneslarsson commented on #3499
It doesn't really block us. Just trying to stay up to date 🥇 . I probably want to avoid building it ourselves for now.

[2021-05-28 08:47] johanneslarsson commented on #3499
Since I haven't got the sales pitch for WASM, (yet). I would just say: https://www.youtube.com/watch?v=LNBjMRvOB5M&ab_channel=PetShopBoysParlophone

[2021-05-28 09:25] srenatus commented on #3499
So, I think the only sweet spot is building the OPA binary with musl linked in. It'll run on any linux system (🤞), and we can still keep wasm enabled. A prerequisite is musl support in wasmtime and wasmtime-go. I'm looking into that... 🔍

[2021-05-28 10:38] johanneslarsson commented on #3499
@srenatus I see that I forgot to answer the image question, without going into details, let's say that it would be more work than replacing the `FROM` in the Dockerfile.

[2021-05-28 11:27] andrehaland opened #3501 "OPA 0.29.1 panics when assigning non-existent input to variable inside function"
## Expected Behavior
OPA to not panic

## Actual Behavior
OPA panics when trying to assign non existent input data to a variable inside a function

## Steps to Reproduce the Problem
With the following package
[code]
OPA panics with v0.29.1 and not in v0.28.0:
[code]

[code]

## Additional Info
Looking at the source code where Go panics
``
github.com/open-policy-agent/opa/topdown.evalFunc.eval(0xc0

[2021-05-28 11:48] srenatus commented on #3501
@andrehaland would you mind reviewing that? we'll cut a release when it's in.

[2021-05-28 11:59] srenatus commented on #3501
Thank you 😃

[2021-05-28 12:00] #3501 closed

[2021-05-28 12:45] srenatus commented on #3501
✔️ 0.29.2 is here, fixing this.

[2021-05-28 18:40] dxps opened #3508 "Please help on what seems a simple case"
Dear OPA team,

I am working on a PoC and we consider this as a promising technology to use and why not contribute back.
Reading through the docs and started playing with the standalone version, but got stuck into this.
Please enlight me into what it looks a simple case that it seems I can't figure it out yet.

You can find in [this Playground](https://play.openpolicyagent.org/p/7e4COkynmE) what I

[2021-05-28 19:32] srenatus commented on #2233
ℹ️ We cannot support wasm on that architecture yet, so if you're reading this try setting WASM_ENABLED=0 in your custom builds.

I've brought this to the attention of the fine folks working on wasmtime-go: https://github.com/bytecodealliance/wasmtime-go/issues/79

[2021-05-28 19:41] srenatus commented on #3508
You could try `curl http://localhost:8181/v1/data` to see if the data and policy are in the right place. Maybe there's something wonky with your PUT calls -- I haven't tried to repro this just now, sorry.

[2021-05-28 19:53] srenatus commented on #3508
Just for kicks, can you do `curl localhost:8181/v1/data/products`, or wherever you'd expect your policy's virtual document?

[2021-05-28 20:09] dxps commented on #3508
Sure, I'll keep trying to figure it out, as otherwise it'd obsess me. Thanks again, and I'll get back with any - hopefully positive - outcome. Meanwhile, enjoy the weekend!

[2021-05-29 05:36] faraway commented on #2983
@anderseknert just saw you added the "good first issue" label. Do you think this is something I can take can fix?

[2021-05-29 15:40] dxps commented on #3508
Issue has been solved. And the lessons learned are:
1. Use `--data-binary` not just `-d` flag when using cURL for uploading a `policy`.
   - Otherwise, you'll get strange/not useful errors such as `refs cannot be used for rule`.
2. Policy's package name is relevant, not where (the path in the endpoint) it is actually uploaded.
3. Watch out for _namespace_ clashing.

Notes:
1. I need to read furthe

[2021-05-29 15:40] #3508 closed

[2021-05-29 19:43] srenatus commented on #3508
Thanks for getting back to this! If you can pinpoint where the docs could be clearer, a PR is always welcome. You're in a unique position there, having tried something, stumbled briefly, and overcome the issue. 😃

[2021-05-30 20:13] anderseknert commented on #2983
@faraway I think @olamiko might be working on this - seems like I can't assign issues unless that person has interacted with an issue first, but I know I tried. Are you on the OPA Slack? We could sync there if you're looking for a good first issue to tackle.

[2021-05-30 20:25] olamiko commented on #2983
Hi @faraway, I am currently working on this

[2021-05-31 07:08] johanneslarsson commented on #3499
Thanks. Let me know if you reach Oslo and I'll offer you a cold one (🍺).

[2021-05-31 08:15] srenatus commented on #3499
OK, it's windy and cold up north. I'll try going west today 🚂

[2021-05-31 08:18] #3489 closed

[2021-05-31 08:34] anderseknert commented on #3499
Considering the price of a beer in Oslo, that's an extremely generous offer @johanneslarsson 😆

[2021-05-31 09:08] srenatus opened #3512 "wasm: memoize function outputs"
That's a leftover of #3417. Wasm should probably do the same thing topdown does here.

[2021-05-31 09:18] #3499 closed

[2021-05-31 09:19] srenatus commented on #3499
I'll get a 0.29.4 out with these binaries included.

[2021-05-31 10:16] srenatus commented on #3499
![image](https://user-images.githubusercontent.com/870638/120178551-e953a780-c209-11eb-84a5-b98e16b39db6.png)

☝️ There's an extra binary for your use case now, in [v0.29.4](https://github.com/open-policy-agent/opa/releases/tag/v0.29.4)

[2021-05-31 11:56] andrehaland opened #3518 "Shorthand flag for `opa fmt . --fail` not supported"
## Expected Behavior
To be able to use shorthand `-e` for `opa fmt . --fail`.

## Actual Behavior
Shorthand is not supported, but it is stated in source code that it is.

## Steps to Reproduce the Problem
[code]

## Additional Info

Detected in version 0.29.3, but I guess it applies for all 0.29.x
[code]

The comment here suggest that `-e` can be used as shorthand for `--fail` in `opa fmt` command

[2021-05-31 12:18] johanneslarsson commented on #3499
Yay, thanks will try it out.

[2021-05-31 12:52] srenatus commented on #3518
Yup, an oversight in back and forth when reviewing this. I had requested not to use `e`, since one-letter shorthands are rare and we should be parsimonious when using them 😅

A PR would be great, would you be up to it? What do you think, to `-e`, or not to `-e`?

[2021-05-31 13:38] andrehaland commented on #3518
I can create a PR for this 👍  No need to `-e` on my part. Should I just remove these lines then?
https://github.com/open-policy-agent/opa/blob/d02eb0025a1cbc92bef076ec96b41343a3da8680/cmd/fmt.go#L51-L52

[2021-05-31 15:38] srenatus commented on #3518
Great thank you

[2021-05-31 16:15] #3518 closed

[2021-06-01 09:10] K-Fl opened #3521 "Overwrite bundle"
## Expected Behavior
When using the Bundle Service API to load bundles in to OPA, I expect that this policies can not be overwritten with the OPA-api.
This is also documented:
`By default, the OPA REST APIs will prevent you from modifying policy and data loaded via bundles.`

This was also the case up to version 0.25

## Actual Behavior
From version 0.26 I can now overwrite the bundles using the r

[2021-06-01 09:28] anderseknert commented on #3521
Thanks for reporting this @K-Fl. This does indeed look like a bug. Checking the .manifest file of the playground bundles gives:

[code]

Since no `roots` are provided the default should be that the bundle owns [all of them](https://www.openpolicyagent.org/docs/latest/management-bundles/#bundle-file-format):

[2021-06-01 10:01] K-Fl commented on #3521
Thanks for the quick response!

I did not mention in the report that we also get the same error when we are
using our own bundle-service.

We are not using the .manifest file at all.

//Kjetil

On Tue, Jun 1, 2021 at 11:28 AM Anders Eknert ***@***.***>
wrote:

--
Hilsen

Kjetil Fløisand

[2021-06-01 10:18] anderseknert commented on #3521
Thanks Kjetil. I think the same behavior previously quoted from the docs should apply if:

1. there is no manifest file
2. there is a manifest file but it contains no `roots` attribute.
3. there is a manifest file but it contains a `roots` attribute which contains `""` as one of the values.

[2021-06-01 13:18] srenatus commented on #3499
Similar things happen on Centos 7, it seems:

[code]

[2021-06-01 13:39] srenatus opened #3524 "linux build depends on glibc 2.18+"
Follow-up to #3499.

As it turns out, the binaries we've built with wasm enabled (starting from 0.29.0) depend on glibc, but also have a minimum requirement: 2.18. As far as I can tell, that comes in from the version of glibc present in the host system used when building the binary -- in our case, that's the golang docker image.

The problem is Centos 7 (EOL 2024, still alive for a bit), which has

[2021-06-01 13:40] srenatus commented on #3524
👉 https://gist.github.com/wagenet/35adca1a032cec2999d47b6c40aa45b1 Centos 7 seems to be the only popular linux distribution affected by this.

[2021-06-02 12:26] anderseknert commented on #1449
With JSON schema support now in OPA, adding a built-in to do this on arbitrary data seems a lot more viable, and might be an alternative approach to do on-the-fly validation of `input` or `data` objects as well 🤔

[2021-06-03 09:39] anderseknert opened #3525 "New `opa exec` subcommand"
When deploying OPA in a CI/CD context to verify configuration or deployment resources, run Terraform policies, etc.. it isn't always ideal to run OPA in server mode. While OPA and the ecosystem provides some great options to run one-off policy checks, like `opa eval` or Conftest, they don't currently provide some of the management and configuration capabilities that running OPA as a standalone ser

[2021-06-04 05:32] geekhckr commented on #2978
I am still seeing the leak when I use opa-envoy-plugin (using grpc). I have set max_size_bytes to 64mb. Find my config below

[code]

![image](https://user-images.githubusercontent.com/11797297/120750506-1793f880-c524-11eb-87e6-be6d980e41e9.png)

[2021-06-04 12:21] mspraggs opened #3528 "undefined reference to `__res_init' when linking against musl libc"
## Expected Behavior

Build succeeds without errors.

## Actual Behavior

The build fails with the following error:
[code]

## Steps to Reproduce the Problem

I ran the following on Linux Mint 20.1, but I first experienced this error when compiling OPA for use at work, where we link against musl and run in a Docker image derived from Alpine Linux.

These are the shell commands I ran to produce the

[2021-06-04 12:28] tsandall commented on #3528
@mspraggs do you want/need the wasm runtime to be available in your OPA executable? If not, you can disable it:

[code]

IF you want to build a static executable (which cannot include the wasm runtime) you can also disable CGO:

[code]

[2021-06-04 12:48] mspraggs commented on #3528
Hi @tsandall, thanks for getting back so quickly!

Currently we don't _need_ WASM support in our builds, so we could disable this for the moment. That said, we may need it in future, so if there is a solution to this problem we'd be interested.

[2021-06-04 12:55] tsandall commented on #3528
For now I'd recommend just disabling the wasm runtime in your OPA builds.

If you want the wasm runtime to be available, I recommend filing an issue upstream w/ the wasmtime-go/wasmtime maintainers--they're quite responsive.

I'm going to close this issue for now since there is nothing we can do inside of OPA proper.

[2021-06-04 12:55] #3528 closed

[2021-06-04 13:08] tsandall commented on #2978
@geekhckr what does the memory usage look like over time? The image you've attached shows current heap usage which is sometimes helpful understanding _where_ memory is allocated but it doesn't give any indication about memory usage over time.

[2021-06-04 13:59] geekhckr commented on #2978
@tsandall over the time it is keep on increasing and not coming down. In one of our performance setup, it has increased to 490mb from 55mb in 2 days with 360 req/sec. We had to disable the cache. In another production setup where we have less load also, it is keep on increasing.

Above attached one is collected in one of my laptop with simulated load using grpcurl, after running load for 2 hours,

[2021-06-04 14:12] tsandall commented on #2978
@geekhckr thanks, that's helpful. @ashutosh-narkar sounds like there's something odd going on here... PTAL...

[2021-06-04 14:33] geekhckr commented on #2978
I have used below command for generating the load. And I am changing cookie intentionally so that each request gets cached. But cache should not grow more than 64mb, because of the max_size_bytes.

[code]

Below one is the policy I have used
[code]

[2021-06-04 15:31] tsandall opened #3530 "opa bench subcommand output broken"
The `opa bench` subcommand output has been broken since https://github.com/tsandall/opa/commit/3be1d08b87a8916a0a35e34f9d689a2c7bcdeedf.

The subcommand is now blindly printing the err value to the console (even if it's nil). This breaks anything consuming the output.

We should manually undo the changes from that commit to the bench command.

[2021-06-04 15:50] tsandall opened #3531 "make image target is broken"
The `make image` target is broken by https://github.com/open-policy-agent/opa/pull/3511/commits/ac04d3c99fdf226f8a5a49a49747a928b2418259

* `image` runs `make image-quick`
* `image-quick`  runs several `docker build` commands in succession

The last one expects to find the `opa_linux_amd64_static` binary in the release directory however it's not there because `image` only ran `make ci-go-ci-build-

[2021-06-04 15:54] ZachMayry opened #3532 "/bin/sh: ./opa: not found in Docker when upgrading to v0.29.4"
## Expected Behavior
OPA server runs

## Actual Behavior
`/bin/sh: ./opa: not found`

## Steps to Reproduce the Problem
dockerfile
[code]
1. download opa `curl -L -o opa https://www.openpolicyagent.org/downloads/latest/opa_linux_amd64/; chmod +x ./opa`
2. copy dockerfile to a file named `Dockerfile`
3. `docker build .`

## OPA Environment

OPA Version: 0.28.0 - works just fine
OPA Version: 0.29.4

[2021-06-04 16:05] tsandall commented on #3532
@ZachMayry thanks for filing this...

Can you try the same except curl for the static executable: `https://www.openpolicyagent.org/downloads/latest/opa_linux_amd64_static`

Some recent changes related to wasm support in OPA necessitate libc dependencies (which aren't available in alpine). You probably don't care about wasm support for now so just use the static executable.

Assuming this fixes it,

[2021-06-04 16:05] amanymous-net opened #3533 "Support Abstract Unix Domain Sockets"
## Expected Behavior

Since OPA supports domain sockets, sockets with abstract addresses (@authz.sock) should also be accepted.

## Actual Behavior

Since OPA parses the domain as a URL, the conventional naming scheme (e.g. "unix://@authz.sock") translates to listening on just "authz.sock". The Go net package already supports abstract unix sockets, so OPA just needs a mechanism to flag unix abstra

[2021-06-04 16:11] ZachMayry commented on #3532
That works!

[2021-06-04 16:17] tsandall commented on #3532
Yes, the static version will be supported (and it won't magically become dynamic at some point like the other linux executable did 😅 )

[2021-06-04 16:23] ZachMayry commented on #3532
What do you mean by "dynamic"?

[2021-06-04 16:34] tsandall commented on #3532
It won't gain any dynamic library dependencies. The `opa_linux_amd64_static` is statically linked, i.e., you can it on _any_ linux/amd64 systems as it has no system library dependencies (even libc is not needed...)

[2021-06-04 16:47] tsandall commented on #3524
Going forward we recommend people use the `opa_linux_amd64_static` executable if they need to deploy to one of these systems.

[2021-06-04 16:47] #3524 closed

[2021-06-04 16:54] tsandall commented on #3532
Closing because this is a dupe of #3499

[2021-06-04 16:54] #3532 closed

[2021-06-04 17:49] tsandall opened #3534 "Custom functions passed through the rego package should be able to halt evaluation"
Currently, custom functions passed through the rego package cannot halt evaluation. Any errors returned by the custom function are wrapped as `topdown.Error` which doesn't halt evaluation. We should extend the rego package to expose a halting error type that gets converted into topdown.Halt.

[2021-06-04 17:52] #3463 closed

[2021-06-04 17:56] tsandall commented on #3533
Is there any scenario where implying abstract sockets based on the URI scheme and user would bite us? E.g., does `unix://foo@bar.sock` have any meaning? Could it?

[2021-06-04 18:44] amanymous-net commented on #3533
Domain sockets are just filepaths, so that _could_ be a valid non-abstract domain socket.

Most other systems determine its a Unix socket (through some means) and then just check if the first byte to determine if it's abstract or not. I think following this pattern would be ideal, even if it means converting the URL back to a full string and then stripping off the scheme (once its determined to be

[2021-06-04 19:05] #3531 closed

[2021-06-05 00:01] ninawang-uhn opened #3538 "decode_verify fails silently when constraint aud is an array"
I am trying to decode_verify a token that has an array of two strings as its aud
When I put "aud": ["xxx", "yyy"] in the constraints, it fails silently without any output

## Expected Behavior
return true and decoded token

## Actual Behavior
not returning anything
## Steps to Reproduce the Problem
https://play.openpolicyagent.org/p/2v7F8NFPWD

[2021-06-05 07:31] anderseknert commented on #3538
Hi @ninawang-uhn!

When verifying the `aud` claim, OPA acts as a single principal, as described in [the specification](
https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.3):

While a JWT may have many intended recipients, a single recipient can't identify as multiple principals. If you want/need to go outside of the spec, you may do so by verifying and decoding the JWT in separate steps, a

[2021-06-05 11:59] anderseknert commented on #3486
Are we ready to close this @evanchaoli ?

[2021-06-05 21:20] anderseknert commented on #3482
@shoaibbanikartester anything left unanswered here or should we close the issue?

[2021-06-06 08:32] simongottschlag opened #3539 "Feature Request: Make it possible to modify query response codes with rego"
Hi again! 😁

I wrote a question in [Slack](https://openpolicyagent.slack.com/archives/C1H19LW4F/p1622961613159000) but after taking a look at the code it seems like what I'm looking for isn't supported as of today.

What I'm looking for is to use OPA together with ingress-nginx in the way described in this article: https://medium.com/@ankit.wal/authenticate-requests-to-apps-on-kubernetes-using-ngi

[2021-06-06 08:33] simongottschlag commented on #3539
And of course, I'd happily try to create a PR if we find a way that works for the project to do this. 😊

[2021-06-07 07:12] evanchaoli commented on #3486
Sure. Thanks again.

[2021-06-07 07:12] #3486 closed

[2021-06-07 12:58] shoaibbanikartester commented on #3482
I think, I have got the answers/suggestions I wanted. Thanks @anderseknert and team.

[2021-06-07 12:58] #3482 closed

[2021-06-07 14:20] #3530 closed

[2021-06-07 16:18] ashutosh-narkar commented on #3539
@simongottschlag are you suggesting that each query result have a field like `http_reaponse_code` which determines the response code ? The HTTP status code that the API returns does not have much to do with the result itself.

I'm not familiar with ingress-nginx but what if there was a service that embedded OPA as a library (for ex.) and then you could define a rule that includes the HTTP status i

[2021-06-07 17:14] simongottschlag commented on #3539
Hi @ashutosh-narkar!

One way would absolutely be to either use an intermediate service between nginx and OPA or build a small service that leverages the lib directly.

My thought behind the FR is that it would be a nice feature to support directly in OPA to make the interoperability between it and ingress-nginx better.

The main reason behind not creating a PR directly is that I'm not sure the ma

[2021-06-08 02:48] ashish246 commented on #1954
Hi @tsandall @patrick-east , just following up on this one if any progress was made here. We, at ANZ, had a similar requirement where OPA container, deployed on-prem, is not able to talk to DAS, deployed on-cloud/GCP, because we are not able to install custom CA certificates in OPA container. Using `allow_insecure_tls` may not be a preferred way to move forward for us.

In our case though, OPA is

[2021-06-08 16:51] #3521 closed

[2021-06-08 19:28] anderseknert commented on #3539
It's a hack ( 😅 ) but you could use OPA's mechanism for authentication and authorization of OPA's own endpoints to get 401 responses... See https://www.openpolicyagent.org/docs/latest/security/#authentication-and-authorization

[2021-06-08 20:05] tsandall commented on #3539
What do the subrequests from nginx to the auth service look like? If you configure nginx to enable external auth will it just forward arbitrary requests? For example, what what does the subrequest look like for:

[code]

[code]

What would the auth service receive? From looking at the nginx docs, it sounds like they just forward the raw request and expect a standard HTTP response to indicate allow

[2021-06-08 20:21] #3533 closed

[2021-06-09 07:17] resullar-vince opened #3542 "Dependency gogo/protobuf uses previous version with high security risk"
## Expected Version

Dependency gogo/protobuf must be in version 1.3.2 since previous versions have a security issue detailed in this link: https://nvd.nist.gov/vuln/detail/CVE-2021-3121

Right now, it's flagging in our Black Duck scan with high security risk. Can we get this updated to the latest version please?

## Actual Version
Current gogo/protobuf dependencies are 1.3.1 and below (latest rel

[2021-06-10 00:21] ashutosh-narkar commented on #3542
A quick scan of the dependencies and updating the `github.com/prometheus/client_golang` library seemed to remove some of the older versions of `github.com/gogo/protobuf`. I'm  probably missing a much easier way of resolving this.

[2021-06-10 01:07] resullar-vince commented on #3542
I tried doing it but it still referencing to gogo/protobuf version 1.3.1. The compliant version is 1.3.2 though.

[2021-06-10 15:08] simongottschlag commented on #3539
Hi!

I've created a small example: https://github.com/simongottschlag/opa-nginx-authz

From the repo, I can start nginx and opa:
[code]

When I curl nginx, it works as expected:
[code]

And if I look at the logs, I see the following:
[code]

If I curl another path, nginx goes to the same place:
[code]

And the logs from the above request:
[code]

My understanding is that if we were able to manipul

[2021-06-10 15:32] #3420 closed

[2021-06-10 18:23] willbeason opened #3545 "wasmtime dependency includes large binary file"
Sometime between v0.24.0 and v0.29.4, we added a dependency on `github.com/bytecodealliance/wasmtime-go`. There's some history around why we used this particular version, but it boils down to that it has an active community and has everything we need.

The downside is that the repository includes a large binary file which `go mod vendor` adds to `vendor/` (See: vendor/github.com/bytecodealliance/w

[2021-06-10 21:23] tsandall opened #3546 "Safety check should not reorder assignments for safety"
The safety check in the compiler runs before equality rewriting occurs. However, the safety check does not seem to respect the := operator semantics:

[code]

I don't know how much of an issue the second case is. The first case is problematic because someone could have expected the assigner `y` to be ground.

[2021-06-10 21:33] yukinying opened #3547 "Go 1.17 x509.ParseCertificate error message will break tests in test/cases/testdata/cryptox509parsecertificates"
## Expected Behavior

Test pass

## Actual Behavior

Test fail

## Steps to Reproduce the Problem

## Additional Info

Go 1.17 x509 has [encapsulated](https://github.com/golang/go/blob/048cb4ceee652e358d84fbca260fc93d7a0dfbe3/src/crypto/x509/parser.go#L812) the ASN.1 error during parsing.

The test cases mentioned in the subject has hardcoded that the error message must contain `asn1: structure er

[2021-06-10 23:03] kotyara85 opened #3548 "How to set env variables to golang pkg?"
We're using in memory store to test regos for our app.
Specifically we expect this to be set as env variable in regos:
[code]

If there a way specify env variables for in-memory opa in golang?

os.Setenv is not working

Thanks

[2021-06-11 00:31] ashutosh-narkar commented on #3548
@kotyara85 to clarify you're asking how to pass environment variables to OPA ? If yes, how are you running OPA ? For example, if you had a policy like
[code]

You could run it like below with `opa eval` or `opa run`:
[code]

Are you embedding OPA as a library ?

[2021-06-11 00:34] kotyara85 commented on #3548
@ashutosh-narkar yes, we embed it as a go library

[2021-06-11 00:44] ashutosh-narkar commented on #3548
Can you share some code to help understand what you're trying to achieve here ? You could manually create a store using [inmem.NewFromObject](https://pkg.go.dev/github.com/open-policy-agent/opa@v0.29.4/storage/inmem#NewFromObject) and provide some custom data and then use the `rego` package to evaluate.

[2021-06-11 01:05] kotyara85 commented on #3548
sure,
here's the rego
[code]

New store is just initiated with this command
[code]

I do verify is the user is actually valid or not.
opa in memory doesn't recognize env variables. I guess runtime can be setup somehow?
Thanks

[2021-06-11 01:07] ashutosh-narkar commented on #3539
I'm surprised the `req_path` OPA receives in same in both the cases. Anyways you could add a service that calls out to OPA and passes the method, path, token etc to OPA. It then gets a response from OPA and based on the policy result sends a 200 or 403 back to nginx. This would be one way of doing this. Similar to [this](https://www.openpolicyagent.org/docs/latest/http-api-authorization/) example.

[2021-06-11 01:53] tsandall commented on #3539
@simongottschlag that's a useful example! I could imagine it being useful to have a version of OPA that you could hookup to any of these HTTP-based authentication/authorization extension mechanisms (e.g., Nginx is not the only one, Envoy can be configured this way as well... I'm sure there are others.)

What I'm unsure of is what happens/what to do about non-GET requests... I'd want to at least kn

[2021-06-11 01:56] tsandall commented on #3548
The [rego.Runtime](https://pkg.go.dev/github.com/open-policy-agent/opa/rego#Runtime) option is what you're looking for. This controls the result of the `opa.runtime()` function.

[2021-06-11 05:57] kotyara85 commented on #3548
@tsandall so what would be a Location in my case?

[2021-06-11 05:58] simongottschlag commented on #3539
@tsandall I've updated the example with a small echo-server.

When sending the following request to nginx:
[code]

I can see nginx sending the following to the echo server:
[code]

Not sure if I can modify the body in any way to the external auth server in this case, but will try to see if there's any way.

[2021-06-11 06:10] kotyara85 commented on #3548
So in case if anyone will face a similar issue, that's a code straight from opa/runtime.go

[code]

and then in query you can pass
rego.Runtime(ast)

[2021-06-11 06:10] #3548 closed

[2021-06-11 13:05] sanjaygopinath89 opened #3550 "OPA kubernetes policy : mutation webhook add unexpected values"
Create a mutation webhook to add ENV variable to a deployment with a specific vaules

**Environment variable that need to be added to a deployment**

`
env:
    - name: OTEL_K8S_HOST_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
    - name: OTEL_EXPORTER_OTLP_ENDPOINT
      value: "http://$(OTEL_K8S_HOST_IP):55680"

`

**Policy Created**

`
package system

main = {
    "

[2021-06-11 13:12] tsandall commented on #3548
You don't have to specify location technically. The location information is for when values are parsed out of source files. In this case there are no source files so just leave the location nil.

[2021-06-11 13:56] anderseknert commented on #3550
Hi @sanjaygopinath89! I don't think this is a bug - if you don't provide a version Kubernetes will simply fall back to the default value. See the [schema for ObjectFieldSelector](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#objectfieldselector-v1-core).

[code]

[2021-06-11 18:22] tsandall opened #3552 "PE unnecessarily saves expressions containing base doc references with unknown keys"
PE is currently saving unnecessary expressions. The problem is that topdown is checking for unknown terms under an unplugged reference.

For example:

[code]

If foo is `{"k": 8}` the PE result for `data.x.p = true` should be empty/undefined. OPA will have enumerated the `data.foo` collection and not found any matches.

This leads to suboptimal PE results.

[2021-06-12 06:30] srenatus commented on #3545
I suppose we could also introduce some build automation to push two tags for each release, one having the dependency removed.

[2021-06-14 09:34] dsoguet opened #3554 "Improve Health Bundles API in case of persist mode"
## Expected Behavior

According to the documentation https://www.openpolicyagent.org/docs/v0.29.4/rest-api/#health-api `GET /health?bundles HTTP/1.1` can be used to determine if bundle activation is ok or not.

Two codes are possible:
- 200 when it is ok
- 500 when it is not ok

Let's consider following configuration :
-  a OPA server using bundle through the configuration file
- bundle persist mo

[2021-06-14 09:59] anderseknert commented on #3554
Thanks for reporting this @dsoguet!

I'm not sure we can change the response code we currently return. Most Kubernetes systems that use bundles are using `/health?bundles` for their readiness probe, and if we were to change from a 200 to some 50x for this case those pods would simply no longer start under the conditions you describe, making the bundle persist feature kinda moot.

One thing we coul

[2021-06-14 11:21] dsoguet commented on #3554
Hi @anderseknert ,

thank you for the information.

Yes the description field could be nice.

[2021-06-14 13:54] #3552 closed

[2021-06-15 05:45] ashutosh-narkar opened #3555 "Security vulnerability in math/big.Rat"
The OPA build process utilizes Go version `1.16.3`. The following security vulnerability was identified in `math/big.Rat` affecting this version of Go:

[code]

OPA uses  the `math/big.Rat` type for comparing numbers for instance and hence a Go update would be recommended.

[2021-06-15 05:45] ashutosh-narkar opened #3556 "Security vulnerability in go get"
The following security vulnerability was identified in the `go get` command in Go before `1.14.14` and `1.15.x` before `1.15.7` on Windows:

[code]
OPA can be built with Go 1.15+. Developers using the Go < 1.15.7 on Windows and updating a dependency like `wasmtime-go` could be potentially affected.

[2021-06-15 08:41] svenwltr opened #3557 "Different behavior between Rego.Eval and Rego.PartialResult"
## Expected Behavior

`*Rego.Eval` and `*Rego.PartialResult` behave the same on same rego files.

## Actual Behavior

When using set comprehension `*Rego.PartialResult` fails with `rego_unsafe_var_error: expression is unsafe`.

## Steps to Reproduce the Problem

### `policies/test.rego`

(might be a bit too verbose, but I am still new to rego)

[code]

### `go.mod`

[code]

### `direct.go`

[code]

[2021-06-15 12:31] tsandall commented on #3556
Can we just close this? I don't see a resolution inside of OPA...

[2021-06-15 13:08] sanjaygopinath89 commented on #3550
@anderseknert  ok its a default value. Thanks  for the details.

[2021-06-15 13:32] #3555 closed

[2021-06-15 13:33] #3550 closed

[2021-06-15 14:00] TheLunaticScripter opened #3559 "Stack overflow when running partial eval on a rule where variable is accidentally repeated"
This is the policy that I'm evaluating. I accidentally duplicated a variable and then ran a partial evaluation on the rule. As a result, I got a stack overflow error. Here is my policy

[code]
with the following input
[code]
When I run this command
[code]

I get the stack overflow

To fix this I modified either the `some file` variable or the `file = data.file` to be something else for example `fi

[2021-06-15 16:04] ashutosh-narkar commented on #3556
Sure this is better resolved by updating the development environment instead of say updating the minimum version OPA can be built it.

[2021-06-15 16:04] #3556 closed

[2021-06-15 16:07] tsandall opened #3560 "Extend rego package to let caller set random seed"
The topdown package exposes a random seed parameter however it's not plumbed into the rego package which means that callers can't control it.

We should extend the rego package to let users set the seed:

https://pkg.go.dev/github.com/open-policy-agent/opa/topdown#Query.WithSeed

The changes required in the rego package a minimal:

* Add new parameters (one for rego.New() and another for prepared

[2021-06-15 17:00] simongottschlag commented on #3539
@tsandall I haven't been able to get anything working as I wanted with pure nginx <-> opa, but I have created a small proof of concept service that does the job as a proxy between them. This could maybe run as a sidecar or something like that: https://github.com/simongottschlag/opa-nginx-authz/tree/opa-nginx-external-auth/opa-nginx-external-auth

Will continue to write the tests for it when I have

[2021-06-15 19:47] #3560 closed

[2021-06-15 20:07] anderseknert commented on #3538
Closing this for now. Let me know if you feel I missed something from the spec and I'll re-open @ninawang-uhn.

[2021-06-15 20:07] #3538 closed

[2021-06-15 20:21] anderseknert commented on #3442
@yeDor this still a problem or did you manage to figure it out / work around it? Closing issue for now and will re-open if needed.

[2021-06-15 20:21] #3442 closed

[2021-06-15 20:28] ashutosh-narkar commented on #3539
@simongottschlag have you considered embedding OPA as a library instead of a callout from your service ? This should help with the latency.

[2021-06-15 21:03] anderseknert commented on #3539
From [step 4 here](https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-subrequest-authentication/#configuring-nginx-and-nginx-plus).

Unless I'm really misinterpreting things the body of the request will never be passed to OPA. So what you're left to play with is essentially the URL and the request headers - the latter which is not passed into normal policy evaluation. Did you t

[2021-06-15 21:07] anderseknert commented on #3422
Closing since the questions have been answered. If I missed anything, let me know and I'll re-open, @junDD.

[2021-06-15 21:07] #3422 closed

[2021-06-16 21:57] simongottschlag commented on #3539
@anderseknert yeah, gave up on hacking nginx to support it.

@ashutosh-narkar I am considering it, but would of course prefer it to be supported by OPA out of the box and not have to maintain an additional service. I did some tests in regards to performance and you can see below that it is a quite large overhead using an additional http service. I will check how much better it becomes if I embed O

[2021-06-16 22:38] ashutosh-narkar commented on #3539
Since you're making a http call to OPA from the proxy on every request, the added  request duration is expected. I would expect embedding OPA in your proxy to give better results.

[2021-06-17 07:21] jkbschmid opened #3564 "Inefficient type checking for builtins with object parameters"
Hi there!

When `object.Get` is used on an object with 10^6 entries, type checking is in O(n^2) which leads to start-up times > 2h.

## Expected Behavior
[code]
When running `opa test .` without any test, OPA should terminate.

## Actual Behavior

OPA doesn't terminate (after two hours).
When using the same policy with regular object access instead of `object.Get`, `opa test` terminates.

## Addit

[2021-06-17 15:39] tsandall commented on #3557
This looks like a bug in PE of comprehensions. Here's the PE output:

[code]

The inclusion of `__local4__2 = msg12` inside the comprehension body does not make sense.

[2021-06-17 17:36] justincely opened #3566 "envoy opa plugin log messages"
## Expected Behavior
When using the envoy plugin: `package envoy.authz` I wasn't seeing the `parsed_body` field populated.  I would expect some logging/error/warning message to help me understand why.

## Actual Behavior
When using the envoy plugin: `package envoy.authz`, the only logs come if `content-type` is `application/json` or `application/grpc`.  If any other protocol, or omitted entirely,

[2021-06-17 18:26] tsandall commented on #3564
@jkbschmid I've just opened #3567 which should speed things up a bit (though it's not going to be O(1) like it would be if we special cased the `object[any:any]` case...) I did a quick test and it looks like the type check phase takes about 12 seconds on an object with 1,000,000 keys.

[2021-06-18 03:18] AvniWala-Sophos opened #3568 "Print OPA query result output in decision logs"
## Expected Behavior
Note: This is a query, not an issue.

I configured OPA with Envoy using grpc interface. Respective sections of configmap are as provided in "Steps to Reproduce" section below.

My policy rego file looks like so: https://play.openpolicyagent.org/p/ofSZBo0lYV

A typical output of the above policy would be:
{
    ...
    "decision": {
        "allow": false,
        "reason": "De

[2021-06-18 09:57] geekhckr commented on #2978
Is this leak related to this https://github.com/golang/go/issues/20135 ? I think topdown cache is using golang map.

[2021-06-18 10:05] jkbschmid commented on #3564
Hi @tsandall , thanks for the quick reply + fix!
I'll load the list as data - I guess this is the proper way to use OPA ;)

[2021-06-18 10:05] #3564 closed

[2021-06-18 12:11] prithakundu opened #3569 "Query regarding opa to find out if filebase64sha256 is used in terraform"
This is query regarding opa.

Can we use opa to find out if in terraform lambda filebase64sha256 hash is used or filesha256?

[2021-06-18 22:41] simongottschlag commented on #3539
@ashutosh-narkar the results are.. weird? I've added the ability to evaluate rego in the service directly and going directly to it is faster than going through the proxy mode. But seems to be slower when going through nginx auth...

I've created a PR here for the changes: https://github.com/simongottschlag/opa-nginx-authz/pull/2

See below:

## k6 load test

Start all services: `./run.sh`

Restart

[2021-06-19 01:58] caleygoff-invitae commented on #3164
I'm curious about this also. I am seeing that I can get the opa-sidercar injected in namespaces that I define. However, even if I set a `NotIn` Expression, and the label on my pod, if I restart the pod I still get an injected opa.. I'm not sure how to resolve this:

[code]

[2021-06-20 21:19] simongottschlag commented on #3539
I've done one change, went from `PartialResult` to `PrepareForEval` and got a bit better performance. With `PrepareForEval`, it actually seems it's performing better than using the vanilla OPA container.

I used the internal benchmarking tool to compare them:

## PartialResult

[code]

## PrepareForEval

[code]

The k6 tests also got a bit better:

### opa-nginx-external-auth rego

Run load test:

[2021-06-20 21:35] simongottschlag commented on #3539
I did another change, added connection reuse to nginx - and the results got much better and now the rego is better than the proxy. One really weird thing happend as well - OPA seems to get issues when nginx sets `proxy_set_header Connection "";`. No idea why!

You can see the nginx changes here: https://github.com/simongottschlag/opa-nginx-authz/commit/6806fed17574ba44472c8876c6a86d9bbecac527#diff

[2021-06-21 08:17] srenatus commented on #3568
Have a look at using an object response instead: https://www.openpolicyagent.org/docs/latest/envoy-primer/#example-policy-with-object-response

You can then insert any keys you'd like in to the policy's object response, and they'll all go into the decision log, without affecting the way opa-envoy-plugin decides that to do with the policy result. opa-envoy-plugin will only look at the keys that are

[2021-06-21 09:43] vilkovtato commented on #782
Confirming, that this is still an issue in 0.28.0. Are there plans for solving this? Thanks

[2021-06-21 10:08] anderseknert commented on #3569
I think something like:

[code]
ought to do it.

[2021-06-21 12:26] srenatus commented on #3545
💭 Would it help to actually use LFS, as advised by Github? I don't know for sure, but maybe it could make downloading the large files _optional_?

[2021-06-21 13:14] prithakundu commented on #3569
It doesn't work. base64.decode function is able to decode filesha256 hash key as well

[2021-06-21 13:17] anderseknert commented on #3569
Yes, the second assertion checking for length would fail on filesha256 though. Remember that both assertions must be true in order for the rule to be.

[2021-06-21 13:38] prithakundu commented on #3569
so the hash key for filebase64sha256 should always be 44? is there any chance that other hash key can also have length 44?

[2021-06-21 13:57] anderseknert commented on #3569
You can use `terraform console` to try the various SHA functions and check their output length. As far as I know these hashing functions will always return a fixed length hash, but I guess you'd have to check their implementations if you're looking for guarantees :)

[2021-06-21 14:13] prithakundu commented on #3569
Okay thanks for the help

[2021-06-21 14:13] #3569 closed

[2021-06-21 15:56] gshively11 commented on #2978
good find @geekhckr, seems like it does https://github.com/open-policy-agent/opa/blob/main/topdown/cache/cache.go#L86

[2021-06-21 16:25] willbeason commented on #3545
That is a fantastic idea. I'll see if the project still compiles + tests pass with the file in LFS.

[2021-06-21 16:38] ashutosh-narkar commented on #2978
Thanks for the information @geekhckr. We ran a test setup similar to what you reported. We kept it running for more than 2 days. What we noticed is that the allocated bytes (`Alloc`) increase and decrease over time but `Sys` always increases and never goes down. This seems to indicate that Go isn't giving memory back to the OS.

[2021-06-21 16:42] gshively11 commented on #2978
yea, per the issue that @geekhckr linked, it looks like you have to occasionally create a new map and migrate over active items, which is pretty annoying

[2021-06-21 23:57] #3566 closed

[2021-06-22 00:23] ashutosh-narkar commented on #3539
👍

`nginx private rego`: Is this use-case where you embed OPA as a library ?

[2021-06-22 04:44] simongottschlag commented on #3539
@ashutosh-narkar exactly! `rego` in my case refers to embedding OPA while `proxy` refers to proxying to OPA.

Since we see the results and difference between the two, it would be interesting to understand how the maintainers would like to proceed?

I see three ways forward: (order of personal preference)

1. Update OPA to support the use case
2. Create a separate repository for the nginx support,

[2021-06-22 05:18] AvniWala-Sophos commented on #3568
Thanks @srenatus - I tried this out. I get response body in the decision logs if I make an http request, but when my interface between envoy and OPA is GRPC the policy fails because result does not evaluate into just a true/false. Any way to overcome that?

[2021-06-22 06:26] srenatus commented on #3568
We'll need more information to help you here. Please include your policy and the config used with opa-envoy-plugin. 😃

[2021-06-22 06:36] geekhckr commented on #2978
@ashutosh-narkar looks like issue is https://github.com/golang/go/issues/37585 and it has been fixed in the golang v1.16 by reverting back to `MADV_DONTNEED` https://go-review.googlesource.com/c/go/+/267100/

Also I have verified this with simple program that populates and removes items from map, at least with golang v1.16, in htop RSS is coming down. For golang v1.15, if I use `GODEBUG=madvdontne

[2021-06-22 06:38] olivierlemasle commented on #3545
It might come with limitations: https://github.com/golang/go/issues/39720 (I've not tested myself)

[2021-06-22 07:28] srenatus commented on #3545
@olivierlemasle thanks for pointing that out! I had only looked into the github action, which [seems to support lfs](https://github.com/actions/checkout), so we'd be OK in CI usage. But if using LFS means you cannot "just include github.com/open-policy-agent/opa" in your go code, then it's a non-starter indeed.

[2021-06-22 08:52] anderseknert opened #3577 ""var requires evaluation" missing location"
From a user problem reported on Slack. If you run into "var requires evaluation" there's no location information provided with the error, making it very hard to track down what's wrong in a big policy.

## Expected Behavior

"var requires evaluation" error should come with location information.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

[code]

Note: due to [this issue](https:

[2021-06-22 08:58] srenatus commented on #3577
The error happens [in `ast.ValueToInterface`](https://github.com/open-policy-agent/opa/blob/7d9ed27226d70fd03aac3fb0ef01a78ec5fd209f/ast/term.go#L236) (presumably called through the rego package)... I first thought it was a case of "var xyz requires evaluation" where xyz happens to be empty-string, but it's a case of "xyz requires evaluation" where xyz happens to be a variable.

But yeah, it's har

[2021-06-22 16:07] tsandall opened #3579 "Comprehension indexing picks wrong candidates"
The comprehension indexing feature is picking the wrong candidates for index keys (or is not restrictive enough) when there are nested comprehensions that close over variables in the outer-most body. For example:

[code]

In this case, the correct result for `p` is:

[code]

However, because the compiler decides to index with only `y` as the index key, the actual result is:

[code]

This appears t

[2021-06-22 16:09] ashutosh-narkar commented on #2978
Good to know @geekhckr. Let us know how it works out.

[2021-06-22 17:51] anderseknert commented on #3577
I think we all agree this particular example isn't something that should be valid.. but, if this mistake is made in a 500+ LOC policy plus imports, we would need to at least report back on the location of the error, right?

[2021-06-22 18:06] tsandall commented on #3577
Sure! Just want to make sure we're fixing the serious issue in the safety check. The policy in question _should not compile_.

[2021-06-22 18:08] anderseknert commented on #3577
Gotcha 👍

[2021-06-22 19:29] tsandall opened #3580 "Safety check on rule heads should raise error for vars declared with some"
There's a bug in the safety check that arises because of interaction between the safety check, locally declared variables, and comprehensions.

For example:

[code]

This rule compiles however queries return an error (`var requires evaluation`). The problem is that `x` is never assigned in the body of the rule, so it appears in the output. However, the rule should not compile because `x` is never

[2021-06-22 20:53] xarses commented on #3577
The policy does compile with the `some attr` but doesn't compile with out it

[code]

[2021-06-22 23:41] ashutosh-narkar commented on #3539
@simongottschlag my recommendation is we take your service that embeds OPA for the nginx use-case and make it part of the [contrib](https://github.com/open-policy-agent/contrib) repo in the OPA organization.  If we can have extensive documentation for how this new service is expected to work (for ex. see the opa-envoy-plugin), it would immensely help the community and also help drive collaboration

[2021-06-23 07:17] anderseknert commented on #3580
Not that this rule makes sense, but I get the same `var requires evaluation` error even without the comprehension:
[code]
With the other rule `p` rule present from your example it doesn't seem to trigger though as the `rego_unsafe_var_error` is thrown instead.
[code]

[2021-06-23 13:18] nagarajtrivedi opened #3582 "regarding how to create a new policy rule and execute it"
## Expected Behaviour
-NA-
## Actual Behaviour
-NA-
## Steps to Reproduce the Problem
-NA-

## Additional Info
Hi, please let me know how to create a new policy rule, execute, do a benchmark testing. Also in what order the make commands should be executed. If there are any links or documents on these then please provide them.

[2021-06-23 13:23] nagarajtrivedi commented on #3582
Hi all, I want to know how to create a new policy rule, execute it and do the benchmark testing.
I have downloaded the code and want to know in what order I need to execute make commands like make build, make all, make generate etc
If there are any links or documents providing these information then please share them.

Thank You

[2021-06-23 13:28] anderseknert commented on #3582
Hi @nagarajtrivedi 👋

The [OPA docs](https://www.openpolicyagent.org/docs/latest/) are great for getting started. Did you check them out yet?

[2021-06-23 15:19] tsandall commented on #3554
We currently have a `?plugins` query parameter that should (in theory) report if the plugin is in an error state. I don't think any of the plugins make use of that currently, but if the bundle plugin was extended to report state, this would just work.

[2021-06-23 15:36] #1954 closed

[2021-06-23 17:42] tsandall commented on #1954
@ashish246 this should be available now with #3575 merged. If you can give it a try before we cut the release, that would be excellent!

[2021-06-23 21:19] tsandall commented on #3480
Closing the loop on this.

I chatted offline with @anderseknert and we came to the conclusion that simply skipping the .manifest file write would be best.

This way `opa build` will behave as follows:

[code]

In future we can extend `opa build` to support other flags like `--revision` so that users can set roots, metadata, and other future fields. Similarly we could support an explicit `--manifes

[2021-06-24 13:21] AvniWala-Sophos commented on #3568
Hi @srenatus  - Apologies for the delay. It did indeed work (there was a typo in my rego). Here is a working sample in case someone needs it in the future: https://github.com/AvniWala-Sophos/opa-envoy-grpc-test

Thanks much for your help!

[2021-06-24 13:21] #3568 closed

[2021-06-24 14:29] #3480 closed

[2021-06-25 08:52] jkbschmid opened #3587 "Resolving contradictory assignments during partial evaluation"
Hi there!

I am doing partial evaluation with the policy below that is always undefined. The example is obviously simplified, but we do have the use case where the input decides which policy to evaluate, which leads to similar constructs.

`opa eval -p data.allow -d test.rego -u input.action`
[code]

## Expected Behavior
undefined

## Actual Behavior
[code]

## Solution

Would it theoretically be

[2021-06-25 11:56] srenatus commented on #3587
Hey there, thanks for the report.

I've run into this before myself -- but in the context of the time it takes to PE a policy: https://github.com/open-policy-agent/opa/issues/1447

So, just for clarification: you're not interested in performance (like, avoiding cross products in support rules) here, right?

Assuming that, I'll have a closer look at what happens with your example code. 🔍

[2021-06-25 12:06] jkbschmid commented on #3587
Hi @srenatus, thanks for looking into it! :)

No, at this point, I'm not interested in performance, only about more rigorous evaluation.
I'd be interested to know, if the behaviour mentioned above is a bug or by design and whether it would make sense to evaluate further.

[2021-06-25 12:21] srenatus commented on #3587
I don't think it's a bug, but I'll have a closer look into how we could avoid it.

For non-partial evaluation, such a rule (`allow { "A" = input.action; "B" = input.action }`) would be ignored: the rule indexer would never return for evaluation. Compare:

[code]

Given an unknown `input` (or `input.action`), i.e. PE, it looks like the indexer returns everything. 🤔

[2021-06-25 20:30] skillcoder commented on #2129
Yep I saw it  `Prepared queries are safe to share across multiple Go routines.`
But my test today catch this:
[code]
`github.com/open-policy-agent/opa v0.29.4`

I run it according doc:
Prepared once:
[code]
And call in goroutines:
[code]

[2021-06-25 22:53] ashutosh-narkar commented on #2129
Can you share your code that integrates with OPA ? [Here's](https://github.com/open-policy-agent/opa-envoy-plugin/blob/main/envoyauth/evaluation.go#L31) an example of this is used.

[2021-06-28 10:38] olivierlemasle opened #3589 "Go 1.17 - Test failure in gojsonschema time format validation"
## Expected Behavior

Test success (works for Go <= 1.16)

## Actual Behavior

Test failure with Go 1.17 rc:

[code]
## Additional Info

A test in [`internal/gojsonschema/testdata/draft7/optional/format/time.json`](https://github.com/open-policy-agent/opa/blob/47feea7cbb25d45b3ecb431fb14289dde4432602/internal/gojsonschema/testdata/draft7/optional/format/time.json) verifies that `01:01:01,1111` **f

[2021-06-28 10:43] olivierlemasle commented on #3547
Test failure logs with Go 1.17:

[code]

[2021-06-28 11:21] anderseknert commented on #3547
I guess the test could just accept either of the two messages, or what do you think? Even if Go 1.17 is yet to be released I suppose the message is unlikely to change again.

[2021-06-28 13:01] srenatus commented on #3589
Thanks for raising this. Let's fix it. I'm not certain, but I don't think that this has a huge relevance for our use of json schema 🤔 Also, it would mean that some previously forbidden inputs become valid, as far as I understand.

What would be the best approach in your opinion? I'm not sure this is even worth introducing a build tag for go 1.17 into our tests... 💭

[2021-06-28 14:24] anderseknert opened #3590 "sdk: Allow client to set labels for decision logging"
When porting the [opa-docker-authz](https://github.com/open-policy-agent/opa-docker-authz) plugin to use the SDK, one thing I find missing from setting up the client the old way is that I can no longer add arbitrary labels to be used in decision logs. While these can (and will) be sourced from a provided config file, there's still a point in allowing the client to add theirs independently of that,

[2021-06-28 17:51] olivierlemasle commented on #3589
- I've just updated my comment above (I had mixed `TimeFormatChecker` and `DateTimeFormatChecker`);
- As the objective of the failing test is to verify that the JSON schema requires RFC 3339 and not all valid ISO 8601 times, I would switch to test `14:30`, which is a valid (according to [Wikipedia](https://en.wikipedia.org/wiki/ISO_8601), as I don't have access to the ISO spec), but not a RFC 3339

[2021-06-28 18:27] caleygoff-invitae commented on #3164
Hi I just wanted to chime in here. I commented before but deleted it when I went a different route. However because I was curious I came back and revisited this.

I have a solution to what is being described here. Consider the followign input.json

[code]

Now consider the following rego
[code]

This will respond with the following it the pod is detected to have an opt-out label.
```result":{"apiV

[2021-06-28 19:59] #3589 closed

[2021-06-28 20:26] aavarghese opened #3592 "Add "allOf", "anyOf" support to JSON schema parsing for the type checker"
Today, OPA's type checking with JSON schemas does not support some of the commonly used features like :

- [ ] [allOf](https://json-schema.org/understanding-json-schema/reference/combining.html#allof)
- [x] [anyOf](https://json-schema.org/understanding-json-schema/reference/combining.html#anyof)

Opening this issue to help track/discuss this enhancement work currently in-progress to use this addit

[2021-06-29 03:21] nagarajtrivedi opened #3594 "Getting error messages displayed when tried executing test script to validate rules"
## Expected Behavior
It should execute the policy rule verification test scripts successfully (example_test.rego)
## Actual Behavior
Displaying error message as
./opa test . -v
4 errors occurred:
example_test.rego:3: rego_unsafe_var_error: var allow is unsafe
example_test.rego:7: rego_unsafe_var_error: var allow is unsafe
example_test.rego:11: rego_unsafe_var_error: var allow is unsafe
example_tes

[2021-06-29 08:51] anderseknert commented on #3594
This works as expected here. Did you by any chance rename the `package` in one of the files?

[2021-06-29 08:55] jkbschmid commented on #3587
Interesting, I hadn't thought about the indexer yet. 🤔
I'm not sure if my original problem can be solved via the indexer, though, because I simplified the original code quite a bit.

This is the what one of our policies looks like:
[code]
So the policies in allow are not necessarily contradictory, but they can be. Since the indexer is built independent of the input (right?), it won't be able to de

[2021-06-29 08:58] srenatus commented on #3587
The index is built independent of the input, and the input is used to retrieve applying rule bodies at eval-time.

I was thinking about a side-track here, though -- the indexer would help if it was processing your (simplified) PE output. However, that's not the case, there's no second eval involved here.

----

Just how simplified is your example? I was thinking about ways to make the rule body
[c

[2021-06-29 19:58] yukinying commented on #3547
It doesn't look like these error messages would change often, and this would break the build process only so it would make sense to patch the error message signature matching logic to make it work for Go 1.17.

[2021-06-30 02:21] artis3n opened #3596 "Consider publishing images to GitHub Container Registry"
Any thought on publishing container images to GitHub Container Registry as well as / instead of Docker Hub? Would be happy to create the PR, would look something like this: https://github.com/artis3n/ansible_galaxy_collection/blob/main/.github/workflows/release.yml#L18

[2021-06-30 05:59] geekhckr commented on #2978
We have tested the workaround in our perf setup, and it is working. I mean RSS is coming down, previously, it used to continuously increase.

[2021-06-30 06:25] srenatus commented on #3596
Hey there. Thanks for raising this.

May I ask what your main impetus is here? Why prefer GitHub registry over dockerhub? 🤔

[2021-06-30 06:26] srenatus commented on #3596
Ah nevermind you've mentioned that in the conftest issue. ✔️

[2021-06-30 07:04] dxps opened #3597 "OPA Policy Authoring > "var allow is unsafe" errors"
Dear all,

While studying and playing with _CarInfoStore_ sample, part of the nice [OPA Policy Authoring](https://academy.styra.com/courses/opa-rego) course, I noticed an issue whose cause is unclear atm:

- Using VSCode, it all works fine: policy and its test are parsed without complains, and _OPA: Evaluate Package_ command runs fine.

- But when trying to have it loaded as bundle into a local OP

[2021-06-30 07:30] srenatus commented on #3597
Hey. I'm having a look -- first of all, this is a great way to open an issue, with reproduction steps etc. 💯 Thanks for putting in the effort.

[2021-06-30 07:32] dxps commented on #3597
Hi Stephan, as always, your feedback is a very friendly and welcoming one! :hugs:   Sure, glad to help.

[2021-06-30 07:33] srenatus commented on #3597
Uhm it looks like your bundle only contains the test rego file. So, it makes sense that it cannot find `allow`, as it's not defined as far as this bundle is concerned:
[code]

How did you create that bundle?

[2021-06-30 07:36] srenatus commented on #3597
I've created a new bundle with both files included:

[code]

[2021-06-30 07:51] dxps commented on #3597
Oh no! Such a silly mistake! :facepalm:  I was in a hurry of documenting and testing. Sorry for bothering with it.

Recreated the bundle correctly (with just the policy, using a simple `https://signicat.atlassian.net/wiki/spaces/TECH/pages/21782724651/Cross-Service+AuthN`), and it's all good! Updated also the aforementioned materials.

<br/>

:information_source:  Still related to OPA and contribu

[2021-06-30 07:52] #3597 closed

[2021-06-30 07:54] #3226 closed

[2021-06-30 07:57] srenatus commented on #3597
No worries! 😃

Happy to chat in whatever channel you'd like.

I wasn't able to access that confluence page. LMK if there's something you'd like me to see. 👀

[2021-06-30 08:02] dxps commented on #3597
Definitely, it seems that I need to wake up this morning. That was another wrong copy/paste. Thanks again! :pray:

[2021-06-30 08:07] anderseknert commented on #3596
As a Docker-"approved" open source project, none of our (including projects like conftest, gatekeeper, etc) images are subject to rate limiting. Might still be nice with an alternative registry, but there's that.

[2021-06-30 09:05] anderseknert commented on #3547
Sounds good to me! Would you want to submit a fix @yukinying? 😃

[2021-06-30 12:07] srenatus commented on #3557
I've boiled it down a bit,
[code]

looking into where this could be caused 🔍

[2021-06-30 12:25] jkbschmid commented on #3587
Ah ok, I get it. Thanks for the explanation.

---

There's some more simplification there, e.g. we use a partial function and one orderer statement to preprocess input. I'm not allowed yet to publicly share the code, unfortunately.
At what point would this type check be done? Before or after evaluation?

If it's done before, I don't think it would help in my special case.

[2021-06-30 12:26] lukyer opened #3599 "Slow http.send cache deserialization"
## Expected Behavior
`http.send` `application/json` body cache lookup is as fast as stored as `text/plain`

## Actual Behavior
`application/json` deserialization makes cache lookup much slower

## Steps to Reproduce the Problem
OPA version 0.29.4, macos, run as standalone server

[code]

[code]

## Additional Info

Hi all,
I am using `http.send` with caching. Caching works fine but the problem is

[2021-06-30 12:40] artis3n commented on #3596
Yeah, but to copy the same in this ticket:

Although the rate limit isn't a problem for this project it turns out. I have no real justification then :shrug:

[2021-06-30 14:03] anderseknert commented on #3599
Hi @lukyer!

Serializing cached items was a feature added quite recently. The reason for this is that storing the raw structs in memory has an overhead of something like ~20x compared to the size of the JSON serialized data. Each ~300KB item in your example would hence come with a memory overhead of about ~6MB. As you probably can imagine, this quickly adds up with an increasing number of distinct

[2021-06-30 14:26] rmetcalf9 commented on #1971
I really wish traces would be printed on the server console.
My use case is I want to confirm a third party library is sending the correct inputs.

[2021-06-30 14:29] tsandall commented on #3599
@lukyer can you provide a bit more detail on your use case? E.g., how many distinct `http.send` calls do your policies make? Are you fetching external data per-user or per-resource? Or is there just some global data that is needed by the policy that happens to be fetched via http.send?

[2021-06-30 14:43] lukyer commented on #3599
@tsandall the main idea is to load RBAC user-role-permission data in dynamic way (not just few static mappings). So basically the idea is to have memoized `http.send` call for endpoint providing this JSON for some time, e.g. 60s. I know there is a way how to do it in opposite direction (push policy data through API to all opa-agents) but it seems like overkill for us (discovery, figure out what da

[2021-06-30 14:54] tsandall commented on #3599
@lukyer okay, that's helpful.

re: "the main idea is to load RBAC user-role-permission data in dynamic way (not just few static mappings)":

Is this data global or per user? It sounds like these are the role definitions but I just want to check. For example, if you have two roles (reader and admin) and your app has permissions "write.widgets", "read.widgets", "manage.users" then the data would loo

[2021-06-30 15:02] lukyer commented on #3599
@tsandall
It is not exactly per user, and also not one call too (it would get too big to store in memory). It is per something like group of users, so we can keep it in reasonable limits. Would be nice to decide by myself whether I prefer better latency or memory consumption. I understand it is not something people want to reason about but for some it would be really helpful to have an `http.call`

[2021-06-30 16:13] rszabolcs opened #3600 "opa-envoy-plugin: parse application/x-www-form-urlencoded request bodies"
## Expected Behavior
As I currently understand it is not possible to make OPA decision based on body contents that has content type `application/x-www-form-urlencoded`.

## Actual Behavior
Decision log says "content-type: application/x-www-form-urlencoded parsing not supported".
Also the `parsed_body` is empty:
`[
      {
        "type": "string",
        "value": "parsed_body"
      },
      {

[2021-06-30 17:20] ashutosh-narkar commented on #2978
@geekhckr that's great ! Did you use `GODEBUG=madvdontneed=1` as your workaround or something else ?

[2021-06-30 21:41] ashutosh-narkar commented on #3600
@rszabolcs are you saying the raw body is not passed to OPA when content-type is `application/x-www-form-urlencoded` ?

[2021-06-30 22:53] jalseth opened #3601 "Feature Request: crypto.x509.parse_and_verify_certificates builtin"
Currently, OPA has `crypto.x509.parse_certificates` which parses x509 certs, but it does not verify the certificate chain back to a trusted root so the parsed info cannot be relied on for policy decisions in some situations.

It would be good to have a `crypto.x509.parse_and_verify_certificates` builtin which verifies the certificate chain before returning the parsed data.

Edit: Here are some add

[2021-07-01 04:08] geekhckr commented on #2978
Yes I am using `GODEBUG=madvdontneed=1` as workaround. If opa-envoy-plugin is build with go v1.16, then we don't require to use this. Currently it is being built with v1.15, that's why we have to use this workaround.

[2021-07-01 05:41] anderseknert commented on #1971
@rmetcalf9 you could use decision logging for that, no?

[2021-07-01 05:44] anderseknert commented on #1971
For printing arbitrary values to console, there’s an issue for adding a “print” function here https://github.com/open-policy-agent/opa/issues/3319

[2021-07-01 07:17] rszabolcs commented on #3600
@ashutosh-narkar If understand correctly then [this](https://github.com/open-policy-agent/opa-envoy-plugin/blob/8db9ac9b51e5cd631a17be61ec32a2f4f04b1f9d/envoyauth/request.go#L26) function should do that. If that't the case, then yes, the raw body is missing. Would be great if I was wrong.

[2021-07-01 08:21] srenatus commented on #3600
Let's verify a few things:

- Are you using the V3 ext authz protocol?
- Have you set [`with_request_body `](https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto#envoy-v3-api-field-extensions-filters-http-ext-authz-v3-extauthz-with-request-body)?

I'll run a few tests myself here, but I believe `raw_body` will only be populated if you specify `pac

[2021-07-01 08:51] srenatus commented on #3600
So, running `curl -d "param1=value1&param2=value2" -X POST http://127.0.0.1:51051` to send a x-www-form-urlencoded form through envoy + opa-envoy-plugin, with a config having `pack_as_bytes: true` gives me the following decision log entry (its policy is `default allow = false`, I merely wanted to see the input from the decision log):

[code]

Note the `rawBody: cGFyYW0xPXZhbHVlMSZwYXJhbTI9dmFsdWUy

[2021-07-01 13:05] rszabolcs commented on #3600
Dear @srenatus , you are my hero! Indeed, with the suggested settings of `with_request_body` I could achieve the fallback solution so I can move forward for the time being.

Nevertheless, adding the parsing capability still would be really nice to have.

[2021-07-01 15:16] grigoriilazari001 opened #3605 "Dynamic opa configuration without restart"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Additional Info

Hi, I was wondering if there is a way to dynamically configure opa while running without a restart. Perhaps to enhance the /config endpoint or something similar. The specific use case that I am dealing with is to set the logging level to debug. As you are aware the debug level logs the entire request (

[2021-07-01 16:04] yukinying commented on #3547
@anderseknert I am not available for doing that shortly and that's why I was submitting the issue rather than a pull request directly :)

[2021-07-01 16:46] ashutosh-narkar commented on #3605
Typically OPA's [Discovery](https://www.openpolicyagent.org/docs/latest/management-discovery/) feature would be used to provide dynamic configuration to OPA. Are you trying to change OPA's log level dynamically ? What the use-case for this ?

Also have you looked into OPA's [decision logs](https://www.openpolicyagent.org/docs/latest/management-decision-logs/) feature ?

[2021-07-01 16:50] ashutosh-narkar commented on #2978
@geekhckr we've update the OPA-Envoy plugin to build with Go 1.16.5. See [here](https://github.com/open-policy-agent/opa-envoy-plugin/pull/266) for details. We'll release a new version of the plugin soon.

[2021-07-01 17:12] ashutosh-narkar commented on #2978
OPA-Envoy plugin [v0.29.4-envoy-3](https://github.com/open-policy-agent/opa-envoy-plugin/releases/tag/v0.29.4-envoy-3) is built with Go 1.16.5.

[2021-07-01 18:14] anderseknert commented on #3605
I think there's a case to be made for allowing the log level to be set through configuration and not just from command line arguments. Besides the "change log level at runtime" case @grigoriilazari001 points at, I recently found myself wondering how to allow end-users in an SDK integration to set the log level of OPA (provided of course that the SDK client allows enabling logging in the first plac

[2021-07-02 06:59] nagarajtrivedi commented on #3594
Hi anderseknert, it works. Yes exactly same thing happened. In one of the file it was written as 'auth' instead of 'authz' and it worked.

Thanks
Nagaraj

[2021-07-02 06:59] #3594 closed

[2021-07-02 07:04] AndreyLevchenko opened #3606 "issue with indexof in 0.30.0"
I'm getting weird result when calling `indexof` with opa 0.30.0 on ubuntu
[code]

## Expected Behavior
[code]

## Actual Behavior
result is
[code]
## Steps to Reproduce the Problem
run code above

[2021-07-02 07:18] nagarajtrivedi opened #3607 "want to know the procedure to find total time took to execute benchmark testing"
## Expected Behavior
It should display total time took to execute certain number of test cases for verifying rules as part of benchmark testing
## Actual Behavior
It is displaying the time took for executing each individual test case for verifying rules
## Steps to Reproduce the Problem
./opa test --bench -v example.rego example_test.rego

## Additional Info
It is run on ubuntu OS

[2021-07-02 07:38] anderseknert commented on #3606
Thanks for reporting this @AndreyLevchenko! 0.30.0 added support for unicode code points, but looks like we mistakenly only scan for the first character now.

https://github.com/open-policy-agent/opa/blob/main/topdown/strings.go#L105

Fixing.

[2021-07-02 07:41] srenatus commented on #3606
ℹ️ We'll push a 0.30.1 release when this is done.

[2021-07-02 07:49] srenatus commented on #3607
What do you mean by _total time_? The `opa test --bench` command will execute a non-fixed number of runs to get a good estimate of the test performance. See [the benchmark docs](https://www.openpolicyagent.org/docs/edge/policy-performance/#example-benchmark-rbac-unit-tests), where an example output is
[code]

The first number is how often the test was run, `data.rbac.test_user_has_role_dev` was ru

[2021-07-02 09:37] srenatus commented on #3606
Fixed on main. Release in progress. I'll close this -- Thanks @anderseknert for the quick fix 👏

[2021-07-02 09:37] #3606 closed

[2021-07-02 10:52] nagarajtrivedi commented on #3607
Hi, thanks for your reply. I have already tried this and works fine for one single query.
But I want more than 1 query to be executed let us say 10, 20, 100, 200, 1000
For that purpose I have created 10 rules in a file example.rego and 10 queries in a file example_test.rego. I want to find out how much total time it takes to execute 10 queries against 10 rules.
Attached are the both rule file exam

[2021-07-02 10:56] keydon opened #3612 "Is http.send a server-runtime only feature? How to devlop/test policies with http.send?"
## Expected Behavior
http.send should work in the REPL
http.send should work in the opa-cli eval cmd
http.send should be mockable in tests

## Actual Behavior
Seems to only work in server-mode `opa --server`

## Steps to Reproduce the Problem
i.e.
[code]

i.e.
[code]

Windows 10
OPA 0.30.0 (commit 84d0b65, built at 2021-07-01T08:10:22Z)

[2021-07-02 11:06] anderseknert commented on #3612
That's weird - both seem to work on the same OPA version on my Mac.
Could you try adding `"raise_error": false` to the arguments and see if that provides any clues what goes wrong?

[code]

[2021-07-02 11:37] srenatus commented on #3607
I suppose you could use `opa bench` on one rule with a body that contains 10 queries, or something like that...

Our benchmark framework here is focused on microbenchmarking the evaluation times of rules and queries, it's probably not a good fit for what you're looking after.

On a general note, I'd wonder if some end-to-end benchmarking with OPA in a prototypical deployment wouldn't be more usefu

[2021-07-02 11:43] srenatus commented on #3612
Also please add `--strict-builtin-errors` to `opa eval` to see whatever error the builtin has hit.

The `{}` you see in the `opa eval` call is the same as the undefined in the REPL, but in a different format. If you do `opa eval --format=pretty`, it'll give you `undefined`.

[2021-07-02 12:02] keydon commented on #3612
[code]

[2021-07-02 12:04] keydon commented on #3612
and
[code]

[2021-07-02 12:06] anderseknert commented on #3612
Oh, so it _was_ Windows specific! We'll need to work around that.. possibly in other places as well.

[2021-07-02 12:08] srenatus commented on #3612
Thanks, that's immensely helpful. Please try passing `"tls_use_system_certs": false` to the builtin. The default behaviour has changed in 0.29.0 (https://github.com/open-policy-agent/opa/pull/3481)...

[2021-07-02 12:11] keydon commented on #3612
holy crap, it works with `"tls_use_system_certs": false` :D THANK YOU :)
But without the argument it also does not work for "http"-only sites, interesting :D

[2021-07-02 12:12] srenatus commented on #3612
Sure thing.

We'd better fix this somehow. I suppose we could have the builtin _ignore_ `tls_use_system_certs` on Windows, so there would be no system certs whatsoever, regardless of how it's configured 🤔

[2021-07-02 12:57] tsandall commented on #3599
@ashutosh-narkar this would be a good one for you to pickup.

[2021-07-02 12:58] tsandall commented on #3599
@lukyer that's fine. Thanks for explaining.

@ashutosh-narkar if you don't have time to work on this, you could spec out how the solution would be implemented and perhaps someone else could pick it up.

[2021-07-02 12:58] tsandall commented on #3596
I'm going to close this for now since there's no need to switch at this time.

[2021-07-02 12:58] #3596 closed

[2021-07-02 13:12] #3612 closed

[2021-07-02 14:04] nagarajtrivedi commented on #3607
Thanks for the info. I will try.

Thanks
Nagaraj

[2021-07-02 14:04] #3607 closed

[2021-07-02 15:03] nagarajtrivedi opened #3614 "benchmark test with 1000 rules and queries is not getting completed even after 1 hour"
## Expected Behavior
The benchmark test should complete quickly within a minute
## Actual Behavior
The benchmark test with 1000 rules and queries took close to 1.5 hours
## Steps to Reproduce the Problem
This command is run
./opa test -v --bench --benchmem --format gobench example.rego example_test.rego | tee ./benchmark1000_rules.txt

## Additional Info
I have executed the command as per the info

[2021-07-02 17:41] srenatus commented on #3614
As said on the other issue, `opa bench` is for microbenchmarking a rule or query. So, it's not going to be a good choice for Benchmarking aggregations like that. It's better to gather realistic performance numbers by other means.

[2021-07-02 17:50] srenatus commented on #3614
To add to this, usually, opa bench will run your rules way more often than 1000 times, and it gives you the number of samples run and percentiles for that data. I think that is all you need to understand your query's or rule's performance characteristics. What is missing there? 🤔

[2021-07-02 18:37] grigoriilazari001 commented on #3605
Hi @ashutosh-narkar  thank you for looking at this. So basically we run opa as a side container for each app and if there is a case where the policy is denying a request we need to figure-out the reason using the specific input and also check the response. In order to do that we need to enable the debug level (by default it is info as it is recommended for production). And since this is possible o

[2021-07-02 19:04] base698 opened #3615 "Add rand.Intn(n) to built-in functions"
I have a use case where I'm directing traffic based on a set of rules.  Some of the rules involve only routing the request a fraction of the time.  I'm essentially just passing a random generated number into OPA and if it's X I return true.  The calling code can then stop the request from proceeding.

Generating the random number in OPA would be cleaner.

[2021-07-05 11:55] srenatus commented on #3542
There's a bunch of cyclic dependencies between prometheus/client_golang and prometheus/common, and the latter eventually drags in a dependency on gogo/protobuf v1.1.1.

However, see https://github.com/prometheus/client_golang/issues/836 -- the issue is two-fold:

1. The dependency in `go.sum` has no consequence for the security stance of this project (or of prometheus/client_golang, for that matte

[2021-07-05 11:59] srenatus commented on #3542
Looking at the change in `github.com/gogo/protobuf`, we find that:

1. You cannot tell which version of protoc-gen-gogo a file was built with.
2. You **can tell** if the protoc-gen-gogo code generated was used at all, from the first line of the generated file.

Checking our `vendor` directory based on that, however, yields nothing:
[code]

See also [this github search](https://github.com/open-poli

[2021-07-05 12:00] srenatus commented on #3542
I'd opt for closing this. I'd try to fix the problem in your scanner, since flagging this project is a false positive. What do you think?

[2021-07-05 20:00] #3601 closed

[2021-07-06 13:01] dolevf opened #3618 "Allow destination log path override"
Hi,

Open Policy Agent, when configured to send logs remotely, is sending logs to `/logs` by default. When adding partitions, partitions are appended to `/logs/<partition>` as documented and expected.

This became a bit of a problem for me when I wanted to send logs to a SaaS SIEM. SIEMs would typically provide a static path, and they don't expect any paths after the designated endpoint.

For exam

[2021-07-06 16:47] tsandall commented on #3371
I took a stab at this [last week](https://github.com/tsandall/opa/tree/external-imports-v2) and the results are quite promising. Here's an example w/ `opa build`:

[![asciicast](https://asciinema.org/a/JcNYB3L0Y0qDeRpzTzngaTfn2.svg)](https://asciinema.org/a/JcNYB3L0Y0qDeRpzTzngaTfn2)

A few comments:

* The implementation uses the github.com/open-policy-agent/opa/refactor package to namespace depe

[2021-07-06 18:32] tsandall commented on #3618
@dolevf thanks for filing this.

I suggest we add a new configuration field (`decision_logs.resource`) that lets users set the entire path like we do for bundles. This way OPA will `POST` to `<service_url>/<decision_logs.resource>`. The default value for `decision_logs.resource` can be `/logs` for backwards compatibility. If we put this in place, we can deprecate the `partition` option.

The chang

[2021-07-06 21:31] base698 commented on #3615
@srenatus https://github.com/open-policy-agent/opa/pull/3620

No tests yet, just posting for discussion.

[2021-07-07 01:00] ashutosh-narkar commented on #3599
We can add a new request parameter to `http.send` which controls whether data should be serialized before inserting in the inter-query cache. By default, we would serialize the data which is the current behavior. If the user wants does not want the cache data to be serialized (for ex. `serializeCacheData: false`), we could simply take the result returned by [this](https://github.com/open-policy-ag

[2021-07-07 01:06] ashutosh-narkar commented on #3605
How are you keeping track of whether the policy is denying the request ? Also if you were able to enable debug logging who would be the consumer of the logs ?

FWIW OPA's [decision logs](https://www.openpolicyagent.org/docs/latest/management-decision-logs/) should contain the information you're looking for. You can log those decisions to console or upload them to a remote server.

[2021-07-07 18:08] grigoriilazari001 commented on #3605
Hi @ashutosh-narkar the policy response has the info that we determine if the request should be denied or allow. As I mentioned this is for quick debugging purposes (mostly troubleshooting). devs and support will be the main consumer of those logs but it shouldn't matter. And when it comes to the decision logs they can display that info on the console but I don't want to have that for each request

[2021-07-07 21:03] tsandall opened #3622 "wasm: nil pointer dereference in builtin dispatcher when randomization seed accessed"
The built-in dispatcher doesn't set the seed on the built-in context [here](https://github.com/open-policy-agent/opa/blob/main/internal/wasm/sdk/internal/wasm/bindings.go#L84). As a result, any built-in functions that try to use the seed will panic (e.g., `uuid.rfc4122`). To reproduce:

[code]

We should update the built-in dispatcher to provide the seed and audit to make sure other required param

[2021-07-07 23:59] tsandall commented on #3599
Moving this issue to planned. We should be able to get this into the next release (v0.31.0).

[2021-07-08 00:11] tsandall commented on #3590
After some offline discussion we've decided to close this. Since labels are intended to identify the OPA instance, setting them per-decision seems unnecessary. For the time being, users can inject labels into the config bytes supplied to the SDK. We could look at adding a specific API for programmatically setting labels but then we'd have to accommodate different overriding behaviours. For the tim

[2021-07-08 00:11] #3590 closed

[2021-07-08 00:20] tsandall commented on #3577
In order to improve the situation, we'd have to deprecate `ValueToInterface` and switch to a new API that accepts `*ast.Term` instead of `ast.Value`. The term will carry a location that could be used in the error message. This is a fairly simple change to make however it'll require touching a bunch of places in the codebase and it will only help return more useful errors when there's a separate un

[2021-07-08 00:21] tsandall commented on #2978
Can we close this now?

[2021-07-08 00:27] tsandall commented on #3185
@srenatus is there anything else to do on this? Should we close it out and open issues for specific optimizations as they become necessary?

[2021-07-08 00:29] tsandall commented on #3235
Moving this back to TODO because it's lower priority than other issues/features. One thing we know we need is better linking support for wasm modules (e.g., dynamically inside Envoy or statically within OPA or opa-envoy...)

[2021-07-08 00:31] tsandall commented on #3406
Moving this back to TODO. This will be easier to complete when we have other annotation types (e.g., rule metadata, entrypoints, etc.)

[2021-07-08 04:20] resullar-vince commented on #3542
Let me get back to you after doing some tests on our end.

[2021-07-08 06:04] #3185 closed

[2021-07-08 07:53] #3580 closed

[2021-07-08 15:41] gshively11 commented on #2978
I say yes, with the caveat that I haven't fully tested the original fix @ashutosh-narkar implemented for the http cache in production.  We actually removed our http calls in rego in favor of another solution, so I don't have a way to test the fix at scale.

So, closing for now seems reasonable, and we can always re-open if we uncover another issue.

[2021-07-08 15:41] #2978 closed

[2021-07-08 17:38] tsandall opened #3625 "panic: query compiler should return error if input query is empty"
Currently, the query compiler assumes the ast.Body provided as input is non-empty. This makes sense in most cases, however, if users accidentally supply a comment, the parsed body ends up being empty and this triggers a panic during compilation:

[code]

We should fix the query compiler to return a CompileErr in case the supplied body is empty.

[2021-07-08 18:12] #3622 closed

[2021-07-08 19:05] simongottschlag commented on #3539
@ashutosh-narkar thank you! I will close this issue for now and create a new one in contrib when time allows. 😊👍

[2021-07-08 19:05] #3539 closed

[2021-07-08 20:05] #3557 closed

[2021-07-08 23:50] ashutosh-narkar commented on #3149
Closing this as we now have a top-level Envoy section in the OPA docs.

[2021-07-08 23:50] #3149 closed

[2021-07-09 08:04] srenatus commented on #3178
💡 multi-memory is _almost_ a thing in wasmtime. We could perhaps use that. (See https://github.com/bytecodealliance/wasmtime-go/issues/89)

[2021-07-09 08:05] mvgijssel commented on #3407
We would also benefit greatly from this! We use OPA partial evaluation to rewrite SQL queries to be secure before sending them to the database. As a single request to the backend is often 10+ SQL queries these network requests tend to add up.

[2021-07-09 08:17] srenatus commented on #3146
This is relevant in #3627. I'll probably add it to that branch.

[2021-07-09 11:29] enori opened #3628 "Add the description about Note event for debugging"
[Debugging](https://www.openpolicyagent.org/docs/latest/policy-reference/#debugging) feature is described in the official docs as follow. But a beginner like me did not know what Note event is, and it took me a while to figure out how to use it.

A brief description that what Note event is and how Note event is output is valuable for OPA beginners.
If you agree with this issue, I will create PullR

[2021-07-09 16:13] jcampbell opened #3629 "Compile API returns empty object instead of null for "null"-type terms"
The compile API returns `{}` instead of `null` for `null`-type terms

## Expected Behavior

Given a policy:
[code]

And a Query:
[code]

I expect a response such as the following:
[code]

## Actual Behavior

The actual response is:
[code]

## Steps to Reproduce the Problem

## Additional Info

Thank you!!

[2021-07-09 17:58] tsandall commented on #3628
🙏 thank you for filing this @enori! Yes, I think for now a short example in that debugging section would be useful. Perhaps an `opa eval` example like: `opa eval --explain=notes --format=pretty 'trace("hello world")'`...?

[2021-07-09 18:29] #3625 closed

[2021-07-09 19:29] anderseknert opened #3631 "Allow WASM compiled plugins and builtins"
The current plugin architecture requires both knowledge of Go, and for each plugin to be compiled together with OPA - essentially requiring a custom fork to be maintained. Needless to say, this poses a pretty high barrier to entry, and there's currently not a whole lot of public plugins to be found.

With the introduction of a WASM runtime shipped with OPA, we should be able to use that for purpos

[2021-07-09 20:45] ashutosh-narkar commented on #3605
@grigoriilazari001 OPA's decision logs contain the info you probably want but I agree it would be helpful to toggle a config parameter (eg. `log-level`) w/o having to restart OPA. There are other options provided to the `opa run` command that users would like to dynamically change as well.

One option to achieve this would be to make some of those parameters in the OPA configuration file available

[2021-07-09 20:58] tsandall opened #3633 "Introduce image variant containing the statically linked OPA binary"
We currently only publish the statically linked OPA binary to GitHub releases. In some cases, it would be nice to distribute the same binary via Docker images (e.g., for users that have to import the artifact into an internal repo.)

Image variant name: `static`

Example:

[code]

[2021-07-10 00:30] tsandall opened #3636 "New "in" operator for iteration and membership"
# Overview

The goal of this proposal is to introduce a new operator (`in`) that makes iteration and membership more explicit. The `in` operator is (mostly) syntactic sugar for reference operations.

Pattern | Existing syntax | Syntactic sugar
-- | -- | --
iterate over each value | x := foo[_] | some _, i in foo
iterate over each key | some i; _ = foo[i] | some i in foo
iterate over each key-value

[2021-07-10 00:31] tsandall commented on #3636
This was already touched on in #2090 but it felt like a dedicated issue would help flesh out details.

[2021-07-10 07:33] anderseknert commented on #3636
Nice!

I think that inconsistency is fine. Python got this right, IMO, with `"abc"` in `if "abc" in x` referring to either a key if `x` is a dict, _or_ a value if `x` is a list. Checking for the presence of a key in an array is pretty useless, and covered by `x[y]` already, so useful arguably trumps consistent here.

(to be pedantic, I think Python would have "x not in y" rather than "not x in y",

[2021-07-12 10:59] srenatus commented on #3559
Looking into this 👀

[2021-07-12 11:22] srenatus commented on #3559
Note that this may also happen not by accident. A boiled-down version of this would be
[code]

where, with `input` and object, `q` would be the set of all key/value pairs that match, i.e. `input = {"x": "x"}` would yield `q = { "x" }`.

The infinite recursion happens in copy propagation, when running PE in shallow mode, it won't occur.

[2021-07-12 14:17] Hongbo-Miao opened #3638 "Clarify what count special characters for key"
Based on https://www.openpolicyagent.org/docs/latest/configuration/#keys-with-special-characters

Currently it uses "etc", it would be great to clarify more what count special characters.
For example I am wondering does `_` and `-` count as they are very common being used.
Or provide a full list of characters that count special, that will be very helpful too.

Thanks! 😀

[2021-07-12 18:13] #3633 closed

[2021-07-12 19:54] artis3n opened #3639 "Support data mocks of arbitrary variables inside a Rego policy"
## Expected Behavior

Similar behavior as <https://www.openpolicyagent.org/docs/latest/policy-testing/#data-mocking> to allow to mock arbitrary variables or function outputs for policy scenarios with branching conditions.

## Actual Behavior

Only `input` and `data.*` variables can be mocked, making it harder to create unit tests with policies that include [http.send](https://www.openpolicyagent.o

[2021-07-12 21:20] tsandall commented on #3638
[The runs happen to be: `= [ , .`](https://github.com/open-policy-agent/opa/blob/main/internal/strvals/parser.go#L139). If you could submit a patch on the docs it would be much appreciated. [Here](https://github.com/open-policy-agent/opa/blob/main/docs/content/configuration.md#keys-with-special-characters) is the source for that page.

[2021-07-12 21:43] artis3n opened #3640 "Support for excluding certain variables/functions from opa test --coverage"
## Expected Behavior

Would love to be able to exempt a specific line(s) or function from coverage such that `opa test --coverage` doesn't flag us as missing that function. Not sure what format that exemption should take, not really a fan of this comment but to highlight what behavior is missing:

[code]

When `opa test --coverage` is run, the output is JSON by default and lists the file name as a

[2021-07-12 22:27] Hongbo-Miao commented on #3638
Sure, happy to help. Thanks for the info!

[2021-07-12 22:43] Hongbo-Miao commented on #3638
Done at #3642

[2021-07-12 22:43] #3638 closed

[2021-07-13 00:55] enori commented on #3628
If you don't mind, let me send you a PullRequest later. I have the following as the PullRequest.

trace function can be used like `printf` function to output variables in processing in rules and functions.
The argument of trace function should be a single string, so if you output variables, you need to use `sprintf` function.

---
Note that the explanation is not output in default setting. To enab

[2021-07-13 00:59] ashutosh-narkar commented on #3639
We have an open issue https://github.com/open-policy-agent/opa/issues/2028 related to adding support to mock functions.

Currently although you cannot directly mock out `http.send`,  you could put it inside a rule and mock that out. For example something like [this](https://play.openpolicyagent.org/p/t2DhxMbkKl).

[2021-07-13 01:02] artis3n commented on #3639
Ah yup, #2028 looks like what I'm asking for hehe. This is a duplicate of that issue.

[2021-07-13 01:04] artis3n commented on #3639
When I tried to mock a function in the way you describe I received the same error, but let me look into that further, that would work as an alternative for the time being

[2021-07-13 01:13] fams opened #3643 "Evaluation order inside policy using type assertion is not working"
I´m trying to create a policy with different behaviours depending input data.

## Expected Behavior
Only rule with is_array() is evaluated

## Actual Behavior
Both Rules are evaluated raising a type mismatch

1 error occurred: policy.rego:34: rego_type_error: split: invalid argument(s)
	have: (array<string, string>, string, ???)
	want: (string, string, array[string])

## Steps to Reproduce the Pro

[2021-07-13 07:15] anderseknert commented on #3643
When you make `roles` a constant like that, the type checker will know the type of `roles` beforehand, and won't like it when you try to provide it as an argument for functions taking other types in their args. This won't happen when using the `input` variable, as the contents of that can't be known until runtime. See [example here](https://play.openpolicyagent.org/p/A0rGnmtdaQ).

[2021-07-13 08:48] srenatus commented on #3643
🤦 How did I not see this. Thanks 👏 @anderseknert

@fams do you think we can close this?

[2021-07-13 09:08] srenatus commented on #3259
ℹ️ "Function" is misleading here. In wasm, rules get compiled into arity-2 functions (those args being input and data) -- any functions defined in rego become wasm functions of arity 2+.

[2021-07-13 15:46] #3534 closed

[2021-07-13 21:39] tsandall commented on #3628
hi @enori, sure, feel free to submit a PR. I did a bit of editing, here's what I came up with:

The `trace` function can be used to output the values of variables inside of rules similar to "printf" in other languages. The `trace` function accepts a single string argument as input. To print the value of variables call `sprintf` and pass the output into `trace`. For example:

[code]

When you call

[2021-07-14 02:15] #3643 closed

[2021-07-14 05:47] #3559 closed

[2021-07-14 08:09] #822 closed

[2021-07-14 12:40] srenatus opened #3650 "wasm-sdk: explore compilation caching"
Wasmtime (the wasm runtime used in OPA) supports caching the output of JIT compiling a wasm module.

We could explore if that brings us any benefits. One thing is that currently, in our VM pool, each one will compile the wasm module itself; this could be avoided.

(Currently, configuring this requires config files 👉 https://github.com/bytecodealliance/wasmtime/issues/3085)

[2021-07-14 16:12] artis3n commented on #3639
Ah ok, so formatting my function like this:

[code]

And then mocking it in the test as

[code]

Successfully shows the test evaluating the `result` variable with the `MOCKED` value in it. That unblocks my current need. Will close this ticket in favor of watching #2028 for mocking function calls with input parameters.

[2021-07-14 16:12] #3639 closed

[2021-07-14 20:51] grigoriilazari001 commented on #3605
@ashutosh-narkar  it depends how much flexibility you want to give the users to set the configuration options dynamically.
While adding these options to the configuration file is a start you should also consider the use cases without a config file. For instance one can start OPA without a config file and later on dynamically setting the configuration options (like log-level) through /configs end p

[2021-07-15 06:52] gabbifish opened #3651 "Add --sample flag to eval running in profiler mode"
## Expected Behavior

`opa eval --profile` has been incredibly useful. Between multiple runs of the same `opa eval --profile` invocation, we've noticed variance of up to a factor of 2 between the same lines, and we would be interested in having sampling available to smooth out this variance.

## Actual Behavior

Include a `--sample` flag for `opa eval --profile`, similar to the `--sample` flag for

[2021-07-15 07:41] #3146 closed

[2021-07-15 11:19] Treiblesschorle commented on #2530
Hi all, I'm facing the same issue due to Kubernetes running a health check every 10 seconds. However, in my case I'm interested in the HTTP access logs only currently, and I'm already using DEBUG log level, i.e. splitting these messages by log levels would not solve it for me. A way to disable the health check HTTP logs or some way to define a filter for the logs would be great.

[2021-07-15 11:24] srenatus commented on #3651
You got me confuse there...you probably mean `--count`, I think?

[code]
(That's from `opa bench --help`.)

[2021-07-15 16:38] gabbifish commented on #3651
@srenatus ah, you're right--`--count` is what I was referring to!

[2021-07-15 17:49] #3599 closed

[2021-07-15 17:57] tsandall commented on #3629
@jcampbell sorry for the delayed response. Term marshalling occurs [here](https://github.com/open-policy-agent/opa/blob/main/ast/term.go#L410). As you can see, all terms are marshalled the same way:

[code]

The `type` field provides a type hint so that the consumers can correctly interpret the `value` field. Since the `Null` definition is [an empty struct](https://github.com/open-policy-agent/opa

[2021-07-15 18:06] tsandall commented on #3640
Generally speaking, most policies can be covered completely by tests. The only time when this isn't feasible is when built-in functions have to be mocked out because of external dependencies (e.g., http.send). If we added function mocking as described in #2028 then we could potentially just mock out http.send and then the policy would have perfect coverage.

Another potential solution that comes t

[2021-07-15 18:17] tsandall commented on #2733
It looks we have a regression in v0.29.4.

W/ v0.28.0 this works fine:

[code]

In another terminal run `curl localhost:8181/v1/data/system/version`. Observe the log below:

[code]

With v0.29.4 no log gets emitted. I'm guessing the SDK changes are to blame.

[2021-07-15 18:18] tsandall commented on #2733
I'm going to open a new issue to track the bug.

[2021-07-15 18:18] #2733 closed

[2021-07-15 18:19] tsandall opened #3654 "Regression with v0.29.4 and console decision logger being tied to general log level"
As recently as v0.28.0 the console decision logger was decoupled from the general log level (by design). With v0.29.4 that's no longer the case. For example, w/ v0.28.0 this works fine:

[code]

In another terminal run `curl localhost:8181/v1/data/system/version`. Observe the log below:

[code]

With v0.29.4 no log gets emitted. I'm guessing the SDK changes are to blame.

[2021-07-15 18:36] artis3n commented on #3640
I like the pragma approach, that would also solve my core need. #2028 would also be a way to get full coverage of policies such that excepting certain lines would not be "necessary."

[2021-07-15 18:38] tsandall commented on #2530
@Treiblesschorle have you looked at the [Decision Logging](https://www.openpolicyagent.org/docs/latest/management-decision-logs/) feature? If you run the OPA server with `--set=decision_logs.console=true` you'll get much better formatted logs describing the policy queries.

Unfortunately it looks like there was a regression in v0.29.4 around the log level controls but what I would suggest is runni

[2021-07-15 18:41] tsandall commented on #3615
This is done with #3620!

[2021-07-15 18:41] #3615 closed

[2021-07-15 18:42] tsandall commented on #3614
Closing this as there has been no activity in two weeks.

[2021-07-15 18:42] #3614 closed

[2021-07-15 19:22] jcampbell commented on #3629
I think the consideration of backwards compatibility makes sense; happy to have this issue closed and overall things left as-is; using the provided type hint allows removal of all ambiguity in the client (e.g. https://github.com/open-policy-agent/rego-python/pull/3).

I definitely don't have a firm grasp of how index Ref terms are generated by the compile API -- I agree that improving the document

[2021-07-16 09:32] srenatus commented on #3651
@gabbifish I've made a sketch for discussion purposes, https://github.com/open-policy-agent/opa/pull/3655 -- I'd appreciate your input!

[2021-07-16 14:47] phyber commented on #3448
Currently checking out OPA and was surprised to find that there weren't any checksums for the binary releases at all. This would be a welcome enhancement.

[2021-07-16 15:19] Treiblesschorle commented on #2530
@tsandall It seems that I missed that the decision logs contain the request input and results. In that case, that works for me. Thanks for the reminder.
I can confirm that nothing is logged when doing:
`opa run --server --log-level=ERROR --set=decision_logs.console=true`
using OPA `0.30.0`.
However, after that is fixed, my issue should be resolved. Thanks :+1:

[2021-07-16 16:02] tsandall commented on #2899
@ashutosh-narkar is planning to pick this up in the coming days. This may land in v0.31.0 but may be pushed out to v0.32.0 to ensure stability.

[2021-07-16 16:03] tsandall commented on #3448
I agree that minimally we should publish checksums for the binaries that are attached to each release. We'll need to look into the best way to surface that in the docs.

[2021-07-16 16:10] #3629 closed

[2021-07-17 13:18] roygbip opened #3658 "verify_rs256 and decode_verify"
`verify_rs256 `return `true` but `decode_verify` return `false`, why?

![image](https://user-images.githubusercontent.com/16715027/126038119-e4a10b26-6bcb-4136-b5b6-d16b44255e91.png)

[2021-07-17 14:33] roygbip commented on #3658
sorry, i forget the "aud" claim. this is not in the examples.

[2021-07-17 14:34] #3658 closed

[2021-07-19 16:38] gshively11 commented on #2899
@tsandall Great news!  @ashutosh-narkar I'd love to help test out the changes before they go live. I already have a sample lambda project stood up that I used to test my original branch.

[2021-07-19 16:52] ashutosh-narkar commented on #2899
Hey @gshively11 can you share a link to your sample lambda project ? It would help during testing. Thanks !

[2021-07-19 17:21] gshively11 commented on #2899
Unfortunately it's on our private GitHub and it's using a bunch of custom stuff that isn't opensource, so I can't.  I can try to pull together some snippets for you though, if that would be helpful.

[2021-07-19 20:11] kirk-patton opened #3661 "http.send unix domain sockets - URL format"
I am not sure if OPA supports unix domain sockets when using the http.send method. If it does, then I am interested in the correct syntax to use when specifying the socket as part of the request.

## Expected Behavior
http.send(unix://path/to/socket/path/to/url/endpoint)  OR something similar

## Actual Behavior
does not work.

## Steps to Reproduce the Problem

socatSocket = response {
       # I

[2021-07-19 20:32] juliafriedman8 commented on #3592
My basic logic for the implementation of the AllOf functionality for JSON schema validation is to merge the types from all of the JSON subSchemas listed under AllOf before parsing it to convert it to a Rego type. Merging of JSON subSchemas essentially combines the passed in subSchemas based on what type they are. The only subSchemas that are actually able to be merged will be those of the same typ

[2021-07-19 20:43] tsandall commented on #3661
Thanks @kirk-patton. The `http.send` built-in function does not currently support UNIX domain sockets however we could extend it relatively easily, I think.

This is where the HTTP client used for `http.send` calls is created: https://github.com/open-policy-agent/opa/blob/main/topdown/http.go#L372. We can update this function to parse the request URL and look for the `unix://` scheme. If the UNIX

[2021-07-19 20:52] anderseknert commented on #3661
This seems like something that would need to be enabled with a config option, no? I don’t think OPA admins would expect policy authors to have that capability by default.

[2021-07-19 20:54] ashutosh-narkar commented on #2899
That would help. I appreciate it. Thanks!

[2021-07-19 20:55] tsandall commented on #3661
@anderseknert I'm not sure I follow. You're suggesting that admins are okay with users being able to execute arbitrary HTTP requests via TCP but not via UNIX domain socket? Can you elaborate a bit?

[2021-07-19 21:00] tsandall commented on #3592
Unioning the object properties/array items fields seems reasonable.

I'm curious where allOf is being used in the wild in JSON schemas today. @aavarghese or @juliafriedman8 do you have some examples?

Also, @aavarghese, re: anyOf; that should be covered by the `types.Any` implementation today (i.e., you can restrict the any to specific types...)

[2021-07-19 21:10] anderseknert commented on #3661
Yes, I think the function name implies as much. I would not expect policy authors to be able to send arbitrary requests to the (however poorly configured) Docker daemon (or whatever else is) running on the same host on a Unix socket without explicit permission from the OPA admin. I think those are often poorly configured precisely because the expectation is they’re not exposed to untrusted process

[2021-07-19 21:27] tsandall commented on #3661
That makes sense. I suggest we solve that in the same context as other security-related improvements to `http.send`. E.g., some folks have talked about adding a whitelist so you can restrict what hosts `http.send` could call out to. I think that your fears around unix domain sockets apply to localhost sockets as well.

[2021-07-19 21:34] anderseknert commented on #3661
Sounds good! As for localhost sockets, yeah - I think there’s just more of an awareness what’s running on those among admins in general, but I agree, it would be good to be able to disallow localhost requests regardless of protocol.

[2021-07-19 22:07] artis3n opened #3662 "Include the file name in the input data for a policy"
## Expected Behavior

When evaluating a large set of files, it would be very useful to be able to match against certain known file names as opposed to attempting to examine the input to match that file's expectation. This is for scenarios where we are evaluating a set of policies against a set of arbitrary files and we need the Rego to determine which policies should apply to which input. Perhaps

[2021-07-19 22:20] ashutosh-narkar commented on #3661
The implementation described by Torin in [this](https://github.com/open-policy-agent/opa/issues/3661#issuecomment-882846204) comment sounds good to me. Regarding caching, the server would need to send a `200` or `304` response while evaluating whether the response is stale or not. That I think is the only contract `http.send` has with the server.

We could extend the `http.send` request parameters

[2021-07-19 22:25] tsandall commented on #3661
Let's look into that separately. The allow list needs to be set by something other than the policy; I don't think it makes sense to allow the policy to be able to define the allow list.

[2021-07-19 22:31] ashutosh-narkar commented on #3661
You're right. It's not appropriate to have it in the built-in.  Maybe the OPA config would be better ?

[2021-07-20 13:23] aavarghese commented on #3592
@tsandall We've seen quite some usage of `allOf`, `oneOf`, `anyOf` in the Kubernetes published json schemas, for example https://github.com/instrumenta/kubernetes-json-schema and internal mentions of it being 'a nice to have' support. Other than that, no concrete examples.

re: anyOf. Sounds good - we're using `types.Any` for anyOf.

Thank you!

[2021-07-20 16:25] oren-zohar opened #3663 "Check command unexpected result"
## Expected Behavior
Using `opa check` on a policy with multiple compilation errors should return all errors with the error format.

## Actual Behavior
For certain error types the command result contains only one error, in a different format.

## Steps to Reproduce the Problem
* OPA version: 0.30.1
- Create a policy. `my_policy`.
- Add a line that should result in a compilation error, for example

[2021-07-20 18:09] peteroneilljr opened #3664 "Add Option to Provide Feedback"
## Feature Request

Add in an option for users to provide feedback on docs pages.

## Example

Below is a Hugo template called Docsy that shows how to implement a feedback button.
[docsy](https://www.docsy.dev/docs/adding-content/feedback/)

[2021-07-20 20:31] tsandall commented on #3662
hey @artis3n, thanks for filing this. One option would be to leave `input` as is (representing the file content) and instead put the metadata that you're describing (e.g., basename, absolute path, etc.) under `data`, e.g., `data.system.file.basename` or something.

Like you said, I think that it would be easier to implement this inside of Conftest for the time being because we don't have an opinio

[2021-07-20 20:33] artis3n commented on #3662
Absolutely, thanks for the feedback. We can close this

[2021-07-20 21:10] #3662 closed

[2021-07-20 23:38] tsandall commented on #3663
@oren-zohar can you post the full content of policies/my_policy.rego. What's likely happening is some unexpected error is being returned _somewhere_. It'll be much easier to track down with a test input that triggers this case.

[2021-07-21 12:56] kirk-patton commented on #3661
I will take a run at implementing  @tsandall [this](https://github.com/open-policy-agent/opa/issues/3661#issuecomment-882846204)

[2021-07-21 16:16] tsandall opened #3665 "Add support for AllowNet capability in `http.send`"
OPA should support a mechanism for restricting http.send calls at runtime. The primary use case would be restricting what hosts http.send calls can make. To support this, we should look at what interfaces are required in the topdown package. On top of that, we could expose restriction settings via the OPA configuration.

Note, this is not about disabling the http.send call entirely or blocking it

[2021-07-21 18:40] #3618 closed

[2021-07-21 19:32] #3651 closed

[2021-07-21 23:09] tsandall opened #3666 "wasm: format_int always undefined when argument passed via input document"
The `format_int` built-in is undefined when a number is passed through the input document:

## Incorrect

[code]

## Correct

[code]

[code]

[2021-07-22 01:37] kirk-patton commented on #3661
@tsandall https://github.com/open-policy-agent/opa/pull/3667  That is for the http.send section.  My desired use case is k8s + side car.  Ex url unix:localhost/end/point?socket=%2Ftmp%2Fhttp.sock".  I have not yet looked at the server side or how to restrict the call.

[2021-07-22 09:18] srenatus commented on #3666
Introduced *after* 0.30.2. This is probably related to #3627.

[2021-07-22 09:38] srenatus commented on #3666
Guessed wrongly. #3624.

[2021-07-22 14:58] srenatus commented on #3542
Hey there. Any news from your side?

[2021-07-22 16:08] #3666 closed

[2021-07-22 23:38] tsandall opened #3670 "Implement simple loop invariant movement optimization"
This is similar to #529 and #2094 albeit a bit simpler. Given the following query:

[code]

The compiler rewrites the query to:

[code]

In this case, the value of `__local0__` does not vary for different values of `x`. Therefore, if we moved the assignment earlier in the query, the answer would be unchanged but the assignment would not have to be performed unnecessarily:

[code]

[2021-07-23 06:43] srenatus commented on #3658
Docs improvements are always welcome - sorry you've had to stumble there

[2021-07-23 18:32] deepahoskote commented on #3165
Hi @ashutosh-narkar : Checking in to see if you had any updates on this?

[2021-07-23 19:08] tsandall opened #3676 "Improve `opa test` to stream test case results instead of batching them"
For large/expensive test suites, the current `opa test` UX is suboptimal because it waits until the end to print out the report of the test cases that ran. It would be nice if the tester package could stream the test case results to the reporter. With the current presentation, it would only make sense to do this when -v is given.

[2021-07-24 01:12] ashutosh-narkar commented on #3165
[This](https://github.com/ashutosh-narkar/custom-decision-logger) example should provide some pointers.

[2021-07-25 07:21] javid-dastgoshadeh opened #3677 "partial evaluation response"
I have a rule in rego and I want to send request to v1/complie direction to partial evalution and I get a json response .How to I convert this response to sql query to enforce that in mysql.I use php and I can't find a packege to do it.
thank you from your helps.

[2021-07-26 07:36] srenatus commented on #3677
I'd start searching through https://github.com/open-policy-agent/contrib, but on a quick look, there is nothing php-related.

You could use [the python code there as a example](https://github.com/open-policy-agent/contrib/blob/main/data_filter_example/data_filter_example/sql.py).

[2021-07-26 09:42] coolyrat opened #3678 "how to use an upserted policy?"
## Problem
I'm trying to put policies into the store on app start. And construct Rego PrepareForEval for later use. But when I tried to Eval the query, I got an Expected result. I wonder am I going on the wrong path?

I've already search through the internet and some of the testing codes, any help would be appreciated.

## Expected Behavior
Eval and get the following result.
`{
    "hello": true
}

[2021-07-26 11:16] srenatus commented on #3678
Hello!

First off, are using `store.UpsertPolicy` for a reason (such as updating the store and its policies later)?

Since if you want to use `r.PrepareForEqual` and `q.Eval` to evaluate a policy _only_, you could pass [`rego.Module("play.rego", exampleRule)`](https://pkg.go.dev/github.com/open-policy-agent/opa@v0.30.2/rego#Module) to your `rego.New()` call, and it'll be a lot simpler.

[2021-07-26 11:24] andrewbanchich commented on #3677
I've also been stuck on this and think it would be very helpful to have some documentation on how to build this. Third party contributions may not cover every case, and if you aren't super familiar with a certain language it may be hard for you to use language specific implementations as a reference.

[2021-07-26 13:12] oren-zohar commented on #3663
* In order to reproduce the issue where it stops parsing errors on unexpected error types:
[Policies.zip](https://github.com/open-policy-agent/opa/files/6878277/Policies.zip) contains two policies:
`my_policy.rego` contains two errors:
`./opa_plus check -f json policies/my_policy.rego`:
[code]

`my_policy2.rego` contains three errors, but one is of type `rego_parse_error` so it displays only one:

[2021-07-26 14:34] coolyrat commented on #3678
Hello~

My first thought of using a store is to dynamically update the policy. In my case above is the `exampleRule`.

Definitely! But I was thinking if I have the store pass into the `rego.New()`,  does that mean I could update the policy in the store to make changes to the evaluation?

Or is that when the policy is changed, I should replace the rego object with the `rego.New()`?  I wonder what i

[2021-07-26 20:01] srenatus commented on #3677
I'm afraid there isn't any comprehensive documentation here. [This blog post](https://blog.openpolicyagent.org/write-policy-in-opa-enforce-policy-in-sql-d9d24db93bf4) could serve as a starting point, but from there on, you're best served by looking at the partial eval response, figure out with subset of rego you'll have to cover, and build your query translation logic accordingly. (Ideally, there'