[2020-02-25 00:22] patrick-east commented on #2132
You guys make some excellent points. I'm happy to close this out if the consensus is that it is working as expected.

I tend to disagree that a compile error is the best behavior for these cases, with the example
[code]
I could see us making peoples lives easier by saying that yes, we know `c` doesn't exist on `x` so we raise an error. Thats fine by me.

The concern I have, specific to the origina

[2020-02-25 00:29] timothyhinrichs commented on #2132
I'm happy to leave this issue open, as I've had to work around the
type-checker multiple times.  It's more a question of whether there's a
slice of type-checking that could be turned off that would *on balance*
improve the user experience.

On Mon, Feb 24, 2020 at 4:22 PM Patrick East <notifications@github.com>
wrote:

[2020-02-25 06:34] #2075 closed

[2020-02-25 08:53] irodzik commented on #2137
I understand the tech behind it, but i think important thing is that, as a user of the API, you will get 200 and completely different document queried (or different decision made - which is super important when doing authorization). Idea posted by @anderseknert seems reasonable. If it's not suitable for you, I'd at least add information about this somewhere in documentation.

[2020-02-25 15:00] gwkunze opened #2142 "Input unset after negative rule evaluation"
# Expected Behavior
[code]

`opa test .` should be valid

# Actual Behavior

The test fails, specifically, it seems `input` is not there anymore after the `not is_faking_apple` line. If you comment out the second `input.type == "apple"` statement, the test passes.

# Steps to Reproduce the Problem

See above

# Additional Info

Rewriting as follows makes it work:

[code]

but either that should no

[2020-02-25 19:51] patrick-east opened #2143 "File name truncation in pretty trace hides file name"
# Expected Behavior
The pretty trace shows location info including the file name and line number. This works great if the path to the file is short, but if its longer than the cutoff it gets truncated. I would expect however that we keep the file name and truncate the path.

# Actual Behavior

The file name is cut off so its hard to tell what file it came from, ex:

[code]

# Additional Info

What

[2020-02-25 21:46] patrick-east opened #2146 "Configuration docs show invalid key in examples"
Over in https://www.openpolicyagent.org/docs/edge/configuration/#empty-objects (also on `latest`) there are examples that use `decision_logger`... which isn't a thing. It should be `decision_logs`

![image](https://user-images.githubusercontent.com/3614287/75290392-14647580-57d5-11ea-9f92-86eddecb0897.png)

Should just require editing the content over in https://github.com/open-policy-agent/opa/bl

[2020-02-25 23:59] patrick-east commented on #2142
Poking around at it this does appear to be an issue using `with` on negated expressions. Confirmed that it doesn't have anything specific to do with `input` either. A pretty minimal repro looks like:

[code]
And just query for `data.repro.foo`

Haven't spent a ton of time looking for the fix yet, but at a guess when we are done evaluating the negated expression we aren't restoring the original `wi

[2020-02-26 05:50] #2146 closed

[2020-02-26 16:59] ironhalo opened #2149 "Return non-zero exit codes in opa fmt"
# Expected Behavior
Running `opa fmt` always returns a success exit code, even when formatting is not correct.  This is problematic in CI pipelines that check linting before allowing a merge.  Is it possible to either change the return codes for existing flags or such as `--list` or add a `--check` flag?

# Actual Behavior
`opa fmt` always returns a successful exit code

[2020-02-26 18:56] patrick-east commented on #2149
Seems like this might be useful. The impression I have though is that in general other formatting tools don't necessarily return error codes unless something went wrong trying to format (eg gofmt or goimports). The idea being that the exit code is related to the formatting operation itself not whether it made changes or not.

A pretty standard pattern for doing format checks/linting in CI's with t

[2020-02-26 21:27] mjgpy3 opened #2150 "Way to mock time in tests"
This may already exist, but, is it (or would it be) possible to control the results of functions like `time.now_ns()` from tests?

My use-case is pretty simple, I have a policy which has certain rights which expire. I would like to test the boundaries around expiry (right before, at the instant of expiry and right after).

I can potentially workaround this testing feature by adding/subtracting tim

[2020-02-26 21:36] patrick-east opened #2151 "Trace values for input modified by with keywords just show "input" as the value"
# Expected Behavior
I would expect that the `input` value in the trace (either using the "watch" feature of the playground, or using `trace()` builtin) will show the actual input object contents.

# Actual Behavior
With normal `input`'s it works as expected, but if the `input` is modified by a `with` statement the value only shows as `"input"` and no longer the full object.

For example, with poli

[2020-02-26 21:46] patrick-east commented on #2150
The best option right now is to hide the call to `time.now_ns()` in a helper rule, then use the `with` keyword to mock it out in tests. https://play.openpolicyagent.org/p/xjy7hoOGMV shows an example (snippet below too)
[code]

There is an open issue to extend the `with` keyword to support mocking functions which would also provide a solution to this #2028

[2020-02-26 21:58] mjgpy3 commented on #2150
@patrick-east thank you, mocking a helper rule or what #2028 would provided if resolved sound like good options!

[2020-02-26 21:58] #2150 closed

[2020-02-26 23:13] koponen-styra opened #2152 "Consider dropping use of github.com/pkg/errors package"
Golang 1.13 introduced new features to the errors package that largely match the capabilities provided by the github.com/pkg/errors package. It would be good to remove this unnecessary dependency to a thirdparty library.

[2020-02-26 23:24] patrick-east commented on #2152
There was some discussion around requiring go 1.13 in OPA over in https://github.com/open-policy-agent/opa/pull/1969#discussion_r382850242

As-is 1.13 crept in as a requirement to `cmd` and `tester`, if we make changes to use the newer functionality it would become much more widely spread (probably everything).

[2020-02-27 03:11] barbia commented on #1559
@tsandall looks like github releases and docker are covered here: https://www.openpolicyagent.org/docs/latest/#running-opa are you still looking to get the other options listed? If so has the list changed since first writing?

[2020-02-27 12:33] tsandall opened #2155 "Type checker returning spurious undefined function errors"
The type checker requires that the caller sort the rules topologically however for independent rules (`p` and `q` below) there is no ordering requirement (and the ordering for independent rules is currently non-deterministic.) This results in spurious undefined function errors. For example:

[code]

The spurious "undefined function" errors are emitted because the type checker does not update the t

[2020-02-28 03:58] krotscheck opened #2158 "Cannot verify a JWT given only the public key."
# Expected Behavior
Verifying an RS256 token using only a public key should work.
https://play.openpolicyagent.org/p/GQRHYHg0uv

# Actual Behavior
[code]

# Steps to Reproduce the Problem
  1. Create a signed RSA256 JWT using a private key pair.
  2. Attempt to verify the JWT using only the public key.

# Additional Info
The cause of the issue seems to be in topdown/tokens.go:getKeyFromCertOrJWK,

[2020-02-28 04:51] jpeach commented on #1450
I'd also be able to make use of GRPC builtins.

One option might be to expose additional builtins as separate Go modules. Then a runtime that uses the core OPA engine can add them if it makes sense and the dependencies are not dragged into the main module. The obvious downside of this is the increased release management overhead :)

[2020-02-28 18:08] patrick-east commented on #1895
Fixed in #2157

[2020-02-28 18:08] #1895 closed

[2020-02-28 19:26] #2158 closed

[2020-02-29 20:15] isaeef commented on #2143
@patrick-east would like to work this issue

[2020-02-29 21:05] patrick-east commented on #2143
@isaeef awesome! Let me know if you need any pointers or help.

[2020-03-01 23:48] kadimulam opened #2162 "RPM packages for Centos 7"
We have a base Centos 7 Docker image. We are trying to install OPA on Centos 7 and create a single Docker image and thus a single container. Does OPA has RPM packages? If yes, could you please share the location?

Based on our research we found https://pkgs.org/download/opa-libopamgt, please let us know if this is official that we can use in production environments?

[2020-03-02 00:22] patrick-east commented on #2162
OPA does not currently publish any RPM packages. The easiest option for you would to just have OPA get downloaded as part of your custom CentOS image build (instructions https://www.openpolicyagent.org/docs/latest/#1-download-opa)

If you want a more secure approach (if downloading binaries isn't ok) you can always use a builder image and just make OPA from source, if you use the `golang` docker i

[2020-03-02 00:31] #1919 closed

[2020-03-02 00:41] kadimulam commented on #2162
@patrick-east , is there a TAR file at least? We already have a different Docker image that is being pulled as part of my Dockerfile (apart FROM Centos) and that is the reason I wanted to avoid pulling golang Docker image so that my Dockerfile is simple.

[2020-03-02 05:19] patrick-east commented on #2162
A tar file of what? The opa binary is available for download, that is the simplest option.

[2020-03-02 13:19] tsandall commented on #1559
@barbia, thanks for commenting. That comment was made before we rewrote the introduction and made the download links more discoverable. I am going to close this issue now.

[2020-03-02 13:19] #1559 closed

[2020-03-02 17:06] jaspervdj-luminal opened #2165 "Builtins & zero-arity partial rules compatibility"
# Intro

At Fugue, we are in the progress of porting some hacky builtins to a nice
Rego library.  However, during this porting, we need the code using these
builtins/library to remain compatible with both versions.

An example of a zero-arity builtin is `set`:

    test_empty_set {
      x = set()
      count(x) == 0
    }

We can also define a zero-arity partial rule.  Semantically, this is the
s

[2020-03-02 21:40] patrick-east commented on #2137
IMO we should probably update to support returning a 308 (307 might be appropriate.. but saying its permanent makes more sense IMO, clients don't need to like re-check.. they should always use the new location).

The only part I'm not sure on is whether or not we can safely change the return codes without breaking existing clients. This might require a major version bump for the API if there is co

[2020-03-02 21:50] anderseknert commented on #2137
I hear you, @patrick-east - I used to work on an identity server some years back and we had both the some problem and the same concerns about changing redirect status codes - what we did eventually was that we made the change but made it possible to revert to the old status code using some half-documented feature toggle should anyone need to. We kept this in for a couple of releases, but since nob

[2020-03-02 22:23] patrick-east commented on #2165
Just adding my 2c, if we are going to support one of the proposed "expected behavior"'s I would lean towards supporting a "call" to a rule with empty parens (eg `zero_arity_partial()`)

This topic has come up before and there are complications IIRC that prevent it from being a quick/easy add (@tsandall can probably explain better.. I don't recall the exact details). So even if we can agree on a pa

[2020-03-03 09:41] priyanka-5 opened #2169 "Load external data from database in OPA"
I am new to REGO. I want to write policies to authorize the user based on its role and resources assigned to him/her. All information of user is stored in database, so I want to write policies which will work on this data. But how do I get or fetch the data from database in OPA.
I read OPA's official documentation for[ External data ](https://www.openpolicyagent.org/docs/latest/external-data/) but

[2020-03-03 15:45] tsandall opened #2170 "Improve partial eval support for references to partial rules"
Currently partial eval does not support statements that refer to the full extent of virtual docs defined by partial rules if those rules depend on any unknowns. For example:

[code]

In this case, if OPA was asked to partially evaluate the query `p` it would inline the `count(q) > 0` but not go any further. `q` is not inlined because the output size grows exponentially.

Instead of stopping partia

[2020-03-03 16:53] ashutosh-narkar commented on #2169
One of the options mentioned on that page uses [Bundles](https://www.openpolicyagent.org/docs/latest/external-data/#option-3-bundle-api) approach. In this scenario, you would create a service that fetches the relevant info from your database and then OPA would query that service to get policy/data.

You could use the same service to push data into OPA instead of the pull approach. That's [option 4

[2020-03-03 19:12] patrick-east commented on #2137
We discussed this a bit at the OPA weekly meeting (notes https://docs.google.com/document/d/1v6l2gmkRKAn5UIg3V2QdeeCcXMElxsNzEzDkVlWDVg8/edit#heading=h.2ymp0280bora) The conclusion was that we will _not_ change the return code for the `v1` API's. When we make another major version bump its fair game.

In the meantime we have a few concrete action items we can take to improve the situation, especia

[2020-03-04 00:49] #2142 closed

[2020-03-04 05:24] priyanka-5 commented on #2169
@ashutosh-narkar thank you. I'll try it.
I didn't get what does that "OPA would query that service to get policy/data" means ?

[2020-03-04 08:37] srenatus commented on #2149
We're using [some awk magic over here](https://github.com/chef/automate/blob/0de8065086367dadc8e99b42d2b9b54b5b1d1657/components/authz-service/engine/opa/policy/Makefile#L1-L2), but it's basically the same, "if there's output, fail".

Comparing to `gofmt`, `opa fmt` has the same behaviour... I think I prefer that, too.

[2020-03-04 09:17] srenatus commented on #2149
Another data point, `git diff` has [an `--exit-code` flag](https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---exit-code) for this behaviour:

(...but `diff` and `git diff` are not formatters... 💭)

[2020-03-04 10:01] brolinuk opened #2172 "Memory seems not released"
# Expected Behavior
1) When a DELETE request sends to OPA to remove data, I should expect to see memory release from OPA
2) When a PUT request sends to OPA to update data, which has fewer records comparing to existing ones (same URL path), I should expect memory release

# Actual Behavior
No memory release in either scenario. For PUT request, I can only see memory adds up for each call.

# Steps t

[2020-03-04 12:17] jaspervdj-luminal commented on #2165
Just updating this thread, there was a short discussion about this in the biweekly meeting, and the conclusion was that either:
1.  It should not be possible to define zero-arity functions in Rego, or;
2.  Zero-arity functions in Rego should always be called as such (using `()`).

[2020-03-04 17:09] ashutosh-narkar commented on #2169
When your service gets a user api request and needs to make an authz decision it will ask OPA for it. OPA would load policies/data by making a call to a aggregator service (which you would have to create). The aggregator service gets relevant info from the database and makes it available to OPA.

Regarding memory, it depends how you deploy OPA and how much memory you assign to it. If your data is

[2020-03-05 00:54] patrick-east commented on #2172
Just to confirm a few things:

What version of OPA was this?
What OS?
Sounds like running in Docker, so what version of Docker?

[2020-03-05 06:39] mark-rushakoff opened #2173 "Proposal: split REPL out of `opa run`"
(Split out of discussion in #2161).

Patrick pointed out that wording in the help output of `opa run` needs to be careful to not assume REPL mode, as presumably most people use `opa run -s` for the server mode.

I would propose that the REPL is a very different use case from the opa server, and therefore the two should be in separate subcommands. Some options include:

- Deprecate `opa run` altoge

[2020-03-05 06:55] mark-rushakoff commented on #2172
The docker memory values aren't going to give you meaningful numbers. The Go process may be holding on to a lot of memory, but if the OS isn't under any other memory pressure, Go may attempt to return the memory to the OS but the OS may not claim it.

Out of the go [memstats](https://golang.org/pkg/runtime/#MemStats), HeapAlloc and HeapObjects are probably the most interesting for what you are loo

[2020-03-05 08:23] anderseknert commented on #2137
@patrick-east is there a v2 API in the plans or is that hypothetical? :)

We had another developer bitten by this yesterday. With `default allow = false` kind of rules this is annoying but pretty much harmless (security wise). But once you flip the expression to something like..
[code]
..the 😱 factor goes up by an order of magnitude.

Of course, given proper testing and solid client implementation

[2020-03-05 10:08] priyanka-5 commented on #2169
Ok. Thank you @ashutosh-narkar I'll try it

[2020-03-05 10:46] priyanka-5 opened #2174 "Parse JSON"
How can I parse JSON ?
I have base64 url. After decoding it gives stringified json as output. So I want to parse it. But  I didn't see any built-in function to parse JSON.

[2020-03-05 12:47] priyanka-5 commented on #2174
Just got the solution. I just studied all built-in functions and got to know that json.unmarshal(string) can deserialize the json data

[2020-03-05 12:47] #2174 closed

[2020-03-05 15:50] tsandall commented on #2173
👍 this is definitely an area that could be improved. I don't have too many strong opinions but I would like to at least see some other options. E.g., one way we could improve things would be to create a separate `serve` (or `repl`) subcommand and then leave `run` as is, deprecating the relocated functionality over time. I'd lean toward moving the server into a separate command because the default

[2020-03-05 17:11] brolinuk commented on #2172
Thanks for the reply. The version is 0.17.2. It's running on docker version 19.03.5 on a RedHat box

[2020-03-05 17:17] brolinuk commented on #2172
Yes. I have also tried the metrics from OPA with go_memstats_heap_sys_bytes, which indicate the same as I understand.  I have checked HeapAlloc and HeapObjects, I might have miss understand it. I will get a screenshot here. Many thanks

[2020-03-06 01:27] tsandall commented on #2118
@AlexGilleran Thanks for the write up and the links. This is very helpful.

You're asking the right questions--we just don't have a good doc for external users to consume this right now. The two best examples are in the contrib repo (the sqlite/python example and the elastic/golang example). The ASTs are defined in Go:

* https://github.com/open-policy-agent/opa/blob/master/ast/policy.go#L179 - `q

[2020-03-06 02:07] tsandall commented on #2045
I'm seeing the same behaviour. Adding a simple allow rule reproduces the problems:

[code]

There are two problems with this output. The first issue is that `not _.name = "example"` is considered unsafe since `_` is a _unique_ variable and all variables that appear inside negated expressions MUST appear as an output another non-negated expression in the same query. Since each occurrence of `_` is

[2020-03-06 02:57] AlexGilleran commented on #2118
Thanks for that @tsandall, gives me something to go off 👍 👍

[2020-03-07 01:09] mnuthan1 opened #2175 "object.get with multilevel key"
# Expected Behavior
object.get with multi-level key (with . notation) should return actual values
# Actual Behavior
Currently its returns null

# Steps to Reproduce the Problem

  1. with the following input
`{
    "message": "world",
    "level1" : {
    	"level2" : {
            "level3" :"I am level 3"
        }
	}
}`
  2. input["level1.level2.level3"] should return values of "I am level3"
  3.

[2020-03-07 03:05] patrick-east commented on #2137
@anderseknert sorry for the delay!

Its mostly hypothetical.. at some point we'll nudge OPA to v1.x.x and we'll have some flexibility to make backwards incompatible changes (there's an issue label for just that.. will add to this issue too).

+1, but I think the key is proper testing and if we can make it more visible when API requests are not doing what is expected. For the trailing slash if we i

[2020-03-07 03:08] patrick-east commented on #2175
You are seeing the expected behavior, it is looking for key `"level1.level2.level3"` (a single string):, ex: https://play.openpolicyagent.org/p/xZIM4Cj5ed

[2020-03-07 03:11] patrick-east commented on #2175
There is discussion around adding some additional functionality to potentially allow for this sort of thing over in #1617 Check through there and if the use-case isn't addressed please add a comment with the desired behavior and use-case for it.

[2020-03-07 03:11] #2175 closed

[2020-03-07 05:12] mnuthan1 commented on #2175
@patrick-east is there any way to get value with the multilevel key.  I am trying to validate spinnaker pipelines where a JSON field can refer to another field. for example with below input I need to validate min_nodes < 3

`{
    "pipelineParameters" : {
        "k8" : {
            "NODES" : "1"
        },
        "min_nodes" : "${k8.NODES}"
}`

[2020-03-09 07:09] anderseknert commented on #2137
Thanks @patrick-east 👍  Agreed completely on making it more visible and obvious in docs and logs should the current behavior be kept as is.

[2020-03-09 15:13] anderseknert opened #2176 "Allow parameterized tests"
It would be very useful if the unit test system allowed for some type of simple "data driven" parameterization of tests where one of the mocked inputs could be parameterized to skip needless verbosity and possible copy-paste errors.

# Expected Behavior

[code]
(obviously made up example and syntax)

# Actual Behavior

[code]

[2020-03-09 18:42] rleekin opened #2177 "Docs: Kubernetes policy primer example is missing output box"
in the documentation, under the *Policy Primer via Examples* section, in the *Deny Rules* section. The last sentence of that section ends without an image or answer.

"When the deny rule is evaluated with the input above, the answer is:"

I think this is an error and I would be happy to fix it if you tell me what should be there. Thanks

[2020-03-09 18:53] patrick-east commented on #2177
Thanks @rleekin that is indeed an error.

It looks like it should be showing the output of the "live doc" snippets above, the GitHub markdown renderer shows it a little different (although still broken) https://github.com/open-policy-agent/opa/blob/master/docs/content/kubernetes-primer.md#deny-rules

![image](https://user-images.githubusercontent.com/3614287/76246795-a324b980-61fb-11ea-96d7-6cae67

[2020-03-09 20:24] rleekin commented on #2177
okay, I'll work on fixing this. Thanks Patrick

[2020-03-09 20:25] rleekin commented on #2177
/assign

[2020-03-10 18:46] dhenneke commented on #1469
Are there any plans to implement this in the near future?

[2020-03-10 20:16] patrick-east commented on #1469
I don't think anyone is working on it right now. It's open for community contributions.

[2020-03-11 01:42] kadimulam commented on #2162
@patrick-east , i downloaded the source and trying to build the binary, but i am getting below error:
[code]

Below is the snippet of Dockerfile:
[code]
I am new to Go, please advise. It would be nice if we have some kind of documentation which explains steps to build from source.

[2020-03-11 01:49] kadimulam opened #2179 "config error: plugin "envoy.ext_authz.grpc" not registered"
We are using Envoy RPM and configured "envoy.ext_authz" HTTP filter. Within config.yaml, we used below plugin for external authorization using OPA (we are using https://openpolicyagent.org/downloads/latest/opa_linux_amd64). Everything is configured inside a dockerfile.

[code]

When we try to run the Docker we are getting below error.
`error: config error: plugin "envoy.ext_authz.grpc" not registe

[2020-03-11 02:22] patrick-east commented on #2162
There are instructions to build in https://github.com/open-policy-agent/opa/blob/master/docs/devel/DEVELOPMENT.md

I think the version of Golang is too old. Try using one >=1.13, https://hub.docker.com/_/golang. I had success with:
[code]

[2020-03-11 02:24] patrick-east commented on #2179
The envoy plugin is not included with the default OPA binary. You would need to use https://github.com/open-policy-agent/opa-istio-plugin which is available as a container image at https://hub.docker.com/layers/openpolicyagent/opa/0.17.3-istio/images/sha256-bea797b65a9854faed021e698a7556eef36f72e22d83a72c19fc04e32b913964?context=explore or you can build from source (using the `opa-istio-plugin` re

[2020-03-11 03:40] WeiZhang555 commented on #2097
For server mode, I see that if I put new rego policy or data into OPA daemon via RESTful API, the policy and data won't be saved to disk, this also means the policy and data will be lost once I restart the OPA server.

Do you have plan to fix this too?

[2020-03-11 18:23] petemounce opened #2180 "Create rego code-documentation support to support generating documentation about policies"
https://openpolicyagent.slack.com/archives/C1H19LW4F/p1583922893200700

I have a policy like

[code]

and I'd like to be able to extract documentation from the rego code (or, alternatively, associated closely _with_ it, say in a next-door file) and generate documentation for publishing. That to me means extracting the comments into markdown, then transforming that into static site generator of cho

[2020-03-12 03:16] samgurtman opened #2181 "Feature Request: Create builtin to construct complex JSON objects"
Following on from https://github.com/open-policy-agent/opa/pull/2168 it would be wonderful if OPA had a reverse walk function to build up JSON objects from sets. This would allow OPA to better service introspection type functionality such as "What things does my API Key give me access to?"

My original thought was expanding `walk(x, [path, value])` so that x could be an output rather than just an

[2020-03-12 13:09] WeiZhang555 opened #2182 "Support incremental policy downloading from Bundle API"
I want to make a standalone OPA service for providing authz services to other workloads, then I found that OPA doesn't persist policy data, then  I read the [external-data](https://www.openpolicyagent.org/docs/latest/external-data/) chapter,  and found that Bundle API may help.

But I want to check first that does the Bundle API support incremental downloading? For example, when OPA service starte

[2020-03-12 18:10] patrick-east commented on #2182
Hi! The bundle API supports using ETags so that it will only download and process the bundle when there are changes to it. However, OPA does not currently support incremental changes to the bundle. It will download and process the entire bundle. There is a feature request tracking this https://github.com/open-policy-agent/opa/issues/1055 with the goal to allow for downloading what are essentially

[2020-03-12 18:12] patrick-east commented on #2179
Going to close this since it isn't an issue. Feel free to re-open if you have any more questions or issues with the envoy plugin.

[2020-03-12 18:12] #2179 closed

[2020-03-12 18:13] patrick-east commented on #2169
Going to close this out, it seems like the questions are answered. Feel free to re-open if more questions/issues come up!

[2020-03-12 18:13] #2169 closed

[2020-03-12 18:14] patrick-east commented on #2162
@kadimulam were you able to get OPA building in the container?

[2020-03-12 21:34] patrick-east opened #2183 "Panic while type checking objects with non-json keys"
With some policy snippet like:

[code]
OPA will panic like so:
[code]

[2020-03-16 07:12] WeiZhang555 commented on #2182
@patrick-east Thanks for your response, I think the proposal from the link is exactly what I want. I will track the threads. Looking forwards to this feature!

[2020-03-16 07:34] WeiZhang555 commented on #2182
Close this.

[2020-03-16 07:34] #2182 closed

[2020-03-16 09:00] jpeach opened #2187 "Handle http.send errors in-band"
# Expected Behavior

Rego programs should be able to handle errors from the builtin `http.send`.

# Actual Behavior

If the `http.send` builtin gets an error, this is returned from the `(*Rego) Eval()` and can't be handled within a Rego program.

In my context, I have a test harness that queries Rego rules. These rules might be expressed using `http.send`. If the `Eval` fails because of the HTTP c

[2020-03-16 13:24] tsandall commented on #1055
Yes, the storage layer supports JSON patch-style operations on the `data` document (which is what the server's /v1/data PUT endpoint uses.)

One area that hasn't been fleshed out in the design is how this feature would interact with bundle signatures (#1757).

[2020-03-16 13:35] tsandall commented on #2176
You could do this with a helper rule or comprehension today. For example:

[code]

It would be nice to know which methods failed. If the test framework was a bit smarter it could report diffs on the variables inside the test rules. For example:

[code]

It's important to use a helper rule or comprehension though--this would not be correct:

[code]

Once we have the `every` keyword (#2090) we could

[2020-03-16 13:38] tsandall commented on #2097
@WeiZhang555 we don't have any immediate plans to add support for persistence in OPA itself. If you build OPA from source, you can replace the in-memory store with your own implementation.

[2020-03-16 13:50] tsandall commented on #2181
We've talked about this in the past. I think a function that accepts `[path, value]` tuples and constructs a hierarchical structure out of them would be nice. What you described is very close. Something like this would work:

[code]

Ordering is important here because of potential conflicts. For example:

[code]

Some thought needs to be given about the input structure (e.g., just arrays or arrays

[2020-03-16 13:53] #2183 closed

[2020-03-16 14:41] anderseknert commented on #2176
Better visualization of diffs in assertions would indeed be great, and perhaps a feature request of its own :)

A notable difference between that and parameterization though - in your example you feed data into a single test and iterate over that within the test, whereas in "data driven" parameterized testing the data _builds_ the tests, so given the example (and some way of annotating or marking

[2020-03-16 19:16] patrick-east commented on #2187
I think part of the issue is that most of the builtin functions today lack any sort of error handling mechanism. They'll either do the right thing, be undefined, or halt evaluation by raising an error.

We could maybe just modify the `http.send` builtin to have an option for like raising the error versus returning some error status for the request. That might be pretty low impact, especially since

[2020-03-16 22:21] jpeach commented on #2187
Yep, I agree that propagating the error from most builtins makes sense. I think that `http.send` is an outlier in this case. I'll be investigating handling the `BuiltinErr` in my code and retrying, but wanted to make sure there was an issue for this :)

[2020-03-17 00:42] #2177 closed

[2020-03-17 01:06] nischalsheth commented on #1841
Any chance of this getting scheduled for an upcoming release? Thx!

[2020-03-17 15:51] itaysk opened #2194 "[wasm] error when calling eval: object merge conflict"
# Expected Behavior
I can use wasmer.io in C to run an opa wasm module.

# Actual Behavior
[code]

# Steps to Reproduce the Problem
It's going to be hard to share the entire project here but I have isolated the issue as following:

1. Build a simple opa policy using `opa build`. I'm using the sample policy:
[code]
2. read the opa module file into memory
3. setup a wesmer.io C project
4. initialize

[2020-03-17 17:28] krotscheck commented on #1751
A syntax I'm thinking of implementing in a plugin; open to comments.
[code]

[2020-03-17 18:00] patrick-east commented on #2194
Makes sense that they may not be related to the issue, but if you could share it would make it easier for others to repro the issue and help troubleshoot quicker.

[2020-03-17 19:16] tsandall commented on #1751
hey @krotscheck, here are some thoughts.

Implementing this kind of caching as a set of built-in function (`cache.has`, `cache.put`, etc.) would be problematic because it means that statements in the rule body have side-effects and therefore order-of-execution is important.

If `// do something expensive` is a call-out to an external system via `http.send` or some other custom built-in function, t

[2020-03-17 21:34] xin-styra opened #2196 "OPA eval --disable-inlining can not parse parameters with double quotes"
# Expected Behavior
OPA command line should be able to parse parameters with double-quotes.  E.g., --disable-inlining=query should take the query even if there are double quotes `"` in the query, e.g., data.policy["com.styra.envoy"].resolver.main

# Actual Behavior
It seems when partial eval is executed, the above parameter query is not respected. There seems to be some problem with argument parsi

[2020-03-17 21:40] krotscheck commented on #1751
I think that'd work - as long as the cache can (also?/optionally?) be somehow keyed to the input. For instance, if I use a JWT as an input, it's unlikely that the policy response - no matter how expensive its calculation is - will change for the lifetime of the JWT. Any suggestions on that?

[2020-03-17 21:43] patrick-east commented on #2196
Easy repro:

[code]
Gives:
[code]

[2020-03-18 12:03] itaysk commented on #2194
Ok, I have uploaded the sample project here: https://github.com/itaysk/opa-wasm-issue2194
Run it with `make opa`

[2020-03-18 15:05] tsandall commented on #1841
@nischalsheth improving the rule indexer to support larger fragments of the language is generally valuable, but it would be super helpful to have more detail about why you need this in particular. For example, how would rule indexing on these statements help you? Do you have a large number of rules that are performing a "contains" check for different values, e.g:

[code]

How big are the inputs th

[2020-03-18 15:13] tsandall commented on #1751
Yes, this would be up to the built-in function. We actually have some built-in functions whose outputs are cached for the duration of the top-level policy query (e.g., `time.now_ns()` and `http.send` work this way). We do this to ensure that calls deterministic (return the same output given the same input.) E.g., you would not want to have multiple `time.now_ns()` calls return different times if i

[2020-03-18 16:23] patrick-east commented on #2194
@itaysk thanks!

[2020-03-18 16:27] AvivRubys opened #2197 "Partial Evaluation fails when using a Bundle API"
# Expected Behavior
When running OPA in server mode with a bundle api, and passing in the `partial` flag in `POST /v1/data` endpoint, expected OPA to use partial evaluation on the policy/data.

# Actual Behavior
All requests receive an error response:
[code]

# Steps to Reproduce the Problem

  1. Serve policy from bundle api
  2. Attempt to access the document with the ?partial param

Alternative

[2020-03-18 16:27] patrick-east commented on #2194
@itaysk One more question, what was the query used when compiling the policy?

[2020-03-18 16:34] itaysk commented on #2194
iirc it was `data = x`

[2020-03-18 16:45] patrick-east commented on #2197
Thanks for filing the bug, can you confirm what version of OPA you are seeing this with?

[2020-03-19 01:24] deltamualpha commented on #2098
One thing that might be valuable here would be the sort of questions I was asking in https://openpolicyagent.slack.com/archives/CMHKK5RQF/p1584539553210800 -- how can I write tests that mirror what the import of a bundle look like? What is the structure of the OPA document given an example bundle? An out-of-the-box example of, say, RBAC, that would be useful as a teaching example, would include:

[2020-03-20 13:13] GBrawl commented on #1405
Hey @tsandall, I'm currently using the cast_set function to cast an array to a set so I can perform functions like intersection. Can you tell me what the alternative is now that cast_set is deprecated?

[2020-03-20 13:31] tsandall commented on #1405
@GBrawl you can you write a simple comprehension that converts the array into a set:

[code]

[2020-03-20 13:40] GBrawl commented on #1405
That works well, thanks!

[2020-03-20 19:17] patrick-east opened #2198 "Leading commas in collections parse but have empty values"
When an array/set/object is defined with a leading comma the parser will allow this but the value is always an empty version of the collection.

Ex:
[code]
[code]
[code]
^^ The array, set, and object should show the values in the parsed AST

We should either be raising an error or allow parsing them and just ignore the leading comma.

[2020-03-20 19:23] patrick-east opened #2199 "Rules can parse with wrapping curly braces"
# Expected Behavior
A rule defined like:

[code]

Should not be valid according to the grammar we document

# Actual Behavior

It parses fine, as long as there is only a single set of braces.. ex:

[code]
[code]

# Additional Info

We should probably raise an error for this case. IMO it is somewhat confusing, and probably not what the author intended as the curly braces mean nothing to the languag

[2020-03-20 19:32] patrick-east opened #2200 "In some cases "rules" can parse with dots/hyphens/etc in name"
# Expected Behavior
A rule defined like:

[code]
Should raise a parse error. This isn't a valid rule name.. Same goes for..

[code]
And some others (can toss in `+` and more in there)

# Actual Behavior

The "rule" parses... but isn't what the author probably intended. What you get is:

[code]
😞
# Additional Info

Whats happening is that it is being parsed with a partial rule like `foo[bar] = x {

[2020-03-20 19:39] patrick-east opened #2201 "Object comprehension can sometimes be parsed as object definition"
# Expected Behavior
An expression like:

[code]
Should be defining an object comprehension (to be inline with behavior of array and set with these ambiguous `|` cases).

# Actual Behavior
It gets parsed as an object where the value for `"foo"` has an `or` call.

[code]

# Additional Info

Part of the inconsistency is that if there is no call (the `1+2`) then it _is_ parsed as an object comprehensi

[2020-03-20 19:47] patrick-east opened #2202 "Partial rules defining objects must have json string keys in head"
# Expected Behavior
In rego a valid object can have _any_ type of key. Ex:

[code]
Is perfectly valid.

Building objects with partial rules should therefore allow for constructing the same type of objects like:

[code]

# Actual Behavior
You get a parse error:
[code]
But you can define it like...

[code]

# Additional Info
These types of objects _are_ somewhat dangerous since you cannot serialize

[2020-03-20 19:53] patrick-east opened #2203 "Using the `else` keyword shouldn't always requires a body"
# Expected Behavior
Any other rule body can be omitted with an implicit `{ true }` being used for evaluation.

Ex:
[code]
_really_ means
[code]

So for `else` rule bodies this should also work..

[code]
Should mean..
[code]

# Actual Behavior

The body for the `else` rule is required:
[code]

# Additional Info
We should be able to just apply the same logic we do for any other rule body for these.

[2020-03-20 21:33] patrick-east opened #2204 "docs: Add link to OPA "downloads" (or quick start) to https://openpolicyagent.org/"
It would be nice to have a link directly to https://www.openpolicyagent.org/docs/latest/#running-opa or better yet a like table of downloads/methods to get OPA on https://www.openpolicyagent.org/. As-is we just have the one link to "Documentation" and then you have to scroll through the intro a ways to get there.

[2020-03-20 21:36] patrick-east opened #2205 "docs: Homepage links to "Learn More" should be more visually distinct"
On the home page for OPA https://www.openpolicyagent.org/ we have:

![image](https://user-images.githubusercontent.com/3614287/77207982-02b27d00-6ab8-11ea-92a8-fd22bf647b57.png)

Which is somewhat confusing as it looks like one big button but each of the text items is a separate link. We should split them up into separate buttons or something more distinctive.

[2020-03-20 21:39] patrick-east opened #2206 "docs: Homepage policy snippets should have visual indication you can click on examples"
About halfway down on https://www.openpolicyagent.org/ we have the "Declarative Policy" section with a few Rego samples in "live" blocks. As-is you can select different examples by clicking on the box of text that describes them, but it isn't very easy to notice. We should have them change color or something when the mouse hovers over them

![image](https://user-images.githubusercontent.com/361428

[2020-03-20 21:43] patrick-east opened #2207 "docs: Homepage Add "Open In Playground" button for examples"
On https://www.openpolicyagent.org/ in the "Declarative Policy" section the source text is currently a link to open the example in https://play.openpolicyagent.org/

![image](https://user-images.githubusercontent.com/3614287/77208413-fa0e7680-6ab8-11ea-9021-438fd045f100.png)

As-is it isn't very discoverable. If we just added a button with like "Open In Playground" or something below it we'd proba

[2020-03-20 21:46] patrick-east opened #2208 "docs: Homepage remove first set of "Learn More" links"
There are two sets of "Learn More" links on https://www.openpolicyagent.org/. The first ones are going to take someone away from the super high level home page and right into docs faster than we probably want them to.

The first step should be to "learn more" by seeing the policy snippets below for the use-case, and _then_ have the links to the other docs.

With that in mind we should just remove

[2020-03-20 21:49] patrick-east opened #2209 "docs: Homepage "Learn More" links could open a new tab"
The "Learn More" links on https://www.openpolicyagent.org/ such as:
![image](https://user-images.githubusercontent.com/3614287/77208715-a5b7c680-6ab9-11ea-8cb9-d640048f7b6a.png)
Currently navigate away from the home page, but current thinking is that opening a new tab by default would provide a better user experience.

[2020-03-20 22:15] patrick-east opened #2210 "Add config/scripts/tooling to build OPA RPM and Deb packages"
OPA currently provides binaries for osx, linux, and windows, plus docker images (for amd64 linux). However there have been requests for RPM's (#2162) for OPA installation.

There is even support for `brew` https://formulae.brew.sh/formula/opa

So it isn't too big of a stretch to say that we could have some simple RPM/Deb files for installing OPA (useful for installing on hosts directly or building

[2020-03-20 22:16] patrick-east commented on #2162
Closing this out, future progress for RPM packages will be tracked in #2210

[2020-03-20 22:16] #2162 closed

[2020-03-20 22:29] patrick-east opened #2211 "Signed and Trusted OPA binaries for OSX and Windows"
# Expected Behavior
Downloading the binary for OSX or Windows from a release like on https://github.com/open-policy-agent/opa/releases should give a usable binary.

# Actual Behavior
As-is these are not passing the normal validation steps to be a "trusted" binary. For example on OSX:
![image](https://user-images.githubusercontent.com/3614287/77210428-37c1ce00-6abe-11ea-8745-92fbc9266092.png)
And o

[2020-03-20 22:29] patrick-east commented on #2211
One thing to note, as part of doing this we should get rid of any manual build & upload steps (as currently described in https://github.com/open-policy-agent/opa/blob/master/docs/devel/RELEASE.md#publishing )

[2020-03-20 22:33] tsandall commented on #2211
@caniszczyk have you heard how other projects are dealing with this?

[2020-03-20 22:36] caniszczyk commented on #2211
@tsandall we have a couple options, other LF projects have procured a cert from DigiCert but it takes some time for us to do this as we have to do some legal things behind the scenes, want to file a servicedesk ticket on this?

[2020-03-21 00:20] patrick-east opened #2214 "docs: Status API docs have rendering issue"
Over in https://www.openpolicyagent.org/docs/latest/management/#status

We have an issue where the `plugins[_].state` field is not showing correctly on the webiste:

![image](https://user-images.githubusercontent.com/3614287/77214974-eec64580-6ace-11ea-810d-e3d8352aa436.png)

Looks like we probably are just missing some markdown formatting (typo or something).

Source is in https://github.com/open

[2020-03-23 13:07] tsandall commented on #2211
I've filed a ticket at https://servicedesk.cncf.io/.

[2020-03-23 18:04] #2214 closed

[2020-03-23 18:06] #2208 closed

[2020-03-23 21:38] patrick-east commented on #2143
@isaeef Hi, just wanted to check in and see if there were any updates. Feel free to ping me on the OPA slack if there is anything I can do to help 😄

[2020-03-24 08:23] michaelwittig opened #2220 "Bundle's Etag is cached if activation failes"
I think I found a bug: If bundles come with an Etag header but fail during activation they are still considered “downloaded/activated” and activation is never retried.

# Expected Behavior

If a bundle can not be activated, the activation should be retried in the next cycle even if the Etag stays the same.

# Actual Behavior

If a bundle ca nnot be activated, the activation is never retried if the

[2020-03-24 08:32] michaelwittig commented on #2220
[code]

[2020-03-24 20:53] mikol opened #2222 "Allow `default ... := ...`"
# Expected Behavior

[code]

# Actual Behavior

[code]

# Additional Info

Maybe there’s a very good reason to reject `default ... := ...`. But from the surface, it seems arbitrary.

[2020-03-24 21:08] tsandall commented on #2222
It is somewhat arbitrary. The underlying reasoning is that rules declared with `:=` cannot be redeclared. Since `default` is only ever meaningful/useful when you have another rule with the same name, it doesn't make sense to use `:=`.

The reason not to permit `:=` on default is that people will almost certainly do something like...

[code]

...and then complain when it gets rejected.

[2020-03-25 01:11] patrick-east commented on #2220
This does indeed look like an issue, I think the original design assumed that if the bundle failed to activate it would have required an update (and a new etag) so none of the test cases look for this behavior.

I see in the bundle we do the "right" thing with the etag for the bundle status, only updating the etag if activation succeeds:

https://github.com/open-policy-agent/opa/blob/d0a760ce98abd

[2020-03-25 10:40] michaelwittig commented on #2220
Thanks @patrick-east I came to a similar understanding of the problem when looking at plugin.go/download.go.

Unfortunately, I'm not an experienced go programmer. If I had to rearrange a few lines I would feel comfortable making the change. But this requires go skills that I don't have.

[2020-03-25 14:48] tsandall commented on #2222
@mikol I'm going to close this for now. If you think we should revisit we can discuss it further.

[2020-03-25 14:48] #2222 closed

[2020-03-25 14:53] tsandall opened #2225 "Improve wasm library object/set implementation to provide constant-time lookup"
The object/set structures used by wasm-compiled policies are currently just implemented as linked lists. We should replace the initial implementation with a hashtable to provide constant-time lookup that users will expect.

[2020-03-25 15:08] tsandall commented on #2092
This was raised in the recent GK security audit.

[2020-03-25 17:39] patrick-east commented on #2220
@michaelwittig no worries! Its on the OPA teams radar now so its just a matter of time until someone picks it up

[2020-03-25 22:09] mikol commented on #2222
I’ll allow it 😉

[2020-03-25 22:16] tsandall commented on #2222
![i see what you did there](https://media.giphy.com/media/5gw0VWGbgNm8w/source.gif)

[2020-03-26 01:27] nischalsheth commented on #1841
@tsandall

One of my use-cases is a simple RBAC policy that matches based on `role` and `api-group` lists in the input. I have a relatively large number of rules, with a rule per (role, api-group) combination.

The list of roles in the input could have a handful of entries depending on the number of roles assigned to a user, say 5-10. The list of api-groups in the input typically contains a single

[2020-03-26 03:52] patrick-east commented on #2172
Testing out the latest OPA version (v0.18.0) to try and repro this. I do see the behavior where the memory usage seems to just continue increasing over time, but I do not believe that this is actually OPA's doing. If we force the golang to GC and release memory back to the OS the numbers (as seen from like external viewers) will do more like what you would expect.

For example, i have a json file

[2020-03-26 03:52] #2172 closed

[2020-03-26 07:11] fadycopty opened #2229 "Please provide actionable info for error "object value has non-string key (<nil>)""
# Expected Behavior
Error "object value has non-string key (<nil>)" show a line number and suggest a way to fix the problem

# Actual Behavior
The full error is "object value has non-string key (<nil>)"

# Steps to Reproduce the Problem

[2020-03-26 09:03] mjungsbluth commented on #2058
Apart from migrations there are two other use cases where this can be useful:
1) Token exchange: If you are on AWS you can use the build in AWS IAM support in OPA to avoid propagating static tokens in your infrastructure and use the discovery to exchange the information from the signed request to a bearer token to some other service. This way you don't have to do stuff like credential rotation in

[2020-03-26 11:57] #1251 closed

[2020-03-26 11:57] #501 closed

[2020-03-26 11:57] #2198 closed

[2020-03-26 11:57] #2199 closed

[2020-03-26 11:57] #2200 closed

[2020-03-26 11:57] #2201 closed

[2020-03-26 11:57] #2202 closed

[2020-03-26 11:57] #2203 closed

[2020-03-26 15:41] orangehaired commented on #1195
I am interested in this issue. I am a GSOC 2020 participant. Can I send a purpose for this? Is Issue still going?

[2020-03-26 16:25] tsandall commented on #1195
@orangehaired someone actually [worked on this last year](https://github.com/open-policy-agent/contrib/tree/master/opa-iptables) so it's not available anymore. Closing this issue to avoid confusion in the future.

[2020-03-26 16:25] #1195 closed

[2020-03-26 19:09] patrick-east commented on #2229
Thanks for filing an issue @fadycopty. Could you provide some additional context and/or steps to reproduce the problem?

[2020-03-28 06:32] povilasv opened #2233 "Publish arm64 binaries and container images"
# Expected Behavior

It would be great if it was possible to run open-policy-agent on arm64 architecture, via multi arch container images (https://docs.docker.com/engine/reference/commandline/manifest/#create-and-push-a-manifest-list)

Muliarch images show on dockerhub:

![image](https://user-images.githubusercontent.com/22289110/77816813-9a265a00-70ce-11ea-8248-f4e8ea59f1e6.png)

Those images sea

[2020-03-28 11:33] psibi opened #2235 "Potential issue with opa fmt when interacted via stdin"
# Expected Behavior

Should properly format and write out the code

# Actual Behavior

Produces no output. (This has a side effect of deleting the entire code when this is integrated with editors!)

# Steps to Reproduce the Problem

This is a sample step to reproduce:

[code]

Note that if `Ctrl-D` is pressed without entering a newline, it works as expected:

[code]

# Additional Info

This is muc

[2020-03-29 02:37] patrick-east commented on #2233
This should already be supported by just specifying the `GOARCH` option and building OPA from source.

Ex:

[code]

To make the container image for this you'd just need to grab the OPA source and use the `golang` base image (similar to what OPA does https://github.com/open-policy-agent/opa/blob/master/Makefile#L170) then copy the binary into the base image you want to use (see https://github.com/o

[2020-03-29 02:43] patrick-east commented on #2233
I think there are a few things we'd want to do to add support:

* Add arm binaries to be part of the "release" Makefile target(s)
* Add support for publishing multi-arch images
* Update travis to build/push the arm binaries with the others

[2020-03-29 03:03] patrick-east commented on #2235
I think this is normal, you either have to have a newline+ctrl-d or use two ctrl-d's to indicate that the input is done. If you do just a single ctrl-d it bash (not sure if its just bash, or linux, etc) just sends the line without an EOF. So you need either the newline or the second ctrl-d to get the EOF through.

You get the same behavior with other unix-y tools like (try it out with `wc` or some

[2020-03-29 04:17] psibi commented on #2235
@patrick-east

But I'm having a "newline + Ctrl-D" in the first example and it reproduces the bug.

[2020-03-29 04:27] patrick-east commented on #2235
Sorry! I totally misread the issue from the first example. That is _not_ normal 😄

[2020-03-29 04:35] patrick-east commented on #2235
Looks like this might be intentional behavior if there are no changes after formatting:

https://github.com/open-policy-agent/opa/blob/29d8fbbef6facc96d03be3e07473d12e38acd843/cmd/fmt.go#L161-L164

Will need to look into why it does that, and if we are OK with changing that behavior.

In the short term with the plugin if you can just check if it has nothing in stdout from `opa fmt` it should be as

[2020-03-29 09:59] brumer opened #2236 "OPA sends status reports without a reason"
# Expected Behavior
OPA sends status reports when bundles are downloaded and activated – If the bundle download or activation fails for any reason, the status update will include error information describing the failure. This includes Discovery bundles.

# Actual Behavior
OPA sends status reports after every download regardless if the bundle was activated or not.
(should not send a status report i

[2020-03-29 16:50] anderseknert opened #2238 "Include headers in http.send response object"
# Expected Behavior

Headers included in `http.send` response.

# Additional Info

Looking at a use case where we'd like to use OPA for policies on REST API endpoints, ensuring that they conform to certain guidelines (like allowing CORS requests, etc). To do this in-policy would however require the response headers to be part of the response object.

[2020-03-30 13:21] tsandall opened #2241 "Improve support for service bearer token refresh"
Service clients using bearer tokens should be able to refresh those tokens without requiring a process restart. We support this today for mutual TLS so we should be able to do something similar for bearer token usage.

The easiest solution (IMO) would be to add a new `services[_].credentials.bearer.path` configuration field (name TBD) that specifies the path of a file containing the bearer token t

[2020-03-30 14:07] tsandall commented on #2236
@brumer as of v0.17.0 OPA will send status updates to indicate that OPA _tried_ to download a bundle. This allows status API implementations to easily determine (via the last request timestamp) that OPA deployments are checking in. Can you elaborate on why this is a problem?

[2020-03-30 14:58] michaelwittig opened #2242 "[opa-istio-plugin] Wait for bundles on opa sidecar startup"
# Expected Behavior
The injected OPA sidecar does not wait to serve traffic until bundles are fetched

# Actual Behavior
1. The injected OPA sidecar starts
2. All request from now on are rejected if we rely on bundles
3. Bundles are downloaded
4. AuthZ works

# Additional Info
This issue can be fixed by adding the a probe here: https://github.com/open-policy-agent/opa-istio-plugin

[code]

Let me

[2020-03-30 15:14] brumer commented on #2236
In my deployment, I have a lot of OPA instances, each instance downloads a lot of bundles which causes the status reports to be sent none stop.
It got to the point I started to see CPU impact.

is it possible to have this reporting behavior configurable?

[2020-03-30 15:35] tsandall opened #2243 "Comprehensions containing unknown values should always be saved"
# Expected Behavior

Comprehensions containing unknowns cannot be inlined and their contents cannot be partially evaluated today because we cannot represent logical OR therein. As a result, PE should not attempt to evaluate them.

# Actual Behavior

In some cases, comprehensions containing unknowns get PE-ed which produces incorrect results. For example:

[code]

Running PE on this file demonstrat

[2020-03-30 15:36] tsandall commented on #2236
@brumer not today -- though we could add a flag that lets you disable reporting when OPA _attempts_ to download a bundle. This would reduce the # of status messages you see.

[2020-03-30 16:33] tsandall commented on #1295
The playground now supports links to line numbers. For example:

https://play.openpolicyagent.org/#L23

[2020-03-30 16:33] #1295 closed

[2020-03-30 17:43] patrick-east commented on #2242
Using a probe like:

[code]
Seems like the right solution. Seems like maybe just updating the docs and manifests we publish?

[2020-03-30 17:56] patrick-east opened #2244 "Docs search doesn't include top level ToC entries in results"
# Expected Behavior
If I search for "Kubernetes" in the search bar on https://www.openpolicyagent.org/docs/latest/ I would like to see the "intro" for the "KUBERNETES" ToC entry like  https://www.openpolicyagent.org/docs/latest/kubernetes-introduction/

# Actual Behavior
Instead I get links for things mid-way through that section of the docs:

![image](https://user-images.githubusercontent.com/361

[2020-03-30 17:56] patrick-east commented on #1736
I opened up https://github.com/open-policy-agent/opa/issues/2244 which i think is the last step in getting the docs search to be in a really good place. Going to close this issue in favor of the more specific one.

[2020-03-30 17:56] #1736 closed

[2020-03-30 18:30] #2140 closed

[2020-03-30 18:32] #2209 closed

[2020-03-30 19:37] tsandall opened #2245 "Improve performance of the profiling tracer"
The profiler is implemented on top of the tracing framework and as a result the evaluator plugs all of the in-scope local variables before invoking the profiler. The plug operations are expensive for large values and introduce significant overhead. Since the profiler does not actually require variables to be plugged (it just requires expression-level events) we could improve performance significan

[2020-03-30 21:36] patrick-east commented on #2235
Checked with the team and we're ok to make the behavior change to _always_ write the formatted policy to stdout.

[2020-03-30 21:52] #2091 closed

[2020-03-30 21:52] #2155 closed

[2020-03-30 22:57] patrick-east opened #2247 "OPA server can return result for wrong query when using `?partial`"
# Expected Behavior
Starting up the server with some test policies:

`policy.rego`
[code]
`data.json`
[code]

[code]

I should then be able to make multiple queries to the server with them affecting the results of each other:

`input.json`
[code]
First query for `allow`
[code]
Now for `user_has_role`
[code]
Back to `allow`
[code]
🎉
Success!

I should then be able to do the same thing with `?partia

[2020-03-31 04:36] shapled commented on #1263
[code]

Need to be explicitly declared as a bool type in some cases

[code]

Eval result:
[code]

[2020-03-31 06:15] psibi commented on #2235
Thanks @patrick-east for the quick update. :-) I'm happy that this is getting fixed!

[2020-03-31 06:27] michaelwittig commented on #2242
see https://github.com/open-policy-agent/opa-istio-plugin/pull/171

[2020-03-31 07:10] brumer commented on #2236
such a flag would be helpful, thanks.

[2020-03-31 19:01] patrick-east opened #2252 "Add config option to disable status updates on bundle download attempts"
A user may have many OPA's deployed using bundle services and a status API configured. As-is each OPA will report a full status update every time the bundle plugin attempted to download a bundle, even if there were no changes (ETag stayed the same).

This can create a considerable amount of extra load on the status server if the deployer doesn't have a need to keep track of a like "heart beat" for

[2020-03-31 19:02] patrick-east commented on #2236
I filed #2252 to track that enhancement.

[2020-03-31 19:02] #2236 closed

[2020-04-01 13:11] tsandall opened #2254 "Integrate coverage service into CI"
We need to integrate some kind of coverage service into OPA CI. Each PR should run with coverage enabled and reviewers should be able to see a coverage report for the portions of code that have been changed in the PR. We investigated Coveralls a few years ago but never rolled it out. That is probably a good place to start.

[2020-04-01 20:59] #1990 closed

[2020-04-01 22:29] patrick-east commented on #2053
Brainstorming some options:

1) When partial eval uses generated variables it injects "real" ones for saved things
    * Pros:
        * Should be pretty simple to implement
        * No impact on fmt round tripping, and users looking at the result likely don't care if there is a generated name vs "_"
    * Cons:
        * Likely some performance overhead, depending on how this gets implemented

[2020-04-01 23:15] patrick-east commented on #2053
Reading through the implementation a little more. It seems like we can maybe do a couple different things WRT what I outlined in my previous comment..

The `presentation` package calls into the formatter to display those queries. So if we were to update the formatter code to look for re-used wildcards and inject the parseable unique names we would be OK. We wouldn't even need to change the stringe

[2020-04-02 01:54] #2204 closed

[2020-04-02 06:40] prahaladdarkin commented on #1176
@tsandall  @anadon Was this issue resolved through a functionality addition in OPA? I have a similar use case where-in I would want to read data to be evaluated from SQL rather than store them up in memory.
@tsandall  I also agree with the fact that there should be a unified interface driven mechanism that allows clients to specify the store either through environment variables or request paramete

[2020-04-02 11:27] tsandall commented on #1176
@prahaladdarkin this issue has not been resolved. Over the last year the `http.send` function has matured however there are still improvements that could be made. We haven't done additional work in this area aside from showing how users can _extend_ OPA. I have heard of some users customizing OPA with logic that fetches data asynchronously and caches inside OPA's in-memory store. I've also heard f

[2020-04-02 11:44] #2081 closed

[2020-04-02 12:36] #2235 closed

[2020-04-02 14:26] michaelwittig commented on #2242
merged

[2020-04-02 14:26] #2242 closed

[2020-04-02 15:37] tsandall opened #2260 "Improve planner to generate lookup instead of scan on data"
# Expected Behavior

The planner should not generate scans unless necessary.

# Actual Behavior

When planning references against `data`, the planner will generate a scan if the ref contains a var even if the var has been assigned by the time the ref would be evaluated. References against `input` and locals are handled correctly. For example:

**Desired behaviour**
[code]

[code]

**Behaviour with

[2020-04-02 17:24] #2036 closed

[2020-04-02 18:10] #2143 closed

[2020-04-03 12:19] #2084 closed

[2020-04-03 19:29] patrick-east opened #2265 "Deprecate (and eventually remove) the `?watch` option from the REST API"
The `?watch` option for the REST API is not widely used (if at all) and adds quite a bit of complexity into the server.. which is prone to having bugs as a result of the additional complexity.

Due to it not really being used we should deprecate the option and eventually remove it altogether.

First steps:

* Log a depreciation warning whenever it is used
* Remove it from the documentation
* Mark

[2020-04-03 19:35] patrick-east opened #2266 "Deprecate (and eventually remove) the `?partial` option from the REST API"
**NOTE: This does not deprecate partial evaluation itself, just a REST API query parameter that triggers it on certain calls. Partial evaluation is still supported.**

The `?partial` option on the REST API will do a partial evaluation of the query, cache that, and then return the result. Subsequent requests will use the cached partial result to evaluate the query.

The downside to this is that par

[2020-04-03 20:01] patrick-east commented on #2229
@fadycopty I'm going to close this, if you have any more context or steps to reproduce please feel free to reopen

[2020-04-03 20:01] #2229 closed

[2020-04-05 02:08] jpeach opened #2271 "Change the `tls_use_system_certs` default to true"
The default for the `http.send` parameter `tls_use_system_certs` has always been false, but most users probably expect Rego to do some sort of server certificate validation, so using the system CA store by default seems like a more reasonable default.

Not sure about the compatibility aspects of this. If the default changes, then some validations that previously didn't succeed may now succeed.

[2020-04-05 21:08] jpeach commented on #2187
I found a case that I can't easily work around. I have a test suite where the test cases are expressed in Rego. One test case is that TLS is configured properly. If it is configured properly, the HTTPS request fails with a TLS alert. I can't handle this properly because from the test harness there is no way to know whether the Rego check expects the error or not. The harness also doesn't know that

[2020-04-05 23:46] jpeach commented on #2187
Proposal:

- If the response fails, set the `status_code` field to 0
- Capture the error message, either
  - capture the string in a new `error` field
  - capture the string in the `raw_body` field

[2020-04-06 12:48] #2238 closed

[2020-04-06 12:54] #2247 closed

[2020-04-06 16:15] idvoretskyi commented on #2211
@tsandall I'll take care of it since now, can you please assign the issue to me?

[2020-04-06 16:56] #2068 closed

[2020-04-06 16:56] #2069 closed

[2020-04-06 19:57] patrick-east commented on #2271
Yea.. not sure about that either. I tend to agree that most people would assume that system certs to be the default.

I'm OK with making the change. I think generally speaking the system CA certs are trusted (hence why they're packaged with the OS and/or curated by the system owner).

[2020-04-06 20:50] #2053 closed

[2020-04-06 21:27] patrick-east commented on #2271
Chatted with @tsandall about this briefly. We're good to make this change but we will need to enforce that if a user specified a specific CA file/env var and did not specify any value for `tls_use_system_certs` then we default to the old behavior of _only_ using the specified ones. So the behavior should be like:

| `tls_use_system_certs` | `tls_ca_cert_file`  or `tls_ca_cert_env_variable` | cert

[2020-04-06 23:08] jpeach commented on #2271
@patrick-east Yep, that table looks reasonable to me. I'll try to get to this, but it will be a little while :)

[2020-04-06 23:33] patrick-east commented on #2271
No worries, just us know when/if you get around to it and I'll assign the issue to you. Until then we'll leave it open for anyone to contribute.

[2020-04-07 02:09] ashutosh-narkar commented on #2243
Using the same example policy as in the issue description:

[code]

[2020-04-07 07:15] ashutosh-narkar commented on #2134
If we discard events where the expression location is `nil`, after slightly modifying the above script the result would look like:

[code]

@tsandall does this result look reasonable to you ?

[2020-04-07 09:08] srenatus commented on #2053
@patrick-east thank you! 😃

[2020-04-07 12:01] tsandall commented on #2134
I'd like to see the alternative of grouping expressions that have no location. Intuitively, I'm guessing that simply discarding events could be confusing because the tool could report only a small portion of the overall evaluation time. WDYT?

[2020-04-07 12:46] tsandall opened #2276 "Improve performance in queries that perform "group by" operations"
Rego doesn't support mutation and there's no explicit "group by" operation. As a result, when policies need to aggregate or group data by some key, they need to use a comprehension and close over values from inside the query. This leads to cross-products in Rego when implementations in other languages would have linear runtime. This can be seen going back all the way to the old scheduler policy. F

[2020-04-07 14:59] NewbMiao opened #2277 "prometheus section in monitoring had a wrong config"
# Expected Behavior

There is a wrong config in https://www.openpolicyagent.org/docs/latest/monitoring/#prometheus

# Actual Behavior

[code]
should be

[code]

# Steps to Reproduce the Problem

  1. `brew install prometheus`
  2. `promtool check config prometheus.yml`
  Or `docker run -p 9090:9090 -v $PWD/prometheus.yml:/etc/prometheus/prometheus.yml prom/prometheus`

# Additional Info

[2020-04-07 19:46] patrick-east commented on #2277
Thanks @NewbMiao !

Interestingly enough in https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config they show the default as being:

[code]

But I suspect that is old, there was a change at some point that looks like it renamed from `global_config` to just `config` https://github.com/prometheus/prometheus/commit/a703241bf8fb792f2bfe893b6675264538ecf704#diff-46feeb67

[2020-04-07 21:10] #2243 closed

[2020-04-07 21:28] patrick-east commented on #2151
Looks like this is fixed by 3719797b69ecbc9c6a0a3ee58406709bbc27322f

[2020-04-07 23:58] ashutosh-narkar commented on #2134
Agreed. Below is an example profiler output by grouping expressions that are missing location information:
[code]

[2020-04-08 01:00] patrick-east commented on #2134
Seems like using the fake location is the best one for now. Depending on the use-case it almost seems like it might be useful to group the time spent under the original location that is responsible for the generated code. Like for this example instead of `???` and `data.partial.__result__` we'd say `data.foo.p`, the other stuff is almost like an eval implementation detail for these cases.

[2020-04-08 06:01] ashutosh-narkar opened #2279 "docs: Management APIs doc for bundles has incorrect link"
In the [Multiple Sources of Policy and Data](https://www.openpolicyagent.org/docs/latest/management/#multiple-sources-of-policy-and-data) section of the Management APIs doc, the `Monitoring OPA` link in the **Warning** block is incorrect.  It should point to [this](https://www.openpolicyagent.org/docs/latest/monitoring/#health-checks).

Source: https://github.com/open-policy-agent/opa/blob/master/

[2020-04-08 15:34] WeiZhang555 opened #2281 "rego policy has poor performance"
# Expected Behavior

We're trying to implement some network traffic routing functions in our system with REGO policies, for the best performance, we choose to compile REGO  to WASM format and run it with [wasmer](https://github.com/wasmerio/wasmer) project.

The reason we choose WASM is that in our preliminary tests we found that WASM has better performance, we hope to use REGO to match HTTP heade

[2020-04-08 15:49] WeiZhang555 commented on #2281
The data.json format can be described with this piece of GO code:

[code]

[2020-04-08 15:50] WeiZhang555 commented on #2281
ping @tsandall  for help

[2020-04-08 16:17] tsandall commented on #2281
@WeiZhang555 Hi! Thanks for filing this with info to help reproduce. One comment and one question right off the bat:

* We don't support rule indexing for Wasm-compiled policies today so latency will grow linearly with the size of the ruleset (e.g., if 10K `allow` rules will take ~2x longer to evaluate than 5K `allow` rules.) This is NOT the case with the Go implementation. The Go implementation i

[2020-04-08 18:30] #2134 closed

[2020-04-08 19:52] tsandall commented on #576
This was fixed between v0.6.0 and v0.7.0.

[2020-04-08 19:52] #576 closed

[2020-04-08 21:18] #2117 closed

[2020-04-08 21:23] tsandall opened #2282 "Improve compiler performance for incremental load scenarios"
The current compiler implementation re-runs all stages on all modules each time the compiler is invoked. This is fine when policies are loaded in bulk, however, [when policies are loaded incrementally](https://github.com/open-policy-agent/frameworks/issues/79) this can be a problem.

After instrumenting the compiler we can see the time taken on various stages. The table below is for the incrementa

[2020-04-09 02:04] WeiZhang555 commented on #2281
@tsandall Thanks very much for your quick response!

Nope, in the `data.json` I provided above,

[code]

The ExactMatch used map(in rego it's Object) and it has 2 elements, since map is quite efficient, this won't be the bottleneck.

For each element in map, `[]TrafficSpec` has 100 elements,
For each `TrafficSpec`,  the `Conditions []Condition`  contains 50 `KVMap` in total.

To calculate the cond

[2020-04-09 03:53] WeiZhang555 commented on #2281
Is this problem solvable?  If true, do you have plan to improve WASM-compiled policy performance? @tsandall

[2020-04-09 06:34] anderseknert opened #2284 "Documentation on base/virtual document lost in upgrade"
# Expected Behavior

The docs used to have a section on the base document, virtual documents and their relation to policies: https://www.openpolicyagent.org/docs/v0.13.5/how-does-opa-work/

These docs were very useful to help connect the OPA dots!

# Actual Behavior

No current documentation covering the topic.

# Additional Info

There are still links scattered around in the docs pointing to the

[2020-04-09 12:30] tsandall commented on #2284
Thanks for filing this @anderseknert! We'll bring this page back (albeit not inside the intro) soon.

[2020-04-09 15:19] tsandall commented on #2281
The current eval latency on my machine with provided policy/data/input is ~145ms...
so ~145x higher than the requirement.

[code]

A lot of this just comes from the interpretive overhead. Simply iterating over all
of the conditions takes ~10ms:

[code]

Adding inclusive and exclusive statements on conditions increases the latency
to ~40ms. So by iterating over everything on each query, the budget

[2020-04-09 18:24] iondiode opened #2285 "Access config data from rego"
More of a question, than an issue.

# Expected Behavior

I should be able to bring a shared key value into the policy via configuration option

# Actual Behavior

I can't figure out how to do this

# Steps to Reproduce the Problem

I'm using the jwt.decode_and_verify() but the key is available only as an environment variable

How do I get this key into the rego? It seems like environment substitut

[2020-04-09 19:10] iondiode commented on #2285
Whoops! I found an answer opa.runtime()["env"]["MYVAR"]

[2020-04-09 19:10] #2285 closed

[2020-04-10 03:40] WeiZhang555 commented on #2281
I appreciate your time on this issue so much!  @tsandall

you provided I noticed that all of the specs for "test0.com" match the provided input.
Is this expected in your use case?

Nope, this is the worst case I believe, in real world, I guess only several rules could match.

you have 2 hosts in your example data set but how many would you expect in practice?

In our production system, we have mor

[2020-04-10 11:14] WeiZhang555 commented on #2281
Today I got some progress, after I changed the initial instance memory of policy WASM to much bigger number, the latency quickly decreased from 1.6s to 20ms.   As a contrast, `opa eval` costs about 170ms, which is 8.5x slower than WASM.

It's closer to our target now 😄

[2020-04-10 18:17] #2220 closed

[2020-04-10 18:17] #2279 closed

[2020-04-10 18:48] tsandall commented on #2281
@WeiZhang555 that sounds promising! Let us know if the performance is good enough with the larger heap size. If you need to reduce the time further, there is probably quite a bit of performance optimization that could happen in the query planner, wasm backend, and C code that would help. We'd have to do some profiling and analysis first.

[2020-04-11 00:29] #2241 closed

[2020-04-11 15:06] WeiZhang555 commented on #2281
@tsandall I will try more to decrease the latency to 1ms, thanks for your suggestion, I will read the codes and investigate more. 😄

[2020-04-13 13:52] tsandall commented on #2194
The `object merge conflict` error is generated when a recursive object merge is executed on two values and one of the values is not an object. If you specify `-D` on `opa build` the plan will be emitted and you can see where the merge conflict error would be occurring:

[code]

In this case `A` is the local variable referring to base documents (raw JSON) loaded into `data` and `B` is the local var

[2020-04-13 17:13] #2074 closed

[2020-04-13 17:36] koponen-styra commented on #1873
Having golang.org/x/crypto as a dependency sounds useful, indeed. I'm my limited experience with the library its exported APIs have been stable.

[2020-04-13 17:41] patrick-east commented on #1873
+1 for golang.org/x/crypto being pretty safe as a dependency

[2020-04-13 20:21] itaysk opened #2294 "Example for PartialResult is using PartialEval"
The example for `PartialResult` is using `PartialEval`. Probably a leftover from the deprecation of `PartialEval` https://github.com/open-policy-agent/opa/blob/master/rego/example_test.go#L389

[2020-04-13 23:41] patrick-east opened #2295 "opa fmt --list will always show the files"
# Expected Behavior
`opa fmt --list <some files>` should only list the files that required changes

# Actual Behavior
All files are listed, regardless of changes required.

# Additional Info
This was introduced as a regression in #2249

[2020-04-14 00:18] #2295 closed

[2020-04-14 17:48] mikaelcabot opened #2299 "opa fmt with else keyword"
# Expected Behavior

Running `opa fmt` on policy using `else` keyword I would not expect the formatting to change on a policy formatted like:

[code]

# Actual Behavior

Instead it looks like this:
[code]

# Additional Info

This is not a big deal for me as the policy is still valid in the eyes of OPA, but IMHO it looks like a formatting error.

PS: I really like OPA 🥇

[2020-04-14 21:26] patrick-east commented on #2299
Thanks for the bug report!

I agree that in this case it should have kept them in the more compact form.

[2020-04-15 01:18] jpeach commented on #2187
@patrick-east Do you have any thoughts about the proposal above? If we do that, would we need extra flags to switch the behavior?

[2020-04-15 06:17] arunbsar commented on #2206
@patrick-east I will work on this issue

[2020-04-15 08:27] NewbMiao commented on #2277
@patrick-east  Yep, but seems you had a tyro: `global_config`to `gloabl`

BTW. When i explore opa bundle and monitor stuff, i built some demo for this.
Hope it will be helpful for some newer to opa bundle:

https://github.com/NewbMiao/opa-koans/tree/master/bundle

[2020-04-15 12:50] liger1978 commented on #2162
https://copr.fedorainfracloud.org/coprs/harbottle/opa/

[2020-04-15 17:04] patrick-east commented on #2206
Thanks @arunbsar, let me know if you run into any issues with building/testing the docs (it can be kind of difficult sometimes)

[2020-04-15 17:22] patrick-east commented on #2187
Apologies for the delay! Unfortunately this fell off my radar 😞

I like the proposal (would lean towards the new `error` field) and yes, I think a new flag to switch behavior is probably the best way forward. In this case I would guess it would be too much of a backwards incompatible change if we do this for the default behavior.

[2020-04-15 17:28] itaysk commented on #2194
@tsandall Thank you! the issue was indeed that I didn't initialize the data object.
Before opening this issue I checked that the node.js version works without initializing data (I wanted the minimal example), but my check was faulty - I removed [the call](https://github.com/open-policy-agent/npm-opa-wasm/blob/master/examples/nodejs-app/app.js#L22) to `policy.set_data(data);` from my app, but after

[2020-04-15 17:28] #2194 closed

[2020-04-15 19:21] tsandall commented on #1786
Closing this issue for now. We can re-open if needed or if there are updates that indicates it's still a problem.

[2020-04-15 19:21] #1786 closed

[2020-04-15 19:27] tsandall commented on #2254
This is a dupe of #1276

[2020-04-15 19:27] #2254 closed

[2020-04-15 20:04] patrick-east commented on #2294
Good catch @itaysk! we should get that updated.

[2020-04-15 21:03] patrick-east opened #2303 "docs: OPA should provide a container with the correct versions of tools to build the website"
We document the tools required in https://github.com/open-policy-agent/opa/tree/master/docs#full-site-preview and briefly mention that the version of Hugo used is in the netlify config file... what we don't mention is that it really should be exactly that version of hugo if you want to be able to reproduce the build locally.

To make matters even worse it is currently not a simple process to insta

[2020-04-16 06:23] yehaolan opened #2304 "OPA re_match unexpected behaviors"
Result from the terminal:
[code]

I believe `*` means 0 or more characters. Why (1) and (2) are evaluated to `false`? And why (4) can cause an error?
Can it be consider as bug? If not, can someone explain why?
By the way, https://www.openpolicyagent.org/docs/latest/policy-reference/#regex does not provide enough details or examples. Is there any docs showing more examples or guidance on `re_match`

[2020-04-16 11:01] tsandall commented on #2304
@yehaolan in most regular expression syntaxes, quantifiers like `*` match preceding the token. That's why (1) and (2) produce false and why (4) produces an error.

You'll need to figure out what characters can exist in the different parts of these string identifiers. Assuming they can be word characters (a-z A-Z 0-9 _) then you could say:

[code]

Note that `*` matches zero or more and you probabl

[2020-04-16 12:23] tsandall opened #2306 "Remove -l flag from test subcommand"
In 8edf554c6092d2885e2c4feefe00980a11729997 we have marked the `opa test -l` flag as deprecated so we should remove it eventually.

[2020-04-16 14:42] AvivRubys commented on #2197
Thanks for your help @tsandall, unfortunately it looks like it's still broken.
I've updated the example repo's opa version to 0.19.1 which has your commit included. (Also tried with `0.20.0-dev-debug` docker tag)
When running `docker-compose run partial`, http 500 is returned with this body:
[code]

If, after one failed `partial` curl I try a non-partial curl, _no_ response is returned from OPA, a

[2020-04-16 16:46] #2277 closed

[2020-04-16 23:26] yehaolan commented on #2304
Make sense!
Thank you @tsandall. I am going to close the issue because it's not a bug.

[2020-04-16 23:26] #2304 closed

[2020-04-17 04:50] jpeach commented on #2187
Thinking out loud a bit ...

Rather than a per-request flag which seems burdensome, could we make a builtin API to specify HTTP client behaviors? Maybe it would be enough to expose the setting only in the Go API, and not force Rego police authors to toggle it ...

[2020-04-17 11:32] #1601 closed

[2020-04-17 19:56] arunbsar commented on #2205
@patrick-east I will pick this

[2020-04-17 21:06] #2299 closed

[2020-04-17 22:27] ashutosh-narkar opened #2317 "External Data page has incorrect link to OPA builtins"
In the [Pull Data during Evaluation](https://www.openpolicyagent.org/docs/latest/external-data/#option-5-pull-data-during-evaluation-experimental) section of the `External Data` doc, the link to `OPA builtins` points to `https://www.openpolicyagent.org/docs/`.

It should point to the [OPA builtin page](https://www.openpolicyagent.org/docs/latest/policy-reference/) or specifically the [HTTP builtin

[2020-04-20 13:18] tsandall commented on #2187
Adding another parameter on the request object doesn't feel like a huge deal to me. If policy authors find it annoying they could always wrap `http.send` with their own function in Rego.

That said, I'm not opposed to another version of `http.send` as long as we keep code duplication to a minimum, in fact, I could imagine extending `http.send` with the parameter anyway and then just implementing t

[2020-04-20 13:22] tsandall opened #2319 "Navigation links wrapping incorrectly on the website"
# Expected Behavior

<img width="994" alt="Screen Shot 2020-04-20 at 9 21 40 AM" src="https://user-images.githubusercontent.com/238885/79756295-6f53ae00-82e8-11ea-8d42-856bda07b497.png">

# Actual Behavior

<img width="1182" alt="Screen Shot 2020-04-20 at 9 21 14 AM" src="https://user-images.githubusercontent.com/238885/79756260-6236bf00-82e8-11ea-9a2f-2cbb59733748.png">

[2020-04-21 12:31] tsandall opened #2320 "Panic in array.slice built-in due to incorrect clamping"
This is easy to reproduce:

[code]

[2020-04-21 12:38] #2284 closed

[2020-04-21 12:51] tsandall opened #2323 "Update the changelog script to include author in the oneliner"
We like to recognize people for contributing to OPA by including a mention of them in the CHANGELOG. Today is this is somewhat ad-hoc and requires manual edits to the generated CHANGELOG updates. It would be better if the changelog script (build/changelog.py) was smart enough to figure out the GitHub name of the person.

[2020-04-21 13:13] tsandall opened #2324 "Add missing io.jwt.verify_<alg> built-in functions"
We only support the following explicit verification functions today:

* `io.jwt.verify_rs256`
* `io.jwt.verify_ps256`
* `io.jwt.verify_es256`
* `io.jwt.verify_hs256`

However, under the hood the `io.jwt.decode_verify` function (which is a catch-all, try to "do the right thing" option) supports several other algorithms (see https://github.com/open-policy-agent/opa/blob/master/topdown/tokens.go#L499

[2020-04-21 16:29] nitishm opened #2325 "OPA not applying mutating webhook to Deployment"
# Expected Behavior
Based on the mutating-webhook example from the repository, the mutation must occur on the tagged Deployment

*Deployment with annotation as the trigger* - nginx-deployment.yaml
[code]

*Rego policy* - main.rego
[code]

*Request and response from opa container logs*
[code]
# Actual Behavior
No mutations occur on the deployment object. Response code 204 with no response body

# S

[2020-04-21 18:11] #2320 closed

[2020-04-21 18:54] patrick-east commented on #2325
I think there are maybe a couple things to check on.

If the yaml you specified is how OPA was deployed, in particular the `args` for the `opa` container and the `ConfigMap` defining `data.system.main` then the result you are seeing makes sense.

The `main.rego` mutation policy you defined specifies:
[code]
so the fully qualified path to its `main` is `data.library.kubernetes.admission.mutating.ma

[2020-04-22 11:41] Izano007 commented on #1027
Hii all i just started working on opa and i know it's a silly please help me. So, my question is that i've data.json, input.json, and my .rego file all in same folder how will run this policy against data and input.
what i am asking here is opa command to do the same. i've alread imported all json to the .rego file.

[2020-04-22 13:49] tsandall commented on #1027
@Izano007 see https://www.openpolicyagent.org/docs/latest/#2-try-opa-eval.

[2020-04-22 14:35] Izano007 commented on #1027
i ran this command ./opa eval -i input.json -d data.json main.rego . but i'm getting error as

{
  "error": [
    {
      "code": "rego_unsafe_var_error",
      "message": "var main is unsafe",
      "location": {
        "file": "",
        "row": 1,
        "col": 1
      }
    },
    {
      "code": "rego_unsafe_var_error",
      "message": "var _ is unsafe",
      "location": {
        "file":

[2020-04-22 14:48] tsandall commented on #1027
Try `./opa eval -i input.json -d data.json -d main.rego '<put your query here>'`

[2020-04-22 15:11] Izano007 commented on #1027
my input.json is :

{
        "container_id":"563",
        "installation_date": "12/04/2018",
        "build_hosts": "kjsdbcuyh23456",
        "signature_key_IDs": "jkzvkajcgsic34567sd"
}

and my data.json is :

{
   "container": [

      {
         "container_id":"563",
         "installation_date": "12/04/2018",
         "build_hosts": "kjsdbcuyh23456",
         "signature_key_IDs": "jkzvkajcgs

[2020-04-22 15:14] Izano007 commented on #1027
Sorry msg = sprintf("return decryption key") is commented. ignore it in the code.

[2020-04-22 15:22] tsandall commented on #1027
You're querying for `data.example.allow` but the rules are defined under `package data.example.rules`. Change the query.

Please take some time to read through the Introduction. Also, you can check out this writeup on the OPA document model that explains some of this in more detail: https://www.openpolicyagent.org/docs/edge/philosophy/#the-opa-document-model

[2020-04-22 15:37] Izano007 commented on #1027
will do @tsandall and thanks for the help :)

[2020-04-22 20:33] nitishm commented on #2325
So I made some progress by making the changes.

I also updated my `main.rego` file as,

[code]

Now I tested this with [regoplayground](https://play.openpolicyagent.org/p/8PdK7j7HVB)
which returns,

[code]

I see the same results in my decision logs, but I still do not see the patch being applied to the `Deployment` ?!?!
Result from opa logs
[code]

Is the patch being returned as an Array the prob

[2020-04-22 20:44] nitishm commented on #2325
I also see a bunch of errors for opa validating-webhook invocations in the api-server logs
[code]

The entire setup is based on https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/, just replacing ingresses with Deployments and using the rego file provided in the ticket

[2020-04-22 20:49] nitishm commented on #2325
Ah nvm I figured out what the problem was,

I didnt have the mutatingwebhookconfiguration resource deployed in my last attempt.

Thanks for your help @patrick-east

[2020-04-22 20:49] #2325 closed

[2020-04-23 01:58] katsew opened #2331 "json.unmarshal unmarshals an invalid json in some cases"
Hi, I wrote some tests in conftest, which is implemented on top of opa.
I hit an unexpected result in some cases with `json.unmarshal`.

Here is an example to reproduce the issue.
https://play.openpolicyagent.org/p/XS3RGihDpm

# Expected Behavior

It should be panicked when invalid json is passed into `json.unmarshal`.

# Actual Behavior

`json.unmarshal` succeeded.

# Steps to Reproduce the Probl

[2020-04-23 07:09] Izano007 commented on #1027
okay so changing th equery from data.example.allow to data.example.rules gave me the result as True.
but when i tried executing this command ./opa run --server main.rego and in the browser i ran http://13.21.53.36:8181/v1/data/example/rules/allow, this is giving me the result as false.
my data, input and .rego files all are in same directory.

any help is appreciated.

[2020-04-23 10:33] tsandall commented on #1027
See the links above. When you're running OPA as a server you have to supply the input in the HTTP request: https://www.openpolicyagent.org/docs/latest/#4-try-opa-run-server.

[2020-04-23 10:38] Izano007 commented on #1027
i did supplied the input using this command in the other terminal : curl localhost:8181/v1/data/example/rules/allow -d '{"input": {"container_id":"563","installation_date": "12/04/2018","build_hosts": "kjsdbcuyh23456","signature_key_IDs": "jkzvkajcgsic34567sd"}}'

it still is giving false.

[2020-04-23 11:04] Izano007 commented on #1027
i've a question that is while running this command ./opa run --server ./main.rego from where does opa get data.json to evaluate the policy?

[2020-04-23 11:12] Izano007 commented on #1027
shall i import both data.json and input.json into the polocy code?

[2020-04-23 11:14] Izano007 commented on #1027
policy*

[2020-04-23 12:04] tsandall commented on #1027
OPA will not automatically load data files--you need to specify them explicitly. `./opa run -s ./main.rego ./data.json`. This is probably why you're getting `false` above.

[2020-04-23 12:25] Izano007 commented on #1027
it worked. @tsandall Thank you soo much.

[2020-04-23 18:13] patrick-east commented on #2331
Looks like the problem might be with how the decoding is happening. Under the hood we are using `encoding/json`'s decoder https://golang.org/pkg/encoding/json/#Decoder.Decode which decodes the *next* json encoded value.. so in the example from the playground `{ "k": 1 }{}}` it seems like it will decode the first valid part `{"k": 1}` and returns it without checking anything else. A quick look at t

[2020-04-23 19:35] andriyfomenko opened #2334 "defining your own function breaks "opa eval .. -- profile", yet policy evaluates fine in VSCode"
Reduced sample

[code]

Environments:
1. VSCode
2. CLI: "opa eval -i ../input -d test/generated --profile --format=pretty data.authorize"

# Expected Behavior

"authorize" should evaluate to "true" in any execution context, VSCode and CLI.

# Actual Behavior

1. VScode executes just fine, as expected.

2. CLI always returns "false", but if "allow" is commented out or converted to be NOT a function

[2020-04-23 19:47] patrick-east commented on #2334
I tried to reproduce this but am not seeing the "false" result with the reduced sample:

[code]

Can you share more detailed steps to reproduce the issue?

[2020-04-23 20:38] koponen-styra commented on #1951
This is done. The golang wasm SDK uses topdown.GetBuiltin for this exact purpose.

[2020-04-23 20:38] koponen-styra commented on #2225
This is done.

[2020-04-23 20:43] tsandall commented on #2225
Fixed by #2328

[2020-04-23 20:43] #2225 closed

[2020-04-23 20:46] tsandall commented on #1951
Fixed by #2120.

[2020-04-23 20:46] tsandall commented on #1951
@waynr if you (or anyone else!) is looking you can find the golang-opa-wasm SDK here: https://github.com/open-policy-agent/golang-opa-wasm

[2020-04-23 20:46] #1951 closed

[2020-04-23 23:08] jingnanzhou opened #2336 "OPA APIs Enhancement"
# Expected Behavior
In OPA GO library,  when creating a new rego via  rego.New, we would like to directly use string or byte[] for policy input, not via file name  to load string/byte[] (via rego.Load )

[2020-04-23 23:18] patrick-east commented on #2336
You can do that via the `Module` option https://godoc.org/github.com/open-policy-agent/opa/rego#Module

You still have to provide a "filename" but its really just metadata (used in error messages and stuff)

[2020-04-23 23:32] patrick-east commented on #2336
Update: For `input` you can use the https://godoc.org/github.com/open-policy-agent/opa/rego#Input

Example: https://godoc.org/github.com/open-policy-agent/opa/rego#example-Rego-Eval-Input

[2020-04-24 10:59] psibi opened #2338 "Issue with OPA repl on iterating"
# Expected Behavior

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

[code]

# Additional Info

@tsandall added some additional info in Slack:
[code]

[2020-04-24 11:11] tsandall commented on #2338
For expected behaviour here I'd want to see the same thing we get if you substitute true for any other value except false:

[code]

[2020-04-24 11:14] #2045 closed

[2020-04-24 13:05] tsandall opened #2340 "units.parse_bytes does not support standard Kubernetes suffixes"
The following errors because "Mi" is not considered valid. However, since this built-in was originally added to support resource quantities in Kubernetes, it seems like a bug to me.

[code]

Perhaps we just need a powers-of-2 conversion string conversion? E.g., `units.parse_pow2("128Mi")`

[2020-04-24 14:01] tsandall commented on #2338
If anyone wants to work on this, feel free to ping me and I can provide some pointers.

[2020-04-24 16:27] andriyfomenko commented on #2334
It looks like as I reduced sample to the gist of it, the issue could not be reproduced anymore...

Here is the ZIP of the full original example: https://drive.google.com/file/d/1aHo180RRUWSNGeoqrf9vU6lw3fufhKpw/view?usp=sharing

please view the authz.rego file

we are evaluating "authorize" rule, line 30

if you execute that in VSC, it will evaluate to "true" on the test data provided

if you try

[2020-04-24 17:04] tsandall commented on #2336
@jingnanzhou let us know if you need more pointers or if there's some gap in the Go API that needs to be filled.

[2020-04-24 18:13] SidharthBansal commented on #2336
I will be happy to participate in Community Bridge with OPA
https://github.com/cncf/mentoring/blob/master/communitybridge/2020/q2/project_ideas.md
Shall anyone help me on how to get started?

[2020-04-24 19:57] jingnanzhou commented on #2336
@tsandall Thank you for following up.  @patrick-east provided very helpful information.  For this particular issue, we can close.  We are extensively using OPA Go Library, I am sure we will discover more gaps. Thanks for support again

[2020-04-24 19:57] #2336 closed

[2020-04-24 22:10] patrick-east commented on #2206
This was fixed in #2309

[2020-04-24 22:10] #2206 closed

[2020-04-24 23:00] patrick-east commented on #2334
What version of the VSCode plugin do you have installed? Just want to make sure it matches up with my system.

Can you share the CLI commands used? I see
[code]
But i'm not sure what directory structure that's using (I don't see a `test/generated` path in the source)

With the source in vscode and on the CLI I'm getting the same results for both (using the equivelent CLI command as what the VSCode

[2020-04-25 03:38] zyy17 opened #2341 "Add metrics in OPA-WASM library"
I'm working with OPA wasm for a while and develop the easy metrics(only counter) mechanism in OPA-WASM library to display the execution times of the low-level functions.

For example,  if we are interested in how many times of `opa_strncmp()` runs, we can add counter in the entry:

[code]
We provide the metrics counter to collect all the metrics and `dump_metrics()` function to print all the metri

[2020-04-25 16:20] tsandall opened #2343 "Plugin manager/bundle activation race condition"
There is a race condition in the plugin manager whereby the bundle plugin can be started and finish activating the first bundle before the plugin manager registers a trigger on the store. If this happens then the manager does not see the first bundle activation and then subsequent queries can see inconsistent state (e.g., API calls that do not use the compiler but only access the store will return

[2020-04-26 12:10] tsandall opened #2345 "Improve support for handling undefined inside of queries"
It's often necessary to select a nested field out of a document but fallback to a default value if the referenced field is undefined. In the past users could write a helper function to assist with this, however, over time we ended up adding the `object.get` built-in function to make it easier.

Programming languages don't typically include this type of feature--it's just implemented in libraries.

[2020-04-26 12:12] tsandall commented on #1617
This issue has been addressed: https://www.openpolicyagent.org/docs/latest/policy-reference/#objects with the exception of the full-blown JSON Patch built-in. However, we have `json.filter` (selecting nested fields) as well as `json.remove` (removing nested fields), so I think we're in a good place.

[2020-04-26 12:12] #1617 closed

[2020-04-27 12:48] tsandall opened #2347 "Add flag to disable full inlining during partial evaluation"
By default partial evaluation inlines as much of the policy as possible. It would be useful to have a partial evaluation mode that does not change the policy structure when statements depend on unknowns.

1. Fully evaluate all statements without dependencies on unknowns (like we do today)
2. Leave policy structure in-place when statements depend on unknowns

(2) means disabling inlining on virtual

[2020-04-27 15:30] BrunoCode opened #2348 "Proposal: Allow custom plugins to create metrics"
# Proposal: Allow custom plugins to create metrics

## Explanation

OPA exposes useful prometheus metrics on the /metrics endpoint. Unfortunately there seem to be no way for custom plugins to add to those metrics.

## Use Case

Imagine you create a plugin that calls an external REST api and you want to be able to track some metrics for those api calls (e.g. duration and count).

You can imagine a

[2020-04-27 17:17] andriyfomenko commented on #2334
Patrick, it looks like I lost an ability to reproduce it in my environment.

I used to have two directories with sym-linked .rego files and it was reproducible when I opened the ticket, it was in this semi-working state what I complained above, but now this problem is gone.

On the positive side, now "opa eval .. " positively breaks when I opened it in the directory where the data is local and .re

[2020-04-27 17:17] #2334 closed

[2020-04-27 18:36] patrick-east commented on #2334
No worries 😄   Glad its working now!

[2020-04-27 19:34] #2205 closed

[2020-04-27 22:26] #2343 closed

[2020-04-27 23:08] patrick-east commented on #2348
I would lean towards option #1, I think we're in a pretty good spot where we avoid global registries so we should try and maintain that if possible.

For steps B and C we'd probably want to decide if it should be kept behind the `metrics.Metrics` abstraction or `prometheus.Provider`. If we keep it abstracted the plugins would need to potentially do some interface casting, but keeps the API a littl

[2020-04-28 17:28] arunbsar commented on #2319
@tsandall I will work on this

[2020-04-28 19:26] twisted-sres commented on #2059
Hey, If nobody has been working on this, can this be proposed for CommunityBridge?

[2020-04-28 19:27] twisted-sres commented on #1085
Hey, If nobody has been working on this, can this be proposed for CommunityBridge?
I would be happy to work on this

[2020-04-28 20:01] ashutosh-narkar commented on #2059
Thanks @twisted-sres for your interest ! We've proposed this project for CommunityBridge. PR [here](https://github.com/cncf/mentoring/pull/197).

[2020-04-28 23:26] tsandall opened #2353 "panic during compile if else body missing"
The compiler panics during one of the rewriting stages because it seems like the parser is emiting rules with an empty body:

[code]

We should address this at parse-time.

[2020-04-29 01:06] patrick-east opened #2354 "Chained rule head locations could be improved"
Follow on from the thread in https://github.com/open-policy-agent/opa/pull/2337#issuecomment-620774527

As-is the parsed AST node locations for a chained rule's head are set (recursively) to be the same as the rule body. This leads to some inconsistency when compared to a normal rule.

For reference this happens in https://github.com/open-policy-agent/opa/blob/f7747e7826e5be13c16336c1d09ab9f940274

[2020-04-29 01:29] patrick-east commented on #2341
Thanks for submitting this proposal @zyy17 !

Can you share more about the use-case for these types of metrics? Is this primarily for the development of the WASM internals for OPA, or to modify the policy to reduce evaluation time?

Stepping back a little bit from the WASM specific part of this, there are two main sets of metrics that users/devs have access to for OPA using the golang API's, CLI,

[2020-04-29 08:20] vgramer commented on #1085
Yeah sure.
Please ping me on opa slack so we can start taking about that.

Slack id `vgramer`

[2020-04-29 10:02] VineethReddy02 commented on #2059
@ashutosh-narkar I have a couple of questions & thoughts here
1. So why are we specifically targeting MongoDB?
2. Do we have any advantages of using MongoDB over the traditional approach?

Why shouldn't we consider a gRPC plugin-based architecture were OPA works as gRPC client and sends out the rego queries to a gRPC server here the logic of query translation resides. By this model, we are buildin

[2020-04-29 10:36] #2058 closed

[2020-04-29 11:07] tsandall commented on #2348
Thanks for filing this @BrunoCode!

Based on the conversation from the OPA biweekly yesterday I think the right next step would be to propose a set of interfaces (maybe just one) that would allow plugins to report metrics. I could imagine the interface living inside the `github.com/open-policy-agent/opa/plugins` package or perhaps a subpackage. We'd like to avoid putting a package dependency on Pr

[2020-04-29 11:19] tsandall opened #2355 "CI should ensure that build leaves working copy in a clean state"
The CI should ensure that builds do not leave the working copy in a dirty state. The build process generates a few files that are committed back into the repository. If developers accidentally forget to commit (or commit the wrong version of) generated files into the repo, the CI should catch this and treat as an error.

A simple check that runs `git status` at the end and exits if there are any c

[2020-04-29 11:21] zyy17 commented on #2341
@patrick-east Thank you for your response!

When I add metrics in OPA-WASM library, I have found two questions that related to the performance:

- Too more `__builtin_wasm_grow_memory()` calls because of less memory allocation by wasm runtime;

- Too more `opa_value_iter()` calls  because of planner Bug #2260 ;

Because I'm not so familiar with the core logic of planner and `internal/wasm`, I need

[2020-04-29 15:14] tsandall commented on #2281
@WeiZhang555 I'm going to close this for now. Also, in #2328 we improved set/object implementations to use hashtables (they were using linked lists before) so the performance should be more inline with expectations (e.g., object lookup is constant-time now as it should be.)

[2020-04-29 15:14] #2281 closed

[2020-04-29 15:55] andriyfomenko opened #2359 "calling functions from HTTP API"
# Expected Behavior

POST /v1/query
{
"input": ...,
"query": "my_var := data.my_package.my_function(..)"
}
I'm expecting to get result similar to the one I would get if evaluating my function in VSC

# Actual Behavior

My result is empty, trying to check for input shows it is not getting recognized

What is the right way of making a query where input is injected from the POST and I evaluate some f

[2020-04-29 17:54] BrunoCode commented on #2348
Fantastic I'll get right on that.

[2020-04-29 18:19] ashutosh-narkar commented on #2059
Thanks for your interest @VineethReddy02 ! MongoDB is a popular database and we already have ES and SQL integrations, so we proposed MongoDB. I haven't explored the gRPC approach and it would be good to have more details on that. OTOH, having the library OPA integration has its own advantages like low latency etc and since MongoDB has a Go driver we can leverage that as well.

[2020-04-29 18:47] ashutosh-narkar commented on #2359
I believe you would have to wrap your function in a rule and call the rule. For example:

_policy.rego_
[code]

Query the `allow` rule:
[code]

[2020-04-29 19:10] ashutosh-narkar commented on #1085
@vgramer if you would like to propose the project for CommunityBridge, you would need to add it [here](https://github.com/cncf/mentoring/blob/master/communitybridge/2020/q2/project_ideas.md#opa) with a description similar to [this](https://github.com/cncf/mentoring/blob/master/summerofcode/README.md#intellij-plugin-to-experiment-with-and-visualize-policy-evaluation).

The deadline is May 1st 2020.

[2020-04-29 19:26] patrick-east commented on #2341
That makes perfect sense, and I think makes a good case for this type of metric being useful for developers working on OPA. Like you said, without being familiar with the planner logic having that extra observability is important.

+1, I think that we would probably want these types of metrics to be exposed only for OPA developers, or very advanced users. Similar to the `pprof` category of metrics

[2020-04-29 19:47] #2353 closed

[2020-04-29 21:39] aaahrens opened #2362 "panic: unable to start write transaction when store was provided"
# Expected Behavior
Just to Evaluate the query

# Actual Behavior
Crashes

# Steps to Reproduce the Problem

  1. Use code snippet below on any dummy main.rego file

# Additional Info
Code snippet is below, I think this is expected behaviour but can't seem to find examples that provide a workaround.

[code]

[2020-04-29 21:47] andriyfomenko commented on #2359
thanks for explanation!
I was under impression I'm doing something wrong.

[2020-04-29 21:47] #2359 closed

[2020-04-29 22:00] patrick-east commented on #2362
When using `rego.Load` https://godoc.org/github.com/open-policy-agent/opa/rego#Load OPA will need a "write" transaction for the store. What you've got right now is the default, which is a "read" transaction.

There is an example that shows how to create and use a write transaction over in https://godoc.org/github.com/open-policy-agent/opa/rego#example-Rego-Eval-Transactions

[2020-04-29 22:02] aaahrens commented on #2362
Thank you!  (Also thanks for your insanely fast response) :D

[2020-04-29 22:02] #2362 closed

[2020-04-29 22:04] #2317 closed

[2020-04-30 08:39] ajoysinhactc opened #2363 "open policy agent - OPA - How to use --config-file from kubernetes configmap object"
**_This is a query rather than an issue_**

1. OPA installed as a sidecar in Kubernetes
2. Policy will be managed as bundle
3. OPA policy will be stored and served from a separate service [ Bundle ]
4. OPA need to be configured using config-file to get the policy from external service
5. config-file will be stored as a config map in kubernetes.
6. That config map need to be used in --config-file

[2020-04-30 09:57] ajoysinhactc commented on #2363
I have found the answer and it is as below
[code]

[2020-04-30 09:57] ajoysinhactc commented on #2363
Closed

[2020-04-30 09:57] #2363 closed

[2020-04-30 10:36] sresthas opened #2364 "eval.go is using PartialEval instead of PartialResult"
It is using PartialEval instead of PartialResult, PartialEval is deprecated.
 https://github.com/open-policy-agent/opa/blob/master/topdown/eval.go#L1920

[2020-04-30 10:38] brumer opened #2365 "possible race in decision logs"
# Expected Behavior
Decision logs should be written with the correct bundles loaded at the time of the decision

# Actual Behavior
We are loading bundles into OPA using the discovery bundle feature.
We noticed a situation where a query that depends on data loaded from a bundle returned an unexpected result.
The decision log for that query shows that the bundle was loaded with the correct revision.

[2020-04-30 12:48] #1885 closed

[2020-04-30 12:55] tsandall opened #2367 "Integration doc has two compile errors in example Go code"
The Go integration section in https://github.com/open-policy-agent/opa/blob/master/docs/content/integration.md contains two errors in the example code:

1. `module` is not defined anywhere. `module` should be defined as a string variable that contains the example policy from earlier in the page.

2. `context.Context` should just be `ctx.

[2020-04-30 17:31] tsandall opened #2368 "Reference to virtual doc defined by complete rule saved with incorrect binding list"
Given the following rules:

[code]

The query `p = true` should generate:

[code]

However the current output is `input[x2]`. The problem is that the binding list being saved for the expression `r[x]` is not correct in this case.

[2020-04-30 18:25] patrick-east commented on #2364
Hi @sresthas , can you elaborate more on the issue? I'm not sure that this applies to the `topdown` package.

[2020-04-30 18:31] patrick-east commented on #2365
Thanks for the bug report @brumer

If you can provide a few more details it would greatly aid in getting a fix for this:
* What version of OPA did you see the issue with?
* What configuration was used (in particular decision logs, discovery, bundles, etc)
* How was OPA run (eg. stand-alone`opa run -s`? Golang API's? etc)
* Does this occur only at startup (initial discovery bundle load?) Or any cha

[2020-04-30 18:53] #2049 closed

[2020-04-30 18:53] #2355 closed

[2020-04-30 20:09] sresthas commented on #2367
Can I take this up?

[2020-04-30 20:10] sresthas commented on #2364
I am not sure, I just opened it because I thought PartialEval is deprecated. This case might be an exception.

[2020-04-30 20:11] sresthas commented on #2196
Can I take this up? Some pointers would be helpful

[2020-04-30 22:09] patrick-east commented on #2196
@sresthas Sounds good. This one will require digging into some of the documentation and code for https://github.com/spf13/cobra

I think the first thing to confirm is where the error is happening and _why_.

Based on the error message I think the problem is with the CLI argument string for https://github.com/open-policy-agent/opa/blob/9d1b42d07a156307ff0ef5bc4ddd9ce17c9b6975/cmd/eval.go#L221 and p

[2020-04-30 22:11] patrick-east commented on #2367
@sresthas I've assigned the issue to you, let us know if you need any guidance.

[2020-05-01 02:54] #2331 closed

[2020-05-01 11:59] #2276 closed

[2020-05-02 19:16] danielpops opened #2374 "opa-istio-plugin binary missing version, host, etc information"
With the latest in master on github.com/open-policy-agent/opa-istio-plugin, the version, commit, timestamp, hostname here is the repro:

[code]

[2020-05-02 20:46] danielpops commented on #2374
I *think* this has something to do with the go version upgrade, because if I try to build an older version of this repo (commit sha edcf8b3c6f886a8eed2c4e60e1c8fcf5f0041c1b, right before the go 1.13 upgrade) the version information is populated, and if I upgrade to go 1.13 and try to build that same commit sha, I get no version information. Correlation is not causation, but htat seems pretty promi

[2020-05-02 21:11] danielpops commented on #2374
I guess something related to vendoring changed, as the following diff appears to fix the issue:

[code]

[code]

I'll create a PR for this

[2020-05-03 09:11] brumer commented on #2365
Thanks for the quick response @patrick-east

- The OPA version being used is v0.17.3
- OPA is being run with `opa run --server --pprof --log-level=error --config-file=config.yaml`
- The configuration used is for discovery configured with bundles, status reporting and decision log plugin (specifically using [this example](https://www.openpolicyagent.org/docs/latest/extensions/#putting-it-together)

[2020-05-04 16:31] tsandall commented on #2359
Just to add to what @ashutosh-narkar said, you _can_ execute ad-hoc queries today for example:

[code]

Results in:

[code]

The response contains a result set (i.e., a set of variable assignments that satisfy the query). In this case, there is one assignment to `x` that satisfies the expression `sort([3,2,1])`. If there are no variables in the query the result set will contain empty objects:

[co

[2020-05-04 17:52] patrick-east commented on #2365
I suspect that this issue has been corrected by https://github.com/open-policy-agent/opa/commit/05761a8dec20f4f8e28cfc643d7b9297072abf98

Previously the decision logger was able to be out of sync with the storage transaction used for the query, which would have affected what revisions it reported.

@brumer any chance you could verify the issue is resolved with the current `edge` version of OPA?

[2020-05-04 19:01] #2368 closed

[2020-05-05 07:45] brumer commented on #2365
Unfortunately, I don't have a way to recreate this issue but looking at the commit I think moving `s.getDecisionLogger()` inside the storage transaction fixed it.

Thanks for the help!

[2020-05-05 07:45] #2365 closed

[2020-05-05 17:51] Syn3rman commented on #2059
Hey @ashutosh-narkar,

I'd like to work on this idea under community bridge, so could you tell me whether opa has a slot for q2 2020?

I've gone through the documentation and the blog posts, and I'll start working on some issues tomorrow to get familiar with the codebase.

The implementation would be similar to the [rego to sql converter](https://github.com/open-policy-agent/contrib/blob/master/da

[2020-05-05 18:03] sresthas commented on #2059
@Syn3rman Yes, OPA has a slot for q2 2020. I am also planning to apply for the same.

[2020-05-05 20:17] #2374 closed

[2020-05-06 08:46] GBrawl commented on #2324
Hi there! I finished implementing those builtins, but got a little stuck writing tests, I see there is already a public key, certificate and jwk here:

 https://github.com/open-policy-agent/opa/blob/master/topdown/tokens_test.go#L867

And I would like to reuse this one in my tests, but I can't seem to find the matching private key, can you help me find it so I can generate new JWTs with it? I coul

[2020-05-06 11:20] Izano007 commented on #1027
Hi all,

I'm stuck here with an small issue that is whenever i'm running my opa server from this command( ./opa run --server ./main ./data) it is throwing error that is : error: 1 error occurred during loading: ./main.rego:15: rego_parse_error: no match found
        some i
my main.rego file is:

package example.rules

default allow = false

allow[msg] = {
        some i
        data.container[i].

[2020-05-06 11:53] Syn3rman commented on #2323
Hey @tsandall,

I'd like to give this a shot, so can I try this if this is still open?

This would aim at adding the author to the changelog so that it looks something like `<fix> <fixed by> <author>` right?

Also, I tried running the script but I'm getting the error
[code]
while running the script, the fix for which would be to use `return subprocess.check_output(shlex.split(cmd), *args, **kwargs

[2020-05-06 18:37] jaspervdj-luminal commented on #947
After thinking about this a bit more, I think that we could tackle all use cases
at Fugue with a new built-in function that does reachable set analysis.

I initially thought this wouldn't work because you need to agree on a format to
represent the graph; and that's different for every use case, but the solution
is simple -- you can use Rego to easily convert to a common outgoing edge set
represent

[2020-05-06 19:30] patrick-east commented on #2323
Thanks for looking into this one @Syn3rman !! Looks like you're already making some good progress on it 👍

I do think that we would probably want to try and lookup their GitHub id, ideally once we have the commit SHA ID we should be able to lookup the metadata about it via https://developer.github.com/v3/repos/commits/#get-a-single-commit the snippet using requests is probably pretty close to what

[2020-05-06 19:38] tsandall commented on #2323
Getting the login from the API that @patrick-east showed would be ideal because they tagged and anyone looking at the release notes will be able to easily navigate to their profile.

If the script to _exclude_ OPA maintainers that would be best. I'm not sure the best way to achieve that. If it's possible to lookup the organizations that a GitHub user is apart of that would help. I think my own org

[2020-05-06 19:41] jaspervdj commented on #2345
Throwing in my $.50, an alternative operator that can be applied to expressions is very close to an inline-style OR (as opposed to incremental definitions).  This would be a useful quality of life improvement for situations where where you need to resort to an extra auxiliary rule now.  It also doesn't introduce any new semantics to the language since it can be rewritten as auxiliary rules.

I lik

[2020-05-06 19:49] patrick-east commented on #2323
May not be too hard to just check against https://github.com/open-policy-agent/opa/blob/master/MAINTAINERS.md too

[2020-05-06 19:56] patrick-east commented on #2324
At a quick glance I don't see one... so feel free to just generate a new one and add it to the tests.

[2020-05-06 21:13] ashutosh-narkar commented on #2059
Hello ! We are accepting proposals for this project. You can submit a proposal [here](https://people.communitybridge.org/project/12a9270f-8673-4acb-92ec-fd539fc2b567). Thanks !

[2020-05-06 21:54] Syn3rman commented on #2323
Thanks for the reply @tsandall @patrick-east!

That seemed to work for me till I ran into a 403 error, since it looks like you can only make 60 requests while you are not authenticated.

I thought of first checking if the author is a maintainer or not by using the regex pattern `[^\s]+@[^\s]+` to extract the email for all the emails from MAINTAINERS.md and making the request only if they aren't, w

[2020-05-07 05:43] VineethReddy02 commented on #2152
Hey, @patrick-east I can take this up. But I don't see any usage of ```github.com/pkg/errors``` in OPA repo. But I can find them in contrib (i.e the integrations repo for OPA) under elastic search data filtering example. If the scope of this enhancement is across OPA projects. I work on it.
As ES data filtering is developed by Ash adding him in the loop.
cc @ashutosh-narkar

[2020-05-07 05:49] VineethReddy02 commented on #2152
Hey, @patrick-east I can take this up. Do you any suggestions.
I am thinking to replace github.com/pkg/errors package with errors standard package from go

[2020-05-07 06:04] VineethReddy02 commented on #2152
Most of our use cases with ```github.com/pkg/errors``` are around ```errors.wrap()``` which isn't offered by standard errors package from go. But the official go docs say to use ```fmt.Errorf()``` instead of ```wrap()```. which does a similar job.

[2020-05-07 11:43] tsandall opened #2377 "Remove gopkg.in/yaml.v2 dependency"
[A while ago](https://github.com/open-policy-agent/opa/commit/346aa964e8a542dd0cc2ec030fc0617c8aaa702a#diff-a02872f5f4d9adce6db6154b9e13c173) we vendored another yaml library as a result of depending on it inside the bundle config validation tests. gopkg.in/yaml.v2 behaves slightly differently than the ghodss library that we use elsewhere in OPA (the differences manifest in the generic/interface{}

[2020-05-07 14:19] Syn3rman commented on #2196
Hey @patrick-east,

Since there has been no update on this for a while, could I have a look at it later? (after closing the open pr)

[2020-05-07 14:42] sresthas commented on #2196
@Syn3rman I am looking into this, can you please select any other issue.
Thanks!

[2020-05-07 16:08] daniel-garcia opened #2379 "allow custom masking of fields"
# Expected Behavior
Masking sensitive fields should allow the field to be mutated instead of just dropped.

# Actual Behavior
Masking only allows sensitive fields to be dropped.

# Steps to Reproduce the Problem
https://www.openpolicyagent.org/docs/v0.13.5/decision-logs/#masking-sensitive-data

Not possible to modify a field... only drop it.

# Additional Info

My use case is:
I am passing the ent

[2020-05-07 16:22] tsandall commented on #2379
Thanks for filing this @daniel-garcia ! Just adding a note here that another similar use case would be additive changes like appending a signature based on the some fields (or all fields) in the decision log to ensure integrity.

[2020-05-07 16:41] Syn3rman commented on #2059
Hey @ashutosh-narkar,

I am planning to start working on my proposal for this idea, so is there any template that we have to follow?
Also, is this a good place for bouncing off ideas related to it or should I use slack channels/dm instead?

Thanks!

[2020-05-07 17:21] ashutosh-narkar commented on #2059
Thanks for your interest @Syn3rman ! There isn't a template as such. At a high-level a design proposal covering as much detail as relevant from the perspective of the project would be a good start.

Any mode of communication works for me.

[2020-05-08 01:39] aribalam commented on #2059
Hi @ashutosh-narkar !
I am a third-year student from IIT Kharagpur, willing to contribute to this project under the Linux Community Bridge program. Could you point me in the right direction on how to get started?

Also, is there a way to communicate with you personally (Like slack, mail etc.)?

[2020-05-08 04:45] ashutosh-narkar commented on #2059
Hello @aribalam ! Thanks for your interest !  You can submit your design proposal [here](https://people.communitybridge.org/project/12a9270f-8673-4acb-92ec-fd539fc2b567). You can post your questions here or reach out on OPA slack(@ash).

Check out the OPA [docs](https://www.openpolicyagent.org/) to get familiar with the project.

[2020-05-08 09:57] tsandall opened #2387 "Hosting instrumenta/conftest under OPA"
The https://github.com/instrumenta/conftest project was started by @garethr to provide a simple way to test/validate configuration files using OPA/Rego. In the last year, Conftest adoption has grown and the project now has [multiple active contributors](https://github.com/instrumenta/conftest/graphs/contributors). Conftest is licensed under ALv2.

Conftest implements several interesting ideas/feat

[2020-05-08 11:01] garethr commented on #2387
I can confirm there are no registered trademark or logo assets for Conftest.

Just to confirm publicly as well that we've spoken about this and I'm definitely supportive. Conftest is increasingly popular, and it forming part of the main Open Policy Agent project makes lots of sense to me and hopefully to current and future users.

[2020-05-08 14:54] caniszczyk commented on #2387
Awesome, let me know when you want to do the domain transfer dance.

I'm excited to see this happen.

[2020-05-08 16:17] patrick-east opened #2388 "Enable golang race detection by default with unit tests"
There is a `-race` option we can supply when running `go test` that will enable race detection and report errors. We should have this enabled by default (unless its too slow) with the opa unit test target (`make test`) or at a minimum as part of the travis job.

Checking with the current state of things when run we do have failures so we will need to correct those first.

[2020-05-08 18:02] patrick-east commented on #2364
Going to close this one out, the usage in eval.go is a different case.

[2020-05-08 18:02] #2364 closed

[2020-05-08 18:49] patrick-east commented on #2377
I'm not sure we can remove it completely. At best I think we can remove its usage in OPA, but other dependencies will still cause it to be included.
[code]

Which includes the other yaml library.. https://github.com/ghodss/yaml/blob/25d852aebe32c875e9c044af3eef9c7dc6bc777f/go.mod#L3

[2020-05-08 19:39] #2324 closed

[2020-05-08 21:06] VineethReddy02 commented on #2152
@patrick-east if we are okay with dropping ```github.com/pkg/errors``` I can take this up.

[2020-05-08 21:09] koponen-styra commented on #2152
golang 1.13 is only 8 months old, though. Not sure if we should give it a bit more time before we require 1.13+ for OPA.

[2020-05-08 21:20] tsandall commented on #1090
This has been fixed a little while with the live blocks feature we added a while ago.

[2020-05-08 21:20] #1090 closed

[2020-05-08 21:29] patrick-east commented on #2152
Lets bring it up as a topic for the next OPA community meeting

[2020-05-08 21:37] tsandall commented on #2152
👍 I agree with @patrick-east here. We need to figure out what packages are impacted and then make the call. If it impacts the rego package (or any of it's dependencies), we'll probably want to hold for a while.

[2020-05-08 21:41] ritazh commented on #2387
+1 🎉

Excited to see the move!

[2020-05-08 23:03] maxsmythe commented on #2387
+1

I'm unable to comment on the doc, so adding a +1 here :)

It is indeed exciting!

I do have some conceptual nits on the document (nothing that affects the
overall decision, IMO)

   - "Conftest produces pass/fail results for data": this is not strictly
   true, as in the doc there are at least 3 states: pass/fail/warn, which
   impacts this statement: "does not conflict with OPA's domain-agnos

[2020-05-08 23:36] timothyhinrichs commented on #2387
+1 from me too.  Looking forward to making this happen!

On Fri, May 8, 2020 at 4:03 PM Max Smythe <notifications@github.com> wrote:

[2020-05-09 00:56] timothyhinrichs commented on #947
This seems like a good approach.

The proposed builtin is a variant of a common class of recursion:
transitive-closure.  Output-size is small.  It's easy for people to
understand.  There are plenty of algorithms for computing it efficiently
(if scale becomes an issue).  It gives us the ability to see a wide range
of real policies before looking at a deeper integration in the language.

All new bui

[2020-05-09 07:34] garethr commented on #2387
The last two items are in https://github.com/instrumenta/conftest/pull/302, for the SECURITY and CODE_OF_CONDUCT files.

Note I think that means, based on https://github.com/open-policy-agent/opa/blob/master/SECURITY.md#membership-criteria, once we have the `conftest-maintainers` team setup some or all of us should be added to the security mailing list?

[2020-05-09 07:34] garethr commented on #2387
@caniszczyk I'll drop you a line on Slack.

[2020-05-09 07:36] garethr commented on #2387
@Blokje5 @jpreese @boranx @tsandall one of thing, that I'm unsre about, is changing the package paths on Conftest. I'm not sure the implications or best approach to that, as part of moving the repository. Any thoughts or prior art?

[2020-05-09 12:58] tsandall commented on #2387
When we do the repo transfer github.com/instrumenta/conftest will redirect to github.com/open-policy-agent/conftest. Git operations against github.com/instrumenta/conftest should continue to work though GitHub will return messages that tell you about the move.

I guess there are a few things to consider here:

1. If backwards compatibility is not a hard requirement, we could just transfer the repo

[2020-05-09 15:42] jpreese commented on #2387
@tsandall I would take approach #1 that you have outlined.

The consumers of `conftest` as a _library_ are going to be small, and we don't expose many packages:

`/policy`
https://pkg.go.dev/github.com/instrumenta/conftest/policy?tab=importedby

`/plugin` (..and all packages under it)
https://pkg.go.dev/github.com/instrumenta/conftest/plugin?tab=importedby

`/downloader`
https://pkg.go.dev/github.

[2020-05-10 07:29] garethr commented on #2387
I agree with @jpreese on this.

[2020-05-10 15:59] debasisc-opa opened #2391 "Update introduction page to use double quotes instead of single quotes in command line examples"
Working in this site
https://www.openpolicyagent.org/docs/latest/

Environment - Windows 10

When I try example as mentioned in this website, I receive following error.
Can you please check and advise?

Thank you

``
C:\OPA>opa_windows_amd64.exe eval -i input.json -d example.rego 'data.example.violation[x]'
{
  "errors": [
    {
      "message": "illegal token",
      "code": "rego_parse_error",

[2020-05-10 16:25] debasisc-opa opened #2392 "OPA example - API authorization"
Trying example from https://github.com/open-policy-agent/opa

`
C:\OPA>opa_windows_amd64.exe run data.json
OPA 0.19.2 (commit 40f9c1fe, built at 2020-04-27T22:51:13Z)

Run 'help' to see a list of commands.

Rule 'allow' defined in package repl. Type 'show' to see rules.

| input.method = "GET"
| input.method = ["salary",id]
| input.user.id=id
| }
|
Rule 'allow' defined in package repl. Type 'show'

[2020-05-11 04:14] ashutosh-narkar commented on #2392
@debasisc-opa `input.method = ["salary", id]` should be `input.path = ["salary", id]`. There seems to be a typo.

[2020-05-11 10:50] tsandall commented on #2388
After discussing this offline we've decided to enable the race detector only for PR builds with a special test target--we don't want to slow down normal builds or block releases based on the result of the race detector (since the race detector cannot detect all races, it may not find a race until we cut a release which could be problematic.)

[2020-05-11 10:52] tsandall commented on #2377
Closing this because fixing this would involve removing dependencies on cobra and ghodss/yaml.

[2020-05-11 10:52] #2377 closed

[2020-05-11 11:05] tsandall commented on #2387
@garethr @jpreese great! Transferring the repo and rewriting the import paths will be pretty simple (I think 🤞). The conftest-maintainers team has been created and everyone has been added. As soon as the repo transfer is opened, I'll accept it and associate the team to the repo.

[2020-05-11 11:08] tsandall commented on #2391
@debasisc-opa I believe this is a cmd.exe issue. As you can see from the details, the actual line fed into OPA is `'data.example.violation[x]'`. In other shells, the `'` characters would have been removed--hence the parse error. Change `'` to `"`--that should work in cmd.exe.

I'm going to rename the issue and mark it as a docs fix because I think others on Windows will run into this and it's easy

[2020-05-11 12:08] tsandall commented on #2392
Like @ashutosh-narkar mentioned, the rule is not defined as it's written in the README. Two issues:

1. `input.method = [...]` results in a match error because `input.method` is a string and the RHS is an array.
2. `input.user.id=id` results in a ref error because `input.user.id` is never defined (we've defined input statically so we know this statement is never true.

[2020-05-11 12:08] #2392 closed

[2020-05-11 18:01] #2391 closed

[2020-05-11 19:05] pvsone opened #2395 "Correct time comparison in Envoy Authorization tutorial doc"
# Expected Behavior
In the Envoy tutorial (https://www.openpolicyagent.org/docs/latest/envoy-authorization/), the `is_token_valid` rule in policy.rego should evaluate to true for the sample tokens

# Actual Behavior
It evaluates to false, as the time comparison is comparing `time.now_ns()` (a value in nanoseconds) to the token `nbf` and `exp` fields which are values in seconds.

# Steps to Reprodu

[2020-05-11 23:05] debasisc-opa commented on #2392
Thank you. This now works well.
`

Rule 'input' defined in package repl. Type 'show' to see rules.

true
`

[2020-05-11 23:25] debasisc-opa commented on #2391
Thanks everyone. Double quotes - work fine for Windows environment.

[2020-05-12 05:07] ashutosh-narkar commented on #2059
Hello all,

If you would like to submit a proposal, please see [these](https://github.com/cncf/mentoring/tree/master/communitybridge#how-to-apply) guidelines for the application process.

Thanks
Ash Narkar

[2020-05-12 05:18] WeiZhang555 commented on #2281
@tsandall OK. Thanks for your help any way  😄

[2020-05-12 23:06] patrick-east opened #2396 "OPA /health?plugins API panic's with envoy plugin"
Using the latest OPA if you configure a health probe with the envoy plugin https://github.com/open-policy-agent/opa-istio-plugin you will get a panic:

[code]

The issue appears to be that the plugin doesn't have a status set, which is OK, but the server tries to dereference the status pointer and barfs.

[2020-05-13 01:11] princespaghetti commented on #2395
I'll grab this one!

[2020-05-13 01:12] ashutosh-narkar commented on #2395
Thanks @princespaghetti !

[2020-05-13 14:00] drewwells opened #2399 "h2c support rest api"
Thanks for opening an issue to request a feature or file a bug! If you provide some
basic information it helps us address problems faster.

# Expected Behavior
CLI flag to enable h2c support
# Actual Behavior
No mentions of h2c in the github repo
# Steps to Reproduce the Problem
Connect to opa with a h2c client. See that the connection does not upgrade to http/2. This requires importing the http2/

[2020-05-13 14:09] tsandall commented on #2399
@drewwells could you provide some info on why you want H2C support? I'm guessing it's performance related--have you tried using a UNIX domain socket instead? Would that work for your use case? I'm curious how much H2C improves performance over that.

[2020-05-13 14:12] drewwells commented on #2399
so we can connect http/2 without TLS. We have a lot of headers that are invalid for http/1

[2020-05-13 14:25] tsandall commented on #2399
@patrick-east do you have any opinions here? I'd imagine we could just plumb the flag down into the server that enables this fairly easily. I think I tried this out a while ago and just didn't do anything with it because the performance benefit was minimal.

[2020-05-13 20:11] #2002 closed

[2020-05-13 20:11] #2396 closed

[2020-05-13 21:29] #1296 closed

[2020-05-14 01:32] ashish246 commented on #1757
Thanks for the feedback guys. Following JOSE's/JWT's spec and JWS's compact serialization approach, one of the ways we discussed is OPA to support the verification of signed bundles (files/data) where signatures will essentially be compact, URL-safe, Base64 encodedJWT token.
The claims in a JWT are encoded as a JSON object that is digitally signed using JSON Web Signatures (JWS) compact serializat

[2020-05-14 09:50] vivekbagade opened #2402 "Add built in for parsing PEM encoded certificate signing requests"
Thanks for opening an issue to request a feature or file a bug! If you provide some
basic information it helps us address problems faster.

# Expected Behavior
Adding a built in similar to
crypto.x509.parse_certificates(string) called crypto.parse_certificate_request(string)

# Addtional notes
This is necessary to parse CertificateSigningRequest objects in kubernetes.

[2020-05-14 10:22] dineshppatilgmi commented on #1154
@tsandall
I am facing same issue.
The issue is coming when I try to do opa test against the gatekeeper library/podsecurity policy.
like below for flexvolume-drivers
opa test -r src.rego src_test.rego -v

it gives error like below
src_test.rego:9: rego_unsafe_var_error: var violation is unsafe
![image](https://user-images.githubusercontent.com/33516150/81923157-d704cc80-95fa-11ea-9b9a-8a7c231396a7.

[2020-05-14 15:53] GBrawl commented on #2340
As a simple fix we could add the units to the switch case located here:

https://github.com/open-policy-agent/opa/blob/master/topdown/parse_bytes.go#L66

or the parse_pow2 builtin would also be an option, if you tell me which you prefer I could make a PR for this.

[2020-05-14 17:01] patrick-east commented on #2340
I'd be inclined to update parse_bytes to support the units that omit the `b`/`B` in the unit. The implication of calling `parse_bytes` is that you are parsing some number of bytes so it follows that someone could pass in `"128M"` and the expectation is that you wanted 128 mega*bytes*

If its confusing or something that we would want to make more generic there's no reason we couldn't expose a `unit

[2020-05-14 17:49] ashutosh-narkar commented on #2059
Hello all,

A gentle reminder that **May 18th 2020** is the last day to submit proposals for this project. See important dates [here](https://github.com/cncf/mentoring/tree/master/communitybridge/2020/q2#timeline).

Guidelines for the application process can be seen [here](https://github.com/cncf/mentoring/tree/master/communitybridge#how-to-apply).

Thanks
Ash Narkar

[2020-05-14 18:53] koponen-styra commented on #1757
Two observations:

1) It would be good to have the signature file itself to be pure JSON (object). That way, we can evolve the signatures more easily in the future, by adding fields and features, or even moving away from JWS if we were so to decide. That is, I'd make the file as follows: `{"signature": <compact serialization of JWS>}`.

2) Identifying the files requires now first parsing the signa

[2020-05-14 21:12] marshallford opened #2404 "[Feature Request] Container image for CI"
**Background:** At work we use Jenkins for CI and I'm getting into the habit of using the [Jenkins Kubernetes Plugin](https://github.com/jenkinsci/kubernetes-plugin) to manage pipeline dependencies as code. The plugin allows shell commands to be run from within the context of a container image. This has worked great for doing things like validating YAML via `kubeval` or linting files with `editorc

[2020-05-14 21:38] patrick-east commented on #2404
Thanks for filing this @marshallford its a topic that has come up a number of times. Historically we have recommended a few alternatives to having OPA start to support more images.

1) Use the *-debug OPA image, we build it based on the "distroless" base so the instructions here https://github.com/GoogleContainerTools/distroless#debug-images apply for the OPA images. Ex:
[code]
The downside for yo

[2020-05-14 21:45] patrick-east commented on #2404
/cc @tsandall

[2020-05-14 23:11] #2395 closed

[2020-05-15 01:13] ashish246 commented on #1757
Both the suggestions sound logical, thoughtful, and certainly feasible - let me have a quick discussion here and confirm you on that.

A followup question on the #2 though:

When you say `signature` in the `.signature.json` file, are you referring to JWT token which is `header.payload.signature` (either attached or detached content mode) or just the signature part of it (I am guessing you would st

[2020-05-15 01:18] koponen-styra commented on #1757
With the second point, I was referring to the requirement to take the whole signature (all of its parts), and then needing to start unpacking it (whatever it entails) to get the claims out, only after which you can identify the files the signature is about.

[2020-05-15 02:51] princespaghetti commented on #1772
@patrick-east I'll take a pass at this. Are you thinking an additional example in addition to the blast radius one, or modifying the current one to also have a module included?

[2020-05-15 08:24] garethr commented on #2387
I think the best approach is probably to prep a PR with the path changes, then move the repo and merge. I probably won't have time to put up the PR but I can test, and then change the various bits of infrastructure over when we tranfer.

[2020-05-15 10:33] tsandall commented on #2387
@garethr since I had the changes partially made on from last week during that experiment, I just went ahead and finished them off. PTAL.

[2020-05-15 10:42] ashish246 commented on #1757
Alright, so per your suggestion, I've modified the POC a bit to produce `.signature` file in JSON format. I also added the `files` property in that JSON which will be the payload used for signing. POC code is updated in the Github repo. Hers is the sample content of the `.signature` file -

[code]
Upon decoding the signature, claims would look like something like this -

[code]
Does that aligns wi

[2020-05-15 15:35] koponen-styra commented on #1757
Looking pretty much what I thought. One more thing: I think we can drop the "files" from the claims. Right?

[2020-05-15 20:05] pvsone opened #2407 "Use base64 encoding for JSONPatch in opa-istio-plugin/quick_start.yaml"
# Expected Behavior
Modifying the contents of the `patch` object within `inject.rego` (e.g. to update the opa run arguments) should not result in an error when the inject.rego policy is evaluated at runtime

# Actual Behavior
For many types of updates a runtime error occurred, such as:
[code]

# Steps to Reproduce the Problem
Delete line 108 `"/policy/policy.rego",` and (re-)deploy the quick_start

[2020-05-16 07:19] garethr commented on #2387
I've transferred the repository. https://github.com/open-policy-agent/conftest

I'll ping Chris now about the domain name.

[2020-05-16 07:25] garethr commented on #2387
@tsandall for moving over the CircleCI build, I've requested CircleCI access to the open-policy-agent org. The admins for the org should have received an email.

[2020-05-16 10:39] tsandall commented on #2387
@garethr fantastic. I've approved the CircleCI app for the org and the DCO check is working. Last thing on the checklist is the domain transfer.

[2020-05-17 17:40] dkiser commented on #2379
Any suggestions on where/how to start picking up this work? I see most of the logic is contained in `/plugins/logs/plugin.go` and `/plugins/logs/ptr.go`.

[2020-05-18 04:46] benjlai commented on #1757
The files need to be inside the claim e.g.
`
{
 "jwks-url": "https://github.com/csp/opa-sourcedata-bundles",
 "scope": "AU.GLOBAL.OPA.WRITE",
 "iss": "JWTService",
 "files": "[{\"name\":\"db/uam2/entitlements/data.json\",\"sha-256\":\"c2131544c716a25a5e31f504300f5240e8235cadb9a57f0bd1b6f4bd74b26612\"},{\"name\":\"db/uam2/policy/opa-policy.rego\",\"sha-256\":\"42cfe6768b57bb5f7503c165c28dd07ac5b813

[2020-05-18 10:57] tsandall commented on #2379
@dkiser most (or all) of the logic is implemented inside of the decision log plugin like you found. I would start by figuring out the interface we want to expose to admins configuring OPA.

Currently admins can implement a rule/decision that defines a set of paths in the decision log event to remove. The paths must be prefixed with `input/` or `result/`, i.e., they cannot remove other event fields

[2020-05-18 11:35] #2338 closed

[2020-05-18 12:32] #1460 closed

[2020-05-18 12:45] tsandall commented on #2404
I agree with @patrick-east that we should minimize the number of artifacts we generate and therefore have to maintain. @marshallford do you need bash specifically or is a POSIX compliant shell enough? If so, I'd recommend just going with -debug like @patrick-east suggested. Perhaps we should re-tag -debug to indicate it's useful for more than just debugging?

[2020-05-18 12:48] tsandall commented on #2340
@patrick-east that's a good point--it would be kind of annoying to have to check if the string has a suffix and then use a different built-in function. I think we should go w/ your suggestion.

[2020-05-18 14:20] jamengual commented on #845
**Jenkins Policy base Slave Election**

An Integrations with Jenkins will be great and it has been mention and there are many places where OPA can be integrated with Jenkins at the job execution level that will be very useful.

Another level of integration that is often overlooked and which makes CICD/Security teams mad is the Jenkins Slave selection, which in Jenkins is very simplistic and has no

[2020-05-18 15:36] timothyhinrichs commented on #2379
Something like this has been on my wish list for a while, so thanks for picking it up!

I could see it being valuable to create new fields in the decision log outside of `result` and `input`.  I'd suggest we require the user to put new fields under something like `custom` to ensure forwards compatibility for when we want to extend the decision-log format in the future.

[2020-05-18 15:37] dkiser commented on #2379
@timothyhinrichs Maybe we can talk through this on our call today, and we'll take a stab at knocking this one out!

[2020-05-18 15:41] koponen-styra commented on #1757
There's no security impact for the following reason. First, the `files` can be the payload as such and this would guarantee its integrity. But to avoid the duplication of it and keep the `files` outside for convenient access, we can use the detached signature approach. The payload integrity is still protected by the signature, even though the payload is transmitted outside of the signature for con

[2020-05-18 18:35] agarwalrounak commented on #2367
Can I take this issue up?

[2020-05-18 18:37] patrick-east commented on #1772
I think another example, maybe doesn't need to be as complex. Just showing how to deal with collecting resources from the child modules.

[2020-05-18 18:38] agarwalrounak commented on #2367
Can I take this issue up? I have figured out the corrections needed to be made to resolve this issue.

[2020-05-18 18:41] patrick-east commented on #2367
@sresthas were you still working on this one?

[2020-05-18 19:14] #2340 closed

[2020-05-18 19:42] marshallford commented on #2404
@patrick-east the debug container image you suggested worked perfectly for my Jenkins use-case. For posterity's sake, see below for a minimal Jenkinsfile snippet. As for re-tagging, it was my mistake for missing/trying that image. I don't think it's worth the effort as "debug" should have been plenty clear. Maybe it would be worth adding a table to the readme that describes that various image type

[2020-05-18 19:42] #2404 closed

[2020-05-18 20:13] agarwalrounak commented on #2407
Can I take up this issue?

[2020-05-18 20:25] tsandall commented on #2407
@agarwalrounak sure. It should be  oneline change in the quickstart file where the policy is inlined per the issue description.

[2020-05-18 20:25] patrick-east commented on #2407
@agarwalrounak go for it

[2020-05-18 20:37] sumankumar001 opened #2409 "OPA does not load new policies"
Hello,

**Step 1**: I have installed OPA to my Kubernetes cluster(v1.15.5) using opa helm chart(https://github.com/helm/charts/tree/master/stable/opa). I have overridden values.YAML file  as below:

values.yaml:
---------------------
# Default values for opa.
# -----------------------
#
# The 'opa' key embeds an OPA configuration file. See
# https://www.openpolicyagent.org/docs/configuration.html

[2020-05-18 20:42] #2409 closed

[2020-05-18 20:44] sumankumarz opened #2410 "OPA does not load custom policies"
Hello,

**Step 1**: I have installed OPA to my Kubernetes cluster(v1.15.5) using opa helm chart(https://github.com/helm/charts/tree/master/stable/opa). I have overridden values.YAML file  as below:

[code]

**Step 2**: At this point, I am able to test default policy (ingress-OK and ingress-bad) which works.  All good so far.

**Step 3**: Now I want to implement my custom policy which is as follows

[2020-05-18 21:07] tsandall commented on #2410
@sumankumarz the markdown formatting is all messed up. Can you please edit your issue description so that it's readable? Thanks!

[2020-05-18 21:23] sumankumarz commented on #2410
@tsandall thanks for your response. I have updated,

[2020-05-18 21:34] ashutosh-narkar commented on #2410
@sumankumarz Can you share the OPA logs ? They'll help to debug the issue and also we can see the actual input that OPA gets. You can find more debugging tips [here](https://www.openpolicyagent.org/docs/latest/kubernetes-debugging/).

[2020-05-18 21:58] sumankumarz commented on #2410
Do you need OPA container logs?

[2020-05-18 22:46] princespaghetti commented on #1772
Sounds good! I'll start working on that

[2020-05-18 22:54] ashutosh-narkar commented on #2410
Yes.

[2020-05-18 23:00] #2407 closed

[2020-05-19 08:23] agarwalrounak commented on #2294
Can I take up this issue?

[2020-05-19 09:00] Syn3rman commented on #2196
Using `StringArrayVarP` instead of `StringSliceVarP` seems to do the trick here. Should I make the changes and open a pr @patrick-east?

[2020-05-19 10:48] tsandall opened #2413 "Add support for setting date/time format on logrus messages"
Some users have requested ability to override the logrus date/time format to lower the precision--some log aggregation systems do not do well with the number of sub-second digits that are included in the default format. We need to investigate how to set the date/time format via the logrus API and then decide how to pipe the configuration down from the entrypoint.

[2020-05-19 11:57] sumankumarz commented on #2410
**Scenario1**:  Opa executes example policy which gets installed along with opa helm chart
[code]

**Scenario- 2**:  Opa ignore the custom policy

[code]

[2020-05-19 17:54] patrick-east commented on #2196
Go for it

[2020-05-19 18:30] nischalsheth commented on #1841
@tsandall Any thoughts or feedback on the above?

[2020-05-19 22:55] tsandall commented on #2197
I looked into this earlier today. The problem is that the server is running
PE using the shared compiler. In this case, the rego package is generating
a recursive rule from the PE output--it should have thrown away the rule
but it didn't. When the rego package goes to compile the result before
returning, the recursion is caught but the compiler is left in an
inconsistent state. The inconsistent st

[2020-05-20 11:27] agarwalrounak commented on #2059
Hi @VineethReddy02!
I had prepared a proposal for this project: https://docs.google.com/document/d/1Pq1eYOXrGeoJj5M_8Kup_WJAp_0EkhSipGU_QvMn660/edit#
I hope it will be useful to you. Please let me know if I can be of any help.

[2020-05-20 12:03] tsandall commented on #1841
OPA rule indexing operates on equality expressions today, e.g., `input.role = "role1"` is recognized because it's an equality expression between a ground reference to a base document (`input.root`) and a constant value (`"role1"`).

Contains checks are another common kind of expression, e.g,. `input.roles[i] = "role1"`. In this case, the expression is not recognized because the base document refer

[2020-05-20 12:26] VineethReddy02 commented on #2059
Hi @agarwalrounak
Good to see your proposal and our proposals share common grounds in detailing the context & requirements. Here is my [proposal ](https://docs.google.com/document/d/1zlk427OuV0kgsCo36G6bcgI0YuXXX69TtB5fmHcqADc/edit?usp=sharing)

[2020-05-20 12:34] timakin commented on #2413
@tsandall

Customizing the format of logrus timestamp needs the following two configurations.

1.  `FullTimestamp` flag
2.  `TimestampFormat`

[code]
[code]

How about adding `timestamp-format`(in short, `tf`) flag to implement the date/time format injection?
It seems a kind of the same level logging API with `outputFormat`.

Of course, it requires the validation of the time format.

[2020-05-20 22:17] patrick-east commented on #2413
I like the idea of having a configurable `log-timestamp-format` option, seems like a pretty easy thing to add on to the `opa run` CLI too

[2020-05-20 23:41] #1253 closed

[2020-05-21 01:51] #1772 closed

[2020-05-21 02:28] timakin opened #2418 "Improve http.send with a connection reuse and a concurrency support."
Currently, `http.send` built-in function seems to generate `http.Client` for each requests.
https://github.com/open-policy-agent/opa/blob/c5c85795aaa3701763f98d16308c5944f05f3da4/topdown/http.go#L448

However, it doesn't maximize the scalability with Go `http` package.
So, how about considering the following 2 plans?

- To use the full potential of concurrency, add fields `max_conns_per_host`, `ma

[2020-05-21 06:17] sumankumarz commented on #2410
@tsandall / @ashutosh-narkar  Did you manage to look into this issue?

[2020-05-21 06:27] ashutosh-narkar commented on #2410
Hello @sumankumarz , sorry about the delay in getting to this.

Few questions:

1) Is [this](https://play.openpolicyagent.org/p/mL0c2THp3L) your custom policy ?

2) How did you load the policy ? And did you verify it's properly loaded ?

3) Is [this](https://github.com/helm/charts/blob/master/stable/opa/values.yaml) your chart ? If yes, it's loading policies via bundles. So make sure your custom p

[2020-05-21 06:44] sumankumarz commented on #2410
@ashutosh-narkar

1.  Yes that’s the custom policy I have implemented to check deprecated API

2. Via ConfigMap in opa namespace. Opa namespace is listed in the opa helmchart

3. I am reusing opa helm chart to install opa. I have overridden some values.

I have disabled authz and verified that my custom policy and default policies are loaded by OPA.

If you have some time then we can quickly get i

[2020-05-21 14:13] tsandall commented on #2413
👍 a `--log-timestamp-format` option seems nice. The only other option I could imagine is a less powerful flag that lets users limit the number of sub-second digits. The only benefit I can think of is that if/when we switch to another logging library, it might be easier to continue supporting? I don't feel strongly about this--let's just go with `--log-timestamp-format`.

[2020-05-21 16:33] timakin commented on #2413
Okay, I’ll give it a try if it isn’t missing the point.
Is it better to wait until you members take this issue in the project TODO list?

[2020-05-21 16:38] tsandall commented on #2413
@timakin if you can work on this feature that would be excellent! I think the places that will need to change are:

* cmd/run.go -- this is where the command-line arguments are processed
* runtime/runtime.go -- the LoggingConfig struct and setupLogging function will need to be updated

I'm not sure how best to test these changes (aside from doing it manually)--maybe @patrick-east has thoughts.

[2020-05-21 16:51] timakin commented on #2271
@patrick-east Your table shows the conditional branch is not so different from the original.
However, 4th is the key.
If you’d like to use provided certs when the flag is n/a(as a default, true), you have to distinguish n/a and a real true flag.
How do you imagine the implementation become?
Changing this bool var into bool pointer seems a realistic method, right?

[2020-05-21 17:19] patrick-east commented on #2413
I'm not 100% sure, but I think you can have logrus write its output into any `io.Writer` so we should be able to use to start up the runtime (getting some logs emitted) and writing them into a buffer and then parse it and check the timestamp field format.

[2020-05-21 17:29] patrick-east commented on #2271
Yep, if you change

https://github.com/open-policy-agent/opa/blob/e6ac0a0753d0b984014ea841d63b2c76bd62b671/topdown/http.go#L177

to a pointer we can check for `nil` to distinguish when it was passed in.

Then we would need to make some conditional check to "default" it to `true`, but only if all of the 3 CA options were empty/not provided.

https://github.com/open-policy-agent/opa/blob/e6ac0a0753d

[2020-05-21 18:03] patrick-east opened #2420 "opa fmt panic with separated else blocks"
# Expected Behavior

Using `opa fmt` on some policy like:

[code]

Should work, and not really change anything.

# Actual Behavior

There is a panic..
[code]

[2020-05-21 20:07] ashutosh-narkar commented on #2413
WRT testing, we could do something similar to [this](https://github.com/open-policy-agent/opa/blob/master/runtime/runtime_test.go#L323) test.

[2020-05-21 21:21] #2420 closed

[2020-05-21 22:05] #2323 closed

[2020-05-21 22:10] #2197 closed

[2020-05-21 22:11] #2245 closed

[2020-05-21 23:52] ashutosh-narkar commented on #2410
@sumankumarz The help chart downloads a bundle which has the following manifest
[code]
This means that the bundle owns the above roots. If you try to load policy with the above roots, like your [sample](https://play.openpolicyagent.org/p/mL0c2THp3L) policy, OPA will erase the policy.

So you could either not use the bundle in the chart and load your own policies or load your policy with a differen

[2020-05-22 16:30] kevinsimons-wf opened #2430 "panic on opa fmt when calling another rule"
# Expected Behavior
Using `opa fmt` on the following policy

[code]

# Actual Behavior
A panic is hit
[code]

# Steps to Reproduce the Problem

[code]

# Additional Info

The following policy does work and I believe would be functionally the same

[code]

I am also fairly new to rego, so if I am making some large mistake by calling the `general_violation` like this, please let me know.

[2020-05-22 17:11] patrick-east commented on #2430
Thanks for filing the issue! There is a PR that fixes this over at #2429 , I've just linked the commit to this issue to it (there wasn't an issue earlier)

[2020-05-22 19:23] #2430 closed

[2020-05-24 11:51] pieterv-icloud-com commented on #2233
I tried deploying opa using helm on a Rancher k3s cluster running on a number of Raspberry Pis.

The deployment fails with an "exec format error" message

opa only supports the amd64 architecture, not the arm/v6 architecture.

[2020-05-24 23:16] ahilmathew commented on #2410
You can delpoy the helm chart with `opa: false` [here](https://github.com/helm/charts/blob/master/stable/opa/values.yaml#L8). That would prevent the helm chart from deploying the default bundles. And then just create the configMap `opa-default-system-main` as provided in the [official guide.](https://www.openpolicyagent.org/docs/v0.12.2/kubernetes-admission-control/#3-deploy-opa-on-top-of-kubernet

[2020-05-26 11:40] itaysk opened #2436 "better way to negate a variable referenced property"
If we want to assert that a variable referenced property doesn’t exists, we cannot intuitively negate it using `not`, instead we need to wrap it in a function/rule and negate that. For example:
This works:
[code]
This is expected to work but doesn't
[code]
This is the workaround
[code]
[OPA Playground](https://play.openpolicyagent.org/p/WKtxBNfSwb)

I think this is a common use case, and the worka

[2020-05-26 13:34] tsandall commented on #2211
@idvoretskyi any update on this?

[2020-05-26 13:36] idvoretskyi commented on #2211
@tsandall not yet, but we are working on this internally at the moment (some legal questions atm).

[2020-05-26 13:41] idvoretskyi commented on #2211
cc @amye

[2020-05-26 13:56] tsandall commented on #2436
I agree that it would be nice if you could negate expressions containing variables that don't appear as outputs of other non-negated expressions however it raises semantic questions that do not have great answers. Importantly, it's unclear what the output of a query like `not input.list[_].noprop` should be. OPA can't generate all of the assignments to `_` because that set would be infinite.

I th

[2020-05-26 14:52] itaysk commented on #2436
Thanks. I would appreciate if you can confirm of correct my understanding of your answer:
I was going to ask why you say the assignment set for `_` is infinite, but I think that's because I was thinking in terms of iterating a collection - that is a finite operation, and OPA is not working this way. So actually there was no real iteration in OPA, the same outcome is perceived when OPA tries to ass

[2020-05-26 21:11] tsandall commented on #2418
It would be nice to implement connection re-use for `http.send`. For high-throughput use cases involving http.send, where the policy is queried hundreds or thousands of times per second, the connection resource utilization could add up.

A few thoughts:

* The params you suggested look fine to me. We'll probably need to key the client cache off more than just the URL though--I'd assume any paramet

[2020-05-27 07:57] sumankumarz commented on #2410
Thanks, @ahilmathew. This helped. My custom policies are getting loaded and executed now. I have noticed that you have updated the documentation which will help.

Another question:
When I have deny[msg] in the rego policy then OPA throws an error and prints the message as per the policy. This works as expected, which is good.

When I have warn[msg] in the rego policy then OPA creates the resources

[2020-05-27 10:02] ashish246 commented on #1757
Guys, as discussed previously, I've added CLI options to both, Go & Java, implementations of the POC code at [opa-signature-poc](https://github.com/ashish246/opa-signature-poc). It currently has signing/verification approach for both asymmetric(RSA) and symmetric(HMAC) keys, however, it only uses the compact serialization approach.

Signatures can be cross verified across Go and Java commands/impl

[2020-05-27 11:54] ahilmathew commented on #2410
I haven't tried out `warn` before. But adding the below to the `system.main` policy gives the following output in logs, although it doesn't warn the user when creating the resource.
[code]

[code]

[2020-05-27 12:12] tsandall commented on #2410
There is no way to send "warnings" back to users in Kubernetes. The API server only accepts a boolean (allowed) decision along with an optional status/reason (e.g., "image xyz comes from ...") The reason is only used when the admission review response rejects the request.

I'm going to close this issue because there is nothing to be done on the OPA side.

[2020-05-27 12:12] #2410 closed

[2020-05-27 12:44] #2196 closed

[2020-05-27 14:02] tsandall commented on #2436
The reason there would be infinitely many assignments comes down to the language semantics.

The expression `input[i]` means `for some i, input[i] is defined and not false`. If input was `[true, false, 7]` then it would be defined for i=0, i=1, i=2 and not false for i=0 and i=2. The query `input[i]` with input as `[true, false, 7]` would produce two outputs: `[{i:0}, {i:2}]`.

OTOH, The expression

[2020-05-27 14:02] #2436 closed

[2020-05-27 14:32] tsandall opened #2437 "Deprecate and remove any() and all() functions"
We should deprecate and eventually remove the `any()` and `all()` built-in functions. Neither of these functions implement behaviour that's otherwise hard to implement in Rego yet their implementation makes some arbitrary assumptions that are problematic (e.g., non-true/false values are not considered "true-ish" like most other Rego constructs asusme, both are satisfied by empty collections, etc.)

[2020-05-27 18:09] sanskriti-s opened #2438 "Question"
How do you create a mutating webhook that can create a list in the spec in a deployment and add a value to it?

# Original deployment
`kubectl get deployment -n default nginx-deployment -o json | jq '.spec'`:
[code]

# Wanted Behavior
I'm trying to make a mutating webhook that mutates a deployment by adding the command so that
`kubectl get deployment -n default nginx-deployment -o json | jq '.spec

[2020-05-27 18:31] tsandall opened #2439 "format package unexpectedly mutating AST nodes"
The `format.Ast` function may mutate AST nodes to un-mangle wildcard variables. The problem is that this mutation/un-mangling is not applied consistently across multiple calls to `format.Ast` if the the inputs to `format.Ast` contain pointers to the same term strurcts. This problem can be reproduced by running the new `opa build` command with optimization enabled and multiple entrypoints specified

[2020-05-27 19:47] patrick-east commented on #2438
I'd highly recommend troubleshooting this by writing unit tests for your policies: https://www.openpolicyagent.org/docs/latest/policy-testing/

If you know what a valid working patch looks like you can then work towards writing the policy to dynamically generate it.

Assuming you had a deployment with the right annotations it would generate a patch like:

[code]

Which I guess then becomes a quest

[2020-05-28 00:03] ashish246 commented on #1757
Just to add a bit more around `verify` command. It is currently doing the following:
- Verify the signature for the supplied (public)key
- Verify the number (& name) of the files in the payload/claims against the supplied target directory. Fails if the target directory doesn't have the exact number (& name) files as in the payload/claims
- Verify the content of each file by verifying the SHA hash

[2020-05-28 01:42] patrick-east opened #2441 "`opa build` generated WASM binary always returns empty set"
# Expected Behavior
When using the new OPA build command with an example policy like:

[code]

And then building with a command like:
[code]

If I load and evaluate it, dumping all the results, I would expect that regardless of data or input it should at least return some value for the `default` rule, eg:

[code]
with older OPA versions where the query was something like `x := data.example.hello`

[2020-05-28 15:39] sanskriti-s commented on #2438
I tried putting my actual input in the playground:
[code]
And I'm getting an empty patch as the output:
[code]

Do you know what could be causing this?

[2020-05-28 18:13] patrick-east commented on #2438
I'm guessing you didn't write the unit tests for it... let me help: https://gist.github.com/patrick-east/01c67afcab9aaf59c4603fb2d41355fb

If you test them, we can see the failures pretty quickly in the output:

[code]

Note the trace events that have a `Fail`. Those are expressions that were either false or undefined. Checking on each one in the policy the one that stands out the most is..

[code

[2020-05-29 21:22] tsandall opened #2445 "The default keyword should be honored on functions"
If you define a function with a default value, the default should be honored if all of the functions with the same name are undefined.

[code]

Today the default is ignored. Example:

[code]

[code]

[2020-05-29 21:42] #2439 closed

[2020-05-29 21:47] patrick-east commented on #2438
Going to close this out for now. If any more issues come up feel free to reopen or file a new issue.

[2020-05-29 21:47] #2438 closed

[2020-05-30 23:19] DixonDalmeida commented on #1194
is there any progress on this feature?

[2020-05-31 12:54] tsandall commented on #1194
@DixonDalmeida yeah, this was actually done back in November 2019. https://www.openpolicyagent.org/docs/latest/ecosystem/. The issue was not closed though. Doing that now.

[2020-05-31 12:54] #1194 closed

[2020-06-01 05:12] rohrit opened #2446 "Rego: Precedence rules and use of OR/AND rules"
This is more of a question than an issue. I have looked through the online documentation at https://www.openpolicyagent.org/docs/latest/#rego and i am not sure if this is addressed elsewhere.

# Expected Behavior

I want to build policy rules which have arbitrary combinations of OR and AND logic as well as enforce precedence amongst the defined rules.

For example, if A, B, C, D etc. are Rego poli

[2020-06-01 11:23] tsandall commented on #2446
@rohrit I'm not exactly sure what you mean by _precendence_ in the context of your question. Precedence usually has to do with the order that operators are evaluated in. Is that what you mean?

To express "(A OR B) AND (C OR D)" define two rules with the same name to express "A OR B" and another two rules to express "C OR D":

[code]

Now you can write:

[code]

[2020-06-01 13:07] #2441 closed

[2020-06-01 13:53] tsandall opened #2447 "Extend build command wasm target to support full extent of data as entrypoint"
[In some cases](https://github.com/open-policy-agent/opa/pull/2400#issuecomment-634813009) users may want to compile a query that asks for all of `data`. Currently the build command does not allow this--however, we could relax the validation for the wasm target to permit it.

[2020-06-01 13:59] rohrit commented on #2446
Thank you for the response. That answers my question.

I realized the question of precedence does not directly apply for Rego and it is essentially expressed by the way the rules would be written in policy.

[2020-06-01 13:59] #2446 closed

[2020-06-01 18:38] #2402 closed

[2020-06-03 04:33] drkhosla opened #2453 "React App getting CORS error while accessing opa server using REST API"
I am developing app in React and wanted to access REST API of opa data. When I try to get user role using url http://localhost:8181/v1/data/app/userrole, but get a CORS error and unable to access data. To resolve this, either I disable web security of client browser or run proxy/middleware to access opa data. This is not practical while access multiple API.

How can I set headers of opa server so

[2020-06-03 10:09] ajoysinha opened #2454 "OPA [ Open Policy Agent ] is not working with istio in minikube"
I am trying to implement sample provided by [https://github.com/open-policy-agent/opa-istio-plugin](url)

Implement step by step from [https://github.com/open-policy-agent/opa-istio-plugin#quick-start](url)

It deployed successfully and service also exposed

Also I can see that opa-istio is injected as sidecar with all the deployed applications

but opa policy is not working

As documentation says

[2020-06-03 11:47] tsandall commented on #2453
It's not currently possible to configure OPA to set CORS headers in server. I recommend running a simple proxy (like nginx) in front to solve this. I'm going to close since there are no plans to support this soon.

[2020-06-03 11:47] #2453 closed

[2020-06-03 13:35] tsandall opened #2455 "Partial object memoization causes incorrect result to be returned during partial evaluation"
Partial object rules outputs are memoized during evaluation for performance. There appears to be a bug in PE whereby the memoized key-value pairs are used when they should not be. This can be reproduced with the following:

[code]

If `p` is PE-ed the output is:

[code]

The second query output is empty which simply means the input query is _always true_ (which is incorrect). In this case the corr

[2020-06-03 14:33] HamzaZo commented on #2410
Hello @ahilmathew

I'm still facing the same issue with the latest version of helm chart opa, in `mgmt` I see the following infos :
[code]
and my custom policies aren't labels with annotation
[code]

[2020-06-03 18:03] patrick-east commented on #2454
Can you share some more information about the environment? Kubernetes version, type of deployment, network config, istio version. Enough info that someone can reproduce the issue.

It would also be useful if you can share the logs from the various containers involved.

[2020-06-03 18:08] patrick-east commented on #2410
@HamzaZo Those errors in the log are benign, and fixed if you upgrade to kube-mgmt v0.11 https://github.com/open-policy-agent/kube-mgmt/releases/tag/v0.11 (looks like the helm chart is still on v0.10 by default)

Please read through https://github.com/open-policy-agent/kube-mgmt#policies very carefully and compare with the configuration your helm chart deployment is using. By default the helm char

[2020-06-03 18:31] nestajah opened #2457 "Information: There is some kind of limitation with the latest version of envoy given that in the reference information on the OPA page for integration with envoy it shows version v1.10.0"

[2020-06-03 18:39] patrick-east commented on #2457
Can you provide some additional context? Is this a bug report? A question? Which page are you referencing?

[2020-06-03 18:45] nestajah commented on #2457
Sorry its a Question:

https://www.openpolicyagent.org/docs/latest/envoy-authorization/

The information reference to this version: envoyproxy/envoy:v1.10.0.

I thought it could be referenced if there is any version that integrated with the latest version of Opa can fail. Currently the latest version of envoy is 1.14.1, I tried 1.13.1 without problems. I only comment it for having information and

[2020-06-03 18:50] patrick-east commented on #2457
No worries! 😄

As far as I know the documentation pins it to v1.10.0 simply because that was the version it was tested with. There are no known issues with using a newer version of Envoy.

[2020-06-03 18:53] nestajah commented on #2457
Thanks for the info Patrick.

[2020-06-03 18:59] patrick-east commented on #2457
Updated the title and description a little bit to make it easier for others to find this in the future.

@nestajah if you (or anyone else) runs into issues with newer Envoy versions don't hesitate to file new issues. Any version that supports the external authorization filter should be compatible.

[2020-06-03 19:37] #2455 closed

[2020-06-03 21:25] ashutosh-narkar commented on #2454
Istio version: `1.5.4`

Envoy version:
[code]
Kubernetes version: `v1.14.0`

OPA-Istio version: `opa:0.20.5-istio`

With the above setup, the policy is enforced as expected:

[code]

Also the `ext_authz` filter seems to be properly set in the Envoy config:
[code]
---------------------------
Istio version: `1.6.0`

Envoy version:
[code]
Kubernetes version: `v1.14.0`

OPA-Istio version: `opa:0.20.5-

[2020-06-04 04:02] ajoysinha commented on #2454
Here are the version list i am currently using in my local environment, [ using minikube ]

istio Version : 1.6.0
Minikube Version : 1.9.2
OPA-Istio version: opa:0.20.5-istio

[2020-06-04 08:20] ajoysinha commented on #2454
I have tested it with
istio Version : **1.5.4** [ changed from 1.6.0 ]
Minikube Version : 1.9.2
OPA-Istio version: opa:latest-istio

and application is working as expected with OPA policy
[code]
[code]

It seems that there is some issue with istio version 1.6.0

[2020-06-04 16:35] ashutosh-narkar commented on #2454
Thanks for verifying @ajoysinha . If we update the [EnvoyFilter CRD](https://github.com/open-policy-agent/opa-istio-plugin/blob/master/quick_start.yaml#L4) to use the newer fields it should probably work. ` 1.6.0` may not be supporting the older format anymore. I'll try that out as well.

[2020-06-08 10:21] HamzaZo commented on #2410
@patrick-east unfortunately it's not working
I used the latest version of `kube-mgmt` and still `mgmt` does not annotate my cm
the output of `helm get manifest opa`
[code]

[2020-06-08 14:36] balasenthil-d opened #2461 "Push flow: how to keep track of data pushed ?"
I'm evaluating OPA for our use and would like to check how I can use push workflow to keep track of documents pushed and push missing documents. I see there are no count APIs for documents or API that report a new OPA service has started (Lifecycle events).

I did try bundle service and its quite straight forward as it always pulls all data and rego policy and update OPA runtime.

[2020-06-08 17:15] patrick-east commented on #2410
Right, that is what the documentation describes https://github.com/open-policy-agent/kube-mgmt#policies

[2020-06-08 19:21] RichiCoder1 opened #2462 "Support EKS IRSA for Signing S3 Bundle Requests"
# Expected Behavior
When using [OPA Bundle's S3 Support](https://www.openpolicyagent.org/docs/latest/configuration/#aws-signature), a pod containing OPA with [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html) configured is able to sign and retrieve bundles as that pod's assigned role using the provided AWS Web Identity.

(From #2607)
The

[2020-06-08 19:22] RichiCoder1 commented on #2462
Possibly related to #1600, but could probably also be accomplished without.

[2020-06-08 22:58] hangxie commented on #2462
I use a workaround to avoid using credential as rotation will be a headache:

1. Create emptyDir volume so containers within the pod can share the same storage
2. Let OPA watch (`--watch`) the policy file, it will reload if things change
3. Create an AWS sidecar (https://hub.docker.com/r/amazon/aws-cli) to load S3 object periodically (`aws s3 cp` to /tmp, compare with running one, overwrite if the

[2020-06-09 02:29] marshallford opened #2463 "Custom parsing for globs_match: wildcarded hostname overlap use case"
# Expected Behavior

While writing a rule for preventing overlapping hostnames I reached for `regex.globs_match` in the hopes that the function would be able to parse strings that may contain a wildcard in the left most component. Examples: `a.com`, `*.a.b.c.com`, and `*`. Is it possible for OPA to support custom parsing for this sort of use case? I'm writing a rule for Istio Gateway resources in

[2020-06-09 11:16] balasenthil-d commented on #2461
Reconciliation could be difficult to achieve, if we deploy this across different services (as in side cars) and each service will need to synchronize its copy. Run states of all services need to be remotely maintained and handled. I think having life cycle event support OPA will be helpful like an API call on post-startup and pre-shutdown will be very helpful in handling these remote states.

[2020-06-09 16:30] tsandall commented on #2463
@marshallford as you discovered `regex.globs_match` is for testing if two REs intersect...which is close but not quite what you want. The naming is a bit suboptimal.

 We already have a `glob.match` function that implements actual glob matching (which is much simpler than full-blown RE matching.) I could imagine adding a `glob.intersects` (name TBD) that implements what you described. To be consis

[2020-06-09 17:01] patrick-east commented on #2461
Right, and that is why bundles are typically the approach people use. Was there a reason that you didn't want to use bundles?

Making a guess based on your comment:

There is a feature proposed to allow for incremental bundle updates #1055 so the entire thing isn't downloaded each time.

[2020-06-09 17:13] tsandall commented on #1600
The original ask for not requiring aws_region might be complete in the latest version of OPA. We need to review the implementation and double check. If that's the case, let's close this issue because whether we use the official AWS SDK is an implementation detail.

[2020-06-10 09:21] balasenthil-d commented on #2461
I am evaluating both approaches. One crucial advantage with Push flow is its ability to push delta changes and only when there is a change. Hence the reason for checking that out. But I think without certain support from OPA (lifecyle events and not everyone is on kubernetes right), push workflow requires considerable additional overhead to implement.

Thanks @patrick-east for clarifying my questi

[2020-06-11 10:41] emad7105 commented on #2118
We are also working on data access middleware which can make use of OPA's Compile API for partial evaluation. Having a spec would be extremely helpful.

[2020-06-11 16:32] bsctl opened #2467 "Docs: Update Kubernetes Admission Controller tutorial to support latest API version"
The OPA example in the [kubernetes tutorial](https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/) is not working with `"apiVersion": "admission.k8s.io/v1"`. It seems OPA is not honouring the requirements of setting the response UID, [here](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#response).

# Expected Behavior

# Actual Behavior
When I

[2020-06-11 17:14] #2379 closed

[2020-06-11 20:13] patrick-east commented on #2467
I updated the title. As-is the tutorial does _not_ use that API version, hence no error if you follow the tutorial.

What we should do is update the tutorial to both return the ID _and_ use the newer API version.

[2020-06-11 20:16] patrick-east commented on #2461
If you'd like to propose an API for the lifecycle events feel free to open another github issue with the use-case, requirements, proposal, etc. I don't have a good feel for how many other folks would want/need them but opening an RFE/proposal would help start the discussion in the community.

I'm going to go ahead and close this issue out for now, If there is more on this question feel free to re-

[2020-06-11 20:16] #2461 closed

[2020-06-12 12:41] abessifi commented on #1368
Hi guys,

Is this issue still in design phase ?

I'm just wondering why not just to export violation events as a prometheus metrics and then let users leverage prometheus/alertmanager to define alerts in a more flexible way ?

What do you think ?

[2020-06-12 19:19] patrick-east commented on #1368
Yes, I believe so.

With regards to the kubernetes admission controller use-case that is an ongoing discussion for Gatekeeper, check out https://github.com/open-policy-agent/gatekeeper/pull/657 for some more context on the current state over there.

For the `kube-mgmt` integration there are two services involved, the OPA server and the kube-mgmt instance. The OPA server exposes prometheus metrics,

[2020-06-15 16:15] tsandall opened #2469 "Loss of precision from big number to string conversion"
The aggregate and arithmetic functions use the `big.Float#String` function (via `builtins.FloatToNumber`) to convert big numbers into strings. The problem is that by default the `big.Float#String` implementation rounds numbers to 10 digits of precision.

[code]

What I would have expected was:

[code]

This issue affects all of the arithmetic functions as well as the `sum` and `product` aggregate

[2020-06-15 16:40] ashutosh-narkar commented on #1600
Closing this issue as the AWS signature authentication client in the latest OPA version does not require `aws_region`.

[2020-06-15 16:40] #1600 closed

[2020-06-15 19:58] #2469 closed

[2020-06-16 09:51] tobad357 commented on #1753
@tsandall any updates on this as this would be very helpful for a lot of our cases.
Our option is to write our own plugin as you mentioned

[2020-06-16 09:54] ajoysinha opened #2472 "How to send customised https response message from OPA to the caller"
This is not an issue but a question.

I am implementing OPA as sidecar in kubernetes and istio. invoking OPA from EnvoyFilter "envoy.ext_authz". my rego policy is as below and it is working as expected.

[code]
For different condition policy is allowing and disallowing [ return code 403 Forbidden ].

My config.yaml for OPA is as below
[code]
Now my query is as below ..

Does OPA provide any featur

[2020-06-16 16:40] ashutosh-narkar commented on #2472
You can write a rule that returns an object which has some headers, status etc. which is then included in the response sent to the downstream client or upstream. See [this](https://github.com/open-policy-agent/opa-istio-plugin/#example-policy-with-object-response) example.

[2020-06-19 04:23] ajoysinha commented on #2454
I am upgraded my istio version to 1.6.3 ..but still facing the issue.
**### we are planning to use istio plugin with this plugin version in production ..**
can you please tell me ..if this is possible or we should revert back to some old version. what version should be appropriate ..

[code]
my versions are

istio Version : 1.6.3
minikube version: v1.11.0

istioctl version
client version: 1.6.3
co

[2020-06-19 04:42] ashutosh-narkar commented on #2454
@ajoysinha anything before `1.6.0` should work. I can spend some time on this next to update the Envoy filter crd with the new format. I believe if we do that, `1.6.x` should work as well.

[2020-06-19 09:38] rahulchheda commented on #2413
Is somebody working on this issue? I would like to contribute!

[2020-06-19 11:36] ajoysinha opened #2477 "ertificate is not valid for any names, but wanted to match admission-controller.opa-istio.svc"
This is a question.

I am planning to change default "TLS certificate for OPA admission controller". and followed following steps.

1. Created openssl sertificate using following command [ I have passed all other info blank ]
[code]
2. got the tls.crt from AjoyCertificate.crt and use at server-cert secret
3. got tls.key from AjoyKey.key and use at server-cert secret
4. deploy iostio-opa

Now when

[2020-06-19 11:59] ajoysinha commented on #2477
I have tried to create the certificate with domain name "admission-controller.opa-istio.svc"

Now I am getting following error

[code]

[2020-06-19 12:12] ajoysinha commented on #2477
Here is my kube.config
[code]

[2020-06-19 12:34] ajoysinha commented on #2477
Any steps from istio to  "change default "TLS certificate for OPA admission controller". and followed following steps."

[2020-06-19 18:25] ashutosh-narkar commented on #2413
@rahulchheda go for it !

[2020-06-19 18:53] ashutosh-narkar commented on #2477
Refer to the example [here](https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/#3-deploy-opa-on-top-of-kubernetes) to create a self-signed cert and use that in the  webhook config. The CN value must match the OPA service name. In this case `admission-controller.opa-istio.svc` .

[2020-06-19 19:29] jceresini commented on #491
We load a config.yaml file into opa along with our policies. Some of those policies require data from the config, so if its missing our policies report bad data. Due to a blunder on our part, we managed to run OPA without our config file, and had to track down an issue.

There are other ways to address the above issue, but one solution that would be nice, is if we could add a dependency to our reg

[2020-06-22 15:51] tsandall opened #2479 "Add built-in function to generate range of numbers between min and max"
A few recent use cases could have used a built-in function to generate a range of integers between two numbers. For example:

[code]

Note, since OPA supports arbitrary-precision numbers, we should use big.Int for the implementation.

[2020-06-22 20:34] nhw76 opened #2482 "Support IMDSv2 for AWS authentication"
The original AWS instance metadata service that is used in OPA (IMDSv1) is [vulnerable to SSRF attacks](https://aws.amazon.com/blogs/security/defense-in-depth-open-firewalls-reverse-proxies-ssrf-vulnerabilities-ec2-instance-metadata-service/), whereby an attacker uses a misconfigured WAF/upload capability/etc. to disclose the credentials inappropriately. This vulnerability is known to have been in

[2020-06-23 03:13] karunchennuri opened #2484 "Rego file generated on windows IDE always returned policy allow as false"
I've used [Playground](https://play.openpolicyagent.org/) to generate a rego policy that decodes a JWT token to extract claims, it then maps claim against predefined ACL to take policy decisions. I am hitting `/policy/allow/result` to fetch the result as boolean value true/false.

Further editing rego policy from Playground to Windows environment VSCode IDE and uploading the policy via
[code]
Run

[2020-06-23 13:33] tsandall commented on #2347
This is implemented by #2474.

[2020-06-23 13:33] #2347 closed

[2020-06-23 13:33] tsandall commented on #2170
This is implemented by #2474.

[2020-06-23 13:33] #2170 closed

[2020-06-23 13:47] #2367 closed

[2020-06-23 13:54] tsandall commented on #1781
Closing this issue because taking a proactive approach would be problematic. By design, OPA is general-purpose. Encoding domain-specific masks into OPA would violate that principle. Users and vendors that embed OPA as part of their platforms are free to include common, pre-defined masks for their use cases.

[2020-06-23 16:04] patrick-east commented on #2484
Thanks for filing the issue!

One thing to clarify, OPA _should_ handle windows-style line endings in policies. The parser is equipped to deal with them correctly and we have quite a bit of testing. While possible there is an issue there, I wouldn't expect to see it manifest in this way. I'd expect an error response from the server saying it couldn't parse the policy or input document.

What I am

[2020-06-23 16:20] tsandall commented on #2482
@nhw76 thanks for filing this. This is a good issue for someone with relevant experience to contribute to. Since we already implement IMDSv1, supporting IMDSv2 should follow a similar pattern fairly easily.

@nhw76 are you interested/available to implement this?

[2020-06-23 19:21] tsandall commented on #2271
@patrick-east it looks like this hasn't been sorted yet. I'm going to assign @frankiecerk who is interested in working on this.

[2020-06-24 11:37] srenatus opened #2487 "opa-istio-plugin: "up to date" version check fails"
## Expected Behavior

Running `opa-istio-plugin` version `0.21.0-istio`, I'd expect the version check done by the runtime to return "up to date".

## Actual Behavior

The version check outputs this:
[code]

## Steps to Reproduce the Problem

1. Checkout `github.com/open-policy-agent/opa-istio-plugin`, build it (`make build-mac` for me)
2. run it and see:
[code]

It would be straightforward to stri

[2020-06-24 13:37] ajoysinha opened #2488 "OPA data in config map is not working as expected"
I am trying to pass **policy and data** both through config map. policy is working fine ..but data is not working .. my implementation is as below.

Data :
[code]

Data loading

[code]

My Policy implementation.

[code]
It seems to me that "customer_is_familyhead" is not working.

[2020-06-24 14:18] nhw76 commented on #2482
@tsandall happy to!

[2020-06-24 18:42] ashutosh-narkar commented on #2488
The data should be available under `data.customer`.

[2020-06-25 05:00] ajoysinha commented on #2488
I have tested both
[code]
and
[code]

**but it failed in both the cases.**

As Note: I have implement the same use case using bundle [ policy and data ], and it was working absolutely perfect.
for a specific case, i need to implement data as part of config map. and that is where it is not working. policy is working but data is not working. i can see both [ policy and data ] loaded successfully . b

[2020-06-25 05:38] ashutosh-narkar commented on #2488
Just to clarify you want to use bundles and also load policies/data from disk ? If yes see [this](https://www.openpolicyagent.org/docs/latest/management/#multiple-sources-of-policy-and-data) for how to make this work.

You have to include a `.manifest` file in your bundle to scope the bundle.

[2020-06-25 05:51] ajoysinha commented on #2488
For this POC / usecase , i only need to load data from kubernetes config file. [ bundle is not used here ]

when i am looking into configs, it looks as below
[code]

by looking into data structure i did the following also. but no progress

[code]

interesting thing is .. when i am using the same thing in [https://play.openpolicyagent.org/](url) it is working. but not in deployed OPA.

I assume, i

[2020-06-25 08:38] ashutosh-narkar commented on #2488
Have you tried using OPA's REST api to check the loaded data ?

[2020-06-25 09:37] ajoysinha commented on #2488
I have deployed OPA as sidecar using istio-opa-plugin in kubernetes.

I know how to check loaded data for standalone OPA deployment, but no clue how to query sidecar implementation in istio.

grateful for any guidance.

[2020-06-25 14:13] nhw76 commented on #2482
@tsandall @patrick-east I think the linked PR covers the requirement - let me know what you think.

[2020-06-25 14:31] tsandall commented on #2488
@ajoysinha the REST API is still exposed in by the `opa-istio` plugin. You can query it normally.

What looks odd to me is that you're labeling the configmap per the kube-mgmt convention for data loading. Why is that label on the configmap? You've also copied the path from [here](https://github.com/open-policy-agent/kube-mgmt/#json-loading) in the kube-mgmt README.

I don't know how much we can he

[2020-06-25 15:39] gaga5lala commented on #2467
I am not familiar with k8s admission api, it may take me few days. Can I take up this issue?

[2020-06-25 15:43] tsandall commented on #2467
Sure @gaga5lala. I think this is the change you have to make in the tutorial doc:

[code]

If you can test it out and post your results so we can verify, that would be excellent.

[2020-06-25 16:37] tsandall opened #2491 "Support rules for negated expressions not generated correctly"
In some cases, PE has to generate support rules for negated expressions. When it does this, the support rules must be given names. Currently PE uses the outer query ID and the expression index to produce unique names, however, this is not correct when there are multiple solutions. For example:

[code]

Assuming the query is `p = true` then when `p` is evaluated, the query ID will be 1 (the identif

[2020-06-25 17:14] tsandall opened #2492 "Support rules for undefined partial documents not generated correctly"
PE generates support rules for partial documents if the reference requires the full extent of the document. However, if none of the rules that generate the document are defined, the document should be considered empty (not undefined). Currently PE does not generate the correct output in this case (it generates a reference to a non-existent/undefined virtual document.)

Example:

[code]

[code]

In

[2020-06-25 17:23] tsandall commented on #2479
@frankiecerk this is another good one that you could pickup.

[2020-06-26 01:19] karunchennuri commented on #2484
I think I already figured out from the docs that the input should be wrapped in
`
{ "input": <doc>}
`

This time I tried the following steps:

`opa run --server`

`curl -k -X POST http://localhost:8181/v1/data --data-binary @my-input-jwt.json | jq .`

my-input-jwt.json

`
λ cat magentaauth-input-karun-client-id.json
{
    "input": {
        "attributes": {
`

[2020-06-26 01:42] patrick-east commented on #2484
Can you try without `--data-binary` for the input? I was unable to reproduce an issue, and policy aside that was the only difference with what i did.

If that doesn't help please share the policy and input that reproduces the issue.

[2020-06-26 01:44] karunchennuri commented on #2484
I reran the steps with a slight change in ACL definition

Instead of -
`
λ curl -X PUT http://localhost:8181/v1/data/uaajwt/acl --data-binary @my-acl-data.json
`

Changed to below

`
curl -X PUT http://localhost:8181/v1/data --data-binary @maxsmythe -acl-data.json
`

This worked perfectly fine!

You are right if it's nothing to do with windows styling `\r\n` doesn't seem to have any impact vs `\n`

[2020-06-26 01:44] karunchennuri commented on #2484
You may close this @patrick-east

[2020-06-26 14:27] jjthom87 opened #2494 "Error when calling policy agent on Windows: first path segment in URL cannot contain colon"
We are running queries with version 0.11.0 and 0.20.5 of open policy agent on Windows, and are getting errors. It seems to be adding a colon somewhere in the line of it getting to the http.send call in the _is_in_org_ function in the rego file below. We believe it's at the substring call in the _is_user_in_org_ in the rego file below. The _is_in_org_ & _is_user_in_org_  functions both trickle up t

[2020-06-26 15:09] #1699 closed

[2020-06-26 15:09] #1700 closed

[2020-06-26 15:37] tsandall commented on #1781
Baking default decision masks into OPA is problematic because it violates one of the core design principles of project (i.e., domain-agnosticism). Moreover, shipping default decision masks could also be problematic as it gives users a false sense of safety.

I'm going to close this issue for now because there's nothing to be done within OPA itself.

[2020-06-26 15:37] #1781 closed

[2020-06-26 17:05] tsandall commented on #2387
@garethr @caniszczyk any update on the last outstanding item from the checklist (transfering domain ownership)?

[2020-06-26 17:08] garethr commented on #2387
@tsandall ah! I need to send Chris a code. I'll try and code next week.

[2020-06-26 18:00] patrick-east commented on #2484
Glad to hear it is working! 👍

[2020-06-26 18:00] #2484 closed

[2020-06-26 18:37] #2467 closed

[2020-06-26 19:37] #2482 closed

[2020-06-26 21:45] patrick-east commented on #2494
Can you share a little bit more info about the policy? I tried to reproduce this and was unable to.

I took your snippets and made a couple of quick modifications:

t1.rego:
[code]
t2.rego:
[code]

The key changes being that I define a `url`, ignore the `not is_null(url)` thing, and added in a `trace()` to see what the formatted url looks like.

On my windows box:

[code]

Where there is no error

[2020-06-26 21:59] jaspervdj-luminal opened #2497 "Possible regression for dynamic dispatch + nested comprehensions"
# Expected Behavior

Through https://github.com/fugue/regula/issues/51, I found a possible regression in
OPA 0.20 & 0.21.  The test case involves using dynamic dispatch as well as nested
comprehensions.  I've tried to reduce it as much as possible, but it's still somewhat
complex and seems to require the combination of these two features.

Using `opa-0.19.2`:

    $ ./opa-0.19.2 run lib1.rego lib2

[2020-06-29 08:55] ajoysinha opened #2498 "Standard istio application is not working [ 403 forbidden ] after installing opa-istio-plugin in the same namespace"
I am trying to do following steps but not getting expected behavior.

**Steps A**

1.  I have a namespave dev-a
2.  in that namespace following lebel setup :
                     opa-istio-injection: disabled
                     istio-injection: enabled
3. deployed app in that name space
4. Application is accessible using URL : status code 200

**Steps B**

5. Installed opa-instio-plugin using at

[2020-06-29 16:29] ashutosh-narkar commented on #2498
It would helpful to see the OPA logs to see the request that it gets. Also you have a custom policy loaded, have you unit-tested it ?

[2020-06-29 16:39] gaga5lala commented on #2303
@patrick-east Can I take up this?

[2020-06-29 16:54] gaga5lala commented on #2399
@tsandall I'd like to contribute some code, does this suit for beginner? or do you have other suggestion? Thanks.

[2020-06-29 17:21] gaga5lala commented on #2437
Hi @tsandall, does this means to remove built-in ast functions defined in `ast/builtins.go` and relative files (are they mostly defined in https://github.com/open-policy-agent/opa/pull/828?). And then run go test locally (or submit PR wait test result on CI) to check is there any missing pieces?

[2020-06-29 17:31] patrick-east commented on #2303
@gaga5lala go for it! 👍

If you run into any issues feel free to reach out to me.

[2020-06-29 17:41] patrick-east commented on #2399
@gaga5lala this one may not be a good one to start with, depends on how familiar you are with the h2c support in golang. Check out the ones labeled with "low-hanging-fruit":  https://github.com/open-policy-agent/opa/labels/low-hanging-fruit for some (potentially) better issues to start with