[2021-07-26 22:53] tsandall opened #3679 "ast.Array should cache groundness bit to avoid unnecessary computation"
The ast.Array structure does not memoize groundness. As a result, checks for groundness have to recompute for all elements which can be expensive for large arrays.

Related: 00be8a27cb189f4a732ddbd51546088e2a348493

[2021-07-26 23:19] tsandall opened #3680 "Built-in function errors should not turn into undefined if terms requiring evaluation are passed (Var, Ref, etc.)"
OPA should return an internal error instead of invoking the built-in function if the operand requires evaluation. The built-in functions assume that operands have been plugged and are grounded so if they receive a type they do not support they return a generic eval_type_error that gets turned into undefined unless strict builtin error checking is enabled. We should improve the evaluator to return

[2021-07-27 00:17] tsandall opened #3681 "PE with shallow inlining producing incorrect result for some function calls"
Given the following policy:

[code]

PE w/ shallow inlining produces the following:

[code]

Running PE with --strict-builtin-errors reveals the following:

[code]

The problem with the trace above is here:

[code]

In this case, the Fail on L5 is actually due to the type error above. However, `count()` should either be invoked with `[]` or it should not be invoked at all and it should be saved.

[2021-07-27 07:35] srenatus commented on #3678
I've had a look at what the server does when a policy is uploaded via the `v1/policies` API: It calls `UpsertPolicy(ctx, txn, "some/policy", buf)`, where `some/policy` corresponds to the request path, I had used a `PUT /v1/policies/some/policy` request. As far as the virtual docs (accessible via `v1/data`) is concerned, that path doesn't matter much, what matters is the ` package xyz` in the polic

[2021-07-27 07:48] coolyrat commented on #3678
right away.

Yes, right now I'm passing `rego.Module('neveruse', 'package nerveruse')` into `rego.New`. And it works as expected. But I'm not sure this is the right way.

https://github.com/open-policy-agent/opa/blob/3ec75dc61a098be3fc0606137125b413397e1619/rego/rego.go#L1604-L1608

[2021-07-27 07:55] srenatus commented on #3678
I think that's not a bad way to think of it -- it's just that the "statement" equivalent here are the policies _and_ the query. If either one changes, the PrepareEvalQuery state needs to be reconstructed.

[2021-07-27 08:03] coolyrat commented on #3678
Absolutely, so passing a no-use module is good to go? Although this looks a bit confusing.

[2021-07-27 08:06] srenatus commented on #3678
Oh, I'm not actually sure if that's needed. Can't you roll with `r.modules` unset? Can you share your current approach's code? I guess I've kind of lost track 😅

[2021-07-27 08:11] srenatus commented on #3628
Ah this is merged. Thanks again!

[2021-07-27 08:11] #3628 closed

[2021-07-27 08:16] coolyrat commented on #3678
No. Unset `r.modules` won't be able to get a policy from the store. Refer to the link below.

https://github.com/open-policy-agent/opa/blob/3ec75dc61a098be3fc0606137125b413397e1619/rego/rego.go#L1604-L1619

Please have a look into the gist.
![image](https://user-images.githubusercontent.com/1881159/127120662-31453bd6-0af5-46e3-ad27-24fe6d82a477.png)

https://gist.github.com/coolyrat/3842bc08f00e77

[2021-07-27 08:20] srenatus commented on #3678
💡 Now I get it. 🤦 Thanks. Yeah looks like a decent workaround.

That said, how about passing `rego.Module()` to your `PrepareForEval` call? As far as I can see, you'll have to update that PrepareEvalQuery state anyways, so you could just ignore the store completely. (Unless you'd like to use data, of course.)

[2021-07-27 08:33] coolyrat commented on #3678
I have to keep the store for data, of course~

I don't get the idea, how to do that? I've updated the gist. Seems like I have to `rego.New` every time I update a policy.

https://gist.github.com/coolyrat/3842bc08f00e77c4c1db3af267629fe9

[2021-07-27 08:46] srenatus commented on #3678
Sorry I wasn't clear -- by updating the `PrepareEvalQuery` state, I meant re-executing these steps:

https://gist.github.com/coolyrat/3842bc08f00e77c4c1db3af267629fe9#file-opa-go-L48-L57

...and since you've got to do that anyways, you might as well use `rego.Module()` directly for updating the rego policies used for the evaluation. What's better depends on the usage pattern, I guess. 🤔

[2021-07-27 08:56] coolyrat commented on #3678
If that's the fact, for now, I might just do `rego.New` every time. If the benchmark tells there are performance issues, I might try the store trigger approach, `rego.New` when the policy changed.

[2021-07-27 09:02] srenatus commented on #3678
Sounds about right. What kind of app are you building? If you don't mind me being curious. 😄

[2021-07-27 09:05] coolyrat commented on #3678
We are building a user account center. Trying to use OPA as the underlying model, calculating the user permissions.

[2021-07-27 09:07] srenatus commented on #3678
Oh cool, thanks for sharing. Please don't hesitate with opening issues, or reaching out on slack!

[2021-07-27 09:08] coolyrat commented on #3678
sure, thank you very much!

[2021-07-27 09:08] #3678 closed

[2021-07-27 16:39] #3654 closed

[2021-07-27 20:26] peteroneilljr opened #3685 "Create a Feedback repository and enable GitHub Discussions"
[GitHub Discussions](https://docs.github.com/en/discussions) is a tool where community members can ask and answer questions, share updates, have open-ended conversations.

Enabling GitHub discussions for the OPA community creates the following benefits:
1. Centralized place for community discussions around OPA
2. GitHub issues can be focused on code development and bugs
3. Members have a place to

[2021-07-27 21:24] tsandall opened #3686 "Update docs to include information on strict-builtin-errors"
In v0.25.0 we switched the built-in error handling behaviour to turn runtime errors into undefined so that policy evaluation doesn't halt unexpectedly. However, in some cases, users need/want to be able to see those runtime errors surfaced and so they need to enable "strict built-in errors". The mechanism for doing this differs depending on whether the integration is via HTTP, CLI, Go, etc.

We sh

[2021-07-27 23:20] mvaal commented on #2530
This does not appear to be working for me.
I am using the `openpolicyagent/opa:0.30.0-rootless` image. It gave me an error that it only accepts `error` not `ERROR`. And when I use `error`, I get zero logs, even with `--set=decision_logs.console=true` active. When I remove `--log-level=error`, I get both health check and decision logs again. Wondering why `ERROR` is working for you? Maybe I am usin

[2021-07-27 23:38] resullar-vince commented on #3542
Sorry for the late response. I think so far it's all good. so we can close this one. thanks!

[2021-07-27 23:46] #3542 closed

[2021-07-27 23:51] ashutosh-narkar commented on #2530
[#3654 ](https://github.com/open-policy-agent/opa/issues/3654) is fixed with [this](https://github.com/open-policy-agent/opa/pull/3684) PR. A new version of OPA with this change will be released this week. cc @Treiblesschorle

[2021-07-28 07:13] Treiblesschorle commented on #2530
@mvaal You are correct, the log level has to be lower case. In my post, I just copied the line from the post above. Also, it is currently expected that nothing is logged due to the mentioned regression (#3654).

[2021-07-28 16:09] TheHydGuy commented on #2418
Hello everyone,
I have the same issue with http.send failing whenever I have high load to the service. After around 1000 requests in a given minute (may be 1024), the http.send fails with error "too many openfiles" and I believe it is the same issue mentioned here (creating a new client on request) and my container is running out of the open file descriptors.
After that minute, everything works fo

[2021-07-28 18:13] mvaal commented on #2530
I saw the 0.31.0 version released today. I upgraded and can confirm that this is working as expected.

`opa run --server --log-level=error --set=decision_logs.console=true`

Returns only the decision logs and not the health check logs. Thanks!

[2021-07-28 18:17] ashutosh-narkar commented on #2530
Thanks for confirming this @mvaal ! Closing this issue.

[2021-07-28 18:17] #2530 closed

[2021-07-28 18:33] TheHydGuy opened #3688 "opa envoy - http.send errors out with too many open files under load"
## Expected Behavior
http.send should be working fine under load

## Actual Behavior
After processing 1000 requests in a given minute, it fails with too many open file descriptor error and resumes after that part particular minute

## Steps to Reproduce the Problem

* OPA version: openpolicyagent/opa:0.31.0-envoy
* Example query, input, data, and policy that OPA was given:
`policy_response := http

[2021-07-28 18:43] ashutosh-narkar commented on #2418
@TheHydGuy I'm curious what's the value for `ulimit -n` ?

[2021-07-28 18:46] TheHydGuy commented on #2418
Thank you for the quick response. I'm trying to check that but not sure how to execute the shell command inside the distroless image (envoy-opa).

Could you please share any instructions if you have it handy. Thank you!

[2021-07-28 19:03] ashutosh-narkar commented on #3688
Related to #2418.

[2021-07-28 19:13] TheHydGuy commented on #2418
Update: Increasing the ulimit fixed the issue.

[2021-07-28 19:20] ashutosh-narkar commented on #3688
@TheHydGuy can we close this in favor of #2418 ?

[2021-07-28 19:21] #3688 closed

[2021-07-28 19:21] TheHydGuy commented on #3688
@ashutosh-narkar  - closed the issue. Thanks again for the prompt response.

[2021-07-29 10:16] srenatus commented on #3679
This is a little hairier with arrays compared to sets: when slicing an array, the elements are still shared. So
1. the slice could have a different groundness than the original
2. changes to the slice could change the original's groundness

Still worth improving, of course. 👍

[2021-07-29 19:32] greggirwin opened #3690 "DOCS: Syntax diagram for grammar"
%docs/content/policy-reference.md has a semi-formal EBNF-ish grammar. ;^) Since it's not correct EBNF a colleague adapted it so we could render a syntax diagram for it. We can re-render using your actual grammar if you make it EBNF (or ABNF) compliant. Attached are the diagram and the grammar we used to render it.

It was done very quickly, so we're not 100% sure of our accuracy in understanding y

[2021-07-30 07:35] srenatus commented on #3690
Heh, intriguing. 😃 Thanks for sharing this.

I'd say a _proper_ formal grammar would be a great addition to either the docs here, or the [contrib](https://github.com/open-policy-agent/contrib) repo. (Haven't had a close look at the one you've shared yet, sorry.)

We _used to_ use [pigeon](https://pkg.go.dev/github.com/mna/pigeon) for parsing, and we had a  PEG grammar for it in the repo. That had

[2021-07-30 11:26] srenatus commented on #3582
I'll clean this up. Please don't hesitate re-opening, or adding another issue with any questions you can't find a good answer for 😃

[2021-07-30 11:26] #3582 closed

[2021-07-30 11:33] srenatus commented on #3154
Cleaning up old issues.

I don't think there's much to do here right now -- please open another issue if your istio 1.8.2 problems persist (that said, 1.8.6 is the latest release of the 1.8 series now.

It's tested continuously using kind, see https://github.com/open-policy-agent/opa-envoy-plugin/blob/debf709e193038079326a6188d21949c6f5bccd9/.github/workflows/checks.yaml#L63-L93

[2021-07-30 11:33] #3154 closed

[2021-07-30 11:34] srenatus commented on #2953
I don't this this discussion is still alive -- closing. Please feel free to reopen, or add a new issue, if there are remaining problems.

[2021-07-30 11:34] #2953 closed

[2021-07-30 12:43] srenatus commented on #3545
Another thing we could do, I guess, is to stop committing `vendor/` to git, and to advise users of OPA as a library to not do it? I don't think there's much of an advantage in comitting `vendor/`, besides having builds that don't do networking to fetch go modules. But I'd think those won't be a problem, with the proxy infra that is backing them...? 💭

It won't help will full checkouts, since the h

[2021-07-30 16:43] greggirwin commented on #3690
Conftest is what brought me in. In designing the config library for Red, I want to consider verification, constraints, and also ties to a capability security model. I also plan to tinker up an HCL parser, to get more familiar with IaaC (IaaD) tooling out there. While Red _is_ a programming language, it's a data format first and foremost. Anyway, I saw your grammar and then we had to play. :^)

The

[2021-07-30 17:26] greggirwin commented on #3690
Ah, I can pull examples from the playground if nothing else.

[2021-07-30 18:02] srenatus commented on #3690
Yeah. There are also a few test cases here, https://github.com/open-policy-agent/opa/tree/main/test/cases/testdata, that should cover most of the grammar in one way or another.

[2021-07-30 18:44] anderseknert commented on #3690
@greggirwin you might find this useful https://github.com/open-policy-agent/opa-idea-plugin/blob/master/src/main/grammar/Rego.bnf

[2021-07-30 18:56] greggirwin commented on #3690
Thanks @srenatus ! Looks like I'd need to extract `modules:` from each of the YAML files to get straight %.rego content for testing, yes?

@anderseknert thanks for that, though the grammar there isn't valid BNF or EBNF either. I think it's the same as from the docs.

[2021-07-30 19:02] srenatus commented on #3690
Correct, multiline yaml strings. Twice the fun. ;)

[2021-07-30 19:16] anderseknert commented on #3690
@greggirwin not the same as the one in the docs. The IntelliJ IDEA plugin uses this to generate its Rego parser. Whether the BNF is pristine or not, it seems to work well for the intended purpose :) @vgramer might know more about the details on that specific format.

Either way, I think a diagram would be a nice addition to the grammar section.

[2021-07-30 19:22] greggirwin commented on #3690
As if YAML isn't enough fun to begin with. Hack time. :^)

@anderseknert, this is the issue with sooooo many tools. They use slight variants of known grammars. Even the huge OData projects added case sensitive switches to ABNF. Of course, any grammar is better than no grammar, and we hope to support people and make them more popular. Clearly we also think diagrams have value.

[2021-07-30 19:40] srenatus commented on #3690
I'm not personally a huge fan of diagrams -- but having more parsers for Rego lowers the bar for implementing further tooling, and that's something I'm very much interested in 😄

[2021-07-30 19:48] srenatus commented on #3592
Oops I didn't mean to close this. anyOf is deal with, allOf is still a TODO.

[2021-07-30 23:49] #3600 closed

[2021-07-31 01:21] greggirwin commented on #3690
Is it the diagrams themselves you don't like, or the pain of creating and maintaining them? If it's the diagrams themselves, what is it you don't like about them?

[2021-07-31 01:45] gujun4990 commented on #1336
Currently, @ashutosh-narkar have realized the long polling(https://github.com/open-policy-agent/opa/pull/3418).

[2021-07-31 07:29] #2911 closed

[2021-07-31 12:50] srenatus commented on #3690
First of all, this is just my opinion and not in any way binding for this discussion 😎

If there's a good formalism, I tend to not look at the visual representation. That said, visuals generated programmatically are the best, and much much preferable over hand-crafted diagrams... what's important then is that the tooling used is readily available (and at best, automatically invoked when the source

[2021-07-31 17:01] greggirwin commented on #3690
Thanks for the extra info. I asked because we're trying to learn and get more feedback. So far, the main reason people push back is a) They think it will be too much work to maintain (even though it has value), and b) they still use YACC or Bison and think those should be enough for anybody. I exaggerate to make jokes. :^) The positive feedback we've gotten is that people didn't realize how the di

[2021-07-31 17:05] greggirwin commented on #3690
![rego-plain](https://user-images.githubusercontent.com/460079/127747292-61ce7548-5cb2-4d75-b96f-12174d85ec67.png)
Truly plain this time.

[2021-08-02 11:23] srenatus commented on #3679
Looking further into this, the `evalTerm`'s `get/next/enumerate` code path isn't the same for array as it is for sets and objects,
https://github.com/open-policy-agent/opa/blob/8fc2ba17a1f4e654d970736e81513894e71bd4f2/topdown/eval.go#L2709-L2731

we'll get a Number term for the index here, and feed that into `get`,
https://github.com/open-policy-agent/opa/blob/8fc2ba17a1f4e654d970736e81513894e71bd

[2021-08-02 19:02] eliw00d commented on #1719
Just came across this looking for any previous discussions on --watch functionality since we were interested in it as well. +1!

[2021-08-02 21:09] TheHydGuy opened #3694 "OPA Envoy docker - Create log file"
I'm trying to deploy the OPA Envoy that runs along side of my application for external Authorization. I'm having difficulty to understand how the logging can be configured to write to a log file.
## Expected Behavior
Option to configure opa envoy to write logs to file.
`FROM openpolicyagent/opa:0.31.0-envoy`

[2021-08-03 07:21] srenatus commented on #3694
Usually, you'd have some service management component take care of capturing the logs, and writing them to a file, or some other data store. Like, kubernetes, docker, systemd, runit or whatever floats your boat.

OPA itself (and the same holds for opa-envoy-plugin) doesn't know how to write logs to a file.

What is your deployment scenario? How come you'd prefer OPA to manage the log files?

[2021-08-03 07:33] srenatus commented on #3694
If you're interested in decision logs, see also https://github.com/open-policy-agent/opa/issues/2605.

[2021-08-03 07:53] christophwille opened #3696 "wasm: clarify opa_eval args"
https://github.com/open-policy-agent/opa/blob/main/docs/content/wasm.md

`str_addr opa_eval(addr, entrypoint_id, value_addr, str_addr, int32, addr, format)`

The int32 is supposed to be?

Also a question on entrypoint_id: unless you call opa_eval_ctx_set_entrypoint the default is used for eval. So what is the "default value" for default entry point in this case?

[2021-08-03 08:12] srenatus commented on #3696
Sorry, those match the text, but the presentation there could surely be improved -- adding the types, we have:

The int32 is the length of the input string written to memory.

Does that help?

------------

That'll be `0`, the first entrypoint.

[2021-08-03 08:45] christophwille commented on #3696
I am getting somewhere but definitely doing something wrong in terms of what I need / no longer need to call...

https://github.com/christophwille/dotnet-opa-wasm/blob/0c1421e5b5d4450f0a678e2e27286d4ff2f72604/src/Opa.Wasm/OpaPolicy.cs#L164

(old Evaluate is the method above, it mirros the JS impl)

I am quite sure that something in the chain outlined via https://github.com/open-policy-agent/opa/pu

[2021-08-03 08:51] srenatus commented on #3696
I don't know how the C# wasm stuff works, but the idea is that you wouldn't even call `opa_malloc` to allocate space for the input json, you'd just write it at `dataHeapPtr`, and add the input length to `dataHeapPtr`, which is then passed to `opa_eval`. Also, you wouldn't need to parse it. All that now happens in `opa_eval`: https://github.com/open-policy-agent/opa/blob/v0.31.0/wasm/src/context.c#

[2021-08-03 08:54] christophwille commented on #3696
A question on that code piece - there is a distinction in dumping between json (opa_json_dump) and value (opa_value_dump), however, on parsing it is always value parsing (opa_value_parse). Is this intentional?

[2021-08-03 09:05] christophwille commented on #3696
I modified as per your suggestions:

[code]
https://github.com/christophwille/dotnet-opa-wasm/blob/1c7fce613f9da3d9eaec1f3f5213b4fecffe165f/src/Opa.Wasm/OpaPolicy.cs#L164

This makes it work... but sure feels strange to modify the heap in this "rude" fashion.

[2021-08-03 09:14] srenatus commented on #3696
Yeah, so, any JSON is a valid "Value" format -- the distinction between the two is sets, which don't exist in JSON. So,

    { "foo": { "bar", "baz", "quz" } }

would be a valid "value" string, but not valid JSON. When reading the input, however, it's up to the caller to provide JSON or "value". For the output, however, we let the caller decide: if they can make sense of "value" (sets in json), th

[2021-08-03 09:22] christophwille commented on #3696
ok, so my not modifying _dataHeapPtr is the correct approach then.

[2021-08-03 09:58] christophwille commented on #3696
I added benchmark results: https://github.com/christophwille/dotnet-opa-wasm/pull/16 - note that this doesn't reuse the policy but create it new each time. So the general overhead eats up most gains.

[2021-08-03 10:04] srenatus opened #3697 "cosign builtins"
Cosign (recently reached 1.0 🎉 👏) is a tool to create and verify signatures of OCI artifacts (not only images?).

It avoids having to deal with the entire blob (images can be huge, obviously) by signing and verifying a detached payload containing of the name and a content hash: see [its signature spec](https://github.com/sigstore/cosign/blob/main/specs/SIGNATURE_SPEC.md).

A proof-of-concept of so

[2021-08-03 10:13] srenatus commented on #3696
🎉 Thanks again for updating the SDK. I suppose this can be closed now? 🤔

[2021-08-03 10:16] christophwille commented on #3696
Yes, unless want to use it to track docs improvements from this.

[2021-08-03 10:17] srenatus commented on #3696
😄 fair enough. Let's do that.

[2021-08-03 11:18] srenatus commented on #3696
While I'd love a full-blown, useful-for-more-than-just-docs WITX definition here, I'll look into making a small improvement for clarifying the arguments... 😄

[2021-08-03 12:34] TheHydGuy commented on #3694
I'm running a docker container, can you please point me how I can redirect the console logs to logfile may be.

[2021-08-03 12:39] srenatus commented on #3694
Please refer to the docker docs and stuff... googling turned up this, https://earthly.dev/blog/understanding-docker-logging-and-log-files/, looks like a decent intro 🤔

[2021-08-03 22:59] gshively11 opened #3701 "Proposal: Add visibility to OPA server initialization in Plugin Manager"
I'm working on a plugin to make OPA play nice when running in AWS Lambda.  I'm using the existing plugin architecture in OPA (i.e. like status, decision logs, etc.).  The Lambda plugin is responsible for contacting the Lambda service to request an event when OPA is fully initialized (among other things).  However, right now, there is no way to verify if/when the OPA server is fully initialized wit

[2021-08-04 02:00] maxsmythe commented on #3545
In addition to avoiding fetch for faster build times, committing vendor to git has the advantage of a guaranteed static build, that is not subject to libraries disappearing due to deletion.

It seems fairly exceptional to require all consumers of a library not to use a common golang workflow, especially after-the-fact.

[2021-08-04 07:34] srenatus commented on #3545
@maxsmythe Yup, you're completely right about this. This isn't something we can impose on users, it would just be offering an option to people who are concerned about those large files.

💭 **That said**, if you don't vendor your dependencies, go will not pull the opa vendor/ dir in. So if you're concerned about the large files, you could do that today already, couldn't you?

[2021-08-04 08:12] srenatus commented on #3701
I think the same problem is solved in the sdk package, like [this](
https://github.com/open-policy-agent/opa/blob/v0.31.0/sdk/opa.go#L118-L139):

[code]

Am I wrong? Would the same approach solve your issue? 🤔

[2021-08-04 08:12] srenatus commented on #3701
Oh wait, you'd like to do that from a plugin... is that what complicates things?

[2021-08-04 12:14] srenatus commented on #3697
(per @dlorenc's comment in slack) 👉 https://github.com/sigstore/cosign/issues/437

With inline attestations, we could verify the image (cosign) signatures with golang stdlib means. That would perhaps strike a good match between being useful to many and light on dependencies and maintenance.

[2021-08-04 15:33] gshively11 commented on #3701
Yea, from within a plugin, I need to know when the OPA server's listeners are fully initialized and able to receive traffic.  Right now, I'm stuck with a race condition where sometimes when I tell Lambda I'm ready for an event, the listener still isn't up.

Your example looks like a listener for Plugin state, which isn't sufficient, because all plugins must be in an OK state before the listener ev

[2021-08-04 15:41] srenatus commented on #3701
Thanks for clarifying. One thing that seems a little at odds here (to me) is that the server's handlers should be ready when its plugins are not. I suppose this isn't a problem with careful wording, though.

[2021-08-04 15:43] gshively11 commented on #3701
Yea it's a little odd, but makes sense in the case of our plugin.  The plugin is "ready" to start asking for events once the server is initialized.  So we set it to OK state right before that point, then wait on the channel until the server is ready.

[2021-08-04 18:57] maxsmythe commented on #3545
True, though how many people who are using OPA as a library are concerned about the WASM runtime? They are still forced to choose between vendoring large blobs of files or being subject to dependencies disappearing due to repo deletions (which does happen).

Gomod automatically prunes unused files (as in they are not part of the import tree for the vendoring project). I wonder if there is some way

[2021-08-04 18:58] maxsmythe commented on #3545
Also note that the large WASM binaries came after OPA was made available as a library, so the solution of "don't vendor" is still a regression.

[2021-08-04 19:04] maxsmythe commented on #3545
It also occurs to me that making the WASM support injected at runtime would allow it to be maintained in a separate repo, which would lower the cost of cloning the OPA repository as well, which would make it easier on contributors.

[2021-08-04 19:44] srenatus commented on #3545
Not trying to be annoying on purpose, but we also have no hard numbers on how many people are concerned about the large binary files. (Let alone how many people would even notice this if github didn't return a warning on git push.)

I wouldn't dismiss Wasm stuff that easily either. Most users might not care today -- but that can change (just imagine we pull through #3631).

That said, I am open to

[2021-08-04 19:47] gshively11 commented on #2757
Now supported with changes in #3336

[2021-08-04 19:47] #2757 closed

[2021-08-04 21:31] maxsmythe commented on #3545
Fair. The file size is mostly an accessibility concern, particularly for those with limited internet bandwidth.

Not relevant to the current discussion, but worth asking: How much of the WASM blob is devoted to running WASM vs. explicitly providing rego builtins in a WASM form? I know that opaque binaries bundled in repos are generally a security concern, to the point where more security conscious

[2021-08-04 21:39] maxsmythe commented on #3545
A less naieve solution may try to take into account other possible build targets... compile Rego directly to ARM or x86?

[2021-08-05 02:27] lambneo opened #3707 "opa-wasm compile error"
### Describe the bug
A compile bug related with `opa.OPA` struct initialization.

### A clear and concise description of what the bug is
I tried to use this SDK to realize a simple policy center but to find a very strange compile error:
[code]
After debug I found this error is related with the reference of `opa.OPA` in different packages. However, **I failed to reproduce** this error in a new proj

[2021-08-05 07:29] srenatus commented on #3707
😬 I'm afraid we've done a poor job with messaging that the sdk was moved to an internal package, and is developed there.

So, right now, what I'd expect to work is the code in https://github.com/open-policy-agent/opa/tree/main/internal/wasm. (It's diverged from golang-opa-wasm quite a bit, too.)

That said, depending on what you want to do, the `rego` interface should be a more convenient API for

[2021-08-05 07:30] srenatus commented on #3696
@christophwille would be you be able to have a look at that PR? Your input would be appreciated! 😃

[2021-08-05 08:40] lambneo commented on #3707
OK, thanks for your advice. I just scanned the new repo and  I found the concurrent mode is still the same with the old one(pool <- vms), so I wonder if it is convenient to directly use struct `OPA` to finish the evaluation, I do prefer this way.

[2021-08-05 09:45] srenatus commented on #3707
So you'd like to not use the built-in pooling? I don't think there's a convenient way to do that.

Could you give me a more complete picture what you're trying to do, and how the pooling is an issue there? Maybe there's a good middle ground somewhere. 🤔

[2021-08-05 10:00] srenatus commented on #3545
Thanks, you made me realise how our situation here is similar to database drivers 😅 The approach commonly taken there are underscore imports... *so*, I've taken a bit of time to sketch this out here: https://github.com/open-policy-agent/opa/pull/3708 From playing with this locally, it should let GK (for example) get rid of the wasmtime-go dep.

There's further questions about this approach raised

[2021-08-05 12:41] lambneo commented on #3707
Thanks Srenatus! Well, I get three reasons for that:

1. Actually I want to implement OPA in my Java project (not integrated with framework like Spring ), but OPA hasn't supported Java integration yet.
2. The policy I define is not complicated and no advanced features of OPA get involved. It is much easier for me to use wasmer-java to implement a simple opa-java sdk rather than making many complic

[2021-08-05 12:45] srenatus commented on #3707
Oh sorry I must have misunderstood you earlier. To generate Wasm modules from your Rego policies, you don't need the golang-opa-wasm sdk; it'll work out of the box with `opa`, `opa build -t wasm`, and the wasm file will be in that bundle. You can use that file with any Wasm engine available to your host language.

[2021-08-05 12:46] srenatus commented on #3707
It's explained here, https://www.openpolicyagent.org/docs/latest/wasm/#compiling-policies -- please let us know if you get stuck.

[2021-08-05 14:33] lambneo commented on #3707
Hahaha, I reached this step long time ago, so back to the beginning, it is the compile error while I execute the `main.go` in the examples I gave that confuses me.
To fully illustrate the problem, the `policy.wasm` in my case is built from this simple rego file:
[code]
`data.policy.allow` is the default entrypoint I set while compiling.
Could you help me to fix this strange compile error? I will b

[2021-08-05 14:51] srenatus commented on #3707
What's your call arguments there? Just double checking...

[2021-08-05 15:00] lambneo commented on #3707
For rego it should be `allow`, the logic of my case is correct because the results of test codes I left in `Additional context` are correct, the problem is realted with the reference of `opa.OPA` in different packages.

[2021-08-05 15:28] srenatus commented on #3707
It looks like you're having issues compiling the cgo portions of golang-opa-wasm. I doubt that this has much to do with the duplicate definitions, those errors would look differently.

As mentioned above the golang-opa-wasm package has bitrot a bit. I'd try to copy some sources from the internal package, or look around if people had similar issues using wasmer-go.

[2021-08-05 15:34] lambneo commented on #3707
Thank you so much srenatus! Looking forward to your response!

[2021-08-05 15:44] srenatus commented on #3707
Sorry this was meant as a hint what to do 😅
But I'll try to play with this a bit tomorrow anyways.

[2021-08-05 21:47] maxsmythe commented on #3545
Nice! Interesting model, this "import to include" system.

Thank you for taking a look at the approach!

[2021-08-06 06:02] lambneo commented on #3707
Hello srenatus, I tried the methods you gave but to find interesting part in https://github.com/open-policy-agent/opa/blob/main/rego/rego.go line 1476 - 1481:
[code]
it seems that rego don't support wasm target for now😅

[2021-08-06 06:32] srenatus commented on #3707
Nope that works. You'll exercise the same code path from the command line, like `opa eval -t wasm '1+3'`

[2021-08-06 06:46] lambneo commented on #3707
But the codes run in this logic once I get to `r.PrepareForEval()` steps, and It will run `hasWasmModule()` to check if there is a wasm files readed, if there is, returns err "wasm target not supported".

[2021-08-06 07:24] srenatus commented on #3707
Ah, I see! Sorry -- would you mind sharing that code? I think only modules passed via `rego.New(..., rego.Module(...))` are support for that code path. Parsed modules, or modules on the compiler, are not.

[2021-08-06 07:43] lambneo commented on #3707
[code]
I compiled the bundle and loaded it with the `rego.LoadBundle` because the OPA binary on my Macos can only be executed in its directory.

[2021-08-06 07:54] srenatus commented on #3707
Oh so the bundle must the the problematic thing here. Looking at the code of `r.hasWasmModule`:

https://github.com/open-policy-agent/opa/blob/b3e0fb6654279bfd0d2a72822944d989cf85a9dd/rego/rego.go#L2291-L2298

So, is your bundle a wasm bundle? (Built with `opa build -t wasm`?) If so, it shouldn't be.

Let me please clarify, there are two different workflows here, and I believe I may have contribut

[2021-08-06 08:14] lambneo commented on #3707
Ok got it, but it leads to another, I already set opa binary global, but run the version without loading any bundle will get errors like this:
<img width="603" alt="截屏2021-08-06 下午4 12 02" src="https://user-images.githubusercontent.com/37793830/128479048-c82290d4-a3d9-499c-b424-c5fc0267e646.png">
This error is the reason why I choose to build myself.

[2021-08-06 08:17] srenatus commented on #3707
What is your host OS? As of OPA 0.29.4, the binaries for linux/windows/macos come with wasm enabled -- could you try running with the latest releases binary for your OS, https://github.com/open-policy-agent/opa/releases/tag/v0.31.0?

[2021-08-06 08:20] lambneo commented on #3707
Macos, I downloaded the corresponding opa binary and it is already the newest:
<img width="402" alt="截屏2021-08-06 下午4 18 47" src="https://user-images.githubusercontent.com/37793830/128480065-09be36d1-b33b-4cfe-a552-4ad1a3288e70.png">

[2021-08-06 08:26] srenatus commented on #3707
OK so that binary looks OK. The build hostname is not a confidential property, it's the same for me, it's where the binary was built (some github actions' runner).

Back one step, what did you do or run that go you this error message? https://github.com/open-policy-agent/opa/issues/3707#issuecomment-894088369

[2021-08-06 08:29] lambneo commented on #3707
[code]
run this part

[2021-08-06 08:31] srenatus commented on #3707
OK so now we're back with option (2.) I've mentioned above (https://github.com/open-policy-agent/opa/issues/3707#issuecomment-894076632). There, the OPA binary doesn't matter at all, since the wasm module is built from the rego code.

Please try passing a build tag "-tags opa_wasm" to whatever `go` command you use to run this code.

[2021-08-06 08:57] srenatus opened #3711 "topdown<->wasm: implicit integer-to-string cast in topdown?"
With `data.json` as
[code]
we find the following:

[code]

[2021-08-06 08:58] srenatus commented on #3694
I don't know of more to do here -- please re-open if this keeps bugging you and you think it's something that should be fixed in OPA. 😃

[2021-08-06 08:58] #3694 closed

[2021-08-06 09:02] lambneo commented on #3707
That works! I found the `OPA` used in this workflow leads to `nop.go`, that is the reason why this error occurred. Thanks srenatus!

[2021-08-06 09:43] srenatus commented on #3711
🔍 The store lookup for data will translates the number into a string [here](https://github.com/open-policy-agent/opa/blob/v0.31.0/storage/path.go#L66-L67)

[2021-08-06 09:45] srenatus commented on #3711
So, a simpler repro case is `data.json`: `{"2": "foo"}` and `opa eval -t rego -d data.json 'data[2]'`.

[2021-08-06 09:54] srenatus commented on #3711
The situation changes when the defer happens on the value we've liberated from the store before:
[code]

Starting to wonder what's the right approach here 🤔

[2021-08-06 10:03] srenatus commented on #3711
Looks like this goes both ways: addressing array elements via string numbers works through the store but not on values:

`data.json` is
[code]

eval input vs data:
[code]

[2021-08-06 11:07] srenatus commented on #3707
@lambneo are you unblocked? We could close this 😅

[2021-08-06 11:14] srenatus commented on #3711
Since the API of `store` uses paths like `/x/2/baz`, and doesn't differentiate if `x` is `[{}, {}, {"baz": 1}]` or `{"2": {"baz": 1}}`, I'm not sure what our best approach would be here.

1. change the storage API to differentiate numbers-as-numbers (indices) from numbers-as-strings (object keys)
2. change the Wasm code for dot stmts to handle numbers differently, depending on whether the LHS is d

[2021-08-06 12:43] srenatus commented on #2233
Times have changed, aarch64 and wasmtime-go should work now.

So, what remains to be done for this is building and testing. There's ways to do that on github actions using either docker buildx or some multi-arch qemu thing, with prior art in github.com/bytecodealliance/wasmtime, for example.

[2021-08-06 14:00] lambneo commented on #3707
Though the compile error still confuses me, it enough for this issue, thanks srenatus.

[2021-08-06 14:00] #3707 closed

[2021-08-06 18:08] gshively11 opened #3713 "Proposal: Optionally exclude specified plugins from /health?plugins"
We co-locate OPA with our applications and use the `/health?bundles&plugins` route in our orchestration layer to verify OPA is up and healthy before we start sending traffic to our app/OPA.  If the health route starts returning 500s, this will shutdown both our app and OPA, after the initial start period, as intended.

We also have some custom plugins that enter a `WARN` state when they become unh

[2021-08-07 16:47] greggirwin commented on #3690
Any further thoughts on this? I'm happy to render the diagram with colors you prefer, and clean up the diagram that goes with it, but have some other things in the queue as well, so would like to wrap this up while it's fresh.

[2021-08-07 17:24] srenatus commented on #3690
Sorry for dropping the ball here. I'm not sure I've understood how those diagrams can be regenerated. Being able to do that would be quite important from my perspective. 🤔

[2021-08-08 01:34] greggirwin commented on #3690
With our tool. I can do it as needed, you can use the free version which watermarks the image (forced attribution :^), and I can put one of you on the list for a FOSS license so you can handle it all (and no watermark).

[2021-08-08 01:38] greggirwin commented on #3690
Our tool currently targets Windows. We have to decide if GTK and Mac are worth the time and effort, but that would be next year.

[2021-08-08 04:03] amitkatyal commented on #3363
@ashutosh-narkar, I am running OPA in the k8s cluster and came across the OPA hang issue. I am not sure where the OPA was stuck (maybe we will collect more information if the issue happens next time), but can this deadlock happen in the running OPA or it can only happen during the graceful shutdown of the OPA.

[2021-08-09 00:14] ashutosh-narkar commented on #3713
Just to understand this a bit more, you're saying that there could be some plugins whose state does not matter for OPA to be considered healthy and then there are some plugins that **have to be** in the `OK` state.

Just not including the `plugin` query param won't satisfy your use-case ?

[2021-08-09 05:06] lambneo opened #3715 "Target("wasm") performance issue"
Hi, I tried the advices given in [issue#3707](https://github.com/open-policy-agent/opa/issues/3707#issuecomment-893232730) but to find a performance issue. If I add `rego.Target("wasm)` in `rego.New()`, the time cost will surge to 140ms per Eval(). However the Eval() without it costs only 4ms per time.

## Expected Behavior
Running time for 100 serial executions should cost 40ms or even less.
## A

[2021-08-09 05:43] #3696 closed

[2021-08-09 05:50] srenatus commented on #3715
Please look into splitting your eval path -- use `PrepareForEval` first, then `Eval` on int, and re-use the `PrepareForEval` result for further cals to `Eval`.

[2021-08-09 05:55] srenatus commented on #3715
Also please ensure you're using a recent enough release. We've had a few fixes related to the wasm target in 0.31.0.

[2021-08-09 05:58] lambneo commented on #3715
Ok got it, Thank you again!

[2021-08-09 05:58] #3715 closed

[2021-08-09 07:26] srenatus opened #3716 "opa-envoy-plugin: all opt-in with wasm engine"
Right now, the opa-envoy-plugin is configured to use exactly one query, and it's caching the prepare eval state. It should be possible to use wasm instead of the rego target.

It may be worthwhile to re-run some benchmarks to compare rego vs wasm in the envoy scenario.

💭 Note that this has nothing to do with running the wasm modules that OPA can compile a policy to in envoy directly. While very n

[2021-08-09 11:32] srenatus commented on #3716
Started playing with this a bit [here](https://github.com/srenatus/opa-istio-plugin/tree/sr/wasm/opt-in) -- but I've stumbled upon the inter query builtin cache, and I'm currently not sure how that's handled in Wasm 🤔 🔍

[2021-08-09 12:18] amitkatyal opened #3722 "OPA deadlock with decision logs enabled"
We are running openpolicyagent/opa version 0.28.0-envoy in the k8s cluster and are facing a deadlock issue after enabling the decision logs.

Steps to reproduce
1. Enable the decision logs
2. Configure the policy bundle download every X seconds
3. Run the policy evaluation test

After a couple of days of stress test, we are seeing that OPA is getting stuck. We captured the call stack of all the go

[2021-08-09 12:32] srenatus commented on #3722
Thanks for reporting this!

I'll try to have a closer look this week, but maybe someone beats me to it.

🤔 0.28.0 is a bit old -- would you be able to repeat your tests easily with a more recent version? (Anyhow, skimming the release notes, no fixed deadlock springs at me, though; only one related to bundle downloads and shutdown...)

[2021-08-09 14:52] amitkatyal commented on #3722
Thanks, @srenatus!
Yes, we looked at the release notes and couldn't find any fix for this deadlock.
We were earlier running version 29 but had to revert back to 28 due to a memory leak problem after enabling the caching.
Will wait for your findings. Thanks!

[2021-08-09 15:39] gshively11 commented on #3713
Correct.  An example of a plugin that (usually) shouldn't make the `/health` route fail are the logging plugins. In our case, if the logging plugins go into a `WARN` state because Kinesis goes down, we don't want to bring down the entire OPA process, and by association, the app that depends on it.  Whereas something like the bundle plugin failing should probably bring down the OPA process.

Anothe

[2021-08-09 16:42] pvsone opened #3723 "opa-envoy-plugin: add support for TLS for grpc connections"
It would be useful to support TLS on the grpc interface for the OPA-Envoy plugin.  There are scenarios where an Envoy instance may want to communicate with OPA-Envoy, when OPA-Envoy is not deployed as a sidecar.  In a non-sidecar model, where the traffic is over a shared network, it would be preferable for the traffic to be secured with TLS.

[2021-08-09 19:52] srenatus commented on #3722
Have you had a chance to bring these up here? There have been cache-related fixes since 0.29.0, perhaps _that_ issue has even been resolved?

Outside of this concrete problem reported here, it would be unfortunate to be stuck on an old version.

[2021-08-09 22:07] ashutosh-narkar commented on #3363
What OPA version are you using ? We recommend you use the latest released version and let us know if you're still facing the issue.

[2021-08-09 22:14] tsandall commented on #3685
@maxsmythe @shomron @sozercan - we'd like to create a new repo in the org that we can enable the GitHub Discussions feature on. Are you folks okay with this addition?

[2021-08-10 00:23] maxsmythe commented on #3685
Absolutely, though it looks like discussions are already available in the Gatekeeper repo? I know I've gotten a few there.

[2021-08-10 04:53] jralmaraz opened #3725 "Error `__res_init: symbol not found` in alpine based images"
## Expected Behavior

Download binary in alpine linux and run.
## Actual Behavior

Currently latest binaries fail with: __res_init: symbol not found

## Steps to Reproduce the Problem

When running the latest 0.31.0 binary on Alpine 3.13.5 (Linux a7d0b91913d1 5.10.25-linuxkit #1 SMP Tue Mar 23 09:27:39 UTC 2021 x86_64 GNU/Linux) we notice the following error:

[code]

I was suspecting that an O.S

[2021-08-10 05:03] amitkatyal commented on #3722
Yes, there is already an open ticket for the same.
https://github.com/open-policy-agent/opa/issues/2978

[2021-08-10 05:03] geekhckr commented on #2978
FYI, we have v0.29.4-envoy-3, but still I can see the memory leak. Also in v0.28.0 with `GODEBUG=madvdontneed=1`, we were observing memory leak, but it is slow. So, we have stopped using the caching feature for now and making the requests every time.
I think it is better to investigate this issue.

[2021-08-10 05:39] srenatus commented on #3725
Thanks for the detailed issue.

For scenarios where there is no glibc around, the "static" variant of the binary introduced in 0.29.x should work, `opa_linux_amd64_static`. But that's first a first thought, I'll have a closer look at this.

[2021-08-10 07:46] srenatus commented on #3725
Just verified that we can meet that expectation with the opa_linux_amd64_static binary:
[code]

We've been publishing static binaries for the alpine use case (among others) with [v0.29.4](https://github.com/open-policy-agent/opa/releases/tag/v0.29.4).

The [build instructions used for that binary](
https://github.com/open-policy-agent/opa/blob/v0.29.4/Makefile#L267-L270) should do the trick for yo

[2021-08-10 08:02] srenatus commented on #3690
Thanks for the details and thanks for bearing with my style requests above. I think I'd like to let someone else chime in, but my preference would be to _pass_ on this for now. Since we cannot have a simple make target to regenerate the file, it'll potentially be something that grows stale when the grammar changes... 🤔

[2021-08-10 11:14] srenatus commented on #3631
So far, there has been no way to do networking from wasm modules. Looks like there's some recent efforts in experimenting with that in WasmEdge, see https://github.com/WasmEdge/WasmEdge and https://github.com/second-state/wasmedge_wasi_socket. Pretty experimental, though. No support for this in wasmtime yet, or perhaps even, soon.

[2021-08-10 16:36] ashutosh-narkar commented on #2978
@geekhckr when you refer to a memory leak, are you noticing both the allocated bytes and Sys usage going up always or is it only the Sys memory. From the experiments we've done in the past we've noticed the latter. Also how much memory have you assigned to the OPA container and what's the cache size limit?

[2021-08-10 17:55] greggirwin commented on #3690
OK. Diagrams are documentation, and suffer the same issue as all other documentation.

[2021-08-10 19:18] tsandall commented on #3636
The problem with binding at runtime is that static analysis could not determine the cost of an expression without knowing the schema of the data (which may not be available). That would have to lead to pessimistic estimates that could be confusing/not useful.

We've heard the request to make it easier to convert lists to sets a few times recently. I could easily see us revisiting that. It would ce

[2021-08-10 21:12] jralmaraz commented on #3725
Awesome. Thanks @srenatus  for looking at this and for providing the detailed explanation, I have tried using the static version and it works perfectly fine. Cheers!

[2021-08-10 21:12] #3725 closed

[2021-08-10 22:33] koponen-styra commented on #2152
Of all the vendored dependencies, it looks like at the moment github.com/yashtewari/glob-intersection is the only one with a dependency to pkg/errors. I prepared a PR to fix that: https://github.com/yashtewari/glob-intersection/pull/2 After that, it's only a few internal uses of the errors package we have left. They can be removed as we already have parts of the codebase dependning on the 1.13 "%w

[2021-08-11 00:02] tsandall opened #3728 "Improve PE to execute against comprehensions dependent on unknowns"
In some cases, it would be beneficial to run PE on comprehension bodies, however, today, OPA will refuse to PE comprehension bodies if they depend on unknowns because the result may be not easily generated. For instance, if PE were to generate multiple output queries for the comprehension body, those would need to be lifted into rules, which may not even be representable in Rego today (e.g,. as pa

[2021-08-11 04:26] geekhckr commented on #2978
With `GODEBUG=madvdontneed=1` sys memory is not growing constantly, it is periodically reclaiming the memory.
I have given my container 2 GB, and with v0.29.4-envoy-3 it crashed within 7 hours, but with v0.28.0 and `GODEBUG=madvdontneed=1` we were able to run it for more than week, but RSS is constantly growing.

[2021-08-11 05:49] #3690 closed

[2021-08-11 12:16] srenatus opened #3729 "non-deterministic type checker failure"
With this policy in `t.rego`

[code]

repeatedly calling `opa eval -fpretty -d t.rego 'data.t.f({}, {}, 1, 12)'` gives me three different outcomes:

[code]
[code]
[code]

[2021-08-11 12:41] srenatus commented on #3729
💡 we're unify2'ing `count`, the function, with `__local5__` and that'll succeed, and later make it so that `f` has a type that looks like one of its arguments was supposed to be a function.

Still don't understand where the nondeterminism comes from, probably some ordering.

Either way, there are two ways out here, I think:
1. shadowing `count` like this *should be allowed*, but type-checked prope

[2021-08-11 12:42] srenatus commented on #3729
Replacing `count` -> `c` gives me a stable `undefined` result, no errors.

[2021-08-11 13:40] mehrankamal commented on #1802
Hi @tsandall, I want to work on this issue if this is still open. I'm new to opensource so pointers are appreciated.

[2021-08-11 15:23] sozercan commented on #3685
Sounds good to me. Like @maxsmythe said, we had GitHub discussions enabled for Gatekeeper for some time. Would it make sense to have it enabled for individual repos so they can be specific to the project and easier to find for users?

[2021-08-11 15:39] srenatus commented on #3697
👉 https://github.com/sigstore/cosign/issues/532

[2021-08-12 04:10] geekhckr commented on #2978
Cache limit is 64mb.
Also I have observed some CA cert store related changes as well in the v0.29.x.

[2021-08-12 06:52] peteroneilljr commented on #3685
Hi @maxsmythe and @sozercan, enabling Discussions in multiple repos might make it easier for a knowledgable community member to find the answer they're looking for in a specific project, but I feel this leaves out a large number of new members and casual browsers that haven't built up that knowledge yet. Searching for answers in a centralized repository should make it generally easier for the over

[2021-08-12 08:51] chrsoo opened #3731 "Enforce valid HTTP requests based on OpenAPI specifications"
## Expected Behavior
OpenAPI specifications can be construed as policies for what HTTP requests are considered valid. It would be great if OPA could be made to understand OpenAPI specifications.

This would be useful for implementing in an API Gateway or in a sidecar for a specific API.

Something along the following lines:

* An OpenAPI specification is provided to OPA
* OPA parses the OpenAPI sp

[2021-08-12 09:10] #3592 closed

[2021-08-12 09:16] chrsoo commented on #3731
That was fast... ;-)

In terms of OPA I don't really know the framework well enough to say how exactly the specs would be provided.

The way I would like to use this as a developer end-user would be to provide the Open API specification as a file or URL to a K8s resource, perhaps attached as an annotation to a K8s Service resource. Then an Open API operator would find, compile and apply the spec a

[2021-08-12 09:22] srenatus commented on #3151
Hmm pretty silent. Looks like this is done, or no longer of interest...? I'll close it, feel free to re-open or create another issue if I'm mistaken.

[2021-08-12 09:22] #3151 closed

[2021-08-12 09:22] chrsoo commented on #3731
Regarding

... this popped out when googling.

https://github.com/ashutosh-narkar/openapi-to-rego

[2021-08-12 09:26] srenatus commented on #3731
Same time zone 🙌

So, I think having a built-in function would give us the most flexibility here. 🤔

Let's use this issue to track this feature, and let others chime in that have similar ideas.

----

Hah, great! (@ashutosh-narkar 👏)

@chrsoo I suppose for schemas that don't change too often, you could just use this to generate a policy from it. (Additional wiring would be needed to deal with the

[2021-08-12 18:44] susmitasain commented on #3151
Hi ,

Sorry for the late reply .

I was working on the same still now but you can close it .

Thanks

On Thu, Aug 12, 2021 at 2:22 AM Stephan Renatus ***@***.***>
wrote:

--
Thanks
Susmita Sain

[2021-08-12 19:06] ritazh commented on #3685
I can definitely see the benefit of having a centralized discussion forum to help new users to discover projects, features, and discuss integrations between projects. As a maintainer, this seems like yet another place I have to check for questions and discussions. It would be great if this centralized discussion forum can notify me when discussions relevant to my project need my attention (much li

[2021-08-12 21:00] #3681 closed

[2021-08-12 21:31] #3701 closed

[2021-08-12 21:33] #3713 closed

[2021-08-12 21:33] #3071 closed

[2021-08-12 21:35] timothyhinrichs commented on #3636
Thinking through all the common cases for the semantics of `x in thing` to mean `x is a key in thing`.

First the non-negated.
* key k is a member in an object obj: `k in obj`.  Iteration: `some k in obj`
* value v is an element of a set st: `v in st`.  Iteration: `some v in st`
* value v is a member of an array arr: `_,v in arr`.  Iteration: `some _, v in arr`
  * alternative: `v in set(arr)` and

[2021-08-12 21:45] timothyhinrichs commented on #3636
It's noteworthy that Arrays are the most common case where `in` would be valuable, yet they seem to be the least well-supported.

Looking at the common cases when `x in thing` means x is a value in thing.

Non-negated
* value in obj: `v in obj`
* value in arr: `v in arr`
* value in set: `v in set`
* key in obj: `obj[k]`   or   `_ := obj[k]` to handle false
* index in arr: `arr[i]`  or  `_ := arr[i

[2021-08-12 21:46] timothyhinrichs commented on #3636
Only other alternative is supporting `keyin` and/or `valuein` to handle the other case easily.

Examples where `x in thing` means `x is a value in thing`.  Combined with `x keyin thing` to mean `x is a key in thing`.

Non-negated
* value in obj: `v in obj`
* value in arr: `v in arr`
* value in set: `v in set`
* key in obj: `k keyin obj`
* index in arr: `i keyin arr`

Negated
* not value in obj: `n

[2021-08-13 01:02] yaobo-lab opened #3734 "Why does not support Mysql, redis, or others storage ?"
Why  don't  support  Mysql, redis, or others storage ?

[2021-08-13 13:05] mvbn6789 opened #3735 "Extra data Option 5: Pull Data during Evaluation example code want"
Hey!
 OPA is a great project and maybe I will use it in my permission management system.
I have read the extra data doc page and I want to use Option 5: Pull Data during Evaluation
https://www.openpolicyagent.org/docs/latest/external-data/

Is there any more doc  in detail show how to use it or some example code
Thank you !

[2021-08-13 14:42] tsandall commented on #3735
@mvbn6789 the `http.send` built-in function lets you execute arbitrary HTTP requests from within the policy:

[code]

See the [docs](https://www.openpolicyagent.org/docs/latest/policy-reference/#http) for the built-in function for all of the parameters that are supported.

You can also recompile OPA with your own custom built-in functions if you want to reach out to custom data sources: https://ww

[2021-08-13 14:53] tsandall commented on #3734
@yaobo-lab the short answer is that like everything else, there are tradeoffs. One of the goals of the project is to enable distributed policy enforcement. This means that OPA is not necessarily deployed as a centralized service; it's deployed at the edge, next to whatever piece of software requires policy decision-making. Because of this, OPA has to be able to serve policy decisions without depen

[2021-08-13 15:22] tsandall commented on #3722
@amitkatyal thanks for filing a detailed issue! It does indeed look like there's a bug in the opa-envoy-plugin. I believe the issue is that the opa-envoy-plugin isn't keeping the policy query transaction open when it logs the decision. The bundle plugin should not be able to commit until the decision is logged.

Assuming this is correct, we'll get this fixed ASAP.

[2021-08-13 17:07] tsandall opened #3736 "Add a built-in function to reverse arrays and strings"
OPA does not currently include a built-in function for reversing strings and arrays. While it's possible to write a comprehension that does this, it's a bit cumbersome. We can add two simple built-in functions for reversing strings and arrays:

[code]

[2021-08-13 18:56] anderseknert commented on #3636
Some great insights above! One thing that really got me thinking was:

Agreed, and this annoys me too. Maybe an alternative would be to have `in` (in the testing ownership case, ignoring iteration for now) _always_ check for value, and make it simpler to extract keys from an object, since that's really the only case where keys are of interest? Something like:

Non-negated

* value in obj: `v in ob

[2021-08-14 01:40] amitkatyal commented on #3722
@tsandall thanks for confirming the root cause. Will for the fix.

[2021-08-14 06:11] ashutosh-narkar commented on #3722
@amitkatyal we are investigating this and we should have a fix out by next week.

[2021-08-14 12:12] amitkatyal commented on #3722
@ashutosh-narkar thanks for the update.

[2021-08-15 05:25] mvbn6789 commented on #3735
thank you
maybe Option 5: Pull Data during Evaluation is not  a  proper solution for me.
In fact I want to a opa database adaptor  like casbin(I did a lot of research about casbin ) https://casbin.org/docs/en/adapters.
my permission management system will provider  a ui for people to crud user permission  If no official database adaptor provider. The way I can think of it ：
step1: user add policy

[2021-08-16 03:16] yaobo-lab commented on #3734
If the policy data is enough big, how to deal with?

[2021-08-16 03:51] mvbn6789 opened #3737 "OPA output result is not complete"
OPA output result is not complete
https://play.openpolicyagent.org/p/uUwBFjSF8P
## Expected Behavior

Input:

{
    "message": "world"
}

Policy:

package play

default hello = false

hello {
    m := input.message
    m == "world"
}

hello2 {
    m := input.message
    m == "world"
}

hello3 {
    m := input.message
    m != "world"
}

OutPut:

{
    "hello": true,
    "hello2": true,
    "hello2

[2021-08-16 08:03] srenatus commented on #3737
Yes, it's expected: you are querying for full extent of the _package_ `play`. It consists for three _rules_ (`hello1`, `hello2`, `hello3`), and any rule that has a body that can't be satisfied will evaluate to undefined, and doesn't contribute to the full package extent, and is not displayed.

Introducing `default hello3 = false`, you say that _if `hello3` cannot be satisfied, return false_ -- and

[2021-08-16 08:37] chrsoo commented on #3731
@srenatus the issue is less that it needs to be dynamic and more the fact that the OPA policy will vary with each API and that we will have many APIs. The way I understand it (perhaps wrong) is that the ISTIO sidecars will all use the same policy and I think it would be a bad idea trying to merge all APIs into a single policy. Hence the dynamic loading of the policy from the API implementation.

[2021-08-16 08:41] srenatus commented on #3731
That's not necessarily the case, I think. There are discovery bundles and other config means (see https://www.openpolicyagent.org/docs/latest/configuration/), and you can dynamically configure the bundle to use in a specific sidecar. So, yeah, it would be unfortunate to merge them all (though the performance impact might not be too bad if written with a little care to use the rule indexer...), but

[2021-08-16 09:21] mvbn6789 commented on #3737
thank you for  quick reply ! I will close it

[2021-08-16 09:21] #3737 closed

[2021-08-16 09:48] #3545 closed

[2021-08-16 09:53] srenatus commented on #3716
ℹ️ this will now need to account for #3708

[2021-08-16 13:09] vas-rus opened #3740 "Opa Bundle with aws s3 configuration help"
Hi Team,
I am new to opa server.
I am working on using opa as authorizer for multiple policies and use case is that I upload multiple policies to s3 bucket and then each policy has his own link like /opa/example/allow or /opa/example1/approve.
Now I want to use different requests coming to use this link along with data to check whether they are allowed for specific policy or not.

I am little conf

[2021-08-16 18:46] nityanandagohain commented on #3736
Hey, can I pick this up ?

[2021-08-16 19:42] anderseknert commented on #3740
Hi Vasu! I saw your question on StackOverflow too, but since that site doesn't lend itself too well to back-and-forth conversations, perhaps we can try and solve your issue here first, and then post the solution there for posterity.

Your config.yaml file looks incomplete. You'll need to at minimum define a _service_, then use that service in a _bundles_ configuration. From your example, this woul

[2021-08-16 22:02] michael-baraboo-datastax opened #3741 "OPA request logs do not include query parameters"
Hello, we're using k8s liveness and readiness checks on our OPA deployments.
For liveness we do a basic call to `/health`. For readiness we do a call to `/health?bundles` to check the bundles are loaded.
Both API's work as expected, however in the OPA request logging we're unable to distinguish which call was which. It would be nice to know whether a 500 response came from the liveness or readines

[2021-08-17 06:43] vas-rus commented on #3740
Hi @anderseknert ,
Thanks for reply.
However , Is resource field mandatory to point to bundle?  I want to have multiple bundles in this s3 and then depending on requirement call the api for specific bundle. If I point to specific bundle then I have to start one service for one bundle.

[2021-08-17 07:58] srenatus opened #3742 "topdown: allow collecting "strict built-in errors" while not evaluating with them enabled"
When not evaluating a policy with "strict built-in errors" _disabled_ (the default), it would still be helpful to understand what's going on if the _built-in errors_ were bubbled up in some way.

At the core, topdown should take another option for an error collector of some sort.

Surrounding the core, this option could then be exposed from the REPL and `opa eval` commands args.

[2021-08-17 08:39] #3579 closed

[2021-08-17 09:38] anderseknert commented on #3740
You can define as many bundles as you wish all referring to the same service.

[2021-08-17 10:34] srenatus commented on #3736
Just a thought, the strings implementation should work on runes, not individual characters, to avoid unicode troubles we've had in other built-ins.

[2021-08-17 10:35] srenatus commented on #3736
@nityanandagohain of course! Thank you! Let us know if you need some sort of assistance.

[2021-08-17 11:10] vas-rus commented on #3740
@anderseknert  just to be sure according to you this config will work :
[code]

Also , can a bundle contain more than one policy rego and data files ?

[2021-08-17 12:07] anderseknert commented on #3740
It would look like this:

[code]

Definitely! Make sure to check the [docs on bundles](https://www.openpolicyagent.org/docs/latest/management-bundles/) for how bundles are built.

[2021-08-17 12:29] vas-rus commented on #3740
Thanks @anderseknert
However I am still getting blank response .
In opa server bundle is loaded and activated
<img width="1031" alt="Screenshot 2021-08-17 at 5 56 03 PM" src="https://user-images.githubusercontent.com/63399411/129725415-3007b0e3-eed5-4f7f-b49a-d751e5c51cda.png">

rego file is as below :
<img width="572" alt="Screenshot 2021-08-17 at 5 58 20 PM" src="https://user-images.githubuserco

[2021-08-17 12:36] anderseknert commented on #3740
Using the `v1` API you'll need to wrap your input values in an `input` attribute, like:

[code]

Querying the `allow` rule with those values in the input would however not return `true` in any case.

Also, as I previously suggested - make sure to check the logs to see that the bundle is actually downloaded and activated properly.

[2021-08-17 16:45] tsandall commented on #3741
Thanks for filing this @michael-baraboo-datastax. Access logging is implemented [here](https://github.com/open-policy-agent/opa/blob/main/runtime/logging.go#L44). It would be relatively simple to update the logger to include query parameters in the message.

[2021-08-17 17:16] peteroneilljr commented on #3685
Hi @ritazh thank for the comment and I totally understand your concern. Currently, between Slack and GitHub there are a handful of places community members can ask a question or strike up a conversation, each of these places is somewhat interchangeable and receive various degrees of attention from the community and maintainers. This process seems like it has been frustrating for all parties involv

[2021-08-17 19:39] #3661 closed

[2021-08-17 19:49] srenatus opened #3746 "type-checking with jsonschema should not fetch remote schema refs without opt-in"
Tests have made it obvious that schemas that reference remote schemas cause network calls:

[code]

The offending `http.Get` is [here](https://github.com/open-policy-agent/opa/blob/b02a36e25180d179f4b45ef5fe52681d40bad029/internal/gojsonschema/jsonLoader.go).

1. This should be something disabled by default, and opted into voluntarily.
2. ❓ It's a naked Get -- no context parameters, no concern for

[2021-08-17 20:31] tsandall commented on #3746
👍 let's get (1) solved for the next release. I'm not sure if anyone is relying on the remote schema loading feature today. @aavarghese do you know if any of your users are relying on this?

[2021-08-17 21:06] tsandall commented on #3746
@vazirim said that many of the schemas they have include remote refs but the feature is not actively used so it should be fine to disable for now.

[2021-08-18 07:54] vas-rus commented on #3740
Still getting blank response , below is opa logs
<img width="1680" alt="Screenshot 2021-08-18 at 12 25 54 PM" src="https://user-images.githubusercontent.com/63399411/129852086-729f5441-a755-457f-8699-76303ae7701c.png">

@anderseknert  as this is example file and I am very new in opa, can you help me so that I can start with a working model. Any example or link if you can guide me, this one is work

[2021-08-18 08:18] anderseknert commented on #3740
Looks like a typo. Your policy package is named `opa.examples` but you query for `opa.example`..

[2021-08-18 14:12] tarvitz commented on #2325
@nitishm Thanks, my issue wasn't related to mutating itself, but a tutorial missed the part with loading main.rego configuration (and there were no clues about what's wrong). I've got the same issue about `document missing or undefined: data.system.main`.

Probably I still misinterpret a tutorial, I'll figure it out.

[2021-08-18 20:51] jicowan opened #3749 "Add support for sigv4 signing in http.go module"
## Additional Info
I'd like the OPA community to consider adding [sigv4](https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html) signing to the topdown/http.go module. This will be particularly useful for validating signed images where you have to call an AWS service to verify the signature's authenticity (without implementing a proxy service or wrapper). A similar PR

[2021-08-19 00:29] ashutosh-narkar commented on #3749
@jicowan we should be able to re-use some of the code you've pointed out to implement this in `http.send`.

[2021-08-19 01:01] tsandall opened #3750 "Improve comprehension indexing optimization to support function args"
The comprehension indexing optimization doesn't support function arguments today.

O(input) runtime:

[code]

O(arr^2) runtime:

[code]

The problem is that in the second case, the comprehension closes over the function arg `arr`. As a result, the body of the comprehension cannot be evaluated in isolation (the `arr` variable would be unsafe).

To improve this, we have to:

1) Update the restrictio

[2021-08-19 06:09] michael-baraboo-datastax commented on #3741
Hi @tsandall, thanks for the response.

I was unaware of the parameters being visible on debug logging. It would certainly be an option for us to consider provided it's not prohibitively verbose.

Would enabling debug logging result in additional sensitive values being printed? We're currently outputting decision logs, but that's manageable via [sensitive data masking](https://www.openpolicyagent.

[2021-08-19 08:46] vas-rus commented on #3740
Thanks @anderseknert  for your detailed help.

[2021-08-19 08:46] #3740 closed

[2021-08-19 08:58] srenatus opened #3751 "website: surface contributing docs, extend them"
There's some light documentation about contributing in
- [CONTRIBUTING.md](https://github.com/open-policy-agent/opa/blob/main/CONTRIBUTING.md)
- [docs/devel/DEVELOPMENT.md](https://github.com/open-policy-agent/opa/blob/main/docs/devel/DEVELOPMENT.md)

It would be nice if these were integrated into the website's documentation, under a new "Contributing" section.

This section could then be extended

[2021-08-19 15:59] tsandall commented on #3741
I wouldn't recommend running with DEBUG in production.

I was wondering though... if the /health API is failing (returning a non-2xx response code) wouldn't the caller (i.e., the readiness check or the liveness check) report the failure? Why do you need to look at the OPA logs to determine which one failed? I'd assume K8s (or whatever) reports which check is failing.

Nonetheless, updating the acc

[2021-08-19 19:19] michael-baraboo-datastax commented on #3741
I wouldn't list this as important for exactly the reason you've detailed. We can rely on k8s events to demystify here. I happened to receive only the access logs from someone else who was asking about the 500's and so I didn't have access to the k8s events at the time. Ultimately, it was coming from the call to `/health?bundles` due to the bundle not being loaded yet, which is an expected temporar

[2021-08-19 23:33] tsandall opened #3754 "CLI tooling to inspect bundles"
Bundles are pretty simple. We can summarize their structure and contents as follows:

* They are gzipped tarballs
* They can contain .rego files in any location
* They can contain data.json and data.yaml files that are mounted into `data` based on their directory path
* They can contain a .manifest file with various metadata bits
* They can contain policy.wasm files that are mounted into `data` ba

[2021-08-20 11:43] srenatus commented on #3371
I think implementing something like this: https://deno.land/manual@v1.13.1/linking_to_external_code/integrity_checking should remediate many concerns brought forward in the GK discussion: availability is done (vendored copy), security too (integrity checks, committed vendor dir), latency/networking.

[2021-08-22 14:04] nityanandagohain commented on #3736
I tried to make the changes locally but I am not able to build and test on M1 machine, can  I get any help

[code]

With docker the image isn't available for arm64
[code]

[2021-08-22 15:11] srenatus commented on #3736
Can you try `make build WASM_ENABLED=0`

[2021-08-23 07:28] amitkatyal commented on #3722
@ashutosh-narkar, Any update?

[2021-08-23 07:51] yeDor commented on #3442
Hello @anderseknert, thanks for you response and investigation. Yes, i still see the problem. Here i prepared some test example https://github.com/yeDor/opa_issues_3442

With absolute path:
[code]
With relative path:
[code]

looks like it has something to do with data.json
[code]

[2021-08-23 17:11] ashutosh-narkar commented on #3442
Thanks @yeDor for your response. Are you seeing this issue with a recent release of OPA as well ? It would be great if you could provide info on that.

[2021-08-23 17:15] ashutosh-narkar commented on #3722
Hey @amitkatyal we've started to look into this in [this](https://github.com/open-policy-agent/opa-envoy-plugin/pull/278) change. We should be able to make progress on it this week. Thanks for your patience.

[2021-08-23 17:22] amitkatyal commented on #3722
@ashutosh-narkar Thanks for the update!

[2021-08-23 17:57] ashutosh-narkar commented on #3442
@yeDor can you confirm your tests are passing with the relative path. I'm getting the below error:
[code]

[2021-08-23 20:40] tsandall opened #3758 "Write integration guide for the Go SDK"
The new `sdk` package could benefit from an integration guide that shows how to hook it into an existing Go app. The guide should show:

* How to initialize an instance of the sdk
* How to integrate the sdk into an HTTP handler
* How to test the integrated sdk (e.g., point the sdk at a mock bundle, verify decisions are logged, etc.)

[2021-08-23 23:27] gshively11 opened #3759 "Proposal: More flexible healthcheck behavior"
Let's consider this use case:

We want to co-locate opa with our app running in a kub pod (sidecar), such that they share the same fate.  We want to perform healthchecks against both our app and the opa server, so that kub is able to orchestrate them properly.  We don't want to send traffic to our app/opa until opa is fully initialized, including bundles and plugins.  Up to this point, the `/healt

[2021-08-24 19:54] #3746 closed

[2021-08-25 06:38] #3751 closed

[2021-08-26 19:31] gshively11 opened #3761 "Proposal: Surface custom built-in func non-halting errors in decision logs"
Right now, when a custom built-in function returns a non-halting error, there is no clean way to capture the error. @srenatus suggested, and I concur, that it would be useful to have those errors optionally surfaced in decision logs.  Thoughts?

[2021-08-26 19:57] bhoriuchi opened #3762 "Feature Request: Expose Triggers over REST API"
Triggers discussed in #2899 allow manually triggering bundle updates. I would like to formally request plugin updates be exposed over the REST API so that external applications can trigger the updates

[2021-08-27 17:08] cris-he opened #3765 "Feature Request: Built-In RSA Key Parser for JWT Signing (RSA PEM to JWK)"
## Expected Behavior
I generated a pair of RSA keys that will be used for JWT signing, and in the example on the OPA docs (https://www.openpolicyagent.org/docs/v0.14.2/policy-reference/#rsa-key-rsa-signature-with-sha-256), it is asking the RSA key in the JWK format where contains the algo params (e.g. "n", "e", "d", "p", "q" etc.)

<img width="351" alt="image" src="https://user-images.githubuserco

[2021-08-27 23:13] bhoriuchi commented on #3762
@anderseknert that looks good to me.

I started this journey seeing that the tigger functionality was added so thats where I naturally started.

In thinking over my initial request I would ideally like to keep the OPA server on periodic updates and have a method (REST API endpoint) to perform an on demand pull/update of the bundles.

My limited understanding of the trigger addition is that if you

[2021-08-28 14:40] panitaxx opened #3766 "Filename too long when creating bundle"
When signing a bundle with `bundle.GenerateSignature` it returns a filename too long error.

## Expected Behavior

No error

## Actual Behavior

 returns a filename too long error.

## Steps to Reproduce the Problem

I made a small repo to show the error https://github.com/panitaxx/opatest

This happens only when using a private key that is not a filename (key in a string)

It happens because `Sig

[2021-08-29 07:57] sebastian-curland commented on #2975
@zacyang  I'm having this same issue, can you please share how did you fix it? Thanks!

[2021-08-29 11:58] anderseknert commented on #2975
@sebastian-curland did you see my comment on Docker network configuration? https://stackoverflow.com/a/62326320/11849243 provides a pretty detailed answer on what’s going on.

[2021-08-29 17:18] anderseknert commented on #3762
Yeah, I believe #1336 preceeds the idea of plugin triggers, and sounds more like what you want to me. Before that though, ensure that your bundle server handles etag caching :) With that working, even quite frequent polling will be pretty inexpensive as OPA will only download a new bundle if something actually changed.

[2021-08-30 07:57] mvbn6789 commented on #2098
hey
how is your project coming along ?

[2021-08-30 13:24] bhoriuchi commented on #3762
I was also able to achieve the functionality I need by creating a plugin that subscribes to topics (currently testing with NATS) and can trigger a specified bundle. For reference https://github.com/bhoriuchi/opa-plugin-subscribe/tree/main/subscribe

[2021-08-30 16:27] manelpb commented on #2233
+1

[2021-08-30 23:42] tsandall commented on #3231
This is done with #3760 merged into master. I'll file some new issues to track improvements. If anyone wants to provide feedback, please kick the tires and let me know!

[2021-08-30 23:42] #3231 closed

[2021-08-30 23:46] tsandall opened #3767 "Investigate tooling to support partitions in disk implementation"
With #3760 merged we can now start to investigate tooling to advise users on how to configure the disk partitions based on their policies and also verify that policies do not perform inefficient store accesses (e.g., if the store is partitioned at /foo/bar and the author writes `data.foo.bar[x]` the tooling could warn that the entire store content will be scanned.)

[2021-08-30 23:51] tsandall commented on #3759
I'm wondering if we should just let users write some special policy under `system` to determine whether the OPA is operational...

[code]

The k8s readiness and liveness probes could be configured to query /health/ready and /health/live respectively. Internally, OPA could evaluate those special policies to generate the response. The policies could be evaluated with the status and configuration as

[2021-08-30 23:56] #3547 closed

[2021-08-31 00:35] ashutosh-narkar commented on #3184
For bundles, we could point OPA to the Rego playground maybe ? Other option would be to bring up a local Nginx server as described in the [Bundle](https://www.openpolicyagent.org/docs/latest/management-bundles/#nginx) docs and use that.
Alternatively we could replace Nginx with a local python server to serve policies.

[2021-08-31 03:52] guyneedhamcanva opened #3768 "hypens in keys"
I'm unable to access JSON data where keys which contain hyphens. This is problematic as Kubernetes ephemeral storage requests are hyphenated: `ephemeral-storage`.

## Expected Behavior

JSON keys containing hyphens should be accessible.

## Actual Behavior

Where the hyphenated key `ephemeral-storage` is not surrounded by backticks, I get the error `var storage is unsafe`. When it is surrounded by

[2021-08-31 03:59] anderseknert commented on #3768
Hi @guyneedhamcanva! You can quote the key  like:

`input["ephemeral-storage"] == "128Mi"`

[2021-08-31 04:03] guyneedhamcanva commented on #3768
Thanks a lot for the speedy reply.

[2021-08-31 04:03] #3768 closed

[2021-08-31 16:33] gshively11 commented on #3759
Oooo, I like that.  That should work for our use case.  I can take a crack at it in a bit.

[2021-08-31 16:47] tsandall opened #3769 "Add documentation section on capabilities"
We don't currently have a documentation section on capabilities. Since capabilities could be used during build-time or deploy-time, it's unclear what the right location is for them in the docs. I could imagine just adding them to the deployment docs for the time being and refactoring them later. The docs should:

* Explain why capabilities exist
* Show the capabilities structure and features
* Sho

[2021-08-31 16:54] tsandall commented on #3407
@simar7 this issue is about adding support for partial evaluation of wasm-compiled policies; the example you showed would partially evaluate the policy _and then_ compile to wasm and execute it. The goal here would be to run partial evaluation against a wasm-compiled policy.

[2021-08-31 16:55] tsandall commented on #3685
@peteroneilljr can we close this out now that the feedback repo has been created?

[2021-08-31 16:59] tsandall commented on #3766
@ashutosh-narkar can you take a look at this?

[2021-08-31 17:01] ashutosh-narkar commented on #3766
Yes I'm looking into it.

[2021-08-31 19:19] anderseknert commented on #3184
This is done for the [HTTP API](https://www.openpolicyagent.org/docs/latest/http-api-authorization/) docs already (using Nginx and console decision logger) and next up that I am gonna work on is the Docker docs, but that's blocked due to me not being able to push the 0.8 version I worked on to to Docker hub. Gonna have to revisit that now.

[2021-08-31 20:23] ashutosh-narkar commented on #3184
Thanks @anderseknert! I'll look into the Envoy and Kubernetes tutorials then.

[2021-09-01 11:22] peteroneilljr commented on #3685
I'm good to close this issue as it was just for opening the repository, but just going to note here what is still in progress:

- Linking between Slack and Discussions
- Create labels in the Feedback repository
- Scanning other repositories for Discussions and moving them over
- Creating templates for members to follow to open discussions
- Pinned post for "Getting Started with OPA Discussions"
-

[2021-09-01 11:22] #3685 closed

[2021-09-01 22:07] kirk-patton opened #3773 "opa test exit value is the same for skipped as it is for failures"
I created a unit test prefixed with "todo_" and then ran it with OPA test.  As expected, the test was skipped.  I checked the exit code and noted it was "2". When I remove the "todo_" and run the test, I get an expected failure. But, the exit value is also "2".

## Expected Behavior

I expected some other exit value other that "2".

## Actual Behavior

 I expected some other value so that it would

[2021-09-01 22:20] tsandall commented on #3773
Thanks for filing this Kirk. I believe the test subcommand exits with status code 2 because of [this](https://github.com/open-policy-agent/opa/blob/main/cmd/test.go#L297) line.

Changing the exit code to another value if there are no failures and at least one skip sounds reasonable to me. This would encourage people to make all of their tests pass but allow them to handle the exceptional case wher

[2021-09-01 22:31] kirk-patton commented on #3773
Perfect 👍

[2021-09-02 21:43] kirk-patton commented on #3773
I submitted a small PR https://github.com/open-policy-agent/opa/pull/3774

[2021-09-03 00:18] ashutosh-narkar commented on #3184
PR for the Envoy tutorial - https://github.com/open-policy-agent/opa/pull/3775

[2021-09-03 14:21] bhoriuchi commented on #3762
closing since addressed in #1336 and by other means.

[2021-09-03 14:21] #3762 closed

[2021-09-03 22:40] tsandall opened #3776 "Low-resolution timers on Windows"
It seems the timers we're using through the Go standard library are not high enough resolution for some the operations that we keep track of. This results in metrics being returned from OPA or emitted in the decision logs that are set to zero:

[code]

[2021-09-06 14:33] anderseknert opened #3777 "CLI: "too many open files" when using --bundle flag"
##  Actual Behavior vs. Expected Behavior

When using large bundles, or directories "as" bundles using the `--bundle`/`-b` flag, OPA seems to claim an open file handle for each file in the bundle. On Mac this limit is by default rather conservative at 256 (as seen from `ulimit -n`), leading to errors such as:

[code]

Note that this does not happen without the `--bundle` flag (i.e. `opa run .`) le

[2021-09-06 15:01] danilorsilva opened #3778 "admissionregistration.k8s.io/v1beta1 deprecated problem with OPA / ISTIO 1.11 / K8S 1.22"
Hello all,

I am trying to install OPA (using quickstart guide) with Istio 1.11 and Kubernetes 1.22

https://www.openpolicyagent.org/docs/latest/envoy-tutorial-istio/

I have facing some problems with admissionregistration.k8s.io/v1beta1 api because it was deprecated and removed from kubernetes 1.22. I tried to edit the configmaps to replace v1beta1 for v1 without sucess.

error: unable to recogni

[2021-09-06 18:12] ashutosh-narkar commented on #3778
Not at the moment. We'll have to update the recommend Kubernetes version in the doc and use the new api which means it won't work with previous versions.  Have you tried to update the manifest itself as defined [here](https://raw.githubusercontent.com/open-policy-agent/opa-envoy-plugin/main/examples/istio/quick_start.yaml) and use it for your use-case.

[2021-09-06 23:04] danilorsilva commented on #3778
Hello @ashutosh-narkar , thanks for your quick reply.

My step-by-step:

1 - minikube start --memory 8192 --cpus 4

2 - istioctl install --set profile=demo -y

3 - kubectl label namespace default istio-injection=enabled

4 - kubectl apply -f https://raw.githubusercontent.com/open-policy-agent/opa-envoy-plugin/main/examples/istio/quick_start.yaml

#####

Warning: using deprecated filter name "envoy

[2021-09-07 13:47] danieliziourov-form3 commented on #1547
in regards to `default_decision` and directly querying policies.

You can use `/v0/data/<package>/<name>/<...>` path to query similar to `/`.

https://github.com/open-policy-agent/opa/blob/e88ad165ba25dfb7839adfd02213e23ebbbae3bf/server/server.go#L830-L832

In my opinion that should be documented or part of a normal query API. This way we can handle both mutator and validation webhooks with a sing

[2021-09-07 16:55] viditganpi commented on #1701
Is there any update on how to do this?

[2021-09-08 00:20] ashutosh-narkar commented on #1701
Are you using the plugin with Istio ? I haven't tried this out but we could configure OPA to use a [Discovery](https://www.openpolicyagent.org/docs/latest/management-discovery/) bundle and then inside that use an environment variable that particular instance of OPA was started with to select the appropriate bundle. To pass an environment variable in the OPA configmap is something I'm not yet sure

[2021-09-08 00:30] ashutosh-narkar commented on #3778
This seems to be something related to porting the manifest to the new k8s version. Are there any errors in the OPA container ? I doubt OPA even gets the request but good to check. Also any logs in the Envoy container ?

[2021-09-08 07:14] anderseknert commented on #1547
@danieliziourov-form3 the difference between the `v1` API and the `v0` on is that the former wraps the input document in an `input` attribute. This is recommended for the cases where you control the client code, such as application authorization. For other cases - like kubernetes API server webhooks - the `v0` API may be used to preserve the input document as it is.

You can definitely use a singl

[2021-09-08 09:01] danieliziourov-form3 commented on #1547
@anderseknert it's a very weird use of API versioning. If you want to support both use cases they should be in the same version. `v0` implies that it'll be eventually deprecated or shouldn't be used since there is a newer version.

[2021-09-08 15:16] danilorsilva commented on #3778
@ashutosh-narkar Do you recommend an approved version for k8s, istio and opa to test here without problems?

[2021-09-08 16:58] ashutosh-narkar commented on #3778
I tried the tutorial with the following and it worked as expected:

[code]

We need to update [Step 4](https://www.openpolicyagent.org/docs/latest/envoy-tutorial-istio/#4-set-the-gateway-url-environment-variable-in-your-shell-to-the-public-ip-port-of-the-istio-ingress-gateway) of the tutorial.[ Install Istio ](https://istio.io/latest/docs/setup/getting-started/#install)and follow the tutorial up t

[2021-09-08 19:36] danilorsilva commented on #3778
i did as you and i have no error.  Thank you so much @ashutosh-narkar

Now i will test https://www.openpolicyagent.org/docs/latest/http-api-authorization/#8-optional-use-json-web-tokens-to-communicate-policy-data

[2021-09-08 19:40] #3778 closed

[2021-09-09 19:37] bhoriuchi commented on #3777
How many files are in the bundle causing the issue? I attempted to reproduce with a data bundle containing ~1000 directories and 528 data.json files and was not able to. I am on a macbook and my file descriptor limit is also the default 256. I am looking to add quite a few more files/directories and would like to understand any considerations i need to make to accomplish that.

[2021-09-09 20:56] anderseknert commented on #3777
That’s definitely useful. Thanks for the additional details @bhoriuchi! 👍

[2021-09-10 03:35] mehrankamal commented on #3749
@ashutosh-narkar I would like to work on this issue if it's not assigned to anyone yet.

Also, can I get some pointers for implementing this functionality as I am relatively new to OSS?

[2021-09-10 20:08] ashutosh-narkar commented on #3749
Sure @mehrankamal feel free to work on it! The [http.send](https://github.com/open-policy-agent/opa/blob/main/topdown/http.go) builtin has support for TLS certificate currently. I would imagine we would need a new request parameter(s) that can be used to accept the necessary credentials. Then when we [create the HTTP request](https://github.com/open-policy-agent/opa/blob/main/topdown/http.go#L264)

[2021-09-10 23:44] jalseth opened #3779 "Rule output is a list, but is treated like an object"
## Expected Behavior

Rules that output a list are able to be referenced by index number.

## Actual Behavior

Rules that output a list are treated as objects/dictionaries and cannot be referenced by index, but are able to be referenced by specifying the key.

## Steps to Reproduce the Problem

[code]

Which evaluates to:

[code]

[2021-09-11 00:36] ashutosh-narkar commented on #3779
`my_numbers_rule ` generates a set containing your numbers.  If you wanted to write a rule that returns a list of numbers you could try something like

[code]

More information can be found [here](https://www.openpolicyagent.org/docs/latest/policy-language/#rules).

[2021-09-11 01:28] bhoriuchi commented on #3777
well, i suppose i spoke too soon. it seems the issue is with json files as well, i just happened to run the test with json files in a terminal that had a higher limit. I have however traced the issue down to this line of code https://github.com/open-policy-agent/opa/blob/main/bundle/file.go#L133 which opens all of the file before it processes them. i think the only way around this is to open the f

[2021-09-11 01:39] anderseknert commented on #3777
Yeah, that or open them in batches of something like 16. If you’d like to take a shot at a PR, that’d be very welcome 😊

[2021-09-11 03:14] bhoriuchi commented on #3777
Sure, after looking at it again I think we can just read the file in the walk then close it and use bytes.NewReader to pass a reader instead of the file handle for the descriptor

[2021-09-11 13:11] bhoriuchi commented on #3777
after some git hijinks with my first PR, i have submitted a second with the LazyFile implemented.

[code]

0.32
[code]

Dev build
[code]

[2021-09-11 16:10] jalseth commented on #3779
Ah, that makes sense. I was relying too much on the JSON output in the Playground, but JSON doesn't have a way of differentiating ordereds lists and unordered sets so they appeared to be the same. Thank you!

[2021-09-11 16:10] #3779 closed

[2021-09-12 20:42] cris-he commented on #3765
Hi there, @srenatus and @anderseknert , I have made the changes in my local, could you please walk me thru how to create a pull request?

I made a branch locally named "#3765" but I can't push due to permission denied.

[2021-09-13 07:38] #3777 closed

[2021-09-13 07:40] srenatus commented on #3765
Oh great! Thank you!

In short, you'll have to push your branch to a *fork* of this repo. If you fork it, you'll have full access to your fork and push it there. When you've done that, you can open a PR using github's features. See for example https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork.

[2021-09-13 12:42] srenatus commented on #3765
Also let us know if you get stuck there. Happy to help!

[2021-09-13 15:28] cris-he commented on #3765
Thanks for the information, and I have created a PR, could anyone please take a look? Thanks again.

[2021-09-13 19:21] ashutosh-narkar commented on #1701
You can do that using OPA's [Discovery](https://www.openpolicyagent.org/docs/latest/management-discovery/) feature. We'll have to pass an environment variable in the manifest and have OPA use that to decide the policy bundle to use for a particular OPA instance. How to do the former is something that will need to be tried out.

[2021-09-13 19:24] #3766 closed

[2021-09-13 20:34] tsandall commented on #3636
I like the idea of binding to values in the single variable case for `in` and then having a separate `keyin` keyword for checking object keys. I've updated the description to reflect this. Let's go ahead with `in` binding to values and see how that shakes out.

[2021-09-14 09:32] srenatus commented on #1010
https://github.com/minio/minio/discussions/12422#discussioncomment-816361

Looks like the docs got removed ☝️

[2021-09-14 09:36] srenatus opened #3784 "Add "edit on github" to website's docs"
The docs section of the website is driven by git-tracked files. It would be neat to display "edit on github" ribbons or buttons, like [on the deno docs](https://deno.land/manual@v1.13.2/getting_started/webassembly), for example:

![image](https://user-images.githubusercontent.com/870638/133233721-370d61d5-1ec8-49bb-8c75-9bfc2815aa44.png)

[2021-09-14 09:41] srenatus opened #3785 "kubernetes examples: admission.k8s.io/v1beta1 -> admission.k8s.io/v1"
The tutorials and examples still use `admission.k8s.io/v1beta1` in a bunch of places, a version that was deprecated with kubernetes 1.16.

The examples should be updated and verified with a recent k8s cluster.

[2021-09-14 09:43] srenatus opened #3786 "docs(policy-reference): add more examples for existing built-in functions"
The policy reference contains a list of all the built-in functions; and examples for very few. It would be helpful for getting off the ground if some basic examples showed to to use a built-in.

This issue is broad and not meant to be fixed in a single sweep. Any added examples will be valuable.

[2021-09-14 09:48] srenatus opened #3787 "website: upgrade hugo"
We're stuck in the past on a certain hugo version ([0.55.5](https://github.com/open-policy-agent/opa/blob/f0a29bf35beabcc2018dd90d255356ce29eddb93/netlify.toml#L6). It's unclear how easy it is to update the version, but it probably requires fixing a few templates.

At least one issue that'll be resolved by upgrading is code blocks in lists. As of now,

<pre>
1. foo

[code]

2. bar
</pre>

will not

[2021-09-14 09:51] srenatus commented on #3736
🏓 Did you get unstuck? Let me know if you need more assistance here! 😃

[2021-09-14 09:55] srenatus commented on #1450
✨ maybe via #3631, one day. 🌠

[2021-09-14 10:06] srenatus commented on #3014
I've learnt recently that you don't need to use JS for actions; you can create "composite actions" that are basically shell script steps. This should make this a low-hanging fruit, shouldn't it?

[2021-09-14 10:55] srenatus commented on #3176
FWIW we're now smoke-testing the built binaries on macos. We still don't run tests on either macos or windows.

[2021-09-14 13:26] viovanov opened #3788 "Private structs in config"
## Expected Behavior

As a consumer of OPA as a library, I'd like to construct a strongly typed config object, that I can use to instantiate OPA.

## Actual Behavior

Some config is anonymous and private, which makes things difficult:
https://github.com/open-policy-agent/opa/blob/main/plugins/rest/rest.go#L46-L52

## Steps to Reproduce the Problem

n/a

## Additional Info

I'd be happy to open a P

[2021-09-14 15:16] tsandall commented on #3176
@srenatus how much work would it be to get the tests running on the macos builder?

[2021-09-14 15:20] tsandall commented on #1010
Closing this issue for now since the integration is not well-supported at this time.

[2021-09-14 15:20] #1010 closed

[2021-09-14 15:52] srenatus commented on #3176
With some caveats, yeah, I think so. We cannot rebuild the wasm bits on macos because it's got no docker, but we could split that off. A bit more involved that way, though.

[2021-09-14 16:28] tsandall commented on #3319
Thinking about `print` support a bit more...

For the sake of progress:

* Call the function/statement `print`.
* Ignore formatting specifications for now (we could add another `printf` statement later if needed.)
* Assume that embedders will append newlines to output (i.e., `print` isn't intended to be used to write arbitrary bytes to a stream... it's intended to be used to output/echo values so

[2021-09-14 17:03] timothyhinrichs commented on #3319
Seems like we're saying we want
* no flattening of complex terms that are arguments to print()
* print() to be a special function that evaluates even if its arguments are undefined.  But the return value is undefined if any of its args are undefined.

Do we need some awareness of print() during body reordering so that the body can be reordered between print() statements but not across print() stat

[2021-09-14 18:03] anderseknert commented on #3319
@tsandall I totally agree on the problem of undefined values, and really like the idea of letting `print` still print on fail before exiting.
@timothyhinrichs under what conditions do we currently reorder the body? Is it safe to assume `print` is used for debugging only, and we can skip reordering if it's encountered in the body, to accommodate that use case you're describing?

[2021-09-14 18:10] tsandall commented on #3788
Closing the loop based on the discussion we had during the biweekly. Exposing the credential provider structs would be fine as long as they only hold data fields; we don't want to expose any of their functions. We may have to split the config struct field from the implementation to accomplish that.

Separately, I'm wondering why the logger is specified on the config struct. That should probably ge

[2021-09-14 18:11] timothyhinrichs commented on #3319
Example above is one where reordering will happen.  We can't compute `b` until we compute `a`.  OPA will reorder those rules so that it computes `a` and then `b`.

This is likely a corner-case, as I think more about it, because most people will write rules sensibly so they do not require reordering.  Though if there are automated tools generating Rego code this could happen.  Conceptually it would

[2021-09-14 18:27] anderseknert commented on #3319
Ah, gotcha! Completely missed the dependency there. At least to me it seems fine to just print in the order of evaluation in this case.

[2021-09-14 18:34] anderseknert commented on #3788
IIRC the logger on the config struct was the only way (that I could think of) to pass it down to the plug-ins without breaking the plug-in API contract. This wasn’t a problem when the logger was a global, but happened with the introduction of a configurable logging implementation. If this can be avoided that’d be great!

[2021-09-14 21:04] tsandall opened #3790 "Fix network name in docker commands in the Kafka tutorial"
Just running through the kafka usecase on the website and found a typo.  In the compose up we specify the project name to be opa-kafka-tutorial:

[code]

But in all the later run examples we specify the network to be opakafkatutorial_default:

[code]

Adding the dashes allowed all the run commands to work.

This is likely an issue caused by a newer version of Docker. We should just update the tuto

[2021-09-14 21:44] tsandall commented on #3319
@timothyhinrichs this is interesting and it's _not_ what I had in mind... I think there are two options:

1. As you described, `print` arguments can be undefined and `print` statements are undefined if any of the arguments are undefined. This way, evaluation stops after the `print` statement if any arguments are undefined. Ordering of the `print` statement is important. `print` statements can affe

[2021-09-15 01:04] nathan-415 commented on #3790
I would like to work on this. Thanks

[2021-09-15 08:09] srenatus opened #3792 "ambiguity in config fields: file names vs verbatim strings"
This came up discussing #3772: We're having a single field for keys that could either be file references, or verbatim secrets. The disambiguation happens by first attempting to `pem.Decode` it (if it succeeds, it's a priv key of some sort), then trying to open it as a file, and if that yields a "file not found" error, we'll take it as a verbatim secret key string.

The understanding from the discu

[2021-09-15 08:36] anderseknert commented on #3014
My understanding of composite actions is basically that they allow you to extract a common task, and reuse that across other tasks and files. I'm not sure whether they can be "exported" to the Github marketplace.

[2021-09-15 08:43] srenatus commented on #3014
I could be wrong, but from the docs, https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace, it _seems_ to be like "javascript actions" and "composite actions" were equals. That said, any more complicated feature will likely require JS (or TS) anyways.

[2021-09-15 09:22] Hongbo-Miao commented on #3014
Just add more info in case it helps design this one.

For me, I am currently using like

[code]

There is a third-party GitHub Action, basically doing same thing underneath: https://github.com/petroprotsakh/opa-test-action

[2021-09-15 09:25] markushinz opened #3793 "concurrency issues in types.Compare()"
## Expected Behavior

I can concurrently create multiple compilers and compile modules. More concrete, I can run a function as the following at the same time in multiple go routines.

[code]

## Actual Behavior

The above code shows a race condition:

[code]

## Steps to Reproduce the Problem

* OPA version: v0.32.0
* Go version: 1.17

To reproduce one can use a test such as the following und run

[2021-09-15 13:31] benze opened #3796 "JSON Schema support for enum & contains for arrays"
Reading through the [OPA Pages for JSON Schema ](https://www.openpolicyagent.org/docs/latest/schemas/#limitations ) support, it identifies the following limitations:

- additional properties for objects
- pattern properties for objects
- additional items for arrays
- contains for arrays
- oneOf, not
- enum
- if/then/else

In my use case, I find that `enum` / `contains for arrays` are key elements

[2021-09-15 13:42] ribbybibby commented on #3014
For even greater brevity, you can use the `openpolicyagent/opa` docker image directly:
[code]

[2021-09-15 16:13] ashutosh-narkar commented on #3792
We could add a new option such as `--signing-key-file` to specify path of the file containing the private key and use the existing `--signing-key` for verbatim string. This would be a backward incompatible change.

[2021-09-15 19:07] srenatus commented on #3792
Sounds fair. We could also introduce warnings, so if a file was passed to `--signing-key`, we could warn and inform the user that at some point in the future, it will only work with `--signing-key-file`. After a few releases, we'll drop the support for file names passed via `--signing-key`.

[2021-09-15 19:29] srenatus commented on #3796
I'm not sure if anyone is working on this (ping @aavarghese 🏓) -- but I'm sure all contributions would be welcome for this.

[2021-09-15 21:38] manojnamodurai opened #3797 "Plugin manual trigger issue"
## Issue Description
When `bundles[_].trigger` alone is set to `manual`  we are getting following error message from OPA while running: `error: config error: invalid configuration for bundle "bundle1": discovery has trigger mode periodic, bundle has manual`.

Please note that we are not setting `discovery` plugin to `periodic` trigger in the config.yaml, it is a default setting.

## Expected Behav

[2021-09-15 22:50] tsandall commented on #3793
@markushinz thanks for filing this.

Is it possible to share the policy that you used in your test case? I haven't bee able to reproduce the race with large -count values:

[code]

Test case:

[code]

If you can include the full stack trace, that might also be helpful.

[2021-09-16 07:27] #3176 closed

[2021-09-16 07:47] anderseknert opened #3798 "docs: Using OPA in CI/CD pipelines"
Using OPA to verify config and other resources in CI/CD pipelines is quite a common use case, and one we currently don't cover well in the docs. I suggest we add a new page under "Other use cases" for this, where we describe common scenarios and how OPA (and by extension, Conftest) can help provide guardrails there. Suggested structure is something like we have for bundles, where we start with a g

[2021-09-16 10:47] markushinz commented on #3793
Hi @tsandall,

thanks for the quick reply. Here's a concrete example which causes the issue. Just replace `fileA` and `fileB` with the contents from GitHub.

[code]

[2021-09-16 13:49] Geoffrotism opened #3799 "List all CLI options in Docs"
I have looked through the OPA docs (https://www.openpolicyagent.org/docs/latest/) for a few weeks and still have problems knowing what CLI options I have available to me.
[The Debugging Page](https://www.openpolicyagent.org/docs/latest/policy-reference/#debugging) says that I can use `--explain` to see trace logging but this is only available during SOME CLI commands. Like the fact that is says i

[2021-09-16 14:05] anderseknert commented on #3799
Hi @Geoffrotism! And thank you for suggesting this. I think the ease of providing the `--help` flag for the various commands has been the main reason not to duplicate the information online.. but if many feel this would help, I guess it could be considered.

If you are running OPA through Docker, `docker run openpolicyagent/opa <command> --help`  should work as well.

[2021-09-16 14:25] srenatus commented on #3799
I've never looked at it too closely, but we've got some man page generation here, https://github.com/open-policy-agent/opa/pull/2273. I suppose that could play a part here. If I understand you correctly, a web-accessible version of the man pages would help.

[2021-09-16 16:04] akvlad opened #3800 "Feature Request: Set multiplication"
## Expected Behavior
It would be great if there is a set multiplication function in Rego, something like:

[code]
## Actual Behavior
Now it is achievable via a rego function:
[code]
But the native acceleration (like for union, intersect and subtract) is very welcome.

[2021-09-16 16:10] srenatus commented on #3800
Sounds like a good addition. What's your use case, if you can share that?

[2021-09-16 16:22] akvlad commented on #3800
My case is very similar to the described one but the "a" set may have up to 5000 strings.
The sets are uploaded from the database to "data" via OPAL / restful API. Then I have to multiply them. Then do some unions/subtractions.
But the case is very same. And the multiply function is the same.

[2021-09-16 16:39] tsandall commented on #3793
@markushinz thanks. When I run that test case w/ the rego files inlined, I get a data race due to comments on the module not being copied: https://gist.github.com/tsandall/fc863b7a6aca1bfc6940f014a37e1a76. I'll submit a PR with a fix for that. I'm not able to reproduce the original stack trace you shared above. Can you share a stack trace from the full example you provided in your last comment?

[2021-09-16 16:57] tsandall commented on #3793
@markushinz if you could try running the test locally in your environment w/ my branch linked in that PR it would be helpful because I'm not able to reproduce the original data race that you showed above. If you post the full stack trace from the race detector that would be _super_ helpful.

[2021-09-16 17:23] srenatus commented on #3800
Hmm interesting. And you need the whole product set...? I'm asking because there might be ways around that. I.e. if you wanted to check if an element `x` is the product set, you could also do something like
[code]

[2021-09-16 17:26] srenatus commented on #3793
Merging the PR closed this. I suppose https://github.com/open-policy-agent/opa/issues/3793#issuecomment-921072057 would still be helpful, though @markushinz

[2021-09-16 17:35] akvlad commented on #3800
Yes. Because after the multiplication I do "group by" in the python wrapper. (I'm going to make another feature request for the "group by"):
[code]
And "res" is the answer for some RESTful requests. Not the most often requests, actually, but the performance improvement in any step would be very useful.

[2021-09-16 17:36] andriyfomenko commented on #3800
I'm working with Vlad on his project, and yet, he indeed needs to get a full set out of OPA in this use case.

We have the pointed "access to only this particular combination" in other cases and these work very fast, but the product is slow to get.

[2021-09-16 17:52] akvlad commented on #3800
Let me show the whole task we are trying to solve:
[code]
I tried several approaches to resolve this task and this seems the fastest one. Now it takes about 0.3s for a resulting set for 50000 entries. It is OK for us now, but improvements are highly appreciated.

[2021-09-16 18:34] srenatus commented on #3800
Thanks for sharing. I think this is a good built-in to add for anyone wanting to get into contributing to OPA. Would that include you? 😃

[2021-09-16 18:39] akvlad commented on #3800
I promise nothing, but I have forked. ;)

[2021-09-17 05:03] #3765 closed

[2021-09-17 10:11] markushinz commented on #3793
@tsandall I did run the tests against your branch and it did not solve the problem. Luckily, I was able to except the rego file which causes the issues. I provided both the full go code (including rego) and the full output of `go test -race` in the following gists:

https://gist.github.com/markushinz/a46a48bf74eb8a7176c46502b89bd81c
https://gist.github.com/markushinz/e707e75036b389fcf2b4eaa72504f4

[2021-09-17 20:27] tsandall commented on #3793
@markushinz thanks! that was super helpful. I've put up another PR to address the race. 🙏

[2021-09-17 23:20] sburnwal opened #3806 "sprintf not working in rego policy"
I have sprintf in one of the rule, but does not seem to be working. This is very basic but can someone tell me what am I doing wrong? Both online on https://play.openpolicyagent.org/ as well offline with opa version 0.32.0 does not seem to be working.

## Expected Behavior
policy should evaluate

## Actual Behavior
policy does not evaluate

## Steps to Reproduce the Problem
On https://play.openpol

[2021-09-18 00:23] timothyhinrichs commented on #3319
Now I understand the original proposal.  Love the idea of being able to ignore print()s semantically for prod.  I suspected I was missing something.  I'd guess that most users will be surprised that `print` ordering isn't respected.  If we want to do that, it feels like we'd want a different syntax that's attached to the rule head somehow--perhaps something in the metadata for a rule?  That would

[2021-09-18 05:18] anderseknert commented on #3806
OPA doesn’t (yet) have varargs functions, so the second argument to sprintf must be an array. In your example:

[code]

[2021-09-18 09:26] srenatus commented on #3806
Relevant: #3742 would show this, I think.

[2021-09-19 17:47] sburnwal commented on #3806
Thank you so much for the prompt response, Closing the issue!

[2021-09-19 17:47] #3806 closed

[2021-09-20 06:04] markushinz commented on #3793
@tsandall thanks a lot for addressing this so quickly. Looking forward to testing it once it's merged

[2021-09-20 09:46] #3793 closed

[2021-09-20 09:46] srenatus commented on #3793
✔️ @markushinz It's been merged. Please re-open if you find a chance to test this and the issue persists.

[2021-09-20 15:18] markushinz commented on #3793
@srenatus @tsandall awesome all race conditions are gone! Thank you so much!

[2021-09-20 18:20] anderseknert opened #3812 "metrics: Expose decision log metrics"
In order to better be able to analyze and troubleshoot decision log performance over time, it would be useful if OPA exposed metrics around that. Things like:

* Current size of decision log buffer (number of log messages and size).
* Decision packages sent per some given time frame.
* Number of packages failed to be sent.
* Number of decisions discarded (if configured to do that).

..and possibly

[2021-09-21 18:30] ashutosh-narkar commented on #3184
PR for the Kubernetes tutorial - https://github.com/open-policy-agent/opa/pull/3814

[2021-09-21 21:21] #3722 closed

[2021-09-23 03:21] maxsmythe opened #3819 "intermittent incorrect results with OPA CLI"
While upgrading the constraint framework's OPA dependency from v0.29.4 to v0.32.1, I noticed that we were getting test errors.

Running a binary search through the PRs, it looks like the test error starts at this commit:

f3284cfc7bf4bf39c96a1f676ada690bed8e1f48

I am able to reproduce this error with the following files:

*data.json*
[code]

*template.rego*
[code]

*lib.rego*
[code]

*main.rego*

[2021-09-23 07:47] srenatus commented on #3819
Thanks for the report, I'll have a look.

[2021-09-23 09:30] srenatus commented on #3819
So, having dug into this, the problem is related to the cache hinting mechanism: if a partial doc is referenced using a non-ground, non-var key, the caching is disabled; and something there must have gone amiss.

As a quick workaround, if you change
[code]
....I believe the problem goes away.

Working on a fix anyways, of course.

[2021-09-23 15:09] teodora-sandu opened #3820 "OPA build command: Unexpected bundle output when provided absolute path"
## Expected Behavior
I have some rego rules defined in my current folder.
If I run `opa build .`, I get an archive that contains the rules in my current folder.
If I run `opa build /absolute/path/to/local/folder`, I get an archive that contains a top folder `absolute`, with the structure `absolute` -> `path` -> `local` -> `folder`.

## Actual Behavior
If I run `opa build /absolute/path/to/local/fo

[2021-09-23 15:52] pvsone opened #3821 "Docs: Kubernetes Tutorial should support K8s 1.22+"
https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/#3-deploy-opa-on-top-of-kubernetes

In the latest version of minikube it runs kubernetes version 1.22 in which the ValidatingWebhookConfiguration is now in api v1 rather than v1beta1. There are also two new required fields.

This patch to the ValidatingWebhookConfiguration in your tutorial worked for me:

apiVersion: admissionregistra

[2021-09-23 16:10] #3797 closed

[2021-09-23 16:44] srenatus commented on #3821
https://github.com/open-policy-agent/opa/issues/3785

[2021-09-23 17:14] tsandall opened #3822 "Improve HTTP API to log decisions for /v1/compile endpoint"
Currently, the partial evaluation API exposed via /v1/compile is not integrated with the decision logger. We should extend the HTTP server to log decisions for the /v1/compile endpoint. Because partial evaluation supports additional parameters compared to normal evaluation, we'll need to extend the decision log record to include fields for PE parameters. Initial support can add `unknowns`. In the

[2021-09-23 19:55] srenatus commented on #3822
https://github.com/open-policy-agent/opa/issues/3062 -- duplicate? _This_ issue is more specific about how to do it, so I'll close the other one.

[2021-09-23 19:56] srenatus commented on #3062
☝️ Superseded by #3822.

[2021-09-23 19:56] #3062 closed

[2021-09-23 23:20] maxsmythe commented on #3819
Thanks for taking a look!

For my own knowledge... what is a "non-ground, non-var key" is there a definition anywhere? What makes `[review, constraint]` not qualify, but `x` where `x = [review, constraint]` qualify?

WRT unblocking the upgrade, it's probably best to wait for the underlying bug to be fixed, since there may be other instances of this that are slipping through testing, and we don't k

[2021-09-24 00:06] ashutosh-narkar commented on #3820
Can you help me understand the issue you're having with the resulting bundle in both cases. If you do a `opa run` on the bundle and checkout the layout it should be the same in either case.

[2021-09-24 06:28] teodora-sandu commented on #3820
The bundle works either way.

The issue is if I run `opa build /Users/test/Documents/example`, the resulting bundle contains the `data.json` and a `Users` folder with the following structure.
[code]

Whereas it should just contain my `test.rego` file. If I need to unarchive the resulting bundle and have a look at the files inside of itm I need to know what folder to `cd` into.

[2021-09-24 08:04] srenatus commented on #3819
A variable `x` is not ground: it doesn't have a concrete value. So if the eval procedure encounters
[code]
it will evaluate `p`, cache all of `p`, and continue evaluation binding `x` to each of the elements of `p` respectively.

With `[review, constraint]`, we have a compound term that contains variables. Following the same procedure we do with variables here is tricky to get right in all cases, s

[2021-09-24 15:12] peteroneilljr commented on #3769
Working draft located [here](https://github.com/peteroneilljr/opa/pull/1)

I installed the latest Hugo version, so my local rendering is kinda borked. I tried to render it directly in Netlify but it doesn't pick up any of the changes I've made.

[2021-09-24 16:35] peteroneilljr commented on #3769
Unblocked: Latest releases live under /edge.
https://deploy-preview-1--serene-shockley-45be55.netlify.app/docs/edge/deployments/#capabilities

The next step is to add the available capabilities from the code into the docs.
https://github.com/open-policy-agent/opa/blob/main/ast/capabilities.go

[2021-09-24 18:03] ashutosh-narkar commented on #3820
Currently `data.json` is always written to the resulting bundle. It may be empty as in your example above. Also the bundle write code uses the absolute path to write the module.

I think the work that will be done as part of [this](https://github.com/open-policy-agent/opa/issues/3754) issue should make bundle inspection easier.

[2021-09-25 11:57] srenatus commented on #3819
Some update why the linked PR solves this issue: The problem was that we're sorting the keys of the object `data.external["test.target"]` _in-place_ while we're iterating over it.

It happened when the policy rego evaluated
[code]
-- when adding `data.external["test.target"]` to the set `inventory`, it'll check if it's already present, and that'll end up calling Compare(). It didn't happen consist

[2021-09-25 13:12] srenatus commented on #3799
https://github.com/spf13/cobra/blob/v1.2.1/doc/md_docs.md could be useful, too

[2021-09-26 15:27] ipapast commented on #3754
Hey, Is there a rough timeline for this work in progress?

[2021-09-26 19:20] ashutosh-narkar commented on #3754
This task is actively being worked on. It should land in the next couple of releases.

[2021-09-27 08:04] srenatus commented on #3819
https://github.com/open-policy-agent/opa/pull/3823/commits/de571ab876a4934b3053372162ca320aec70f698 👈 here's the petri-dish example of what went wrong here.

[2021-09-27 16:36] #3819 closed

[2021-09-28 00:49] tsandall opened #3825 "Avoid generating support rules for implicit true/false check when default rules are used"
PE should avoid generating support rules if possible. In some cases, it's unavoidable because the `default` value cannot be cleanly represented in the inlined rule body, however, in some cases, it's avoidable. For example:

[code]

This is a trivial example but it demonstrates the issue. Running PE yields the following:

[code]

In this case, `input = 7` is not inlined into `p` because of the defa

[2021-09-28 12:46] srenatus commented on #2090
Would we want to allow further constraints?

The following
[code]
could limit the domain of `x` to those containers that _have a label_, omitting those that don't...?

[2021-09-28 17:35] edpaget opened #3826 "Allow plugins to be passed to SDK instance"
## Expected Behavior

I can specify custom plugins for the OPA Go SDK to use.

## Actual Behavior

Calling runtime.RegisterPlugin doesn't register them with the SDK and the SDK itself provides no method to add plugins.

## Steps to Reproduce the Problem

N/A

## Additional Info

@anderseknert suggested posting a request for this feature after I asked on slack.

[2021-09-28 17:52] edpaget opened #3828 "Allow plugins to be manually triggered from SDK instance"
## Expected Behavior

I would like to manually trigger a bundle download against an instance of the OPA Go SDK using the triggers added in #2899

## Actual Behavior

The SDK does not provide an interface whereby a plugin's manual trigger can be invoked.

## Steps to Reproduce the Problem

N/A

## Additional Info

I think an interface like `func (opa *OPA) TriggerPlugin(ctx context.Context, pluginN

[2021-09-28 23:23] xarses opened #3829 "repl loses track of `with` keyword when result is assigned"
## Expected Behavior
When using `with` on an assignment, it should keep track of this when the assignment is called

## Actual Behavior
the assignment loses track of the with statement.

## Steps to Reproduce the Problem
Full environment used https://play.openpolicyagent.org/p/yNLe8QqMzU

[code]

## Additional Info

[2021-09-29 14:13] peteroneilljr opened #3831 "Docs: `opa build` example in Management Bundles section"
Adding a few examples of creating a bundle with the `opa build` command would be an excellent addition to the bundle management docs.

https://www.openpolicyagent.org/docs/latest/management-bundles/

[2021-09-29 15:24] anbrsap opened #3832 "`opa build` panics when rule is named `or`"
## Expected Behavior

The following rego code should compile, run _and `opa build`_.

`testcase.rego`:

[code]

## Actual Behavior

`opa build` panics:

[code]

However, the code compiles and runs:

[code]

## Steps to Reproduce the Problem

Save `testcase.rego` to disk and run the commands shown above.

* OPA version: 0.32.1

## Additional Info

[2021-09-29 18:28] srenatus commented on #3832
`or` is the prefix name of the built-in function that backs `s0 | s1` set union, IIRC. `and` backs set intersection and would behave similarly.

[2021-09-29 18:29] ashutosh-narkar commented on #3832
The issue seems to be when we format the Rego module, the writer thinks the user defined function call `or` is the set union builtin function (`|`) and hence attempts to format it as a builtin which results in a crash.

[2021-09-29 21:11] #3759 closed

[2021-09-29 22:13] jdesrosiers opened #3834 "Possible error in `allOf` implementation"
https://thenewstack.io/json-schema-keywords-allof-and-anyof-in-opa-type-checker/

Hi, I came across this article on twitter and I noticed that there seems to be a misunderstanding about how `allOf` is supposed to work. I don't know if the misunderstanding extends to the implementation or just the article, but I wanted to report it just in case.

[code]

The article gives the impression that the `a

[2021-09-29 22:30] tsandall commented on #3834
@aavarghese can you weigh in on this?

[2021-09-30 06:29] anbrsap opened #3836 "`opa build` panics on second end-of-line comment in function call"
## Expected Behavior

The following rego code should compile, run _and `opa build`_.

`testcase.rego`:

[code]

## Actual Behavior

`opa build` panics:

[code]

However, the code compiles and runs:

[code]

## Steps to Reproduce the Problem

Save `testcase.rego` to disk and run the commands shown above.

* OPA version: 0.32.1

## Additional Info

[2021-09-30 07:28] anderseknert opened #3837 "Compile errors in persisted bundles stop the server from starting"
When a bundle that was previously persisted is loaded into OPA, compile errors halt the server completely. While OPA does not persist broken bundles, some errors could be due to dependencies to other data not yet loaded into OPA when the persisted bundle is loaded. An example configuration that shows this might look like this:

[code]

In the above example - if bundle `a` (which is persisted) **ha

[2021-09-30 07:35] srenatus commented on #3836
FWIW this one and #3832 are related to formatting (pretty-printing) policies. This happens as one of the steps in using `opa build`. The same panics can be triggered by using `opa fmt`, which would _only do the formatting_: `opa fmt testcase.rego`

[2021-09-30 07:36] anbrsap opened #3838 "Unjustified `rego_type_error` when comparing objects with array keys"
## Expected Behavior

 The following code compiles:

[code]

## Actual Behavior

Compilation fails:

[code]

## Steps to Reproduce the Problem

Just compile the provided test case.

* OPA version: 0.32.1

## Additional Info

[2021-09-30 07:40] srenatus commented on #3834
Thanks for the attention. @aavarghese would know better, but I believe there's no problem here: JSON Schema support in OPA is all about catching typos in references to documents that we have a JSON schema for. So, from the article, if you write `input.States` you'll get this error:

[code]

So, our support for anyOf and allOf means we use them to collect the _potential_ properties.

When writing a

[2021-09-30 08:02] srenatus commented on #3838
#2132 might be relevant here: as you might have noticed, there's two different types of properties in play here: static and dynamic ones (note the `object[...]` vs `object<...>`). Their types are checked here:

https://github.com/open-policy-agent/opa/blob/v0.32.1/ast/check.go#L845-L864

and the type check fails, because of the mismatch in dynamic and static keys. That's what could be improved, cr

[2021-09-30 13:26] dsoguet opened #3840 "Bundle persist feature working differently than bundles loaded from elsewhere"
## Expected Behavior

Running ``opa run --server --config-file conf/config.yaml`` with persist feature activated or not into conf/config.yaml should be equivalent

## Actual Behavior

With the MWE provided below :
- when persist feature is not set ``opa run --server --config-file conf/config.yaml`` always works
- when persist feature is set ``opa run --server --config-file conf/config.yaml`` somet

[2021-09-30 13:30] anderseknert commented on #3837
Closing in favor of https://github.com/open-policy-agent/opa/issues/3840

[2021-09-30 13:30] #3837 closed

[2021-09-30 13:56] aavarghese commented on #3834
@jdesrosiers @tsandall @srenatus thank you for bringing up this discussion.

The Address example used in the blog was really meant as an intro to the policy being discussed later in the blog. And as @srenatus correctly pointed, they keywords "allOf" and "anyOf" determine the form of the resulting schemas (with all its potential properties) that is then used to type-check the policy document. Json

[2021-09-30 14:17] dsoguet opened #3841 "A function shared between bundles should not generate an error, or documentation should explain that it will occur"
## Expected Behavior

Should be possible to share data, rules and **functions** between bundles, or at least explain that in case of function it could generate an error, or add a feature allowing to define in which order the bundles must be loaded

## Actual Behavior

Currently:
- for data or rules shared between bundles, no error is generated at load, independently of bundles load order
- for fun

[2021-09-30 14:41] anderseknert commented on #3841
Thanks @dsoguet! See the discussions from yesterday for some more background https://github.com/open-policy-agent/feedback/discussions/20

[2021-09-30 15:36] dsoguet commented on #3841
Thank you @anderseknert, very interesting !

The idea about having two types of import, i.e. import at compile time (strict) vs import at runtime, sounds good for me :)
(and again variables, functions and rules should be managed in the same way :p)

May be a question about all those discussions is "It is classical with computer languages to have libraries/helper code. They enable to be more effici

[2021-09-30 17:46] Sulbigar commented on #2784
@tsandall @anderseknert Are we sure setting it to null works?
I tried and I get the below error.
`{"level":"error","msg":"Bundle load failed: request failed: a AWS credential service must be specified when S3 signing is enabled","name":"authz","plugin":"bundle","time":"2021-09-30T13:41:44-04:00"}`
The command I ran is
`opa run -s -a 0.0.0.0:8191  --set "services.local.url=https://sulbi_bucket.s3.a

[2021-09-30 20:00] jdesrosiers commented on #3834
Great. That's exactly what I would expect those keywords to do. So, the use of `allOf` in the example from the article shows that the system understands the `allOf` keyword, but it wasn't actually necessary (because all of the `allOf`s are singletons) to express the constraints of the Address. The same potential properties would be collected either way.

Actually, JSON Schema does not specify `all

[2021-09-30 20:00] #3834 closed

[2021-09-30 20:27] kcparker opened #3844 "Understanding coverage calculation on differently formatted rego"
I have been working with `opa test -c` with the example from https://www.openpolicyagent.org/docs/latest/policy-testing/. When I condense the rego from example.rego to

[code]

And remove all test in example_test.rego except for `test_post_allowed`
[code]
## Actual Behavior
The coverage result shows the example.rego was covered only 20 percent.

[code]

## Expected Behavior
I think coverage is cou

[2021-09-30 20:58] aavarghese commented on #3834
Thank you @jdesrosiers - this was VERY helpful for us.

When `additionalProperties` is implemented, it will change the design for some of this type checking work. So this is great to keep in mind.

[2021-10-01 00:36] pogao commented on #1644
Did this go anywhere? I have the exact same problem with GCP's Cloud Asset API.

[2021-10-01 09:22] anderseknert commented on #2784
I am sure that it used to work, yes. However, trying it now with the example you provided I get the same error. Moving the same options into a config file works, so this is either a regression, or the option truly is confusing :) I'll file a new bug ticket. Thanks for reporting!

[2021-10-01 09:59] anderseknert opened #3846 "regression: Using --set with null value no longer translates to empty object"
## Expected Behavior

As [documented](https://www.openpolicyagent.org/docs/latest/configuration/#empty-objects), configuration attributes accepting empty objects as values, when set with command line args and `--set`, should translate `null` values into an empty object.

## Actual Behavior

Setting object attributes to `null` assigns them an actual null value.

## Steps to Reproduce the Problem

S

[2021-10-01 10:20] srenatus commented on #2092
The issue of side effects was brought up: technically, any one of the `allow { # logic }` rule bodies could do an `http.send()`. Short-circuiting the evaluation could make those go away.

👍 Those would be safe cases: anything iterated on from the base documents (the base doc portion of `data`, and all of `input`) would be OK to short-cut, there cannot be any side effects there.

For _general_ shor

[2021-10-01 11:22] anderseknert commented on #3841
Helper libraries are definitely encouraged, though they wouldn't necessarily be kept in separate bundles. The solution to this is to simply include all dependencies in a single bundle. This bundle could be composed from many other bundles, but the idea is to not rely on "runtime" dependencies to be eventually available.

IMHO, the way multi-bundles break in unexpected ways (as you have shown) make

[2021-10-01 17:25] #3826 closed

[2021-10-02 00:39] iainmcgin opened #3849 "`opa fmt` changed for `with x as { ... }` expressions in 0.33.0"
## Expected Behavior

Given some example rego like the following for a test:

[code]

This was acceptable to `opa fmt` as correctly formatted, in 0.32.1. With 0.33.0, this now appears to try and reorder the keys, and produces:

[code]

I can manually change this to:

[code]

The formatter will accept this, but it's a little frustrating that the produced reformatting squashes all the reordered keys

[2021-10-02 08:06] srenatus commented on #3849
Thanks for raising that! It's an unintended consequence of sorting object keys on creation (#3823 fixing #3819). I'm not entirely certain how it's deciding when to line break and when to put the remaining keys on one line...

What would you prefer? All line breaks? 🤔

[2021-10-02 09:13] srenatus commented on #3849
I suppose we could also maintain two key slices, one for comparisons (sorted), one for iteration order... 🤔

[2021-10-02 18:57] guodongli-google opened #3850 "Report a coding bug about unused result."
## Expected Behavior

At https://github.com/open-policy-agent/opa/blob/main/bundle/bundle_test.go#L31, the result of function [`Equal`](https://github.com/open-policy-agent/opa/blob/main/bundle/bundle.go#L189-L199) not used:
[code]
while this function has no side effect:
[code]
The correct code may be something like:
[code]

**Found by static analyzer #deepgo**

[2021-10-03 14:08] srenatus commented on #3850
LGTM. Would you be interested in opening a PR?

[2021-10-03 17:08] guodongli-google commented on #3850
I will be happy to, but opening a PR to fix this issue will require going through a tedious process within my organization, even if that involves only 1-line change.

[2021-10-03 21:36] yerinu2019 commented on #3088
health check is not stable.
it did succeed and started to fail after rule refactoring without changes in health check allow rule.
i rollbacked rule refactoring but health check still fails with "undefined decision".
when i test the failed input in the log as is using the unit test, the test passes.

[2021-10-04 07:23] srenatus commented on #3850
Noted! Let's make this a low-hanging fruit issue for anyone wanting to get into OPA development. After all, the code change isn't the tricky bit here, but it's setting up the dev env, running tests locally, opening a PR, etc.

[2021-10-04 07:31] #3773 closed

[2021-10-04 07:44] emaincourt opened #3852 "Access metrics from opa-envoy-plugin"
## Expected Behavior

Hi,

I'm using OPA as an Envoy authz filter with `opa-envoy-plugin` and can't get to access proper metrics from it. If I understand it well, the plugin does not use HTTP to run queries and metrics against the embed OPA server and therefore the `http_request_duration_seconds_bucket` does not seem to be enriched throughout time. If I run `curl http://localhost:8181/metrics` aga

[2021-10-04 10:07] srenatus commented on #3852
There are metrics reported in the decision log entries, like this:

[code]

Note the
[code]
which would also include the `timer_rego_builtin_http_send_ns` metric if `http.send` is used in the policy.

Does that help?

[2021-10-04 11:18] #3769 closed

[2021-10-04 11:59] srenatus commented on #3849
⏩ Fixes in [0.33.1](https://github.com/open-policy-agent/opa/releases/tag/v0.33.1)

[2021-10-04 11:59] #3849 closed

[2021-10-04 12:27] srenatus commented on #3836
So what's happening here is that it attempts to make it a one-line statement:

[code]
and doesn't know what to do with the second comment.

[2021-10-04 14:10] emaincourt commented on #3852
Hi @srenatus,

Thanks for your answer. Actually I'm aware of those metrics being reported in the decision logs. However, I'm trying to get Prometheus to scrape metrics that need to be exposed through an HTTP endpoint and in the right format. I was then expecting that the `/metrics` endpoint from OPA would still be available but it does not seem so.

Do you know how I could get those metrics to Pro

[2021-10-04 18:39] ashutosh-narkar commented on #3852
The Prometheus metrics OPA provides are for the http handler. For the `opa-envoy` plugin the metrics should be in the decision log as Stephan mentioned. Have you looked into the metrics Envoy provides ? It should have information like the number of allowed/denied requests etc.

[2021-10-04 18:48] ashutosh-narkar commented on #3088
@yerinu2019 have you defined a `livenessProbe` and `readinessProbe` in your deployment manifest ? Also can you share some logs and examples that describe the issue you're facing.

[2021-10-04 19:00] srenatus commented on #3852
Hmm I think having an endpoint to scrape the OPA-specific metrics from an opa-envoy-plugin instance isn't an unreasonable expectation.... what would it take to expose the metrics currently pushed through the DL via the (well-known, documented) metrics HTTP endpoint? 🤔

[2021-10-04 19:41] iainmcgin commented on #3849
Thank you for fixing this, and apologies for being slow to answer your questions. Line breaks are probably best, but I had wanted to find some prior art in JSON formatters for what thresholds to use for formatting smaller objects on one line vs indent-and-break.

[2021-10-05 07:32] srenatus commented on #3849
No worries! It's been a genuine ugly bug, so I've decided to move fast on it. Thanks again for testing the release raising it this quickly before more folks would have stumbled over this. 🎉

[2021-10-05 07:50] emaincourt commented on #3852
@ashutosh-narkar Thanks for your message. Yes that is exactly what I supposed, that those metrics were only http related. Regarding Envoy, metrics exposed from the Istio sidecar in my case do not seem to include anything relative to the authz_filter, but only the whole request itself. Then we can actually get those allowed/denied requests, but not the duration buckets for the envoy filter itself.

[2021-10-05 07:56] srenatus opened #3859 "docs: mention discussion site on contributing page"
There's https://github.com/open-policy-agent/feedback/discussions now for general questions and discussions, and having a look at those, contributing your knowledge and helping others is another great way to contribute to the OPA project. I think we should thus mention the discussion page in the Contributing section.

[2021-10-05 08:21] 0xAP opened #3860 "High resource consumption when using large bundles"
I'm currently evaluating OPA's performance in different setups and policy/data sizes. The decission latencies as well as the flexiblity make it a great technology. However, for one of our use case we observed some issues.

**Context**
For some use cases we want to utilize the bundle mechanism to distribute both policies and data. We want to do that in order to allow low-latency decission making wh

[2021-10-05 10:53] anderseknert commented on #3841
Also, see https://github.com/open-policy-agent/opa/issues/3371 as I have a feeling this would solve the root cause of the issue at hand here.

[2021-10-05 11:30] srenatus commented on #3860
Thanks for digging into this and sharing your findings :+1:

Given that it's an internal package, I'd suppose we could change its inner workings if the effect is so dramatic.... That said, I haven't reviewed the call sites yet. Would changing this still pass all tests? I guess if you opened a PR with your patch, we could better discuss this... 👀

[2021-10-05 11:33] anderseknert commented on #3860
Yeah, definitely interesting! It was I who asked for an issue before a PR, so that we’d have an idea what we were dealing with @srenatus :) Either way good to have an issue to connect said PR to later. But I agree, PR to see if/how things are affected would be great at this point.

[2021-10-05 12:00] 0xAP commented on #3860
Thanks for the quick replies. @srenatus yes the tests were still passing with our patch. I'll do a PR and link this issue to it.

[2021-10-06 14:27] #3836 closed

[2021-10-06 19:10] #3846 closed, assigned to ashutosh-narkar

[2021-10-06 19:32] kotyara85 opened #3867 "Memory usage"
Hey there,
Our team have been doing OPA related stuff for a while now and noticed a bit weird memory profile.
We did run lot of tests and our policies seems to be pretty optimized, we don't use any glob stuff, but have ~40mb of raw json data.
Per this page - https://www.openpolicyagent.org/docs/latest/policy-performance/#optimization-levels it should account in about 20x more memory used by opa wh

[2021-10-07 09:02] bj-1795 opened #3869 "Not able to enforce policies."
I followed the tutorial ; https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/#3-deploy-opa-on-top-of-kubernetes

I am not able to enforce policies.I have created policies as configmap ,status of configmap is as below:

apiVersion: v1
data:
  policy-new.rego: "package kubernetes.admission\r\n\r\noperations = {\"CREATE\",\"UPDATE\"}\r\n\r\ninput_container[c]
    {\r\n  c := input.reques

[2021-10-07 12:23] bj-1795 commented on #3869
I have used configmap not bundle, i was able to reslove the issue by deleting the opa pod, but this seems to be a bug, even after showing status ok it does not load the policy untill i deleted the  pod.

[2021-10-07 12:25] srenatus commented on #3869
I'm afraid we'll need a bit more information to figure out what's wrong here. Can you please describe the order of events, and what condition you've found, and perhaps include some logs from before the pod deletion, and after....? 🤔

[2021-10-07 12:39] bj-1795 commented on #3869
Not sure, do you recommend using bundles?

[2021-10-07 22:27] kotyara85 opened #3874 "Mask passwords in input"
Hello there,
We've using opa 0.29 and trying to use this - https://www.openpolicyagent.org/docs/v0.13.5/decision-logs/
to mask sensitive data in the debug output. This didn't work and I still see user passwords.

Is there anything need to be done extra to it?

log.rego
[code]

Thanks

[2021-10-07 22:32] ashutosh-narkar commented on #3874
Can you share the input ? `"/input/user"` will remove the `user` field from decision log events. Also [here](https://www.openpolicyagent.org/docs/latest/management-decision-logs/#masking-sensitive-data) are the latest docs on that feature.

[2021-10-08 09:18] anderseknert opened #3875 "docs: Different size of boxes on ecosystem page"
The boxes on the [Ecosystem ](https://www.openpolicyagent.org/docs/latest/ecosystem/)page displays different width for those where the logo doesn't fill out horizontally. This should be fixed so that they're all displayed with the same width, and the logos centered in the middle.

![Screenshot 2021-10-08 at 11-16-25 Ecosystem](https://user-images.githubusercontent.com/510711/136531167-65e95983-ce7

[2021-10-08 14:46] Sulbigar commented on #3860
This is good research. Thank You @0xAP. I was planning to do similar profiling exercise as we recently started doing our POC recently. Will be following this thread.

[2021-10-08 23:04] m-yosefpor opened #3878 "Rego policies based on other objects"
Being able to specify policies base on other objects spec. E.g. to check if a k8s deployment with exact ingress name exists, and having a specific replica. Some logic such as:

[code]

[2021-10-09 16:00] kotyara85 commented on #3874
Figured it out, thanks!

[2021-10-09 16:00] #3874 closed

[2021-10-10 08:05] srenatus commented on #3165
It's been a while...cleaning up old issues, feel free to reopen if this hasnt been resolved.

[2021-10-10 08:05] #3165 closed

[2021-10-10 17:24] floriangasc opened #3879 "Txn is too big to fit into one request when use disk store"
## Expected Behavior
no badger error «Txn is too big to fit into one request» when load bundle (or data.json)

## Actual Behavior
opa process is abort due to badger error

## Steps to Reproduce the Problem
Load a data with enough key and enough value by key for trigger error (see link in additionnal info part)

* OPA version: 0.33.1
* no need query, juste run opa. for me it's seem's happen with a

[2021-10-11 17:28] floriangasc commented on #3879
I Wonder if test should asser no key is lost

[2021-10-12 07:16] bj-1795 opened #3883 "DryRun Feature for OPA bundle."
I have a usecase that we should do a dryrun of policies before enforcement on production cluster to make sure our policies are working as expected, is this feature available with OPA bundle or policy as a configmap.

[2021-10-12 08:21] sebastianGit opened #3884 "JWKS validation cannot be configured to enforce that a token is considered valid, if any only if the token's signature can be validated using the key with the kid provided in the token"
Assumption: The token validation is configured to use a JSON Web Key Set (JWKS) for signature validation.

Current behavior (tested with Opa 0.32.1): If the token's signature can be validated with any public key provided in the JWKS, then the token's signature considered to be valid. This is acceptable with RFC 7515 see Appendix D. Notes on Key Selection (https://datatracker.ietf.org/doc/html/rfc7

[2021-10-12 11:37] anderseknert commented on #3883
Yes, using the Kubernetes API with the `dryRun` query parameter, or kubectl with `--dry-run=server` the object(s) will be sent off to the Kubernetes API server without being persisted, while still running validation checks like admission control. Your policy would normally not need to take this into account.

[2021-10-12 21:11] sujai1009 opened #3885 "If/else logic in iterating an array"
Rego

[code]

Data file
[code]

if i pass input as "GB" or "AE" the result is POUND or Dirham
But if i pass any other country code other than the above two, i need the result currency as "Dollar".

I tried many ways, not sure how to achieve this. Any help is appreciated.

[2021-10-13 07:32] #3885 closed, assigned to nobody

[2021-10-13 09:53] haijianyang commented on #2098
How is this issue going?

[2021-10-13 15:05] anderseknert commented on #3884
Sounds good! Let’s keep it open for a while and see if others would like this addition. Thanks for an interesting conversation 👍

[2021-10-14 05:37] haijianyang commented on #3734
You can try this https://www.openpolicyagent.org/docs/latest/external-data/#option-5-pull-data-during-evaluation

[2021-10-14 11:31] srenatus opened #3891 "wasm: sets containing only undefined values aren't printed as `set()` in value_dump"
When a set contains no element, such as `{ x | x := input }` with undefined input, `value_dump` will check the number of elements. It finds that the set has one element -- thus it's not printed as `set()`, but as `{` + elements dumped + `}`. When dumping elements, it only finds NULL elements (undefined), and thus doesn't print anything. In value dump's output, there's thus no way to differentiate

[2021-10-14 14:54] srenatus commented on #3850
@olamiko sure!

[2021-10-14 16:07] srenatus commented on #3785
@olamiko sure!

[2021-10-14 21:21] tsandall opened #3893 "Update `http.send` docs with warning that statement may not be evaluated"
In [this](https://github.com/open-policy-agent/opa/issues/2092#issuecomment-932105980) comment @srenatus points out that short-circuiting evaluation as an optimization may remove side effects from `http.send` calls. We should include a note in the `http.send` documentation that _clearly_ states that `http.send` MUST NOT be used for effecting changes in external systems as does not guarantee that t

[2021-10-14 21:30] tsandall commented on #2092
@srenatus I've filed an issue to improve the docs around `http.send` because I don't think we should have to assume that `http.send` has side effects--it should absolutely not be relied on for that. AFAIK, `http.send` is the only case that we have today like that--so if we assume everything is side effect free, we don't have to introduce any new syntax into the language.

If we make this assumptio

[2021-10-15 02:32] kotyara85 opened #3894 "Pull external data from redis"
Is there any docs on how to pull data from external k=v stores like Redis?
Thanks

[2021-10-15 08:11] srenatus commented on #2092
Agreed! Let's add that warning and assume purity.

[2021-10-15 11:33] anderseknert commented on #3894
Hi @kotyara85!

OPA itself doesn't come with drivers or connectors for external datasources like Redis. You'll either need to package the data you're interested in into a bundle and have OPA fetch that periodically, or use any of the other methods available to[ load external data into OPA](https://www.openpolicyagent.org/docs/latest/external-data/). If you want to reach out to Redis directly from

[2021-10-15 11:38] anderseknert commented on #3893
We should probably add a little note saying the same on the section on writing custom built-ins, as those are more likely to have side-effects too (LDAP, Redis, etc).

[2021-10-15 17:56] ashutosh-narkar opened #3895 "Introduce image variant containing the statically linked OPA-Envoy binary"
We currently only publish the statically linked OPA-Envoy binary to GitHub releases. In some cases, it would be nice to distribute the same binary via Docker images (e.g., for users that have to import the artifact into an internal repo.)

Image variant name: static

Example:
[code]

[2021-10-18 06:38] cyclinder opened #3896 "Why is my policy evaluation result always true?"
i wrote a policy about prevents Kubernetes Pods from using containers from untrusted image

[code]
and i then created a pod:
[code]

The expected result is that the request is rejected，but it returns allowed,I don't know what went wrong
# registries

## Expected Behavior
Pod creation requests will be rejected

## Actual Behavior

the requests is allowed
## Steps to Reproduce the Problem

i followe

[2021-10-18 07:10] cyclinder commented on #3850
/assign

[2021-10-18 07:28] cyclinder commented on #3850
@srenatus tks~

[2021-10-18 08:07] srenatus commented on #3896
Can you check the config map's detailed status? From [the kube-mgmt code](https://github.com/open-policy-agent/kube-mgmt/blob/0753a3f46f95a22062caf31e2c69b89d298e736e/pkg/configmap/configmap.go#L206-L236), it should add a status annotation that conveys if the policy was synchronised successfully or not.

[2021-10-18 08:41] cyclinder commented on #3896
i changed the package name "kubernetes.validating.images" to kubernetes.admission in my pod-policy,but the pod is still created.the policy is loaded successfully again,should i restart pod of opa?

[2021-10-18 08:46] srenatus commented on #3896
Well, restarting can't hurt, I guess. Please also note that with more recent revisions of the tutorial, we've departed from using config maps in favour of using bundles instead.

You can also query your OPA instance's Data and Policy APIs to see what's loaded and what is not, please see the docs: https://www.openpolicyagent.org/docs/v0.32.1/rest-api/

[2021-10-18 10:52] srenatus commented on #3896
@anderseknert have you got any other ideas here?

[2021-10-19 02:23] ashutosh-narkar commented on #3895
PR: https://github.com/open-policy-agent/opa-envoy-plugin/pull/284

[2021-10-19 04:59] SinghCoder opened #3899 "Playground scroll not smooth"
## Expected Behavior

The scroll should be smoother, for example like GitHub's issue description screen, attaching video here.

https://user-images.githubusercontent.com/32142363/137846439-27ab14c8-f3ca-4d82-b68e-a9bcc1fb2873.mp4

## Actual Behavior

The scroll is laggy, and not smooth, see attached video:

https://user-images.githubusercontent.com/32142363/137846504-70961eff-7fed-4a31-8347-22a3bd

[2021-10-19 10:20] teodora-sandu commented on #3820
Thank you, I think the issue you linked would solve the core problem I was trying to fix. If you want to close this feel free to!

[2021-10-19 10:46] SinghCoder commented on #3899
Also, just checked on firefox and chrome, it works smoothly there, so probably I can use one of them for this.

[2021-10-19 23:47] ashutosh-narkar commented on #3820
@teodora-sandu we have added a new command to called `opa inspect` to help with inspecting bundles. It should be part of the next release. It's also available in the `main` branch if you want to try it out.

[2021-10-19 23:47] #3820 closed

[2021-10-20 09:02] srlk opened #3902 "Partial evaluation with dynamic policy composition"
Hello!

I would like to write a policy that dynamically evaluates different policies based on a user input.
[code]
For above input, resource field in the request is read and the policies `parent1` and `parent1.child1` would be evaluated.
With the below policies, this seems to work fine when all the fields in the input are known.

Now I am trying to leverage on Compile API to partially evaluate the

[2021-10-20 12:32] srenatus commented on #3902
Btw using your example files, the output of
[code]
 is
[code]

[2021-10-20 13:10] ipapast commented on #3754
hey @ashutosh-narkar and @tsandall I can see this is merged but not released, thanks so much for this. is it possible to give me an ETA for the next release?

[2021-10-20 13:21] DcardosoJS opened #3903 "Policy that reaches namespaces label through deployment"
Hello,

I am writing this to get some official assistance on a policy idea that my organization has been struggling with.
We have tried to replicate this concept with both OPA and Kyverno but to no success.

The issue is that we are trying to prevent certain Deployments to be created, if the corresponding Namespace does not have a label with an alarm group (for integration with AlertManager ex: al

[2021-10-20 14:18] #3902 closed, assigned to nobody

[2021-10-20 16:02] tsandall opened #3904 "Relax safety check for comprehensions"
The safety check doesn't reorder expressions around comprehensions before checking nested bodies. As a result, the safety check can generate false positives. Consider:

[code]

In this contrived example, `x` will not be considered safe when the comprehension is checked. As a result, the body of the comprehension on L3 will be considered unsafe. The reason `x` is not considered safe is that the saf

[2021-10-21 11:34] #3875 closed

[2021-10-22 10:23] srenatus opened #3912 "topdown: functions with multiple outputs for one input don't trigger error when output isn't captured"
[code]

query | return
----|----
`data.test.r(1)` |` true`
`data.test.p(1)` | `eval_conflict_error: functions must not produce multiple outputs for same inputs`
`data.test.q(1)` | `eval_conflict_error: functions must not produce multiple outputs for same inputs`

`data.test.r(1)` should return the same error, I suppose. The comparison with `prev` is missing here, I think: https://github.com/open-p

[2021-10-22 14:20] tsandall opened #3915 "Include CLI man pages on website"
Currently we do not have a comprehensive CLI reference on the website. This means that CLI users do not have an easy way to search for CLI options and examples when they want to do something new. Since we already generate `man` pages for the CLI, and the CLI descriptions contain examples and overviews of subcommands options, we could improve the situation (relatively easily) by generating HTML pag

[2021-10-22 19:02] wma1729 opened #3916 "Ability to fetch bundles from Azure storage account using managed identities"
## Expected Behavior

OPA can fetch bundles from Azure Storage Account using `service principal`. This works very well. However, I want to deploy OPA container as a sidecar in AKS cluster where the pod is assigned a managed identity. The storage account allows read access to this managed identity. I could not find any way to use managed identity to fetch the bundle. So I used `services[].<service-

[2021-10-25 12:59] floriangasc opened #3923 "information request: long polling seem's bugged on 304 http status code."
## Expected Behavior

* long polling switch to regular polling in case of 304 http status code.
* this behavior come from line 340 of download.go:  Content-type Header is not in reponse in case of 304 (according https://datatracker.ietf.org/doc/html/rfc7232#section-4.1).  so «longPoll» switch from true to false.
* Same un case of error occured, longPoll is lost.

## Actual Behavior

304 http statu

[2021-10-25 13:52] anderseknert opened #3924 "Allow not keyword in more locations"
## Expected Behavior

The `not` keyword should be allowed in most places where assignment of any type is allowed:

[code]

etc..

## Actual Behavior

`not` is only allowed as a "standalone" construct, i.e:

[code]

[2021-10-25 20:17] srenatus opened #3927 "website: update footer"
This is the last line of text on https://openpolicyagent.org/ 👇

![image](https://user-images.githubusercontent.com/870638/138764440-442db4a5-4c70-4d52-9ab3-c2398a0f7c85.png)

- [ ] update date (or make it dynamic)
- [ ] link contributing guide website

[2021-10-26 12:53] srenatus opened #3930 "topdown/PE: figure out what to do with system docs and saveSet"
👉 https://github.com/open-policy-agent/opa/pull/3876#pullrequestreview-778403616

[2021-10-26 14:36] #3927 closed, assigned to nobody

[2021-10-26 16:05] #3894 closed, assigned to nobody

[2021-10-27 08:46] #3912 closed, assigned to nobody

[2021-10-27 09:55] maclaf opened #3933 "GRPC server in opa-envoy-plugin should be configured with MaxRecvMsgSize"
Hi,
I would like to have possibility to define max message size for gprc server that is created here:
https://github.com/open-policy-agent/opa-envoy-plugin/blob/50b620edeb2855697e54b859075453ed38bc6fcd/internal/internal.go#L108

At the moment there is no possibilities to handle by this plugin requests larger than 4MB.

In go GRPC from version 1.4.0 there is the option to set server option MaxRecvM

[2021-10-27 17:26] jalyng opened #3937 "Plugin documentation request for adding an route to the OPA runtime params"
**Request**
I was wondering if anyone could provide a code snippet/example for a plugin extension that adds an http route to the OPA runtime params, similar to "println_decision_logger" plugin example on the OPA website (ref: [println_decision_logger example](https://www.openpolicyagent.org/docs/latest/extensions/#putting-it-together)).

**Background**
Hello,
Looking to extend OPA via custom plugi

[2021-10-29 09:04] #3899 closed, assigned to nobody

[2021-10-29 12:36] #3937 closed, assigned to nobody

[2021-10-30 20:36] anderseknert commented on #3896
Did you manage to make any progress here, @cyclinder?

[2021-10-30 20:44] anderseknert commented on #3184
Current status:
- [x] Kubernetes
- [x] Envoy
- [x] Docker
- [x] HTTP APIs
- [ ] Kafka (though this needs other updates first)
- [ ] SSH and sudo
- [ ] Terraform (though this uses `opa eval` so not really applicable, unless we introduce `opa run --exec` or similar)

[2021-10-30 20:49] anderseknert commented on #3088
With the situation resolved it sounds difficult to move this one forward. Let's close this for now and we can re-open later if we have more information to work with.

[2021-10-30 20:49] #3088 closed

[2021-10-30 20:53] anderseknert commented on #3047
Anything more to do here, @gshively11?

[2021-10-30 21:14] gshively11 commented on #3047
Nope, closing, thanks for the reminder.

[2021-10-30 21:14] #3047 closed

[2021-10-30 21:15] anderseknert opened #3945 "Allow policy-based dropping of some decision log items"
Similar to how we currently allow masking sensitive data from decision logs, it would sometimes be useful to be able to drop decision log events entirely based on certain conditions. Some clients, like the Kubernetes API server, are very chatty, and will send a huge number of requests which aren't really interesting for most policies, like the `Event` resource admission review object. Another use

[2021-10-31 03:31] cyclinder commented on #3896
thanks a lot!

I switch another cluster, and i re-create the opa-agent, it works, but i dont know why it doesn't work in original cluster,
but the original cluster be deleted

[2021-10-31 15:35] anderseknert opened #3946 "http.send caching doesn't work in system.authz policies"
## Expected Behavior

`http.send` with `force_cache: true` to cache responses when used in a `system.authz` policy.

## Actual Behavior

No caching seems to be done.

## Steps to Reproduce the Problem

1. Set up a server that responds with a static JSON response, like `{"status": "OK"}` and logs each request.
2. Create a `system.authz` policy.
[code]
3. Start OPA with authz policy configured `opa

[2021-10-31 20:43] anderseknert commented on #3734
Closing as answered.

[2021-10-31 20:43] #3734 closed

[2021-10-31 20:46] anderseknert commented on #3867
This can’t move forward unless we’re provided with more details. Closing and will reopen if that comes in later.

[2021-10-31 20:46] #3867 closed

[2021-10-31 22:09] Scowluga commented on #3916
I'd like to take a look at this. I have some knowledge of OPA but have never contributed. May need a bit of help getting started!

[2021-11-01 08:00] anderseknert commented on #3916
Hi @Scowluga! And thanks for helping out! 👍 Yes, both the AWS and GCP metadata auth plug-ins would be a good place to start from. I wouldn't worry too much about code duplication since as you say, they are treated as separate plugins.

One thing to note about plugins like this is that we don't really have automated tests that actually interact with the external environment, like Azure in this case

[2021-11-01 08:25] anderseknert commented on #3946
Taking a look at the code, comparing how the authz query is executed:

https://github.com/open-policy-agent/opa/blob/c23bf8d451ceee4d99d720f2b810c87645a79030/server/authorizer/authorizer.go#L73-L79

To that in the server:

https://github.com/open-policy-agent/opa/blob/c23bf8d451ceee4d99d720f2b810c87645a79030/server/server.go#L718-L732

We might want to consider adding also adding some of the other

[2021-11-01 10:41] srenatus opened #3948 "built-in backed set and collection operations don't comply with cancellation, require fully evaluated terms"
Certain set and collection operations are implemented via builtins:
- set union, diff, intersection, merge
- `in` operator: membership ("some x in xs" is an exception, handled differently)

This has the consequence that

1. They don't observe cancellation: when `union(set_a, set_b)` is called, it will finish
2. They require their arguments to be fully instantiated: `x in xs` requires `xs` to be fu

[2021-11-01 13:40] anderseknert commented on #1443
Closing as resolved.

[2021-11-01 13:40] #1443 closed

[2021-11-01 16:11] dolevf opened #3950 "/v1/config endpoint may expose credentials provided in custom headers"
Hi OPA friends,

**Environment**
- OPA 0.31.0
- Default Settings
- Additional service in OPA configuration

**Problem Statement**
In some cases, configurations may include passing tokens using custom headers (as opposed to using the `credentials` config with `bearer` token, etc.) as [explained here](https://www.openpolicyagent.org/docs/latest/configuration/#example).

The concern is that the `/v1/

[2021-11-01 16:34] ashutosh-narkar commented on #3950
@dolevf we have a dedicated `credentials` field which we recommend for including secrets etc. We could add a note in the docs to remind users to use that field to include sensitive info and not the headers field.

[2021-11-01 17:15] ashutosh-narkar commented on #3945
Another criteria would be if users wanted to log decisions based on the policy decision maybe. For example, allowed decisions would be less interesting than the denied ones.

[2021-11-01 17:38] dolevf commented on #3950
hi @ashutosh-narkar thanks for the response. Would credentials also allow for custom headers in this case? or is it mostly built in Header keys such as `Authorization`?

[2021-11-01 17:46] ashutosh-narkar commented on #3950
Credentials can be used to set the `Authorization` header from the values in the provided config.

[2021-11-01 18:24] dolevf commented on #3950
Understood, but if an OPA user uses credentials where Authorization header key isn't used, would that not be another aspect to consider?

[2021-11-01 18:55] srenatus opened #3951 "Add support for print() inside of OPA-Envoy plugin"
- [x] update to 0.34.0
- [x] set up the print hook, output the logs

This should probably follow the example of the server package here wrt. log levels etc.

[2021-11-01 21:38] ashutosh-narkar commented on #3950
IIUC you're saying users could include credentials in the headers field ?

[2021-11-02 01:59] dolevf commented on #3950
yes, e.g. OPA makes a remote request to a custom service that doesn't use `Authorization` header in particular, but instead uses something such as `X-API-TOKEN`:`secret-token`

[2021-11-02 02:40] Scowluga commented on #3916
I've opened an initial draft PR at #3952 so subsequent discussion will happen there.

[2021-11-02 07:10] christophwille opened #3953 "Entrypoints Changes in 0.34"
See https://github.com/christophwille/dotnet-opa-wasm/issues/21

I debugged into it and the change seems to be that entrypoints now adds apostrophes which it didn't before:
`
{"'example'":0,"'example/one'":1}`

So, question: intentional change (I presume yes), but about the calling convention for an SDK: do you expect people passing an entry point to include the apostrophes (part of the entrypoint

[2021-11-02 08:26] srenatus commented on #3953
😓 TBH this is a surprise for me, too. I'll have a look. Thanks for raising this.

[2021-11-02 08:36] christophwille commented on #3953
Also, as I pointed out in my repo's issue, all unit tests are broken for https://github.com/christophwille/dotnet-opa-wasm/blob/master/src/Opa.Wasm.UnitTests/MultiEntryPointTests.cs which is suprising as they are using the exact same rego as the npm-opa-wasm multi-entry point test sample app. 0.34 compiles a different wasm than 0.33, because entrypoints are no longer there (line 20), and basically

[2021-11-02 08:56] srenatus commented on #3953
So from playing with npm-opa-wasm's entrypoint tests, nothing seems to have changed. The plain JSON string [returned from here](https://github.com/open-policy-agent/npm-opa-wasm/blob/7f3b0e0f088222aab279f255b95b8b3919a81a3a/src/opa.js#L82) is
[code]

This is tested using opa from main, which is not significantly different from 0.34.0.

Could this be related to how the test data modules are built?

[2021-11-02 08:58] srenatus commented on #3953
Could you try playing with the `'` and `"` here? https://github.com/christophwille/dotnet-opa-wasm/blob/6320fd21bd0ea0dedebd604efff5f3b9fdd51f6c/sample-policies/build-on-windows.bat#L15 Maybe it'll work fine without the single quotes. I'm not knowledgable enough about the quoting in batch files.

[2021-11-02 09:06] anderseknert commented on #3950
The requirements for this to manifest as a problem:

1. OPA exposed "publicly", i.e. not just on localhost.
2. Despite publicly exposed, OPA running without authz policy protecting /config.
3. Use of non-standard HTTP header to send credentials to remote service.

Even with a "mask_headers" option, it's not unthinkable that credentials or sensitive values show up elsewhere in the config structure

[2021-11-02 09:09] christophwille commented on #3953
Hunh, interesting. Great catch, I wouldn't have searched in the batch file because it worked fine with 0.33. Yes, replacing ' with " makes the wasm files work again. I copied the cmd line from the JS sample, and it definitely worked until 0.34. So some cmd line parsing in the Windows OPA exec most likely changed.

[2021-11-02 09:13] srenatus commented on #3953
Yeah that would also be a bit of a surprise. 🤔

But anyhow, the curious thing is that your single-quotes entrypoint strings make it that far and haven't been caught earlier. This makes me suspect that there's some golang-string-to-ast-string (or vice-versa) conversion happening that shouldn't happen. `x/y` is entrypoint for `data.x.y`, **not** `'x/y'`.

[2021-11-02 09:22] christophwille commented on #3953
Well, one more thing could be at play here - I think I previously always used cmd.exe, but last month I reinstalled my machine from zero, and now the default is Windows Terminal with PS Core. So maybe .bat in Terminal is the thing that broke the ' handling.

[2021-11-02 09:25] srenatus commented on #3953
That sounds like a good lead. Would you be able to verify that somehow?

[2021-11-02 09:34] christophwille commented on #3953
I reverted to the old bat with ' and ran in cmd.exe. No, this was not the reason, same unit test failures as when I ran that .bat in PS.

![image](https://user-images.githubusercontent.com/344208/139821759-1c48fb90-6eff-491b-9bf5-35fb678e2900.png)

[2021-11-02 09:37] srenatus commented on #3953
Have you ensured that the multi.wasm is properly rebuilt and copied into the right place? If you want me to have a look and double check, please share it.

[2021-11-02 09:39] christophwille commented on #3953
I double-checked in terms of Clean + directory delete

[2021-11-02 09:40] anderseknert commented on #3950
Oh the joys of YAML 😆 Turns out there _is_ a canonical way to reference other nodes in YAML, I've just never seen it used.
[code]
This declares "token" as a [node anchor](https://yaml.org/spec/1.2.2/#692-node-anchors), which is subsequently referenced in `APITOKEN`. To my surprise this actually works with OPA, as in, the `APITOKEN` value will be that of the bearer token. Our masking system however

[2021-11-02 09:47] srenatus commented on #3953
So I've tried to see what happens when an entrypoint is provided with extra single quotes: it will not work 😄 So the entrypoint will get recorded in the wasm file, and it's usable, but it won't miraculously compile and call the right data functions, but yield an immediate undefined. (I've changed the npm-opa-wasm module's multi-ep tests to pass `"'example/one'"` instead of `"example/one"`, and a d

[2021-11-02 09:47] srenatus commented on #3953
@christophwille can you point me to the multi.wasm you've produced there? I'd be happy to have a look.

[2021-11-02 09:50] christophwille commented on #3953
[multi-epapo.zip](https://github.com/open-policy-agent/opa/files/7459557/multi-epapo.zip)

This one is built using

[code]

[2021-11-02 10:28] srenatus commented on #3953
That wasm file was basically no content, it's an example of the case I've described above: the entrypoint doesn't match anything -- there's no `data["'example'"]` or `data["'example/one'"]` in the rego -- and thus there's no data functions in the wasm file.

https://github.com/open-policy-agent/opa/issues/3953#issuecomment-957245627

Could you go with `"` for now? I'm not sure what we can do here,

[2021-11-02 10:31] christophwille commented on #3953
Yes, I am going with " because it is consistent with the other cmd lines in that batch file anyways.

Given that it doesn't match anything - don't you think this warrants an error? (User adding -e invalidentrypoint to the cmd line) Is there a case for not doing anything silently?

[2021-11-02 10:35] srenatus commented on #3953
Sorry, I was imprecise: it doesn't match any _rules_ -- we don't know the data, though. You should be able to query `data.foo.bar` via entrypoint `foo/bar`, I think.

[2021-11-02 12:00] srenatus opened #3955 "website: when version picker exceeds screenful, it's impossible to select "lower" versions"
In this picture, there's no way to "scroll" in the version picker:

![image](https://user-images.githubusercontent.com/870638/139841974-291e21c9-e6ed-4849-9c5a-026f4dd89d33.png)

So depending on the viewer's screen size and resolution, some versions just can't be selected. (We've reached a point now where it fills the entire screen for me, which is why I'd noticed 😅)

Adding the `help-wanted` tag.

[2021-11-02 12:30] dolevf commented on #3950
That is interesting @anderseknert - I do agree that it's difficult to accommodate for all possible scenarios.

I think updating the docs to educate users would likely be the most beneficial.

[2021-11-02 12:51] anderseknert commented on #3950
Agreed. Would you like to contribute a doc update? :)

[2021-11-02 14:31] dolevf commented on #3950
https://github.com/open-policy-agent/opa/pull/3956

[2021-11-02 23:03] tsandall commented on #3953
I tend to agree that if `opa build` silently builds when -e refers to a missing/undefined rule that it will be confusing... I'm also willing to assume that _most_ people will refer to entrypoints that are defined by rules... given this we could (i) update the `compile` package to check entrypoints refer to rules and (ii) provide an option to disable this check. Although this is backwards incompati

[2021-11-03 06:21] srenatus commented on #3953
Yeah that sounds like a good compromise! I'll create a new issue later today.

[2021-11-03 09:12] srenatus opened #3957 "opa build: deny entrypoints that don't map to module tree"
Given a policy.rego like
[code]

It's unlikely that when a user calls `opa build -t wasm -e fox/allow policy.rego`, they want to have their entrypoints point to raw data, i.e. `data.fox.allow`. (It's more likely that they've made a typo.)

`opa build` should fail if the provided endpoints don't reference the module tree, but "just data".

There should be a new option that allows to go back to the

[2021-11-03 09:13] srenatus commented on #3953
Let's track this in #3957. Thanks for reporting this! 😃

[2021-11-03 09:13] #3953 closed

[2021-11-03 09:35] #3850 closed

[2021-11-03 14:18] trysetnull commented on #3138
I stumbled across this issue the other day - we were using the Data API to change the contents of the `data.json` file in our root directory. In v0.29.4 everything worked but the bug (feature) was closed in a v0.30.0.

The solution was to use the [`--watch`](https://www.mankier.com/1/opa-run) flag and list the file `data.json` file explicitly; then we were able to edit the `data.json` file in the

[2021-11-03 18:26] tsandall opened #3958 "OPA runtime logging settings are not being configured correctly"
In v0.34.0 we refactored the logging setup but introduced a regression in doing so. Specifically, in https://github.com/open-policy-agent/opa/commit/e9d04fc1f5d084cf852eda213444cf5abb9c627d, the change [here](https://github.com/open-policy-agent/opa/commit/e9d04fc1f5d084cf852eda213444cf5abb9c627d#diff-bb8ad382f59edfae9297e446895a161036f39115189e67da9d9f377a684a8f82R272) modified the runtime to cre

[2021-11-03 20:54] #3958 closed

[2021-11-03 21:38] tsandall opened #3961 "Use go embed to serve capabilities files via package level variable"
We currently export the capabilities files for each version in the capabilities directory. It would be nice if those capabilities were available via the Go module. We can do this quite easily with go embed:

Create a new file called capabilities/capabilities.go:

[code]

[2021-11-03 21:45] tsandall opened #3962 "Update the SSH and sudo tutorial to use the management APIs"
This issue replaces #3184 and is purely focused on the SSH and sudo tutorial. We should update the tutorial to show how the OPA that answers queries from the PAM plugin can be configured to download bundles from a remote host and log decisions to the console.

[2021-11-03 21:48] tsandall opened #3963 "Kafka Tutorial Showcasing Management APIs"
This issue replaces #3184 and is purely focused on the Kafka plugin. We need to update that tutorial to use a newer version of the Kafka plugin (e.g., [this one](https://github.com/Bisnode/opa-kafka-plugin)) that is compatible with more recent versions of Kafka. In addition, we'll want to show how to configure the management APIs.

[2021-11-03 21:52] srenatus commented on #3961
IIRC this means removing support for building with go 1.15. but that's probably ok.

[2021-11-03 22:06] tsandall commented on #3961
I'm not sure what the general feeling is around this. Since this is a pretty niche need, I'd suggest we hold off for a bit--but I don't feel too strongly.

[2021-11-03 22:08] tsandall opened #3965 "Terraform Tutorial Showcasing Management APIs"
This issue replaces #3184 and is scoped to the Terraform tutorial. Note, this issue is blocked by #3525. The update should eventually demonstrate how the policies can be distributed via bundles and how decision logging could be used.

[2021-11-03 22:14] tsandall commented on #3184
Closing in favour of #3962 #3963 and #3965

[2021-11-03 22:14] #3184 closed

[2021-11-03 22:16] tsandall commented on #3758
This is done in v0.34.0: https://www.openpolicyagent.org/docs/latest/integration/#sdk

[2021-11-03 22:16] #3758 closed

[2021-11-03 22:16] tsandall commented on #3821
@anderseknert @srenatus can we close this now?

[2021-11-03 22:21] orweis commented on #3955
I think scrollable is the way to go here:
![image](https://user-images.githubusercontent.com/2079277/140201201-7cc9accf-d3ca-4a90-8293-9cc89bb2273b.png)

Simply add something like this:
[code]
to .dropdown-menu.dropdown-content

If you want to point me at the source files, I can do a PR

[2021-11-04 00:49] tsandall opened #3967 "Print statements in the head of a rule are not being rewritten correctly"
For example:

[code]

This will result in:

[code]

The problem appears to be due to the use of WalkRules [here](https://github.com/open-policy-agent/opa/blob/main/ast/compile.go#L1344). Switching to WalkBodies should resolve the issue.

[2021-11-04 05:57] anderseknert commented on #3821
Indeed!

[2021-11-04 05:57] #3821 closed

[2021-11-04 06:05] anderseknert commented on #3961
Would including these in the executable mean we could have a way of exposing the capabilities from the CLI? I'm thinking something like `opa capabilities <version>` could print the JSON object of capabilities. This would be useful when building bundles targeting a specific version of OPA, and currently requires the user to download the OPA sources:

[code]
If they are included in the binary, we co

[2021-11-04 06:40] srenatus commented on #3961
If this is just about the package level variables, we can build flag this. 1.15 users won't get trouble and also won't get the package level vars.

[2021-11-04 11:13] #3955 closed

[2021-11-04 16:21] #3950 closed

[2021-11-04 19:37] adriankostrubiak-tomtom opened #3970 "OPA-Envoy should provide rootless image variant"
This is essentially a duplicate of  #1267, but for the opa-envoy-plugin. As stated in that issue,

Image variant name: `rootless`

Example:
[code]

[2021-11-04 19:50] adriankostrubiak-tomtom commented on #3970
Opened PR
https://github.com/open-policy-agent/opa-envoy-plugin/pull/290

[2021-11-05 00:53] #3970 closed

[2021-11-05 05:01] vinhph0906 opened #3973 "High CPU when Pull Data during Evaluation"
I try to Pull Data during Evaluation for my use case which will use http.Send to my server to get external for evaluation.

In test case 1 I have my rego file look like

[code]
My benchmark result is:
CCU: 1k
Requests/s: 4k
CPU: 200% ~ 2 core CPU

In test case 2  just lookup in my external_datas like:
[code]
My benchmark result is:
CCU: 1k
Requests/s: 1k(time OPA response high)
CPU: 1500% ~ 15 cor

[2021-11-05 06:23] srenatus commented on #3973
Thanks for compiling this.

One piece that's missing to understand what's going on here is the shape of external_datas itself. Is it large?

[2021-11-05 07:01] vinhph0906 commented on #3973
[code]
This is my external_datas used in the two test cases above. And I think it isn't large.

[2021-11-05 08:01] srenatus commented on #3973
Oh I think I had missed that you're running some sort of perf test here, aren't you? So what'll be relevant then is an if the request can be cached. Does the server response include the necessary headers?

[2021-11-05 08:17] vinhph0906 commented on #3973
I load test OPA by K6 tool with
[code]
and sleep time is 0.25s. One VU will send 1 request to OPA sever to make the decision. However, I don't know what are necessary headers?

[2021-11-05 08:21] srenatus commented on #3973
The caching machinery behind `http.send` is documented here, https://www.openpolicyagent.org/docs/edge/policy-reference/#http, below the options.

[2021-11-05 08:52] vinhph0906 commented on #3973
In the two test cases above, I don't use any cache option. For request:
[code]
But I don't understand why lookup my external_datas array have one item with a size that isn't large can increase CPU very high.

[2021-11-05 09:11] srenatus commented on #3973
Every API call there will create a request, send it to the server, and parse the response. So there's work involved, even if the response only contains a single entry.

You could try to inline that snippet to figure out how much of this http-related overhead and what is not:

[code]

[2021-11-05 09:12] srenatus commented on #3973
In general, it's best to avoid HTTP requests that aren't necessary. So the server that's serving the response should include how long that information is valid and can be cached. You can override the caching in the parameters to `http.send`.

Alternatively, you could use some other method: bundles, or pushing the data into OPA via the Data API.

[2021-11-05 09:24] vinhph0906 commented on #3973
In my real use case, my external data is dynamic and very large. I have used bundles and pushing the data, but pef of this isn't not good. Now I try to save my external data to db such as MongoDB and have sever with will query db to return external data to OPA evaluation.

[2021-11-05 09:27] vinhph0906 commented on #3973
I agree with the idea is http.send will increase complexity. However, in my test case 1, I have used http.Send but the number of CPU doesn't increase so much like test case 2.

[2021-11-05 09:35] srenatus commented on #3973
Oh I see. In the first example, assuming your query for `allow`, the http.send call will not be executed: it doesn't affect the query outcome.

[2021-11-05 09:43] vinhph0906 commented on #3973
oh, I understand this issue. Thank you for helping me.

[2021-11-05 10:02] vinhph0906 commented on #3973
On another side, Can you recommend the best way to deal with dynamic and large external data? My project is similar to AWS IAM, with 100k-1M external datas(10k users, 50-100 policies per user) and change very often.

[2021-11-05 10:05] srenatus commented on #3973
🤔 For the IAM-y use case, does the data really change that often? I.e. would you think the policies get updated more often than queried?

If so, I'd think about the caching parameters -- just how fresh does the data need to be? -- and do more benchmarking in a more realistic setting, if possible.

[2021-11-05 10:24] vinhph0906 commented on #3973
I think the update is less than queried and I can cache in 5 minutes or less. I have tested save external data on memory but is so high RAM. Can I use bundle for my use case?

[2021-11-05 10:26] srenatus commented on #3973
OPA stores data in memory. Bundles are one way to get that data there, and to have it updated. But ultimately, the data will consume RAM. The only way to avoid storing all the data in RAM would be do what you do here to query the relevant pieces of the data on a per-query basis. However, you cannot ensure that you don't end up storing it all in RAM anyways -- if every user executes requests, and t

[2021-11-05 11:03] srenatus commented on #2656
https://github.com/open-policy-agent/opa/pull/3972

[2021-11-05 14:49] tsandall commented on #2656
Let's see how things go with #3972 in place. If we find that it's reliable, we could just close this.

[2021-11-05 15:36] tsandall opened #3976 "Improve decision log docs to cover controls for large-scale environments"
Earlier this year we worked on decision logging improvements for large-scale environments (#3182). Recently we optimized the decision chunking: https://github.com/open-policy-agent/opa/pull/3909. We should update the Decision Log [docs](https://github.com/open-policy-agent/opa/blob/main/docs/content/management-decision-logs.md) to describe:

* What happens when the DL API responds with a non-200 r

[2021-11-05 16:10] #3961 closed

[2021-11-05 16:31] ashutosh-narkar opened #3978 "Log decisions when context is already cancelled"
Currently the opa-envoy plugins logs decisions in all conditions (ie. presence/absence of errors). For example, when the context is cancelled or deadline is reached before query execution, the plugin passes the same context to the decision logger routine in order to log the decision. The decision log plugin then tries to [evaluate the log masking policy](https://github.com/open-policy-agent/opa/bl

[2021-11-05 20:24] brianchhun-chime opened #3980 "Add support for graceful shutdown period in SDK"
## Expected Behavior

When calling `Stop()` on an OPA SDK instance, it should be possible to provide a graceful shutdown period so that plugins can cleanup before shutting down. In our case, we noticed that the decision logging plugin was not given time to flush its logs before shutting down.

## Actual Behavior

Calling `(*sdk.OPA).Stop()` will immediately shutdown without giving time for plugins

[2021-11-05 23:21] #3967 closed

[2021-11-06 07:50] srenatus commented on #3896
Looks like we can close this, then. :)

[2021-11-06 07:50] #3896 closed

[2021-11-06 16:04] MrLightSpeed0 opened #3983 "Using OPA always returns "false" while command line and playground returns "true""
## Expected Behavior
The results of API call should be the same command line or Playground

## Actual Behavior
API calls always returns false
## Steps to Reproduce the Problem
Here is my simple policy (playPolicy.rego):

[code]
Here is my input file (playInput.json)
[code]

1. when I try this using RegoPlayground, the evaluation is true  (https://play.openpolicyagent.org/p/cIWCURitWQ)
2. I then tr

[2021-11-06 17:16] srenatus commented on #3983
For the v1 data API, input needs to be wrapped in `{"input": ... }`. Does that do the trick, perhaps?

[2021-11-06 22:32] MrLightSpeed0 commented on #3983
YES! IT DOES!! Thank you so much!!!

[2021-11-07 16:34] grosser opened #3984 "allow testing opa.runtime()"
## Expected Behavior

My code is using for example `opa.runtime().env.FOOBAR`
and I'd like to be able to modify that during a test to test that behavior

## Actual Behavior

Unable to modify it, so unable to test it (unless I change env externally and restart the test).

* OPA version: 0.24.0

[2021-11-07 16:35] gituserjava opened #3985 "OPA/Rego AND operator usage"
I am new to OPA(and Rego) and writing simple policies. My use-case is the policy should return true when both input.path and input.headers values match and return false when one of them does not match. When I execute below policy I am not getting expected result. Please advise on the correct usage of AND operator. I tried using semi-colon and it also did not work.

**Policy:**
[code]

**Input:**
[

[2021-11-07 17:36] anderseknert commented on #3985
There shouldn't be a comma after the first line inside the rule body. Each condition inside of the rule will be AND'ed by default, so there's no need for anything more. The problem you see is due to assigning a _set_  to `allow` by using `=`. Remove that (and the comma) and it should work as you intended:

[code]

[2021-11-07 17:46] anderseknert commented on #3984
Thank you @grosser! Would your needs be covered by https://github.com/open-policy-agent/opa/issues/2028 ? That would allow you to mock the `opa.runtime()` built-in and other built-in functions. The best way to do it before that lands is probably to use a helper rule/variable and mock that. Something like:
[code]

[2021-11-07 19:09] gituserjava commented on #3985
@anderseknert, you are right. The `=` was the main issue and it worked after removing `=` and `,`.

[2021-11-07 19:16] gituserjava commented on #3985
@anderseknert , do you have an example policy that can validate an array of header values? In my use-case, there could be multiple values for `x-custom-header`. So if `x-custom-header` is `foo` or `baa` or `abc`; the policy should evaluate to true. Please advise.

[2021-11-07 22:26] grosser commented on #3984
yeah that should work! :)

[2021-11-07 22:26] #3984 closed

[2021-11-08 08:02] anderseknert commented on #3985
In that case I would expect the header values from the input to be arrays rather than strings. There are many ways to do that, but I'd probably convert the header values to a set, and then use the [set intersection](https://www.openpolicyagent.org/docs/latest/policy-reference/#sets-2) operator to check for common elements.

[code]

[code]

[2021-11-08 09:05] srenatus commented on #3985
As far as I know, Envoy will send
[code]

See https://github.com/open-policy-agent/feedback/discussions/61#discussioncomment-1604611 for source links)

[2021-11-08 09:17] anderseknert commented on #3985
Didn’t see envoy mentioned, but just split the string on , then… unless there are commas in the values 😄

[2021-11-08 09:18] srenatus commented on #3985
Here, the discussion if this issue is a bit all over the place 😅 Just wanted to connect the open ends here.

[2021-11-08 13:36] srenatus commented on #3785
@olamiko thanks for working in this! with https://github.com/open-policy-agent/opa-envoy-plugin/pull/291 merged, are we done here? 🔍 or any there still old bits untouched somewhere..

[2021-11-08 13:38] srenatus commented on #3973
Does that help? We can move this into a discussion if you'd like to further discuss the pros and cons of different ways for pulling in data. I think the question at hand here has been resolved..? 🤔

[2021-11-08 18:14] #3916 closed

[2021-11-09 02:30] vinhph0906 commented on #3973
I think my question is resolved. Thank you for your help.

[2021-11-09 06:25] #3973 closed

[2021-11-09 08:45] #3787 closed

[2021-11-09 12:38] srenatus commented on #3978
💯 I'd think so, too. Decisions should be logged regardless of the context being cancelled, they might unveil issues that would otherwise go unnoticed...?

[2021-11-09 12:41] srenatus commented on #3903
I'm cleaning this up. 🧹  Feel free to reopen if you get back to this.

[2021-11-09 12:41] #3903 closed

[2021-11-09 12:46] srenatus commented on #3631
Sorry for dropping the ball here.

We're not there yet: having wasm-provided builtin function plugins is not work anyone had started yet. It would be a decent-sized project, too, so it's not the simplest thing to slap a "help-wanted", "good-first-issue" label on 😅

Let's keep this issue open for tracking status, anyways. The path you've outlined there is a way to go, for sure! Thanks for engaging.

[2021-11-09 13:07] srenatus opened #3991 "website: k8s examples outdated"
![image](https://user-images.githubusercontent.com/870638/140929379-1c8d3bfe-08af-49b9-88ff-e733719c36d9.png)

These two examples point to hardcoded playground URLs, https://play.openpolicyagent.org/p/ikesWCFIH8 and https://play.openpolicyagent.org/p/oL4Ofd1nQi.

They contain input documents that don't match the latest kubernetes schema, i.e. `"apiVersion": "admission.k8s.io/v1beta1"`.

The playgr

[2021-11-09 13:51] srenatus commented on #3397
Feel free to reopen!

[2021-11-09 13:51] #3397 closed

[2021-11-09 15:47] juntao commented on #3631
Yes, it would require design decisions from the host (OPA) and is not trivial.

Appreciate your consideration. Perhaps we can revisit this issue later when there is a clear use case. 🤓

[2021-11-09 16:11] pvsone opened #3993 "built-in function: nslookup"
For some policies it would be useful to resolve an FQDN to an IP Address, therefore a built-in function for `nslookup` would help.

[2021-11-09 20:23] tsandall commented on #3993
We can wrap Go's `net` package for this.

* Use the [`LookupIPAddr`](https://cs.opensource.google/go/go/+/refs/tags/go1.17.3:src/net/lookup.go;l=206) function and pass the context to ensure timeouts are respected
* The signature in rego will be `(string) => array[string]`
* This function should be added to `ast.IgnoreDuringPartialEval`

[2021-11-10 08:41] thomascoquet opened #3996 "Typo in SkipPartialNamespace"
Hello

https://github.com/open-policy-agent/opa/blob/9e4ddd1bb90200cadee7d6d88a33e28d7658bba9/rego/rego.go#L790

Shall be:
[code]

Thomas

[2021-11-10 09:13] thomascoquet opened #3997 "Issue with SkipPartialNamespace"
Hello,
I stumbled upon something strange to me.

`github.com/open-policy-agent/opa v0.33.1`

Here is a snippet:
[code]

## Expected Behavior
No error.

## Actual Behavior
Yields:
[code]

## Steps to Reproduce the Problem

## Additional Info

Could you expand at the use of `rego.SkipPartialNamespace` ?

At first, I wanted to define custom functions in a rego file (like `data.operators`) and map the

[2021-11-10 09:22] thomascoquet commented on #3996
Done in https://github.com/open-policy-agent/opa/pull/3998 !

[2021-11-10 10:44] thomascoquet opened #3999 "Partial evaluation understanding"
Hello,

I am having issue understanding how partial evaluation works. I thought we could prepare a query for further evaluation given what is known at the time (query and inputs).
For example, I have a policy to grant access and it will be used at two different code paths. Do I need to create two different policies?

[code]

## Expected Behavior
`allowed: true`

## Actual Behavior
`allowed: false`

[2021-11-10 11:32] srenatus commented on #3997
I'm not sure I completely understand why `rego.DisableInlining([]string{"data.operators.intersects"})` alone wouldn't do the trick 🤔 Can you show me what I'm missing?

[2021-11-10 11:33] #3996 closed

[2021-11-10 13:40] srenatus commented on #3997
In other words, have you tried doing all this without the SkipPartialNamespace?

Your running into issues because the partially-evaluated policy's `allow` default, which would usually be put into `data.partial.allow`, now is in the same module as the original `allow` rule, I suspect.

I don't think you need to mess with the partial namespace at all, the inline controls should be good enough for th

[2021-11-11 03:41] gituserjava opened #4007 "Define multiple rules"
I have a use-case where I need to implement multiple rules in the Rego file to validate GET, POST endpoints with different **x-incoming-flow** custom header. For example in the example below; my intension is to allow HR applications (indicated by request **hr-flow**) to retrieve basic demographic information. Similarly allow finance applications (indicated by **finance-flow**) to update finance in

[2021-11-11 15:35] kamlakant opened #4008 "Dynamically call a rule in same package"
I want to perform a simple action. I have N decision rules and 1 main rule in the same package. The main rule processes the input and calls the appropriate decision rule and returns the response, like a `switch` statement. However, when I call a rule dynamically, I get an error:

`1 error occurred: policy.rego:10: rego_recursion_error: rule allow is recursive: allow -> allow`
## Expected Behavior

[2021-11-11 16:26] CristianJena opened #4009 "Digest mismatch error for custom build bundles"
Hello,

I’m working in a project that is using OPA to enforce access control rules and we stumbled upon this behavior.

## Expected Behavior

OPA should start with a signed bundle that contains a valid `data.json` file, even if the bundle is not constructed using `opa build` command but respects all rules from [bundle file format](https://www.openpolicyagent.org/docs/latest/management-bundles/#bun

[2021-11-11 17:50] ashutosh-narkar commented on #4009
After you built your bundle with your bundle generator service, did you consider using `opa sign` to generate a signature for it ? That command generates the signature in a manner that OPA would expect while verifying it. Or are you trying to build and sign w/o any feature OPA provides for bundle creation, signing etc.

[2021-11-11 19:46] costimuraru commented on #4009
Hey @ashutosh-narkar - on the bundle generation part, we're not using any `opa` tool. It's a (Kotlin) service, that periodically generates the bundle and uploads it.

[2021-11-11 19:55] anderseknert commented on #4008
I don't think you can do dynamic dispatch to rules like that in the same package, as the compiler will have no way of knowing that you aren't calling the same rule your call came from, which would of course be an infinite recursion. You could put the results of each rule directly in the map, but since each of those rules would need to be evaluated it could be expensive if there are many.

[code]

[2021-11-11 22:13] #3976 closed

[2021-11-12 07:42] kamlakant commented on #4008
@anderseknert Thanks for the clarification. We have a process to publish Rego files which only supports one file for now.

[2021-11-12 07:42] #4008 closed

[2021-11-12 09:02] anderseknert commented on #4008
OK @kamlakant. If the user can upload one file each, perhaps you could have the main router loaded before that? So that the user would only need to supply the `rule_map` and the router would look for this in each file.

[2021-11-14 03:17] guodongli-google opened #4011 "Report a coding bug about unused writes"
At
https://github.com/open-policy-agent/opa/blob/075344b85018506c7b98cb88ff1130c9e93a3677/ast/index.go#L102-L103
variable `prio` is a local one within the loop, which will be allocated at each iteration of the loop and won't be shared by different loop iterations.
Then at
https://github.com/open-policy-agent/opa/blob/075344b85018506c7b98cb88ff1130c9e93a3677/ast/index.go#L117-L118 `prio++` increase

[2021-11-14 14:23] srenatus commented on #4011
The closure passed to WalkRules may be invoked multiple times. The prio would matter then.

[2021-11-14 19:01] guodongli-google commented on #4011
Thanks for clarification. Marked as FP then.

[2021-11-14 19:04] #4011 closed

[2021-11-15 08:01] anderseknert commented on #4011
Perhaps it could be marked as a false positive in a comment (or whatever DeepGo respects) so that we avoid having this flagged in the future?

[2021-11-15 08:03] srenatus commented on #4011
Btw thanks for bringing these up, it's much appreciated! 👏

[2021-11-15 16:06] eliw00d opened #4012 "Feature Request: object.union with any number of arguments or new function to support merging N objects"
## Expected Behavior
object.union takes N arguments

## Actual Behavior
object.union takes 2 arguments

## Steps to Reproduce the Problem
object.union(objectA, objectB, objectC)

## Additional Info

It would be nice if object.union was enhanced to support N arguments or a new function was added that did.

[2021-11-15 16:41] guodongli-google commented on #4011
Yes the tool will handle the closures better and won't report such FPs. Thanks.

[2021-11-15 19:17] tsandall opened #4013 "Improve decision logger to support plugins concurrently with console and HTTP logging"
Currently, the decision log plugin supports three modes:

1. Console logging
2. Async HTTP logging
3. Custom plugins

(1) and (2) can be used together and so can (1) and (3) but (2) and (3) cannot. We should update the decision logger so that (2) and (3) are not mutually exclusive.

[2021-11-15 22:43] rgueldem commented on #2786
Hi team, are there any plans to implement this in the near to mid term? It would simplify our key rotation process since we currently need to restart our agents every 12 hours to refresh the credentials.