[2022-03-14 22:25] damienjburks commented on #4373
@anderseknert for sure! Just let me know!

[2022-03-15 09:08] srenatus commented on #4431
Here's what's happening when this policy is compiled:
[code]

The compiler stage _resolving all references_ will turn this into
[code]
et voila, the with target `n` becomes `data.main.n`.

When it's `nn`, however, we'll find
[code]
☝️ here, `nn` doesn't get replaced -- it's not a reference to a rule in the same module -- so the error condition for invalid `with` targets is satisfied: it's neither

[2022-03-15 09:44] migscabral commented on #4428
Sorry late reply @srenatus had to work on other tasks. Back on this now and I'm still stuck on this error:
[code]

Not sure if I understand the structure correctly as mentioned in the docs?:
[code]

Does this mean I can't have the data file together with the policy file? Currently I have both data files and policy files together in one directory:
[code]

But from the docs as well there's also [exa

[2022-03-15 12:42] srenatus commented on #4428
[code]
This looks suspicious. Can you put it into the top-level? Like this:

[code]

[2022-03-15 13:21] Cerfoglg commented on #4417
This feature would be nice to have for us as well, as one project we are working on could use returning custom headers on an OK response.

[2022-03-15 14:11] anderseknert commented on #4431
Thanks for expanding on this, @srenatus! I **think** the suggested change to `with keyword must reference existing input or data` still holds, or no? It pretty much describes what you said in:

[2022-03-15 14:53] anderseknert commented on #4373
Our conclusion is this:

* Keep the three log levels available for `--log-level` configuration, i.e. debug, info and error
* When `--log-level=error` is set, set the "real" log level to `warn` to include both warnings and errors
* Remove the redirect from warn->error (as referenced in the description) to have .Warn calls actually print at WARN level, providing more fine grained logging.

Should be

[2022-03-15 14:58] srenatus commented on #4431
Yeah it's certainly true but is it more enlightening to users? A bit perhaps, we'd avoid the confusion introduced by "starting"... 🤔

[2022-03-15 15:01] anderseknert commented on #4431
Yeah, it's a small improvement for sure, but an improvement nonetheless :)

[2022-03-15 15:14] gabrielfern commented on #4431
I think if the documentation clearly states that rules are also data, then the suggested change is good. (I'm sorry for not remembering if it mentions this or not, it's been sometime). Because if this relation of rules being data is not well stated in the docs, then the new message could still mislead users into thinking rules are not supported by the with keyword.
But even then, it would still be

[2022-03-15 21:11] damienjburks commented on #4373
Sounds good. Assign this guy to me; I'll definitely work on it.

[2022-03-16 13:36] migscabral commented on #4428
@srenatus moving the `.manifest` file to the root went back to the previous error:

[code]

This is my dir structure now:
[code]

I'm using volume mounts to mount the bundle directory and manifest file from my host machine to the container:

[code]

[2022-03-16 13:54] srenatus commented on #4428
I thought there were two bundles at play here...? What's the `.manifest` of the other one? 🤔

(Sorry I'm on the run, I'll have another look tomorrow if nobody beats me to it.)

[2022-03-16 14:04] migscabral commented on #4428
I may have misunderstood, I thought I should move the .manifest file up to the top-level?

Should my dir structure look like this?:
[code]

[2022-03-16 23:37] anderseknert commented on #4431
Yes, that is useful, @gabrielfern 👍 The docs on the OPA [document model](https://www.openpolicyagent.org/docs/latest/philosophy/#the-opa-document-model) explain this fairly well, IMHO... would you agree?

[2022-03-17 01:39] gabrielfern commented on #4431
Yes, for sure, it does.

Although it could be even more explicit about the relation:
rules (their generated values) -> virtual document -> data
Like starting a section saying: Rules are data, everything in OPA is data...
I feel like the way it's worded there can be missed by newcomers if they don't pay enough attention
(but then this could be seen more of a user's fault at this point).

These are

[2022-03-17 08:54] srenatus opened #4442 "debug logs: binary data in logs when using compression on metrics endpoint"
## Short description

With debug logging enabled, compressed requests cause binary data to be logged, messing up the terminal, and being generally of little use.

## Steps To Reproduce

1. run OPA: `opa run -s --log-level debug --log-format text`
2. in another terminal, run `curl --compressed http://localhost:8181/metrics`

With log format text, we'll get a bunch of binary soup.

<details><summary

[2022-03-17 12:52] migscabral commented on #4428
You beat me to it. I just made it work using the same layout before I saw your comment. This layout worked for me too.

Thanks!

[2022-03-17 12:52] #4428 closed

[2022-03-17 13:36] rmetcalf9 opened #4449 "mocking function responses via "with" statements"
## What part of OPA would you like to see improved?

I am aware that in OPA tests we can mock the input provided in each test.
I need to be able to write tests where
 - different environment variables are set in the policy execution (e.g. output of opa.runtime()["env"]["OPA_ENVIRONMENT"])
 - different http responses are received in the policy execution (e.g. output of http.send({ "method": "GET",

[2022-03-17 13:49] srenatus commented on #4449
https://github.com/open-policy-agent/opa/issues/2028 This is the issue to track, here, I believe. You've already seen it, since you've +999'ed it. 😄

I believe your examples could at least partly be served using the existing measures:

If you wrap that in a rule,
[code]
then you can use
[code]
etc. You should be able to mock `http.send` responses, too, in a similar way.

[2022-03-17 14:47] PapashaEnot commented on #2812
@tsandall  Hello!  Is the diff function still planned for implementation? Unfortunately, the proposed solution does not always work, for example, I have a spec field in which a new element is added ("test") and and other is updadet ("ports"). Is it possible to create json diff using only rego ? Or I have to call some extarnal service/util (for example by HTTP) ?

##### Old  object
`"spec":{"ports"

[2022-03-18 10:16] rmetcalf9 commented on #4449
I just implemented this. It works really well.
For my case I changed it slightly:
[code]

I now have much better testing.
It would be great to see this documented here - https://www.openpolicyagent.org/docs/latest/policy-testing/
Maybe a section on mocking rules with examples of mocking http.send responses as well as environment variables as I think this use case will be very common.

[2022-03-18 13:39] srenatus commented on #1843
Oooold. We're now fuzzing in our nightly tests. With #4451, we'll use Go1.18's native fuzzing features.

[2022-03-18 13:39] #1843 closed

[2022-03-18 17:31] c-thiel commented on #2176
Just if anybody else is running across this issue: This is now possible using the every keyword:
https://www.openpolicyagent.org/docs/latest/policy-language/#every-keyword

[2022-03-18 18:53] anderseknert commented on #2176
While `every` is great, it does not help with this issue. Doing iteration over a list of values was possible already before `every`, but won't help with the rest of the details described here.

[2022-03-18 22:03] tsandall commented on #2176
I think `every` could help a bit... for example:

[code]

If the condition attached to the `every` statement was false for ANY method, the test would fail--which would be identical to how it works in any other rule.

As far as providing better assertion failure reporting goes... I wonder how far we could get by plugging all vars on the failed expression and then eliding elements in large collectio

[2022-03-18 22:08] tsandall commented on #4202
Aha, I guess we're rewriting the domain when we aren't expecting to?

[code]

Becomes

[code]

Becomes

[code]

Which is unsafe because _1 is never assigned to anything but itself... the error reporting does the expected thing by reporting the user declared variable.

[2022-03-18 22:09] tsandall commented on #4317
Closing due to inactivity.

[2022-03-18 22:09] #4317 closed

[2022-03-18 22:23] tsandall commented on #4397
Just a couple thoughts...

* We could extend OPA to support an array of services without breaking backwards compatibility, e.g., if the service is a string just turn that into an array with on element internally.
* We would have to implement some default load balancing and fail-over logic--more input on what that default behaviour ought to be would be helpful.
* The feature/changes should be imple

[2022-03-19 20:45] anderseknert commented on #2176
Yeah - we shouldn't exit early in that case though as we'd want to know if there were more than one assertion that failed. But maybe we don't do that in tests.

The assertion failure reporting would be an improvement for sure!

[2022-03-21 20:34] srenatus commented on #4449
@jcmcken There are straightforward cases and ugly ones. E.g. if your input comes from `input`, or some other piece of `data`, you can use a rule,
[code]
⬇️
[code]

👉 It's straightforward if you don't need to use another _function_ to encapsulate your `http.send` call.

If you do, there are other workarounds, I think... perhaps using `with` and some stand-in data ref... 🤔 I would help if you could

[2022-03-22 00:00] migscabral opened #4455 "Input not being evaluated against policy"
## Short description

TLDR;
- Input is not being evaluated against policy, even if data and policy belongs to the same namespace.
- I can only access my policy by listing all policies using `/v1/policies`, and I'm not able to access through `/v1/policies/<policy id>`.
- I'm not sure if I'm referencing data in my rego code correctly.

Seems like the input is only being evaluated against the data an

[2022-03-22 00:32] ekcs opened #4456 "safety check does not completely consider `in` keyword"
## What part of OPA would you like to see improved?

This snippet using `in` is considered unsafe.
[code]

The equivalent version without the new keyword is safe:
[code]

## Describe the ideal solution

Ideally, both ways are considered safe.

## Describe a "Good Enough" solution

Current situation could be considered good enough because it does not limit expressiveness.
It is merely inconvenient

[2022-03-22 00:50] ashutosh-narkar commented on #4455
To evaluate a policy with some input you would do something like:

[code]

[2022-03-22 01:57] migscabral commented on #4455
Tried that too, still getting empty response with just the decision id:

Request:
[code]

Reponse:
[code]

[2022-03-22 07:17] anderseknert commented on #4456
The equivalent using `in` would use `some ... in` for iteration—not `some` separated from `in`, as then the `some` simply declares a variable to be used later. I.e. this would work:

[code]

`in` on its own simply checks for membership.

[2022-03-22 08:45] srenatus commented on #4455
[code]

With that, I seem to get the proper responses:

[code]

I had played with the authz/actions/policy.rego a bit and changed it slightly:
[code]
should be equivalent to what you had, anyways.

Hope this helps?

[2022-03-22 09:08] anderseknert opened #4457 "Print file name in output when tests fail"
Sometimes you'll need to run tests over several directories, and in case one test fails, it's currently difficult to say exactly where without further grepping.

[code]

It would be useful if the default pretty `--format` printed the location of the file where failure(s) occured, aggregated per file (to avoid too much noise):

[code]

[2022-03-22 09:30] srenatus commented on #4442
The same is true when using `--pprof` and fetching a profile.

[2022-03-22 10:02] #4278 closed

[2022-03-22 10:40] #4431 closed

[2022-03-22 10:53] srenatus commented on #2745
I still want this.

[2022-03-22 12:54] c-thiel commented on #2176
@anderseknert you are right, that part is still open.

I just think that https://github.com/open-policy-agent/opa/issues/2176#issuecomment-1072848196 is already a huge improvement over https://github.com/open-policy-agent/opa/issues/2176#issuecomment-599539791.

[2022-03-22 13:17] adam-bodrogi-epam opened #4460 "Configurable Request Path"
## Actual request
Please make the request path configurable, so it can listen on e.g. _opa/v1/..._.

## Context
We are integrating OPA as a standalone microservice in AWS EKS and we would like to hook it on an ingress rule. The problem is OPA works with a non-configurable base url, and the request paths start with _/v1/_. This way the other microservices must use something different than this, e.g

[2022-03-22 13:44] anderseknert commented on #2176
Right - it's a cosmetic improvement for sure, but I'd argue that the part that is "still open" **is** the actual parameterization.

In some ways, `every` even makes this somewhat "worse", as the [early exit](https://www.openpolicyagent.org/docs/latest/policy-performance/#early-exit-in-rule-evaluation) optimization will ensure that evaluation will halt at the first failed condition, and there's no

[2022-03-22 20:05] ekcs commented on #4456
Ah I see. Thank you!
So the original version with the `some node_b` separated from the `in` is unsafe in the same way this version is also unsafe. Difference is assignment vs equality.

[code]

[2022-03-22 20:05] #4456 closed

[2022-03-22 20:20] ekcs commented on #4456
Still, it would be nice if `x in arr` behaved as `x = arr[_]` (safe) rather than `as x == arr[_]`. Or does that cause other problems?

To summarize my understanding of current situation:
- `some x in arr` behaves as `x := arr[_]`. (Safe)
- `x in arr` behaves as `x == arr[_]`. (Unsafe)

[2022-03-22 20:46] anderseknert commented on #4456
`in` works for any collection type, so if you have a set, `x in s` could just as well be translated to `s[x]` with no iteration at all involved. Additionally, `some`/`in` works with both index/value, key/value, including "known" keys/values, like:
[code]
So while your assumption might be correct in some cases—and the compiler probably agrees when rewriting the `some`/  `in` constructs—I'd rather t

[2022-03-22 21:16] #4457 closed

[2022-03-22 23:23] tsandall commented on #4457
If we're printing the filename, is there much point in printing the virtual document path of the test? Personally I'd want something like:

[code]

This way I can click on the filepath/line number and jump to the test in question (vscode does this today).

[2022-03-23 09:21] anderseknert commented on #4457
I suppose "pretty" is subjective :) My rationale for wanting to group this was that I think printing the location of each failing test will look messy for deeply nested directories, i.e:

[code]

I've found this quite common in CI/CD contexts, when some random long directory names have been generated for the run, though I guess one could avoid that by not providing the absolute path to `opa test`.

[2022-03-23 12:20] deepapt opened #4462 "Expect keyid/scope as part of the token in Bundle signing"
I used the below command to generate the signature.json for bundle signing.

[code]

After Decoding the signature JWT, it looks like this:
[code]

I expect iat/iss/keyid/scope as part of token.

[2022-03-23 13:02] srenatus commented on #4462
I'm not sure this would classify as a bug. We're not claiming to be standards-compliant, I believe -- is there some standard that **makes you expect** those infos in the token?

[2022-03-23 13:45] srenatus commented on #4462
Reading the docs again, I believe those fields do not matter at all:  https://www.openpolicyagent.org/docs/latest/management-bundles/#signature-verification

☝️ That means it's not part of the signature payload, it's just in the ordinary JWT header.

@deepapt What is your use case? What do you need these headers for?

Anyways, I've tried singing a bundle and the header I get is
[code]
so that does

[2022-03-23 13:59] anderseknert commented on #4462
Thanks for reporting this @deepapt 👍 Looks like a mixed bag of issues, really..

1. The docs make it seem like `iat`, `iss` and `scope` are added to the claims when building a `.signatures.json` file, but this is demonstrably false.
1. The docs mention the above claims as not required, but makes no attempt to explain how to include them if desired.
1. `opa build` provides a `--scope` option for ve

[2022-03-23 14:26] anderseknert commented on #4462
OPA build has this:
 `--verification-key-id string     name assigned to the verification key used for bundle verification (default "default")`

But `opa sign` doesn't. Not really clear to me how those two commands are meant to play together (if at all).

[2022-03-23 21:08] #4417 closed

[2022-03-24 04:23] ekcs commented on #4456
Thank you!

One more related observation. These two rules behave differently:
[code]

Would it be better if they behaved the same way?

In general, my beginner analysis is that having `in` bind variables (similar behavior as `=`) would greatly reduce user frustration without breaking anything.

What do you think?

[2022-03-24 04:54] deepapt commented on #4462
The link shows the additional keys so that they are able to understand the context as well.

https://www.openpolicyagent.org/docs/latest/management-bundles/#signature-verification

In the example the provided keyid for bundle signing. That keyid is getting extracted from the signature.

services:
  - name: acmecorp
    url: https://example.com/service/v1
    credentials:
      bearer:
        toke

[2022-03-24 04:55] ekcs opened #4466 "opa bench to tolerate undefined output"
## What part of OPA would you like to see improved?

Is it the intended behavior that you cannot `opa bench` a query which produces undefined result?
[code]

This is obviously a silly example, but there are many cases where the policy is designed for some output variables to be undefined when rules don't succeed.
[code]

## Describe the ideal solution

Ideally,`% ../opa bench 'not true'` would wor

[2022-03-24 07:27] anderseknert commented on #4456
Sets are tricky that way :)

Since `x` is unbound, `set[x]` will bind it for _iteration_ over the set. So the equivalent `b` rule would be:
[code]
If you'd want to check for membership, you'd need to first know what to check for, i.e. these would be equivalent:

[code]

[2022-03-24 08:26] anderseknert commented on #4466
I suppose that even if the end result is undefined, one might want to benchmark the decisions that lead it to be so. I haven't given this much thought though. @tsandall , WDYT?

[2022-03-24 08:26] anderseknert commented on #4466
Ah, I saw the "good enough" proposal there. That would be a good addition if we don't change behavior, thanks Eric!

[2022-03-24 11:28] anderseknert commented on #4294
Closing due to inactivity.

[2022-03-24 11:28] #4294 closed

[2022-03-24 13:52] johanfylling opened #4475 "Metadata block in Rego comment can not contain non-breaking space"
If the following policy contains non-breaking spaces (\u00A0)
[code]
compilation will fail with
[code]

[2022-03-24 13:53] johanfylling commented on #4475
I have not been able to replicate this, but @anderseknert encountered this when running `opa inspect -a`.

[2022-03-24 19:55] #4386 closed

[2022-03-24 22:37] ashutosh-narkar opened #4477 "Timestamps and Metrics for Delta Bundles"
OPA has support for [Delta Bundles](https://www.openpolicyagent.org/docs/latest/management-bundles/#delta-bundles). It would be useful to capture some metrics related to deltas such as their size, download duration etc. We should also record timestamps such as the last successful activation for a delta and snapshot bundle. The metrics and timestamps are made available via the status api.

[2022-03-24 23:20] anderseknert opened #4478 "annotations: allow URL pointer to JSON schema"
Annotations may currently point to a JSON schema on disk, and requires this location to be provided by the tool, e.g. `opa eval`. It would be very handy if we as an alternative to this allowed a schema to be retrieved from an URL pointed out in the annotation.

[code]

Some thoughts:
* Should this be enabled by default or require a flag? I'm leaning towards the former, with capabilites extended to

[2022-03-24 23:21] anderseknert commented on #4475
I think it's fine to fail here, but the error message could certainly be improved!

[2022-03-25 05:41] koponen-styra commented on #2152
github.com/yashtewari/glob-intersection has removed its dependency to pkg/errors.

[2022-03-25 08:17] srenatus commented on #2152
thanks for the heads-up. I'll see if dependabot picks it up or if it's time for a manual update.

[2022-03-25 08:49] srenatus commented on #2152
I'm afraid with github.com/yashtewari/glob-intersection gone, we've still got more third party stuff using github.com/pkg/errors since this issue was opened: `github.com/dgraph-io/{badger,ristretto}`

_But_ I think getting rid of this is still worthwhile; if we'd desire to make parts of OPA (notably rego|ast|topdown) buildable with tinygo (compiling to wasm), we wouldn't want to build the `storage

[2022-03-25 08:49] chicco785 commented on #4417
do you know when this feature will be officially released? many thanks!

[2022-03-25 08:59] #4379 closed

[2022-03-25 10:06] srenatus commented on #4379
the "only build edge" part of this has been done. let's see how it's like, and if this still is an issue. we can investigate the other improvements later on

[2022-03-25 13:34] iamatwork opened #4486 "TLS CA too many open files - decisionlog upload"
OPA v0.37.2
config:

services:
    decisionlogger:
        url: https://XXX
        tls:
            ca_cert: /opt/XXX/certs/myCA.crt
decision_logs:
  reporting:
    min_delay_seconds: 15
  service: decisionlogger

When uploading decisionlogs fails (with authorization error), after a few tries, OPA goes bonkers and tries to upload the logs without any delay (configured minimum is 15s). This fails

[2022-03-25 13:44] iamatwork opened #4487 "decisionlog upload Content Type header"
Decisionlog uploads sets the header "Content-Type" to "application/json", even if set manually in the configuration.

IMHO it should be "application/x-ndjson", which would allow easy ingest into ELK.

services:
    decisionlogger:
        headers:
            Content-Type: application/x-ndjson

{"headers":{"Content-Encoding":["gzip"],"Content-Type":["application/json"],"User-Agent":["Open Policy A

[2022-03-25 15:13] tsandall opened #4489 "print rewriting checks statements in else bodies too soon"
While playing around with @anderseknert's [test assertion experiment](https://github.com/anderseknert/rego-test-assertions) I found that print statements are getting checked incorrectly:

[code]

Because the compiler uses [WalkBodies](https://github.com/open-policy-agent/opa/blob/main/ast/compile.go#L1499) on the rule, it's encountering the body of the else statement before it's processed the impl

[2022-03-25 16:42] ashutosh-narkar commented on #4417
It's already released! See https://github.com/open-policy-agent/opa-envoy-plugin/releases/tag/v0.38.1-envoy-3.

[2022-03-25 17:08] chicco785 commented on #4417
mmm, is there a special trick to make the functionality work? also with the new version we get the custom header only in case of 4xx response.

[2022-03-25 17:32] #4489 closed

[2022-03-25 17:36] ashutosh-narkar commented on #4462
Just to clarify about `opa sign`, if you run the command w/o providing any additional claims (ie. no `--claims-file`), your JWT payload will only represent the files in your bundle under the `files` key. If you want additional claims in your JWT payload, then you will need to provide a claims file using the `--claims-file` flag. The format of such as file:

[code]
With the above the JWT payload wi

[2022-03-25 17:38] ashutosh-narkar commented on #4462
If you need a single command to build and sign your bundle, `opa build` would be the way to go. If you run `opa build --help`, you will more detailed information on this.

[2022-03-25 17:58] chicco785 commented on #4417
sorted out, issue was with envoy image ;)

[2022-03-25 18:36] ashutosh-narkar commented on #4487
Looks like you're using the `debug` level.  In prod, you would typically use `error` or `info`, you'll notice those are not logged.

Regarding the content-type OPA, we set this explicitly in both the decision log and status plugin to indicate the actual content. Have you tried updating the content-type to `application/x-ndjson` (will need a code change) and seeing if it works as expected. I haven'

[2022-03-25 19:29] ashutosh-narkar commented on #4486
Looking at your config I would have first expected an error like

[code]

Looks like we are not properly setting the retry value in the delay calculation which causes this. We'll add a fix soon. Thanks for reporting.

[2022-03-25 21:22] anderseknert commented on #4487
Even in prod you might need to temporarily set the log level to `debug` in case you need to troubleshoot some issue. I agree that we shouldn't log the value of the authorization header, and I thought we masked that already. Maybe I'm thinking of some other context.

[2022-03-25 21:28] ashutosh-narkar commented on #4487
@anderseknert are you referring to masking decision logs ?

[2022-03-25 21:31] anderseknert commented on #4487
Yeah, that's probably what I was thinking of. @iamatwork I might take a shot at masking the `Authorization` header value for the debug logs. Was there some other header you had in mind wherr you think this should be done?

[2022-03-25 21:34] ashutosh-narkar commented on #4487
@anderseknert were you planning on masking a list of hardcoded headers or can users specify this maybe through the service config or through policy ?

[2022-03-25 21:40] anderseknert commented on #4487
That'd be cool! Might not be worth it for the purpose of debug logging though. I think we can start simple by e.g. just mask the `Authorization` header value, so hard coded like you said. WDYT?

[2022-03-25 21:55] ashutosh-narkar commented on #4462
We should clarify the points raised in [this](https://github.com/open-policy-agent/opa/issues/4462#issuecomment-1076409283) comment and make it part of the docs for the feature. I'll work on getting those in.

[2022-03-25 22:24] ashutosh-narkar commented on #4487
Yeah we can start with this and always iterate.

[2022-03-25 22:25] #4486 closed

[2022-03-26 00:25] anderseknert opened #4495 "Authorization header value logged at debug level"
As pointed out by @iamatwork in [another issue](https://github.com/open-policy-agent/opa/issues/4487), the authorization header value should not be loggged in clear text even at debug level.

While the recommended log level for production is `ERROR`, debug level might still be used to troubleshoot issues, and should not lead to credentials ending up in aggregated logs.

I'm not aware of any other

[2022-03-26 07:25] #4495 closed

[2022-03-26 15:38] christian1607 commented on #4442
Hi @srenatus, is it okey printing like the image below istead of the current unreadable output ?
![image](https://user-images.githubusercontent.com/16766274/160246708-b7470810-62d2-4842-8fc8-401b3f1d98e6.png)

[2022-03-26 15:50] srenatus commented on #4442
Yeah that would be much preferable. 👍

[2022-03-26 16:07] christian1607 commented on #4442
Great!!, Can I take the issue please?

[2022-03-26 17:46] christian1607 commented on #4442
Hi @srenatus , I've created [this PR](https://github.com/open-policy-agent/opa/pull/4498)

[2022-03-26 18:37] pvsone opened #4499 "docs: tokens in OPA Envoy tutorial are expired"
In the opa-envoy tutorial (https://www.openpolicyagent.org/docs/latest/envoy-tutorial-standalone-envoy/), the example tokens for alice and bob have an `exp` value of "1641081539" which is a date of "Sat Jan  1 17:58:59 CST 2022".  Therefore both tokens fail exp validation used during the `decode_verify` check in the policy.

[2022-03-26 21:43] anderseknert commented on #4499
I knew I recognized this from somewhere 🤦 https://github.com/open-policy-agent/opa/issues/4212

Looks like that PR never came in, and we forgot about it as the ticket got closed... oh well, let's fix this now!

[2022-03-26 21:47] anderseknert commented on #4499
If you want to submit a PR @pvsone , there's a rego policy to create two fresh ones in that issue. Should just be a matter of copy-pasting them to replace the old ones. If not, l can do it on Monday.

[2022-03-27 09:39] #4376 closed

[2022-03-27 10:59] srenatus commented on #4442
@christian1607 thanks again!

[2022-03-27 10:59] #4442 closed

[2022-03-27 11:11] obsd commented on #2169
You can also use [OPAL](https://www.opal.ac/) which is a new cool opensource that can load real-time data into OPA from various sources

[2022-03-28 13:52] anderseknert commented on #4499
Fixed in https://github.com/open-policy-agent/opa/pull/4504

[2022-03-28 13:52] #4499 closed

[2022-03-28 13:54] anderseknert commented on #4478
@aavarghese @vazirim thoughts on this? 😃

[2022-03-28 13:56] anderseknert commented on #4373
Have you had any time to look into this, @damienjburks?

[2022-03-28 14:02] anderseknert commented on #4455
@migscabral anything left to do here, or are we good to close this one?

[2022-03-28 18:51] anderseknert opened #4506 "Allow dropping list of named capabilities via CLI"
The capabilities feature is great! However, having to manage another file on disk in order to use it makes it a bit challenging to quickly iterate around. I suggest that we, in addition to the current file based approach, allow for a more ad hoc way to drop specific named capabilities via either a new CLI flag, or if the current `--capabilities` one could be retrofitted for this purpose. What I en

[2022-03-28 21:18] damienjburks commented on #4373
@anderseknert I just raised a PR. Take a look at it and see if what I've done makes sense?

[2022-03-28 21:42] anderseknert commented on #4373
Awesome! Bedtime over here, but I’ll take a look first thing tomorrow 😊

[2022-03-29 07:59] srenatus commented on #3997
:broom: Cleaning up inactive issues -- I hope you've overcome the hurdle by now 😅 Feel free to reopen, or start a new discussion, if this is still troubling you.

[2022-03-29 07:59] #3997 closed

[2022-03-29 08:08] anderseknert opened #4508 "opa fmt 2.0"
The `opa fmt` command is great! The current version however has not moved at the same pace as the rest of the project, and could benefit from a remake. Creating this ticket to collect ideas and feature requests for a possible next iteration of the `opa fmt` command.

Some initial ideas from myself and previous tickets on the topic:

* Opinionated formatting to follow best practices. Examples of th

[2022-03-29 08:19] anderseknert commented on #4076
Closing in favor of #4508, where we'll try to compile all ideas for the next iteration of `opa fmt` (and where this is included).

[2022-03-29 08:19] #4076 closed

[2022-03-29 08:19] anderseknert commented on #1549
Closing in favor of #4508, where we'll try to compile all ideas for the next iteration of `opa fmt` (and where this is included).

[2022-03-29 08:21] anderseknert commented on #2958
Closing in favor of #4508, where we'll try to compile all ideas for the next iteration of `opa fmt` (and where this idea is included).

[2022-03-29 08:21] #2958 closed

[2022-03-29 08:21] anderseknert commented on #4104
Closing in favor of #4508, where we'll try to compile all ideas for the next iteration of `opa fmt` (and where this is included).

[2022-03-29 08:21] #4104 closed

[2022-03-29 08:21] #1549 closed

[2022-03-29 11:22] oren-zohar commented on #4508
@anderseknert not sure if this one is included in the list, but what about controlling the indentation (spaces vs tabs)

[2022-03-29 11:33] anderseknert commented on #4508
Thanks @oren-zohar!

Yeah I think controlling (i.e. configuration of) anything at _all_ (indentation, max line length, style preferences) is a topic that definitely should be up for discussion. `go fmt` famously does not allow that, and I think the `opa fmt` command is largely modeled after that, but there are many other formatting tools that do allow configuration, so.. I don't know 🤷😄

One obvio

[2022-03-29 14:15] rmetcalf9 commented on #4449
The http.send method isn't working for me.
I have the following
[code]
and my test
[code]

but I get
[code]

I tried knocking out the param passed to the http_send (not satisfactory since I need to test the params passed to the mocked service are correct - not just the response. I then get the following error:

[code]

Can anyone help me write a test that tests both the params sent to a function a

[2022-03-29 23:49] ashutosh-narkar commented on #4462
FYI docs updated with more info about signing in [this](https://github.com/open-policy-agent/opa/pull/4515) PR.

[2022-03-30 02:58] t83714 opened #4516 "Partial Evaluation produce duplicate rules"
## Partial Evaluation produce duplicate rules

* OPA version: tried 0.38.1 & 0.37.2
* Example query:
  * Example JSON Request (to compile endpoint): https://gist.github.com/t83714/0b6249a33ab9f5ecf45269df38818213
  * Example Policy: https://github.com/magda-io/magda/blob/next/magda-opa/policies/entrypoint/allow.rego
* Example output that OPA returned: https://gist.github.com/t83714/e13dfada9e20ca2

[2022-03-30 07:57] anderseknert commented on #4487
Changing this between versions could break existing control planes. I wonder though if it would be possible to change the `Content-Type` header via the config option, i.e. `services.my_logging_service.headers`? 🤔 I'm guessing we'll overwrite that at a later stage, but perhaps a viable workaround could be to respect whatever the user set via config if so? That would provide more flexibility for oth

[2022-03-30 08:05] carabasdaniel opened #4518 "Add OCI support"
## What part of OPA would you like to see improved?

We would like OPA to be able to consume bundles from an OCI registry. This integration will allow us to take advantage of the richness of the OCI ecosystem including but not limited to image signing, versioning,  caching, layering, etc.

## Describe the ideal solution

Ideally once this is implemented a user could use a configuration similar to

[2022-03-30 08:29] iamatwork commented on #4487
@anderseknert the Authorization header was the only one, that I really wouldn't log.  I'm happy with your fix.

Setting the Content-Typ didn't really fix my problem. I'll try some additional things, and maybe repopen the issue.

Thanks

[2022-03-30 08:29] #4487 closed

[2022-03-30 09:03] anderseknert commented on #4487
I suspected as much. I think allowing that type of override would be a reasonable solution.

[2022-03-30 10:46] anderseknert commented on #4462
Closing as doc fixes got merged.

[2022-03-30 10:46] #4462 closed

[2022-03-30 10:53] wermerb opened #4520 "print function doesn't work in test with json format"
## Short description

When running `opa test -v -f json`, the print function results are not added to the output

Examples:

* OPA version: v0.38.1

## Steps To Reproduce
Given the following policy:
[code]
Test:
[code]
Then run the following command: `opa test policy.rego test.rego -f json -v`

Output:
[code]
## Expected behavior
It should display print result as well.

[2022-03-30 11:00] anderseknert commented on #4520
It's in the `output`:

[code]

[2022-03-30 11:33] wermerb commented on #4520
@anderseknert Thank you very much for the prompt response. Indeed its there, much apricated for the help.

[2022-03-30 11:33] #4520 closed

[2022-03-30 11:50] srenatus commented on #4449
Note that
[code]
again tries to mock a function: `http_send(inp) = result { result := http.send(inp) }` _is_ a user-defined function.

As a workaround, you'd have to turn that into a _rule_:

[code]

can then use `with http_send as expectedResp` in your tests.

I'm not saying it's not cumbersome, but as long as you can construct your arguments to `http.send` using `input` and other rules, you can

[2022-03-30 14:30] lcarva opened #4521 "Absolute paths do not work with rego.Load on Windows"
## Short description
When using `rego.Load` with an absolute path on Windows, the following error is returned when `Rego.PrepareForEval` is called:
[code]

The issue does not occur if a relative path is used. The issue does not work on Linux or OSX.

## Steps To Reproduce

[code]

## Expected behavior
`PrepareForEval` should not return an error.

## Additional context
I created a small git [repo](

[2022-03-30 16:03] srenatus commented on #4516
Thanks for the detailed report. :eyes:

I'm afraid I'm not sure I fully understand what you're referring to as _duplicates_ here. The first block seems impossible, given that it contains both

    input.object.record.dcat-dataset-strings

and

    NOT input.object.record.dcat-dataset-strings

So this query can't ever be true. 🤔

Maybe you refer to those as duplicates?

    input.object.record.publ

[2022-03-31 07:47] srenatus commented on #4516
I've just now realised that there's everything I need to reproduce this in the first message 😅

I'll play some with this locally. Usually, I prefer `opa eval -fsource -p` over the compile endpoint's JSON response, but I see you've got a parser for that already. 😄 Will keep you posted.

[2022-03-31 09:10] srenatus commented on #4516
Let's see where the queries comes from... 🔍

Taking this (from object/record/allow.rego) for an example,

[code]

I'm adding `trace(input.object.allow)` as the first expression of that rule body so that we can trace what it becomes in the output. It's useless, but since it's argument is what is _unknown_, it will remain in the PE result.

Now, running `opa eval -fsource -d policies -p -i inp.json

[2022-03-31 11:56] srenatus commented on #4449
💯 Agreed. This is just a workaround.

Let's talk design, would you prefer something simple like a *static replacement*

[code]

or *inline definitions*?

[code]

or, using their args,
[code]

[2022-04-01 07:44] t83714 commented on #4516
@srenatus Thanks so much for looking into it.

Also appreciated the `opa eval -fsource -p` tips --- it's much easier to look into the compile result 👍

We actually use OPA to make decisions on data filtering. The policy will be partially evaluated with context data like user attributes etc. and "residual" rules (if any) will then be translated to either SQL or elasticsearch DSL (we store the same

[2022-04-01 09:30] anderseknert commented on #4508
Sorting and grouping imports!

[code]
=>
[code]

[2022-04-01 11:08] srenatus commented on #4295
Can we also update this quickstart to _not_ need the image with privileges? 👉  https://github.com/open-policy-agent/opa-envoy-plugin/blob/8be224a995562e01c446f402285bbaabdbc68dc0/examples/istio/quick_start.yaml#L279

[2022-04-01 11:45] srenatus commented on #4516
Some sort of post-processing logic in OPA's PE machinery would make sense, I think. Just need to figure out here the best place to put it would be 🤔

[2022-04-01 12:15] srenatus commented on #2812
Hello there! It's not on the backlog right now.

From looking into the playground example @tsandall shared, with your objects, it doesn't look too bad, I think: https://play.openpolicyagent.org/p/dTy2IEVwuN

When evaluating `diff`, the output is
[code]

`spec` is what covers that the keys under the spec object have changed: there's a new one, `test`, with value `rest`. It won't return `spec/test`

[2022-04-02 14:53] tsandall commented on #4518
Hi @carabasdaniel. Thanks for filing this issue. This topic has come up before over the years (e.g., #1464)

Could you elaborate on a few of these things?

* how does image signing compare to the existing bundle signing mechanism we have in OPA?
* what use cases are driving your versioning requirements and how are those not met by the existing bundle support?
* what use cases are driving your need

[2022-04-02 15:13] tsandall commented on #4014
@srenatus just to double check... the last task on the list above (_"investigate whether server integration tests can be run with disk-based storage to show conformance"_) is complete, right?

[2022-04-03 15:24] alonweisswiz opened #4538 "Wiz has adopted OPA"
### Organization Name

Wiz

### Organization Website

https://www.wiz.io/

### Organization Logo (optional)

https://test.wiz.io/static/assets/wiz_auth0_logo.png

### How is your organization using OPA?

Wiz (https://wiz.io/) helps every organization rapidly remove the most critical risks in their cloud estate. It simply connects in minutes, requires zero agents, and automatically correlates the e

[2022-04-04 07:25] srenatus commented on #4014
Yes, a select few have been changed to run with both inmem and disk storage; notably those checking the `PUT /v1/data` API. They had yielded a good number of issues that had been resolved via #4381.

Agreed, I'll close this one in favour of an issue focusing on bundles.

[2022-04-04 07:25] #4014 closed

[2022-04-04 07:26] srenatus commented on #4455
🧹 cleanup out dormant issues -- please re-open, or reach out via some other channel if you keep struggling with this.

[2022-04-04 07:26] #4455 closed

[2022-04-04 07:31] srenatus opened #4539 "disk storage: performance improvements related to bundles"
When using the disk storage backend (released in 0.39.0), there are limitations related to bundles, as noted [in the docs](https://www.openpolicyagent.org/docs/v0.39.0/misc-disk/):

How can this be overcome? Are delta bundles the answer? Can we alter the bundles processing code in such a way that we _stream_ snapshot bundles' contents into the disk store?

Follow-up to #4014.

[2022-04-04 08:20] carabasdaniel commented on #4518
Hi @tsandall

**how does image signing compare to the existing bundle signing mechanism we have in OPA?**
According to their documentation, [cosign](https://github.com/sigstore/cosign) offers support for:
    - Hardware and KMS signing
    - Bring-your-own PKI
    - Our free OIDC PKI (Fulcio)
    - Built-in binary transparency and timestamping service (Rekor)
As cosign is part of the [sigstore](ht

[2022-04-04 09:24] rmetcalf9 commented on #4449
From my first read I like the first syntax with static replacement.
I presume it would work with mocking of multiple user defined functions by using multiple with statements.
The inline definitions worries me because I want to be able to test the input params to the function are correct as well as the output. (Although could that by fixed by replacing the first '_' in your example?)

[2022-04-04 09:36] srenatus commented on #4449
I've started working on this, and the simple replacement does seem like a good, _simple_ approach.

Yes!

FWIW I've started with replacing _built-ins_ in mocks, but user-defined functions are on my list, too. 🤞

[2022-04-04 15:55] tsandall opened #4544 "Include etag with rest of bundle metadata"
Currently the etag from the HTTP response of activated bundles is not retained once the bundle activates. As a result, when the disk-store is used, OPA will re-download and activate a bundle following a process restart, even if the store contents are up-to-date. We could avoid this potentially expensive operation by including the etag in the persisted bundle metadata and initializing the downloade

[2022-04-04 15:55] tsandall commented on #4112
@anderseknert is this still in progress?

[2022-04-04 17:29] floriangasc commented on #4014
@tsandall

Hi. Sorry for the delay, I have forgotten to respond. I have use istio mirroring capability.
1. i have put opa has side car of dedicated ingressgateway testing  (openresty/nginx)  k8s deployment.
2. i have configure opa to "listen" our production bundle server (long polling).
3. A new bundle or new version of bundle pop every 5mn and opa evaluate around 50-100 request per second.
4. the

[2022-04-04 17:44] srenatus commented on #4538
Merged. 🥳

[2022-04-04 17:44] #4538 closed

[2022-04-04 21:33] alonweisswiz commented on #4538
Thanks! :)

[2022-04-04 21:48] alonweisswiz opened #4545 "Wiz has adopted OPA - update organization using"
### Organization Name

Wiz

### Organization Website

https://www.wiz.io

### Organization Logo (optional)

https://test.wiz.io/static/assets/wiz_auth0_logo.png

### How is your organization using OPA?

[Wiz](https://www.wiz.io/) helps every organization rapidly remove the most critical risks in their cloud estate. It simply connects in minutes, requires zero agents, and automatically correlates t

[2022-04-05 10:00] rmetcalf9 commented on #4449
Sounds good. We have been discussing it (I showed my workaround to other developers) and we are keen to not have to do it and have the ability to mock http.send.
What is the process to get the feature into a release?

[2022-04-05 11:59] obsd commented on #3145
You can send me what you want to add and I will add it to my article:
[Load data into OPA](https://www.reddit.com/r/devops/comments/twqw9u/loading_external_data_into_opa_the_good_the_bad/)

[2022-04-05 20:41] #4373 closed

[2022-04-06 13:30] peteroneilljr commented on #3962
Updated in https://github.com/open-policy-agent/opa/pull/4552

[2022-04-06 14:05] anderseknert commented on #3962
So this one can be closed right? Feel free to re-open if I'm wrong :)

[2022-04-06 19:34] johanfylling opened #4555 "Support assignment infix (:=) in additional locations at file level"
The following locations should support `:=` assignments:

[code]

* [x] default value assignment
* [x] else keyword
* [x] partial rules
* [x] function return
* [x] REPL (?)

[2022-04-06 19:43] anderseknert commented on #4555
Can we add function return values too? 🙂
[code]

[2022-04-06 20:30] christian1607 commented on #3933
Hi @srenatus, I've seen this issue has already been solved.
https://github.com/open-policy-agent/opa-envoy-plugin/blob/21e73a859ecdbf12c2e4da45600381dd2c1167d3/internal/internal.go#L69

[2022-04-06 20:44] srenatus commented on #3933
Thanks @christian1607

[2022-04-06 20:44] #3933 closed

[2022-04-07 07:38] #4545 closed

[2022-04-07 17:18] tsandall commented on #4518
@carabasdaniel thanks for the detailed response!

Another area that comes to mind is incremental updates. OPA recently gained support for delta updates on data contained in the bundle. This is particularly useful for cases where the bundles are relatively large, but only small sets of data change--and where it's desirable to propagate that change quickly/efficiently.

How does OCI support incremen

[2022-04-08 13:29] carabasdaniel commented on #4518
Hi @tsandall,

With OCI, we'd have multiple layers, with each layer that is a child containing the delta from its parent. It sounds like the delta mechanism is there already, so this should work nicely. A layered approach can easily only grab new layers that contain new changes, and that would help with speed.

We'd like to implement this as a separate PR if that's ok, to get the basic functionali

[2022-04-08 14:04] dolevf opened #4572 "Filter outbound OPA decision logs at OPA level"
hey OPA mates,

On high volume OPA instances, a lot of decisions are generated, and logging can become harder as a result. Often, it's required to only grab specific events.

I think it will be useful to have a filtering capability on outgoing decision logging instead of having an external service dedicated for this. It also helps saving costs on platforms such as SaaS logging systems.

AFAIK, thi

[2022-04-08 14:12] anderseknert commented on #4572
Hi @dolevf 😃 Yes, that would be a good addition IMO. I think this ticket would provide a solution to this: https://github.com/open-policy-agent/opa/issues/3945

The solution proposed there isn't config-based but to simply to extend the current Rego-based masking feature to allow log entries to be dropped entirely.

[2022-04-08 15:01] dolevf commented on #4572
Yep, that sounds like it would accomplish the same, in a different way :)

[2022-04-08 16:36] srenatus commented on #4572
I'd rather use rego than introduce some other filtering logic for this... 💭

[2022-04-08 16:54] anderseknert commented on #4572
Yeah, I think that’ll be the way forward. OK to close this @dolevf? And of course, let me know if you’d like to work on it :)

[2022-04-08 18:02] dolevf commented on #4572
Good to close, I totally also prefer the Rego proposal after seeing it.

[2022-04-08 18:02] #4572 closed

[2022-04-11 02:03] msidana commented on #3784
Can I work on this?

[2022-04-11 05:24] srenatus commented on #3784
Yes of course! Thanks for looking into it !

[2022-04-11 20:02] braghettos opened #4576 "OPA integration example with Kuma service mesh"
## What part of OPA would you like to see improved?

There are examples available of integration of OPA with Istio and Gloo Edge. I would like to understand how to use it with Kuma service mesh.

## Describe the ideal solution

An example/tutorial like https://github.com/open-policy-agent/opa-envoy-plugin/tree/main/examples/istio

[2022-04-11 20:27] pvsone commented on #4576
Hi @braghettos - the integration with Kuma is similar to Istio, Gloo, or any other Envoy based proxy.  Although not part of the
OPA docs, I have an example integration here: https://github.com/pvsone/opa-ext-authz/tree/master/kuma

If you have any questions, feel free to reach out on the OPA slack (@Peter Sullivan)

[2022-04-12 12:20] johanfylling opened #4577 "__local__ vars surfaced on rego_type_error with function call in expression"
If a `rego_type_error` is produced by an expression containing a function call, a `__local__` var is declared in the error description instead of the expected function call.

Example:
When compiling the following policy with `opa check`
[code]
the following errors are displayed
[code]
instead of the expected
[code]

[2022-04-13 05:34] tsandall commented on #4518
@carabasdaniel agreed we don't have to implement the functionality in the initial PR but it would be good to spec out how it would work so that we know we have that option in the future--otherwise we'd be adding something to OPA that we know will lead to scalability issues that will make users unhappy.

It would be useful to spec out what the image contents would look like (format) and the network

[2022-04-13 09:46] #4396 closed

[2022-04-13 16:19] carabasdaniel commented on #4518
Hi @tsandall,

To get a better understanding can you please provide a few more details about the use case here?
- Is it a mechanism to continuously (forever) feed data updates to OPA?

- In OPA right now, if OPA restarts, how do I get back to my state? Do I have to consume all the deltas?

[2022-04-13 16:40] #4544 closed

[2022-04-13 21:49] tsandall commented on #4518
Yes, that's how bundles have always worked--OPA periodically downloads the latest version of the bundle from the service that it's configured to talk to. Over time we've extended the bundle format and protocol to support deltas, long-polling, etc.

That's up to the bundle server--the format and protocol allow for the server to send a full snapshot or a snapshot and a sequence of deltas. IF OPA was

[2022-04-14 09:50] doaspx opened #4582 "Does OPA support fast loading and dynamic updating"
My current scenario is to do an authentication function

The data source has a large amount of data and is continuously updated (including the addition, deletion and modification of permissions);

I hope that the data source can be loaded into OPA quickly when OPA is started; And it can keep updating with the data source efficiently

I think of two ways now, but I don't think they are very perfect

[2022-04-14 10:00] anderseknert commented on #4582
Hi @doaspx 👋

[Delta bundles](https://www.openpolicyagent.org/docs/latest/management-bundles/#delta-bundles) is a recently introduced feature in OPA that builds on the well-known bundle format, and extends it to work with data updates in the form of _deltas_, meaning you won't need to download the entire dataset each time a change is registered, but only patches of the data changed.

[OPAL](https:

[2022-04-14 10:31] doaspx commented on #4582
Thank you very much for your reply

I have a little problem

On my side, I prefer to use API. In my own reality, sidecar is called through rest API;

Does restapi support batch? What is the problem with multiple goroutine writes? What is the maximum limit? What is the maximum write data of a single restapi?

------------------------------------------------------------------------------

非常感谢您的回复

[2022-04-14 10:50] anderseknert commented on #4582
The REST API [patch operation](https://www.openpolicyagent.org/docs/latest/rest-api/#patch-a-document) on the data API is described in the OPA docs.

Patches are sent in JSON patch format, and as such may contain as many patches as you want, but I'm not sure what you have in mind when you say "batch". JSON patch is serial by design, so patches will be applied from top to bottom of the list. For th

[2022-04-14 11:04] doaspx commented on #4582
Thank you very much for your reply

I understand that sidecar can call API to update OPA by directly subscribing to publication;

If we adopt patches, we need to maintain more "*. Tar. GZ" files;

It feels less flexible than calling API

[2022-04-14 11:13] doaspx commented on #4582
If the data is loaded through the bundle and can be modified through the API, it can meet my demand scenario,

I'd like to ask why we prohibit API from modifying bundle data？？

ps：

{
    "code": "invalid_parameter",
    "message": "all paths owned by bundle \"authz\""
}

[2022-04-14 11:16] anderseknert commented on #4582
Hi again! Some discussion on that topic here: https://github.com/open-policy-agent/opa/issues/3138

[2022-04-15 08:49] costimuraru opened #4584 "OPA generates a lot of bundle metrics and floods system"
## Short description
We have OPA deployed in Kubernetes as a standalone service (ie. 3 pods). We generate a new bundle every 30 seconds (bundle contains updated rego policies), which OPA downloads. We also scrape the metrics on each OPA pod (via Prometheus) to monitor them. We've noticed that the number of metrics emitted by OPA increases dramatically - from ~400 metrics when OPA starts to around

[2022-04-15 10:01] srenatus commented on #4584
Thanks for reporting! Indeed it sounds like having the active revision label is the problem. Would the metrics still be useful without that? 🤔

[2022-04-15 10:19] srenatus commented on #4584
Cc @rafaelreinert what do you think? I guess we could either make it a feature you'd need to enable, or drop the labels?

[2022-04-15 10:40] costimuraru commented on #4584
@srenatus in our case the metrics are valuable, even without the `active_revision` label. In fact, we already have recording rules in place that discard that label. The problem is that the number of metrics on the OPA increases constantly, to the point where Prometheus can’t scrape it anymore.
We want to know how the system behaves over time, regardless of what was the actual bundle that misbehave

[2022-04-15 19:00] eliw00d opened #4585 "`io.jwt.decode_verify` does not work for tokens with base64-encoded secrets generated outside of OPA"
## Short description

The documentation for this is very confusing. If I provide the plaintext secret as `k` in `io.jwt.encode_sign_raw` it generates a JWT with base64-encoded secret which both jwt.io and Node.js accept. However, when I use the base64-encoded secret, using `base64url.encode_no_pad` [as the example shows](https://www.openpolicyagent.org/docs/latest/policy-reference/#round-trip---si

[2022-04-15 20:59] anderseknert commented on #4585
I think the confusion here is what that feature of jwt.io [does](https://github.com/jsonwebtoken/jsonwebtoken.github.io/blob/3997bdde7cc0405152a8e2106c192e4d038dcdd8/src/editor/jwt.js#L11). Checking that box seems to simply mean "my secret is base 64 encoded, please use the decoded form as the secret value".  If you create a secret as base64:

[code]
And use the "c2VjcmV0" value as the secret in j

[2022-04-15 21:35] eliw00d commented on #4585
I think checking it actually encodes it for you. When you toggle it you can actually see the signature changing. Take a look at this Node.js example I built to show this: https://replit.com/@PaavoBennett/OPA#index.js

[2022-04-15 22:17] eliw00d commented on #4585
@anderseknert I think I had several confusions that led me down the wrong path. I figured it out and all is good now, though. Thanks!

[2022-04-15 22:17] #4585 closed

[2022-04-16 16:07] tsandall opened #4586 "Generated expressions for rego.metadata.* functions should have location set"
The generated expressions from rego.metadata.* functions are missing location information. The compiler should copy the location from the original call expression. You can see this by running w/ tracing enabled in the REPL.

[code]

[2022-04-16 16:19] tsandall opened #4587 "rego.metadata.* calls at the query level cause evaluation error"
Calling `rego.metadata.rule()` or `rego.metadata.chain()` inside of the top-level query (e.g., inside of the REPL) results in an evaluation error.

[code]

Fixing the evaluator to return an empty object in this case would be an easy change. The more difficult part will be dealing with calls to these functions inside of queries generated for selection evaluation. For example:

[code]

If the user s

[2022-04-18 10:33] sidpremkumar commented on #3219
I would like to bump / ask if there is any updates on this thread? We would love to push coverage data to codebuild, but not sure if opa generates anything standard that could be pushed.

As a reference here is a list of supported formats (under `reports`): https://docs.aws.amazon.com/codebuild/latest/userguide/build-spec-ref.html#reports-buildspec-file

[2022-04-18 12:34] rafaelreinert commented on #4584
Hey @srenatus and @costimuraru , about the flag it already exists, in order to enable the status metrics on Prometheus it must be configured and the default value is false  ( see https://www.openpolicyagent.org/docs/latest/management-status/#prometheus-status-metrics). I've done that just to not overflow the metrics in workloads like yours. I really believe someone activated it in your infrastruct

[2022-04-18 13:10] rafaelreinert commented on #4584
Hey @srenatus and @costimuraru, I was thinking again about this issue and I realized what is maybe root cause, The problem is that, this function https://github.com/open-policy-agent/opa/blob/main/plugins/status/plugin.go#L478 is not resetting the older bundles metrics, I've not seen that as an issue because my environment has few bundles and the opa instance lifespan is less than 3 days. But in a

[2022-04-18 13:40] odidev opened #4591 "Add binary testing for arm64 platform via Github Actions"
Hi Team,

I am working with open-policy-agent/opa on the Linux/ARM64 platform.

We know that open-policy-agent/opa already supports Linux/ARM64 platform, and releasing the ARM64 binaries as well using the cross-compilation.

But I can see in [Github Actions](https://github.com/open-policy-agent/opa/runs/6005337114?check_suite_focus=true) that the AMD64 binaries are also tested before releasing.

M

[2022-04-18 17:37] srenatus commented on #4591
Better test coverage for Linux/arm64 (and macos/arm64) would be desirable! I've tried some stuff using the binfmt ext stuff earlier, but hit a blocker that led us to only provide Linux/arm64 docker images with our static binary ..

[2022-04-18 18:08] anderseknert commented on #3219
I think the problem with "anything standard" is that there are just too many to choose from 😄 Would something like the [JUnit output](https://github.com/open-policy-agent/contrib/tree/master/junit) approach work here as well, i.e. a script outside of OPA that did the transformation from JSON to whatever output format desired?

[2022-04-18 18:52] sidpremkumar commented on #3219
Yes! that would also be perfect, I just could not find anything that would work with what AWS is expecting, but if there is something I missed please let me know!

[2022-04-18 19:41] costimuraru commented on #4584
Thanks for the details on the rationale behind this behavior, @rafaelreinert.
I'm trying to understand your suggestion with resetting the metrics. Are you saying that each time a bundle is loaded, the metrics will be reset and they will take the values based on that latest bundle? I worry that would not work fine with the counters. From the docs in Prometheus:

For instance, the `bundle_failed_loa

[2022-04-18 20:37] anderseknert commented on #3219
SimpleCov was the only JSON format in that list of supported AWS CodeBuild formats, so I got curious how such a translation might look like. I've submitted the result of my experiment to the [contrib](https://github.com/open-policy-agent/contrib/pull/173/files) repo.. feel free to try it out! And let me know if it works 😅

[2022-04-19 07:21] vgramer commented on #3219
TLDR: I think opa coverage json output is enough and work should be done on the IDE plugin.

IIRC, IDEA has its own internal format for representing code coverage.  The coverage  JSON output of OPA  contains all the information needed and just needs to be "translated"  to IDEA internal format ( matching rego files to virtual document, adapt line numbers...).

The most complicated part is creating

[2022-04-19 07:46] anderseknert commented on #3219
Would love to see it integrated in the IDEA plugin @vgramer! 😃

[2022-04-19 08:13] viovanov commented on #4518
Hi @tsandall - we looked at the delta feature, and I don't think layers will be helpful for this use case.
It's not helpful to keep growing the number of layers in the image forever.
In this scenario, the behavior should remain as it is now.
The publisher of the bundle would replace the layer that opa downloads, with a delta bundle. (this works with the current PR)

[2022-04-19 08:51] sidpremkumar commented on #3219
@anderseknert you are the best!!! Can confirm now I can export to Codebuild CI following the instructions on the PR you mentioned:
![2022-04-19 at 2 20 PM](https://user-images.githubusercontent.com/28202162/163964918-a9c1f98f-424b-4754-b91e-e1e72329727b.jpg)

Thank you so much :)

[2022-04-19 08:54] anderseknert commented on #3219
Awesome! Thanks for letting me know, @sidpremkumar 👍

[2022-04-19 09:01] srenatus commented on #4591
Btw -- I was brief because on mobile for the other message -- _any_ improvements to CI that increase our confidence in the arm64 builds, or just bring them on par with the amd64 builds, are **very welcome**. 👍

[2022-04-19 09:11] anderseknert commented on #3219
As shown above, and given how IDEA likely can work with that we have,  I think the way forward here is not to add additional formats to OPA core, but to allow transforms of the current output format as utility scripts and have them collected in the contrib repo (or linked from external repositories). @devstuff if you had some particular output format in mind, like the SonarQube one, I'd be happy t

[2022-04-19 09:11] #3219 closed

[2022-04-19 11:32] oren-zohar commented on #3324
@anderseknert Are there any plans to fix this? I'm getting the same error.

[2022-04-19 11:35] anderseknert commented on #3324
@oren-zohar no one assigned as of now. If anyone would be willing to pick it up, that'd be great :)

[2022-04-19 12:07] oren-zohar opened #4593 "opa test `--ignore` not working as expected"
## Short description
We moved to work with the bundle option on our rego project and had to change the tests to support it, unfortunately, our coverage flow is now broken since the coverage option always yields 100% when working with bundle (https://github.com/open-policy-agent/opa/issues/3324). Instead, we tried to `--ignore` the tests that will fail when running not in a bundle, but we couldn't

[2022-04-19 12:44] anderseknert commented on #4593
Thanks for reporting this @oren-zohar 👍

While this pertains to `opa test` rather than `opa build`, I think this might be a sympptom of the same issue as reported here: https://github.com/open-policy-agent/opa/issues/2944

Unfortunately I remember it being more involved than it seemed to be at first glance :/

[2022-04-19 13:22] jbspeakr opened #4594 "Custom Open Telemetry Config"
Hey, my otel saas provider expects a project specific access-token to be provided when connecting to grpc endpoints on satellites. Currently it seems not to be possible to provide such secret through default config means:
https://www.openpolicyagent.org/docs/latest/configuration/#distributed-tracing

## Describe the ideal solution
OPA would allow to inject bearer tokens or custom headers into otel

[2022-04-19 13:34] anderseknert commented on #4594
Hi Jan, and thanks for filing this!

That does seem like a relevant requirment. Looks like we currently [support](https://www.openpolicyagent.org/docs/latest/configuration/#distributed-tracing) client cert authentication, but not custom headers / bearer tokens.

I wonder if it would be possible to leverage the usual reference to a **service** in this config section rather than having these attribu

[2022-04-19 13:39] JohnBjrk commented on #3341
Any updates in this one?

[2022-04-19 14:49] johanfylling commented on #4577
This is also surfaced in tracing; e.g. with `opa run`:
[code]

[2022-04-19 14:50] johanfylling commented on #4586
Is it OK to have the trace output say
[code]
or do we want to fake the appearance of a built-in function call all the way, e.g.:
[code]

The bleed of `__local1__` here is already a [known issue](https://github.com/open-policy-agent/opa/issues/4577), and is out of scope for this solution, I think.

[2022-04-19 15:02] srenatus commented on #4586
[code]

Same here. Getting this on par is fine, I think. At least for this issue.

[2022-04-19 15:46] johanfylling commented on #4586
I might have misinterpreted this task to go beyond just the missing `query:1`.

[2022-04-19 17:07] costimuraru commented on #4584
After [stripping the activeRevision label](https://github.com/open-policy-agent/opa/compare/main...costimuraru:fix-metrics-cardinality?expand=1), OPA is looking much better:

<img width="705" alt="Screenshot 2022-04-19 at 20 05 57" src="https://user-images.githubusercontent.com/952836/164057879-cc4dcc82-dd6c-43a3-bbf7-b0f11b0cea08.png">
<img width="689" alt="Screenshot 2022-04-19 at 20 06 03" src=

[2022-04-19 20:32] rafaelreinert commented on #4584
I am thinking about that, maybe the best solution is to remove the `active_revision`  for all metrics (as you have done) and create another metric (gauge) `last_active_revision` with the `active_revision` as label and reset it each update.
With this solution, we can have the active_revision from every bundle and we eliminate the other metrics' high cardinality.

[2022-04-20 00:19] alexhu20 opened #4596 "Errors with net.cidr_merge"
## Short description
In short, the net.cidr_merge seems not produce the smallest possible set of CIDRs.

Examples:
I have IP addresses: ["192.168.1.254", "192.168.1.254"]
output: `192.168.1.0/24`
expect: `192.168.1.254/32`
Seems like it is actually expanding the IP range.

* OPA version
latest

## Additional context
In addition, the net.cidr_merge does not handle ipv6 very well. I have an ipv6 add

[2022-04-20 00:55] sys0613 opened #4597 "In opa-agent ,I cann't receive a Etag,why?"
I make a Sever for download bundle.tar.gz,
when in postman , I got the bundle.tar.gz, and in header, I get the Etag
![1650415765(1)](https://user-images.githubusercontent.com/10354069/164125113-dd27407f-5c1c-49b5-b97e-882215d55af2.png)

but,when I  start opa-agent
use  "opa run -s -c config.yaml -l debug "

I cannot got the Etag in opa-agent  ,why?
![1650416085(1)](https://user-images.githubuserco

[2022-04-20 06:15] #4586 closed

[2022-04-20 08:24] anderseknert commented on #4597
That debug logger prints all the headers in the response, so if the `Etag` header isn't there, I don't think your server sends it for some reason. Just tested locally using Nginx, and it seems to work as expected:

[code]

[code]

[2022-04-20 08:42] anderseknert opened #4599 "Review Rego snippets in docs and update to follow current best practices"
Some things to consider for the review. Obviously up for discussion!

* Use `:=` for [file level assignments](https://github.com/open-policy-agent/opa/issues/4555)
* Prefer `foo in bar` over `foo == bar[_]` or `foo[bar]`
* Prefer `some foo in bar` over `foo := bar[_]`, `some foo, bar in baz` over `bar := baz[foo]`
* Prefer `every foo in bar { .. }` over iteration with helper rules
* Prefer metadat

[2022-04-20 08:46] johanfylling commented on #4599
Perhaps we could update the build step (or add a linting step) for docs to search for rego blocks and diff those against the output of `opa fmt` for that same block 🤔 .

[2022-04-20 09:12] anderseknert commented on #4596
Hi Alex! And thanks for reporting this. And ouch! That panic looks bad indeed..

[2022-04-20 09:24] srenatus commented on #4225
I think I've found a simpler way: #4598 has the wip.

[2022-04-20 09:30] srenatus commented on #4599
@johanfylling totally. unfortunately, there's another prereq to that: https://github.com/open-policy-agent/opa/issues/4104 (now https://github.com/open-policy-agent/opa/issues/4508)

[2022-04-20 09:45] sys0613 commented on #4597
thank you  very much,I will have a try.
I think some thing wrong in the response header,but I cann't find it.

 when test in postman ,like
![image](https://user-images.githubusercontent.com/10354069/164199472-d70acd16-07b1-4a2f-ac6c-f62ee5d6ebff.png)
,in the response header  ,the "Etag" field has been exists.

[2022-04-20 10:25] srenatus commented on #4584
@rafaelreinert that sounds reasonable. @costimuraru what do you think?

@rafaelreinert would you be able to pick up making this change? 😃

[2022-04-20 11:28] #4555 closed

[2022-04-20 11:57] srenatus commented on #4596
Had a quick look:

So what happens is this: the IP if passed without a CIDR, so "192.168.1.254", not "192.168.1.254/32" is parsed, and gets its "default mask". For 192.168.1.254, that'll be 255.255.255.0 (or /24). So, when it is further processed, it's treated as if the input was `["192.168.1.254/24", "192.168.1.254/24"]`. For that, the output 192.168.1.254/24 is correct.

So if the default mask a

[2022-04-20 12:09] costimuraru commented on #4584
Thanks @srenatus.
I've incorporated the feedback from @rafaelreinert and opened https://github.com/open-policy-agent/opa/pull/4600. I'm gonna test it today and tomorrow in our env and see how it works. (I plan to use Grafana annotations with the newly added metrics that @rafaelreinert suggested and see how it behaves).

[2022-04-20 13:34] #4587 closed

[2022-04-20 14:57] tsandall opened #4603 "FOR ALL section on Policy Language buries the lede"
The section on FOR ALL in the docs buries the lede (so to speak) by saying that like SQL, Rego does not have a direct way to express FOR ALL. This was true prior to the release of the every keyword, but it's no longer the case. We should revisit this section of the docs and update it to align w/ the new keyword. We should lead w/ `every` and then mention the alternatives (NOT-SOME-NOT or comprehen

[2022-04-21 07:46] #4225 closed

[2022-04-21 08:40] srenatus commented on #4508
It would be nice to have both `--fail` and `--diff` at the same time. Right now, `--fail` trumps `--diff`.

[2022-04-21 09:37] srenatus opened #4606 "opa fmt panics with future keyword import every, in, and comment"
[code]

importing `every` implies importing `in`, it's probably related to that.

`opa fmt f.rego` gives this 💥

[code]

[2022-04-21 09:42] srenatus commented on #4606
Found via https://github.com/open-policy-agent/opa/pull/4604

[2022-04-21 17:54] srenatus opened #4609 "opa eval: mangled pretty/source partial eval output"
Locations of terms have caused many problems with formatting: the formatting code _trusts them_, since it's built for the purpose if fixing the code layout for source files. But when it is fed the result of partial eval, the _actual AST location_ can be different from the recorded source location; and there will be generated terms without a proper location.

So, we should
- add `AstWithOpts` with

[2022-04-22 04:27] tsandall commented on #4113
This is done now.

[2022-04-22 04:27] #4113 closed

[2022-04-22 05:07] doaspx commented on #4582
Hi，
Can concurrent calls be made? Can the data put method be invoked concurrently? Will concurrency occur when data is written to OPA?

for example：

`curl --location --request PUT 'http://127.0.0.1:8181/v1/data/bindingsID1' \
--header 'Content-Type: application/json' \
--data-raw '{
    "user_roles": {
        "alice": [
            "admin"
        ],
        "bob": [
            "employee",

[2022-04-22 07:44] srenatus commented on #4460
ℹ️ Please re-open when you get to this and there are still questions 🧹

[2022-04-22 07:44] #4460 closed

[2022-04-22 07:47] srenatus commented on #4582
Yes, concurrently pushing data is OK. The server will only process one write transaction at a time; and the write will block until there are no ongoing read transactions to ensure consistency. Any reads will then be blocked until the write has finished.

There's no MVCC or anything like it built into OPA, however. If two "concurrent" PUT requests end up writing the same piece of data, the writes w

[2022-04-22 08:28] srenatus opened #4610 "sprintf: fix number formatting quirks wrt float/int"
[code]
This should output `"13"`. Using `%v` is a workaround, but won't allow us to control the number of digits after the dot, like `%.3f` would allow.

The problem is this code: https://github.com/open-policy-agent/opa/blob/v0.39.0/topdown/strings.go#L427-L436

☝️ We're trying to find the best format of the arg to pass along to the [golang stdlib Printf function](https://pkg.go.dev/fmt). The heu

[2022-04-22 11:33] #4603 closed

[2022-04-22 12:19] srenatus commented on #4596
OK I've had another look at the IPv6 case -- and it seems like it's very similar: everything works as expected if you pass in the IP including a CIDR range. There's no "default mask" for IPv6 _at all_, so you'll always have to provide it.

We get the expected outcome then:
[code]

So much for the workaround. We should probably default to /128 if nothing is provided for IPv6, what do you think?

[2022-04-22 12:20] damienjburks commented on #4610
I'd like to take a stab at completing this!

[2022-04-22 12:27] srenatus commented on #4610
Thanks! LMK if you need assistance or if something is unclear or if you'd like to discuss some approach... 😃

[2022-04-22 14:12] #4606 closed

[2022-04-22 15:21] damienjburks commented on #4610
Question: @srenatus Let's say I set the format to %.3f in the example you've shown above. Would this be the expected output?

[code]

OR would you prefer to see the exact same with the int value?

[code]

[2022-04-22 15:51] srenatus commented on #4610
Hmm I think I'd go with `"1.000"`. Like here, https://go.dev/play/p/tNR1eM9TpSD

[2022-04-23 12:44] tsandall opened #4614 "Reorganize the miscellaneous section"
The MISCELLANEOUS top-level section in the docs navigation has grown organically over time. It feels like it's time to reorganize the content under MISCELLANEOUS that it's easier for people to find and more consistent.

<img width="321" alt="image" src="https://user-images.githubusercontent.com/238885/164894976-c168418f-165b-40ac-9451-5c73399c1967.png">

Here's my proposal for where the content ou

[2022-04-24 09:26] srenatus commented on #4449
@rmetcalf9 the part that allows mocking built-in functions is merged. If you build from source or grab the edge binaries, you can test drive it. 😃

[2022-04-25 07:41] srenatus opened #4615 "website build fails with node 16 (live-blocks)"
`make netlify-preview` with node 16 fails:

[code]

whereas the same passes with node 16. Eventually, we'll have to upgrade for some reason, so we should get over this bump before it's a pressing need.

[2022-04-25 12:32] anderseknert opened #4619 "Add hint on missing future import"
The below case does not hint about the missing import of future.keywords, and it would be nice if it did, like how it's done for other cases:

[code]

[code]

[2022-04-25 19:00] zzFluke commented on #2098
@alexkhimich I did similar project as well, I wonder the details of your project and I'm going to share the details of mine sometime soon.  The most thing I'm interested in is scalability vs performance.

[2022-04-26 08:57] #4236 closed

[2022-04-26 08:59] srenatus commented on #4596
@alexhu20 discussing the PR, we've come up with making prefix-less IPv6 inputs to `net.cidr_merge` _a non-fatal error_. I.e. `net.cidr_merge(["2601:600:8a80:207e:a57d:7567:e2c9:e7b3"])` would be `undefined`; if run with `--strict-builtin-errors`, it would return an error message. What do you think?

[2022-04-26 11:25] #4609 closed

[2022-04-26 11:52] #4584 closed

[2022-04-26 12:07] srenatus commented on #3349
🧹 Cleanup. Please re-open or create another issue if this is still a concern of yours! 😃

[2022-04-26 12:07] #3349 closed

[2022-04-26 12:08] srenatus commented on #2504
I hadn't found this issue before creating #4610. Closing this for the other one that @damienjburks is already looking into!

[2022-04-26 12:08] #2504 closed

[2022-04-26 12:48] srenatus opened #4623 "website: auto-generate builtin documentation from source (incl. examples)"
With #4080 giving us named arguments, we can use that information to autogenerate docs for the function arguments, incl descriptions, on the website.

This could look like the folllowing:

a. named args and descriptions are added to ast.Builtin (or so) via #4080
b. it becomes part of the capabilities.json
c. the website build is modified to read the capabilities.json (copied into website/data) and

[2022-04-26 17:03] #4596 closed

[2022-04-27 07:55] srenatus opened #4625 "performance: creation of object with many key/val pairs"
- The root cause seems to be this https://github.com/open-policy-agent/opa/blob/v0.39.0/ast/term.go#L2305
- and changing the key structure to something else might help here: A linked list?

TODO:
- create a benchmark
- change the implementation
- prove that it helps

[2022-04-27 11:07] odidev commented on #4591
Hi @[srenatus](https://github.com/srenatus)

I’m testing open policy agent on arm64 platform on kubernetes using  [this](https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/) documentation. But I’m failing on this step because ```openpolicyagent/opa:0.39.0-rootless``` docker image is not available for arm64 platform. I have tried to build [this](https://www.openpolicyagent.org/docs/lat

[2022-04-27 11:27] srenatus commented on #4591
Hmm those logs don't contain anything helpful, do they?

As you've noticed, we don't publish the combination of **rootless** + **static**; static being the only thing we build for linux/arm64. I think the quickest way forward is to build your own rootless container using the static binary, something along the lines of

[code]

where we're basically snatching the static arm binary from the publishe

[2022-04-27 11:29] srenatus commented on #4591
To build the binary yourself, something along the lines of what happens in CI is probably the way to go: https://github.com/open-policy-agent/opa/blob/main/.github/workflows/post-merge.yaml#L95-L100
👇
[code]

[2022-04-27 12:00] srenatus opened #4630 "race-detector: data race in tests"
[code]

This isn't found every time, but it happened more than once.

[2022-04-27 12:32] anderseknert commented on #4591
Just to add to that: all images (including -static) will be [rootless](https://github.com/open-policy-agent/opa/issues/4295) by default later this year.

[2022-04-27 16:33] peteroneilljr opened #4632 "Improve error messaging when import future.keywords is not present"
## What part of OPA would you like to see improved?
It would be nice if the error messages that pop up when you forget to import future keywords would inform you to import these keywords.

## Describe the ideal solution
A clear and concise message asking if you forgot to import future keywords.

[code]

## Additional Context

This is the current error message when trying to use the `in` keyword.

[2022-04-27 18:49] ashutosh-narkar commented on #4477
PR to include bundle type in status: https://github.com/open-policy-agent/opa/pull/4633

[2022-04-27 22:12] aavarghese commented on #4478
@anderseknert missed responding to this earlier but this does seem very useful and practical - not all schemas especially Kubernetes related need to be loaded on disk. So +1 for this feature!

[2022-04-28 07:55] #4449 closed

[2022-04-28 08:24] srenatus opened #4634 "opa fmt: multiple 'with's on one line missing whitespace, leading to invalid rego"
[code]
⬇️ `opa fmt`
[code]

💥 `with input.b as "b"with input.c as "c"`

[2022-04-28 09:01] #4634 closed

[2022-04-28 11:18] srenatus opened #4637 "OCI: Bundles are reloaded and activated unconditionally"
When using an OCI registry for bundle storage (#4518), each periodic call to the OCI reg will now fetch the bundle, and load and activate it.

For HTTP sources, we're using the ETag. We could probably record the digest of the OCI artifact? Or use it as ETag...?

👉 https://github.com/open-policy-agent/opa/blob/v0.40.0/download/oci_dowload.go#L101-L103

[2022-04-28 11:19] #1464 closed

[2022-04-28 11:26] srenatus opened #4638 "OCI: documentation"
The docs currently tell you how it's configured. Where's missing is:

1. How does a bundle become an OCI artifact?
2. How is it pushed to, say, ghcr.io or some other general purpose OCI registry?
3. What happens in the persistence directory, and what am I expected to do with that?

Some of this is in docs/devel/OCI.md, but that's not ready to be user-facing documentation.

This should probably bec

[2022-04-28 11:28] srenatus opened #4639 "OCI: manage persistence directory"
Currently, we're putting "stuff" in "$persistence_path}/oci" or "/tmp/oci" (OS-dependent, some temp dir); but we're never cleaning it up.

1. Figure out if it needs to be cleaned up; and how large it could become if not cleaned up.
2. Do it automatically.

(2.) could be a periodic cleanup task for long-running OPA instances, I suppose.

[2022-04-29 11:53] olamiko commented on #2944
With regards to this issue, the solution is straightforward.

However, the solution (adding a `filter` to the bundle creation process) breaks many tests because of the nature of the filter used internally in OPA. (check the closed pull request).

I could not figure a way to solve this problem without requiring a major rewrite of all the tests in the package

[2022-04-29 19:55] anderseknert commented on #4521
Hey @lcarva! Sorry for not acknowledging this before, but that definitely seems like a bug. If anyone with a Windows machine would consider taking a look at this, that would be much appreciated!

[2022-04-29 20:23] lcarva commented on #4521
@anderseknert, no worries! FWIW, it's possible to reproduce the issue with just GitHub actions as mentioned in the description. It's definitely not as easy to debug as a local system, but a potential way forward.

[2022-04-29 23:54] peteroneilljr commented on #4632
Looks to be the same as https://github.com/open-policy-agent/opa/issues/4619

[2022-04-29 23:54] #4632 closed

[2022-04-30 07:43] wermerb opened #4646 "Opa cli slow on Windows 10"
Hi,

It seems something has changed with the Windows binary in the last couple of releases.
The cli bootstrap time got significantly slower.
If I run the following command `opa help` response times are:

- v0.38.0: almost instant
- v0.39.0: 3 seconds till response
- v0.40.0: 5 seconds till response

I cannot reproduce the above with the linux binaries.

Thank you

[2022-04-30 09:05] srenatus commented on #4646
I think I've seen this related to the location of the binary. If it's used straight out of the download folder, extra checks apply that take time. It's a Windows thing. Can you check where there binaries are placed and perhaps try in another location, please?

[2022-04-30 09:19] wermerb commented on #4646
Thanks for the quick response, I have tested on following locations, results are the same:

- Downloads
- Documents
- Desktop

[2022-04-30 10:07] srenatus commented on #4646
Can you try disabling any anti virus software that could be interfering?

[2022-04-30 11:19] wermerb commented on #4646
I have tested it further. Without any antivirus software running i get the same results.
I have tried it on 3 different machines and i have found something interesting:

- When i tested on an Intel processor based pc the results are the same
- However when i ran in on I AMD processor based pc the issue above cannot be reproduced.

[2022-05-02 05:33] NitroCao opened #4647 "Get policy by package name via REST API"
## What part of OPA would you like to see improved?

REST API.

## Describe the ideal solution

For example, we have a rego file called `hello.rego`:
[code]
Then run an OPA server with `opa run -s -b .`. For now we can get the policy only if we know the policy path:
[code]
But the package name is more stable than the policy path. So hope that we can get the policy by the package name:
[code]

## D

[2022-05-02 06:46] NitroCao commented on #4508
Optimize long lines.
[code]

=>

[code]

[2022-05-02 07:56] srenatus opened #4648 "OCI: use oras/v2"
ORAS is doing a revamp in their v2 work: among other things, this should cut down dependencies significantly, and that would be very welcome to the use in OPA.

* See [oras.land/oras-go/v2](https://pkg.go.dev/oras.land/oras-go/v2@v2.0.0-20220427084858-ed1a2571617e) and its directories for the new interface.
* The [`Copy` API](https://pkg.go.dev/oras.land/oras-go/v2@v2.0.0-20220427084858-ed1a257161

[2022-05-02 09:09] kyorav commented on #4646
Also a windows user here (Windows 10 pro, Intel processor).

I ran 'opa version' with different versions and using 'time' to get the stats. Here is what I got running on gitbash:
v0.40.0 : real    0m12.597s, user    0m0.000s, sys     0m0.030s
v0.39.0 : real    0m3.278s, user    0m0.015s, sys     0m0.172s
v0.38.0: real    0m0.495s, user    0m0.000s, sys     0m0.140s

I also tried from inside WSL2,

[2022-05-02 10:40] anderseknert commented on #4647
Hi @NitroCao 👋 And thanks for filing this. Could you elaborate some on what you're trying to accomplish? In general, I don't think the ID of policies should matter much once they've been loaded into OPA.

As for the implementation, I'd expect the URL to get all policies from the `greeting` package to look something like this:
[code]
Should this include any sub-packages as well? I.e `greeting.hello

[2022-05-02 11:20] srenatus commented on #4646
@kyorav @wermerb Is the timing consistent? The only difference I was able to reproduce was in first run vs second run, presumably due to the binary being read from disk and cached. (Do you use harddrives or SSDs?)

[2022-05-02 11:28] wermerb commented on #4646
In my case its SSD

[2022-05-02 11:31] srenatus commented on #4646
@wermerb thanks for the quick reply! :)

[2022-05-02 12:00] srenatus commented on #4646
So, trying to shed some light onto this, I'll build binaries that drop trace logs on exit. If you could download them, please, and give it a go, and share the resulting `trace.out` file with me, that would be great. 🤞 we'll know better what's going on here if we have a trace... The builds should show up in an artifact called "binaries", a zip archive with all the binaries built during that PR run,

[2022-05-02 12:01] srenatus commented on #4646
I often find this hard to find, so here's a treasure map -- scroll down on that page if it doesn't fit in your screen:

<img width="1330" alt="image" src="https://user-images.githubusercontent.com/870638/166230379-3198526a-2234-4e4a-ab2a-9ce496e155cb.png">

[2022-05-02 12:07] wermerb commented on #4646
Here you go:
[trace.zip](https://github.com/open-policy-agent/opa/files/8602664/trace.zip)

[2022-05-02 12:17] srenatus commented on #4646
Hrmm from the trace, the binary was running for 25ms. So it must be something outside of the binary's doing?

Regardless, I've pushed another commit to the debug PR, because we _do something special after all_ on windows: the "mouse trap". Cobra, the CLI lib we use, does that by default via https://github.com/inconshreveable/mousetrap.

If you don't mind, could you try again? Since it was only 25m

[2022-05-02 12:28] wermerb commented on #4646
Sure np, here is the new trace:

[trace.zip](https://github.com/open-policy-agent/opa/files/8602794/trace.zip)

[2022-05-02 12:35] srenatus commented on #4646
Thanks. I assume there's no huge change from that last run? The execution went down to ~7ms;  because it didn't to the mousetrap work, but this still means that whatever happens happens outside of the binary execution. Perhaps loading some libraries, or trying to find them, or something 🤔

I'll need to do some reading on what could be causing this...

[2022-05-02 12:52] NitroCao commented on #4647
@anderseknert  Thanks for your reply.

But the ID depends on the policy path. From the example above, the initial directory layout inside a bundle is:
[code]
At this time, the ID of the policy is `hello.rego`.

In the future, I changed the directory layout to the following because of some reason:
[code]
Now, the ID of the policy becomes `hello/hello.rego`.

For a specific scenario, I want to creat

[2022-05-03 07:13] viovanov commented on #4637
I think we should use the digest. AFAIK, we're not downloading layers already downloaded, but the bundle is loaded/activated each time anyway.
I think if the digest has not changed, the bundle should not be loaded/activated.

[2022-05-03 07:34] carabasdaniel commented on #4648
Hi @srenatus, I think we might be able to tackle the [bug](https://github.com/open-policy-agent/opa/issues/4637) first and then focus on bumping to [oras/v2](https://pkg.go.dev/oras.land/oras-go/v2@v2.0.0-20220427084858-ed1a2571617e) before any other feature work.

[2022-05-03 07:39] srenatus commented on #4646
So I've asked around internally, and we came up with a few more things to note and check:

1. https://textslashplain.com/2016/04/04/downloads-and-the-mark-of-the-web/ This could be interesting to verify: is it set? does removing it have an effect?
2. If you're using MS AV: you could tell MS AV to trust/skip directory
https://support.microsoft.com/en-us/windows/add-an-exclusion-to-windows-security-

[2022-05-03 07:53] wermerb commented on #4646
Hey @srenatus,

I'll will iterate over the list later today.
At least point 3 is out of the picture on my end.

[2022-05-03 08:21] srenatus opened #4653 "ast: support using refs as rules (or "dots in rule heads")"
Currently, when you want to write a policy like this:

[code]

...you'll have to create **one** rego file per input method/resource pair, like

* `get_pets.rego`:
[code]

* `delete_pets.rego`:
[code]

This can grow out of proportion, and it's cumbersome.

The enhancement would be to allow for creating those rules **in a single rego file**:

[code]

[2022-05-03 08:31] anderseknert commented on #4653
Agreed, this would be a nice addition! Would the "dots" work for partial map rules too? E.g. something like:
[code]

[2022-05-03 08:40] srenatus commented on #4653
Yes, but without allowing for variables in the refs -- it's a shortcut for defining rules, not for generating them. So that example wouldn't be valid, since `user` isn't known at compile time.

What should work, however, is
[code]
to define the _partial set rule_ `authz.rules.GET.pets`.

[2022-05-03 09:08] srenatus commented on #4653
There's some ambiguity to resolve here. In references, `foo["bar"]` and `foo.bar` are the same thing. When defining rules like ☝️ this,

[code]
defines a partial set rule `data.p.foo` with (as it stands) one element, `"bar"`, whereas

[code]
defines a complete document rule `data.p.foo.bar` (which is true).

The same holds for partial object rules.

To deal with this, and keep backwards compatibil

[2022-05-03 14:11] anderseknert commented on #4647
Thanks for the explanation! What I don't think I understand is why you'd want to query a running OPA server for this information? Would you not just build your constraint templates from files on disk, a git repo or something like that?

That policies loaded from a bundle get an ID corresponding to their file path/name is pretty much just for practical reasons. The REST API will allow you to upload

[2022-05-03 15:12] wermerb commented on #4646
I had some success with procmon.
What was interesting that in v0.40.0 the following events are showing up multiple times:
4:58:19.9830473 PM	opa40.exe	21244	TCP Send	my-pc.fqdn.com:52248 -> my-dns.fqdn.com:49667	SUCCESS	Length: 268, startime: 123865444, endtime: 123865450, seqnum: 0, connid: 0
4:58:19.9830567 PM	opa40.exe	21244	TCP TCPCopy	my-pc.fqdn.com:52248 -> my-dns.fqdn.com:49667	SUCCESS	Leng

[2022-05-03 15:21] srenatus commented on #4646
Hrrm but what is it...? Can you use tcpdump or wireshark or something to sniff the traffic?

Does the binary without them mousetrap exhibit this, too? Could be it's only related to gathering the process info. The TCP calls alone don't mean that this is what's causing the wait time.

[2022-05-03 15:45] wermerb commented on #4646
I'll check it as well, however I think its interesting that the v0.38.0 does not have any TCP event.

[2022-05-03 16:15] #4647 closed

[2022-05-03 17:40] humbertoc-silva opened #4656 "OPA discovery raises a panic error when a signed policy bundle is used"
## Short description
I am testing the OPA discovery feature. In my case, I am using an unsigned discovery bundle with a config that points to a signed policy bundle. When I start the OPA server the discovery bundle is downloaded but a panic error is raised when OPA tries to load the signed policy bundle.

## Steps To Reproduce
I have a repo that could be used to reproduce the error.
https://github

[2022-05-03 17:48] ashutosh-narkar commented on #4656
Initially reported [here](https://openpolicyagent.slack.com/archives/CBR63TK2A/p1651187479044669).

[2022-05-03 18:16] srenatus commented on #4358
I'd think `subset` makes for a good relation, like `walk`... all the examples above, but also

[code]

For correctness reasons of our current implementations, it would be cool if there was a second relation. Currently, we only have `walk`.

[2022-05-03 21:07] srenatus commented on #4646
https://github.com/open-policy-agent/opa/pull/4374 I have a suspicion. I'll get you a build that doesn't do that tomorrow 🤞

[2022-05-04 05:38] odidev commented on #4591
I have tried this dockerfile that you have shared. It is successfully working for me on arm64 platform.

Can you please let me know that for future release of docker image which binary are you going to use static binary or non-static binary? Please let me know I’m ready to help.

[2022-05-04 07:55] anderseknert commented on #4591
I think we'll continue to have both the static and the non-static images around for the near future. I don't think the Wasm stuff works in the non-static context still, but perhaps @srenatus knows if this is about to change.

[2022-05-04 07:55] srenatus commented on #4591
Yay. So I guess it comes down to this: _Is the workaround too cumbersome to be acceptable until all images switch to rootless?_

We'll probably keep static and "default" (non-static, dynamic build). The latter is able to run wasm modules, the former is not. The only planned change is to collapse the "rootless" variant with the "default" variants, i.e. go from
- static
- default
- default-rootless

[2022-05-04 08:14] anderseknert commented on #4358
I can kinda see the coolness factor 🙂 I guess if it works the same way (and performs about the same) when provided a fixed value, why not! How would this work when a subset is not matched though? Would it return undefined? IIRC walk always returns _something_, so it's never "falsy".. or can it be?

[2022-05-04 08:23] srenatus commented on #4358
A call to `walk` can be _undefined_, like
[code]

Same would go for a subset _relation_. `subset({1}, {2})` would be _undefined_.

[2022-05-04 08:26] anderseknert commented on #4358
Thanks! 👍

[2022-05-04 08:46] srenatus commented on #4653
OK I've realised on constraint given our current approach to parsing rules from expressions (it's some parser intricacy taken as a given for now) -- when we currently write
[code]
we define a _partial object rule_ `data.p.foo` which contains the key "bar" with value 12. (Only one dot. Multiple dots aren't allowed.)

I wasn't aware that this is allowed input, i.e. `foo.bar` is treated as `foo["bar"

[2022-05-04 08:47] wermerb commented on #4646
@srenatus no worries happy to help :).

For testing I'm using the `opa test ` command.

- Is the TCP connection still happening?
    - _Yes unfortunately it is_
-  Is the overall execution still slow?
    - _Yes_

To help the investigation, I'll create and attach the procmon logs for the v0.38.0 and v0.40.0 maybe you'll find something other interesting point in it.

[2022-05-04 09:00] srenatus commented on #4646
Ah, ok. So that doesn't instantiate the runtime, so my suspicion was wrong. Well, that's progress, too. 🙃

Thank you! Looking forward to 🔍 them.

[2022-05-04 11:57] johanneslarsson opened #4659 "default behaviour should be to throw away decision logs instead of running OOM if its unable to send the decision logs"
After a discussion on Slack I realised that OPA would end up in a OOM, if its unable to push its decision logs to the control plane.
https://openpolicyagent.slack.com/archives/CBR63TK2A/p1651663584624969. I haven't verified this is the case yet.

## What part of OPA would you like to see improved?
`decision_logs.reporting.buffer_size_limit_bytes` should probably have default value that suits the s

[2022-05-04 11:59] srenatus commented on #4659
We should try to do that. 🔍 I'd imagine an infinite loop that queries, queries, queries, while having the decision logger configured to send to a port without a service, should trigger this...?

[2022-05-04 12:09] anderseknert commented on #4659
Hey Johannes 👋😃

Optimizing the value for minimal resource allocation sounds a bit risky to me — I would not want OPA to discard decisons if it's using like 10% of the memory I've allocated for the process. In an ideal scenario you'd be able to do something like:

[code]

But I'm guessing there's no reliable way of doing that.

An alternative could be to dump logs to disk if possible: https://gith

[2022-05-04 19:15] wermerb commented on #4646
One more thing that is changed is the Go version, i dont know whether it has anything to do with it or not:

- v0.38.1: go1.17.8
- v0.40.0: go1.18.1

Here are the procmon logs:
[v0.38.1.CSV](https://github.com/open-policy-agent/opa/files/8626461/v0.38.1.CSV)
[v0.40.0.CSV](https://github.com/open-policy-agent/opa/files/8626462/v0.40.0.CSV)

[2022-05-05 13:52] sidpremkumar commented on #3219
Hate to bring this thread back, but it looks like there are issues pushing the data to AWS, I've contacted AWS support as I thought it might be an issue on their end, but they got back to me with this:
[code]

I can try to help in anyway I can ,but @anderseknert would you happen to know if this is an issue you are aware of?

The coverage is always being reported as 100% in AWS (even when manually

[2022-05-05 17:57] muralisrini opened #4663 "use after free vulnerability in imported wasmtime mod"
## Short description
Dependency scanners detect  vulnerability in imported `github.com/bytecodealliance/wasmtime-go v0.35.0` . Upgrading to v0.36.0 should fix it according to https://nvd.nist.gov/vuln/detail/CVE-2022-24791

[2022-05-05 18:01] srenatus commented on #4663
Thanks for reporting! That version bump is work in progress, see https://github.com/open-policy-agent/opa/pull/4652.

However, we haven't expedited it because the vulnerability in question can't be hit with our usage of the code. We don't use externrefs etc.

[2022-05-05 18:16] srenatus opened #4664 "docs: wasm section looks odd"
<img width="1553" alt="image" src="https://user-images.githubusercontent.com/870638/166987404-5b9d4094-94b2-49ac-9d21-24d5b64e7640.png">

[2022-05-05 21:13] anderseknert opened #4665 "strict mode: fail on duplicate set elements"
Saw this rule in the [clj-kondo](https://github.com/clj-kondo/clj-kondo/blob/master/doc/linters.md#duplicate-set-key) linter, and I think it would be a good addition to our strict mode. Having duplicate elements in sets is probably always a mistake in a production policy, and while it's "harmless", the intent is likely to provide another element rather than the duplicate, leading to an unexpected

[2022-05-06 09:11] anderseknert opened #4666 "graph.reachable_paths: branching does not work in subpaths"
While playing around with `graph.reachable_paths`, I noticed that traversing into "neighbors" only seems to work for the root node, not neighboring nodes encountered along the way. The below example correctly branches off att the `ceo` node (which is where we begin the search for paths), creating one subpath for `human_resources` and `secret_services`. The `secret_services` node however contains t

[2022-05-06 09:28] srenatus opened #4667 "website/ecosystem: link to tile"
Right now, I cannot have a link that corresponds to a modal on the ecosystem page. I.e. if I want to link to the Spring tile, I'm unable to.

Ideally, this would work:

1. Go to https://www.openpolicyagent.org/docs/latest/ecosystem/
2. Click on something, say, "Envoy",
3. Copy the URL bar content, share it with someone
4. Someone else pastes the URL bar content, and ends up on the same page.

This

[2022-05-06 14:55] rmetcalf9 commented on #3749
Will this mean we can add the aws_access_key_id and aws_secret to the params and have http send sign the request as required by the aws API?

[2022-05-06 19:46] TweeZz opened #4670 "Add support to use print with a log level of choice."
## What part of OPA would you like to see improved?
Currently, using 'print' uses the log 'info' log level.
We would like to be able to specify at which level a print statement should log.

## Describe the ideal solution
I'm fairly new to opa. Therefore it's a bit hard to suggest how this could look like.
My intuitive suggestion would be:
`print.info("This is an info log entry")`
`print.error("Thi

[2022-05-09 07:30] rmetcalf9 opened #4671 "Shell execute as part of policy evaluation"
We have the need to call the aws sdk for various reasons as part of policy evaluation.
One example is retrieving a secret value. We have explored retrieving secrets as part of the opa-agent container boot up and passing to opa as environment variables but the problem is that from time to time the secrets are rotated. This means that unless we restart all our containers opa will stop working.

Call

[2022-05-09 08:10] anderseknert commented on #4671
Thanks for submitting this! Some thoughts:

Hopefully https://github.com/open-policy-agent/opa/issues/3749 would handle most of the details around that? Been a while since I looked into that though — is there some parts which would be difficult to have implemented as part of the `http.send` built-in?

I'd be very cautious about a built-in to call arbitrary shell commands. We've previously have had

[2022-05-09 08:17] srenatus commented on #4671
Relevant #3631.

[2022-05-09 09:25] anderseknert commented on #4670
Hi @TweeZz 👋 And thanks for submitting this.

That the `print` function uses the logging system when OPA is started as a server should not be taken to mean that the `print` function should be used _as_ a logger. `print` is solely meant to be a tool to help with debugging, and if you run OPA at `--log-level error` — which is the recommended level for production — print statements are even _erased_

[2022-05-09 09:30] anderseknert commented on #3749
@rmetcalf9 I believe so, yes.

[2022-05-09 09:34] rmetcalf9 commented on #4671
I was researching doing the signing of requests for AWS by implementing in python (rather than using the sdk).
I started following this doc https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html to implement it but I have since realised that this process is for s3. I guess it will be the same for other AWS api's such as secretsmanager but there is no guarantee.
Also any impl

[2022-05-09 09:37] anderseknert commented on #3219
Hi @sidpremkumar ! That's interesting - the JSON provided seems to be exactly what the project [recommends](https://github.com/simplecov-ruby/simplecov#json-formatter) for JSON output for SimpleCov.

If you could provide me with an example of a file that they'd accept, I'd be happy to help create an output transformer for that.

[2022-05-09 09:44] anderseknert commented on #4671
Yeah, that's probably how I'd do it too, at least until request signing works in [http.send](url). I'm not sure about the environment you'd run this in, but for Kubernetes it would just be another sidecar container. Containers running in the same pod will always run on the same host, and will be reachable on the localhost interface.

[2022-05-09 09:47] anderseknert commented on #4671
I've asked in the OPA #development Slack channel for interest in tackling the AWS request signing issue. Hopefully someone steps up to the challenge :)

[2022-05-09 11:06] srenatus commented on #2028
Done in 0.40.0.

[2022-05-09 11:06] #2028 closed

[2022-05-09 11:26] srenatus commented on #4646
Thanks! I'm having a look and try to find anything suspicious... I'm not an expert on windows, though 😓

[2022-05-09 11:46] srenatus commented on #4646
So it seems like the procmon csv captures the time it takes to run `opa help`:

[code]
☝️ While I'lm not certain how to read those time stamps, it's `06:47.5-06:47.6` for 0.38.1 and `54:30.4-54:31.9` -- so there's significantly more time spent that those logs cover. That's good, we've got the right measurement (I hadn't seen that time spent in the golang traces from above).

Looking at the event c

[2022-05-09 12:17] jsrz commented on #4591
@srenatus, just to be clear,works on Arm would allow for use to run and maintain the runners for more than just a one time thing.

[2022-05-09 12:40] srenatus commented on #4591
@jsrz sorry if my statement wasn't worded properly -- I think I understand that the works-on-arm stuff would give us shell access to some Arm hardware, and it would be our task to set that up as a github actions runner. By "not a one time thing" I was referring to the work involved in maintaining that setup. That won't be a do-and-forget kind of thing, there are going to be updates to do, etc. Am

[2022-05-09 12:40] sidpremkumar commented on #3219
Following the instructions that they sent:
* Clone this repo: https://github.com/codecov/example-ruby
* Run `bundle exec rake`
The coverage file it generated was:
[code]

But to be honest, I've spent a bit comparing that with yours and I can't seem to find much of a difference. This is the output of the script that you created:
[code]

[2022-05-09 12:42] srenatus commented on #4646
@wermerb I've compared the 0.40.0 binary, and 0.38.1's, using `objdump -x`. The 0.40.0 requires quite a few things that 0.38.1 doesn't seem to need; and I'm still trying to understand where that comes from. There's another test I'd like to run with you, if you can spare the time:

Using the binaries [from this build](https://github.com/open-policy-agent/opa/actions/runs/2294094730), do we
1. get t

[2022-05-09 12:52] anderseknert opened #4672 "rego_parse_error with unexpected / confusing message and location"
If you can spot the error in the below function — good eyes! In fact, even the Rego parser fails to identify the location here, which is the call to `time.diff` and the incorrect parens used on the next last line.
[code]

The error message reported from this however is:
[code]
Full playground example here: https://play.openpolicyagent.org/p/IeLICFb2TD

[2022-05-09 12:57] srenatus commented on #4671
As another approach, you could create a little sidecar process or script that fetches your secret and feeds it into OPA's data API. It's a bit hacky, but not too bad, I'd think... 🤔

[2022-05-09 13:03] jsrz commented on #4591
@srenatus got, I understand. You are not mistaken, it would certainly need maintenance.

[2022-05-09 13:07] anderseknert commented on #3219
If that's the only difference, you should be able to modify the transformer policy to something like:
[code]
Let me know if they'll accept that :)

[2022-05-09 20:01] Octogonapus opened #4673 "unable to parse input: yaml: control characters are not allowed"
## Short description

I encountered this error when running OPA with a Terraform plan (simplified to `/tmp/test.json`) as input:
[code]

It's worth noting that the Terraform plan contains binary data, which seems to be confusing the parser.

[code]

## Steps To Reproduce

`/tmp/test.json`:
[code]

Also since that's not renderable, here's the hex version of `/tmp/test.json`:
[code]

`/tmp/policy.re

[2022-05-10 08:29] srenatus commented on #4673
🤔 From the yaml lib, it looks like your input is outside the allowed range. It's not like all weird characters were forbidden, but yours seem to be:

https://github.com/open-policy-agent/opa/blob/v0.40.0/vendor/gopkg.in/yaml.v3/readerc.go#L364-L381

Usually, binary data in json files is encoded in some way... can you share your terraform plan json? 🔍

[2022-05-10 08:46] #4663 closed

[2022-05-10 10:15] wermerb commented on #4646
@srenatus Thanks for the update.
I have tested the new binary its a bit faster now and no TCP connections are happening, but still slower than the 0.38.1
[Logfile.CSV](https://github.com/open-policy-agent/opa/files/8660621/Logfile.CSV)

[2022-05-10 11:10] srenatus commented on #4080
[code]

Yay or nay? I think yay. Let's do this.

For context, in some WIP I'm adding names to the function arguments and return values -- I have not taken on the extra desirables about version (wasm) support yet.

[2022-05-10 12:47] anderseknert commented on #4080
Definitely yay!

[2022-05-10 13:31] philipaconrad commented on #1802
@tsandall @srenatus After looking at the code for the [k8s quantity parser][k8s-quantity] and what the existing `units.parse_bytes` builtin already supports, it looks like that for k8s memory allocations, we don't need to do anything special.

The one wrinkle is with k8s CPU resources, since you are allowed to [partition them down to units of milliCPUs][k8s-cpu-units], so we end up needing to supp

[2022-05-10 14:02] anderseknert commented on #4673
Interesting case :) Looks like `yq` has the same complaint:

[code]

While `jq` does not, suggesting it's valid JSON but not valid YAML... which I wasn't aware of as being possible.

From the godoc on the conversion function:

[code]
I guess not then 😄

[2022-05-11 07:56] pramodak opened #4678 "unknown flag: --tls-ca-cert-path"
Documentation of OPA security mentions "--tls-ca-cert-path"

## Short description
Documentation of OPA security mentions "--tls-ca-cert-path", but I think, it should be "--tls-ca-cert-file"

## Steps To Reproduce
Go to https://www.openpolicyagent.org/docs/latest/security/
Search for --tls-ca-cert-path

Also, when we try to use --tls-ca-cert-path while starting an OPA server, we see the usage displ

[2022-05-11 08:45] srenatus commented on #4678
Thanks for reporting. This would be a great first contribution! Would you be up to giving this a try?

[2022-05-11 09:37] pramodak commented on #4678
Sure, I will check https://www.openpolicyagent.org/docs/edge/contrib-docs/ and contribute this change as a pull request.

[2022-05-11 14:24] srenatus commented on #4663
0.41.0 will happen around the end of the month

[2022-05-11 14:38] srenatus commented on #4663
We could do a patch release if it's really urgent. But since the code related to the vulnerability isn't used, I'm inclined to not do any special treatment for this. WDYT?

[2022-05-11 18:44] Vighi88 opened #4679 "Request Suggestion to know the feasibility of evaluation of rules for the given input"
Dear All,

Im new to OPA and i have below list of scenario's to evaluate for the given input data

Given that the input data will be Arraylist of object. eg : {"input" : [{"name":"n/a", "age": 25, "Country":"Poland"},{"name":"Raja", "age": 35, "Country":"Ireland"}, {"name":"David", "age": , "Country":"Australia"}] }

1.  Rule 1  - Iterate the list input and validate whether all the key is present,

[2022-05-11 21:11] bleggett opened #4680 "OCI auth: Pulling OCI policybundles from Amazon ECR private repos fails with 401 Unauthorized"
## Short description

OCI registry auth is not working in OPA's downloader with Amazon ECR, even though it works with `policy` CLI tool (and `ghcr.io`) as documented.

- I've got a private OCI registry created in Amazon ECR.
- I can `login`/`push`/`pull` to this private registry just fine with the `policy` CLI tool as [described here](https://github.com/open-policy-agent/opa/blob/v0.40.0/docs/deve

[2022-05-11 21:54] bleggett commented on #4680
Should note that `ghcr.io` auth works fine with just

[code]

but ECR doesn't seem happy with the same approach, for some reason.

[2022-05-12 03:38] Vighi88 commented on #4679
Hi @anderseknert ,

Thanks a lot . It really helps.

I will play around with partial rule . Thanks for sharing it

[2022-05-12 05:26] #4576 closed

[2022-05-12 07:30] srenatus commented on #4680
Thanks for the report. I, too, have only tested this feature preview with ghcr.io 🤔 @carabasdaniel do you have any idea what might be going on here?

[2022-05-12 08:57] TweeZz commented on #4670
Hi..

Thanks for your feedback.
We already have [local decision logs](https://www.openpolicyagent.org/docs/latest/management-decision-logs/#local-decision-logs) enabled. On all our environments, we can dig into those.
Yes, error is the recommended level to use on production. But there are situations where you need to (temporarily) change that to 'info' or even to 'debug' in order to investigate an

[2022-05-12 11:15] srenatus commented on #4680
💭 Or maybe @mhausenblas has an idea about how ECR could differ from other OCI registries...?

[2022-05-12 11:46] mhausenblas commented on #4680
I do not have any additional insights to offer I'm afraid but hoping my colleague @jlbutler might?

[2022-05-12 13:45] Vighi88 opened #4683 "How to use Schema feature via REST API to perform Type Checking?"
Dear All ,

I have a requirement to validate all the the input data's datatype and return false if the datatype is different from the expected datatype.

I have gone through the OPA documentation and found that the Schema feature will help in this case . However , i could see commands like " opa eval --format pretty data.example.public_server -i opa-example/input.json -d opa-example/example.rego -

[2022-05-12 17:06] srenatus commented on #4683
https://github.com/open-policy-agent/opa/issues/3341 like this? It's not supported right now.

[2022-05-12 17:47] Vighi88 commented on #4683
Yeah exactly the same . Thanks for letting me know

[2022-05-12 18:30] #4673 closed

[2022-05-12 18:31] srenatus commented on #4683
OK I'll close this as duplicate then. :+1: Please watch out for the other issue, #3341.

[2022-05-12 18:31] #4683 closed

[2022-05-12 19:08] Vighi88 commented on #4683
Sure .👍 Between do we any workaround for type check?

[2022-05-12 19:17] anderseknert commented on #4670
Hey again! 😃

{"decision-id":"5aca73ce-a437-4dec-8a24-e287f7566f69","level":"info","msg":"./policies.rego:218: some useful log entry here","time":"2022-05-12T08:15:29Z"}

That is not a decision log entry, but the standard logger output from a `print` call. A decision log entry provides:

1. The full input provided for query evaluation.
2. The result.
3. Revision of the bundles loaded into OPA (if

[2022-05-12 19:33] anderseknert commented on #4683
Types will commonly be checked implictly in the conditions building the rules of your policy. A simple condition like e.g.
[code]
will only ever match if "admin" is a string value contained in the user roles. If there are other values in there of some other type does not really matter. I think there are cases where type checking at runtime could be useful, but I'm no longer sure it should be made

[2022-05-13 07:44] Vighi88 commented on #4679
Point 1, 2 and 5 has been addressed with below rego policy

package play

import future.keywords.in
import data.requiredheaders
import future.keywords.every

default completenesscheck=false
default exactnesscheck=false
default rowcountcheck=false

#Null Check- Rule2
completenesscheck_result[message] {
    headers := input[_]
    some key, val in headers
    val == " "
    message := sprintf("The v

[2022-05-13 07:49] Vighi88 commented on #4679
For Rule 3 Iterate the list input and validate whether the keys are in the same order . For example , the order should be 'name, age, country' suppose if any of the object in the list has the order changed something like 'country , name , age' then return false with reason (Please advise with example , whether it is possible with OPA )

I tried below but there is no way to identify the index of th

[2022-05-13 08:11] anderseknert commented on #4679
Objects are not ordered collections:
[code]

[2022-05-13 08:15] Vighi88 commented on #4679
Yes , i agree but while iterating using 'some key, _in headers' im getting the keys in the same order in which the input is given .

Please correct me if my understanding is wrong .

[2022-05-13 08:19] Vighi88 opened #4685 "Arithmetic Operation on variable or overwrite the value of variable | x = x+1 | x= sum(x+1)"
Dear All,

I have a requirement to check the order of the input keys with the order of the data available in data.json

example:
{"input" : [{"name":"Daniel", "age":23, "gender":"male","location":"Switzerland"},{"name":"Moorthy", "age":43, "location":"Switzerland","gender":"male"}] }

data.json {"orderofheader": ["name","age","gender","location"]}

In this example the order of keys in the 2nd obje

[2022-05-13 08:20] Vighi88 commented on #4679
The place where im stuck is at below point

i:=0
i=i+1 ---------> In this line im not able to overwrite the already defined value of i from 0 to any other

[2022-05-13 08:29] anderseknert commented on #4679
Since you are working with an unordered collection type, iteration order can't be taken for granted. You can't require ordering for something which isn't ordered. Same thing with e.g. sets.

[2022-05-13 08:41] #4637 closed

[2022-05-13 11:31] #4678 closed

[2022-05-13 13:00] ievgenii-shepeliuk opened #4687 "Add B3 and Jaeger context propagators to the OPA distributed tracing."
## What part of OPA would you like to see improved?
Distributed tracing support.

Currently OPA distributed tracing supports only W3C context propagation header `traceparent`  that is standard in Open Telemetry specification.,

So OPA instance creates/reports spans that use traceid and parent span values from `traceparent` header.
But OTEL spec and W3C standard is still not completely supported ev

[2022-05-13 18:46] suneelkumarch commented on #4277
tagging myself here, as I am also looking for an option to configure command flags through environment variables, esp. `--log-level`

@anderseknert  just curious, any update or workaround?

@marcaurele

[2022-05-13 19:02] humbertoc-silva commented on #4656
I found another problem related to Discovery API. Environment variable substitution does not work on the discovered configuration as noticed in the logs below:

[code]

[2022-05-13 19:20] Vighi88 commented on #4679
Update on the points .

Point 4 (datatype validation) has been addressed as below . Also Point 5 to get overall result as false has been handled in my API service layer

package datatype

import data.numbertypeheaders
import data.stringtypeheaders
import data.booleantypeheaders

default datatype_check=false

datattype_check_result[message] {
    header := numbertypeheaders[_] #Here we need to have

[2022-05-13 19:26] Vighi88 commented on #4679
For point 6

i have kept each policy into one rego file . For example: datatypecheck.rego , headercheck.rego, headercountcheck.rego

When i keep all policies in one rego and executes, i get the result as below

{
    "result": {
       "datatype": {
            "datattype_check_result": [
                "The input value is not a number for the column/header 'count'",
                "The input va

[2022-05-14 00:52] ekcs opened #4688 "Strict-mode to phase-out the "single =" operator"
## What part of OPA would you like to see improved?

Newcomers to OPA have almost universally find the distinction between `=`, `:=`, and `==` confusing.
Even for experienced users, `=` is error-prone and difficult to maintain because a variable being bound in the containing scope can unintentionally change the meaning of a condition. It quietly behaves differently depending on whether a variable

[2022-05-14 04:41] Vighi88 commented on #4679
I have got the Categorization requirement worked with minor tweaks.

Thanks all for your support

[2022-05-14 04:41] #4679 closed

[2022-05-14 10:58] srenatus commented on #4688
Thanks for taking the time to think about this, and how to improve the current situation.

I'd be down to improving the documentation to move the discussion of the `=` operator for _explicit unification_ into some "advanced" section.

However, I'm sceptic about removing it. For one thing, unification is omnipresent, and having an explicit way to do it seems necessary to me.

I wouldn't blame the o

[2022-05-14 18:05] anderseknert commented on #4277
No update or workaround here that I'm aware of @suneelkumarch. If you'd like to work on this, that'd be much welcome :)

[2022-05-14 19:39] anderseknert commented on #4688
Thanks for submitting this, Eric! It's been a rather frequent topic for discussion in recent times, with suggestions for both `opa check --strict` and `opa fmt` to better deal with this.

As for the examples above, rewritten versions without unification are IMHO not less comprehensible, but possibly more so.
[code]
[code]
The latter has the additonal benefit of strict mode flagging `year` and `day

[2022-05-14 19:54] anderseknert commented on #1263
@RafalMaleska using later version of OPA (and I think, the latest version of Gatekeeper, since that seems to be used here), you could just use `in` to check for membership:

[code]

[2022-05-15 08:51] srenatus commented on #4688
Nit: Without explicit unification. The snippet surely unifies `i` and `j` with different indices of `mydata`. 🙃

I don't think the docs should tell you _why it's great_ -- and I'm not claiming that you can't be effective with the `:=` and `==` subset of Rego.

But I do think that the individual author's background and experience matters when they approach Rego. Anyone with a logic programming back

[2022-05-15 14:42] oren-zohar commented on #4508
also `--fail` and `--list` please!

[2022-05-15 17:40] mmzeeman opened #4689 "docs: Include part of grammar is incorrect"
## Include part of grammar is wrong

https://www.openpolicyagent.org/docs/latest/policy-reference/#grammar

Defines import rules as:

[code]

Which means that include rules should look like this:

[code]

But in practice the `package` part is always omitted.

Should the import rule be `import = "import" ref [ "as" var ]` instead?

[2022-05-15 18:29] srenatus commented on #4689
There's no such thing as `import package data.foo`. I think the grammar is just wrong. Would you be up to fixing it in a PR? Your suggestion seems alright 👍

[2022-05-15 19:03] #4689 closed

[2022-05-15 19:58] mmzeeman opened #4691 "docs: Grammar definition does not allow assignment or unification in query"
## Grammar definition does not allow assignment nor unification in query.

https://www.openpolicyagent.org/docs/latest/policy-reference/#grammar

Definition for query makes it impossible to add the assignment rule to the `query` production rules do not include assignment operators (`:=`), or unification (`=`) which you also commonly see in the query part of the rule body.

This makes it impossible

[2022-05-15 20:05] mmzeeman opened #4692 "docs: Grammar rule for ref includes too many things."
## Grammar rule for ref includes way too many things.

The grammar rule for refs is:

[code]

I don't know rego that well, but I don't think you want to be able to use array comprehensions as package ref or imports.

I'm not sure how to fix this. In the examples I only see `var { "." var }`.

[2022-05-16 01:48] alkdese opened #4693 "Example on Katakoda seems pretty old and doesn't work"
Wanted to understand how OPA works with k8s and the example reference on page https://www.openpolicyagent.org/docs/latest/kubernetes-introduction/ to
https://katacoda.com/austinheiman/scenarios/open-policy-agent-gatekeeper
uses 1.14 k8s and weave network plugin doesn't start correctly.
The controlplane node never gets into Ready state.

[code]

Network configuration

[code]

[2022-05-16 05:35] anderseknert commented on #4693
Thanks for reporting! That does seem rather old and outdated — not to mention that it requires registration to even read. Probably best to just remove, or what do you think?

[2022-05-16 05:54] anderseknert commented on #4688
Right, `=` is what's suggested for phase-out here. I'm not sure the equivalent `some i, k` construct would provide comprehension indexing, but if does, sure — that would have been preferable.

Why not? I can't think of anything that would work better to drive home an idea, especially not one new to most readers.

Yep, that's where we'd need to start. But unless there's a compelling case for `=`, a

[2022-05-16 09:32] anderseknert commented on #4688
Agreed. A Rego Style Guide is in the making :) And while we might not realistically remove `=` from the language, I think the [proposed linter](https://github.com/open-policy-agent/opa/issues/3218) would be a good place to flag its use. We'd have more freedom in our recommendations in that context, and would not be limited to features bound for removal at some point, like strict mode currently tar

[2022-05-16 09:32] carabasdaniel commented on #4680
I'll have a look, I think it might be just a configuration issue, but I'll try it out.

[2022-05-16 11:35] srenatus commented on #4692
I think there'are two things going on here: I think it's true that a ref can contain a comprehension, see this:

[code]
👇
[code]

But it's also true that you cannot use them in `package` definitions. However, there's more to `package` than `var { "." var }`, e.g.
[code]

I don't think the grammar is meant to capture only valid programs.  However, I think we'd do well if programs that match the gra

[2022-05-16 11:40] srenatus commented on #4691
This is the root of the problem here -- _that grammar_ is a dead weight in our docs. It doesn't get used or tested well. I'm not aware of any such grammar, however. 😞

Now to your issue, isn't unification covered by
[code]
? But I'm quite certain we're missing a rule for `:=`. Perhaps this would do the trick? 👇

[code]

[2022-05-16 11:54] anderseknert commented on #4691
Not the same, but there's at least [this](https://github.com/open-policy-agent/opa-idea-plugin/tree/master/src/main/grammar) grammar being used in a real project, if that helps.

[2022-05-16 12:03] mmzeeman commented on #4691
I don't think so. That means that you will then always have to include a infix-operator and another term in an assignment. Which is just weird.

In the old peg grammar it was defined as:

[code]

The expr-literal seems to be missing from the ebnf grammer in the documentation.

I was simply looking for a grammer I could use for an internal test. (Tight integration of rego into a non-go system)

[2022-05-16 12:04] mmzeeman commented on #4691
That grammar has an obvious error in the import rule.

[2022-05-16 13:05] anderseknert commented on #4691
That grammar is used in the IDEA editor plugin for Rego, so any possible mistake (and I'm sure they exist!) should be easy to test just by writing a snippet of code in that editor with the plugin activated. Issues / PRs for that are generally dealt with quickly by @vgramer .

Yeah, that could be an idea (no pun intended!)... although I'm not sure that's really where most newbies go to learn about

[2022-05-16 16:45] imjasonh commented on #2152
Even ignoring vendored dependencies, there are quite a lot of direct dependencies on pkg/errors in the codebase:

[code]

If there's interest in cleaning these up I can send a PR.

[2022-05-16 18:24] srenatus commented on #4691
💯 Not sure if everyone is actually starting with the grammar, but I'm sure some folks are. And having a grammar that's a living, breathing artifact is much preferable -- it'll also make sure that we update it as needed (e.g. by #4660).

Let's do that. Scratch the EBNF we have right now and instead link to the idea plugin grammar; or copy a section of it into OPAs docs. (We could even include railw

[2022-05-16 18:40] srenatus commented on #2152
@imjasonh Thanks a bunch! I've got the (not so) secret mission of running the _compiler_ and maybe even the _evaluator_ in Wasm via tinygo; removing this package from our code will go a long way towards that. The compiler should have little external dependencies; the evaluator might have a few (due to builtin functions... of which we could also not support a few when running under Wasm)

[2022-05-16 18:47] srenatus opened #4697 "build(deps): bump github.com/prometheus/client_golang to v1.12.2"
https://github.com/prometheus/client_golang/releases/tag/v1.12.2

☝️ brings a few changes we should carefully integrate. Looks like I've made dependabot ignore this version, though; for reasons I can't quite remember:

[code]

See also #4324 and #4319.

[2022-05-17 07:04] lenalebt opened #4699 "JWKS Uri containing an encryption key (besides signature keys) will fail io.jwt.decode_verify"
## Short description
We use Keycloak, and it was configured to also have an encryption key exposed on the JWKS URI, using an algorithm that OPA does not support. OPA fails, but you cannot easily see that if you do not use the `--strict-builtin-errors` flag, which is not set on the Rego playground at https://play.openpolicyagent.org/.

OPA should ignore keys it does not support instead of failing,

[2022-05-17 07:16] srenatus commented on #4699
Thanks for bringing that up! We've been discussing a revamp of some of the playground before, since there are a few controls to expose: strict mode, coverage, strict builtin errors; and adding further buttons makes the UI too convoluted, so some sort of ⚙️-menu with all the knobs would be useful...hoping this may happen sometime 🤞

However, defaulting to strict builtin errors is a more debatable t

[2022-05-17 09:17] carabasdaniel commented on #4680
Hello all,
I've tested with AWS ECR on a private image pushed and the problem seems to be in the configuration as the token is base64 encoded by the OCI Downloader and it needs to be provided as `<username>:<password>` when the bearer scheme is set to basic.

To get the login information you can use the `aws ecr get-login` command and set the configuration for the service based on the output of th

[2022-05-17 10:21] anderseknert commented on #4680
Good find @carabasdaniel 👍 If that's it, we should have it added to the docs 😃

[2022-05-17 10:50] lenalebt commented on #4699
Yeah, tbh I'm not sure about the details of how it behaves differently if you provide `--strict-builtin-errors` - it's just that with the current setup, OPA just stops working and it really is not easy to find out what happens underneath. The playground also does not let me do HTTP calls for example, so I think it behaves differently anyways to the server, and it usually is humans looking for guid

[2022-05-17 12:08] srenatus commented on #4699
Nope you can't cache the intermediate result there... but having less to do when re-calculating it for evert policy eval will be better 😅 And yes, updating those docs would be a good call.

Of course you could use `jwks` from `data` and have some other recurring process keep that part of OPA's storage up-to-date using the Data API. When it would only ever have what you need. But I don't think the

[2022-05-17 22:22] bleggett commented on #4680
Aha! That makes sense. I actually set scheme and base64-encoded a `<username>:<password>` string as the token, but missed that you have to pass it as plaintext and let the downloader internally do the b64 encoding.

Thanks!

[2022-05-18 03:07] ekcs commented on #4688
Thank you Stephan and Anders for the discussion! Yes, I would love to see a general linter guidance to warn against any unbound variable introduced without declaration. I'll suggest this in the draft style guide, Anders.

Examples:
[code]

[code]

[code]

This kind of warning I think would fix the biggest pitfall with `=`. Of course it's not specific to `=`, but really any construct that allows in

[2022-05-18 04:22] ekcs commented on #4688
@srenatus Agreed that the operator is not to blame. A linting rule I suggest in comment above would help avoid this pitfall but still allow the example you show.

Thank you for explaining your point of view! I do see what you are saying and understand there is no desire to collapse the three operators into two.

Just for completeness, I'll elaborate a different perspective a bit more. Consider the

[2022-05-18 08:38] lenalebt commented on #4699
Just an update for anybody reading this thread in the future, trying what I tried: The parameter to force json evaluation is named `force_json_decode`, not `force_json`, took me a while to see that THIS was the problem :-).

[2022-05-18 09:00] srenatus commented on #4699
Ugh sorry about that. 🤦

[2022-05-18 13:22] salrashid123 commented on #4417
@chicco785 , @ashutosh-narkar  is it possile to post a snippet of the rego and the envoy version you're using?

i've been trying to get opa+envoy to return a header:

in my caase, i'm using a standalone envoy  (not istio or gloo) which enlists an external authz server which is opa

envoy -> opa
[code]

the opa rego i have makes an external call like this to retrieve some data and inject it back to

[2022-05-18 18:03] lenalebt commented on #4699
No problem, let's simply say that there is more room for better error reporting also in that area :-). Still, thanks a lot for helping me over here, it brought it forward and I learned a few new things :-)

[2022-05-18 18:11] srenatus commented on #4699
Glad you're unstuck. However, there are a few things to improve mentioned in your original issue, and the comments. So let's keep this open for tracking.

[2022-05-18 20:27] alizand1992 opened #4700 "Allow pattern matching in setting the snapshot and delta bundle resource in configure"
## What part of OPA would you like to see improved?
Delta Bundle functionality

Allow pattern matching in setting the snapshot and delta bundle resource in configuration so that there can be separate resource files for each.

Use Case:
In cases with no bundle service where S3 is being used to serve the snapshot and delta bundles. Currently Delta bundles have the same name as the snapshot bundle re

[2022-05-18 23:16] salrashid123 commented on #4417
thanks.

the docs are super confusing to me and i think they'r emissing some ciritical bits.

they show  the output allow decision based on any number of the inputs provided to it by envoy which works but   the critical bit is the link you've provided where it stipulates the output must be in a specific format as a single document in the output.

specifically, i read it that you must have a docume

[2022-05-19 02:40] ashutosh-narkar commented on #4700
The idea here is that when OPA initially starts the bundle server sends a snapshot and they deltas for the next updates. The server would be responsible for maintaining the order of snapshot/delta deliveries. Adding pattern matching in the OPA config won't help. You will have to implement the server code that returns the "right" bundle whenever OPA reaches out.

You would need to build a service t

[2022-05-19 10:17] anderseknert commented on #4518
Can we close this and create follow-up issues for new features on top of what's there now?

[2022-05-19 14:03] TweeZz commented on #4670
Hey..

We are required by our Product & Solution Security Expert to mask out certain parts of the input. One of those being /input/attributes/request/http/headers as we do not want to full encoded token to be logged. We would however like to log certain things of the token we decode in our policy.

That is exactly our case. We have quite a few `http.send` usages in our policy as we heavily rely on

[2022-05-19 16:23] alizand1992 commented on #4700
A little more context on what is going on:
We are currently using a single bundle that gets refreshed on an interval. We are using S3 to serve the bundle as it gets refreshed and we do not have a Bundle Service. S3 does not have a functionality to serve the "right" bundle based on the OPAs status; however, the 5 9s availability provided out of the box by S3 is very crucial to our application. Addi

[2022-05-19 17:34] philipaconrad commented on #4672
I'd be interested in working on this issue and a few others like it once I clear out more of my work backlog. Better error reporting is always useful!

[2022-05-19 18:33] anderseknert commented on #4670
Sure.. that sounds like [decision log masking](https://www.openpolicyagent.org/docs/latest/management-decision-logs/#masking-sensitive-data), no? :)

[This](https://github.com/open-policy-agent/opa/issues/1514) is probably what you'd want then.

I'd still decision logging should cover that, but if you could provide an example where it wouldn't, that would be useful!

Yeah, leaving this open for a

[2022-05-20 05:13] GeauxEric commented on #4665
According to https://www.openpolicyagent.org/docs/edge/strict/, `strict` mode only belongs to the `check` command.
To really enable checking duplicate values, the flag needs to be passed all the way to the [ParserOptions](https://github.com/open-policy-agent/opa/blob/main/ast/parser.go#L97)?

[2022-05-20 07:24] anderseknert commented on #4700
I can see the appeal in a solution like this, as it would allow any "dumb" server to serve delta bundles.

I think a problem with this would be that a new OPA client connecting would need to download both the snapshot bundle and _all_ delta bundles produced since the snapshot was created... this could potentially be thousands of bundle files if running for a long time. Eventually, that would be mu

[2022-05-20 09:25] johanfylling commented on #4665
`strict mode` is currently only a compiler feature, and doesn't extend to the parser. Your assessment is however correct @GeauxEric, for this to work, we need to update the parser where the set is created, before duplicate values are dropped. Adding an option to the `ParserOptions` struct is the sensible way forward.

An unfortunate side effect of this is that the SDK will no longer be a single co

[2022-05-20 09:33] anderseknert commented on #4665
If this is a hassle to implement for strict mode, I'd be fine with doing it as part of https://github.com/open-policy-agent/opa/issues/3218 instead.

[2022-05-20 09:38] anderseknert commented on #1055
Closing issue as delta bundles are implemented in OPA. If there's demand to have this extended to policy later, I'd suggest we create a new issue.

[2022-05-20 09:38] #1055 closed

[2022-05-20 09:41] johanfylling commented on #4665
I don't envision the implementation itself being a hassle, but this might be more appropriate as a linter feature, yes.

[2022-05-20 14:43] anderseknert commented on #4597
Closing this. Please let us know if the problem persists!

[2022-05-20 14:43] #4597 closed

[2022-05-20 16:53] anderseknert commented on #4700
Right, so this would require quite some logic in the generator, but fair enough, I suppose :)

During a refresh, the snapshot itself will be via a DB read, the deltas will catch up by pulling events from a kafka topic using the latest DB record timestamp and by starting from the immediate timestamp after the DB timestamp in the kafka topic.

Sounds reasonable to me, but just so I understand correc

[2022-05-23 19:21] mmzeeman commented on #4691
@srenatus I'm doing a bit of research into policy languages, to see if we can integrate it into https://github.com/zotonic/zotonic.

We have a (sort of) build-in RBAC model model, but when projects increase in size we always hit a limit of what it can handle. Not speed, but complexity. In those situations you want to be able to store your access rules in git, and be able to let somebody reviewed t

[2022-05-23 20:00] denkyl08 opened #4704 "Same query evaluated using wasm target is much slower than with rego target"
## Short description

Using opa v0.40.0, I wrote a benchmark in golang to compare execution times when using `wasm` vs `rego` targets.  4 different generated policies were used, but they all have a similar structure which includes a variable number of MatchAnyRule blocks. Each MatchAnyRule rule includes an indexable predicate `input["CLIENT"]["ROLE"] == "client-role-name-{{$i}}"`. The 4 policies o

[2022-05-24 16:05] philipaconrad commented on #4625
I'm collecting some notes on how other programming languages have handled dictionary/hashtable data structures, and we can potentially sample from these to find ideas for different implementations:

Python:
 - [Python 3.6's new dict implementation](https://docs.python.org/3/whatsnew/3.6.html#new-dict-implementation)
    - [Raymond Hettinger's mailing list proposal for the new data structure](https

[2022-05-24 17:09] alizand1992 commented on #4700
@anderseknert  sorry for the late response. That is correct. They both would be all on the bundle generator side and not the OPA. To make all of this work we would need OPA to be able to read a separate snapshot and also read deltas using a pattern and the bundle generator can take care of the rest.

The bundle generator and OPA with single bundle is implemented and live at the moment but the delt

[2022-05-24 21:22] anderseknert commented on #4693
Ah, yes, nothing spells dramatic success like shutting down :) I'll fix.

[2022-05-24 22:18] #4693 closed

[2022-05-25 07:14] anderseknert commented on #4700
Thanks! I could definitely see this as useful.

[2022-05-25 15:09] philipaconrad commented on #4672
I'm adding a close-to-minimal test case to this thread that exercises the same confusing behavior:
[code]
Error message:
[code]

[2022-05-25 18:01] willbeason opened #4708 "Allow for adding objects to storage without round-tripping through JSON"
## What part of OPA would you like to see improved?
Motivating issue: https://github.com/open-policy-agent/gatekeeper/issues/2060

When adding data to the in-memory OPA storage object, `inmem.store.Write` round-trips the incoming object through JSON to ensure the object may be validly added to OPA storage. Adding an object which cannot be serialized to JSON could cause all sorts of misbehaviors wh

[2022-05-25 18:02] willbeason commented on #4708
The benchmark I'm using: https://gist.github.com/willbeason/9c8e2a570baeeee946f9f9c7fd26359e

[2022-05-25 18:41] willbeason commented on #4708
For callers who have objects with a DeepCopy-like method defined, the savings are ~90% instead of ~99% if the caller is not able to guarantee the object will remain unmutated and so need to deep copy the object before calling `inmem.store.Write`:

[code]

(This benchmark is for a function that adds a `.DeepCopy()` to the object added to Rego storage before passing to the modified form of `inmem.st

[2022-05-25 18:46] willbeason commented on #4708
Thinking further a "good enough" solution for us would be to do the round-tripping validation _without_ needing to acquire the write lock on the storage. That would enable both the validation and reduce the time that the lock needs to be held by 99%.

The implementation for that might be more complex, though.

[2022-05-25 19:57] tsandall commented on #1798
There are no plans to implement support for arbitrary key-value stores in OPA right now. Closing this as stale.

[2022-05-25 19:57] #1798 closed

[2022-05-25 20:27] anderseknert commented on #1428
Oh, I had apparently missed to close this. Open API specs for OPA may be found in the [contrib](https://github.com/open-policy-agent/contrib/tree/main/open_api) repo. Thanks @gazconroy for your work on this!

[2022-05-26 16:07] thomasmckay opened #4711 "cherry-pick and release v0.39.1 for gatekeeper"
cherry-pick https://github.com/open-policy-agent/opa/commit/e9d3828db670cbe11129885f37f08cbf04935264 and release v0.39.1

gatekeeper-3.8 relies on opa-0.39, rather than bumping to opa-0.40 in a 3.8.z it would be better to have the fix backported

Thoughts?

[2022-05-26 16:21] friedrichsenm opened #4712 "Creating a signed bundle implicitly signs a .manifest file even when one doesn't exist"
## Short description

When running `opa build` to create a signed bundle against a directory that doesn't include a `.manifest` file, OPA create a signature over a phantom `.manifest` file and you won't be able to load or verify the bundle and will get the error:
`error: load error: bundle example.tar.gz: file(s) [.manifest] specified in bundle signatures but not found in the target bundle`

## St

[2022-05-26 16:58] charlieflowers opened #4713 "Terminus Software has adopted OPA"
### Organization Name

Terminus Software, Inc.

### Organization Website

terminus.com

### Organization Logo (optional)

https://b2s2w3e9.rocketcdn.me/wp-content/uploads/2021/12/Terminus-Logo.svg

### How is your organization using OPA?

Microservice authorization

### Source Code Link (optional)

_No response_

### Want to link blogs or videos? Share them here.

_No response_

### Update entry

[2022-05-26 18:44] srenatus commented on #4708
IIRC we're doing the roundtrip to support feeding arbitrary structs into the storage and having them converted to native golang types (so, a `struct { Foo, Bar string }` becomes a `map[string]interface{}` with keys `"Foo"` and `"Bar"`, unless there are json struct tags). It seemed like a good idea at the time to do it like this.

Another approach to address the problem would be to make `util.Round

[2022-05-26 22:00] tsandall commented on #4711
We'd recommend just updating to v0.40.0. Is there something in v0.40.0 that you're particularly worried about?

[2022-05-26 23:38] thomasmckay commented on #4711
Nothing specific but bumping to a y-stream in the underlying core tech could be perceived as "risky". A y-stream bump to `opa` would be better consumed in a y-stream of `gatekeeper`. In the community meeting there wasn't strong pushback against bumping `opa` but for future reference, should consumers of `opa` not expect cve/bug backports? Is there a doc on the threshold?

[2022-05-27 06:46] dassio commented on #830
I think it comes from the fact that when joining tables, you can name the temporary table anything like `temp_table` , and OPA can't produce a name that exactly matches the `temp_table`

[2022-05-27 09:45] anderseknert commented on #4708
[This ticket](https://github.com/open-policy-agent/opa/issues/3254) is also interesting on the topic of JSON serialization/deserialization performance. Although obviously, nothing beats skipping it in the first place :) Do you have any experience working with that library, @willbeason? Would be interesting to see what difference it makes to the numbers you presented!

[2022-05-27 10:54] anderseknert commented on #4713
Thanks @charlieflowers! I'll have you added to the ADOPTERS.md file :) Could you provide me a link to your web site, and perhaps a few words on how, or in what type of environment, you're using OPA for authorization?

You can see the current entries [here](https://github.com/open-policy-agent/opa/blob/main/ADOPTERS.md).

[2022-05-27 16:32] willbeason commented on #4708
The other side effect you get of round-tripping through JSON is an implicit deepcopy of the entire struct. So if we _only_ round-tripped subfields which were not native JSON types, we would no longer be deepcopying objects put into OPA storage.

(The rest of this exclusively deals with JSON-native types)

My guess is what srenatus@ proposes would have similar performance gains to the DeepCopy. Whe

[2022-05-27 16:34] willbeason commented on #4708
From looking at open PRs and Issues - unfortunately [json-iterator](https://github.com/json-iterator/go) doesn't look like it is actively maintained.

[2022-05-27 16:35] tsandall commented on #4711
If GK can update to 0.40 that's preferable. We don't provide a backport guarantee today--but that's not to say we can't do it, e.g., in this case, if there are specific needs for a v0.39.1 release, we're happy to do it.

[2022-05-27 16:36] tsandall commented on #4711
@ritazh @willbeason is GK 3.8 going to update to v0.40?

[2022-05-27 17:14] willbeason commented on #4708
Confirmed it is ~10x faster to do what @srenatus suggests:

[code]

[2022-05-27 17:26] #4283 closed

[2022-05-27 18:18] willbeason commented on #4711
@tsandall I don't think there's any danger in upgrading GK 3.8 to v0.40 in a patch release. I don't have a good understanding of the need for a v0.39.1 release. If there were a specific reason to not upgrade to v0.40 in a patch release, that would be compelling, but in the absence of anything specific it's hard to justify.

I have a PR out for upgrading (future) GK 3.9 to v0.40: https://github.com

[2022-05-27 19:35] willbeason commented on #4708
With the JSONify deepcopy, it is only 4x faster. It is possible that won't fully resolve our issue so I'll send a follow-up to reduce the time the write-lock is held.

[2022-05-27 20:01] anderseknert commented on #4708
Thanks @willbeason, I had not checked that library since the ticket was created.  Not sure to what extent it matters, unless there's some known issue that would e.g. be different from what we have today. I mean, the JSON library in the stdlib is probably not seeing a ton of updates either. Definitely agree that it would be nicer to see it actively maintained though.

[2022-05-27 21:12] pauly4it opened #4717 "OPA decision masks do not apply correctly to paths containing a character that would be URL encoded"
## Short description

While building a decision mask specifically for Envoy input data which uses a JWT `access_token` URL query param, I noticed that the query param and value show up in 3 places: `input.parsed_query`, `input.attributes.request.http.path`, and `input.attributes.request.http.headers[":path"]`.

I looked into how OPA would handle masking the `input.attributes.request.http.headers["

[2022-05-28 18:55] srenatus commented on #4691
Oh that's cool. I think there are multiple ways to plug OPA into zotonic, depending on your constraints and requirements.

1. HTTP call or `opa eval` shell out -- the simplest approach can go a long way
2. Using Wasm -- `opa build` can create a wasm module that can be used with a minimal shim from any language that has some wasm support libraries. I would think that [wasmtime](https://hexdocs.pm/w

[2022-05-30 09:58] anderseknert commented on #4688
@ekcs I've included recommendations on this in the Rego style guide [here](https://github.com/StyraInc/rego-style-guide#dont-use-unification-operator-for-assignment-or-comparison). I think that's probably the best we can do, given backwards compatibiity concerns, and the other points made above. If there's something you think should be added to that guide, PRs are welcome :)

OK to close this issu

[2022-05-30 11:56] anderseknert commented on #4699
Thanks for reporting this @lenalebt!

We should indeed be smarter about signature verification. In addition to not fail when encountering keys of unknown type, the verification could be improved by:

1. Check the `kid` value of the token header, and if present, verify using only that key from the JWKS.
2. In the absence of `kid`, check the `alg` value of the token header, and verify only using key

[2022-05-30 12:33] anderseknert commented on #4518
Closing this since we have at least basic support implemented, and there seems to be follow-up issues created as well. Let me know if I missed something and I'll re-open.

[2022-05-30 12:33] #4518 closed

[2022-05-30 12:38] anderseknert commented on #4665
Closing this in favor of implementing this check elsewhere.

[2022-05-30 12:38] #4665 closed

[2022-05-30 12:40] anderseknert commented on #4670
Just circling back on this, did you find some time to look into decision logging yet, @TweeZz ?

[2022-05-30 12:43] anderseknert commented on #4671
Closing this issue for now, as a viable workaround seems to have been found, and another issue exists to allow AWS request signing in `http.send`. @rmetcalf9 let me know if you think I missed something and I can open it once more.

[2022-05-30 12:43] #4671 closed

[2022-05-30 12:46] anderseknert commented on #4080
Fixed by https://github.com/open-policy-agent/opa/pull/4705

[2022-05-30 12:46] #4080 closed

[2022-05-30 12:48] anderseknert commented on #4131
Not sure if there's anything more to do here. OK to close this one, @adetunjiakintundeakinde ?

[2022-05-30 12:57] anderseknert commented on #3991
As far as I can see, this was fixed by https://github.com/open-policy-agent/opa/pull/4655

Let me know if that's not the case, and I'll re-open.

[2022-05-30 12:57] #3991 closed

[2022-05-30 12:58] anderseknert commented on #4032
@27149chen did you manage to solve this eventually?

[2022-05-30 13:02] anderseknert commented on #3800
The [PR](https://github.com/open-policy-agent/opa/pull/3815) to implement this was abandonded, so closing this issue for now. If anyone else feels like this would help solve a problem they're facing, and/or would like to work on adding it, let me know and we'll have it re-opened.

[2022-05-30 13:15] #4336 closed

[2022-05-30 14:39] 27149chen commented on #4032
no, I didn't use Compile API eventually

[2022-05-30 14:39] TweeZz commented on #4670
Hey..

We _are_ using decision log masking. We mask the complete http headers.
`mask["/input/attributes/request/http/headers"]`
But this does not help with what I wrote:

The http headers contain an encoded token. We would like to log certain claims of the decoded token.

Might be, yes.

Never mind. We will work with what is available.

[2022-05-31 08:29] kristiansvalland opened #4720 "Bundle status updates are missing errors"
## Short description
Status updates on the [status update API](https://www.openpolicyagent.org/docs/latest/management-status/) are missing errors. Specifically, the errors are replaced by "{}" in the `bundles[_].errors` array.

## Expected behavior
The elements in the `bundles[_].errors` array should be the result from calling `error.Error()`, as we probably want to know why a bundle update failed

[2022-05-31 10:51] anderseknert commented on #4720
Thanks for an excellent bug report, @kristiansvalland! Seems like you've identified a viable solution too, but could be there are some gotchas I'm not aware of. @srenatus WDYT?

[2022-05-31 11:14] #4032 closed

[2022-05-31 11:17] anderseknert commented on #4670
Thanks for expanding on that, @TweeZz 👍 Sounds like you'd want a way to include arbitrary values in the decision log rather than having logger that prints to the console?

[2022-05-31 14:14] lcarva commented on #4521
Still failing on opa v0.40.0 with the same error.

[2022-05-31 21:10] TheLunaticScripter opened #4723 "Add an id configuration option to the sdk."
Currently when the sdk is called and the decision is sent to a decision log server each opa call looks like a new OPA. Adding an id would allow the user of the SDK to use the same id even if there are multiple calls.

## What part of OPA would you like to see improved?
SDK

## Describe the ideal solution
When calling the sdk the user can specify an opa id.

## Describe a "Good Enough" solution
rep

[2022-06-01 10:28] anderseknert opened #4724 "Improve test runner to work with different directory roots"
From a discussion with @klauern in the OPA Slack, and from my own experiences working with tests in policy repositories, we think the OPA test runner could be improved for this scenario. Running unit tests in these repositories almost always requires scripting outside of OPA in order to execute the tests per "root", or application directory, and often even more granular than that. Consider a direc

[2022-06-01 20:23] anderseknert commented on #4521
Yes, no changes here, @lcarva. The stalebot warning does not mean it's being closed/removed, just that there's not been any activity for some time.

[2022-06-01 20:30] ashutosh-narkar commented on #4712
The fix could be to only include the manifest if it's non-empty. Something like below should fix this. If you'd like to contribute we'd be happy to help.

[code]

[2022-06-01 20:38] kristiansvalland commented on #4720
HI!
I see your point, @ashutosh-narkar. Perhaps I could have gotten the info I needed from those fields instead. The problem is that I don't know what to parse the array of errors as as they are sent to the control plane. We have our own representation of the `Status` struct, and we want typed fields and not have our `errors` array be an `[]interface{}` or `[]struct{}`.

Your remark also raises th

[2022-06-01 20:54] ashutosh-narkar commented on #4720
So in your case, there is a compile error which you probably saw from the `message` field but the `error` field is set to `{}`. If this is correct, can you please help us repro the issue ?

[2022-06-02 07:11] kristiansvalland commented on #4720
It seems that the errors are not empty after all, but contains elements such as
[code]
So this can then be fixed on our side by changing the definition of the errors to be a struct with these fields it seems. When I was testing this using the source code directly, I was naively using `fmt.Error`, which turned into the "{}" after json marshaling, but indeed the only type of error that is set to thi

[2022-06-02 10:07] #4699 closed

[2022-06-02 11:50] anderseknert commented on #2546
If anyone is looking for this before it's solved in OPA, I wrote a little [test assertion library](https://github.com/anderseknert/rego-test-assertions) to help with this some time back.

[2022-06-02 13:49] friedrichsenm commented on #4712
I'd be happy to take a crack at it.
Looking at this piece in `initBundle()`, it seems that if you did have a `.manifest` file that had roots set to just the empty string then maybe it wouldn't be picked up.
https://github.com/open-policy-agent/opa/blob/cb6a4c0b725c3569b6a6adf4f549c86cafec3bea/compile/compile.go#343-#L348

I'll have to test it out to see if it causes problems. If it does, the solut

[2022-06-02 15:30] yortch opened #4731 "Make configuration of /metrics http request/response logging"
We are using OPA Agent version 0.49. We have prometheus enabled with log-level set to info. We have a ServiceMonitor that is scraping metrics from the "/metrics" endpoint. Scraping interval is set at 15 seconds and we cannot make it much less infrequent. However the problem at hand is that our logs are becoming too verbose because these entries are INFO level. We would like a way to make disable e

[2022-06-02 16:27] #4712 closed

[2022-06-02 18:27] ekcs commented on #4688
Thank you @anderseknert !

[2022-06-02 18:28] ekcs commented on #4688
Thank you @anderseknert !

[2022-06-02 18:28] #4688 closed

[2022-06-03 09:08] anderseknert opened #4733 "String interpolation"
Having string interpolation similar to Python f-strings in Rego would allow for more succint policy, while arguably improving readability by removing the ceremony associated with `sprintf`.

Another issue potentially addressed by this would be the common mistake of not handling undefined which when introduced to `sprintf` arguments. These will halt evaluation as any other undefined reference, but

[2022-06-05 19:49] #4680 closed

[2022-06-05 19:55] anderseknert commented on #4167
Going to close this as I no longer think this should be a formatter feature. What would be interesting is to allow blocks for `some` just as we do with `every` — that would get us indentation as well as a way to scope variables to the block rather than the entire rule.

[2022-06-05 19:55] #4167 closed

[2022-06-05 20:14] anderseknert commented on #3413
Resolved by #4583.

[2022-06-05 20:14] #3413 closed

[2022-06-05 20:40] anderseknert commented on #4508
The formatting currently applied to `else` clauses, where `opa fmt` adds a body with an empty `true` in it, feels like a low-hanging fruit to improve. I.e:

[code]
formats to ->
[code]

The body added to the else clause here is IMHO redundant, and does not help make the rule more readable.

[2022-06-05 22:27] anderseknert commented on #1274
We now have automation in place to label stale issues and PRs, and I think we've agreed that's about as far as we want to go for now. Anything more to do here, or OK to close this issue @tsandall ?

[2022-06-06 04:13] ekcs commented on #4733
+1 on the benefits of both readability and having a form which tolerates undefined input!

Here are a couple considerations/opinions I'd like to write down which might help us in the design process (Anders probably thought through already).

- Since all built-in functions currently (I think) return undefined if any argument is undefined, it is a good idea to introduce this as a syntax which is not

[2022-06-06 09:15] #4713 closed

[2022-06-06 14:28] ramezmoussa opened #4740 "Update OPA version within the OPA-Envoy plugin from 0.40.0 to 0.41.0"
Currently, the latest version of the OPA-Envoy plugin uses OPA version 0.40.0 which results in an ' OPA is out of date.' message whenever it receives a request. Can you please update OPA's version in the plugin to match the latest release and consequently avoid this problem?

Thanks in advance!

[2022-06-06 19:00] ashutosh-narkar commented on #4740
OPA-Envoy plugin [v0.41.0](https://github.com/open-policy-agent/opa-envoy-plugin/releases/tag/v0.41.0-envoy) released.

[2022-06-06 19:00] #4740 closed

[2022-06-06 20:17] anderseknert commented on #4733
Awesome feedback, @ekcs! I had not given too much thought to syntax before, so your brainstorming was much appreciated. Some spontaneous thoughts on the above:

Or we could simply require `import future.interpolation` (or whatever we'll call it)? We'd probably not want _all_ strings to be interpolated (i.e none of those provided in the `input` by the user), but maybe any string literal / constant

[2022-06-06 21:40] #4723 closed

[2022-06-07 00:06] philipaconrad opened #4742 "Improve ease-of-use for GraphQL built-ins"
## What part of OPA would you like to see improved?
Currently, the GraphQL built-ins allow a one-way translation from GraphQL string -> AST object. However, the functions are not composable; you cannot feed the output of `graphql.parse_query` into `graphql.is_valid`, which can result in a lot of repeated parsing/computation in a GraphQL-oriented policy.

It would be great for the GraphQL suite of

[2022-06-07 07:53] #3784 closed

[2022-06-07 07:56] anderseknert commented on #4731
Hi @yortch!

Is there any particular reason you want to log at INFO level? Our usual recommendation is to log at ERROR level for production environments, and use the [decision logging](https://www.openpolicyagent.org/docs/latest/management-decision-logs/) capabilities of OPA to send decision logs to a remote server / control plane.

The access logs are generally noisy, and I think that even at INF

[2022-06-07 07:57] anderseknert commented on #4711
OK to close this now?

[2022-06-07 08:02] TweeZz commented on #4670
I would have another argument :)

For now, I still find writing policies in rego not easy, at times confusing. It's quite a different way of writing code as I'm used to :)
I'm working on unit tests. It's super easy to make negative tests pass. It's less easy to make them pass correctly. I find myself adding tons of print statements in the code so I can "see" where things are happening and how.
In

[2022-06-07 08:04] srenatus opened #4743 "not: expression expansion leads to unexpected evaluation results"
In this snippet, evaluated with an empty input,

[code]

it's to be expected that the result is `c = true`. However, because the compiler rewrites it to
[code]
we instead get `undefined`. This is with or without rule indexing, but with rule indexing, we furthermore don't get any rules returned from the lookup because of `__local1__ = input.key_not_present` not being met.

I think the problem is in

[2022-06-07 08:09] anderseknert opened #4744 "Allow access logger to be enabled/disabled separately from application logger"
Similar to how we allow the console decision logger to be configured independently of log level, it would be a nice enhancement if we allowed the "access logger" to be enabled/disabled independently of the application logger. The access logger is very noisy, in particular when things like Prometheus scraping and liveness probes are configured, and these logs are normally not interesting unless som

[2022-06-07 08:39] srenatus commented on #4733
🤔 Well this might be a good point for using something that's not valid JSON.

I.e. if we used `foo is ${input.foo}`, we'd not have to worry about large JSON strings.

I'm mostly thinking that at some point, I'm confident we'll want to put more than plain refs into that... `print("is foo in xs: ${"foo" in xs}")` (oh nested `"`... eek...)

Thinking more about this, maybe we should pick a common impl

[2022-06-07 08:56] srenatus opened #4746 "planner: IR only contains function with mocks if functions are mocked"
[code]

run with `opa build -t plan -e test`, we find a plan that contains only one function for `q`:
[code]

where we should expect two: one with a call to `f`, one with the original call to `time.now_ns`.

[2022-06-07 09:15] anderseknert commented on #4733
Sounds like a good way forward! And yeah, I can definitely see how people would want to have at least some simple logic included in interpolation. I think resolving refs would be a very good first step though! Thinking more about it, it's probably not very common to have large JSON strings in literals 🤔 The only use case I could think of is tests, but even there there aren't many reasons I can thi

[2022-06-07 09:23] srenatus commented on #4733
I think JWKS are the exception here. I think some built-ins expect their JWK in string-of-json format 😬

[2022-06-07 09:40] anderseknert commented on #4670
Hi again 😃 If you have some examples of tests like that, I'd love to take a look!

There are a couple of open issues wrt having the test runner be more helpful in explaining where things went wrong, and to print the difference when assertions fail, and so on. I think there's still a lot to be done in order to help providing insights into what's going on in evaluation, and there are many options to

[2022-06-07 09:43] anderseknert commented on #4733
That's true, but I wonder how common it is to have those hard coded in the policy, as opposed to provided either via `http.send` or somewhere in `data`?

[2022-06-07 10:59] srenatus commented on #2650
<img width="877" alt="image" src="https://user-images.githubusercontent.com/870638/172363766-9621d534-eb9c-4036-82b5-ff0fcb7aa883.png">

Done!

[2022-06-07 10:59] #2650 closed

[2022-06-07 11:39] srenatus opened #4748 "oci_test: flaky test"
https://github.com/open-policy-agent/opa/runs/6751372092?check_suite_focus=true#step:6:250

[code]

[2022-06-07 12:35] srenatus commented on #4638
@carabasdaniel -- haven't been able to assign you for some reason 🤔 please consider it yours anyways 😅

[2022-06-07 12:38] srenatus commented on #4704
Picking up where we left off earlier -- the was a bit of a misunderstanding here -- it's interesting to pinpoint this, i.e. where standard eval with rule indexing is powerful enough to outperform the compiled wasm eval. And it's certainly a bit of a surprise that n=5 is enough 😅

I'll have a closer look to see what's going on here 🔍

[2022-06-07 13:29] lenalebt commented on #4699
Thanks for the changes, I think this will really make things easier to use :smile: !

[2022-06-07 14:19] anderseknert commented on #1993
This was solved some time ago, and the OPA server will now return a warning in the result if the `input` attribute is ommited:

[code]

Closing as resolved.

[2022-06-07 14:19] #1993 closed

[2022-06-07 14:25] anderseknert commented on #4743
Looks like this has been reported before: https://github.com/open-policy-agent/opa/issues/1877

[2022-06-07 14:28] anderseknert commented on #1472
From what I can tell, this was resolved by https://github.com/open-policy-agent/opa/pull/4251

Let me know if that's not the case, and I'll re-open.

[2022-06-07 14:28] #1472 closed

[2022-06-07 14:45] srenatus commented on #4743
Yeah. I thought so but didn't find it. Closing as duplicate. Thanks!

[2022-06-07 14:45] #4743 closed, assigned to nobody

[2022-06-07 14:46] anderseknert commented on #2784
I don't think there's much to be done here, so will close this. If others find this confusing they'll hopefully be able to find this issue.

[2022-06-07 14:47] srenatus commented on #4646
So I've not made any breakthrough here. How are you holding up? Using the old version, or waiting patiently?

[2022-06-07 14:59] anderseknert commented on #3640
With https://github.com/open-policy-agent/opa/issues/2028 now implemented, do you think we can close this, @artis3n ?

[2022-06-07 15:16] artis3n commented on #3640
I've moved roles and we unfortunately don't use OPA here - yet! - so just eyeballing that PR, but it looks like a great solve for this issue.

[2022-06-07 15:16] #3640 closed

[2022-06-07 15:25] anderseknert commented on #3406
@tsandall is this covered by our current documentation of metadata annotations and schemas?

[2022-06-07 16:32] willbeason commented on #4711
@thomasmckay @maxsmythe ?

[2022-06-07 17:08] wermerb commented on #4646
I'm using the older version for now.

[2022-06-07 19:34] avinashdesireddy commented on #4614
/assign

[2022-06-08 10:30] anderseknert commented on #2812
Another issue for creating diffs between objects exists [here](https://github.com/open-policy-agent/opa/issues/1143), so I'll close this one in favor of that. Let me know if I missed anything and I'll add it to that ticket, or can re-open this one if requested.

[2022-06-08 10:30] #2812 closed

[2022-06-08 10:48] srenatus commented on #4704
So I hadn't fully understood the structure here, but when I look at the example policies generated in your benchmark (n=5), we have such a thing:

[code]
☝️ I suspect that this is detrimental to how wasm evaluation works: not only will it run through all the rules (since there's no indexing), it'll also create the `MatchListToExactFn1 ` object for each rule body; and iterate through `input.API_GRO

[2022-06-08 10:59] anderseknert commented on #3201
Supporting external datasources (like SQL, Redis, memcache, ...) directly via built-in functions is a request that comes up from time to time. The recommended way of doing this is to rather use the in-memory store in OPA for [external data](https://www.openpolicyagent.org/docs/latest/external-data/), or as you mentioned, via `http.send`. Another option is to provide a custom built-in function to d

[2022-06-08 10:59] #3201 closed

[2022-06-08 11:04] anderseknert commented on #3224
@developer-guy I don't think we'll want to couple the OPA executable to the Rego playground. Is there are any particular features in the playground you find missing in the editor plugins for VS Code or IntelliJ IDEA?

[2022-06-08 11:14] anderseknert commented on #2889
Another ticket for this feature request is open [here](https://github.com/open-policy-agent/opa/issues/1730). Closing this in favor of that.

[2022-06-08 11:14] #2889 closed

[2022-06-08 11:58] anderseknert commented on #4329
@v3n did you manage to solve this using existing capabilities?

[2022-06-08 12:04] srenatus opened #4754 "build: include currently-released version in builtin_metadata"
Follow-up to #4753.

When you run `make release-patch VERSION=0.43.0`, the patch should include the lines adding `v0.43.0` to the builtin metadata's _available in_ sections. (It's a bit tricky because of our build system.)

[2022-06-08 12:04] anderseknert commented on #4218
The OPA server will now print a warning when the `input` attribute is missing when sending POST requests to the v1/data API: https://github.com/open-policy-agent/opa/issues/4386

Closing as resolved.

[2022-06-08 12:04] #4218 closed

[2022-06-08 12:06] anderseknert commented on #4131
Closing for now due to inactivity. Let me know if you want to revisit this.

[2022-06-08 12:06] #4131 closed

[2022-06-08 13:13] mmzeeman commented on #4691
Ah, we can close this issue.

FYI I've a working rego parser in erlang, looking into compiling policies to beam code, as we really can't integrate via external services or nif call. It will be too slow, but also we need also need to be able to retrieve data from the system itself. Progress is a bit slow, because I do it as a side project right now. We are bumping into the acl issue more often then

[2022-06-08 14:57] #4691 closed

[2022-06-09 05:27] #4717 closed

[2022-06-09 10:12] #4697 closed

[2022-06-09 11:41] anderseknert opened #4760 "Inconsistent runtime type checks in *.is_valid functions"
IIRC, @philipaconrad mentioned this when working on the GraphQL built-in functions — creating an issue for completness sake.

[code]
With `input` as `{"x": 5}` (which is an invalid type for all of the functions) this package evaluates to:

[code]
The documentation reports all of the above to return a boolean result, and while it also declares the required type of the args top be of type string, it

[2022-06-09 12:47] srenatus opened #4761 "opa eval panics when using`input()`"
[code]

[2022-06-09 13:10] johanfylling opened #4762 "Shadowing of called functions in comprehension heads can cause compiler panic"
If a local var in a comprehension body overrides a function call in the comprehension head, it will never be possible to make that call.

[code]
Will cause an eval-time error:
[code]

A compile-time error should be introduced for capturing this case.

A special case exists that will cause a compiler panic:

[code]
`opa eval -d policy.rego 'data.test'` =>
[code]

[2022-06-09 13:14] johanfylling commented on #4761
Duplicate of issue #4762.

[2022-06-09 13:18] srenatus commented on #4761
Yours is better. Thanks!

[2022-06-09 13:18] #4761 closed

[2022-06-09 13:21] yortch commented on #4731
There are some info level entries that we’d like to preserve, for instance bundle loading entries. INFO level seems to be working for us in terms of verbosity except for these metrics entries. Since this customer is adopting OPA for the first time they feel more comfortable going live with INFO level and will consider changing to WARN later on.

Thank you,
Jorge

[2022-06-09 14:12] #4762 closed

[2022-06-09 19:10] #4656 closed

[2022-06-09 20:20] philipaconrad commented on #4760
Thanks for filing this issue, @anderseknert!

My vote is for for a combination of 2 and 3: we ensure consistent behavior everywhere, and then document that behavior.

[2022-06-09 20:42] philipaconrad opened #4765 "Add errcheck to automated PR checks"
## What part of OPA would you like to see improved?

Adding `errcheck` ([Github repo link](https://github.com/kisielk/errcheck)) to the automated PR checks for OPA would allow us to detect cases where we've forgotten to do something with an error, and provides yet another safeguard against subtle bugs.

Naive usage of the tool generates a lot of chaff, but when used on specific packages, and with

[2022-06-09 20:53] srenatus commented on #4765
Is this repackaged in golangcihlint?

[2022-06-09 20:56] philipaconrad commented on #4765
| Is this repackaged in golangcihlint?

Yes, apparently it is available in golangci, according to their [linters][golangci-linters] page. :smiley:

[golangci-linters]: https://golangci-lint.run/usage/linters

[2022-06-09 20:57] #4358 closed

[2022-06-09 20:58] charlesdaniels commented on #4765
The way I have dealt with false positives (cases where we really don't care about errors) in my personal projects has been to just use `_ := somefunc()` to explicitly discard the error. I think that's clearer anyway.

I'd also suggest [ineffassign](https://github.com/gordonklaus/ineffassign), as this will catch cases where there are variables that are assigned but never checked.

[2022-06-09 21:05] srenatus commented on #4765
https://github.com/open-policy-agent/opa/blob/main/.golangci.yaml#L13

Perhaps we should check why this hasn't been raised. Both errcheck and ineffassign (which I like, too!) are enabled.

[2022-06-09 23:03] jguenther-va opened #4766 "PrepareForEval error when using partial evaluation: "rego_unsafe_var_error: expression is unsafe""
## Short description

With OPA go library versions `v0.39.0` and `v0.41.0`, when we use the `every` keyword we're seeing an unexpected error from `PrepareForEval`, but only when we use `WithPartialEval`:

[code]

As far as we knew this error never came up when we were evaluating the `rego.Rego` object directly. It started happening when we moved over to using `PrepareForEval`.

For reproduction st

[2022-06-10 09:10] srenatus commented on #4766
🤔 I think the "missing imports" are a red herring. The modules have already been parsed, so the import doesn't need to be there...

Anyways, commenting out the first eval, to avoid potential crossed wires, running only

[code]

in main.go, we'll get this error:

[code]

[code]

OHH wait I believe I've found it:
[code]

I'm not sure about the location and all that, **but** `__local16__` is definite

[2022-06-10 09:19] anderseknert opened #4767 "Wrong message in runtime type check for count, object.filter and object remove"
[code]

These functions do not accept string — that should be a **set** instead. Funny how we have 8 tests that assert this exact message, and nobody noticed!

The best test case was this one:
[code]
😄

EDIT: Also found this in `count`, so fixing there as well.

[2022-06-10 09:28] srenatus commented on #4766
ℹ️ minimal example

[code]

[code]
☝️ `__local3__ = __local0__` is unsafe.

[2022-06-10 11:00] #4767 closed

[2022-06-10 13:14] anderseknert commented on #4760
Changing this would be a "breaking" change to some extent, but I definitely doubt there's people relying on the difference. I agree with you though @philipaconrad — I do think that the docs are fine as they are if we go with this, as they're all documented as returning boolean?

[2022-06-10 17:32] denkyl08 commented on #4704
Thanks for investigating my benchmark @srenatus! Can you expand on why there is no way for Wasm to outperform rego here? My understanding is that opa takes the rego ast and generates the WASM code which is run inside a WASM VM. Is there no way to generate the WASM code differently, in a way that first checks input against an index to populate the possibly matching rules before evaluating them sequ

[2022-06-10 17:38] jguenther-va commented on #4766
Thanks for looking into this _!_

I'm not sure if it makes a difference but one thing to note is the policies here aren't exactly what we're using. In actual usage we're consuming all arguments in the fn analogous to `iam.value_missing` given here. I can share the exact policies privately if necessary

[2022-06-10 18:04] philipaconrad opened #4771 "sprintf panics when given malformed format strings and a non-zero arguments list"
## Short description

`sprintf` now can panic when given malformed format strings. However, this is a difficult `panic` to invoke outside of direct use of the parser/evaluation functions in Golang.

Examples:

* OPA version: edge (commit ~~50b79b9~~ 2fbc99c, several PRs after the `v0.41.0` tag)
* Example output that OPA returned:
[code]

## Steps To Reproduce

 1. Add a new test case to the end of

[2022-06-10 18:28] philipaconrad commented on #4765
It's possible it's only linting the top-most module, or has whacky default configuration settings?

[2022-06-10 18:45] philipaconrad commented on #4765
This is very odd because if I run `golangci-lint run -v` locally at the root of the OPA repo, I get errors, but `make check` (which *should* be running `golangci-lint` internally!) doesn't generate any error output.

[2022-06-10 19:10] philipaconrad commented on #4765
@srenatus So, apparently `golangci/golangci-lint:v1.45.2` changed something in how they do their checks. The diff in errors from even `golangci/golangci-lint:v1.45.0` is substantial, and gets us entirely new error output. (For reference: `make check` uses `golangci/golangci-lint:v1.43.0`)

I was seeing noticeable differences in running `golangci-lint` locally because my local copy was at `v1.45.2`

[2022-06-10 20:16] srenatus commented on #4765
IIRC there's a "patch-only" mode? So, we could use 1.45.0 and only have it raise errors introduced in PRs..?

[2022-06-11 07:38] srenatus commented on #4765
Or rather, how large is the number? We could divide and conquer.

[2022-06-11 18:41] srenatus commented on #4771
[code]
([source](https://pkg.go.dev/fmt))

Hmm %+v and %#v format verbs will always leak implementation details, and I'm not sure I know a single valid use. We should deal with them in some way, and keep backwards-compatibility _to some extend_. I think overriding %+v and %#v to %v would be reasonable. WDYT?

[2022-06-13 07:43] #4591 closed

[2022-06-13 08:00] ievgenii-shepeliuk commented on #4687
go away bot

[2022-06-13 08:33] srenatus commented on #4766
@jguenther-va With the branch of that PR ☝️ your main.go runs through without errors. If you could take a look, and perhaps try it with your real-world policies, that would be great.

[2022-06-13 09:11] yortch commented on #4731
Yes, disabling the access logger should be a viable solution.

Thank you,
Jorge

[2022-06-13 12:45] srenatus commented on #4748
https://github.com/open-policy-agent/opa/runs/6861240502?check_suite_focus=true#step:6:354

[2022-06-13 13:59] philipaconrad commented on #4771
I'm fine with that decision. It will require some reworking of how `sprintf` currently handles verbs though.

@srenatus Do we have a formal list anywhere of what verbs / verb forms we want `sprintf` to handle?

[2022-06-13 14:09] philipaconrad commented on #4771
Currently, it looks like our tests cover:

Verbs:
 - `%d`
 - `%f`
 - `%s`
 - `%v`

Verb forms:
 - `%<verb>` (ex: `%s`)
 - `%<prefix><verb>` (ex: `%.1f`)
 - `%[<idx>]<verb>` (ex: `%[2]d`)
 - `%<prefix>[<idx>]<verb>` (ex: `%.3[1]f`)

[2022-06-13 15:13] philipaconrad commented on #4771
@srenatus I looked over the [`fmt` docs][golang-fmt], and here is my proposed support list/rationales for formatting verbs. Let me know what you think!

## Proposed fallback behavior
 - Discard the `%`. (Encourages consistent golang-style `%%` escaping.)
 - Escape the "verb", so that the underlying `fmt.Sprintf` call treats the verb characters as a raw string. (Discourages trying to abuse the unde

[2022-06-13 16:16] srenatus commented on #4771
It doesn't need to happen right away, but printing the rego type for %T would be nice.

[2022-06-14 06:42] srenatus commented on #3415
https://github.com/open-policy-agent/opa/issues/4771 will fix this.

[2022-06-14 06:42] #3415 closed

[2022-06-14 09:09] anderseknert opened #4778 "Unused assignment in example Kubernetes policy"
This policy example contains unused assignment: https://www.openpolicyagent.org/docs/latest/kubernetes-tutorial/#policy-1-restrict-hostnames

[code]
Pasting the policy into the Rego playground and evaluating it with strict mode shows this. We should have those removed from the example.

[2022-06-14 14:14] philipaconrad commented on #4760
So, if I understand this correctly, the only change that needs to occur is that someone will need to sweep through the builtins and ensure that 2 (returning false consistently) is implemented across all the `*.is_valid` builtins? That seems quite doable. :smile:

[2022-06-14 16:53] charlesdaniels opened #4780 "github.com/gobwas/glob appears to be unmaintained"
I have been looking into some glob matching stuff lately (see #4777). I noticed we are using `github.com/gobwas/glob` to implement our glob matching, and indeed this seems to be the only open source Go library that suits our needs. However, the project in question appears to be mostly abandoned, with no commits since 2018, and no activity at all in over a year. We should consider one of the follow

[2022-06-14 17:41] jguenther-va commented on #4766
@srenatus it does fix the error in the main.go above but unfortunately it doesn't fix all instances of "unsafe expression" we're seeing from our actual policies. There's 2 places we had been using `every` and the other one must be different in some way 🤔

I will see if I can reproduce the same situation in main.go again here, thank you

[2022-06-14 18:33] #4672 closed

[2022-06-14 20:00] jguenther-va commented on #4766
@srenatus this seems to reproduce it again (with these changes to `iam.rego` and `policy.rego`, and using your opa fork branch from #4775, but otherwise the same as in the original description).

It's not exactly how our policies are actually defined/pseudocode, so it probably doesn't make much sense to read but:

[code]

---

<details><summary>iam.rego</summary>
<p>

[code]

</p>
</details>

<det

[2022-06-15 07:38] srenatus commented on #4780
As for all third-party code we're using -- copied into our sources or imported the standard golang modules way -- "adopt" is the implicit first choice: *When importing something, we make it our problem.* For an OPA user it's irrelevant what code backs a built-in, and they'll expect it to work in the documented way. (And that's all we expect from them, not some sort of negligence on the users' part

[2022-06-15 07:58] anderseknert commented on #4780
I agree with Stephan here. On the other side of this, there are the libraries that _are_ maintained but we "forked", or rather included in OPA by copying code — like the jwx one — where we've had to make modifications over the years to meet requirements in the OPA project, leading to us not automatically getting updates from the upstream library, and doing that manually would entail quite some eff

[2022-06-15 08:04] anderseknert commented on #4760
Sounds about right, @philipaconrad 👍

[2022-06-15 08:30] srenatus commented on #4766
@jguenther-va thanks for being persistent. I'll have another look with that second case 🔍

[2022-06-15 09:36] srenatus commented on #4766
So this one seems unrelated to the previous one. When reordering this rule body for safety,
[code]

it _fails_, complaining that the every expression wasn't safe because of `__local21__3`. Now, that local is _safe_ -- it's set by the first `object.get` call.

However, this bit looks puzzling:
[code]
I don't see how this would ever be satisfiable: `__local4__4 = "foo"` is makes `__local4__4` a stri

[2022-06-15 12:08] FredrikAppelros opened #4782 "Allow bundle persistence in cloud native environments"
## What part of OPA would you like to see improved?

Make the feature of persisting activated bundles to disk usable in cloud environments.

## Describe the ideal solution

While a great feature, the ability to persists activated bundles to disk is not usable in a cloud environment where multiple instances of OPA may be trying to write to the same shared storage as the current implementation is no

[2022-06-15 12:10] FredrikAppelros commented on #4782
I believe one could simply change the call [here](https://github.com/open-policy-agent/opa/blob/b3c8d80111fa487d44ae84666f8d821e0a977a5a/plugins/bundle/plugin.go#L688) with [this implementation](https://pkg.go.dev/github.com/rogpeppe/go-internal@v1.8.1/lockedfile#OpenFile) instead.

[2022-06-15 12:49] srenatus commented on #4766
So no patch yet,  but I'm closing in on the problem. This is a very productive issue, thanks for that :+1: 😄

[2022-06-15 18:27] jguenther-va commented on #4766
Please let me know if it would help to see the actual policies we're using (can share privately). I made sure the error is the exact same after trimming it down and anonymizing it, but I'm not sure if that could have changed something unintentionally--there are several rules in actual usage that aren't in the policies above.

Thanks again _!_

[2022-06-15 18:42] srenatus commented on #4766
Thanks a bunch. Even if it was a wrongly-trimmed policy, it's been putting the spotlight on a real bug. Let's keep this dance going, when I get a fix pushed, you can run it against your real policies... If it still doesn't work out, I'll happily have a look at your policies. 🔍

[2022-06-15 19:36] #4780 closed

[2022-06-15 20:35] Joffref commented on #3034
Personally, I don't really understand the purpose of this feature, do you mean OPA should integrate a Policy analyzer? Even if the Rego rule is compilated?

Like @anderseknert I think it's mostly a domain problem that should be resolved by the developer not the tool itself.

If you want to diagnose policy in real-time you should check [this feature already integrated](https://www.openpolicyagent.o

[2022-06-15 20:59] Joffref commented on #4782
Do you mean something like this : https://github.com/Joffref/opa/commit/cf2f65229d804e4ed53a58afb064c633570fab73

I didn't try it, but just give me a quick feedback if you have time to do so ! :100:

[2022-06-16 05:37] srenatus commented on #4780
@charlesdaniels don't get me wrong, I really appreciate you looking into stuff like that and sharing the results. Thank you!

[2022-06-16 05:41] srenatus commented on #4782
Thanks for the detailed feature request.

OPA really isn't designed to share a file system with other instances. So while it might work to introduce locking, what about other things like disk persistence, or some future file-based decision logger plugin? Also, having multiple instances share a directory isn't really tested at all.

I think your best bet is to avoid this. Give each OPA instance its

[2022-06-16 06:51] yortch commented on #4731
Another viable solution could be to allow writing the access logs into a separate log file.

Thank you,
Jorge

[2022-06-16 07:56] Joffref commented on #4782
Maybe this [tool](https://www.opal.ac/) is fitted for your use case..

[2022-06-16 08:42] FredrikAppelros commented on #4782
Thanks for the suggestions on some alternative solutions! The goal here is to make OPA more robust so that it can actually utilize the bundle persistence feature in a cloud environment on its own without any other supporting services.

I know that this can be solved by building tools around OPA, rather than having this supported inside OPA itself (which is actually what we are doing today already)

[2022-06-16 08:46] FredrikAppelros commented on #4782
Since storage is usually pretty cheap, I would actually opt for solution 1 that I outlined above. If you agree to my reasoning for this change I can send a PR your way.

[2022-06-16 09:44] anderseknert commented on #4782
So, whether a project may be called "cloud native" or not basically comes down to their willingness to support shared instance state using a distributed file system protocol from 1984?

[2022-06-16 09:48] anderseknert commented on #3034
I don't think we'll be able to have something like this in OPA core, but I could definitely see something like this in projects building on top of OPA where the data domain is well-known. Since there's nothing actionable here at the moment, I'll close this for now, but if there are projects picking up on the idea, I'd love to know about them!

[2022-06-16 09:48] #3034 closed

[2022-06-16 10:13] FredrikAppelros commented on #4782
@anderseknert: I am not trying to say anything of the sort. I am merely trying to contribute to OPA and make it more robust in cloud environments.

If you try to deploy OPA the way it is currently implemented in Kubernetes with a common cloud storage driver and try to use the bundle persistence feature, then the end result may be that you get corrupt bundles in your persistent storage.

I have alr

[2022-06-16 11:49] FredrikAppelros commented on #4782
@srenatus: Perhaps I should elaborate that this is not intended to be used as some sort of way to synchronize the bundles across the instances, but rather as a disaster recovery mechanism, as I believe the feature originally was intended.

[2022-06-16 13:03] #4778 closed

[2022-06-16 14:26] jeniawhite opened #4787 "Duplicate keys in data structure"
## Short description
While working with OPA we (@eyalkraft, @uri-weisman) encountered some weird behavior regarding having both a policy and a data file in the same package.
In the bundle, we build we have directories with each having a `rego` file, a `data.yaml` file, and a `rego` test file.
The weird behavior we observe is that while iterating over the keys in the data object, we get duplicate k

[2022-06-17 06:47] techiescorner opened #4789 "OPA policy is valid but failing in kubernetes"
**Expected Behavior**
The admission controller returns an error and blocks resource creation.

**Actual Behavior**
Admission controller passes policy evaluation and creates incompliant resources

**Steps to Reproduce the Problem**
Rego Policy:

https://play.openpolicyagent.org/p/EEOfeSQHFo
Playground doesn't show any error to the policy but it is not validating in the Kubernetes

Apply the templat

[2022-06-17 09:03] srenatus commented on #4782
Thanks, all context is good. Could you elaborate on how you'd like to leverage the DR mechanism? I think bundle persistence was intended to allow a restarting OPA instance to quickly pick up where it left off before, without having to refetch bundles. Would this not be possible without sharing a file system? 🤔

[2022-06-17 09:58] anderseknert commented on #4787
Thanks! Bug or not, whatever is going on here certainly isn't intuitive. Reducing your example some:

**a.rego**
[code]
**a.json**
[code]
[code]

@srenatus can you explain? 😄

Just as an aside, it's normally not a good idea to iterate over `data` directly, as it easily leads to recursion, which will halt evaluation. Prefer to iterate over an attribute under data, like `data.app.policies[x]` where

[2022-06-17 10:14] srenatus commented on #4787
Haven't yet looked closely. Does it also happen if we're iterating a sub-strucutre, like `data.foo[x]`?

[2022-06-17 16:09] abhisek opened #4791 "Allow Multiple AWS Credential Provider in AWS Signing Auth Plugin"
Currently the `awsSigningAuthPlugin` validates that there can only be 1 signing credential
https://github.com/open-policy-agent/opa/blob/main/plugins/rest/rest_auth.go#L568-L572

The plugin is used to add authentication credentials into a prepared HTTP request and not used to make any AWS API calls. But it would be very useful if multiple signing credentials can be supported for example:

- Profil

[2022-06-17 16:27] FredrikAppelros commented on #4782
@srenatus: I am thinking it would be leveraged as designed today, just in a cloud environment where there are multiple instances deployed to make the application resilient to failures. It is not so much that it is not possible without sharing a file system, but rather how persistent storage works in most cloud environments.

If you take Kubernetes as an example then you provide access to persisten

[2022-06-17 19:10] ashutosh-narkar opened #4792 "Add server test case for the bundle update - query API handler scenario"
The query API handler (ie. v1DataPost) should accept client requests even when OPA is performing bundle activation. A recent [change](https://github.com/open-policy-agent/opa/pull/4769) updated `v1DataPost` handler to open a read txn on the store which would prevent api requests from being blocked while a bundle is activating. We should add a server test to exercise this scenario. The test case wo

[2022-06-17 19:50] Dentrax commented on #3697
There is an ongoing discussion on cosign that we can track here: https://github.com/sigstore/cosign/issues/1462

[2022-06-17 23:00] ashutosh-narkar commented on #4782
@FredrikAppelros you mentioned the below as a potential solution and that is what your [PR](https://github.com/open-policy-agent/opa/pull/4786) seems to do as well.

So if the intent is that each OPA instance uses a unique temporary file to avoid corruption, do you think if we configure the persistence directory that each OPA uses to persist bundles to be unique this would be enough to resolve any

[2022-06-18 06:49] FredrikAppelros commented on #4782
@ashutosh-narkar: In theory, yes, that should solve the issue, but again, in practice, given how Kubernetes works it would not be possible to manage. You do not configure each pod on their own as they are managed transparently by a _ReplicaSet_ which in turn may be affected by e.g. your auto-scaling policies. Given the dynamic nature of a cloud environment this needs to be done without manual conf

[2022-06-18 07:36] srenatus commented on #4782
💭 I think what I don't understand is the assumption that the persistence directory is something that needs to be taken care of at all. I would think that keeping it in the local ephemeral file system is fine. When an OPA instance goes away, so does its persistence directory; when a new one is spun up, it'll have a new persistence directory. The mechanism for doing that in an automatic way is bundl

[2022-06-18 13:26] FredrikAppelros commented on #4782
@srenatus: So the issue with keeping it in the node-local ephemeral storage is the fact that pods are disposable, as I previously mentioned. There is no guarantee that the new pod will be spun up on the same node and hence it might not be able to access the persisted bundle. If this happens, we have a dependency on an external bundle service in order to start up new instances, which is exactly wha

[2022-06-19 02:14] ashutosh-narkar commented on #4782
In your [PR](https://github.com/open-policy-agent/opa/pull/4786), you're using a unique name for the temp bundle file. If you could dynamically set the `persistence_directory` would this be a solution ?

[2022-06-19 06:09] srenatus commented on #4782
I think the point is to keep the deterministic persistence directory, to be able to start new instances with a pre-filled persistence directory.

To keep the orchestration needs down for this, they're using a shared file system. What goes wrong with the current code is concurrent writes to that file system.

[2022-06-19 06:11] srenatus commented on #4782
I'd think the bundle service is critical anyways, for proper functioning... But yeah I think that's the crux here, isn't it?

[2022-06-19 07:17] FredrikAppelros commented on #4782
@srenatus: Exactly, right now the bundle service is critical, but it doesn't have to be. One can usually live with some stale authorization data rather than no data at all.

Have I misunderstood what the bundle persistence feature is about? I would imagine this is the exact use case it tries to prevent, only that it was not designed to function with shared storage. In your documentation it says th

[2022-06-19 08:49] Joffref commented on #4748
I'm not sure, but I think [this condition](https://github.com/open-policy-agent/opa/blob/c54ddd31d7f4e8d84d8f9aa8f7e907245c1f8c3f/test/e2e/oci/oci_test.go#L101) should be refactored at the same time.

from this :
`
if !strings.Contains(string(readBuf), "false") {
			t.Fatalf("expected true but got: %s", response)
		}
`
to this :
`
if !strings.Contains(string(readBuf), "false") {
			t.Fatalf("expec

[2022-06-19 08:57] Joffref commented on #4748
After looking at the test deeper, I think [this condition](https://github.com/open-policy-agent/opa/blob/c54ddd31d7f4e8d84d8f9aa8f7e907245c1f8c3f/test/e2e/oci/oci_test.go#L109) and [this condition](https://github.com/open-policy-agent/opa/blob/c54ddd31d7f4e8d84d8f9aa8f7e907245c1f8c3f/test/e2e/oci/oci_test.go#L112) couldn't verify at the same time.

But i'm not really sure could someone confirm my